# FEBRERO 2022

In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
pd.options.display.float_format = '{:,.2f}'.format
import json
import csv

In [2]:
start_date = '2022-02-01'
final_date = '2022-02-28'

### SERTI (EXTRAIDO EN EXCEL)

In [3]:
serti_files = glob.glob(r'G:\My Drive\RESPALDO-PC\TOPUPS\202*\**\SERTI - COMISIONES\*.csv',recursive=False)
serti_files

['G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2021\\12. DICIEMBRE\\SERTI - COMISIONES\\0000000000002610_2021-12-29.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2021\\12. DICIEMBRE\\SERTI - COMISIONES\\0000000000002610_2021-12-30.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2021\\12. DICIEMBRE\\SERTI - COMISIONES\\0000000000002610_2021-12-31.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-01.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-02.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-03.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-04.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-05.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-06.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-07.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-08.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-09.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-10.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-11.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-12.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-13.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-14.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-15.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-16.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-17.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-18.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-19.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-20.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-21.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-22.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-23.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-24.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-25.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-26.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-27.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-28.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-29.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-30.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\01. ENERO\\SERTI - COMISIONES\\0000000000002610_2022-01-31.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-01.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-02.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-03.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-04.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-05.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-06.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-07.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-08.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-09.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-10.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-11.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-12.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-13.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-14.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-15.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-16.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-17.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-18.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-19.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-20.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-21.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-22.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-23.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-24.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-25.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-26.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-27.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\02. FEBRERO\\SERTI - COMISIONES\\0000000000002610_2022-02-28.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-02.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-01.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-03.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-04.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-05.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-06.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-08.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-09.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-10.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-07.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-12.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-13.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-11.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-14.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-24.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-22.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-21.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-20.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-18.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-17.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-30.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-29.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-28.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-27.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-26.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-25.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-15.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-16.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-19.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-23.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\03. MARZO\\SERTI - COMISIONES\\0000000000002610_2022-03-31.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-01.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-04.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-02.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-03.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-05.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-06.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-07.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-11.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-10.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-09.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-08.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-12.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-17.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-16.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-15.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-14.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-13.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-18.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-19.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-20.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-21.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-23.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-22.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-26.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-24.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-25.csv',
 'G:\\My Drive\\RESPALDO-PC\\TOPUPS\\2022\\04. ABRIL\\SERTI - COMISIONES\\0000000000002610_2022-04-27.csv']

In [4]:
serti = pd.concat([pd.read_csv(f,dtype={'bin':object,'panTerminacion':object,'claveRechazo':object,'phone':object
                                        ,'transactionId':object,'importe':float})
                   .assign(file_name=os.path.basename(f)) for f in serti_files])                     
serti['last4_phone_serti'] = serti['phone'].str[-4:]
serti['serti_date'] = serti['date'].str[:10]
serti['serti_date'] = pd.to_datetime(serti['serti_date'])
serti['comision'] = serti['comision']/100
serti['ivaComision'] = serti['ivaComision']/100
serti.sort_values(by=['date'],inplace=True)
serti['INDEX_TOTAL'] = (serti['transactionId'].astype(str).replace(' ', '',regex=True) + '_'
                       + serti['last4_phone_serti'].astype(str).replace(' ', '',regex=True) + '_'
                       + serti['panTerminacion'].astype(str).replace(' ', '',regex=True) + '_'
                       + serti['importe'].astype(str).replace(' ', '',regex=True))
serti.reset_index(inplace=True)
serti.head()

,index,bin,panTerminacion,importe,date,transactionId,entryMode,numAuth,terminal,caja,...,tarjetahabiente,comision,ivaComision,carrier,phone,folio,file_name,last4_phone_serti,serti_date,INDEX_TOTAL
0,0,557907,9724,100.00,2021-12-28 18:00:22.455,49679728,Chip,002202,NaN,0,...,ALBERTO RAMIREZ PEREZ,7.00,1.12,Movistar,******4628,"5,918.00",0000000000002610_2021-12-29.csv,4628,2021-12-28,49679728_4628_9724_100.0
1,1,525678,1991,50.00,2021-12-28 18:01:27.719,49679736,Chip,NaN,NaN,0,...,FLORES CASTANEDA JUAN A,0.00,0.00,Telcel,******2216,NaN,0000000000002610_2021-12-29.csv,2216,2021-12-28,49679736_2216_1991_50.0
2,2,402766,7023,50.00,2021-12-28 18:02:36.545,49679738,Chip,033735,NaN,0,...,TARJETAHABIENTE,2.00,0.32,Telcel,******3872,"430,625.00",0000000000002610_2021-12-29.csv,3872,2021-12-28,49679738_3872_7023_50.0
3,3,415231,4828,50.00,2021-12-28 18:03:09.449,49679744,Chip,368181,NaN,0,...,TARJETAHABIENTE,2.00,0.32,Telcel,******9736,"483,936.00",0000000000002610_2021-12-29.csv,9736,2021-12-28,49679744_9736_4828_50.0
4,4,525678,6792,100.00,2021-12-28 18:03:13.909,49679745,Chip,000621,NaN,0,...,PERFIL EJECUTIVO PRG,4.00,0.64,Telcel,******9901,"903,006.00",0000000000002610_2021-12-29.csv,9901,2021-12-28,49679745_9901_6792_100.0

In [5]:
serti.dtypes

index                         int64
bin                          object
panTerminacion               object
importe                     float64
date                         object
transactionId                object
entryMode                    object
numAuth                      object
terminal                    float64
caja                          int64
aprobada                       bool
claveRechazo                 object
merchant                      int64
producto                     object
tarjetahabiente              object
comision                    float64
ivaComision                 float64
carrier                      object
phone                        object
folio                       float64
file_name                    object
last4_phone_serti            object
serti_date           datetime64[ns]
INDEX_TOTAL                  object
dtype: object

In [6]:
duplicates_serti = serti[serti.duplicated(['transactionId'] , keep=False)]
duplicates_serti.head()

Empty DataFrame
Columns: [index, bin, panTerminacion, importe, date, transactionId, entryMode, numAuth, terminal, caja, aprobada, claveRechazo, merchant, producto, tarjetahabiente, comision, ivaComision, carrier, phone, folio, file_name, last4_phone_serti, serti_date, INDEX_TOTAL]
Index: []

[0 rows x 24 columns]

In [7]:
duplicates_serti.shape

(0, 24)

In [8]:
serti.drop_duplicates(subset='INDEX_TOTAL', keep='first', inplace=True)

In [9]:
serti.shape

(1072490, 24)

In [10]:
serti.dtypes

index                         int64
bin                          object
panTerminacion               object
importe                     float64
date                         object
transactionId                object
entryMode                    object
numAuth                      object
terminal                    float64
caja                          int64
aprobada                       bool
claveRechazo                 object
merchant                      int64
producto                     object
tarjetahabiente              object
comision                    float64
ivaComision                 float64
carrier                      object
phone                        object
folio                       float64
file_name                    object
last4_phone_serti            object
serti_date           datetime64[ns]
INDEX_TOTAL                  object
dtype: object

### DB PRODUCTO

In [11]:
producto_files_1 = pd.read_csv(r'G:\My Drive\RESPALDO-PC\TOPUPS\2022\02. FEBRERO\DB\TOPUPS FEBRERO 2022.csv',
                              dtype={'clip_external_tracking_id':object,'phone_number':object,'last4':object,'amount':float,
                                     'status_code':object,'serti_transaction_id':object})
# producto_files_2 = pd.read_csv(r'G:\My Drive\RESPALDO-PC\TOPUPS\2021\11. NOVIEMBRE\DB\TOPUPS NOVIEMBRE 2021.csv',
#                               dtype={'clip_external_tracking_id':object,'phone_number':object,'last4':object,'amount':float,
#                                      'status_code':object})

In [12]:
# topups_db = pd.concat([pd.read_csv(f,dtype={'clip_external_tracking_id':object,'phone_number':object,
#                                             'last4':object,'amount':float,'status_code':object})])
topups_db = pd.concat([producto_files_1])
topups_db['clip_external_tracking_id'].fillna('sin_order_id_db',inplace=True)
topups_db['serti_transaction_id'].fillna('sin_order_id_db',inplace=True)
topups_db['created_at'] = pd.to_datetime(topups_db['created_at'])
topups_db['updated_at'] = pd.to_datetime(topups_db['updated_at'])
topups_db['last4_phone'] = topups_db['phone_number'].str[-4:]
topups_db['INDEX_TOTAL'] = (topups_db['serti_transaction_id'].astype(str).replace(' ', '',regex=True) + '_'
                           + topups_db['last4_phone'].astype(str).replace(' ', '',regex=True) + '_'
                           + topups_db['last4'].astype(str).replace(' ', '',regex=True) + '_'
                           + topups_db['amount'].astype(str).replace(' ', '',regex=True))
topups_db.head()

,merchant_id,topup_id,transaction_id,clip_external_tracking_id,carrier,phone_number,created_at,updated_at,created_at_datetime,updated_at_datetime,...,folio_id,receipt_no,last4,authNum,orderId,serti_transaction_id,type,response_code,last4_phone,INDEX_TOTAL
0,34e0424f-e3d2-4176-9edc-9633a24bed90,0a63dde3-9826-4438-8bd2-d64a6545b9c7,781a562f-a068-46db-b0a3-7c0f52177c18,51578838,ATT,5630660626,2022-02-01,2022-02-01,2022-02-01 00:00:49,2022-02-01 00:00:55,...,"234,505.00",TU-gyqIamw,5106,"188,342.00",47938424,51578838,emv_sale,00,0626,51578838_0626_5106_50.0
1,ac9c9a3a-99a6-443a-a972-2c7a7368e56f,9a1f85ba-204d-4392-84e3-9242f944acf1,cad94658-0391-4a63-8bf3-36591d88ee05,51578845,TELCEL,4445460539,2022-02-01,2022-02-01,2022-02-01 00:00:41,2022-02-01 00:01:44,...,NaN,TU-g6JBs5f,3596,NaN,47938423,51578845,emv_sale,5,0539,51578845_0539_3596_100.0
2,f4bd7a74-58f4-405b-baba-9528ab724b95,26f2ee41-f40f-439d-9384-bd584e437ab5,8e7fd02a-be20-4322-9c94-46662c96ec11,51578847,TELCEL,8941439128,2022-02-01,2022-02-01,2022-02-01 00:01:54,2022-02-01 00:02:04,...,"937,164.00",TU-ty1WHWB,0792,"410,905.00",47938431,51578847,emv_sale,00,9128,51578847_9128_0792_100.0
3,3281214e-e36a-4768-9330-413744900603,1af19951-7c04-4224-8ddd-dd05d767f0b6,d0b4cb3a-e6ce-48b4-be98-7b159253ba99,0,MOVISTAR,5511954671,2022-02-01,2022-02-01,2022-02-01 00:03:29,2022-02-01 00:03:30,...,NaN,TU-6P81CUH,0308,NaN,47938445,0,emv_sale,91,4671,0_4671_0308_30.0
4,e2886d25-2af7-4f72-bc47-0082e901b3bc,5a81f6e5-90b8-4769-8d01-1815da086fcc,86e657a4-6abf-4fc9-94cd-02c5b4293be6,51578865,UNEFON,6633826603,2022-02-01,2022-02-01,2022-02-01 00:03:40,2022-02-01 00:03:49,...,"234,988.00",TU-oE1hYB2,0414,"404,340.00",47938447,51578865,emv_sale,00,6603,51578865_6603_0414_50.0

In [13]:
duplicates = topups_db[topups_db.duplicated(['serti_transaction_id'], keep=False)]
duplicates.head()

,merchant_id,topup_id,transaction_id,clip_external_tracking_id,carrier,phone_number,created_at,updated_at,created_at_datetime,updated_at_datetime,...,folio_id,receipt_no,last4,authNum,orderId,serti_transaction_id,type,response_code,last4_phone,INDEX_TOTAL
3,3281214e-e36a-4768-9330-413744900603,1af19951-7c04-4224-8ddd-dd05d767f0b6,d0b4cb3a-e6ce-48b4-be98-7b159253ba99,0,MOVISTAR,5511954671,2022-02-01,2022-02-01,2022-02-01 00:03:29,2022-02-01 00:03:30,...,NaN,TU-6P81CUH,0308,NaN,47938445,0,emv_sale,91,4671,0_4671_0308_30.0
98,2829b832-ada4-416b-bafc-c23eb02ea08e,ec73d707-fe1c-45ab-93d8-5ea5ff0e4dec,6d7d3d54-7774-416c-8c1f-5363dd240965,0,TELCEL,3313568911,2022-02-01,2022-02-01,2022-02-01 04:48:38,2022-02-01 04:48:41,...,NaN,TU-SJpaQ0y,3770,NaN,47940318,0,emv_sale,E001,8911,0_8911_3770_200.0
99,2829b832-ada4-416b-bafc-c23eb02ea08e,7baee13e-38bd-495e-8fd0-8f73d2bc0904,d451d8e1-ed26-43b9-b7bf-525956aa7028,0,TELCEL,3313568911,2022-02-01,2022-02-01,2022-02-01 04:50:02,2022-02-01 04:50:05,...,NaN,TU-3eodCTn,7305,NaN,47940330,0,emv_sale,E001,8911,0_8911_7305_200.0
141,cde1e6ab-99cd-4b6d-90e6-d653eaa21e2c,2bb3e284-991b-4c20-bffd-0470828f39ef,7725a229-75d9-4c5c-989c-fcc4f3e3b5d2,sin_order_id_db,UNEFON,5566967977,2022-02-01,2022-02-01,2022-02-01 06:19:18,2022-02-01 06:19:28,...,NaN,TU-0akQGP4,3761,NaN,47943673,sin_order_id_db,emv_sale,A024,7977,sin_order_id_db_7977_3761_100.0
142,cde1e6ab-99cd-4b6d-90e6-d653eaa21e2c,6f76ad3b-2656-4d7a-80b9-22bb1e08adb4,570a4daa-6d87-4b01-ace3-1443a0018b24,sin_order_id_db,UNEFON,5566967977,2022-02-01,2022-02-01,2022-02-01 06:21:01,2022-02-01 06:21:10,...,NaN,TU-FF6XuJs,3761,NaN,47944242,sin_order_id_db,emv_sale,A024,7977,sin_order_id_db_7977_3761_100.0

In [14]:
duplicates.shape

(4553, 26)

In [15]:
duplicates['serti_transaction_id'].unique()

array(['0', 'sin_order_id_db'], dtype=object)

In [16]:
topups_db.shape

(260113, 26)

In [17]:
topups_db.dtypes

merchant_id                          object
topup_id                             object
transaction_id                       object
clip_external_tracking_id            object
carrier                              object
phone_number                         object
created_at                   datetime64[ns]
updated_at                   datetime64[ns]
created_at_datetime                  object
updated_at_datetime                  object
payment_type                         object
status_code                          object
status_msg                           object
amount                              float64
processor                            object
issuer_auth_code                    float64
folio_id                            float64
receipt_no                           object
last4                                object
authNum                             float64
orderId                               int64
serti_transaction_id                 object
type                                 object
response_code                        object
last4_phone                          object
INDEX_TOTAL                          object
dtype: object

### PIVOT DB

In [18]:
pivot_db = pd.pivot_table(topups_db,index=['updated_at']
                            ,columns=['status_code']
                            ,values=['amount','serti_transaction_id']
                            ,aggfunc={'amount':np.sum,
                                     'serti_transaction_id':len},margins=True).reset_index()
pivot_db.fillna(0,inplace=True)
pivot_db.head()

                      updated_at    amount                                  \
status_code                             -3        -5          1        All
0            2022-02-01 00:00:00 41,370.00 32,910.00 573,320.00 647,600.00
1            2022-02-02 00:00:00 32,240.00 25,850.00 505,360.00 563,450.00
2            2022-02-03 00:00:00 35,820.00 24,440.00 518,770.00 579,030.00
3            2022-02-04 00:00:00 32,570.00 23,520.00 552,540.00 608,630.00
4            2022-02-05 00:00:00 29,580.00 34,090.00 531,700.00 595,370.00

            serti_transaction_id
status_code                   -3   -5     1   All
0                            576  489  8584  9649
1                            468  428  7764  8660
2                            514  373  7804  8691
3                            452  382  8285  9119
4                            425  536  8288  9249

In [19]:
pivot_db.shape

(29, 9)

### DB VS SERTI

In [20]:
cruce_1 = topups_db.merge(serti[['INDEX_TOTAL','transactionId','panTerminacion','last4_phone_serti','serti_date','importe',
                                 'comision','ivaComision','aprobada','carrier']]
                      ,on='INDEX_TOTAL',how='left')
cruce_1['aprobada'].fillna('Not_found',inplace=True)
cruce_1['transactionId'].fillna('Not_found',inplace=True)
cruce_1.head()

,merchant_id,topup_id,transaction_id,clip_external_tracking_id,carrier_x,phone_number,created_at,updated_at,created_at_datetime,updated_at_datetime,...,INDEX_TOTAL,transactionId,panTerminacion,last4_phone_serti,serti_date,importe,comision,ivaComision,aprobada,carrier_y
0,34e0424f-e3d2-4176-9edc-9633a24bed90,0a63dde3-9826-4438-8bd2-d64a6545b9c7,781a562f-a068-46db-b0a3-7c0f52177c18,51578838,ATT,5630660626,2022-02-01,2022-02-01,2022-02-01 00:00:49,2022-02-01 00:00:55,...,51578838_0626_5106_50.0,51578838,5106,0626,2022-01-31,50.00,3.50,0.56,True,AT&T
1,ac9c9a3a-99a6-443a-a972-2c7a7368e56f,9a1f85ba-204d-4392-84e3-9242f944acf1,cad94658-0391-4a63-8bf3-36591d88ee05,51578845,TELCEL,4445460539,2022-02-01,2022-02-01,2022-02-01 00:00:41,2022-02-01 00:01:44,...,51578845_0539_3596_100.0,51578845,3596,0539,2022-01-31,100.00,0.00,0.00,False,Telcel
2,f4bd7a74-58f4-405b-baba-9528ab724b95,26f2ee41-f40f-439d-9384-bd584e437ab5,8e7fd02a-be20-4322-9c94-46662c96ec11,51578847,TELCEL,8941439128,2022-02-01,2022-02-01,2022-02-01 00:01:54,2022-02-01 00:02:04,...,51578847_9128_0792_100.0,51578847,0792,9128,2022-01-31,100.00,4.00,0.64,True,Telcel
3,3281214e-e36a-4768-9330-413744900603,1af19951-7c04-4224-8ddd-dd05d767f0b6,d0b4cb3a-e6ce-48b4-be98-7b159253ba99,0,MOVISTAR,5511954671,2022-02-01,2022-02-01,2022-02-01 00:03:29,2022-02-01 00:03:30,...,0_4671_0308_30.0,Not_found,NaN,NaN,NaT,NaN,NaN,NaN,Not_found,NaN
4,e2886d25-2af7-4f72-bc47-0082e901b3bc,5a81f6e5-90b8-4769-8d01-1815da086fcc,86e657a4-6abf-4fc9-94cd-02c5b4293be6,51578865,UNEFON,6633826603,2022-02-01,2022-02-01,2022-02-01 00:03:40,2022-02-01 00:03:49,...,51578865_6603_0414_50.0,51578865,0414,6603,2022-01-31,50.00,3.50,0.56,True,Unefon

In [21]:
cruce_1.shape

(260113, 35)

### STATUS 1 ONLY

In [22]:
cruce_1_status_1 = cruce_1[(cruce_1['status_code'] == '1')]
cruce_1_status_1['importe'].fillna(0,inplace=True)
cruce_1_status_1.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_7856\2024299933.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cruce_1_status_1['importe'].fillna(0,inplace=True)

,merchant_id,topup_id,transaction_id,clip_external_tracking_id,carrier_x,phone_number,created_at,updated_at,created_at_datetime,updated_at_datetime,...,INDEX_TOTAL,transactionId,panTerminacion,last4_phone_serti,serti_date,importe,comision,ivaComision,aprobada,carrier_y
0,34e0424f-e3d2-4176-9edc-9633a24bed90,0a63dde3-9826-4438-8bd2-d64a6545b9c7,781a562f-a068-46db-b0a3-7c0f52177c18,51578838,ATT,5630660626,2022-02-01,2022-02-01,2022-02-01 00:00:49,2022-02-01 00:00:55,...,51578838_0626_5106_50.0,51578838,5106,0626,2022-01-31,50.00,3.50,0.56,True,AT&T
2,f4bd7a74-58f4-405b-baba-9528ab724b95,26f2ee41-f40f-439d-9384-bd584e437ab5,8e7fd02a-be20-4322-9c94-46662c96ec11,51578847,TELCEL,8941439128,2022-02-01,2022-02-01,2022-02-01 00:01:54,2022-02-01 00:02:04,...,51578847_9128_0792_100.0,51578847,0792,9128,2022-01-31,100.00,4.00,0.64,True,Telcel
4,e2886d25-2af7-4f72-bc47-0082e901b3bc,5a81f6e5-90b8-4769-8d01-1815da086fcc,86e657a4-6abf-4fc9-94cd-02c5b4293be6,51578865,UNEFON,6633826603,2022-02-01,2022-02-01,2022-02-01 00:03:40,2022-02-01 00:03:49,...,51578865_6603_0414_50.0,51578865,0414,6603,2022-01-31,50.00,3.50,0.56,True,Unefon
6,3281214e-e36a-4768-9330-413744900603,20b9944b-f0c2-444b-865d-0b72f71fc8c8,2fd1b3ba-d6d0-41f4-86f4-3496ac933e11,51578870,MOVISTAR,5511954671,2022-02-01,2022-02-01,2022-02-01 00:03:56,2022-02-01 00:04:01,...,51578870_4671_0308_30.0,51578870,0308,4671,2022-01-31,30.00,2.10,0.34,True,Movistar
12,2582e00c-9f57-4b2e-abc7-25a8c3c8ef14,1528ce89-dfd7-41c3-860c-6c4edbd0913d,bdb51ec6-2d76-46b3-9471-ad91625d138b,51578904,TELCEL,4444463532,2022-02-01,2022-02-01,2022-02-01 00:07:18,2022-02-01 00:07:28,...,51578904_3532_4837_100.0,51578904,4837,3532,2022-01-31,100.00,4.00,0.64,True,Telcel

In [23]:
cruce_1_status_1.shape

(232604, 35)

In [24]:
duplicates_cruce_1_status_1 = cruce_1_status_1[cruce_1_status_1.duplicated(['INDEX_TOTAL'] , keep=False)]
duplicates_cruce_1_status_1.head()

Empty DataFrame
Columns: [merchant_id, topup_id, transaction_id, clip_external_tracking_id, carrier_x, phone_number, created_at, updated_at, created_at_datetime, updated_at_datetime, payment_type, status_code, status_msg, amount, processor, issuer_auth_code, folio_id, receipt_no, last4, authNum, orderId, serti_transaction_id, type, response_code, last4_phone, INDEX_TOTAL, transactionId, panTerminacion, last4_phone_serti, serti_date, importe, comision, ivaComision, aprobada, carrier_y]
Index: []

[0 rows x 35 columns]

In [25]:
duplicates_cruce_1_status_1.shape

(0, 35)

In [26]:
cruce_1_final = cruce_1_status_1[(cruce_1_status_1['transactionId'] != 'Not_found')]
cruce_1_final.head()

,merchant_id,topup_id,transaction_id,clip_external_tracking_id,carrier_x,phone_number,created_at,updated_at,created_at_datetime,updated_at_datetime,...,INDEX_TOTAL,transactionId,panTerminacion,last4_phone_serti,serti_date,importe,comision,ivaComision,aprobada,carrier_y
0,34e0424f-e3d2-4176-9edc-9633a24bed90,0a63dde3-9826-4438-8bd2-d64a6545b9c7,781a562f-a068-46db-b0a3-7c0f52177c18,51578838,ATT,5630660626,2022-02-01,2022-02-01,2022-02-01 00:00:49,2022-02-01 00:00:55,...,51578838_0626_5106_50.0,51578838,5106,0626,2022-01-31,50.00,3.50,0.56,True,AT&T
2,f4bd7a74-58f4-405b-baba-9528ab724b95,26f2ee41-f40f-439d-9384-bd584e437ab5,8e7fd02a-be20-4322-9c94-46662c96ec11,51578847,TELCEL,8941439128,2022-02-01,2022-02-01,2022-02-01 00:01:54,2022-02-01 00:02:04,...,51578847_9128_0792_100.0,51578847,0792,9128,2022-01-31,100.00,4.00,0.64,True,Telcel
4,e2886d25-2af7-4f72-bc47-0082e901b3bc,5a81f6e5-90b8-4769-8d01-1815da086fcc,86e657a4-6abf-4fc9-94cd-02c5b4293be6,51578865,UNEFON,6633826603,2022-02-01,2022-02-01,2022-02-01 00:03:40,2022-02-01 00:03:49,...,51578865_6603_0414_50.0,51578865,0414,6603,2022-01-31,50.00,3.50,0.56,True,Unefon
6,3281214e-e36a-4768-9330-413744900603,20b9944b-f0c2-444b-865d-0b72f71fc8c8,2fd1b3ba-d6d0-41f4-86f4-3496ac933e11,51578870,MOVISTAR,5511954671,2022-02-01,2022-02-01,2022-02-01 00:03:56,2022-02-01 00:04:01,...,51578870_4671_0308_30.0,51578870,0308,4671,2022-01-31,30.00,2.10,0.34,True,Movistar
12,2582e00c-9f57-4b2e-abc7-25a8c3c8ef14,1528ce89-dfd7-41c3-860c-6c4edbd0913d,bdb51ec6-2d76-46b3-9471-ad91625d138b,51578904,TELCEL,4444463532,2022-02-01,2022-02-01,2022-02-01 00:07:18,2022-02-01 00:07:28,...,51578904_3532_4837_100.0,51578904,4837,3532,2022-01-31,100.00,4.00,0.64,True,Telcel

In [27]:
cruce_1_final.shape

(232604, 35)

In [28]:
na_cruce_1_final = cruce_1_status_1[(cruce_1_status_1['transactionId'] == 'Not_found')]
na_cruce_1_final.head()

Empty DataFrame
Columns: [merchant_id, topup_id, transaction_id, clip_external_tracking_id, carrier_x, phone_number, created_at, updated_at, created_at_datetime, updated_at_datetime, payment_type, status_code, status_msg, amount, processor, issuer_auth_code, folio_id, receipt_no, last4, authNum, orderId, serti_transaction_id, type, response_code, last4_phone, INDEX_TOTAL, transactionId, panTerminacion, last4_phone_serti, serti_date, importe, comision, ivaComision, aprobada, carrier_y]
Index: []

[0 rows x 35 columns]

In [29]:
na_cruce_1_final.shape

(0, 35)

In [30]:
cruce_1_status_1.columns

Index(['merchant_id', 'topup_id', 'transaction_id',
       'clip_external_tracking_id', 'carrier_x', 'phone_number', 'created_at',
       'updated_at', 'created_at_datetime', 'updated_at_datetime',
       'payment_type', 'status_code', 'status_msg', 'amount', 'processor',
       'issuer_auth_code', 'folio_id', 'receipt_no', 'last4', 'authNum',
       'orderId', 'serti_transaction_id', 'type', 'response_code',
       'last4_phone', 'INDEX_TOTAL', 'transactionId', 'panTerminacion',
       'last4_phone_serti', 'serti_date', 'importe', 'comision', 'ivaComision',
       'aprobada', 'carrier_y'],
      dtype='object')

### PIVOT STATUS 1 ONLY

In [31]:
pivot_status_1 = pd.pivot_table(cruce_1_status_1,index=['updated_at']
                            ,columns=['aprobada']
                            ,values=['importe','comision','ivaComision','amount','transactionId','serti_transaction_id']
                            ,aggfunc={'importe':np.sum,
                                      'comision':np.sum,
                                      'ivaComision':np.sum,
                                     'amount':np.sum,
                                     'transactionId':len,
                                     'serti_transaction_id':len},margins=True).reset_index()
pivot_status_1.fillna(0,inplace=True)
pivot_status_1.head()

                   updated_at     amount             comision            \
aprobada                            True        All      True       All
0         2022-02-01 00:00:00 573,320.00 573,320.00 29,469.80 29,469.80
1         2022-02-02 00:00:00 505,360.00 505,360.00 25,868.20 25,868.20
2         2022-02-03 00:00:00 518,770.00 518,770.00 26,581.90 26,581.90
3         2022-02-04 00:00:00 552,540.00 552,540.00 28,323.00 28,323.00
4         2022-02-05 00:00:00 531,700.00 531,700.00 27,343.90 27,343.90

            importe            ivaComision          serti_transaction_id  \
aprobada       True        All        True      All                 True
0        573,320.00 573,320.00    4,715.17 4,715.17                 8584
1        505,360.00 505,360.00    4,138.91 4,138.91                 7764
2        518,770.00 518,770.00    4,253.10 4,253.10                 7804
3        552,540.00 552,540.00    4,531.68 4,531.68                 8285
4        531,700.00 531,700.00    4,375.02 4,375.02                 8288

               transactionId
aprobada   All          True   All
0         8584          8584  8584
1         7764          7764  7764
2         7804          7804  7804
3         8285          8285  8285
4         8288          8288  8288

In [32]:
pivot_status_1.shape

(29, 13)

### PIVOT STATUS 1 POR FECHA Y CARRIER

In [33]:
pivot_carrier = pd.pivot_table(cruce_1_status_1,index=['updated_at','carrier_x']
                            ,columns=['aprobada']
                            ,values=['importe','comision','ivaComision','amount','transactionId','serti_transaction_id']
                            ,aggfunc={'importe':np.sum,
                                      'comision':np.sum,
                                      'ivaComision':np.sum,
                                     'amount':np.sum,
                                     'transactionId':len,
                                     'serti_transaction_id':len},margins=True).reset_index()
pivot_carrier.fillna(0,inplace=True)
pivot_carrier.head()

                   updated_at carrier_x     amount             comision  \
aprobada                                      True        All      True
0         2022-02-01 00:00:00       ATT  94,880.00  94,880.00  6,641.60
1         2022-02-01 00:00:00  MOVISTAR  72,720.00  72,720.00  5,090.40
2         2022-02-01 00:00:00    TELCEL 355,420.00 355,420.00 14,216.80
3         2022-02-01 00:00:00    UNEFON  50,300.00  50,300.00  3,521.00
4         2022-02-02 00:00:00       ATT  82,060.00  82,060.00  5,744.20

                      importe            ivaComision           \
aprobada       All       True        All        True      All
0         6,641.60  94,880.00  94,880.00    1,062.66 1,062.66
1         5,090.40  72,720.00  72,720.00      814.46   814.46
2        14,216.80 355,420.00 355,420.00    2,274.69 2,274.69
3         3,521.00  50,300.00  50,300.00      563.36   563.36
4         5,744.20  82,060.00  82,060.00      919.07   919.07

         serti_transaction_id       transactionId
aprobada                 True   All          True   All
0                        1294  1294          1294  1294
1                        1115  1115          1115  1115
2                        5153  5153          5153  5153
3                        1022  1022          1022  1022
4                        1182  1182          1182  1182

In [34]:
pivot_carrier.shape

(113, 14)

# EXCEL

In [35]:
writer = pd.ExcelWriter('CLIP-SERTI TOPUPS FEBRERO 2022.xlsx', engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_db.to_excel(writer, sheet_name='RESUMEN DB')
pivot_status_1.to_excel(writer, sheet_name='RESUMEN')
cruce_1_status_1.to_excel(writer, sheet_name='DETALLE COMPLETO',index=False)
cruce_1_final.to_excel(writer, sheet_name='FOUND',index=False)
na_cruce_1_final.to_excel(writer, sheet_name='NOT FOUND',index=False)
duplicates_cruce_1_status_1.to_excel(writer, sheet_name='DUPLICADOS_INDEX_TOTAL',index=False)
writer.close()