In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
start_date = '2023-04-01'
final_date = '2023-04-30'
query_error_year = 2023
query_error_month = 4

# INFORMACION DE  CUBETA ERROR

In [3]:
query_error = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\04. ABRIL\DATA\ERROR ABRIL 2023.csv',
                          dtype={'report_id':object})
query_error.rename(columns ={'MAX(report_date_local)':'report_date_local'}, inplace=True)
query_error['report_date_local']= pd.to_datetime(query_error['report_date_local'])
query_error['ultimo_mov'] = pd.to_datetime(query_error['ultimo_mov'])
query_error['merchant_id_query'] = query_error['merchant_id']
query_error['ultimo_mov_date_only']= pd.to_datetime(query_error['ultimo_mov']).dt.date
query_error['day'] = query_error['ultimo_mov'].dt.day
query_error['month'] = query_error['ultimo_mov'].dt.month
query_error['year'] = query_error['ultimo_mov'].dt.year
# query_error.loc[((query_error['day'] == 30 )
#                 & (query_error['month'] == 7)
#                 & (query_error['year'] == 2022)), "mes_cierre"] = 'Actual'
# query_error.loc[(query_error['day'] == 31 )
#             & (query_error['month'] == 7 )
#             & (query_error['year'] == 2022), "mes_cierre"] = 'Actual'
query_error.loc[(query_error['month'] == query_error_month )
            & (query_error['year'] == query_error_year), "mes_cierre"] = 'Actual'
query_error.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre
0,0,b088c4b4-29dd-42c8-bd29-1eda61f73973,Mscelanea Dulce Maria,GTS92WH86,2015-11-05,734.34,ERROR,swap devuelto,2017-08-15,8,2017,ERROR,ERROR_USUAL,b088c4b4-29dd-42c8-bd29-1eda61f73973,2017-08-15,15,NaN
1,1,b088c4b4-29dd-42c8-bd29-1eda61f73973,Mscelanea Dulce Maria,8VQRDV39G,2015-11-06,597.26,ERROR,swap devuelto,2017-08-15,8,2017,ERROR,ERROR_USUAL,b088c4b4-29dd-42c8-bd29-1eda61f73973,2017-08-15,15,NaN
2,2,d1087b80-5383-4b90-8738-bf309a1ce297,Grupo Solutec,82G5CYSR7,2015-12-21,"9,160.77",ERROR,failed swap,2017-11-01,11,2017,ERROR,ERROR_USUAL,d1087b80-5383-4b90-8738-bf309a1ce297,2017-11-01,1,NaN
3,3,8f666f7d-5eb8-4367-9c52-5564d6aca0c5,Ediciones Malinalco S de RL de CV,XWRKLC2ZL,2016-02-08,"1,216.98",ERROR,confirmar la cuenta,2017-05-12,5,2017,ERROR,ERROR_USUAL,8f666f7d-5eb8-4367-9c52-5564d6aca0c5,2017-05-12,12,NaN
4,4,8f666f7d-5eb8-4367-9c52-5564d6aca0c5,Ediciones Malinalco S de RL de CV,D9468C7W4,2016-02-16,"1,993.14",ERROR,confirmar la cuenta,2017-05-12,5,2017,ERROR,ERROR_USUAL,8f666f7d-5eb8-4367-9c52-5564d6aca0c5,2017-05-12,12,NaN

In [4]:
query_error.shape

(125240, 17)

In [5]:
query_error.dtypes

Unnamed: 0                       int64
merchant_id                     object
merchant_name                   object
report_id                       object
report_date_local       datetime64[ns]
amount                         float64
status                          object
error_description               object
ultimo_mov              datetime64[ns]
month                            int64
year                             int64
status_cubeta                   object
esquema_query                   object
merchant_id_query               object
ultimo_mov_date_only            object
day                              int64
mes_cierre                      object
dtype: object

In [6]:
query_error['esquema_query'].unique()

array(['ERROR_USUAL', 'SIN_CLABE'], dtype=object)

In [7]:
query_error['status_cubeta'].unique()

array(['ERROR', 'NEW'], dtype=object)

# FILTRAR INFORMACION DE ACUERDO AL MES EN CURSO

In [8]:
query_error_current_month = query_error[(query_error['mes_cierre'] == 'Actual')]
query_error_current_month.sort_values(by=['day'],inplace=True)
query_error_current_month.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17500\3502651561.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  query_error_current_month.sort_values(by=['day'],inplace=True)

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre
114510,114510,86f663aa-8670-4195-bb17-f9b739a30cb3,NaN,AM564SFM5,2023-04-01,431.21,ERROR,Bank account information not available,2023-04-01,4,2023,NEW,SIN_CLABE,86f663aa-8670-4195-bb17-f9b739a30cb3,2023-04-01,1,Actual
114468,114468,6fb8bc6b-93d5-40f5-b374-f22d84493e5b,NaN,A5ZG35KPW,2023-04-01,239.56,ERROR,Bank account information not available,2023-04-01,4,2023,NEW,SIN_CLABE,6fb8bc6b-93d5-40f5-b374-f22d84493e5b,2023-04-01,1,Actual
114467,114467,fddb3db6-64da-4539-95e7-5c8a31a82855,NaN,AWPT56CYY,2023-04-01,0.02,ERROR,Bank account information not available,2023-04-01,4,2023,NEW,SIN_CLABE,fddb3db6-64da-4539-95e7-5c8a31a82855,2023-04-01,1,Actual
114466,114466,a27d5fc0-7749-498a-9933-7cee627b5555,NaN,A2WDNBPQ8,2023-04-01,0.02,ERROR,Bank account information not available,2023-04-01,4,2023,NEW,SIN_CLABE,a27d5fc0-7749-498a-9933-7cee627b5555,2023-04-01,1,Actual
114465,114465,ed642c2c-5451-418c-abd8-c7994267cf56,NaN,A7LVFXLWM,2023-04-01,0.95,ERROR,Bank account information not available,2023-04-01,4,2023,NEW,SIN_CLABE,ed642c2c-5451-418c-abd8-c7994267cf56,2023-04-01,1,Actual

In [9]:
query_error_current_month.shape

(10972, 17)

In [10]:
query_error_current_month['month'].unique()

array([4], dtype=int64)

In [11]:
query_error_current_month.columns

Index(['Unnamed: 0', 'merchant_id', 'merchant_name', 'report_id',
       'report_date_local', 'amount', 'status', 'error_description',
       'ultimo_mov', 'month', 'year', 'status_cubeta', 'esquema_query',
       'merchant_id_query', 'ultimo_mov_date_only', 'day', 'mes_cierre'],
      dtype='object')

In [12]:
duplicates_query_error = query_error_current_month[query_error_current_month.duplicated(['report_id'] , keep=False)]
duplicates_query_error.head()

Empty DataFrame
Columns: [Unnamed: 0, merchant_id, merchant_name, report_id, report_date_local, amount, status, error_description, ultimo_mov, month, year, status_cubeta, esquema_query, merchant_id_query, ultimo_mov_date_only, day, mes_cierre]
Index: []

In [13]:
duplicates_query_error.shape

(0, 17)

# PAGOS NEW DE MESES ANTERIORES

In [14]:
query_new_last_month = query_error[(query_error['mes_cierre'] != 'Actual') & (query_error['status_cubeta'] == 'NEW')]
query_new_last_month.sort_values(by=['day'],inplace=True)
query_new_last_month.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17500\3381233170.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  query_new_last_month.sort_values(by=['day'],inplace=True)

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre
77290,77290,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,Tiendita Lolita,NZQMYLTTG,2022-08-15,"1,181.62",ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-03-07,3,2023,NEW,ERROR_USUAL,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,2023-03-07,7,NaN
103448,103448,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,Tiendita Lolita,BL525Y57N,2023-01-25,960.65,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-03-07,3,2023,NEW,ERROR_USUAL,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,2023-03-07,7,NaN
103302,103302,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,Tiendita Lolita,DWS7DMGZ3,2023-01-24,"1,260.67",ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-03-07,3,2023,NEW,ERROR_USUAL,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,2023-03-07,7,NaN
102197,102197,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,Tiendita Lolita,FV4W4DNQJ,2023-01-15,371.50,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-03-07,3,2023,NEW,ERROR_USUAL,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,2023-03-07,7,NaN
102028,102028,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,Tiendita Lolita,JKHD3JNH2,2023-01-14,"1,030.85",ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-03-07,3,2023,NEW,ERROR_USUAL,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,2023-03-07,7,NaN

In [15]:
query_new_last_month.shape

(20, 17)

# INFORMACIÓN QUERIES - PAGOS

In [16]:
name_header = ['merchant_id','merchant_name','user_email','report_id','report_date_local','amount','status','bank_name'
               ,'payment_date_local','bank_account_owner_name','bank_account_number','swap']

### NEXT MONTH

In [17]:
# TRADICIONAL
# trad_files_csv_2021_may = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\06. JUNE\QUERIES\*.csv', recursive=False)
# trad_files_txt_2021_apr = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\04. APRIL\QUERIES\*.txt', recursive=False)
# FAST PAYMENTS
# fp_files_csv_2021_may = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2021\06. JUNE\QUERIES\*.csv', recursive=False)

In [18]:
# disp_files_csv_2021_may = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
#                             .assign(file_name=os.path.basename(f)) for f in trad_files_csv_2021_may])
# disp_files_csv_2021_may['date_query'] = disp_files_csv_2021_may["file_name"].str[-14:-4]
# disp_files_csv_2021_may['date_query']= pd.to_datetime(disp_files_csv_2021_may['date_query'])

In [19]:
# fp_disp_files_csv_2021_may = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
#                             .assign(file_name=os.path.basename(f)) for f in fp_files_csv_2021_may])
# fp_disp_files_csv_2021_may['date_query'] = fp_disp_files_csv_2021_may["file_name"].str[-14:-4]
# fp_disp_files_csv_2021_may['date_query']= pd.to_datetime(fp_disp_files_csv_2021_may['date_query'])

### CURRENT MONTH

In [20]:
# TRADICIONAL
trad_files_csv_2022_current = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\04. APRIL\QUERIES\*.csv', recursive=False)
# trad_files_txt_2021_apr = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\04. APRIL\QUERIES\*.txt', recursive=False)
# FAST PAYMENTS
fp_files_csv_2022_current = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\02. FAST PAYMENTS\2023\04. ABRIL\QUERIES\*.csv', recursive=False)

In [21]:
disp_files_csv_2022_current = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in trad_files_csv_2022_current])
disp_files_csv_2022_current['date_query'] = disp_files_csv_2022_current["file_name"].str[-14:-4]
disp_files_csv_2022_current['date_query']= pd.to_datetime(disp_files_csv_2022_current['date_query'])

In [22]:
fp_disp_files_csv_2022_current = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in fp_files_csv_2022_current])
fp_disp_files_csv_2022_current['date_query'] = fp_disp_files_csv_2022_current["file_name"].str[-14:-4]
fp_disp_files_csv_2022_current['date_query']= pd.to_datetime(fp_disp_files_csv_2022_current['date_query'])

### LAST MONTH

In [23]:
# TRADICIONAL
trad_files_csv_2021_last = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\03. MARCH\QUERIES\*.csv', recursive=False)
# trad_files_txt_2021_apr = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\04. APRIL\QUERIES\*.txt', recursive=False)
# FAST PAYMENTS
fp_files_csv_2021_last = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\02. FAST PAYMENTS\2023\03. MARZO\QUERIES\*.csv', recursive=False)

In [24]:
disp_files_csv_2021_last = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in trad_files_csv_2021_last])
disp_files_csv_2021_last['date_query'] = disp_files_csv_2021_last["file_name"].str[-14:-4]
disp_files_csv_2021_last['date_query']= pd.to_datetime(disp_files_csv_2021_last['date_query'])

In [25]:
fp_disp_files_csv_2021_last = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in fp_files_csv_2021_last])
fp_disp_files_csv_2021_last['date_query'] = fp_disp_files_csv_2021_last["file_name"].str[-14:-4]
fp_disp_files_csv_2021_last['date_query']= pd.to_datetime(fp_disp_files_csv_2021_last['date_query'])

### SPECIAL MONTH

In [26]:
# TRADICIONAL
trad_files_csv_2021_spec = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\02. FEBRUARY\QUERIES\*.csv', recursive=False)
# trad_files_txt_2021_apr = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\04. APRIL\QUERIES\*.txt', recursive=False)
# FAST PAYMENTS
fp_files_csv_2021_spec = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\02. FAST PAYMENTS\2023\02. FEBRERO\QUERIES\*.csv', recursive=False)

In [27]:
disp_files_csv_2021_spec = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in trad_files_csv_2021_spec])
disp_files_csv_2021_spec['date_query'] = disp_files_csv_2021_spec["file_name"].str[-14:-4]
disp_files_csv_2021_spec['date_query']= pd.to_datetime(disp_files_csv_2021_spec['date_query'])

In [28]:
fp_disp_files_csv_2021_spec = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in fp_files_csv_2021_spec])
fp_disp_files_csv_2021_spec['date_query'] = fp_disp_files_csv_2021_spec["file_name"].str[-14:-4]
fp_disp_files_csv_2021_spec['date_query']= pd.to_datetime(fp_disp_files_csv_2021_spec['date_query'])

## ALL FILES

In [29]:
allfiles = pd.concat([disp_files_csv_2022_current,fp_disp_files_csv_2022_current
                     ,disp_files_csv_2021_last,fp_disp_files_csv_2021_last,
                     disp_files_csv_2021_spec,fp_disp_files_csv_2021_spec])
allfiles.reset_index()
allfiles.fillna('BLANK',inplace=True)
allfiles['date_query']= pd.to_datetime(allfiles['date_query'])
allfiles['report_date_local']= pd.to_datetime(allfiles['report_date_local'])
allfiles.loc[(allfiles['file_name'].str.contains('FP'),'tipo_dispersion')] = 'FP'
allfiles.loc[(allfiles['file_name'].str.contains('SWAP'),'tipo_dispersion')] = 'TRAD'
allfiles.loc[(allfiles['file_name'].str.contains('BNTE'),'tipo_dispersion')] = 'TRAD'
allfiles.loc[(allfiles['file_name'].str.contains('SANT'),'tipo_dispersion')] = 'TRAD'
allfiles.sort_values(by=['date_query','report_id'],inplace=True)
allfiles.drop(['status'],axis=1,inplace=True)
allfiles.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,batch_created_date,disbursement_method,swap,file_name,date_query,tipo_dispersion
62133,DAILY,a71d5f76-e11a-423e-a94a-80eb97652e1d,b43bf099-70af-4c41-a4cf-d881c4b1214d,Minisuper Pau,rodrigoolivas98@gmail.com,222VP3CB4,2023-02-01,334.91,"Banco Nacional de México, S.A.",2023-02-01 11:42:36,Rodrigo Olivas Gonzales,'002150462200793098,2023-02-01 10:10:08,SANTANDER,"Rodrigo Olivas Gonzales,,334.91,00215046220079...",SANT-1 2023-02-01.csv,2023-02-01,TRAD
80813,DAILY,d9bf4b05-9b13-4948-8c77-0603e5364268,a0a02deb-f458-4a86-a09d-f887e1f1c98d,Varios Maribel,miguel.macedo29091984@gmail.com,223SYT9B2,2023-02-01,910.33,"BBVA Bancomer, S.A.",2023-02-01 11:19:05,Juan Miguel Macedo,'012650015415238751,2023-02-01 10:12:19,SANTANDER,"Juan Miguel Macedo,,910.33,012650015415238751,...",SANT-1 2023-02-01.csv,2023-02-01,TRAD
86417,DAILY,e9131d1d-ada9-4454-887d-02a8eaa038c5,40345622-b902-41c7-b945-9eaca92c16d7,Abonos,erika.izc.comunicacion@gmail.com,22472Y8N9,2023-02-01,"1,086.65",BANORTE,2023-02-01 11:21:18,Erika Lechuga,'072930006204851021,2023-02-01 10:12:56,SANTANDER,"Erika Lechuga,,1086.65,072930006204851021,CLIP...",SANT-1 2023-02-01.csv,2023-02-01,TRAD
3808,DAILY,0a3ccf41-db5f-4d2f-bed2-6e37844a4f62,24ad9187-577f-4b9e-a441-659c708101f6,San juditas,josemariarodriguez211@gmail.com,2248ZQ452,2023-02-01,81.45,"BBVA Bancomer, S.A.",2023-02-01 11:56:04,Jose Maria Rodriguez Martinez,'012180015170982058,2023-02-01 10:03:20,SANTANDER,"Jose Maria Rodriguez Martinez,,81.45,012180015...",SANT-1 2023-02-01.csv,2023-02-01,TRAD
65464,DAILY,affee992-9efd-4e47-a259-350acc1a5488,5067c056-cc51-49c3-b52e-978afad742e3,Los titis,ale.gonxaxa2525@gmail.com,224ZM4YRX,2023-02-01,149.74,"BBVA Bancomer, S.A.",2023-02-01 11:43:55,Sandra Alejandra Lopez Gonzalez,'012180011748221611,2023-02-01 10:10:31,SANTANDER,"Sandra Alejandra Lopez Gonzalez,,149.74,012180...",SANT-1 2023-02-01.csv,2023-02-01,TRAD

In [30]:
def tipo_pago(allfiles):
    if allfiles['date_query'] == allfiles['report_date_local']:
        return 'Pago del día'
    else:
        return 'Reprogramación'
allfiles['tipo_pago'] = allfiles.apply(tipo_pago, axis=1)

In [31]:
allfiles.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,batch_created_date,disbursement_method,swap,file_name,date_query,tipo_dispersion,tipo_pago
62133,DAILY,a71d5f76-e11a-423e-a94a-80eb97652e1d,b43bf099-70af-4c41-a4cf-d881c4b1214d,Minisuper Pau,rodrigoolivas98@gmail.com,222VP3CB4,2023-02-01,334.91,"Banco Nacional de México, S.A.",2023-02-01 11:42:36,Rodrigo Olivas Gonzales,'002150462200793098,2023-02-01 10:10:08,SANTANDER,"Rodrigo Olivas Gonzales,,334.91,00215046220079...",SANT-1 2023-02-01.csv,2023-02-01,TRAD,Pago del día
80813,DAILY,d9bf4b05-9b13-4948-8c77-0603e5364268,a0a02deb-f458-4a86-a09d-f887e1f1c98d,Varios Maribel,miguel.macedo29091984@gmail.com,223SYT9B2,2023-02-01,910.33,"BBVA Bancomer, S.A.",2023-02-01 11:19:05,Juan Miguel Macedo,'012650015415238751,2023-02-01 10:12:19,SANTANDER,"Juan Miguel Macedo,,910.33,012650015415238751,...",SANT-1 2023-02-01.csv,2023-02-01,TRAD,Pago del día
86417,DAILY,e9131d1d-ada9-4454-887d-02a8eaa038c5,40345622-b902-41c7-b945-9eaca92c16d7,Abonos,erika.izc.comunicacion@gmail.com,22472Y8N9,2023-02-01,"1,086.65",BANORTE,2023-02-01 11:21:18,Erika Lechuga,'072930006204851021,2023-02-01 10:12:56,SANTANDER,"Erika Lechuga,,1086.65,072930006204851021,CLIP...",SANT-1 2023-02-01.csv,2023-02-01,TRAD,Pago del día
3808,DAILY,0a3ccf41-db5f-4d2f-bed2-6e37844a4f62,24ad9187-577f-4b9e-a441-659c708101f6,San juditas,josemariarodriguez211@gmail.com,2248ZQ452,2023-02-01,81.45,"BBVA Bancomer, S.A.",2023-02-01 11:56:04,Jose Maria Rodriguez Martinez,'012180015170982058,2023-02-01 10:03:20,SANTANDER,"Jose Maria Rodriguez Martinez,,81.45,012180015...",SANT-1 2023-02-01.csv,2023-02-01,TRAD,Pago del día
65464,DAILY,affee992-9efd-4e47-a259-350acc1a5488,5067c056-cc51-49c3-b52e-978afad742e3,Los titis,ale.gonxaxa2525@gmail.com,224ZM4YRX,2023-02-01,149.74,"BBVA Bancomer, S.A.",2023-02-01 11:43:55,Sandra Alejandra Lopez Gonzalez,'012180011748221611,2023-02-01 10:10:31,SANTANDER,"Sandra Alejandra Lopez Gonzalez,,149.74,012180...",SANT-1 2023-02-01.csv,2023-02-01,TRAD,Pago del día

In [32]:
allfiles.shape

(9004630, 19)

# CRUCE 1 - MES ACTUAL

In [33]:
cruce_1 = allfiles.merge(query_error_current_month[['report_id','amount','ultimo_mov','ultimo_mov_date_only','month','status'
                                                   ,'error_description','esquema_query','status_cubeta']],on='report_id',how='left')
cruce_1['month'].fillna('Not found',inplace=True)
cruce_1.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount_x,bank_name,payment_date_local,...,tipo_dispersion,tipo_pago,amount_y,ultimo_mov,ultimo_mov_date_only,month,status,error_description,esquema_query,status_cubeta
0,DAILY,a71d5f76-e11a-423e-a94a-80eb97652e1d,b43bf099-70af-4c41-a4cf-d881c4b1214d,Minisuper Pau,rodrigoolivas98@gmail.com,222VP3CB4,2023-02-01,334.91,"Banco Nacional de México, S.A.",2023-02-01 11:42:36,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
1,DAILY,d9bf4b05-9b13-4948-8c77-0603e5364268,a0a02deb-f458-4a86-a09d-f887e1f1c98d,Varios Maribel,miguel.macedo29091984@gmail.com,223SYT9B2,2023-02-01,910.33,"BBVA Bancomer, S.A.",2023-02-01 11:19:05,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
2,DAILY,e9131d1d-ada9-4454-887d-02a8eaa038c5,40345622-b902-41c7-b945-9eaca92c16d7,Abonos,erika.izc.comunicacion@gmail.com,22472Y8N9,2023-02-01,"1,086.65",BANORTE,2023-02-01 11:21:18,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
3,DAILY,0a3ccf41-db5f-4d2f-bed2-6e37844a4f62,24ad9187-577f-4b9e-a441-659c708101f6,San juditas,josemariarodriguez211@gmail.com,2248ZQ452,2023-02-01,81.45,"BBVA Bancomer, S.A.",2023-02-01 11:56:04,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
4,DAILY,affee992-9efd-4e47-a259-350acc1a5488,5067c056-cc51-49c3-b52e-978afad742e3,Los titis,ale.gonxaxa2525@gmail.com,224ZM4YRX,2023-02-01,149.74,"BBVA Bancomer, S.A.",2023-02-01 11:43:55,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN

In [34]:
cruce_1.shape

(9004630, 27)

In [35]:
duplicates_cruce_1_previo = cruce_1[cruce_1.duplicated(['report_id'] , keep=False)]
duplicates_cruce_1_previo.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount_x,bank_name,payment_date_local,...,tipo_dispersion,tipo_pago,amount_y,ultimo_mov,ultimo_mov_date_only,month,status,error_description,esquema_query,status_cubeta
1747,DAILY,1a5d9343-d8e5-41d5-bbad-1e00dbaa4b41,f41ade9a-b31e-4d51-8348-1134c9137644,Lefranm,wjuan_9@hotmail.com,2NCGNDKDM,2023-02-01,"14,421.51",HSBC,2023-02-01 11:58:28,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
2323,DAILY,a67de575-bce8-4f5b-b74e-2c6820fb8821,41792d36-7c17-48cd-a3a0-b4bd0a49d1ef,We Cycling Cancun,weactivecancun@gmail.com,2V4MMVPF7,2023-02-01,"11,829.47",BBVA Bancomer,2023-02-01 11:42:30,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
3231,DAILY,7d36e72f-746b-43ba-b216-8d7525abda81,27bb3518-73b9-454d-bccf-41c53a3e5bdb,Gym Mictlan,satiraelfina@hotmail.com,36LQS8YMF,2023-02-01,"1,109.63",AZTECA,2023-02-01 11:57:12,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
4012,DAILY,3a2e6983-f0a1-4bf8-9bb3-66f83465b4c5,83b261d4-14a9-41a1-8b17-14b032cd57f1,Veterinaria La Palma,veterinarialapalma13@gmail.com,3GM7S3TXS,2023-02-01,225.95,BANAMEX,2023-02-01 11:42:30,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
4509,DAILY,0e8a96d3-0f67-4db0-9b0f-cbebda482676,0bfe30ad-c10f-4b61-8195-274664971c33,Alex,alendrohdz07@gmail.com,3M7PM5DK8,2023-02-01,275.97,Banco Compartamos,2023-02-01 11:56:40,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN

In [36]:
duplicates_cruce_1_previo.shape

(30580, 27)

In [37]:
cruce_1_final = cruce_1[(cruce_1['month'] != 'Not found')]
cruce_1_final.drop_duplicates(subset='report_id',keep='last', inplace=True) 
cruce_1_final.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17500\1938979547.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cruce_1_final.drop_duplicates(subset='report_id',keep='last', inplace=True)

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount_x,bank_name,payment_date_local,...,tipo_dispersion,tipo_pago,amount_y,ultimo_mov,ultimo_mov_date_only,month,status,error_description,esquema_query,status_cubeta
1716389,BLANK,6e1af873-92af-4ff0-addf-2177c9a4fff2,BLANK,BLANK,BLANK,AJTTDKQ7N,2023-02-18,761.80,"Banco Santander, S.A.",2023-02-18 12:50:30,...,TRAD,Pago del día,761.80,2023-04-17,2023-04-17,4.00,ERROR,Error request by Backoffice,ERROR_USUAL,NEW
1822835,BLANK,6e1af873-92af-4ff0-addf-2177c9a4fff2,BLANK,BLANK,BLANK,A93JX8RHZ,2023-02-19,191.65,"Banco Santander, S.A.",2023-02-19 12:43:01,...,TRAD,Pago del día,191.65,2023-04-17,2023-04-17,4.00,ERROR,Error request by Backoffice,ERROR_USUAL,NEW
2407458,BLANK,6e1af873-92af-4ff0-addf-2177c9a4fff2,BLANK,BLANK,BLANK,ADFXHLV25,2023-02-25,321.01,"Banco Santander, S.A.",2023-02-25 12:40:04,...,TRAD,Pago del día,321.01,2023-04-17,2023-04-17,4.00,ERROR,Error request by Backoffice,ERROR_USUAL,NEW
2522985,BLANK,6e1af873-92af-4ff0-addf-2177c9a4fff2,BLANK,BLANK,BLANK,AVZXK8WGT,2023-02-26,124.57,"Banco Santander, S.A.",2023-02-26 12:51:27,...,TRAD,Pago del día,124.57,2023-04-17,2023-04-17,4.00,ERROR,Error request by Backoffice,ERROR_USUAL,NEW
4870692,BLANK,a44756d9-266e-4f39-9649-02deb7e582d3,BLANK,BLANK,BLANK,AFPNZSMVQ,2023-03-21,293.22,"Opciones Empresariales del Noreste, S.A. de C....",2023-03-21 11:41:35,...,TRAD,Pago del día,293.22,2023-04-12,2023-04-12,4.00,ERROR,Error request by Backoffice,ERROR_USUAL,NEW

In [38]:
cruce_1_final.shape

(5433, 27)

In [39]:
duplicates_cruce_1_final = cruce_1_final[cruce_1_final.duplicated(['report_id'] , keep=False)]
duplicates_cruce_1_final.head()

Empty DataFrame
Columns: [type, merchant_id, merchant_token, merchant_name, user_email, report_id, report_date_local, amount_x, bank_name, payment_date_local, bank_account_owner_name, bank_account_number, batch_created_date, disbursement_method, swap, file_name, date_query, tipo_dispersion, tipo_pago, amount_y, ultimo_mov, ultimo_mov_date_only, month, status, error_description, esquema_query, status_cubeta]
Index: []

[0 rows x 27 columns]

In [40]:
duplicates_cruce_1_final.shape

(0, 27)

# CRUCE 2 MES ACTUAL

In [41]:
cruce_2 = query_error_current_month.merge(allfiles[['report_id','tipo_dispersion','tipo_pago']],on='report_id',how='left')
cruce_2['tipo_dispersion'].fillna('Not found',inplace=True)
cruce_2.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre,tipo_dispersion,tipo_pago
0,114510,86f663aa-8670-4195-bb17-f9b739a30cb3,NaN,AM564SFM5,2023-04-01,431.21,ERROR,Bank account information not available,2023-04-01,4,2023,NEW,SIN_CLABE,86f663aa-8670-4195-bb17-f9b739a30cb3,2023-04-01,1,Actual,Not found,NaN
1,114468,6fb8bc6b-93d5-40f5-b374-f22d84493e5b,NaN,A5ZG35KPW,2023-04-01,239.56,ERROR,Bank account information not available,2023-04-01,4,2023,NEW,SIN_CLABE,6fb8bc6b-93d5-40f5-b374-f22d84493e5b,2023-04-01,1,Actual,Not found,NaN
2,114467,fddb3db6-64da-4539-95e7-5c8a31a82855,NaN,AWPT56CYY,2023-04-01,0.02,ERROR,Bank account information not available,2023-04-01,4,2023,NEW,SIN_CLABE,fddb3db6-64da-4539-95e7-5c8a31a82855,2023-04-01,1,Actual,Not found,NaN
3,114466,a27d5fc0-7749-498a-9933-7cee627b5555,NaN,A2WDNBPQ8,2023-04-01,0.02,ERROR,Bank account information not available,2023-04-01,4,2023,NEW,SIN_CLABE,a27d5fc0-7749-498a-9933-7cee627b5555,2023-04-01,1,Actual,Not found,NaN
4,114465,ed642c2c-5451-418c-abd8-c7994267cf56,NaN,A7LVFXLWM,2023-04-01,0.95,ERROR,Bank account information not available,2023-04-01,4,2023,NEW,SIN_CLABE,ed642c2c-5451-418c-abd8-c7994267cf56,2023-04-01,1,Actual,Not found,NaN

In [42]:
cruce_2.shape

(11358, 19)

In [43]:
cruce_2_final = cruce_2[(cruce_2['tipo_dispersion'] != 'Not found')]
#cruce_2_final.drop_duplicates(subset='report_id',keep='last', inplace=True) 
cruce_2_final.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre,tipo_dispersion,tipo_pago
162,113660,03539972-0dd0-4cf9-bce2-18834941f3d7,Tessa Shop,MT3Q8D4QM,2023-03-27,"9,580.50",ERROR,DEV.SPEIEXCEDE EL LNMITE DE AB,2023-04-01,4,2023,NEW,ERROR_USUAL,03539972-0dd0-4cf9-bce2-18834941f3d7,2023-04-01,1,Actual,TRAD,Pago del día
163,113660,03539972-0dd0-4cf9-bce2-18834941f3d7,Tessa Shop,MT3Q8D4QM,2023-03-27,"9,580.50",ERROR,DEV.SPEIEXCEDE EL LNMITE DE AB,2023-04-01,4,2023,NEW,ERROR_USUAL,03539972-0dd0-4cf9-bce2-18834941f3d7,2023-04-01,1,Actual,TRAD,Reprogramación
164,113660,03539972-0dd0-4cf9-bce2-18834941f3d7,Tessa Shop,MT3Q8D4QM,2023-03-27,"9,580.50",ERROR,DEV.SPEIEXCEDE EL LNMITE DE AB,2023-04-01,4,2023,NEW,ERROR_USUAL,03539972-0dd0-4cf9-bce2-18834941f3d7,2023-04-01,1,Actual,TRAD,Reprogramación
165,113660,03539972-0dd0-4cf9-bce2-18834941f3d7,Tessa Shop,MT3Q8D4QM,2023-03-27,"9,580.50",ERROR,DEV.SPEIEXCEDE EL LNMITE DE AB,2023-04-01,4,2023,NEW,ERROR_USUAL,03539972-0dd0-4cf9-bce2-18834941f3d7,2023-04-01,1,Actual,TRAD,Reprogramación
340,111278,ee34319f-7f9c-4ba7-a2c9-fd226953f486,Marquesitas,4CMNCLLQK,2023-03-13,268.30,ERROR,DEV.SPEICUENTA BLOQUEADA,2023-04-02,4,2023,NEW,ERROR_USUAL,ee34319f-7f9c-4ba7-a2c9-fd226953f486,2023-04-02,2,Actual,TRAD,Reprogramación

In [44]:
cruce_2_final.shape

(5819, 19)

In [45]:
duplicates_cruce_2_final = cruce_2_final[cruce_2_final.duplicated(['report_id'] , keep=False)]
duplicates_cruce_2_final.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre,tipo_dispersion,tipo_pago
162,113660,03539972-0dd0-4cf9-bce2-18834941f3d7,Tessa Shop,MT3Q8D4QM,2023-03-27,"9,580.50",ERROR,DEV.SPEIEXCEDE EL LNMITE DE AB,2023-04-01,4,2023,NEW,ERROR_USUAL,03539972-0dd0-4cf9-bce2-18834941f3d7,2023-04-01,1,Actual,TRAD,Pago del día
163,113660,03539972-0dd0-4cf9-bce2-18834941f3d7,Tessa Shop,MT3Q8D4QM,2023-03-27,"9,580.50",ERROR,DEV.SPEIEXCEDE EL LNMITE DE AB,2023-04-01,4,2023,NEW,ERROR_USUAL,03539972-0dd0-4cf9-bce2-18834941f3d7,2023-04-01,1,Actual,TRAD,Reprogramación
164,113660,03539972-0dd0-4cf9-bce2-18834941f3d7,Tessa Shop,MT3Q8D4QM,2023-03-27,"9,580.50",ERROR,DEV.SPEIEXCEDE EL LNMITE DE AB,2023-04-01,4,2023,NEW,ERROR_USUAL,03539972-0dd0-4cf9-bce2-18834941f3d7,2023-04-01,1,Actual,TRAD,Reprogramación
165,113660,03539972-0dd0-4cf9-bce2-18834941f3d7,Tessa Shop,MT3Q8D4QM,2023-03-27,"9,580.50",ERROR,DEV.SPEIEXCEDE EL LNMITE DE AB,2023-04-01,4,2023,NEW,ERROR_USUAL,03539972-0dd0-4cf9-bce2-18834941f3d7,2023-04-01,1,Actual,TRAD,Reprogramación
347,114211,f7565b81-df68-4ad9-a5a3-42edc249315b,Miscelanea don Juan,MB7JKH4ZG,2023-03-31,3.00,ERROR,DEV.SPEICUENTA NO PERTE A BCO,2023-04-02,4,2023,NEW,ERROR_USUAL,f7565b81-df68-4ad9-a5a3-42edc249315b,2023-04-02,2,Actual,TRAD,Pago del día

In [46]:
duplicates_cruce_2_final.shape

(682, 19)

# AGRUPADO POR TIPO DE PAGO - MES ACTUAL

In [47]:
group_tipo_pago = pd.pivot_table(cruce_1_final,index=['ultimo_mov_date_only']
                                              ,columns=['esquema_query','status_cubeta','tipo_dispersion',
                                                        'tipo_pago'],values=['amount_x']
                                              ,aggfunc=np.sum,margins=True).reset_index()
group_tipo_pago.fillna(0,inplace=True)
group_tipo_pago.head()

                ultimo_mov_date_only       amount_x                 \
esquema_query                           ERROR_USUAL
status_cubeta                                 ERROR
tipo_dispersion                                  FP           TRAD
tipo_pago                            Reprogramación Reprogramación
0                         2023-04-01           0.00           0.00
1                         2023-04-02           0.00           0.00
2                         2023-04-03         275.49       2,712.78
3                         2023-04-04           0.00           0.00
4                         2023-04-05           0.00      15,626.48

                                                                         \
esquema_query
status_cubeta            NEW
tipo_dispersion           FP                        TRAD
tipo_pago       Pago del día Reprogramación Pago del día Reprogramación
0                       0.00           0.00         0.00       9,580.50
1                       0.00           0.00        33.20       1,176.83
2                       0.00           0.00        44.20      19,085.75
3                 205,629.88           0.00   832,413.72           0.00
4                      90.56           0.00   836,311.88           0.00


esquema_query            All
status_cubeta
tipo_dispersion
tipo_pago
0                   9,580.50
1                   1,210.03
2                  22,118.22
3               1,038,043.60
4                 852,028.92

In [48]:
group_tipo_pago.shape

(31, 8)

In [49]:
group_esquema = pd.pivot_table(cruce_1_final,index=['ultimo_mov_date_only']
                                              ,columns=['esquema_query','status_cubeta','tipo_pago'],values=['amount_x']
                                              ,aggfunc=np.sum,margins=True).reset_index()
group_esquema.fillna(0,inplace=True)
group_esquema.head()

              ultimo_mov_date_only       amount_x                              \
esquema_query                         ERROR_USUAL
status_cubeta                               ERROR          NEW
tipo_pago                          Reprogramación Pago del día Reprogramación
0                       2023-04-01           0.00         0.00       9,580.50
1                       2023-04-02           0.00        33.20       1,176.83
2                       2023-04-03       2,988.27        44.20      19,085.75
3                       2023-04-04           0.00 1,038,043.60           0.00
4                       2023-04-05      15,626.48   836,402.44           0.00


esquema_query          All
status_cubeta
tipo_pago
0                 9,580.50
1                 1,210.03
2                22,118.22
3             1,038,043.60
4               852,028.92

In [50]:
group_esquema.shape

(31, 5)

# CRUCE 3 - MES ANTERIOR

In [51]:
cruce_3 = allfiles.merge(query_new_last_month[['report_id','amount','ultimo_mov','ultimo_mov_date_only','month','status',
                                               'error_description','esquema_query','status_cubeta']],
                         on='report_id',how='left')
cruce_3['month'].fillna('Not found',inplace=True)
cruce_3.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount_x,bank_name,payment_date_local,...,tipo_dispersion,tipo_pago,amount_y,ultimo_mov,ultimo_mov_date_only,month,status,error_description,esquema_query,status_cubeta
0,DAILY,a71d5f76-e11a-423e-a94a-80eb97652e1d,b43bf099-70af-4c41-a4cf-d881c4b1214d,Minisuper Pau,rodrigoolivas98@gmail.com,222VP3CB4,2023-02-01,334.91,"Banco Nacional de México, S.A.",2023-02-01 11:42:36,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
1,DAILY,d9bf4b05-9b13-4948-8c77-0603e5364268,a0a02deb-f458-4a86-a09d-f887e1f1c98d,Varios Maribel,miguel.macedo29091984@gmail.com,223SYT9B2,2023-02-01,910.33,"BBVA Bancomer, S.A.",2023-02-01 11:19:05,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
2,DAILY,e9131d1d-ada9-4454-887d-02a8eaa038c5,40345622-b902-41c7-b945-9eaca92c16d7,Abonos,erika.izc.comunicacion@gmail.com,22472Y8N9,2023-02-01,"1,086.65",BANORTE,2023-02-01 11:21:18,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
3,DAILY,0a3ccf41-db5f-4d2f-bed2-6e37844a4f62,24ad9187-577f-4b9e-a441-659c708101f6,San juditas,josemariarodriguez211@gmail.com,2248ZQ452,2023-02-01,81.45,"BBVA Bancomer, S.A.",2023-02-01 11:56:04,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
4,DAILY,affee992-9efd-4e47-a259-350acc1a5488,5067c056-cc51-49c3-b52e-978afad742e3,Los titis,ale.gonxaxa2525@gmail.com,224ZM4YRX,2023-02-01,149.74,"BBVA Bancomer, S.A.",2023-02-01 11:43:55,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN

In [52]:
cruce_3.shape

(9004630, 27)

In [53]:
cruce_3_final = cruce_3[(cruce_3['month'] != 'Not found')]
cruce_3_final.drop_duplicates(subset='report_id',keep='last', inplace=True) 
cruce_3_final.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17500\2713612933.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cruce_3_final.drop_duplicates(subset='report_id',keep='last', inplace=True)

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount_x,bank_name,payment_date_local,...,tipo_dispersion,tipo_pago,amount_y,ultimo_mov,ultimo_mov_date_only,month,status,error_description,esquema_query,status_cubeta
3402173,DAILY,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,ff72b8de-7445-45ea-bafc-5d0770f607cc,Tiendita Lolita,lolita.marquez.alva@gmail.com,2ZMRWFT67,2023-01-12,823.56,BANORTE,2023-03-07 10:13:57,...,TRAD,Reprogramación,823.56,2023-03-07,2023-03-07,3.00,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,ERROR_USUAL,NEW
3404214,DAILY,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,ff72b8de-7445-45ea-bafc-5d0770f607cc,Tiendita Lolita,lolita.marquez.alva@gmail.com,3Q6ZK78CM,2022-12-20,"1,574.63",BANORTE,2023-03-07 10:13:57,...,TRAD,Reprogramación,"1,574.63",2023-03-07,2023-03-07,3.00,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,ERROR_USUAL,NEW
3407293,DAILY,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,ff72b8de-7445-45ea-bafc-5d0770f607cc,Tiendita Lolita,lolita.marquez.alva@gmail.com,4RGDKTGRN,2022-12-26,"1,435.82",BANORTE,2023-03-07 10:13:57,...,TRAD,Reprogramación,"1,435.82",2023-03-07,2023-03-07,3.00,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,ERROR_USUAL,NEW
3414145,DAILY,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,ff72b8de-7445-45ea-bafc-5d0770f607cc,Tiendita Lolita,lolita.marquez.alva@gmail.com,74KFMDWDF,2023-01-13,"1,355.52",BANORTE,2023-03-07 10:13:57,...,TRAD,Reprogramación,"1,355.52",2023-03-07,2023-03-07,3.00,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,ERROR_USUAL,NEW
3415632,DAILY,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,ff72b8de-7445-45ea-bafc-5d0770f607cc,Tiendita Lolita,lolita.marquez.alva@gmail.com,7LP27268H,2022-12-15,715.97,BANORTE,2023-03-07 10:13:57,...,TRAD,Reprogramación,715.97,2023-03-07,2023-03-07,3.00,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,ERROR_USUAL,NEW

In [54]:
cruce_3_final.shape

(20, 27)

In [55]:
duplicates_cruce_3_final = cruce_3_final[cruce_3_final.duplicated(['report_id'] , keep=False)]
duplicates_cruce_3_final.head()

Empty DataFrame
Columns: [type, merchant_id, merchant_token, merchant_name, user_email, report_id, report_date_local, amount_x, bank_name, payment_date_local, bank_account_owner_name, bank_account_number, batch_created_date, disbursement_method, swap, file_name, date_query, tipo_dispersion, tipo_pago, amount_y, ultimo_mov, ultimo_mov_date_only, month, status, error_description, esquema_query, status_cubeta]
Index: []

[0 rows x 27 columns]

In [56]:
duplicates_cruce_3_final.shape

(0, 27)

# CRUCE 4 - MES ANTERIOR

In [57]:
cruce_4 = query_new_last_month.merge(allfiles[['report_id','tipo_dispersion','tipo_pago']],on='report_id',how='left')
cruce_4['tipo_dispersion'].fillna('Not found',inplace=True)
cruce_4.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre,tipo_dispersion,tipo_pago
0,77290,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,Tiendita Lolita,NZQMYLTTG,2022-08-15,"1,181.62",ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-03-07,3,2023,NEW,ERROR_USUAL,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,2023-03-07,7,NaN,TRAD,Reprogramación
1,77290,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,Tiendita Lolita,NZQMYLTTG,2022-08-15,"1,181.62",ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-03-07,3,2023,NEW,ERROR_USUAL,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,2023-03-07,7,NaN,TRAD,Reprogramación
2,77290,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,Tiendita Lolita,NZQMYLTTG,2022-08-15,"1,181.62",ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-03-07,3,2023,NEW,ERROR_USUAL,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,2023-03-07,7,NaN,TRAD,Reprogramación
3,77290,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,Tiendita Lolita,NZQMYLTTG,2022-08-15,"1,181.62",ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-03-07,3,2023,NEW,ERROR_USUAL,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,2023-03-07,7,NaN,TRAD,Reprogramación
4,103448,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,Tiendita Lolita,BL525Y57N,2023-01-25,960.65,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-03-07,3,2023,NEW,ERROR_USUAL,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,2023-03-07,7,NaN,TRAD,Reprogramación

In [58]:
cruce_4.shape

(80, 19)

In [59]:
cruce_4_final = cruce_4[(cruce_4['tipo_dispersion'] != 'Not found')]
#cruce_2_final.drop_duplicates(subset='report_id',keep='last', inplace=True) 
cruce_4_final.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre,tipo_dispersion,tipo_pago
0,77290,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,Tiendita Lolita,NZQMYLTTG,2022-08-15,"1,181.62",ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-03-07,3,2023,NEW,ERROR_USUAL,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,2023-03-07,7,NaN,TRAD,Reprogramación
1,77290,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,Tiendita Lolita,NZQMYLTTG,2022-08-15,"1,181.62",ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-03-07,3,2023,NEW,ERROR_USUAL,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,2023-03-07,7,NaN,TRAD,Reprogramación
2,77290,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,Tiendita Lolita,NZQMYLTTG,2022-08-15,"1,181.62",ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-03-07,3,2023,NEW,ERROR_USUAL,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,2023-03-07,7,NaN,TRAD,Reprogramación
3,77290,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,Tiendita Lolita,NZQMYLTTG,2022-08-15,"1,181.62",ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-03-07,3,2023,NEW,ERROR_USUAL,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,2023-03-07,7,NaN,TRAD,Reprogramación
4,103448,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,Tiendita Lolita,BL525Y57N,2023-01-25,960.65,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-03-07,3,2023,NEW,ERROR_USUAL,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,2023-03-07,7,NaN,TRAD,Reprogramación

In [60]:
cruce_4_final.shape

(80, 19)

In [61]:
duplicates_cruce_4_final = cruce_4_final[cruce_4_final.duplicated(['report_id'] , keep=False)]
duplicates_cruce_4_final.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre,tipo_dispersion,tipo_pago
0,77290,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,Tiendita Lolita,NZQMYLTTG,2022-08-15,"1,181.62",ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-03-07,3,2023,NEW,ERROR_USUAL,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,2023-03-07,7,NaN,TRAD,Reprogramación
1,77290,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,Tiendita Lolita,NZQMYLTTG,2022-08-15,"1,181.62",ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-03-07,3,2023,NEW,ERROR_USUAL,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,2023-03-07,7,NaN,TRAD,Reprogramación
2,77290,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,Tiendita Lolita,NZQMYLTTG,2022-08-15,"1,181.62",ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-03-07,3,2023,NEW,ERROR_USUAL,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,2023-03-07,7,NaN,TRAD,Reprogramación
3,77290,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,Tiendita Lolita,NZQMYLTTG,2022-08-15,"1,181.62",ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-03-07,3,2023,NEW,ERROR_USUAL,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,2023-03-07,7,NaN,TRAD,Reprogramación
4,103448,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,Tiendita Lolita,BL525Y57N,2023-01-25,960.65,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-03-07,3,2023,NEW,ERROR_USUAL,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,2023-03-07,7,NaN,TRAD,Reprogramación

In [62]:
duplicates_cruce_4_final.shape

(80, 19)

# AGRUPADO POR TIPO DE PAGO - MES ANTERIOR

In [63]:
group_tipo_pago_last_month = pd.pivot_table(cruce_3_final,index=['ultimo_mov_date_only']
                                              ,columns=['esquema_query','status_cubeta','tipo_dispersion',
                                                        'tipo_pago'],values=['amount_x']
                                              ,aggfunc=np.sum,margins=True).reset_index()
group_tipo_pago_last_month.fillna(0,inplace=True)
group_tipo_pago_last_month.head()

                ultimo_mov_date_only       amount_x
esquema_query                           ERROR_USUAL       All
status_cubeta                                   NEW
tipo_dispersion                                TRAD
tipo_pago                            Reprogramación
0                         2023-03-07      24,016.78 24,016.78
1                                All      24,016.78 24,016.78

In [64]:
group_tipo_pago_last_month.shape

(2, 3)

In [65]:
group_esquema_last_month = pd.pivot_table(cruce_4_final,index=['ultimo_mov_date_only']
                                              ,columns=['esquema_query','status_cubeta','tipo_pago'],values=['amount']
                                              ,aggfunc=np.sum,margins=True).reset_index()
group_esquema_last_month.fillna(0,inplace=True)
group_esquema_last_month.head()

              ultimo_mov_date_only         amount
esquema_query                         ERROR_USUAL       All
status_cubeta                                 NEW
tipo_pago                          Reprogramación
0                       2023-03-07      96,067.12 96,067.12
1                              All      96,067.12 96,067.12

In [66]:
group_esquema_last_month.shape

(2, 3)

In [67]:
writer = pd.ExcelWriter('FASE V. DATA POLIZA ERROR-USUAL ABRIL 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
group_tipo_pago.to_excel(writer, sheet_name='GRUPO TIPO PAGO')
group_esquema.to_excel(writer, sheet_name='GRUPO ESQUEMA')
group_tipo_pago_last_month.to_excel(writer, sheet_name='GRUPO TIPO PAGO-MESES ANT')
group_esquema_last_month.to_excel(writer, sheet_name='GRUPO ESQUEMA-MESES ANT')
cruce_1_final.to_excel(writer, sheet_name='DETALLE',index=False)
cruce_3_final.to_excel(writer, sheet_name='DETALLE-MESES ANTERIORES',index=False)
writer.close()