In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# MES AÑO DE CONCILIACIÓN

In [2]:
month_conc = 'February'
year_conc = '2023'

# RUTAS DE ACCESO

### SWAP DEL DIA

In [3]:
allfiles_disp_trad = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2023\02. FEBRERO\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
allfiles_disp_trad

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230201.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230202.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230203.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230204.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230205.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230206.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230207.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230208.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230209.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230210.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230211.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230212.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230213.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230214.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230215.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230216.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230217.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230218.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230219.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230220.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230221.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230222.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230223.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230224.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230225.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230226.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230227.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230228.xlsx']

### FAST PAYMENTS

In [4]:
allfiles_fp = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2023\02. FEBRERO\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx',recursive=False)
allfiles_fp

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-28.xlsx']

# SWAP DEL DIA

In [5]:
swap_dia_total = pd.concat([pd.read_excel(f,sheet_name = 'Swap del día')
                            .assign(file_name=os.path.basename(f)) for f in allfiles_disp_trad])
swap_dia_total['Date'] = swap_dia_total["file_name"].str[-13:-5]
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'], format='%Y%m%d').dt.date
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'])
swap_dia_total.sort_values(by=['Date'],ascending=True,inplace=True)
swap_dia_total['report_date_local']= pd.to_datetime(swap_dia_total['report_date_local'])
swap_dia_total['month_conc'] = month_conc
swap_dia_total['year_conc'] = year_conc
swap_dia_total['month_report'] = swap_dia_total['report_date_local'].dt.strftime('%B')
swap_dia_total['year_report'] = swap_dia_total['report_date_local'].dt.year.astype(str)
swap_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,DAILY,01f97d46-9e77-4281-9631-cfe28e6c318c,Centro de Prevención de Enfermedades Cardiovas...,pbgerardo@prodigy.net.mx,KS75VKD5H,2023-02-01,958.24,Pago del día,BANAMEX,Gerardo Pérez Bustamante,...,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023
63758,DAILY,ab4874e4-2694-4a1d-a435-251cd9c2dc92,Pinturas Vazquez,pinturasvazquez319@gmail.com,NCT54Y6Q5,2023-02-01,359.34,Pago del día,BANCOPPEL,Isabel Cristina Esquivel Sias,...,PAID,"2023-02-01,2023020140014 HDH0001414954680,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023
63757,DAILY,ab4817be-6a4e-41c7-b856-553ce5ba2e72,BSTRONG SUPLEMENTOS,car15@yahoo.com,ZWC9YZXRK,2023-02-01,958.24,Pago del día,BBVA BANCOMER,carlos vazquez,...,PAID,"2023-02-01,2023020140014 HDH0001414954600,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023
63756,DAILY,ab47ec94-79c7-4cd6-978b-f10f31551808,C O JONES,ocanaroberto@ymail.com,P67XK8FKM,2023-02-01,"3,480.13",Pago del día,SCOTIABANK,Roberto Ocana Salado,...,PAID,"2023-02-01,2023020140014 HDH0001414954520,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023
63755,DAILY,ab47bcb4-d6d0-4c86-8fec-02fb896b14ee,El Asadero,gpecc60@hotmail.com,VBCHYBTL4,2023-02-01,"4,717.15",Pago del día,BANAMEX,Maria Guadalupe Castaneda Cardenas,...,PAID,"2023-02-01,2023020140014 HDH0001414954460,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023

In [6]:
swap_dia_total.shape

(2668293, 21)

In [7]:
swap_dia_total.dtypes

type                               object
merchant_id                        object
merchant_name                      object
user_email                         object
report_id                          object
report_date_local          datetime64[ns]
total_due                         float64
tipo                               object
bank                               object
bank_account_owner_name            object
CLABE                               int64
status                             object
LINEA CEP                          object
Batch_time                         object
Banco_emisor                       object
file_name                          object
Date                       datetime64[ns]
month_conc                         object
year_conc                          object
month_report                       object
year_report                        object
dtype: object

# FAST PAYMENTS

In [8]:
fp_dia_total = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS')
                          .assign(file_name=os.path.basename(f)) for f in allfiles_fp])
fp_dia_total['Date'] = fp_dia_total["file_name"].str[-15:-5]
fp_dia_total['Date']= pd.to_datetime(fp_dia_total['Date'])
fp_dia_total['report_date_local']= pd.to_datetime(fp_dia_total['report_date_local'])
fp_dia_total['month_conc'] = month_conc
fp_dia_total['year_conc'] = year_conc
fp_dia_total['month_report'] = fp_dia_total['report_date_local'].dt.strftime('%B')
fp_dia_total['year_report'] = fp_dia_total['report_date_local'].dt.year.astype(str)
fp_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,LEDGER_FP,e5c14da5-f840-4d3b-9562-15545f8dae39,NaN,NaN,AHVT7L9VW,2023-02-01,"42,173.10",Pago del día,ASP INTEGRA OPC,Maria Esther Gonzalez Gomez,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-02-01.xlsx,2023-02-01,February,2023,February,2023
1,LEDGER_FP,e5e7483e-066d-4b56-b075-3358e7e1ddb3,NaN,NaN,A457K47TB,2023-02-01,"21,653.92",Pago del día,ASP INTEGRA OPC,Rogelio Gaona Ibarra,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-02-01.xlsx,2023-02-01,February,2023,February,2023
2,LEDGER_FP,0ae18b46-9993-4e8e-8665-0b57038a93ec,NaN,NaN,AXHJDTFTF,2023-02-01,791.51,Pago del día,COMPARTAMOS,Josefina Flores Montalvo,...,ERROR,NaN,03. Third_batch,SANTANDER,Dispersión-FP 2023-02-01.xlsx,2023-02-01,February,2023,February,2023
3,LEDGER_FP,25b97942-90fc-4652-aca9-49084190da35,NaN,NaN,ACYNP7437,2023-02-01,58.45,Pago del día,AZTECA,Mariel ZAYAS Ecatl,...,ERROR,NaN,03. Third_batch,SANTANDER,Dispersión-FP 2023-02-01.xlsx,2023-02-01,February,2023,February,2023
4,LEDGER_FP,2c46f6e5-3f3a-4bbb-8792-355219910a31,NaN,NaN,AF6J9ZTJR,2023-02-01,"4,803.67",Pago del día,BBVA BANCOMER,Hiram Dabdoub Jimenez,...,ERROR,NaN,03. Third_batch,SANTANDER,Dispersión-FP 2023-02-01.xlsx,2023-02-01,February,2023,February,2023

In [9]:
fp_dia_total.shape

(107116, 21)

In [10]:
fp_dia_total.dtypes

type                         object
merchant_id                  object
merchant_name                object
user_email                   object
report_id                    object
report_date_local    datetime64[ns]
total_due                   float64
tipo                         object
bank                         object
swap                         object
CLABE                         int64
status                       object
LINEA CEP                    object
Batch_time                   object
Banco_emisor                 object
file_name                    object
Date                 datetime64[ns]
month_conc                   object
year_conc                    object
month_report                 object
year_report                  object
dtype: object

# ALL DISPERSIONES

In [11]:
all_disp = pd.concat([swap_dia_total,fp_dia_total])
all_disp.loc[all_disp['type'].str.contains('LEDGER'), 'type'] = 'LEDGER'
all_disp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
0,DAILY,01f97d46-9e77-4281-9631-cfe28e6c318c,Centro de Prevención de Enfermedades Cardiovas...,pbgerardo@prodigy.net.mx,KS75VKD5H,2023-02-01,958.24,Pago del día,BANAMEX,Gerardo Pérez Bustamante,...,NaN,01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023,NaN
63758,DAILY,ab4874e4-2694-4a1d-a435-251cd9c2dc92,Pinturas Vazquez,pinturasvazquez319@gmail.com,NCT54Y6Q5,2023-02-01,359.34,Pago del día,BANCOPPEL,Isabel Cristina Esquivel Sias,...,"2023-02-01,2023020140014 HDH0001414954680,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023,NaN
63757,DAILY,ab4817be-6a4e-41c7-b856-553ce5ba2e72,BSTRONG SUPLEMENTOS,car15@yahoo.com,ZWC9YZXRK,2023-02-01,958.24,Pago del día,BBVA BANCOMER,carlos vazquez,...,"2023-02-01,2023020140014 HDH0001414954600,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023,NaN
63756,DAILY,ab47ec94-79c7-4cd6-978b-f10f31551808,C O JONES,ocanaroberto@ymail.com,P67XK8FKM,2023-02-01,"3,480.13",Pago del día,SCOTIABANK,Roberto Ocana Salado,...,"2023-02-01,2023020140014 HDH0001414954520,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023,NaN
63755,DAILY,ab47bcb4-d6d0-4c86-8fec-02fb896b14ee,El Asadero,gpecc60@hotmail.com,VBCHYBTL4,2023-02-01,"4,717.15",Pago del día,BANAMEX,Maria Guadalupe Castaneda Cardenas,...,"2023-02-01,2023020140014 HDH0001414954460,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023,NaN

In [12]:
all_disp.shape

(2775409, 22)

In [13]:
all_disp['type'].unique()

array(['DAILY', 'LEDGER', 'INSTANT'], dtype=object)

# TRADICIONAL

In [14]:
all_disp_trad = all_disp[(all_disp['type'] == 'DAILY')]
all_disp_trad.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
0,DAILY,01f97d46-9e77-4281-9631-cfe28e6c318c,Centro de Prevención de Enfermedades Cardiovas...,pbgerardo@prodigy.net.mx,KS75VKD5H,2023-02-01,958.24,Pago del día,BANAMEX,Gerardo Pérez Bustamante,...,NaN,01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023,NaN
63758,DAILY,ab4874e4-2694-4a1d-a435-251cd9c2dc92,Pinturas Vazquez,pinturasvazquez319@gmail.com,NCT54Y6Q5,2023-02-01,359.34,Pago del día,BANCOPPEL,Isabel Cristina Esquivel Sias,...,"2023-02-01,2023020140014 HDH0001414954680,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023,NaN
63757,DAILY,ab4817be-6a4e-41c7-b856-553ce5ba2e72,BSTRONG SUPLEMENTOS,car15@yahoo.com,ZWC9YZXRK,2023-02-01,958.24,Pago del día,BBVA BANCOMER,carlos vazquez,...,"2023-02-01,2023020140014 HDH0001414954600,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023,NaN
63756,DAILY,ab47ec94-79c7-4cd6-978b-f10f31551808,C O JONES,ocanaroberto@ymail.com,P67XK8FKM,2023-02-01,"3,480.13",Pago del día,SCOTIABANK,Roberto Ocana Salado,...,"2023-02-01,2023020140014 HDH0001414954520,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023,NaN
63755,DAILY,ab47bcb4-d6d0-4c86-8fec-02fb896b14ee,El Asadero,gpecc60@hotmail.com,VBCHYBTL4,2023-02-01,"4,717.15",Pago del día,BANAMEX,Maria Guadalupe Castaneda Cardenas,...,"2023-02-01,2023020140014 HDH0001414954460,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023,NaN

In [15]:
all_disp_trad.shape

(2417731, 22)

In [16]:
pivot_total_trad = pd.pivot_table(all_disp_trad,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_trad.reset_index(drop=False, inplace=True)
pivot_total_trad.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\1759428005.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_total_trad = pd.pivot_table(all_disp_trad,index=['type','Date'],values=['total_due'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\1759428005.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_total_trad = pd.pivot_table(all_disp_trad,index=['type','Date'],values=['total_due'],

    type       Date            sum       len
                         total_due total_due
0  DAILY 2023-02-01 181,909,167.34     86550
1  DAILY 2023-02-02 179,819,503.26     89392
2  DAILY 2023-02-03 186,120,061.47     89314
3  DAILY 2023-02-04 208,355,363.19     95250
4  DAILY 2023-02-05 234,791,753.43     94735

In [17]:
pivot_parcial_trad = pd.pivot_table(all_disp_trad,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_trad.reset_index(drop=False, inplace=True)
pivot_parcial_trad.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\3208080861.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial_trad = pd.pivot_table(all_disp_trad,index=['type','tipo','Date'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\3208080861.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial_trad = pd.pivot_table(all_disp_trad,index=['type','tipo','Date'],

         type          tipo       Date        sum                 \
                                        total_due
status                                      ERROR           PAID
0       DAILY  Pago del día 2023-02-01 261,742.01 180,141,127.75
1       DAILY  Pago del día 2023-02-02 240,085.99 176,422,947.49
2       DAILY  Pago del día 2023-02-03 294,370.85 184,204,865.34
3       DAILY  Pago del día 2023-02-04 403,074.17 207,013,439.07
4       DAILY  Pago del día 2023-02-05 250,751.62 234,143,697.15

                            len
                      total_due
status            All     ERROR   PAID    All
0      180,402,869.76        91  85698  85789
1      176,663,033.48       101  87297  87398
2      184,499,236.19       101  88466  88567
3      207,416,513.24        96  94588  94684
4      234,394,448.77        94  94377  94471

## CATEGORIZACIÓN DE REPROGRAMACIONES

In [18]:
swap_dia_total_repro = all_disp_trad[(all_disp_trad['tipo'] == 'Reprogramación')]
swap_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
63011,DAILY,a94ef28e-f7e4-4089-adc4-cab9e46e228d,Liz,lizbeth.19.07.98@gmail.com,TFNQWTD2Y,2023-01-30,568.65,Reprogramación,BBVA BANCOMER,Gabriela Cecilio Hilario,...,"2023-02-01,2023020140014 HDH0001414902580,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,January,2023,NaN
63010,DAILY,a94ef28e-f7e4-4089-adc4-cab9e46e228d,Liz,lizbeth.19.07.98@gmail.com,QF3TWF76W,2023-01-29,"1,253.70",Reprogramación,BBVA BANCOMER,Gabriela Cecilio Hilario,...,"2023-02-01,2023020140014 HDH0001414902510,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,January,2023,NaN
63009,DAILY,a94ef28e-f7e4-4089-adc4-cab9e46e228d,Liz,lizbeth.19.07.98@gmail.com,WGLL32VJG,2023-01-28,"1,047.26",Reprogramación,BBVA BANCOMER,Gabriela Cecilio Hilario,...,"2023-02-01,2023020140014 HDH0001414902460,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,January,2023,NaN
63008,DAILY,a94ef28e-f7e4-4089-adc4-cab9e46e228d,Liz,lizbeth.19.07.98@gmail.com,BZ7DL5XM4,2023-01-27,216.23,Reprogramación,BBVA BANCOMER,Gabriela Cecilio Hilario,...,"2023-02-01,2023020140014 HDH0001414902360,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,January,2023,NaN
63007,DAILY,a94ef28e-f7e4-4089-adc4-cab9e46e228d,Liz,lizbeth.19.07.98@gmail.com,DLT9TYY9G,2023-01-20,609.87,Reprogramación,BBVA BANCOMER,Gabriela Cecilio Hilario,...,"2023-02-01,2023020140014 HDH0001414902260,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,January,2023,NaN

In [19]:
swap_dia_total_repro.shape

(13652, 22)

In [20]:
swap_dia_total_repro.to_excel('Reprogramaciones_daily.xlsx',index=False)

In [21]:
swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
                   & (swap_dia_total_repro['month_report'] == month_conc) 
                   & (swap_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
swap_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\2042991903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\2042991903.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
63011,DAILY,a94ef28e-f7e4-4089-adc4-cab9e46e228d,Liz,lizbeth.19.07.98@gmail.com,TFNQWTD2Y,2023-01-30,568.65,Reprogramación,BBVA BANCOMER,Gabriela Cecilio Hilario,...,01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,January,2023,NaN,repro_otro_mes
63010,DAILY,a94ef28e-f7e4-4089-adc4-cab9e46e228d,Liz,lizbeth.19.07.98@gmail.com,QF3TWF76W,2023-01-29,"1,253.70",Reprogramación,BBVA BANCOMER,Gabriela Cecilio Hilario,...,01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,January,2023,NaN,repro_otro_mes
63009,DAILY,a94ef28e-f7e4-4089-adc4-cab9e46e228d,Liz,lizbeth.19.07.98@gmail.com,WGLL32VJG,2023-01-28,"1,047.26",Reprogramación,BBVA BANCOMER,Gabriela Cecilio Hilario,...,01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,January,2023,NaN,repro_otro_mes
63008,DAILY,a94ef28e-f7e4-4089-adc4-cab9e46e228d,Liz,lizbeth.19.07.98@gmail.com,BZ7DL5XM4,2023-01-27,216.23,Reprogramación,BBVA BANCOMER,Gabriela Cecilio Hilario,...,01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,January,2023,NaN,repro_otro_mes
63007,DAILY,a94ef28e-f7e4-4089-adc4-cab9e46e228d,Liz,lizbeth.19.07.98@gmail.com,DLT9TYY9G,2023-01-20,609.87,Reprogramación,BBVA BANCOMER,Gabriela Cecilio Hilario,...,01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,January,2023,NaN,repro_otro_mes

In [22]:
pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro.reset_index(drop=False, inplace=True)
pivot_tipo_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\3187504787.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['type','Date'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\3187504787.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['type','Date'],

                      type       Date             sum                 \
                                            total_due
tipo_reprogramacion                   repro_mismo_mes repro_otro_mes
0                    DAILY 2023-02-01             NaN   1,506,297.58
1                    DAILY 2023-02-02       32,304.93   3,124,164.85
2                    DAILY 2023-02-03      109,712.23   1,511,113.05
3                    DAILY 2023-02-04      148,054.66     790,795.29
4                    DAILY 2023-02-05      143,616.11     253,688.55

                                             len
                                       total_due
tipo_reprogramacion          All repro_mismo_mes repro_otro_mes   All
0                   1,506,297.58             NaN         761.00   761
1                   3,156,469.78           32.00       1,962.00  1994
2                   1,620,825.28           46.00         701.00   747
3                     938,849.95           91.00         475.00   566
4                     397,304.66           68.00         196.00   264

# FAST PAYMENTS

In [23]:
all_disp_fp = all_disp[(all_disp['type'] == 'INSTANT')]
all_disp_fp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
62110,INSTANT,a6f8dc8f-5c69-4503-8846-ced07f7b281b,Pizzas Mexicanas,pitbull.gus@gmail.com,MLLMFM325,2023-02-01,187.81,Pago del día,ASP INTEGRA OPC,Gustavo Gutierrez Sanchez,...,"2023-02-01,2023020140014 HDH0001414838420,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023,NaN
69801,INSTANT,bb9b0087-26a6-4bae-98ca-5491bfba854a,Alez,artesanias.alez@gmail.com,TC7YKZZ56,2023-02-01,"1,006.15",Pago del día,ASP INTEGRA OPC,Alberto Salomon Villavicencio Velazquez,...,"2023-02-01,2023020140014 HDH0001415483750,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023,NaN
69313,INSTANT,ba5e2ea9-13eb-456b-9b69-bc976913f912,Abarrotes Hortencias,paatlsjosca002@hotmail.com,8VXDJ8JMX,2023-02-01,44.07,Pago del día,ASP INTEGRA OPC,Jose Manuel Castillo Alvarez,...,"2023-02-01,2023020140014 HDH0001415446730,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023,NaN
71655,INSTANT,c0cb8bcc-8457-44e9-a7a4-9b4f5a8129d7,SU SUSHI,kimcs1308@gmail.com,JKYG5Y2WF,2023-02-01,"8,007.82",Pago del día,ASP INTEGRA OPC,Chang Su Kim,...,"2023-02-01,2023020140014 HDH0001415619600,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023,NaN
66406,INSTANT,b26a6849-9b67-4e97-b9bb-3a8d2ea7b48e,Plasticos Cuper,cpjluis19@gmail.com,7YRH532RM,2023-02-01,231.19,Pago del día,ASP INTEGRA OPC,Jose Luis Cuevas Paque,...,"2023-02-01,2023020140014 HDH0001415176080,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023,NaN

In [24]:
all_disp_fp.shape

(2682, 22)

In [25]:
pivot_total_fp = pd.pivot_table(all_disp_fp,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_fp.reset_index(drop=False, inplace=True)
pivot_total_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\1055904135.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_total_fp = pd.pivot_table(all_disp_fp,index=['type','Date'],values=['total_due'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\1055904135.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_total_fp = pd.pivot_table(all_disp_fp,index=['type','Date'],values=['total_due'],

      type       Date        sum       len
                       total_due total_due
0  INSTANT 2023-02-01 326,845.35       153
1  INSTANT 2023-02-02 149,257.95        86
2  INSTANT 2023-02-03 136,602.82        92
3  INSTANT 2023-02-04 203,739.29       245
4  INSTANT 2023-02-05 140,368.12        82

In [26]:
pivot_parcial_fp = pd.pivot_table(all_disp_fp,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_fp.reset_index(drop=False, inplace=True)
pivot_parcial_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\1899252320.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial_fp = pd.pivot_table(all_disp_fp,index=['type','tipo','Date'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\1899252320.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial_fp = pd.pivot_table(all_disp_fp,index=['type','tipo','Date'],

           type          tipo       Date       sum                        \
                                         total_due
status                                       ERROR       PAID        All
0       INSTANT  Pago del día 2023-02-01       NaN 176,378.18 176,378.18
1       INSTANT  Pago del día 2023-02-02       NaN 120,720.76 120,720.76
2       INSTANT  Pago del día 2023-02-03       NaN 102,465.76 102,465.76
3       INSTANT  Pago del día 2023-02-04       NaN 126,385.52 126,385.52
4       INSTANT  Pago del día 2023-02-05       NaN 127,779.45 127,779.45

             len
       total_due
status     ERROR  PAID All
0            NaN 70.00  70
1            NaN 71.00  71
2            NaN 81.00  81
3            NaN 73.00  73
4            NaN 74.00  74

## CATEGORIZACIÓN DE REPROGRAMACIONES - FAST PAYMENTS

In [27]:
fp_dia_total_repro = all_disp_fp[(all_disp_fp['tipo'] == 'Reprogramación')]
fp_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
98501,INSTANT,2ddb871b-fb66-4d60-900a-54cbdd99a1b4,Var Vidrio Y aluminio Rodriguez,vidrioalum@yahoo.com.mx,PXSTZ9TRK,2023-01-30,"19,164.80",Reprogramación,ASP INTEGRA OPC,Luis Ernesto Rodriguez Orozco,...,"2023-02-02,42644264202302022118820681,40072,90...",03. Third_batch,BANORTE,Dispersión-20230202.xlsx,2023-02-02,February,2023,January,2023,NaN
40661,INSTANT,6d518c01-89a8-454c-98c5-37c3cc8287c2,MS Max,luisalbertolazaroperez105@gmail.com,S48MZPPTD,2022-08-31,166.74,Reprogramación,BBVA BANCOMER,Leslie Xitlali Sierra Jimenez,...,"2023-02-02,2023020240014 HDH0001435445750,4001...",01. First_batch,SANTANDER,Dispersión-20230202.xlsx,2023-02-02,February,2023,August,2022,NaN
40660,INSTANT,6d518c01-89a8-454c-98c5-37c3cc8287c2,MS Max,luisalbertolazaroperez105@gmail.com,H9CT5XGT9,2022-07-31,708.14,Reprogramación,BBVA BANCOMER,Leslie Xitlali Sierra Jimenez,...,"2023-02-02,2023020240014 HDH0001435445690,4001...",01. First_batch,SANTANDER,Dispersión-20230202.xlsx,2023-02-02,February,2023,July,2022,NaN
40659,INSTANT,6d518c01-89a8-454c-98c5-37c3cc8287c2,MS Max,luisalbertolazaroperez105@gmail.com,G6K283R47,2022-07-31,91.03,Reprogramación,BBVA BANCOMER,Leslie Xitlali Sierra Jimenez,...,"2023-02-02,2023020240014 HDH0001435445640,4001...",01. First_batch,SANTANDER,Dispersión-20230202.xlsx,2023-02-02,February,2023,July,2022,NaN
40658,INSTANT,6d518c01-89a8-454c-98c5-37c3cc8287c2,MS Max,luisalbertolazaroperez105@gmail.com,2K4R7QMLY,2022-07-31,391.91,Reprogramación,BBVA BANCOMER,Leslie Xitlali Sierra Jimenez,...,"2023-02-02,2023020240014 HDH0001435445590,4001...",01. First_batch,SANTANDER,Dispersión-20230202.xlsx,2023-02-02,February,2023,July,2022,NaN

In [28]:
fp_dia_total_repro.shape

(534, 22)

In [29]:
fp_dia_total_repro.to_excel('Reprogramaciones_instant.xlsx',index=False)

In [30]:
fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
                   & (fp_dia_total_repro['month_report'] == month_conc) 
                   & (fp_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
fp_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\939012805.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\939012805.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
98501,INSTANT,2ddb871b-fb66-4d60-900a-54cbdd99a1b4,Var Vidrio Y aluminio Rodriguez,vidrioalum@yahoo.com.mx,PXSTZ9TRK,2023-01-30,"19,164.80",Reprogramación,ASP INTEGRA OPC,Luis Ernesto Rodriguez Orozco,...,03. Third_batch,BANORTE,Dispersión-20230202.xlsx,2023-02-02,February,2023,January,2023,NaN,repro_otro_mes
40661,INSTANT,6d518c01-89a8-454c-98c5-37c3cc8287c2,MS Max,luisalbertolazaroperez105@gmail.com,S48MZPPTD,2022-08-31,166.74,Reprogramación,BBVA BANCOMER,Leslie Xitlali Sierra Jimenez,...,01. First_batch,SANTANDER,Dispersión-20230202.xlsx,2023-02-02,February,2023,August,2022,NaN,repro_otro_mes
40660,INSTANT,6d518c01-89a8-454c-98c5-37c3cc8287c2,MS Max,luisalbertolazaroperez105@gmail.com,H9CT5XGT9,2022-07-31,708.14,Reprogramación,BBVA BANCOMER,Leslie Xitlali Sierra Jimenez,...,01. First_batch,SANTANDER,Dispersión-20230202.xlsx,2023-02-02,February,2023,July,2022,NaN,repro_otro_mes
40659,INSTANT,6d518c01-89a8-454c-98c5-37c3cc8287c2,MS Max,luisalbertolazaroperez105@gmail.com,G6K283R47,2022-07-31,91.03,Reprogramación,BBVA BANCOMER,Leslie Xitlali Sierra Jimenez,...,01. First_batch,SANTANDER,Dispersión-20230202.xlsx,2023-02-02,February,2023,July,2022,NaN,repro_otro_mes
40658,INSTANT,6d518c01-89a8-454c-98c5-37c3cc8287c2,MS Max,luisalbertolazaroperez105@gmail.com,2K4R7QMLY,2022-07-31,391.91,Reprogramación,BBVA BANCOMER,Leslie Xitlali Sierra Jimenez,...,01. First_batch,SANTANDER,Dispersión-20230202.xlsx,2023-02-02,February,2023,July,2022,NaN,repro_otro_mes

In [31]:
pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_fp.fillna(0,inplace=True)
pivot_tipo_repro_fp.reset_index(drop=False, inplace=True)
pivot_tipo_repro_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\4096176958.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['type','Date'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\4096176958.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['type','Date'],

                        type       Date             sum                 \
                                              total_due
tipo_reprogramacion                     repro_mismo_mes repro_otro_mes
0                    INSTANT 2023-02-01            0.00     150,467.17
1                    INSTANT 2023-02-02            0.00      28,537.19
2                    INSTANT 2023-02-03            0.00      34,137.06
3                    INSTANT 2023-02-04            0.00      77,353.77
4                    INSTANT 2023-02-05            0.00      12,588.67

                                           len
                                     total_due
tipo_reprogramacion        All repro_mismo_mes repro_otro_mes  All
0                   150,467.17            0.00          83.00   83
1                    28,537.19            0.00          15.00   15
2                    34,137.06            0.00          11.00   11
3                    77,353.77            0.00         172.00  172
4                    12,588.67            0.00           8.00    8

# LEDGER

In [32]:
all_disp_ledger = all_disp[(all_disp['type'] == 'LEDGER')]
all_disp_ledger.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
63772,LEDGER,ab4fb79c-8661-4512-b357-5e8c23610a6a,NaN,NaN,ASMWGVKW6,2023-02-01,347.83,Pago del día,BBVA BANCOMER,Enrique Sosa Mosqueda,...,"2023-02-01,2023020140014 HDH0001414955360,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023,NaN
62776,LEDGER,a8ad1fa3-434f-432f-80ae-e712bb7cc803,NaN,NaN,AX69872B9,2023-02-01,316.22,Pago del día,ASP INTEGRA OPC,Gabriel De Santos Borrego,...,"2023-02-01,2023020140014 HDH0001414886990,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023,NaN
62900,LEDGER,a8fe5704-a67f-4f2d-8a77-429238ab9433,NaN,NaN,ASMQ95Z36,2023-02-01,"6,350.71",Pago del día,ASP INTEGRA OPC,Marco Antonio Suarez Angel,...,"2023-02-01,2023020140014 HDH0001414895720,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023,NaN
63165,LEDGER,a9c5a1c7-2911-4321-951d-3fe101ee0aca,NaN,NaN,ADW7SYBSS,2023-02-01,"4,398.94",Pago del día,ASP INTEGRA OPC,Saul Limon Duran,...,"2023-02-01,2023020140014 HDH0001414913260,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023,NaN
65654,LEDGER,b06abbb6-ae8a-4ef9-b64d-828a933c3031,NaN,NaN,AZ3M36XXP,2023-02-01,"1,881.21",Pago del día,ASP INTEGRA OPC,Griselda Segura Gutierrez,...,"2023-02-01,2023020140014 HDH0001415101430,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,February,2023,NaN

In [33]:
all_disp_ledger.shape

(354996, 22)

In [34]:
pivot_total_ledger = pd.pivot_table(all_disp_ledger,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_ledger.reset_index(drop=False, inplace=True)
pivot_total_ledger.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\1348612958.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_total_ledger = pd.pivot_table(all_disp_ledger,index=['type','Date'],values=['total_due'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\1348612958.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_total_ledger = pd.pivot_table(all_disp_ledger,index=['type','Date'],values=['total_due'],

     type       Date           sum       len
                         total_due total_due
0  LEDGER 2023-02-01 22,936,523.11     12797
1  LEDGER 2023-02-02 22,065,271.17     12801
2  LEDGER 2023-02-03 22,488,795.20     13143
3  LEDGER 2023-02-04 24,496,060.39     13612
4  LEDGER 2023-02-05 27,096,713.73     12286

In [35]:
pivot_total_ledger.shape

(29, 4)

In [36]:
pivot_parcial_ledger = pd.pivot_table(all_disp_ledger,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_ledger.reset_index(drop=False, inplace=True)
pivot_parcial_ledger.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\3013629304.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial_ledger = pd.pivot_table(all_disp_ledger,index=['type','tipo','Date'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\3013629304.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial_ledger = pd.pivot_table(all_disp_ledger,index=['type','tipo','Date'],

          type          tipo       Date          sum                \
                                           total_due
status                                         ERROR          PAID
0       LEDGER  Pago del día 2023-02-01 1,889,665.22 20,992,160.66
1       LEDGER  Pago del día 2023-02-02 2,090,633.16 19,856,720.39
2       LEDGER  Pago del día 2023-02-03 2,236,432.09 20,219,391.26
3       LEDGER  Pago del día 2023-02-04   520,557.06 23,931,564.25
4       LEDGER  Pago del día 2023-02-05   589,799.86 26,506,913.87

                           len
                     total_due
status           All     ERROR      PAID    All
0      22,881,825.88     91.00 12,691.00  12782
1      21,947,353.55     85.00 12,694.00  12779
2      22,455,823.35    102.00 13,035.00  13137
3      24,452,121.31     40.00 13,567.00  13607
4      27,096,713.73     44.00 12,242.00  12286

## CATEGORIZACION DE REPROGRAMACIONES - LEDGER

In [37]:
ledger_dia_total_repro = all_disp_ledger[(all_disp_ledger['tipo'] == 'Reprogramación')]
ledger_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
26021,LEDGER,453da360-1407-49ba-8742-dd28ce293901,NaN,NaN,AD6X2WH2N,2023-01-18,321.01,Reprogramación,BANORTE/IXE,Cecilia Fernndez,...,"2023-02-01,2023020140014 HDH0001415141720,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,January,2023,NaN
22591,LEDGER,3ac91000-8a0a-4f97-a66c-cedc24012f6f,NaN,NaN,A2YPNHDTP,2023-01-26,"16,392.40",Reprogramación,BANREGIO,Juan Francisco Puente Lopez,...,"2023-02-03,2023020340014 HDH0001456966830,4001...",01. First_batch,SANTANDER,Dispersión-20230203.xlsx,2023-02-03,February,2023,January,2023,NaN
72158,LEDGER,c28729b3-eeb7-4e25-81e5-b60af36f45f9,NaN,NaN,A5SDN9VLP,2023-01-31,"12,457.12",Reprogramación,ASP INTEGRA OPC,Carlos Iriarte Vivar Balderrama,...,"2023-02-04,42644264202302042122023456,40072,90...",01. First_batch,BANORTE,Dispersión-20230204.xlsx,2023-02-04,February,2023,January,2023,NaN
93514,LEDGER,fc6ad9c3-b6eb-4690-8179-d8745025666a,NaN,NaN,ACSZD2X7N,2023-01-30,"8,215.74",Reprogramación,BBVA BANCOMER,Jorge Armando Alvarez Barocio,...,"2023-02-04,42644264202302042122038367,40072,40...",01. First_batch,BANORTE,Dispersión-20230204.xlsx,2023-02-04,February,2023,January,2023,NaN
85166,LEDGER,e5f39a61-dc9b-4d36-9bc9-0d07b61a7342,NaN,NaN,A7XL2D94X,2023-01-23,"5,013.98",Reprogramación,BBVA BANCOMER,Francisco Dimas Castillo,...,"2023-02-04,42644264202302042121987801,40072,40...",01. First_batch,BANORTE,Dispersión-20230204.xlsx,2023-02-04,February,2023,January,2023,NaN

In [38]:
ledger_dia_total_repro.shape

(265, 22)

In [39]:
ledger_dia_total_repro.to_excel('Reprogramaciones_ledger.xlsx',index=False)

In [40]:
ledger_dia_total_repro.loc[(ledger_dia_total_repro['tipo'] == 'Reprogramación')
                   & (ledger_dia_total_repro['month_report'] == month_conc) 
                   & (ledger_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
ledger_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
ledger_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\3563945437.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ledger_dia_total_repro.loc[(ledger_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\3563945437.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ledger_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
26021,LEDGER,453da360-1407-49ba-8742-dd28ce293901,NaN,NaN,AD6X2WH2N,2023-01-18,321.01,Reprogramación,BANORTE/IXE,Cecilia Fernndez,...,01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,February,2023,January,2023,NaN,repro_otro_mes
22591,LEDGER,3ac91000-8a0a-4f97-a66c-cedc24012f6f,NaN,NaN,A2YPNHDTP,2023-01-26,"16,392.40",Reprogramación,BANREGIO,Juan Francisco Puente Lopez,...,01. First_batch,SANTANDER,Dispersión-20230203.xlsx,2023-02-03,February,2023,January,2023,NaN,repro_otro_mes
72158,LEDGER,c28729b3-eeb7-4e25-81e5-b60af36f45f9,NaN,NaN,A5SDN9VLP,2023-01-31,"12,457.12",Reprogramación,ASP INTEGRA OPC,Carlos Iriarte Vivar Balderrama,...,01. First_batch,BANORTE,Dispersión-20230204.xlsx,2023-02-04,February,2023,January,2023,NaN,repro_otro_mes
93514,LEDGER,fc6ad9c3-b6eb-4690-8179-d8745025666a,NaN,NaN,ACSZD2X7N,2023-01-30,"8,215.74",Reprogramación,BBVA BANCOMER,Jorge Armando Alvarez Barocio,...,01. First_batch,BANORTE,Dispersión-20230204.xlsx,2023-02-04,February,2023,January,2023,NaN,repro_otro_mes
85166,LEDGER,e5f39a61-dc9b-4d36-9bc9-0d07b61a7342,NaN,NaN,A7XL2D94X,2023-01-23,"5,013.98",Reprogramación,BBVA BANCOMER,Francisco Dimas Castillo,...,01. First_batch,BANORTE,Dispersión-20230204.xlsx,2023-02-04,February,2023,January,2023,NaN,repro_otro_mes

In [41]:
pivot_tipo_repro_ledger = pd.pivot_table(ledger_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_ledger.fillna(0,inplace=True)
pivot_tipo_repro_ledger.reset_index(drop=False, inplace=True)
pivot_tipo_repro_ledger.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\1507184451.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_tipo_repro_ledger = pd.pivot_table(ledger_dia_total_repro,index=['type','Date'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_20300\1507184451.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_tipo_repro_ledger = pd.pivot_table(ledger_dia_total_repro,index=['type','Date'],

                       type       Date             sum                 \
                                             total_due
tipo_reprogramacion                    repro_mismo_mes repro_otro_mes
0                    LEDGER 2023-02-01            0.00      54,697.23
1                    LEDGER 2023-02-02            0.00     117,917.62
2                    LEDGER 2023-02-03            0.00      32,971.85
3                    LEDGER 2023-02-04            0.00      43,939.08
4                    LEDGER 2023-02-07       74,065.18     158,488.09

                                           len
                                     total_due
tipo_reprogramacion        All repro_mismo_mes repro_otro_mes All
0                    54,697.23            0.00          15.00  15
1                   117,917.62            0.00          22.00  22
2                    32,971.85            0.00           6.00   6
3                    43,939.08            0.00           5.00   5
4                   232,553.27            3.00          51.00  54

# EXCEL FINAL

In [42]:
writer = pd.ExcelWriter('FASE IV. REPROGRAMACIONES FEBRERO 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_total_trad.to_excel(writer, sheet_name='TRADICIONAL TOTAL')
pivot_parcial_trad.to_excel(writer, sheet_name='TRADICIONAL PARCIAL')
pivot_total_fp.to_excel(writer, sheet_name='FP TOTAL')
pivot_parcial_fp.to_excel(writer, sheet_name='FP PARCIAL')
pivot_total_ledger.to_excel(writer, sheet_name='LEDGER TOTAL')
pivot_parcial_ledger.to_excel(writer, sheet_name='LEDGER PARCIAL')
pivot_tipo_repro.to_excel(writer, sheet_name='CATEGORIZACION REPRO TRAD')
pivot_tipo_repro_fp.to_excel(writer, sheet_name='CATEGORIZACION REPRO FP')
pivot_tipo_repro_ledger.to_excel(writer, sheet_name='CATEGORIZACION REPRO LEDGER')
writer.close()