In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
from functools import reduce
pd.options.display.float_format = '{:,.2f}'.format

#### ACUMULADO

In [2]:
cumfiles = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2023\02. FEBRERO\QUERIES\*.csv', recursive=False)
cumfiles

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\QUERIES\\SETTLEMENT 2023-02-28.csv']

In [3]:
cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
cum_1.columns = cum_1.columns.str.strip().str.lower() 
cum_1['report_date_local']= pd.to_datetime(cum_1['report_date_local']) 
cum_1.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17944\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17944\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17944\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_released,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name
0,f2a4c65c-7b5b-45a1-ac0d-063f82222703,HAPINESS,nmiriam234@yahoo.com.mx,BLFCPR555,2023-02-01,392.00,14.11,2.26,0.00,0.00,...,0.00,0.00,NaN,379.63,DAILY,2023-02-01,02:00:38,2023-02-01,02:00:38,SETTLEMENT 2023-02-01.csv
1,285e56bc-330e-427b-8a77-d12c09286e56,ABARROTES Y CARNICERA EL CHILIN,arevalorocio987@gmail.com,H9QS6CVX5,2023-02-01,301.00,10.84,1.73,0.00,0.00,...,0.00,0.00,NaN,288.43,DAILY,2023-02-01,02:00:38,2023-02-01,02:00:38,SETTLEMENT 2023-02-01.csv
2,a38189fc-99b4-4320-a53d-37b18ca37e20,STUDIO,gabarr54@gmail.com,N48ZF2BQY,2023-02-01,492.34,17.72,2.84,0.00,0.00,...,0.00,0.00,NaN,471.78,DAILY,2023-02-01,02:00:38,2023-02-01,02:00:38,SETTLEMENT 2023-02-01.csv
3,0dfd920b-c2b3-43dd-9108-ec285db21f1e,MARESH,Maresh20221@outlook.com,SDVNZCH5S,2023-02-01,92.56,3.33,0.53,0.00,0.00,...,0.00,0.00,NaN,88.70,DAILY,2023-02-01,02:00:38,2023-02-01,02:00:38,SETTLEMENT 2023-02-01.csv
4,1b103437-7cd3-4774-817f-d68bfc6ebb05,FRUTAS Y VERDURAS DE LA ESQUINA,juanluis1890@icloud.com,5GP9V5LPK,2023-02-01,65.65,2.36,0.38,0.00,0.00,...,0.00,0.00,NaN,62.91,DAILY,2023-02-01,02:00:39,2023-02-01,02:00:39,SETTLEMENT 2023-02-01.csv

In [4]:
cum_1.shape

(2414063, 26)

In [5]:
cum_distinct_0 = cum_1[(cum_1['total_due'] != 0)]
cum_distinct_0.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_released,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name
0,f2a4c65c-7b5b-45a1-ac0d-063f82222703,HAPINESS,nmiriam234@yahoo.com.mx,BLFCPR555,2023-02-01,392.00,14.11,2.26,0.00,0.00,...,0.00,0.00,NaN,379.63,DAILY,2023-02-01,02:00:38,2023-02-01,02:00:38,SETTLEMENT 2023-02-01.csv
1,285e56bc-330e-427b-8a77-d12c09286e56,ABARROTES Y CARNICERA EL CHILIN,arevalorocio987@gmail.com,H9QS6CVX5,2023-02-01,301.00,10.84,1.73,0.00,0.00,...,0.00,0.00,NaN,288.43,DAILY,2023-02-01,02:00:38,2023-02-01,02:00:38,SETTLEMENT 2023-02-01.csv
2,a38189fc-99b4-4320-a53d-37b18ca37e20,STUDIO,gabarr54@gmail.com,N48ZF2BQY,2023-02-01,492.34,17.72,2.84,0.00,0.00,...,0.00,0.00,NaN,471.78,DAILY,2023-02-01,02:00:38,2023-02-01,02:00:38,SETTLEMENT 2023-02-01.csv
3,0dfd920b-c2b3-43dd-9108-ec285db21f1e,MARESH,Maresh20221@outlook.com,SDVNZCH5S,2023-02-01,92.56,3.33,0.53,0.00,0.00,...,0.00,0.00,NaN,88.70,DAILY,2023-02-01,02:00:38,2023-02-01,02:00:38,SETTLEMENT 2023-02-01.csv
4,1b103437-7cd3-4774-817f-d68bfc6ebb05,FRUTAS Y VERDURAS DE LA ESQUINA,juanluis1890@icloud.com,5GP9V5LPK,2023-02-01,65.65,2.36,0.38,0.00,0.00,...,0.00,0.00,NaN,62.91,DAILY,2023-02-01,02:00:39,2023-02-01,02:00:39,SETTLEMENT 2023-02-01.csv

In [6]:
cum_distinct_0.shape

(2413282, 26)

#### PAGOS DE DISPERSIONES

In [7]:
pagos_dia_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2023\02. FEBRERO\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
pagos_dia_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230201.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230202.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230203.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230204.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230205.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230206.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230207.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230208.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230209.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230210.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230211.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230212.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230213.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230214.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230215.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230216.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230217.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230218.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230219.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230220.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230221.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230222.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230223.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230224.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230225.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230226.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230227.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES\\Dispersión-20230228.xlsx']

In [8]:
pagos_1 = pd.concat([pd.read_excel(f,sheet_name='Swap del día').assign(file_name=os.path.basename(f)) for f in pagos_dia_files_1])
pagos_1['date_file'] = pagos_1["file_name"].str[-13:-5]
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'], format='%Y%m%d').dt.date
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'])
pagos_1.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_1['report_date_local']= pd.to_datetime(pagos_1['report_date_local']) 
pagos_1.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file
0,DAILY,01f97d46-9e77-4281-9631-cfe28e6c318c,Centro de Prevención de Enfermedades Cardiovas...,pbgerardo@prodigy.net.mx,KS75VKD5H,2023-02-01,958.24,Pago del día,BANAMEX,Gerardo Pérez Bustamante,2610068280531305,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01
63758,DAILY,ab4874e4-2694-4a1d-a435-251cd9c2dc92,Pinturas Vazquez,pinturasvazquez319@gmail.com,NCT54Y6Q5,2023-02-01,359.34,Pago del día,BANCOPPEL,Isabel Cristina Esquivel Sias,137150104517778450,PAID,"2023-02-01,2023020140014 HDH0001414954680,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01
63757,DAILY,ab4817be-6a4e-41c7-b856-553ce5ba2e72,BSTRONG SUPLEMENTOS,car15@yahoo.com,ZWC9YZXRK,2023-02-01,958.24,Pago del día,BBVA BANCOMER,carlos vazquez,12370029363861562,PAID,"2023-02-01,2023020140014 HDH0001414954600,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01
63756,DAILY,ab47ec94-79c7-4cd6-978b-f10f31551808,C O JONES,ocanaroberto@ymail.com,P67XK8FKM,2023-02-01,"3,480.13",Pago del día,SCOTIABANK,Roberto Ocana Salado,44695256045618672,PAID,"2023-02-01,2023020140014 HDH0001414954520,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01
63755,DAILY,ab47bcb4-d6d0-4c86-8fec-02fb896b14ee,El Asadero,gpecc60@hotmail.com,VBCHYBTL4,2023-02-01,"4,717.15",Pago del día,BANAMEX,Maria Guadalupe Castaneda Cardenas,2744039478010300,PAID,"2023-02-01,2023020140014 HDH0001414954460,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01

In [9]:
pagos_1.shape

(2668293, 17)

In [10]:
pagos_1['report_date_local'].unique()

array(['2023-02-01T00:00:00.000000000', '2023-01-30T00:00:00.000000000',
       '2023-01-29T00:00:00.000000000', '2023-01-28T00:00:00.000000000',
       '2023-01-27T00:00:00.000000000', '2023-01-20T00:00:00.000000000',
       '2023-01-31T00:00:00.000000000', '2023-01-23T00:00:00.000000000',
       '2023-01-10T00:00:00.000000000', '2022-10-23T00:00:00.000000000',
       '2023-01-18T00:00:00.000000000', '2021-12-03T00:00:00.000000000',
       '2023-01-25T00:00:00.000000000', '2023-01-24T00:00:00.000000000',
       '2023-01-22T00:00:00.000000000', '2023-01-21T00:00:00.000000000',
       '2023-01-19T00:00:00.000000000', '2023-01-26T00:00:00.000000000',
       '2023-01-17T00:00:00.000000000', '2023-01-13T00:00:00.000000000',
       '2022-12-07T00:00:00.000000000', '2023-01-15T00:00:00.000000000',
       '2023-01-12T00:00:00.000000000', '2022-12-04T00:00:00.000000000',
       '2022-12-25T00:00:00.000000000', '2023-01-16T00:00:00.000000000',
       '2022-12-30T00:00:00.000000000', '2022-12-29T00:00:00.000000000',
       '2022-12-28T00:00:00.000000000', '2022-12-27T00:00:00.000000000',
       '2022-12-24T00:00:00.000000000', '2022-12-23T00:00:00.000000000',
       '2022-12-22T00:00:00.000000000', '2022-12-21T00:00:00.000000000',
       '2022-12-17T00:00:00.000000000', '2022-12-16T00:00:00.000000000',
       '2022-11-26T00:00:00.000000000', '2023-01-14T00:00:00.000000000',
       '2022-11-09T00:00:00.000000000', '2022-12-18T00:00:00.000000000',
       '2023-01-11T00:00:00.000000000', '2022-12-15T00:00:00.000000000',
       '2022-12-14T00:00:00.000000000', '2022-11-18T00:00:00.000000000',
       '2022-10-31T00:00:00.000000000', '2022-11-24T00:00:00.000000000',
       '2022-11-10T00:00:00.000000000', '2023-01-03T00:00:00.000000000',
       '2021-06-26T00:00:00.000000000', '2021-06-25T00:00:00.000000000',
       '2021-06-20T00:00:00.000000000', '2022-10-09T00:00:00.000000000',
       '2022-09-12T00:00:00.000000000', '2022-09-11T00:00:00.000000000',
       '2022-12-26T00:00:00.000000000', '2022-12-20T00:00:00.000000000',
       '2022-11-30T00:00:00.000000000', '2022-12-31T00:00:00.000000000',
       '2023-01-09T00:00:00.000000000', '2023-01-08T00:00:00.000000000',
       '2023-01-07T00:00:00.000000000', '2023-01-06T00:00:00.000000000',
       '2022-11-01T00:00:00.000000000', '2022-12-05T00:00:00.000000000',
       '2022-04-25T00:00:00.000000000', '2022-12-19T00:00:00.000000000',
       '2021-05-27T00:00:00.000000000', '2022-12-13T00:00:00.000000000',
       '2021-09-07T00:00:00.000000000', '2022-04-22T00:00:00.000000000',
       '2022-03-05T00:00:00.000000000', '2021-10-23T00:00:00.000000000',
       '2021-02-27T00:00:00.000000000', '2021-02-22T00:00:00.000000000',
       '2021-02-15T00:00:00.000000000', '2021-02-05T00:00:00.000000000',
       '2021-02-02T00:00:00.000000000', '2022-07-17T00:00:00.000000000',
       '2022-07-18T00:00:00.000000000', '2022-11-08T00:00:00.000000000',
       '2022-11-06T00:00:00.000000000', '2022-11-05T00:00:00.000000000',
       '2022-10-28T00:00:00.000000000', '2022-10-25T00:00:00.000000000',
       '2022-10-22T00:00:00.000000000', '2022-12-12T00:00:00.000000000',
       '2022-11-27T00:00:00.000000000', '2022-11-21T00:00:00.000000000',
       '2022-11-14T00:00:00.000000000', '2022-11-07T00:00:00.000000000',
       '2022-12-11T00:00:00.000000000', '2022-12-09T00:00:00.000000000',
       '2022-12-08T00:00:00.000000000', '2022-12-06T00:00:00.000000000',
       '2022-12-10T00:00:00.000000000', '2022-10-26T00:00:00.000000000',
       '2022-10-27T00:00:00.000000000', '2023-02-02T00:00:00.000000000',
       '2021-11-30T00:00:00.000000000', '2022-09-28T00:00:00.000000000',
       '2022-11-13T00:00:00.000000000', '2022-11-11T00:00:00.000000000',
       '2022-07-30T00:00:00.000000000', '2022-04-24T00:00:00.000000000',
       '2022-04-21T00:00:00.000000000', '2022-10-19T00:00:00.000000000',
       '2022-10-18T00:00:00.000000000', '2022-10-15T00:00:00.000000000',
       '2023-01-05T00:00:00.000000000', '2022-11-29T00:00:00.000000000',
       '2022-11-28T00:00:00.000000000', '2022-06-10T00:00:00.000000000',
       '2022-06-25T00:00:00.000000000', '2022-10-30T00:00:00.000000000',
       '2022-10-21T00:00:00.000000000', '2022-09-18T00:00:00.000000000',
       '2022-09-13T00:00:00.000000000', '2022-09-05T00:00:00.000000000',
       '2022-09-02T00:00:00.000000000', '2022-06-11T00:00:00.000000000',
       '2022-08-31T00:00:00.000000000', '2022-08-17T00:00:00.000000000',
       '2022-08-01T00:00:00.000000000', '2022-07-28T00:00:00.000000000',
       '2022-07-24T00:00:00.000000000', '2022-07-19T00:00:00.000000000',
       '2022-07-07T00:00:00.000000000', '2022-07-04T00:00:00.000000000',
       '2022-06-26T00:00:00.000000000', '2022-08-23T00:00:00.000000000',
       '2022-03-27T00:00:00.000000000', '2022-08-30T00:00:00.000000000',
       '2022-08-28T00:00:00.000000000', '2022-05-13T00:00:00.000000000',
       '2021-11-05T00:00:00.000000000', '2022-11-17T00:00:00.000000000',
       '2022-11-22T00:00:00.000000000', '2023-01-02T00:00:00.000000000',
       '2022-11-25T00:00:00.000000000', '2022-11-23T00:00:00.000000000',
       '2022-10-29T00:00:00.000000000', '2022-09-29T00:00:00.000000000',
       '2022-09-27T00:00:00.000000000', '2022-09-24T00:00:00.000000000',
       '2022-09-23T00:00:00.000000000', '2022-09-22T00:00:00.000000000',
       '2022-09-25T00:00:00.000000000', '2022-09-30T00:00:00.000000000',
       '2021-06-27T00:00:00.000000000', '2022-03-21T00:00:00.000000000',
       '2022-03-20T00:00:00.000000000', '2022-11-04T00:00:00.000000000',
       '2022-08-29T00:00:00.000000000', '2022-09-26T00:00:00.000000000',
       '2022-05-29T00:00:00.000000000', '2022-05-23T00:00:00.000000000',
       '2021-11-29T00:00:00.000000000', '2022-04-29T00:00:00.000000000',
       '2022-04-28T00:00:00.000000000', '2022-04-27T00:00:00.000000000',
       '2023-01-04T00:00:00.000000000', '2023-01-01T00:00:00.000000000',
       '2022-08-27T00:00:00.000000000', '2022-08-25T00:00:00.000000000',
       '2022-08-24T00:00:00.000000000', '2022-08-21T00:00:00.000000000',
       '2022-08-22T00:00:00.000000000', '2022-10-04T00:00:00.000000000',
       '2022-10-02T00:00:00.000000000', '2022-12-03T00:00:00.000000000',
       '2022-11-20T00:00:00.000000000', '2022-11-16T00:00:00.000000000',
       '2022-10-16T00:00:00.000000000', '2022-10-14T00:00:00.000000000',
       '2022-10-11T00:00:00.000000000', '2022-10-06T00:00:00.000000000',
       '2021-09-15T00:00:00.000000000', '2022-01-30T00:00:00.000000000',
       '2022-09-20T00:00:00.000000000', '2022-09-19T00:00:00.000000000',
       '2022-09-15T00:00:00.000000000', '2022-09-10T00:00:00.000000000',
       '2022-09-07T00:00:00.000000000', '2022-08-15T00:00:00.000000000',
       '2022-08-20T00:00:00.000000000', '2022-08-18T00:00:00.000000000',
       '2022-08-16T00:00:00.000000000', '2022-12-02T00:00:00.000000000',
       '2022-05-27T00:00:00.000000000', '2021-12-31T00:00:00.000000000',
       '2021-11-28T00:00:00.000000000', '2022-05-26T00:00:00.000000000',
       '2022-05-24T00:00:00.000000000', '2022-07-31T00:00:00.000000000',
       '2022-07-03T00:00:00.000000000', '2021-09-08T00:00:00.000000000',
       '2021-09-14T00:00:00.000000000', '2021-09-16T00:00:00.000000000',
       '2021-09-26T00:00:00.000000000', '2021-09-23T00:00:00.000000000',
       '2021-09-22T00:00:00.000000000', '2021-09-21T00:00:00.000000000',
       '2021-09-20T00:00:00.000000000', '2021-09-19T00:00:00.000000000',
       '2021-09-18T00:00:00.000000000', '2021-09-17T00:00:00.000000000',
       '2023-02-03T00:00:00.000000000', '2022-08-26T00:00:00.000000000',
       '2022-01-20T00:00:00.000000000', '2022-01-19T00:00:00.000000000',
       '2021-11-13T00:00:00.000000000', '2021-10-18T00:00:00.000000000',
       '2022-08-05T00:00:00.000000000', '2022-10-24T00:00:00.000000000',
       '2022-10-20T00:00:00.000000000', '2022-08-19T00:00:00.000000000',
       '2022-01-27T00:00:00.000000000', '2022-04-11T00:00:00.000000000',
       '2020-07-19T00:00:00.000000000', '2022-05-31T00:00:00.000000000',
       '2022-05-25T00:00:00.000000000', '2021-12-24T00:00:00.000000000',
       '2022-01-28T00:00:00.000000000', '2022-04-06T00:00:00.000000000',
       '2022-10-17T00:00:00.000000000', '2022-10-08T00:00:00.000000000',
       '2022-10-07T00:00:00.000000000', '2022-09-14T00:00:00.000000000',
       '2022-03-30T00:00:00.000000000', '2022-10-03T00:00:00.000000000',
       '2022-01-23T00:00:00.000000000', '2022-01-22T00:00:00.000000000',
       '2021-12-25T00:00:00.000000000', '2023-02-04T00:00:00.000000000',
       '2021-11-09T00:00:00.000000000', '2021-12-02T00:00:00.000000000',
       '2020-01-06T00:00:00.000000000', '2022-03-16T00:00:00.000000000',
       '2021-12-28T00:00:00.000000000', '2022-12-01T00:00:00.000000000',
       '2022-11-19T00:00:00.000000000', '2022-07-29T00:00:00.000000000',
       '2022-07-27T00:00:00.000000000', '2022-06-29T00:00:00.000000000',
       '2019-12-26T00:00:00.000000000', '2022-07-26T00:00:00.000000000',
       '2022-07-25T00:00:00.000000000', '2022-01-11T00:00:00.000000000',
       '2021-12-30T00:00:00.000000000', '2021-12-23T00:00:00.000000000',
       '2021-11-11T00:00:00.000000000', '2021-09-11T00:00:00.000000000',
       '2021-09-10T00:00:00.000000000', '2022-08-12T00:00:00.000000000',
       '2019-12-24T00:00:00.000000000', '2022-10-13T00:00:00.000000000',
       '2022-06-30T00:00:00.000000000', '2021-10-19T00:00:00.000000000',
       '2023-02-05T00:00:00.000000000', '2022-07-01T00:00:00.000000000',
       '2022-06-19T00:00:00.000000000', '2022-08-13T00:00:00.000000000',
       '2022-08-11T00:00:00.000000000', '2021-09-02T00:00:00.000000000',
       '2021-04-30T00:00:00.000000000', '2021-02-26T00:00:00.000000000',
       '2021-02-25T00:00:00.000000000', '2021-02-21T00:00:00.000000000',
       '2021-02-03T00:00:00.000000000', '2019-04-30T00:00:00.000000000',
       '2022-11-02T00:00:00.000000000', '2022-07-21T00:00:00.000000000',
       '2022-03-29T00:00:00.000000000', '2022-07-08T00:00:00.000000000',
       '2022-09-08T00:00:00.000000000', '2022-09-06T00:00:00.000000000',
       '2023-02-06T00:00:00.000000000', '2020-12-28T00:00:00.000000000',
       '2021-12-07T00:00:00.000000000', '2021-08-27T00:00:00.000000000',
       '2019-11-25T00:00:00.000000000', '2022-09-16T00:00:00.000000000',
       '2022-07-20T00:00:00.000000000', '2022-07-12T00:00:00.000000000',
       '2022-01-21T00:00:00.000000000', '2023-02-07T00:00:00.000000000',
       '2021-08-30T00:00:00.000000000', '2022-08-07T00:00:00.000000000',
       '2021-10-30T00:00:00.000000000', '2022-10-01T00:00:00.000000000',
       '2021-06-21T00:00:00.000000000', '2023-02-08T00:00:00.000000000',
       '2021-07-18T00:00:00.000000000', '2022-07-22T00:00:00.000000000',
       '2022-10-05T00:00:00.000000000', '2022-04-01T00:00:00.000000000',
       '2021-02-04T00:00:00.000000000', '2022-07-23T00:00:00.000000000',
       '2022-05-05T00:00:00.000000000', '2023-02-09T00:00:00.000000000',
       '2022-01-07T00:00:00.000000000', '2019-12-18T00:00:00.000000000',
       '2022-06-07T00:00:00.000000000', '2022-10-12T00:00:00.000000000',
       '2022-09-09T00:00:00.000000000', '2022-08-09T00:00:00.000000000',
       '2022-08-04T00:00:00.000000000', '2022-08-03T00:00:00.000000000',
       '2022-06-03T00:00:00.000000000', '2022-05-19T00:00:00.000000000',
       '2022-05-10T00:00:00.000000000', '2022-03-31T00:00:00.000000000',
       '2021-12-11T00:00:00.000000000', '2021-12-04T00:00:00.000000000',
       '2021-11-16T00:00:00.000000000', '2021-10-06T00:00:00.000000000',
       '2021-10-04T00:00:00.000000000', '2021-09-28T00:00:00.000000000',
       '2021-09-25T00:00:00.000000000', '2022-09-21T00:00:00.000000000',
       '2022-10-10T00:00:00.000000000', '2022-09-04T00:00:00.000000000',
       '2022-09-03T00:00:00.000000000', '2022-09-01T00:00:00.000000000',
       '2022-03-26T00:00:00.000000000', '2023-02-10T00:00:00.000000000',
       '2022-06-05T00:00:00.000000000', '2022-06-04T00:00:00.000000000',
       '2020-11-21T00:00:00.000000000', '2022-11-03T00:00:00.000000000',
       '2022-06-14T00:00:00.000000000', '2022-07-13T00:00:00.000000000',
       '2022-07-05T00:00:00.000000000', '2022-06-23T00:00:00.000000000',
       '2022-06-22T00:00:00.000000000', '2022-06-16T00:00:00.000000000',
       '2022-05-12T00:00:00.000000000', '2022-04-20T00:00:00.000000000',
       '2022-04-05T00:00:00.000000000', '2022-02-15T00:00:00.000000000',
       '2022-01-04T00:00:00.000000000', '2021-12-06T00:00:00.000000000',
       '2021-08-01T00:00:00.000000000', '2022-11-15T00:00:00.000000000',
       '2021-07-13T00:00:00.000000000', '2021-10-15T00:00:00.000000000',
       '2022-01-12T00:00:00.000000000', '2023-02-11T00:00:00.000000000',
       '2022-05-20T00:00:00.000000000', '2021-08-17T00:00:00.000000000',
       '2022-03-18T00:00:00.000000000', '2021-09-24T00:00:00.000000000',
       '2021-10-16T00:00:00.000000000', '2022-07-06T00:00:00.000000000',
       '2022-05-16T00:00:00.000000000', '2021-08-28T00:00:00.000000000',
       '2023-02-12T00:00:00.000000000', '2021-10-29T00:00:00.000000000',
       '2022-06-01T00:00:00.000000000', '2023-02-13T00:00:00.000000000',
       '2022-02-02T00:00:00.000000000', '2022-01-06T00:00:00.000000000',
       '2023-02-14T00:00:00.000000000', '2020-12-19T00:00:00.000000000',
       '2022-04-10T00:00:00.000000000', '2021-01-07T00:00:00.000000000',
       '2022-04-03T00:00:00.000000000', '2022-05-11T00:00:00.000000000',
       '2022-05-07T00:00:00.000000000', '2022-04-16T00:00:00.000000000',
       '2022-04-04T00:00:00.000000000', '2022-07-09T00:00:00.000000000',
       '2023-02-15T00:00:00.000000000', '2022-01-25T00:00:00.000000000',
       '2022-01-10T00:00:00.000000000', '2022-07-02T00:00:00.000000000',
       '2022-07-10T00:00:00.000000000', '2022-06-28T00:00:00.000000000',
       '2022-06-27T00:00:00.000000000', '2022-06-24T00:00:00.000000000',
       '2022-06-21T00:00:00.000000000', '2022-06-20T00:00:00.000000000',
       '2022-07-11T00:00:00.000000000', '2022-07-14T00:00:00.000000000',
       '2022-08-02T00:00:00.000000000', '2022-07-16T00:00:00.000000000',
       '2022-07-15T00:00:00.000000000', '2022-08-06T00:00:00.000000000',
       '2022-06-18T00:00:00.000000000', '2022-05-21T00:00:00.000000000',
       '2022-05-18T00:00:00.000000000', '2022-05-17T00:00:00.000000000',
       '2022-05-15T00:00:00.000000000', '2022-05-14T00:00:00.000000000',
       '2022-05-22T00:00:00.000000000', '2022-05-09T00:00:00.000000000',
       '2022-05-08T00:00:00.000000000', '2022-05-06T00:00:00.000000000',
       '2022-05-04T00:00:00.000000000', '2022-04-30T00:00:00.000000000',
       '2022-06-15T00:00:00.000000000', '2022-06-13T00:00:00.000000000',
       '2022-06-12T00:00:00.000000000', '2022-06-09T00:00:00.000000000',
       '2022-06-08T00:00:00.000000000', '2022-06-06T00:00:00.000000000',
       '2022-06-02T00:00:00.000000000', '2022-05-30T00:00:00.000000000',
       '2022-05-28T00:00:00.000000000', '2022-06-17T00:00:00.000000000',
       '2022-08-08T00:00:00.000000000', '2022-11-12T00:00:00.000000000',
       '2022-08-14T00:00:00.000000000', '2022-08-10T00:00:00.000000000',
       '2022-09-17T00:00:00.000000000', '2022-04-26T00:00:00.000000000',
       '2021-11-26T00:00:00.000000000', '2021-11-25T00:00:00.000000000',
       '2021-11-24T00:00:00.000000000', '2021-11-23T00:00:00.000000000',
       '2021-11-17T00:00:00.000000000', '2021-11-15T00:00:00.000000000',
       '2021-11-14T00:00:00.000000000', '2021-11-10T00:00:00.000000000',
       '2021-11-04T00:00:00.000000000', '2021-11-03T00:00:00.000000000',
       '2021-11-27T00:00:00.000000000', '2022-03-25T00:00:00.000000000',
       '2022-03-24T00:00:00.000000000', '2022-03-22T00:00:00.000000000',
       '2022-03-19T00:00:00.000000000', '2022-03-17T00:00:00.000000000',
       '2022-03-28T00:00:00.000000000', '2022-03-11T00:00:00.000000000',
       '2022-03-10T00:00:00.000000000', '2022-03-04T00:00:00.000000000',
       '2022-03-03T00:00:00.000000000', '2022-03-02T00:00:00.000000000',
       '2022-03-01T00:00:00.000000000', '2022-02-27T00:00:00.000000000',
       '2022-02-25T00:00:00.000000000', '2022-02-23T00:00:00.000000000',
       '2022-03-13T00:00:00.000000000', '2022-04-23T00:00:00.000000000',
       '2022-04-19T00:00:00.000000000', '2022-04-18T00:00:00.000000000',
       '2022-04-17T00:00:00.000000000', '2022-04-15T00:00:00.000000000',
       '2022-04-14T00:00:00.000000000', '2022-04-13T00:00:00.000000000',
       '2022-04-09T00:00:00.000000000', '2022-04-08T00:00:00.000000000',
       '2022-04-07T00:00:00.000000000', '2022-04-02T00:00:00.000000000',
       '2022-02-22T00:00:00.000000000', '2022-02-21T00:00:00.000000000',
       '2022-02-18T00:00:00.000000000', '2022-02-16T00:00:00.000000000',
       '2022-01-09T00:00:00.000000000', '2022-01-05T00:00:00.000000000',
       '2022-01-02T00:00:00.000000000', '2022-01-01T00:00:00.000000000',
       '2021-12-29T00:00:00.000000000', '2021-12-27T00:00:00.000000000',
       '2021-12-26T00:00:00.000000000', '2021-12-18T00:00:00.000000000',
       '2021-12-17T00:00:00.000000000', '2021-12-15T00:00:00.000000000',
       '2021-12-14T00:00:00.000000000', '2021-12-12T00:00:00.000000000',
       '2021-12-10T00:00:00.000000000', '2021-12-09T00:00:00.000000000',
       '2021-12-05T00:00:00.000000000', '2022-01-13T00:00:00.000000000',
       '2021-12-01T00:00:00.000000000', '2022-01-14T00:00:00.000000000',
       '2022-01-18T00:00:00.000000000', '2022-02-11T00:00:00.000000000',
       '2022-02-10T00:00:00.000000000', '2022-02-09T00:00:00.000000000',
       '2022-02-08T00:00:00.000000000', '2022-02-07T00:00:00.000000000',
       '2022-02-06T00:00:00.000000000', '2022-02-05T00:00:00.000000000',
       '2022-02-04T00:00:00.000000000', '2022-02-03T00:00:00.000000000',
       '2022-02-01T00:00:00.000000000', '2022-01-31T00:00:00.000000000',
       '2022-01-29T00:00:00.000000000', '2022-01-26T00:00:00.000000000',
       '2022-01-24T00:00:00.000000000', '2022-01-15T00:00:00.000000000',
       '2020-08-26T00:00:00.000000000', '2020-08-23T00:00:00.000000000',
       '2020-08-21T00:00:00.000000000', '2020-08-20T00:00:00.000000000',
       '2023-02-16T00:00:00.000000000', '2021-10-26T00:00:00.000000000',
       '2023-02-17T00:00:00.000000000', '2021-12-22T00:00:00.000000000',
       '2023-02-18T00:00:00.000000000', '2020-12-31T00:00:00.000000000',
       '2020-12-30T00:00:00.000000000', '2020-09-20T00:00:00.000000000',
       '2020-09-01T00:00:00.000000000', '2020-08-24T00:00:00.000000000',
       '2023-02-19T00:00:00.000000000', '2021-03-13T00:00:00.000000000',
       '2023-02-20T00:00:00.000000000', '2020-03-19T00:00:00.000000000',
       '2021-07-25T00:00:00.000000000', '2022-05-03T00:00:00.000000000',
       '2021-10-31T00:00:00.000000000', '2023-02-21T00:00:00.000000000',
       '2021-01-14T00:00:00.000000000', '2023-02-22T00:00:00.000000000',
       '2023-02-23T00:00:00.000000000', '2021-11-02T00:00:00.000000000',
       '2023-02-24T00:00:00.000000000', '2020-12-13T00:00:00.000000000',
       '2021-10-17T00:00:00.000000000', '2023-02-25T00:00:00.000000000',
       '2023-02-26T00:00:00.000000000', '2021-12-20T00:00:00.000000000',
       '2023-02-27T00:00:00.000000000', '2020-11-15T00:00:00.000000000',
       '2020-10-04T00:00:00.000000000', '2020-09-16T00:00:00.000000000',
       '2020-09-13T00:00:00.000000000', '2020-09-06T00:00:00.000000000',
       '2021-02-20T00:00:00.000000000', '2023-02-28T00:00:00.000000000',
       '2021-11-18T00:00:00.000000000', '2022-01-03T00:00:00.000000000',
       '2021-12-08T00:00:00.000000000', '2021-11-21T00:00:00.000000000',
       '2021-11-07T00:00:00.000000000', '2021-10-22T00:00:00.000000000',
       '2021-09-27T00:00:00.000000000', '2021-10-24T00:00:00.000000000',
       '2022-02-26T00:00:00.000000000'], dtype='datetime64[ns]')

#### PAGOS DUPLICADOS TRADICIONAL

In [11]:
duplicates_trad = pagos_1[pagos_1.duplicated(['report_id','date_file'] , keep=False)]
duplicates_trad['INDEX'] = duplicates_trad['report_id'] + '_' + duplicates_trad['date_file'].astype('str')
duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)
duplicates_trad.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17944\1112391532.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad['INDEX'] = duplicates_trad['report_id'] + '_' + duplicates_trad['date_file'].astype('str')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17944\1112391532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
70978,DAILY,bee9e461-26aa-4f67-a08a-926f87ea4164,Accesorios Peter,ibarraestela1942@gmail.com,DHNG588LC,2023-02-01,0.60,Pago del día,BANREGIO,Estela Ibarra,58597000032434390,PAID,"2023-02-01,2023020140014 HDH0001415570180,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,DHNG588LC_2023-02-01
95619,DAILY,bee9e461-26aa-4f67-a08a-926f87ea4164,Accesorios Peter,ibarraestela1942@gmail.com,DHNG588LC,2023-02-01,0.60,Pago del día,BANREGIO,Estela Ibarra,58597000032434390,PAID,"2023-02-01,42644264202302012117117764,40072,40...",03. Third_batch,BANORTE,Dispersión-20230201.xlsx,2023-02-01,DHNG588LC_2023-02-01
93676,DAILY,fcd91db2-bbdb-4836-8382-9b37c0bdd105,Restaurante Bar Karaoke JADE,julietacrescenciosalas@gmail.com,N76PBDZ29,2023-02-01,216.56,Pago del día,COMPARTAMOS,130855001179784821,130855001179784821,PAID,"2023-02-01,2023020140014 HDH0001415423270,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,N76PBDZ29_2023-02-01
95628,DAILY,fcd91db2-bbdb-4836-8382-9b37c0bdd105,Restaurante Bar Karaoke JADE,julietacrescenciosalas@gmail.com,N76PBDZ29,2023-02-01,216.56,Pago del día,COMPARTAMOS,130855001179784821,130855001179784821,PAID,"2023-02-01,42644264202302012117117814,40072,40...",03. Third_batch,BANORTE,Dispersión-20230201.xlsx,2023-02-01,N76PBDZ29_2023-02-01
95543,DAILY,576e0c6e-15b0-4f54-87ef-b89d3f195bc0,EPQ CHALCO,epqchalco@gmail.com,P9TH6J3VH,2023-02-01,188.78,Pago del día,BANAMEX,Elastomeros Polimeros quimicos y derivados sa ...,2180700479019853,PAID,"2023-02-01,42644264202302012117117754,40072,40...",03. Third_batch,BANORTE,Dispersión-20230201.xlsx,2023-02-01,P9TH6J3VH_2023-02-01

In [12]:
duplicates_trad.shape

(792, 18)

In [13]:
duplicates_trad['status'].unique()

array(['PAID', 'ERROR'], dtype=object)

In [14]:
duplicates_trad.drop_duplicates(subset="INDEX", keep='last', inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17944\494774456.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.drop_duplicates(subset="INDEX", keep='last', inplace=True)

In [15]:
duplicates_trad.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
95619,DAILY,bee9e461-26aa-4f67-a08a-926f87ea4164,Accesorios Peter,ibarraestela1942@gmail.com,DHNG588LC,2023-02-01,0.60,Pago del día,BANREGIO,Estela Ibarra,58597000032434390,PAID,"2023-02-01,42644264202302012117117764,40072,40...",03. Third_batch,BANORTE,Dispersión-20230201.xlsx,2023-02-01,DHNG588LC_2023-02-01
95628,DAILY,fcd91db2-bbdb-4836-8382-9b37c0bdd105,Restaurante Bar Karaoke JADE,julietacrescenciosalas@gmail.com,N76PBDZ29,2023-02-01,216.56,Pago del día,COMPARTAMOS,130855001179784821,130855001179784821,PAID,"2023-02-01,42644264202302012117117814,40072,40...",03. Third_batch,BANORTE,Dispersión-20230201.xlsx,2023-02-01,N76PBDZ29_2023-02-01
32713,DAILY,576e0c6e-15b0-4f54-87ef-b89d3f195bc0,EPQ CHALCO,epqchalco@gmail.com,P9TH6J3VH,2023-02-01,188.78,Pago del día,BANAMEX,Elastomeros Polimeros quimicos y derivados sa ...,2180700479019853,PAID,"2023-02-01,2023020140014 HDH0001415711140,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,P9TH6J3VH_2023-02-01
46963,DAILY,7e0fb0dd-20f0-4ea5-b0e0-3d42da7cba0b,Julio,j.cesar_1973@hotmail.com,TZ98WT77T,2023-02-01,"28,756.78",Pago del día,BBVA BANCOMER,Julio Cesar Cortez Cavazos,12580015154392853,PAID,"2023-02-01,2023020140014 HDH0001415200920,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,TZ98WT77T_2023-02-01
182,DAILY,d2d62c7d-4bdb-4a83-ab2a-98d5a03c7d60,Tiendita Lolita,lolita.marquez.alva@gmail.com,247HXC2GK,2022-09-11,754.18,Reprogramación,BANORTE/IXE,Dolores Tomasa Márquez Álvarez,72580011094089396,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20230202.xlsx,2023-02-02,247HXC2GK_2023-02-02

In [16]:
duplicates_trad.shape

(396, 18)

In [17]:
pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_trad.reset_index(drop=False, inplace=True)
pivot_duplicates_trad.head(10)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17944\739626261.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17944\739626261.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],

           tipo  date_file        sum       len
                            total_due total_due
0  Pago del día 2023-02-01  29,162.72         4
1  Pago del día 2023-02-02  18,716.86         8
2  Pago del día 2023-02-03  18,827.07         9
3  Pago del día 2023-02-06   3,848.76         3
4  Pago del día 2023-02-07  15,781.40        10
5  Pago del día 2023-02-08  18,237.65         7
6  Pago del día 2023-02-10   4,571.74         9
7  Pago del día 2023-02-13 117,663.93        15
8  Pago del día 2023-02-14  29,348.64        19
9  Pago del día 2023-02-15  62,864.66        19

In [18]:
pivot_duplicates_trad.shape

(31, 4)

#### FAST PAYMENTS

In [19]:
fp_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2023\02. FEBRERO\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx', recursive=False)
fp_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\02. FEBRERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-02-28.xlsx']

In [20]:
pagos_2 = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS').assign(file_name=os.path.basename(f)) for f in fp_files_1])
pagos_2['date_file'] = pagos_2["file_name"].str[-15:-4]
pagos_2['date_file']= pd.to_datetime(pagos_2['date_file']) 
pagos_2.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_2['report_date_local']= pd.to_datetime(pagos_2['report_date_local']) 
pagos_2.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file
0,LEDGER_FP,e5c14da5-f840-4d3b-9562-15545f8dae39,NaN,NaN,AHVT7L9VW,2023-02-01,"42,173.10",Pago del día,ASP INTEGRA OPC,Maria Esther Gonzalez Gomez,659802020000238362,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-02-01.xlsx,2023-02-01
2573,LEDGER_FP,8756e590-83dd-4e67-ae63-055002574abe,NaN,NaN,AZXLZ9QWG,2023-02-01,166.01,Pago del día,ASP INTEGRA OPC,Gilbert Franyutti Casados,659802020000507530,PAID,"2023-02-01,1860F89D6D6E4E5B,40002,90659,659802...",05. Fifth_batch,BANAMEX,Dispersión-FP 2023-02-01.xlsx,2023-02-01
2574,LEDGER_FP,87674ffa-755e-41c8-bcc8-151fd62701fc,NaN,NaN,AWT6MX4XH,2023-02-01,"1,101.98",Pago del día,ASP INTEGRA OPC,Jose Luis Martinez Ruvalcaba,659802020000577298,PAID,"2023-02-01,1860F89D452286A1,40002,90659,659802...",05. Fifth_batch,BANAMEX,Dispersión-FP 2023-02-01.xlsx,2023-02-01
2575,LEDGER_FP,88e7ae3e-8428-44aa-be2c-8cd98f9577bb,NaN,NaN,AF5KFHH4C,2023-02-01,622.86,Pago del día,ASP INTEGRA OPC,Liliana Cristina Diaz Garcia,659802020000181998,PAID,"2023-02-01,1860F89CE2792312,40002,90659,659802...",05. Fifth_batch,BANAMEX,Dispersión-FP 2023-02-01.xlsx,2023-02-01
2576,LEDGER_FP,88ee1148-dfbe-43c7-b519-a442e9b5684f,NaN,NaN,AHXH4QWL7,2023-02-01,"1,428.73",Pago del día,ASP INTEGRA OPC,Antonio Salazar Calixto,659802020000180892,PAID,"2023-02-01,1860F89D0FAFE651,40002,90659,659802...",05. Fifth_batch,BANAMEX,Dispersión-FP 2023-02-01.xlsx,2023-02-01

In [21]:
pagos_2.shape

(107116, 17)

#### PAGOS REPETIDOS FAST PAYMENTS

In [22]:
duplicates_fp = pagos_2[pagos_2.duplicated(['report_id','date_file'] , keep=False)]
duplicates_fp['INDEX'] = duplicates_fp['report_id'] + '_' + duplicates_fp['date_file'].astype('str')
duplicates_fp.sort_values(by=['date_file','report_id','Batch_time'],inplace=True)
duplicates_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17944\3928666323.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp['INDEX'] = duplicates_fp['report_id'] + '_' + duplicates_fp['date_file'].astype('str')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17944\3928666323.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.sort_values(by=['date_file','report_id','Batch_time'],inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
52,INSTANT,e4a77396-ddb9-48d6-939f-0a3a1978c40f,Mi Tiendita Smart,charronegro85@outlook.com,4DLH9Z3G6,2022-05-27,121.68,Reprogramación,ASP INTEGRA OPC,Maria Fernanda Santos Martinez,659802020000435958,ERROR,NaN,05. Fifth_batch,BANAMEX,Dispersión-FP 2023-02-01.xlsx,2023-02-01,4DLH9Z3G6_2023-02-01
77,INSTANT,e4a77396-ddb9-48d6-939f-0a3a1978c40f,Mi Tiendita Smart,charronegro85@outlook.com,4DLH9Z3G6,2022-05-27,121.68,Reprogramación,ASP INTEGRA OPC,Maria Fernanda Santos Martinez,659802020000435958,ERROR,NaN,06. Sixth_batch,BANAMEX,Dispersión-FP 2023-02-01.xlsx,2023-02-01,4DLH9Z3G6_2023-02-01
2891,INSTANT,e4a77396-ddb9-48d6-939f-0a3a1978c40f,Mi Tiendita Smart,charronegro85@outlook.com,66NR9MJDK,2022-11-28,164.33,Reprogramación,ASP INTEGRA OPC,Maria Fernanda Santos Martinez,659802020000435958,PAID,"2023-02-01,186100962C885EDF,40002,90659,659802...",05. Fifth_batch,BANAMEX,Dispersión-FP 2023-02-01.xlsx,2023-02-01,66NR9MJDK_2023-02-01
3774,INSTANT,e4a77396-ddb9-48d6-939f-0a3a1978c40f,Mi Tiendita Smart,charronegro85@outlook.com,66NR9MJDK,2022-11-28,164.33,Reprogramación,ASP INTEGRA OPC,Maria Fernanda Santos Martinez,659802020000435958,PAID,"2023-02-01,186100962C885EDF,40002,90659,659802...",06. Sixth_batch,BANAMEX,Dispersión-FP 2023-02-01.xlsx,2023-02-01,66NR9MJDK_2023-02-01
2877,INSTANT,e4a77396-ddb9-48d6-939f-0a3a1978c40f,Mi Tiendita Smart,charronegro85@outlook.com,9SMWDM78Y,2022-10-31,461.38,Reprogramación,ASP INTEGRA OPC,Maria Fernanda Santos Martinez,659802020000435958,PAID,"2023-02-01,186100974CDE9967,40002,90659,659802...",05. Fifth_batch,BANAMEX,Dispersión-FP 2023-02-01.xlsx,2023-02-01,9SMWDM78Y_2023-02-01

In [23]:
duplicates_fp.shape

(24, 18)

In [24]:
duplicates_fp.drop_duplicates(subset="INDEX", keep='last', inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17944\2218390481.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.drop_duplicates(subset="INDEX", keep='last', inplace=True)

In [25]:
duplicates_fp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
77,INSTANT,e4a77396-ddb9-48d6-939f-0a3a1978c40f,Mi Tiendita Smart,charronegro85@outlook.com,4DLH9Z3G6,2022-05-27,121.68,Reprogramación,ASP INTEGRA OPC,Maria Fernanda Santos Martinez,659802020000435958,ERROR,NaN,06. Sixth_batch,BANAMEX,Dispersión-FP 2023-02-01.xlsx,2023-02-01,4DLH9Z3G6_2023-02-01
3774,INSTANT,e4a77396-ddb9-48d6-939f-0a3a1978c40f,Mi Tiendita Smart,charronegro85@outlook.com,66NR9MJDK,2022-11-28,164.33,Reprogramación,ASP INTEGRA OPC,Maria Fernanda Santos Martinez,659802020000435958,PAID,"2023-02-01,186100962C885EDF,40002,90659,659802...",06. Sixth_batch,BANAMEX,Dispersión-FP 2023-02-01.xlsx,2023-02-01,66NR9MJDK_2023-02-01
3773,INSTANT,e4a77396-ddb9-48d6-939f-0a3a1978c40f,Mi Tiendita Smart,charronegro85@outlook.com,9SMWDM78Y,2022-10-31,461.38,Reprogramación,ASP INTEGRA OPC,Maria Fernanda Santos Martinez,659802020000435958,PAID,"2023-02-01,186100974CDE9967,40002,90659,659802...",06. Sixth_batch,BANAMEX,Dispersión-FP 2023-02-01.xlsx,2023-02-01,9SMWDM78Y_2023-02-01
3775,INSTANT,e4a77396-ddb9-48d6-939f-0a3a1978c40f,Mi Tiendita Smart,charronegro85@outlook.com,CXFQWN3MV,2022-11-30,672.68,Reprogramación,ASP INTEGRA OPC,Maria Fernanda Santos Martinez,659802020000435958,PAID,"2023-02-01,186100979F7D1D74,40002,90659,659802...",06. Sixth_batch,BANAMEX,Dispersión-FP 2023-02-01.xlsx,2023-02-01,CXFQWN3MV_2023-02-01
76,INSTANT,e4a77396-ddb9-48d6-939f-0a3a1978c40f,Mi Tiendita Smart,charronegro85@outlook.com,GTT4PLQBC,2022-05-25,190.70,Reprogramación,ASP INTEGRA OPC,Maria Fernanda Santos Martinez,659802020000435958,ERROR,NaN,06. Sixth_batch,BANAMEX,Dispersión-FP 2023-02-01.xlsx,2023-02-01,GTT4PLQBC_2023-02-01

In [26]:
duplicates_fp.shape

(12, 18)

In [27]:
pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_fp.reset_index(drop=False, inplace=True)
pivot_duplicates_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17944\3187082303.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17944\3187082303.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],

             tipo  date_file       sum       len
                             total_due total_due
0    Pago del día 2023-02-09    142.87         1
1  Reprogramación 2023-02-01  3,487.90        11
2             All        NaT  3,630.77        12

In [28]:
pivot_duplicates_fp.shape

(3, 4)

In [29]:
# pivot_duplicates_fp.to_excel('DUPLICADOS FP JUNIO 2021.xlsx',index=True)

#### ALL PAGOS

In [30]:
allpagos = pd.concat([pagos_1,pagos_2])
allpagos.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
0,DAILY,01f97d46-9e77-4281-9631-cfe28e6c318c,Centro de Prevención de Enfermedades Cardiovas...,pbgerardo@prodigy.net.mx,KS75VKD5H,2023-02-01,958.24,Pago del día,BANAMEX,Gerardo Pérez Bustamante,2610068280531305,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,NaN
63758,DAILY,ab4874e4-2694-4a1d-a435-251cd9c2dc92,Pinturas Vazquez,pinturasvazquez319@gmail.com,NCT54Y6Q5,2023-02-01,359.34,Pago del día,BANCOPPEL,Isabel Cristina Esquivel Sias,137150104517778450,PAID,"2023-02-01,2023020140014 HDH0001414954680,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,NaN
63757,DAILY,ab4817be-6a4e-41c7-b856-553ce5ba2e72,BSTRONG SUPLEMENTOS,car15@yahoo.com,ZWC9YZXRK,2023-02-01,958.24,Pago del día,BBVA BANCOMER,carlos vazquez,12370029363861562,PAID,"2023-02-01,2023020140014 HDH0001414954600,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,NaN
63756,DAILY,ab47ec94-79c7-4cd6-978b-f10f31551808,C O JONES,ocanaroberto@ymail.com,P67XK8FKM,2023-02-01,"3,480.13",Pago del día,SCOTIABANK,Roberto Ocana Salado,44695256045618672,PAID,"2023-02-01,2023020140014 HDH0001414954520,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,NaN
63755,DAILY,ab47bcb4-d6d0-4c86-8fec-02fb896b14ee,El Asadero,gpecc60@hotmail.com,VBCHYBTL4,2023-02-01,"4,717.15",Pago del día,BANAMEX,Maria Guadalupe Castaneda Cardenas,2744039478010300,PAID,"2023-02-01,2023020140014 HDH0001414954460,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,NaN

In [31]:
allpagos.shape

(2775409, 18)

In [32]:
allpagos['tipo'].unique()

array(['Pago del día', 'Reprogramación'], dtype=object)

In [33]:
group_allpagos = allpagos.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_allpagos.head()

   date_file      total_due  report_id
0 2023-02-01 205,172,535.80      99500
1 2023-02-02 202,034,032.38     102279
2 2023-02-03 208,745,459.49     102549
3 2023-02-04 233,055,162.87     109107
4 2023-02-05 262,028,835.28     107103

In [34]:
group_allpagos.shape

(28, 3)

#### PAGOS DEL DIA

In [35]:
pagosdia = allpagos[(allpagos['tipo'].isin(['Pago del día']))]
pagosdia.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
0,DAILY,01f97d46-9e77-4281-9631-cfe28e6c318c,Centro de Prevención de Enfermedades Cardiovas...,pbgerardo@prodigy.net.mx,KS75VKD5H,2023-02-01,958.24,Pago del día,BANAMEX,Gerardo Pérez Bustamante,2610068280531305,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,NaN
63758,DAILY,ab4874e4-2694-4a1d-a435-251cd9c2dc92,Pinturas Vazquez,pinturasvazquez319@gmail.com,NCT54Y6Q5,2023-02-01,359.34,Pago del día,BANCOPPEL,Isabel Cristina Esquivel Sias,137150104517778450,PAID,"2023-02-01,2023020140014 HDH0001414954680,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,NaN
63757,DAILY,ab4817be-6a4e-41c7-b856-553ce5ba2e72,BSTRONG SUPLEMENTOS,car15@yahoo.com,ZWC9YZXRK,2023-02-01,958.24,Pago del día,BBVA BANCOMER,carlos vazquez,12370029363861562,PAID,"2023-02-01,2023020140014 HDH0001414954600,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,NaN
63756,DAILY,ab47ec94-79c7-4cd6-978b-f10f31551808,C O JONES,ocanaroberto@ymail.com,P67XK8FKM,2023-02-01,"3,480.13",Pago del día,SCOTIABANK,Roberto Ocana Salado,44695256045618672,PAID,"2023-02-01,2023020140014 HDH0001414954520,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,NaN
63755,DAILY,ab47bcb4-d6d0-4c86-8fec-02fb896b14ee,El Asadero,gpecc60@hotmail.com,VBCHYBTL4,2023-02-01,"4,717.15",Pago del día,BANAMEX,Maria Guadalupe Castaneda Cardenas,2744039478010300,PAID,"2023-02-01,2023020140014 HDH0001414954460,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,NaN

In [36]:
pagosdia.shape

(2760958, 18)

In [37]:
group_dia = pagosdia.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_dia.head()

   date_file      total_due  report_id
0 2023-02-01 203,461,073.82      98641
1 2023-02-02 198,731,107.79     100248
2 2023-02-03 207,057,525.30     101785
3 2023-02-04 231,995,020.07     108364
4 2023-02-05 261,618,941.95     106831

In [38]:
group_dia.shape

(28, 3)

# PRIMER MATCH (SETTLED VS PAGOS DEL DIA)

In [39]:
check_1 = cum_1.merge(pagosdia[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_1['total_due_y'].fillna('NO ENCONTRADO')
check_1['tipo'].fillna('NO ENCONTRADO',inplace=True)
check_1['file_name_y'].fillna('NO ENCONTRADO',inplace=True)
# check_1.fillna({'total_due_y':'NO ENCONTRADO', 'tipo':'NO ENCONTRADO', 'file_name_y':'NO ENCONTRADO'}, inplace=True)
check_1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_due_x,type,created_date,created_time,updated_date,updated_time,file_name_x,total_due_y,tipo,file_name_y
0,f2a4c65c-7b5b-45a1-ac0d-063f82222703,HAPINESS,nmiriam234@yahoo.com.mx,BLFCPR555,2023-02-01,392.00,14.11,2.26,0.00,0.00,...,379.63,DAILY,2023-02-01,02:00:38,2023-02-01,02:00:38,SETTLEMENT 2023-02-01.csv,379.63,Pago del día,Dispersión-20230201.xlsx
1,285e56bc-330e-427b-8a77-d12c09286e56,ABARROTES Y CARNICERA EL CHILIN,arevalorocio987@gmail.com,H9QS6CVX5,2023-02-01,301.00,10.84,1.73,0.00,0.00,...,288.43,DAILY,2023-02-01,02:00:38,2023-02-01,02:00:38,SETTLEMENT 2023-02-01.csv,288.43,Pago del día,Dispersión-20230201.xlsx
2,a38189fc-99b4-4320-a53d-37b18ca37e20,STUDIO,gabarr54@gmail.com,N48ZF2BQY,2023-02-01,492.34,17.72,2.84,0.00,0.00,...,471.78,DAILY,2023-02-01,02:00:38,2023-02-01,02:00:38,SETTLEMENT 2023-02-01.csv,471.78,Pago del día,Dispersión-20230201.xlsx
3,0dfd920b-c2b3-43dd-9108-ec285db21f1e,MARESH,Maresh20221@outlook.com,SDVNZCH5S,2023-02-01,92.56,3.33,0.53,0.00,0.00,...,88.70,DAILY,2023-02-01,02:00:38,2023-02-01,02:00:38,SETTLEMENT 2023-02-01.csv,88.70,Pago del día,Dispersión-20230201.xlsx
4,1b103437-7cd3-4774-817f-d68bfc6ebb05,FRUTAS Y VERDURAS DE LA ESQUINA,juanluis1890@icloud.com,5GP9V5LPK,2023-02-01,65.65,2.36,0.38,0.00,0.00,...,62.91,DAILY,2023-02-01,02:00:39,2023-02-01,02:00:39,SETTLEMENT 2023-02-01.csv,62.91,Pago del día,Dispersión-20230201.xlsx

In [40]:
check_1['file_name_y'].unique()

array(['Dispersión-20230201.xlsx', 'NO ENCONTRADO',
       'Dispersión-FP 2023-02-01.xlsx', 'Dispersión-20230202.xlsx',
       'Dispersión-FP 2023-02-02.xlsx', 'Dispersión-20230203.xlsx',
       'Dispersión-FP 2023-02-03.xlsx', 'Dispersión-20230204.xlsx',
       'Dispersión-FP 2023-02-04.xlsx', 'Dispersión-20230205.xlsx',
       'Dispersión-FP 2023-02-05.xlsx', 'Dispersión-20230206.xlsx',
       'Dispersión-FP 2023-02-06.xlsx', 'Dispersión-20230207.xlsx',
       'Dispersión-FP 2023-02-07.xlsx', 'Dispersión-20230208.xlsx',
       'Dispersión-FP 2023-02-08.xlsx', 'Dispersión-20230209.xlsx',
       'Dispersión-FP 2023-02-09.xlsx', 'Dispersión-20230210.xlsx',
       'Dispersión-FP 2023-02-10.xlsx', 'Dispersión-20230211.xlsx',
       'Dispersión-FP 2023-02-11.xlsx', 'Dispersión-20230212.xlsx',
       'Dispersión-FP 2023-02-12.xlsx', 'Dispersión-20230213.xlsx',
       'Dispersión-FP 2023-02-13.xlsx', 'Dispersión-20230214.xlsx',
       'Dispersión-FP 2023-02-14.xlsx', 'Dispersión-20230215.xlsx',
       'Dispersión-FP 2023-02-15.xlsx', 'Dispersión-20230216.xlsx',
       'Dispersión-FP 2023-02-16.xlsx', 'Dispersión-20230217.xlsx',
       'Dispersión-FP 2023-02-17.xlsx', 'Dispersión-20230218.xlsx',
       'Dispersión-FP 2023-02-18.xlsx', 'Dispersión-20230219.xlsx',
       'Dispersión-FP 2023-02-19.xlsx', 'Dispersión-20230220.xlsx',
       'Dispersión-FP 2023-02-20.xlsx', 'Dispersión-20230221.xlsx',
       'Dispersión-FP 2023-02-21.xlsx', 'Dispersión-20230222.xlsx',
       'Dispersión-FP 2023-02-22.xlsx', 'Dispersión-20230223.xlsx',
       'Dispersión-FP 2023-02-23.xlsx', 'Dispersión-20230224.xlsx',
       'Dispersión-FP 2023-02-24.xlsx', 'Dispersión-20230225.xlsx',
       'Dispersión-FP 2023-02-25.xlsx', 'Dispersión-20230226.xlsx',
       'Dispersión-FP 2023-02-26.xlsx', 'Dispersión-20230227.xlsx',
       'Dispersión-FP 2023-02-27.xlsx', 'Dispersión-20230228.xlsx',
       'Dispersión-FP 2023-02-28.xlsx'], dtype=object)

In [41]:
not_found_1 = check_1[((check_1['file_name_y'].isnull()) | (check_1['file_name_y'].isin(['NO ENCONTRADO'])))
                        & (check_1['total_due_x'] != 0)]
not_found_1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_due_x,type,created_date,created_time,updated_date,updated_time,file_name_x,total_due_y,tipo,file_name_y
347,1c6672dd-c08b-41f3-ac1f-fc16313f1ac3,TELPECH,telpech7815@gmail.com,SKDGLDHXV,2023-02-01,0.02,0.00,0.00,0.00,0.00,...,0.02,DAILY,2023-02-01,02:02:04,2023-02-01,02:02:04,SETTLEMENT 2023-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
681,6ff6ef5e-abce-41b9-9bc8-576f82c0a676,BENTA DE CAFE Y ANTOJITOS,kh982384@gmail.com,F5TWWCXGF,2023-02-01,0.00,0.00,0.00,0.00,0.00,...,4.00,DAILY,2023-02-01,02:03:33,2023-02-01,02:03:33,SETTLEMENT 2023-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
1087,adeed683-e832-41fb-b993-d299c9116892,SERVICIO DE TAXI,ramdez72@gmail.com,WP5LB8HTS,2023-02-01,"1,100.00",39.60,6.34,0.00,0.00,...,"1,054.06",DAILY,2023-02-01,02:05:17,2023-02-01,02:05:17,SETTLEMENT 2023-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
2134,0bb0443a-5d28-4092-b1a9-390e949566b1,FLORERIA MUNOZ,adriann.mendezzx@gmail.com,427NZ6BJJ,2023-02-01,0.03,0.00,0.00,0.00,0.00,...,0.03,DAILY,2023-02-01,02:09:50,2023-02-01,02:09:50,SETTLEMENT 2023-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
2622,ee724a68-23dc-4ca2-8411-46b1e5fd4c8b,CASANUEVA,alientec.64@gmail.com,QWFTP683Z,2023-02-01,0.01,0.00,0.00,0.00,0.00,...,0.01,DAILY,2023-02-01,02:11:53,2023-02-01,02:11:53,SETTLEMENT 2023-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO

In [42]:
not_found_1.shape

(7361, 29)

In [43]:
group_notfound = not_found_1.groupby(['report_date_local']).agg({'total_due_x':sum,'report_id':'count'}).reset_index()
group_notfound.rename(columns={'report_date_local':'date_file'},inplace=True)
group_notfound.head()

   date_file  total_due_x  report_id
0 2023-02-01   173,490.04        264
1 2023-02-02   148,835.83        255
2 2023-02-03   183,008.14        256
3 2023-02-04   189,005.81        268
4 2023-02-05   279,844.58        279

In [44]:
group_notfound.shape

(28, 3)

#### REPROGRAMACIONES

In [45]:
repro = allpagos[(allpagos['tipo'].isin(['Reprogramación']))]
repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
63011,DAILY,a94ef28e-f7e4-4089-adc4-cab9e46e228d,Liz,lizbeth.19.07.98@gmail.com,TFNQWTD2Y,2023-01-30,568.65,Reprogramación,BBVA BANCOMER,Gabriela Cecilio Hilario,12180015915425398,PAID,"2023-02-01,2023020140014 HDH0001414902580,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,NaN
63010,DAILY,a94ef28e-f7e4-4089-adc4-cab9e46e228d,Liz,lizbeth.19.07.98@gmail.com,QF3TWF76W,2023-01-29,"1,253.70",Reprogramación,BBVA BANCOMER,Gabriela Cecilio Hilario,12180015915425398,PAID,"2023-02-01,2023020140014 HDH0001414902510,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,NaN
63009,DAILY,a94ef28e-f7e4-4089-adc4-cab9e46e228d,Liz,lizbeth.19.07.98@gmail.com,WGLL32VJG,2023-01-28,"1,047.26",Reprogramación,BBVA BANCOMER,Gabriela Cecilio Hilario,12180015915425398,PAID,"2023-02-01,2023020140014 HDH0001414902460,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,NaN
63008,DAILY,a94ef28e-f7e4-4089-adc4-cab9e46e228d,Liz,lizbeth.19.07.98@gmail.com,BZ7DL5XM4,2023-01-27,216.23,Reprogramación,BBVA BANCOMER,Gabriela Cecilio Hilario,12180015915425398,PAID,"2023-02-01,2023020140014 HDH0001414902360,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,NaN
63007,DAILY,a94ef28e-f7e4-4089-adc4-cab9e46e228d,Liz,lizbeth.19.07.98@gmail.com,DLT9TYY9G,2023-01-20,609.87,Reprogramación,BBVA BANCOMER,Gabriela Cecilio Hilario,12180015915425398,PAID,"2023-02-01,2023020140014 HDH0001414902260,4001...",01. First_batch,SANTANDER,Dispersión-20230201.xlsx,2023-02-01,NaN

In [46]:
repro.shape

(14451, 18)

In [47]:
group_repro = repro.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_repro.head()

   date_file    total_due  report_id
0 2023-02-01 1,711,461.98        859
1 2023-02-02 3,302,924.59       2031
2 2023-02-03 1,687,934.19        764
3 2023-02-04 1,060,142.80        743
4 2023-02-05   409,893.33        272

In [48]:
group_repro.shape

(28, 3)

# SEGUNDO MATCH (IDENTIFICACION DE REPROGRAMACIONES)

In [49]:
check_2 = not_found_1.merge(repro[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_2.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,created_time,updated_date,updated_time,file_name_x,total_due_y,tipo_x,file_name_y,total_due,tipo_y,file_name
0,1c6672dd-c08b-41f3-ac1f-fc16313f1ac3,TELPECH,telpech7815@gmail.com,SKDGLDHXV,2023-02-01,0.02,0.00,0.00,0.00,0.00,...,02:02:04,2023-02-01,02:02:04,SETTLEMENT 2023-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,NaN,NaN,NaN
1,6ff6ef5e-abce-41b9-9bc8-576f82c0a676,BENTA DE CAFE Y ANTOJITOS,kh982384@gmail.com,F5TWWCXGF,2023-02-01,0.00,0.00,0.00,0.00,0.00,...,02:03:33,2023-02-01,02:03:33,SETTLEMENT 2023-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,NaN,NaN,NaN
2,adeed683-e832-41fb-b993-d299c9116892,SERVICIO DE TAXI,ramdez72@gmail.com,WP5LB8HTS,2023-02-01,"1,100.00",39.60,6.34,0.00,0.00,...,02:05:17,2023-02-01,02:05:17,SETTLEMENT 2023-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,"1,054.06",Reprogramación,Dispersión-20230202.xlsx
3,0bb0443a-5d28-4092-b1a9-390e949566b1,FLORERIA MUNOZ,adriann.mendezzx@gmail.com,427NZ6BJJ,2023-02-01,0.03,0.00,0.00,0.00,0.00,...,02:09:50,2023-02-01,02:09:50,SETTLEMENT 2023-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,NaN,NaN,NaN
4,ee724a68-23dc-4ca2-8411-46b1e5fd4c8b,CASANUEVA,alientec.64@gmail.com,QWFTP683Z,2023-02-01,0.01,0.00,0.00,0.00,0.00,...,02:11:53,2023-02-01,02:11:53,SETTLEMENT 2023-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,NaN,NaN,NaN

In [50]:
check_2.shape

(7377, 32)

In [51]:
# writer = pd.ExcelWriter('REPROGRAMACIONES JUNIO 2021.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})
# check_2.to_excel(writer, sheet_name='DETAIL REPROGRAMACIONES',index=False)
# writer.save()
# writer.close()

# FECHA DE PAGOS (SETTLED VS PAGOS DEL DIA)

In [52]:
fecha_pago = not_found_1.merge(repro[['report_id','date_file','tipo','status','file_name']] ,on='report_id', how='left')
fecha_pago.sort_values(by=['date_file'],ascending=True,inplace=True)
fecha_pago.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,updated_date,updated_time,file_name_x,total_due_y,tipo_x,file_name_y,date_file,tipo_y,status,file_name
2,adeed683-e832-41fb-b993-d299c9116892,SERVICIO DE TAXI,ramdez72@gmail.com,WP5LB8HTS,2023-02-01,"1,100.00",39.60,6.34,0.00,0.00,...,2023-02-01,02:05:17,SETTLEMENT 2023-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2023-02-02,Reprogramación,PAID,Dispersión-20230202.xlsx
136,15129532-df95-4c13-959d-b80444e18722,MEEN ISTAK,dra.ivonneibarrol@gmail.com,FP6FVZJ6V,2023-02-01,"5,001.00",180.04,28.81,0.00,0.00,...,2023-02-01,04:51:15,SETTLEMENT 2023-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2023-02-02,Reprogramación,PAID,Dispersión-20230202.xlsx
60,b62223f5-7129-4f3c-ab3c-230dd4504cf9,LA CANASTA,jeanpoul8@gmail.com,CM4HDZJXJ,2023-02-01,103.00,3.71,0.59,0.00,0.00,...,2023-02-01,03:27:55,SETTLEMENT 2023-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2023-02-02,Reprogramación,PAID,Dispersión-20230202.xlsx
243,31e57848-345a-4086-9a2c-9bee178c2a49,INSTITUTO CONVERSA TLHUAC CENTRO,conversatlahuaccentro@gmail.com,7ZSCX9W5X,2023-02-01,239.00,8.60,1.38,0.00,0.00,...,2023-02-01,06:42:01,SETTLEMENT 2023-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2023-02-02,Reprogramación,PAID,Dispersión-20230202.xlsx
242,20dd23a9-45fd-4cd2-b1e7-7bcd440e6df6,HAMBURGUESAS TONYS,marcoszamarripa27062000@gmail.com,H5J7ZKLZ7,2023-02-01,5.00,0.18,0.03,0.00,0.00,...,2023-02-01,06:40:28,SETTLEMENT 2023-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2023-02-02,Reprogramación,PAID,Dispersión-20230202.xlsx

In [53]:
fecha_pago.shape

(7377, 33)

In [54]:
fecha_pago.drop_duplicates(subset ='report_id',keep='first',inplace=True)

In [55]:
fecha_pago.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,updated_date,updated_time,file_name_x,total_due_y,tipo_x,file_name_y,date_file,tipo_y,status,file_name
2,adeed683-e832-41fb-b993-d299c9116892,SERVICIO DE TAXI,ramdez72@gmail.com,WP5LB8HTS,2023-02-01,"1,100.00",39.60,6.34,0.00,0.00,...,2023-02-01,02:05:17,SETTLEMENT 2023-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2023-02-02,Reprogramación,PAID,Dispersión-20230202.xlsx
136,15129532-df95-4c13-959d-b80444e18722,MEEN ISTAK,dra.ivonneibarrol@gmail.com,FP6FVZJ6V,2023-02-01,"5,001.00",180.04,28.81,0.00,0.00,...,2023-02-01,04:51:15,SETTLEMENT 2023-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2023-02-02,Reprogramación,PAID,Dispersión-20230202.xlsx
60,b62223f5-7129-4f3c-ab3c-230dd4504cf9,LA CANASTA,jeanpoul8@gmail.com,CM4HDZJXJ,2023-02-01,103.00,3.71,0.59,0.00,0.00,...,2023-02-01,03:27:55,SETTLEMENT 2023-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2023-02-02,Reprogramación,PAID,Dispersión-20230202.xlsx
243,31e57848-345a-4086-9a2c-9bee178c2a49,INSTITUTO CONVERSA TLHUAC CENTRO,conversatlahuaccentro@gmail.com,7ZSCX9W5X,2023-02-01,239.00,8.60,1.38,0.00,0.00,...,2023-02-01,06:42:01,SETTLEMENT 2023-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2023-02-02,Reprogramación,PAID,Dispersión-20230202.xlsx
242,20dd23a9-45fd-4cd2-b1e7-7bcd440e6df6,HAMBURGUESAS TONYS,marcoszamarripa27062000@gmail.com,H5J7ZKLZ7,2023-02-01,5.00,0.18,0.03,0.00,0.00,...,2023-02-01,06:40:28,SETTLEMENT 2023-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2023-02-02,Reprogramación,PAID,Dispersión-20230202.xlsx

In [56]:
fecha_pago.shape

(7361, 33)

### AGRUPADO POR DÍA

In [57]:
pivot_fecha_pago = pd.pivot_table(fecha_pago,index=['report_date_local'],
                                  values=['total_due_x'],aggfunc = ['sum', len],margins=True)
pivot_fecha_pago.head()

                            sum         len
                    total_due_x total_due_x
report_date_local
2023-02-01 00:00:00  173,490.04         264
2023-02-02 00:00:00  148,835.83         255
2023-02-03 00:00:00  183,008.14         256
2023-02-04 00:00:00  189,005.81         268
2023-02-05 00:00:00  279,844.58         279

In [58]:
pivot_fecha_pago.shape

(29, 2)

# PAGOS MANUALES

In [59]:
file_manual = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\02. FEBRUARY\MANUALES\*.xlsx', recursive=False)
file_manual

['G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2023\\02. FEBRUARY\\MANUALES\\Manuales 2023.02.01 - 2023.02.28.xlsx']

In [60]:
manuales_all = pd.concat([pd.read_excel(f,sheet_name='Formato Pago Manual',skiprows=1
                                      ,converters={'Cta. CLABE de depósito':str,'report_id':str})
                          .assign(file_name=os.path.basename(f)) for f in file_manual])
manuales_all['Date']= pd.to_datetime(manuales_all['Date'])  
manuales_all['Tipo'] = 'MANUAL'

In [61]:
manuales_final = manuales_all[['Date','ME ID','ME NAME',' (mxn)','Banco','Justificación para el pago','Tipo','Report ID']]
manuales_final.head()

,Date,ME ID,ME NAME,(mxn),Banco,Justificación para el pago,Tipo,Report ID
0,2023-02-01,3b725d3a-ba8a-41d8-8f84-41c46300253a,NaN,124.57,BBVA BANCOMER,Reembolso comisionista,MANUAL,Kg6XnSg
1,2023-02-01,3f6ef58e-f026-4d66-8ea7-3d57ae7e3af5,NaN,"6,939.43","Banco Inbursa, S.A.",Reembolso comisionista,MANUAL,mhJGQEK
2,2023-02-01,2b005227-e484-4693-9b43-bd8f78372e00,NaN,"5,261.95","Banco Santander, S.A.",Re: Ajuste Impulso Internacional Yhoshi,MANUAL,NaN
3,2023-02-01,e2fe7dec-e41d-44b2-843f-db7da01e36e9,NaN,"2,036.26",Banco Nacional de Mexico,Re: SOP-11104 || Revisión de Transacción,MANUAL,TJ99Rg7
4,2023-02-01,f3a8dd53-4a3c-4d68-ae87-f3abc412dba6,NaN,383.30,"Banco Santander, S.A",Re: SOP-10631 || Transaction in Status 3 Cance...,MANUAL,t7k5bN9

In [62]:
manuales_final.shape

(15, 8)

In [63]:
manuales_final.columns

Index(['Date', 'ME ID', 'ME NAME', ' (mxn)', 'Banco',
       'Justificación para el pago', 'Tipo', 'Report ID'],
      dtype='object')

In [64]:
group_manual = manuales_final.groupby(['Date']).agg({' (mxn)':sum,'Report ID':'count'}).reset_index()
group_manual.rename(columns={'Date':'date_file','Report ID':'report_id'},inplace=True)
group_manual.head()

   date_file     (mxn)  report_id
0 2023-02-01 15,330.04          5
1 2023-02-03    130.80          1
2 2023-02-10  8,374.14          3
3 2023-02-23  8,262.52          1

In [65]:
group_manual.shape

(4, 3)

# ACUMULADOS SETTLEMENT

In [66]:
conc_disp = cum_distinct_0.groupby(['report_date_local']).agg({'total_due':sum,'report_id':'count'}).reset_index()
conc_disp.rename(columns={'report_date_local':'date_file'}, inplace=True)
conc_disp.head()

   date_file      total_due  report_id
0 2023-02-01 180,723,575.26      86119
1 2023-02-02 176,913,873.21      87716
2 2023-02-03 184,765,883.02      88895
3 2023-02-04 207,731,904.57      95025
4 2023-02-05 234,802,072.80      94824

In [67]:
conc_disp.shape

(28, 3)

# MERGING ALL DATA FRAMES

In [68]:
total_1 = conc_disp.merge(group_repro[['date_file','total_due','report_id']],on='date_file',how='left') \
.merge(group_manual,on='date_file',how='left')
total_1[' (mxn)'].fillna(0,inplace=True)
total_1['report_id'].fillna(0,inplace=True)
total_1.head()

,date_file,total_due_x,report_id_x,total_due_y,report_id_y,(mxn),report_id
0,2023-02-01,"180,723,575.26",86119,"1,711,461.98",859,"15,330.04",5.00
1,2023-02-02,"176,913,873.21",87716,"3,302,924.59",2031,0.00,0.00
2,2023-02-03,"184,765,883.02",88895,"1,687,934.19",764,130.80,1.00
3,2023-02-04,"207,731,904.57",95025,"1,060,142.80",743,0.00,0.00
4,2023-02-05,"234,802,072.80",94824,"409,893.33",272,0.00,0.00

In [69]:
total_1['count_total_pago_dia'] = total_1['report_id_x'] + total_1['report_id_y'] + total_1['report_id']
total_1['sum_total_pago_dia'] = total_1['total_due_x'] + total_1['total_due_y'] + total_1[' (mxn)']

In [70]:
total_1

,date_file,total_due_x,report_id_x,total_due_y,report_id_y,(mxn),report_id,count_total_pago_dia,sum_total_pago_dia
0,2023-02-01,"180,723,575.26",86119,"1,711,461.98",859,"15,330.04",5.00,"86,983.00","182,450,367.28"
1,2023-02-02,"176,913,873.21",87716,"3,302,924.59",2031,0.00,0.00,"89,747.00","180,216,797.80"
2,2023-02-03,"184,765,883.02",88895,"1,687,934.19",764,130.80,1.00,"89,660.00","186,453,948.01"
3,2023-02-04,"207,731,904.57",95025,"1,060,142.80",743,0.00,0.00,"95,768.00","208,792,047.37"
4,2023-02-05,"234,802,072.80",94824,"409,893.33",272,0.00,0.00,"95,096.00","235,211,966.13"
5,2023-02-06,"169,122,591.25",64706,"274,575.08",227,0.00,0.00,"64,933.00","169,397,166.33"
6,2023-02-07,"146,757,970.51",69464,"653,179.09",318,0.00,0.00,"69,782.00","147,411,149.60"
7,2023-02-08,"164,617,161.67",84012,"454,240.86",280,0.00,0.00,"84,292.00","165,071,402.53"
8,2023-02-09,"164,083,862.64",85140,"768,019.92",446,0.00,0.00,"85,586.00","164,851,882.56"
9,2023-02-10,"170,872,785.64",87393,"758,485.43",374,"8,374.14",3.00,"87,770.00","171,639,645.21"
10,2023-02-11,"206,851,491.12",95839,"590,217.06",320,0.00,0.00,"96,159.00","207,441,708.18"
11,2023-02-12,"233,254,720.67",96206,"306,671.89",148,0.00,0.00,"96,354.00","233,561,392.56"
12,2023-02-13,"155,340,184.25",66577,"678,722.61",155,0.00,0.00,"66,732.00","156,018,906.86"
13,2023-02-14,"172,810,942.95",86461,"1,046,077.10",321,0.00,0.00,"86,782.00","173,857,020.05"
14,2023-02-15,"206,986,306.32",91728,"751,882.73",623,0.00,0.00,"92,351.00","207,738,189.05"
15,2023-02-16,"187,960,084.81",90032,"1,018,733.59",296,0.00,0.00,"90,328.00","188,978,818.40"
16,2023-02-17,"197,785,535.87",92698,"884,771.82",302,0.00,0.00,"93,000.00","198,670,307.69"
17,2023-02-18,"216,810,684.97",96983,"920,964.85",380,0.00,0.00,"97,363.00","217,731,649.82"
18,2023-02-19,"244,569,597.83",97329,"527,835.98",320,0.00,0.00,"97,649.00","245,097,433.81"
19,2023-02-20,"164,917,416.41",66282,"1,279,928.86",497,0.00,0.00,"66,779.00","166,197,345.27"
20,2023-02-21,"168,850,394.83",83243,"1,358,285.81",373,0.00,0.00,"83,616.00","170,208,680.64"
21,2023-02-22,"169,657,661.71",83920,"1,319,129.78",532,0.00,0.00,"84,452.00","170,976,791.49"
22,2023-02-23,"172,854,467.50",85431,"677,904.11",256,"8,262.52",1.00,"85,688.00","173,540,634.13"
23,2023-02-24,"191,000,072.05",91057,"504,807.77",280,0.00,0.00,"91,337.00","191,504,879.82"
24,2023-02-25,"216,465,585.62",95385,"971,880.57",353,0.00,0.00,"95,738.00","217,437,466.19"
25,2023-02-26,"243,230,430.38",97291,"616,318.17",257,0.00,0.00,"97,548.00","243,846,748.55"
26,2023-02-27,"168,370,445.11",67357,"6,753,459.29",2154,0.00,0.00,"69,511.00","175,123,904.40"
27,2023-02-28,"179,054,607.46",86169,"937,466.85",570,0.00,0.00,"86,739.00","179,992,074.31"

# ACUMULADOS PAGO DEL DIA

In [71]:
total_2 = group_allpagos.merge(group_notfound[['date_file','total_due_x','report_id']],on='date_file',how='left')\
.merge(group_manual,on='date_file',how='left')
total_2[' (mxn)'].fillna(0,inplace=True)
total_2['report_id'].fillna(0,inplace=True)
total_2['total_due_x'].fillna(0,inplace=True)
total_2['report_id_y'].fillna(0,inplace=True)
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id
0,2023-02-01,"205,172,535.80",99500,"173,490.04",264,"15,330.04",5.00
1,2023-02-02,"202,034,032.38",102279,"148,835.83",255,0.00,0.00
2,2023-02-03,"208,745,459.49",102549,"183,008.14",256,130.80,1.00
3,2023-02-04,"233,055,162.87",109107,"189,005.81",268,0.00,0.00
4,2023-02-05,"262,028,835.28",107103,"279,844.58",279,0.00,0.00

In [72]:
total_2['count_swap_dia'] = total_2['report_id_x'] + total_2['report_id_y'] + total_2['report_id']
total_2['sum_swap_dia'] = total_2['total_due'] + total_2['total_due_x'] + total_2[' (mxn)']

In [73]:
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id,count_swap_dia,sum_swap_dia
0,2023-02-01,"205,172,535.80",99500,"173,490.04",264,"15,330.04",5.00,"99,769.00","205,361,355.88"
1,2023-02-02,"202,034,032.38",102279,"148,835.83",255,0.00,0.00,"102,534.00","202,182,868.21"
2,2023-02-03,"208,745,459.49",102549,"183,008.14",256,130.80,1.00,"102,806.00","208,928,598.43"
3,2023-02-04,"233,055,162.87",109107,"189,005.81",268,0.00,0.00,"109,375.00","233,244,168.68"
4,2023-02-05,"262,028,835.28",107103,"279,844.58",279,0.00,0.00,"107,382.00","262,308,679.86"

In [74]:
total_2.shape

(28, 9)

# COMPARACION FINAL

In [75]:
final_comparacion = total_1[['date_file','count_total_pago_dia','sum_total_pago_dia']] \
.merge(total_2[['date_file','count_swap_dia','sum_swap_dia']],on='date_file',how='left')
final_comparacion.head()

,date_file,count_total_pago_dia,sum_total_pago_dia,count_swap_dia,sum_swap_dia
0,2023-02-01,"86,983.00","182,450,367.28","99,769.00","205,361,355.88"
1,2023-02-02,"89,747.00","180,216,797.80","102,534.00","202,182,868.21"
2,2023-02-03,"89,660.00","186,453,948.01","102,806.00","208,928,598.43"
3,2023-02-04,"95,768.00","208,792,047.37","109,375.00","233,244,168.68"
4,2023-02-05,"95,096.00","235,211,966.13","107,382.00","262,308,679.86"

In [76]:
final_comparacion['diff_count'] = final_comparacion['count_total_pago_dia'] - final_comparacion['count_swap_dia']
final_comparacion['diff_sum'] = final_comparacion['sum_total_pago_dia'] - final_comparacion['sum_swap_dia']

In [77]:
final_comparacion

,date_file,count_total_pago_dia,sum_total_pago_dia,count_swap_dia,sum_swap_dia,diff_count,diff_sum
0,2023-02-01,"86,983.00","182,450,367.28","99,769.00","205,361,355.88","-12,786.00","-22,910,988.60"
1,2023-02-02,"89,747.00","180,216,797.80","102,534.00","202,182,868.21","-12,787.00","-21,966,070.41"
2,2023-02-03,"89,660.00","186,453,948.01","102,806.00","208,928,598.43","-13,146.00","-22,474,650.42"
3,2023-02-04,"95,768.00","208,792,047.37","109,375.00","233,244,168.68","-13,607.00","-24,452,121.31"
4,2023-02-05,"95,096.00","235,211,966.13","107,382.00","262,308,679.86","-12,286.00","-27,096,713.73"
5,2023-02-06,"64,933.00","169,397,166.33","75,691.00","190,912,680.47","-10,758.00","-21,515,514.14"
6,2023-02-07,"69,782.00","147,411,149.60","81,520.00","171,414,944.88","-11,738.00","-24,003,795.28"
7,2023-02-08,"84,292.00","165,071,402.53","96,779.00","186,760,672.61","-12,487.00","-21,689,270.08"
8,2023-02-09,"85,586.00","164,851,882.56","98,174.00","185,983,477.67","-12,588.00","-21,131,595.11"
9,2023-02-10,"87,770.00","171,639,645.21","100,944.00","193,352,827.93","-13,174.00","-21,713,182.72"
10,2023-02-11,"96,159.00","207,441,708.18","109,568.00","231,369,204.49","-13,409.00","-23,927,496.31"
11,2023-02-12,"96,354.00","233,561,392.56","108,745.00","260,061,635.78","-12,391.00","-26,500,243.22"
12,2023-02-13,"66,732.00","156,018,906.86","78,493.00","181,092,643.46","-11,761.00","-25,073,736.60"
13,2023-02-14,"86,782.00","173,857,020.05","99,994.00","198,898,296.13","-13,212.00","-25,041,276.08"
14,2023-02-15,"92,351.00","207,738,189.05","105,352.00","235,459,694.72","-13,001.00","-27,721,505.67"
15,2023-02-16,"90,328.00","188,978,818.40","103,569.00","213,859,608.09","-13,241.00","-24,880,789.69"
16,2023-02-17,"93,000.00","198,670,307.69","106,488.00","224,991,604.12","-13,488.00","-26,321,296.43"
17,2023-02-18,"97,363.00","217,731,649.82","110,987.00","242,752,664.66","-13,624.00","-25,021,014.84"
18,2023-02-19,"97,649.00","245,097,433.81","109,930.00","271,523,130.23","-12,281.00","-26,425,696.42"
19,2023-02-20,"66,779.00","166,197,345.27","77,891.00","189,032,873.27","-11,112.00","-22,835,528.00"
20,2023-02-21,"83,616.00","170,208,680.64","96,587.00","193,314,796.19","-12,971.00","-23,106,115.55"
21,2023-02-22,"84,452.00","170,976,791.49","96,798.00","192,233,406.42","-12,346.00","-21,256,614.93"
22,2023-02-23,"85,688.00","173,540,634.13","98,509.00","195,039,284.26","-12,821.00","-21,498,650.13"
23,2023-02-24,"91,337.00","191,504,879.82","104,602.00","214,350,292.80","-13,265.00","-22,845,412.98"
24,2023-02-25,"95,738.00","217,437,466.19","109,188.00","241,737,653.76","-13,450.00","-24,300,187.57"
25,2023-02-26,"97,548.00","243,846,748.55","110,445.00","271,780,961.29","-12,897.00","-27,934,212.74"
26,2023-02-27,"69,511.00","175,123,904.40","81,029.00","198,659,825.90","-11,518.00","-23,535,921.50"
27,2023-02-28,"86,739.00","179,992,074.31","99,631.00","201,414,961.39","-12,892.00","-21,422,887.08"

In [78]:
writer = pd.ExcelWriter('FASE III. SETTLED VS PAGO DIA FEBRERO 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_fecha_pago.to_excel(writer, sheet_name='ENVIADOS POSTERIOR')
fecha_pago.to_excel(writer, sheet_name='DETAIL NO ENCONTRADO',index=False)
pivot_duplicates_trad.to_excel(writer, sheet_name='PAGOS DUPLICADOS')
pivot_duplicates_fp.to_excel(writer, sheet_name='FP PAGOS DUPLICADOS')
group_manual.to_excel(writer, sheet_name='PAGOS MANUALES')
writer.close()