In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
from functools import reduce
pd.options.display.float_format = '{:,.2f}'.format

#### ACUMULADO

In [2]:
cumfiles = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\02. FEBRERO\QUERIES\*.csv', recursive=False)
cumfiles

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-28.csv']

In [3]:
cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
cum_1.columns = cum_1.columns.str.strip().str.lower() 
cum_1['report_date_local']= pd.to_datetime(cum_1['report_date_local']) 
cum_1.head()

C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_12604/2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_12604/2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_12604/2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_released,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name
0,e52d9704-6871-435b-a772-a62a7f5ead18,Natural,nancynm1820@gmail.com,39MNGF97Z,2022-02-01,"1,500.00",54.00,8.64,0.00,0.00,...,0.00,0.00,NaN,"1,437.36",DAILY,2022-02-01,02:00:22,2022-02-01,02:00:22,SETTLEMENT 2022-02-01.csv
1,2a9287c9-d2c5-424a-9cc1-49080607aea7,Arthromedic,maybelreyes.7@gmail.com,2LS4TPLL8,2022-02-01,"1,350.00",48.60,7.78,0.00,0.00,...,0.00,0.00,NaN,"1,293.62",DAILY,2022-02-01,02:00:23,2022-02-01,02:00:23,SETTLEMENT 2022-02-01.csv
2,c62a160d-4af9-431b-8244-70ccb4ebb0a5,Pisos Laminados Y Marmol VR,dorisjanirmaro@gmail.com,84BJNG6K4,2022-02-01,"4,336.00",156.10,24.98,0.00,0.00,...,0.00,0.00,NaN,"4,154.92",DAILY,2022-02-01,02:00:23,2022-02-01,02:00:23,SETTLEMENT 2022-02-01.csv
3,a85619da-fb1f-47d9-a5b7-33256a0511fb,Restaurante Los Nietos,guillermo_220596@hotmail.com,FWJH5JK9L,2022-02-01,561.48,20.22,3.24,0.00,0.00,...,0.00,0.00,NaN,538.02,DAILY,2022-02-01,02:00:23,2022-02-01,02:00:23,SETTLEMENT 2022-02-01.csv
4,823b418a-f07d-4602-ac25-c87846b727f7,Grata Impresión,grataimpresion@gmail.com,HY2KXK5B9,2022-02-01,150.00,5.40,0.86,0.00,0.00,...,0.00,0.00,NaN,143.74,DAILY,2022-02-01,02:00:23,2022-02-01,02:00:23,SETTLEMENT 2022-02-01.csv

In [4]:
cum_1.shape

(2298860, 26)

In [5]:
cum_distinct_0 = cum_1[(cum_1['total_due'] != 0)]
cum_distinct_0.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_released,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name
0,e52d9704-6871-435b-a772-a62a7f5ead18,Natural,nancynm1820@gmail.com,39MNGF97Z,2022-02-01,"1,500.00",54.00,8.64,0.00,0.00,...,0.00,0.00,NaN,"1,437.36",DAILY,2022-02-01,02:00:22,2022-02-01,02:00:22,SETTLEMENT 2022-02-01.csv
1,2a9287c9-d2c5-424a-9cc1-49080607aea7,Arthromedic,maybelreyes.7@gmail.com,2LS4TPLL8,2022-02-01,"1,350.00",48.60,7.78,0.00,0.00,...,0.00,0.00,NaN,"1,293.62",DAILY,2022-02-01,02:00:23,2022-02-01,02:00:23,SETTLEMENT 2022-02-01.csv
2,c62a160d-4af9-431b-8244-70ccb4ebb0a5,Pisos Laminados Y Marmol VR,dorisjanirmaro@gmail.com,84BJNG6K4,2022-02-01,"4,336.00",156.10,24.98,0.00,0.00,...,0.00,0.00,NaN,"4,154.92",DAILY,2022-02-01,02:00:23,2022-02-01,02:00:23,SETTLEMENT 2022-02-01.csv
3,a85619da-fb1f-47d9-a5b7-33256a0511fb,Restaurante Los Nietos,guillermo_220596@hotmail.com,FWJH5JK9L,2022-02-01,561.48,20.22,3.24,0.00,0.00,...,0.00,0.00,NaN,538.02,DAILY,2022-02-01,02:00:23,2022-02-01,02:00:23,SETTLEMENT 2022-02-01.csv
4,823b418a-f07d-4602-ac25-c87846b727f7,Grata Impresión,grataimpresion@gmail.com,HY2KXK5B9,2022-02-01,150.00,5.40,0.86,0.00,0.00,...,0.00,0.00,NaN,143.74,DAILY,2022-02-01,02:00:23,2022-02-01,02:00:23,SETTLEMENT 2022-02-01.csv

In [6]:
cum_distinct_0.shape

(2297453, 26)

#### PAGOS DE DISPERSIONES

In [7]:
pagos_dia_files_1 = glob.glob(r'G:\My Drive\Settlement\1.-Resultado-dispersión\2022\02.-FEBRERO\Dispersión-20*.xlsx', recursive=False)
pagos_dia_files_1

['G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220201.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220202.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220203.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220204.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220205.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220206.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220207.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220208.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220209.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220210.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220211.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220212.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220213.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220214.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220215.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220216.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220217.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220218.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220219.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220220.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220221.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220222.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220223.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220224.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220225.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220226.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220227.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-20220228.xlsx']

In [8]:
pagos_1 = pd.concat([pd.read_excel(f,sheet_name='Swap del día').assign(file_name=os.path.basename(f)) for f in pagos_dia_files_1])
pagos_1['date_file'] = pagos_1["file_name"].str[-13:-5]
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'], format='%Y%m%d').dt.date
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'])
pagos_1.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_1['report_date_local']= pd.to_datetime(pagos_1['report_date_local']) 
pagos_1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Banco_emisor,file_name,date_file
0,0a74fc00-3cc1-4def-a7a4-de68965fafde,Abarrotes Karla,kalderete342@gmail.com,X8V39XCHC,2022-02-01,60.37,Pago del día,BBVA BANCOMER,Carlos Alberto Esquivel Gonzlez,12078015065947388,failed,NaN,NaN,Dispersión-20220201.xlsx,2022-02-01
49024,00860631-27a5-4063-829e-042c3d4e91f1,Electromar,salvap57@hotmail.com,R6K7HZ8TK,2022-02-01,3.20,Pago del día,BANCOPPEL,Salvador Pedro Garcia,137180102454244488,paid,"2022-02-01,2022020140014 BET0000459237020,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01
49025,00327d93-311f-4deb-b44b-6f9121d0fb8c,Cibac,fertrudiz@hotmail.com,7H47H245L,2022-02-01,"4,024.62",Pago del día,INBURSA,Centro de ingenieria biomecanica aplicada a co...,36180500077755248,paid,"2022-02-01,2022020140014 BET0000458676690,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01
49026,0031a0de-784d-4791-9fe3-0732ef184a9a,Elite Body SPA,gaby_castrocabrera@yahoo.com.mx,8KD8K47SJ,2022-02-01,"1,811.07",Pago del día,BBVA BANCOMER,Gabriela Castro Cabrera,12180004761889238,paid,"2022-02-01,2022020140014 BET0000458664910,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01
49027,00315aa0-8556-44f8-950f-9af20264bb77,Consultorio Dental,dradianaguillen@gmail.com,Z3GTZB9M5,2022-02-01,479.12,Pago del día,INBURSA,Montserrat Diana Guillen Chavez,36180500213012392,paid,"2022-02-01,2022020140014 BET0000458865100,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01

In [9]:
pagos_1.shape

(2152274, 15)

In [10]:
pagos_1['report_date_local'].unique()

array(['2022-02-01T00:00:00.000000000', '2022-01-26T00:00:00.000000000',
       '2022-01-28T00:00:00.000000000', '2022-01-31T00:00:00.000000000',
       '2022-01-23T00:00:00.000000000', '2021-10-29T00:00:00.000000000',
       '2022-01-15T00:00:00.000000000', '2022-01-17T00:00:00.000000000',
       '2021-11-18T00:00:00.000000000', '2021-06-28T00:00:00.000000000',
       '2022-01-22T00:00:00.000000000', '2022-01-27T00:00:00.000000000',
       '2022-01-24T00:00:00.000000000', '2022-01-21T00:00:00.000000000',
       '2022-01-25T00:00:00.000000000', '2022-01-20T00:00:00.000000000',
       '2022-01-07T00:00:00.000000000', '2022-01-10T00:00:00.000000000',
       '2022-01-01T00:00:00.000000000', '2022-01-29T00:00:00.000000000',
       '2022-01-30T00:00:00.000000000', '2021-12-03T00:00:00.000000000',
       '2021-12-02T00:00:00.000000000', '2022-01-16T00:00:00.000000000',
       '2021-12-22T00:00:00.000000000', '2022-01-06T00:00:00.000000000',
       '2021-12-25T00:00:00.000000000', '2021-12-27T00:00:00.000000000',
       '2021-12-30T00:00:00.000000000', '2022-01-03T00:00:00.000000000',
       '2022-01-05T00:00:00.000000000', '2021-12-21T00:00:00.000000000',
       '2021-12-18T00:00:00.000000000', '2021-12-19T00:00:00.000000000',
       '2021-12-20T00:00:00.000000000', '2022-01-04T00:00:00.000000000',
       '2022-01-11T00:00:00.000000000', '2022-01-19T00:00:00.000000000',
       '2021-09-07T00:00:00.000000000', '2021-12-31T00:00:00.000000000',
       '2021-12-28T00:00:00.000000000', '2022-01-14T00:00:00.000000000',
       '2022-01-09T00:00:00.000000000', '2022-01-18T00:00:00.000000000',
       '2021-09-18T00:00:00.000000000', '2021-10-10T00:00:00.000000000',
       '2022-01-08T00:00:00.000000000', '2021-08-26T00:00:00.000000000',
       '2021-11-05T00:00:00.000000000', '2021-09-27T00:00:00.000000000',
       '2021-12-11T00:00:00.000000000', '2021-12-12T00:00:00.000000000',
       '2021-12-13T00:00:00.000000000', '2021-12-14T00:00:00.000000000',
       '2021-12-15T00:00:00.000000000', '2021-11-27T00:00:00.000000000',
       '2021-11-21T00:00:00.000000000', '2021-05-01T00:00:00.000000000',
       '2021-11-28T00:00:00.000000000', '2021-12-05T00:00:00.000000000',
       '2021-12-06T00:00:00.000000000', '2021-11-24T00:00:00.000000000',
       '2021-12-29T00:00:00.000000000', '2021-12-01T00:00:00.000000000',
       '2021-11-26T00:00:00.000000000', '2021-11-29T00:00:00.000000000',
       '2021-11-06T00:00:00.000000000', '2019-01-29T00:00:00.000000000',
       '2019-01-30T00:00:00.000000000', '2019-01-31T00:00:00.000000000',
       '2021-12-08T00:00:00.000000000', '2021-12-24T00:00:00.000000000',
       '2021-12-10T00:00:00.000000000', '2021-12-09T00:00:00.000000000',
       '2021-12-04T00:00:00.000000000', '2021-11-25T00:00:00.000000000',
       '2021-10-27T00:00:00.000000000', '2021-12-17T00:00:00.000000000',
       '2021-12-16T00:00:00.000000000', '2021-12-23T00:00:00.000000000',
       '2021-12-07T00:00:00.000000000', '2021-02-27T00:00:00.000000000',
       '2021-02-21T00:00:00.000000000', '2021-10-22T00:00:00.000000000',
       '2021-10-08T00:00:00.000000000', '2021-09-15T00:00:00.000000000',
       '2021-09-13T00:00:00.000000000', '2021-10-09T00:00:00.000000000',
       '2021-10-11T00:00:00.000000000', '2021-09-16T00:00:00.000000000',
       '2021-09-25T00:00:00.000000000', '2021-10-01T00:00:00.000000000',
       '2021-09-19T00:00:00.000000000', '2022-02-02T00:00:00.000000000',
       '2021-11-22T00:00:00.000000000', '2022-01-13T00:00:00.000000000',
       '2021-08-30T00:00:00.000000000', '2021-08-31T00:00:00.000000000',
       '2022-01-12T00:00:00.000000000', '2021-10-15T00:00:00.000000000',
       '2021-11-03T00:00:00.000000000', '2021-11-04T00:00:00.000000000',
       '2021-11-11T00:00:00.000000000', '2021-11-14T00:00:00.000000000',
       '2021-11-15T00:00:00.000000000', '2021-10-20T00:00:00.000000000',
       '2021-07-03T00:00:00.000000000', '2021-11-17T00:00:00.000000000',
       '2021-11-12T00:00:00.000000000', '2020-09-10T00:00:00.000000000',
       '2020-09-11T00:00:00.000000000', '2020-04-29T00:00:00.000000000',
       '2021-04-30T00:00:00.000000000', '2022-02-03T00:00:00.000000000',
       '2021-11-07T00:00:00.000000000', '2021-11-08T00:00:00.000000000',
       '2021-10-31T00:00:00.000000000', '2021-11-16T00:00:00.000000000',
       '2021-09-11T00:00:00.000000000', '2021-09-14T00:00:00.000000000',
       '2021-10-25T00:00:00.000000000', '2021-09-09T00:00:00.000000000',
       '2021-09-21T00:00:00.000000000', '2021-11-30T00:00:00.000000000',
       '2020-06-28T00:00:00.000000000', '2020-06-29T00:00:00.000000000',
       '2020-06-25T00:00:00.000000000', '2020-06-26T00:00:00.000000000',
       '2020-06-30T00:00:00.000000000', '2021-11-20T00:00:00.000000000',
       '2021-11-19T00:00:00.000000000', '2021-10-28T00:00:00.000000000',
       '2021-10-30T00:00:00.000000000', '2021-11-01T00:00:00.000000000',
       '2021-11-02T00:00:00.000000000', '2021-10-26T00:00:00.000000000',
       '2021-10-23T00:00:00.000000000', '2021-11-13T00:00:00.000000000',
       '2021-02-22T00:00:00.000000000', '2021-07-16T00:00:00.000000000',
       '2021-07-11T00:00:00.000000000', '2021-07-18T00:00:00.000000000',
       '2021-07-10T00:00:00.000000000', '2021-09-23T00:00:00.000000000',
       '2021-10-21T00:00:00.000000000', '2021-09-22T00:00:00.000000000',
       '2022-02-04T00:00:00.000000000', '2021-06-29T00:00:00.000000000',
       '2021-10-13T00:00:00.000000000', '2020-09-22T00:00:00.000000000',
       '2021-09-26T00:00:00.000000000', '2020-09-27T00:00:00.000000000',
       '2020-07-30T00:00:00.000000000', '2020-09-26T00:00:00.000000000',
       '2020-09-28T00:00:00.000000000', '2021-10-16T00:00:00.000000000',
       '2021-09-17T00:00:00.000000000', '2021-09-29T00:00:00.000000000',
       '2021-09-30T00:00:00.000000000', '2021-11-23T00:00:00.000000000',
       '2021-10-17T00:00:00.000000000', '2021-10-19T00:00:00.000000000',
       '2021-10-07T00:00:00.000000000', '2021-09-24T00:00:00.000000000',
       '2021-09-28T00:00:00.000000000', '2021-10-06T00:00:00.000000000',
       '2021-10-04T00:00:00.000000000', '2021-11-10T00:00:00.000000000',
       '2021-11-09T00:00:00.000000000', '2021-10-12T00:00:00.000000000',
       '2021-10-24T00:00:00.000000000', '2021-10-14T00:00:00.000000000',
       '2021-10-18T00:00:00.000000000', '2021-10-05T00:00:00.000000000',
       '2021-10-03T00:00:00.000000000', '2021-10-02T00:00:00.000000000',
       '2021-06-25T00:00:00.000000000', '2020-05-30T00:00:00.000000000',
       '2021-08-21T00:00:00.000000000', '2021-08-22T00:00:00.000000000',
       '2021-12-26T00:00:00.000000000', '2022-01-02T00:00:00.000000000',
       '2020-12-24T00:00:00.000000000', '2022-02-05T00:00:00.000000000',
       '2021-08-29T00:00:00.000000000', '2020-11-20T00:00:00.000000000',
       '2020-11-22T00:00:00.000000000', '2020-11-23T00:00:00.000000000',
       '2021-07-29T00:00:00.000000000', '2021-06-30T00:00:00.000000000',
       '2020-08-22T00:00:00.000000000', '2021-06-22T00:00:00.000000000',
       '2022-02-06T00:00:00.000000000', '2021-05-25T00:00:00.000000000',
       '2021-08-17T00:00:00.000000000', '2021-06-08T00:00:00.000000000',
       '2021-04-13T00:00:00.000000000', '2021-04-20T00:00:00.000000000',
       '2021-05-05T00:00:00.000000000', '2021-06-15T00:00:00.000000000',
       '2021-07-06T00:00:00.000000000', '2021-07-13T00:00:00.000000000',
       '2021-07-20T00:00:00.000000000', '2021-07-27T00:00:00.000000000',
       '2021-08-03T00:00:00.000000000', '2021-02-09T00:00:00.000000000',
       '2021-02-16T00:00:00.000000000', '2021-04-06T00:00:00.000000000',
       '2021-02-07T00:00:00.000000000', '2021-02-19T00:00:00.000000000',
       '2021-01-01T00:00:00.000000000', '2021-01-04T00:00:00.000000000',
       '2021-01-11T00:00:00.000000000', '2021-01-12T00:00:00.000000000',
       '2021-05-26T00:00:00.000000000', '2021-05-29T00:00:00.000000000',
       '2021-02-25T00:00:00.000000000', '2020-05-26T00:00:00.000000000',
       '2022-02-07T00:00:00.000000000', '2021-01-28T00:00:00.000000000',
       '2019-01-23T00:00:00.000000000', '2019-01-24T00:00:00.000000000',
       '2021-02-04T00:00:00.000000000', '2021-02-20T00:00:00.000000000',
       '2021-08-28T00:00:00.000000000', '2020-05-14T00:00:00.000000000',
       '2022-02-08T00:00:00.000000000', '2021-09-20T00:00:00.000000000',
       '2022-02-09T00:00:00.000000000', '2021-01-10T00:00:00.000000000',
       '2022-02-10T00:00:00.000000000', '2021-01-14T00:00:00.000000000',
       '2021-08-10T00:00:00.000000000', '2022-02-11T00:00:00.000000000',
       '2021-09-12T00:00:00.000000000', '2019-04-10T00:00:00.000000000',
       '2021-02-15T00:00:00.000000000', '2022-02-12T00:00:00.000000000',
       '2021-05-30T00:00:00.000000000', '2021-06-13T00:00:00.000000000',
       '2021-08-20T00:00:00.000000000', '2021-08-23T00:00:00.000000000',
       '2022-02-13T00:00:00.000000000', '2021-02-02T00:00:00.000000000',
       '2021-07-28T00:00:00.000000000', '2021-07-23T00:00:00.000000000',
       '2017-09-14T00:00:00.000000000', '2022-02-14T00:00:00.000000000',
       '2019-12-10T00:00:00.000000000', '2020-02-07T00:00:00.000000000',
       '2020-02-04T00:00:00.000000000', '2021-03-16T00:00:00.000000000',
       '2021-08-24T00:00:00.000000000', '2021-02-05T00:00:00.000000000',
       '2022-02-15T00:00:00.000000000', '2020-11-16T00:00:00.000000000',
       '2020-11-17T00:00:00.000000000', '2020-11-18T00:00:00.000000000',
       '2020-12-25T00:00:00.000000000', '2020-12-28T00:00:00.000000000',
       '2020-12-30T00:00:00.000000000', '2021-01-13T00:00:00.000000000',
       '2020-11-15T00:00:00.000000000', '2022-02-16T00:00:00.000000000',
       '2021-07-25T00:00:00.000000000', '2022-02-17T00:00:00.000000000',
       '2019-07-09T00:00:00.000000000', '2021-02-23T00:00:00.000000000',
       '2017-07-31T00:00:00.000000000', '2017-08-15T00:00:00.000000000',
       '2017-08-18T00:00:00.000000000', '2017-08-21T00:00:00.000000000',
       '2017-08-24T00:00:00.000000000', '2017-07-26T00:00:00.000000000',
       '2017-08-11T00:00:00.000000000', '2020-12-26T00:00:00.000000000',
       '2020-02-12T00:00:00.000000000', '2021-03-07T00:00:00.000000000',
       '2022-02-18T00:00:00.000000000', '2021-02-10T00:00:00.000000000',
       '2021-03-13T00:00:00.000000000', '2022-02-19T00:00:00.000000000',
       '2021-05-28T00:00:00.000000000', '2022-02-20T00:00:00.000000000',
       '2021-09-10T00:00:00.000000000', '2021-09-08T00:00:00.000000000',
       '2021-03-19T00:00:00.000000000', '2022-02-21T00:00:00.000000000',
       '2021-07-04T00:00:00.000000000', '2019-06-17T00:00:00.000000000',
       '2020-12-03T00:00:00.000000000', '2020-11-28T00:00:00.000000000',
       '2021-05-20T00:00:00.000000000', '2022-02-22T00:00:00.000000000',
       '2019-06-18T00:00:00.000000000', '2021-05-23T00:00:00.000000000',
       '2022-02-23T00:00:00.000000000', '2021-07-26T00:00:00.000000000',
       '2021-03-20T00:00:00.000000000', '2021-03-31T00:00:00.000000000',
       '2021-03-29T00:00:00.000000000', '2021-09-06T00:00:00.000000000',
       '2022-02-24T00:00:00.000000000', '2021-06-16T00:00:00.000000000',
       '2022-02-25T00:00:00.000000000', '2021-06-18T00:00:00.000000000',
       '2022-02-26T00:00:00.000000000', '2020-10-29T00:00:00.000000000',
       '2020-11-05T00:00:00.000000000', '2020-02-24T00:00:00.000000000',
       '2021-02-26T00:00:00.000000000', '2022-02-27T00:00:00.000000000',
       '2021-06-06T00:00:00.000000000', '2021-02-08T00:00:00.000000000',
       '2022-02-28T00:00:00.000000000', '2021-02-24T00:00:00.000000000',
       '2021-03-25T00:00:00.000000000', '2021-04-07T00:00:00.000000000',
       '2021-07-14T00:00:00.000000000', '2019-06-25T00:00:00.000000000',
       '2019-06-19T00:00:00.000000000', '2019-06-24T00:00:00.000000000',
       '2020-11-10T00:00:00.000000000', '2020-11-11T00:00:00.000000000',
       '2020-11-21T00:00:00.000000000', '2020-10-30T00:00:00.000000000'],
      dtype='datetime64[ns]')

#### PAGOS DUPLICADOS TRADICIONAL

In [11]:
duplicates_trad = pagos_1[pagos_1.duplicated(['report_id','date_file'] , keep=False)]
duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)
duplicates_trad.head()

C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_12604/189612330.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_due, tipo, bank, swap, CLABE, status, CEP, Banco_emisor, file_name, date_file]
Index: []

In [12]:
duplicates_trad.shape

(0, 15)

In [13]:
duplicates_trad.drop_duplicates(subset="report_id", keep='last', inplace=True)

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_due, tipo, bank, swap, CLABE, status, CEP, Banco_emisor, file_name, date_file]
Index: []

In [14]:
duplicates_trad.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_due, tipo, bank, swap, CLABE, status, CEP, Banco_emisor, file_name, date_file]
Index: []

In [15]:
duplicates_trad.shape

(0, 15)

In [16]:
pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_trad.reset_index(drop=False, inplace=True)
pivot_duplicates_trad.head()

KeyError: 'date_file'

In [ ]:
pivot_duplicates_trad.shape

#### FAST PAYMENTS

In [17]:
fp_files_1 = glob.glob(r'G:\My Drive\Settlement\1.-Resultado-dispersión\2022\02.-FEBRERO\Dispersión-FP*.xlsx', recursive=False)
fp_files_1

['G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-02.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-01.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-03.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-04.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-05.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-07.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-06.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-08.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-09.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-10.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-13.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-12.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-11.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-14.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-15.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-16.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-17.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-18.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-20.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-19.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-21.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-23.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-22.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-24.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-26.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-25.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-27.xlsx',
 'G:\\My Drive\\Settlement\\1.-Resultado-dispersión\\2022\\02.-FEBRERO\\Dispersión-FP 2022-02-28.xlsx']

In [18]:
pagos_2 = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS').assign(file_name=os.path.basename(f)) for f in fp_files_1])
pagos_2['date_file'] = pagos_2["file_name"].str[-15:-4]
pagos_2['date_file']= pd.to_datetime(pagos_2['date_file']) 
pagos_2.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_2['report_date_local']= pd.to_datetime(pagos_2['report_date_local']) 
pagos_2.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor,file_name,date_file
3938,af2439b5-5e75-47c3-a086-c7e4a9e15db2,EL FRESCO TACOS,elfrescotacosrestaurant@protonmail.com,BHXHHMRL3,2022-02-01,183.98,Pago del día,ASP INTEGRA OPC,Alejandro Bonilla Rodriguez,659802020000294380,PAID,"2022-02-01,17EB7D8D9C4CF8A3,40002,90659,659802...",18:00,BANAMEX,Dispersión-FP 2022-02-01.xlsx,2022-02-01
1781,4fa93cad-300a-40ca-81ff-942bf170c893,Bosque Geometrico,alejandra.nieto.tapia@gmail.com,R43XLVXDH,2022-02-01,"3,392.17",Pago del día,ASP INTEGRA OPC,Alejandra Patricia Nieto Tapia,659802020000215770,PAID,"2022-02-01,17EB6EA825D6177C,40002,90659,659802...",14:00,BANAMEX,Dispersión-FP 2022-02-01.xlsx,2022-02-01
1782,4fed1770-138c-4f48-944d-7386f5f8c4aa,Carniceria Nila,solanonilaraul1975@gmail.com,B8X76QG3P,2022-02-01,0.95,Pago del día,ASP INTEGRA OPC,Raul Nila Solano,659802020000365471,PAID,"2022-02-01,17EB6EA7D61745D3,40002,90659,659802...",14:00,BANAMEX,Dispersión-FP 2022-02-01.xlsx,2022-02-01
1783,500a0cb3-87eb-4078-b05e-94ad0f3cabbb,SIÉNTETE BIEN Org SANJIAO,cigno.sat.nam@gmail.com,TTMYD2JJZ,2022-02-01,574.94,Pago del día,ASP INTEGRA OPC,Maria de Lourdes Cardona Valdes,659802020000165862,PAID,"2022-02-01,17EB6EA83DF7D360,40002,90659,659802...",14:00,BANAMEX,Dispersión-FP 2022-02-01.xlsx,2022-02-01
1784,509a9b20-a005-48e9-9a94-832fcb4cb25d,Cremeria y Chiles Secos Nora,noraleon04@gmail.com,X52K84VJJ,2022-02-01,212.73,Pago del día,ASP INTEGRA OPC,Nora Mireya Leon Navarro,659802020000118851,PAID,"2022-02-01,17EB6EA7E237A4C3,40002,90659,659802...",14:00,BANAMEX,Dispersión-FP 2022-02-01.xlsx,2022-02-01

In [19]:
pagos_2.shape

(152179, 16)

#### PAGOS REPETIDOS FAST PAYMENTS

In [20]:
duplicates_fp = pagos_2[pagos_2.duplicated(['report_id','date_file'] , keep=False)]
duplicates_fp.sort_values(by=['date_file','report_id','Time'],inplace=True)
duplicates_fp.head()

C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_12604/1296643442.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.sort_values(by=['date_file','report_id','Time'],inplace=True)

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor,file_name,date_file
726,bd7a9a96-0223-4910-aec3-a3f6c43732e7,Comida,e.mbquez@gmail.com,8B7K7JN9B,2022-02-09,"21,291.94",Pago del día,ASP INTEGRA OPC,Erick Daniel Martinez Bojorquez,659802020000373751,PAID,"2022-02-09,17EE10B2EE240CDB,40002,90659,659802...",09:00,BANAMEX,Dispersión-FP 2022-02-09.xlsx,2022-02-09
3721,bd7a9a96-0223-4910-aec3-a3f6c43732e7,Comida,e.mbquez@gmail.com,8B7K7JN9B,2022-02-09,"21,291.94",Pago del día,ASP INTEGRA OPC,Erick Daniel Martinez Bojorquez,659802020000373751,PAID,"2022-02-09,17EE10B2EE240CDB,40002,90659,659802...",18:00,BANAMEX,Dispersión-FP 2022-02-09.xlsx,2022-02-09
2082,ed30805e-1892-4d30-b2cd-a76650af7304,Papeleria Viveros,adyhernandezf@gmail.com,CDF8G7WSR,2022-02-09,119.78,Pago del día,ASP INTEGRA OPC,Adriana Elizabeth Hernandez Flores,659802020000564641,PAID,"2022-02-09,17EE1A713210BF1A,40002,90659,659802...",14:00,BANAMEX,Dispersión-FP 2022-02-09.xlsx,2022-02-09
4914,ed30805e-1892-4d30-b2cd-a76650af7304,Papeleria Viveros,adyhernandezf@gmail.com,CDF8G7WSR,2022-02-09,119.78,Pago del día,ASP INTEGRA OPC,Adriana Elizabeth Hernandez Flores,659802020000564641,PAID,"2022-02-09,17EE1A713210BF1A,40002,90659,659802...",20:00,BANAMEX,Dispersión-FP 2022-02-09.xlsx,2022-02-09
1748,75357de1-b88b-4c9f-a2c3-8a0e3735512b,Miguel Gomez 830133,trasporteejecutivoags2019@gmail.com,RQXDG7HYQ,2022-02-09,958.24,Pago del día,ASP INTEGRA OPC,Miguel agustin Gomez Garrido,659802020000007289,PAID,"2022-02-09,17EE1A76B3F8097B,40002,90659,659802...",14:00,BANAMEX,Dispersión-FP 2022-02-09.xlsx,2022-02-09

In [21]:
duplicates_fp.shape

(12, 16)

In [22]:
duplicates_fp.drop_duplicates(subset="report_id", keep='last', inplace=True)

C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_12604/966439277.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.drop_duplicates(subset="report_id", keep='last', inplace=True)

In [23]:
duplicates_fp.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor,file_name,date_file
3721,bd7a9a96-0223-4910-aec3-a3f6c43732e7,Comida,e.mbquez@gmail.com,8B7K7JN9B,2022-02-09,"21,291.94",Pago del día,ASP INTEGRA OPC,Erick Daniel Martinez Bojorquez,659802020000373751,PAID,"2022-02-09,17EE10B2EE240CDB,40002,90659,659802...",18:00,BANAMEX,Dispersión-FP 2022-02-09.xlsx,2022-02-09
4914,ed30805e-1892-4d30-b2cd-a76650af7304,Papeleria Viveros,adyhernandezf@gmail.com,CDF8G7WSR,2022-02-09,119.78,Pago del día,ASP INTEGRA OPC,Adriana Elizabeth Hernandez Flores,659802020000564641,PAID,"2022-02-09,17EE1A713210BF1A,40002,90659,659802...",20:00,BANAMEX,Dispersión-FP 2022-02-09.xlsx,2022-02-09
4431,75357de1-b88b-4c9f-a2c3-8a0e3735512b,Miguel Gomez 830133,trasporteejecutivoags2019@gmail.com,RQXDG7HYQ,2022-02-09,958.24,Pago del día,ASP INTEGRA OPC,Miguel agustin Gomez Garrido,659802020000007289,PAID,"2022-02-09,17EE1A76B3F8097B,40002,90659,659802...",20:00,BANAMEX,Dispersión-FP 2022-02-09.xlsx,2022-02-09
3196,28f66e9f-530b-47d7-8092-9e868c7d1501,Artesanias,juanmaytun@gmail.com,SBH69DT9B,2022-02-09,"4,168.34",Pago del día,ASP INTEGRA OPC,Juan Misael May Tun,659802020000113597,PAID,"2022-02-09,17EE10B5DCCEDB4F,40002,90659,659802...",18:00,BANAMEX,Dispersión-FP 2022-02-09.xlsx,2022-02-09
4592,444ea57f-1fd9-40e9-910b-7f2f7b229350,Don Perrito,donperrito1@hotmail.com,PSJZZVMBZ,2022-02-10,271.66,Pago del día,ASP INTEGRA OPC,Maria Patricia Lopez Rosales,659802020000553924,PAID,"2022-02-10,17EE6B1B4BC64C72,40002,90659,659802...",20:00,BANAMEX,Dispersión-FP 2022-02-10.xlsx,2022-02-10

In [24]:
duplicates_fp.shape

(6, 16)

In [25]:
pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_fp.reset_index(drop=False, inplace=True)
pivot_duplicates_fp.head()

C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_12604/3187082303.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],
C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_12604/3187082303.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],

             tipo  date_file       sum       len
                             total_due total_due
0    Pago del día 2022-02-09 26,538.30         4
1    Pago del día 2022-02-10    271.66         1
2  Reprogramación 2022-02-25    383.30         1
3             All        NaT 27,193.26         6

In [26]:
pivot_duplicates_fp.shape

(4, 4)

In [27]:
# pivot_duplicates_fp.to_excel('DUPLICADOS FP JUNIO 2021.xlsx',index=True)

#### ALL PAGOS

In [28]:
allpagos = pd.concat([pagos_1,pagos_2])
allpagos.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Banco_emisor,file_name,date_file,Time
0,0a74fc00-3cc1-4def-a7a4-de68965fafde,Abarrotes Karla,kalderete342@gmail.com,X8V39XCHC,2022-02-01,60.37,Pago del día,BBVA BANCOMER,Carlos Alberto Esquivel Gonzlez,12078015065947388,failed,NaN,NaN,Dispersión-20220201.xlsx,2022-02-01,NaN
49024,00860631-27a5-4063-829e-042c3d4e91f1,Electromar,salvap57@hotmail.com,R6K7HZ8TK,2022-02-01,3.20,Pago del día,BANCOPPEL,Salvador Pedro Garcia,137180102454244488,paid,"2022-02-01,2022020140014 BET0000459237020,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,NaN
49025,00327d93-311f-4deb-b44b-6f9121d0fb8c,Cibac,fertrudiz@hotmail.com,7H47H245L,2022-02-01,"4,024.62",Pago del día,INBURSA,Centro de ingenieria biomecanica aplicada a co...,36180500077755248,paid,"2022-02-01,2022020140014 BET0000458676690,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,NaN
49026,0031a0de-784d-4791-9fe3-0732ef184a9a,Elite Body SPA,gaby_castrocabrera@yahoo.com.mx,8KD8K47SJ,2022-02-01,"1,811.07",Pago del día,BBVA BANCOMER,Gabriela Castro Cabrera,12180004761889238,paid,"2022-02-01,2022020140014 BET0000458664910,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,NaN
49027,00315aa0-8556-44f8-950f-9af20264bb77,Consultorio Dental,dradianaguillen@gmail.com,Z3GTZB9M5,2022-02-01,479.12,Pago del día,INBURSA,Montserrat Diana Guillen Chavez,36180500213012392,paid,"2022-02-01,2022020140014 BET0000458865100,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,NaN

In [29]:
allpagos.shape

(2304453, 16)

In [30]:
allpagos['tipo'].unique()

array(['Pago del día', 'Reprogramación'], dtype=object)

In [31]:
group_allpagos = allpagos.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_allpagos.head()

   date_file      total_due  report_id
0 2022-02-01 143,929,624.53      78912
1 2022-02-02 138,353,400.13      81206
2 2022-02-03 134,577,807.63      80483
3 2022-02-04 141,743,979.48      83001
4 2022-02-05 163,918,697.79      88279

In [32]:
group_allpagos.shape

(28, 3)

#### PAGOS DEL DIA

In [33]:
pagosdia = allpagos[(allpagos['tipo'].isin(['Pago del día']))]
pagosdia.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Banco_emisor,file_name,date_file,Time
0,0a74fc00-3cc1-4def-a7a4-de68965fafde,Abarrotes Karla,kalderete342@gmail.com,X8V39XCHC,2022-02-01,60.37,Pago del día,BBVA BANCOMER,Carlos Alberto Esquivel Gonzlez,12078015065947388,failed,NaN,NaN,Dispersión-20220201.xlsx,2022-02-01,NaN
49024,00860631-27a5-4063-829e-042c3d4e91f1,Electromar,salvap57@hotmail.com,R6K7HZ8TK,2022-02-01,3.20,Pago del día,BANCOPPEL,Salvador Pedro Garcia,137180102454244488,paid,"2022-02-01,2022020140014 BET0000459237020,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,NaN
49025,00327d93-311f-4deb-b44b-6f9121d0fb8c,Cibac,fertrudiz@hotmail.com,7H47H245L,2022-02-01,"4,024.62",Pago del día,INBURSA,Centro de ingenieria biomecanica aplicada a co...,36180500077755248,paid,"2022-02-01,2022020140014 BET0000458676690,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,NaN
49026,0031a0de-784d-4791-9fe3-0732ef184a9a,Elite Body SPA,gaby_castrocabrera@yahoo.com.mx,8KD8K47SJ,2022-02-01,"1,811.07",Pago del día,BBVA BANCOMER,Gabriela Castro Cabrera,12180004761889238,paid,"2022-02-01,2022020140014 BET0000458664910,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,NaN
49027,00315aa0-8556-44f8-950f-9af20264bb77,Consultorio Dental,dradianaguillen@gmail.com,Z3GTZB9M5,2022-02-01,479.12,Pago del día,INBURSA,Montserrat Diana Guillen Chavez,36180500213012392,paid,"2022-02-01,2022020140014 BET0000458865100,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,NaN

In [34]:
pagosdia.shape

(2290038, 16)

In [35]:
group_dia = pagosdia.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_dia.head()

   date_file      total_due  report_id
0 2022-02-01 142,898,366.77      78301
1 2022-02-02 136,928,564.77      79872
2 2022-02-03 133,523,645.57      79647
3 2022-02-04 140,842,264.98      82140
4 2022-02-05 162,771,230.83      87631

In [36]:
group_dia.shape

(28, 3)

# PRIMER MATCH (SETTLED VS PAGOS DEL DIA)

In [37]:
check_1 = cum_1.merge(pagosdia[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_1['total_due_y'].fillna('NO ENCONTRADO')
check_1['tipo'].fillna('NO ENCONTRADO',inplace=True)
check_1['file_name_y'].fillna('NO ENCONTRADO',inplace=True)
# check_1.fillna({'total_due_y':'NO ENCONTRADO', 'tipo':'NO ENCONTRADO', 'file_name_y':'NO ENCONTRADO'}, inplace=True)
check_1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_due_x,type,created_date,created_time,updated_date,updated_time,file_name_x,total_due_y,tipo,file_name_y
0,e52d9704-6871-435b-a772-a62a7f5ead18,Natural,nancynm1820@gmail.com,39MNGF97Z,2022-02-01,"1,500.00",54.00,8.64,0.00,0.00,...,"1,437.36",DAILY,2022-02-01,02:00:22,2022-02-01,02:00:22,SETTLEMENT 2022-02-01.csv,"1,437.36",Pago del día,Dispersión-20220201.xlsx
1,2a9287c9-d2c5-424a-9cc1-49080607aea7,Arthromedic,maybelreyes.7@gmail.com,2LS4TPLL8,2022-02-01,"1,350.00",48.60,7.78,0.00,0.00,...,"1,293.62",DAILY,2022-02-01,02:00:23,2022-02-01,02:00:23,SETTLEMENT 2022-02-01.csv,"1,293.62",Pago del día,Dispersión-20220201.xlsx
2,c62a160d-4af9-431b-8244-70ccb4ebb0a5,Pisos Laminados Y Marmol VR,dorisjanirmaro@gmail.com,84BJNG6K4,2022-02-01,"4,336.00",156.10,24.98,0.00,0.00,...,"4,154.92",DAILY,2022-02-01,02:00:23,2022-02-01,02:00:23,SETTLEMENT 2022-02-01.csv,"4,154.92",Pago del día,Dispersión-20220201.xlsx
3,a85619da-fb1f-47d9-a5b7-33256a0511fb,Restaurante Los Nietos,guillermo_220596@hotmail.com,FWJH5JK9L,2022-02-01,561.48,20.22,3.24,0.00,0.00,...,538.02,DAILY,2022-02-01,02:00:23,2022-02-01,02:00:23,SETTLEMENT 2022-02-01.csv,538.02,Pago del día,Dispersión-20220201.xlsx
4,823b418a-f07d-4602-ac25-c87846b727f7,Grata Impresión,grataimpresion@gmail.com,HY2KXK5B9,2022-02-01,150.00,5.40,0.86,0.00,0.00,...,143.74,DAILY,2022-02-01,02:00:23,2022-02-01,02:00:23,SETTLEMENT 2022-02-01.csv,143.74,Pago del día,Dispersión-20220201.xlsx

In [38]:
check_1['file_name_y'].unique()

array(['Dispersión-20220201.xlsx', 'NO ENCONTRADO',
       'Dispersión-FP 2022-02-01.xlsx', 'Dispersión-20220202.xlsx',
       'Dispersión-FP 2022-02-02.xlsx', 'Dispersión-20220203.xlsx',
       'Dispersión-FP 2022-02-03.xlsx', 'Dispersión-20220204.xlsx',
       'Dispersión-FP 2022-02-04.xlsx', 'Dispersión-20220205.xlsx',
       'Dispersión-FP 2022-02-05.xlsx', 'Dispersión-20220206.xlsx',
       'Dispersión-FP 2022-02-06.xlsx', 'Dispersión-20220207.xlsx',
       'Dispersión-FP 2022-02-07.xlsx', 'Dispersión-20220208.xlsx',
       'Dispersión-FP 2022-02-08.xlsx', 'Dispersión-20220209.xlsx',
       'Dispersión-FP 2022-02-09.xlsx', 'Dispersión-20220210.xlsx',
       'Dispersión-FP 2022-02-10.xlsx', 'Dispersión-20220211.xlsx',
       'Dispersión-FP 2022-02-11.xlsx', 'Dispersión-20220212.xlsx',
       'Dispersión-FP 2022-02-12.xlsx', 'Dispersión-20220213.xlsx',
       'Dispersión-FP 2022-02-13.xlsx', 'Dispersión-20220214.xlsx',
       'Dispersión-FP 2022-02-14.xlsx', 'Dispersión-20220215.xlsx',
       'Dispersión-FP 2022-02-15.xlsx', 'Dispersión-20220216.xlsx',
       'Dispersión-FP 2022-02-16.xlsx', 'Dispersión-20220217.xlsx',
       'Dispersión-FP 2022-02-17.xlsx', 'Dispersión-20220218.xlsx',
       'Dispersión-FP 2022-02-18.xlsx', 'Dispersión-20220219.xlsx',
       'Dispersión-FP 2022-02-19.xlsx', 'Dispersión-20220220.xlsx',
       'Dispersión-FP 2022-02-20.xlsx', 'Dispersión-20220221.xlsx',
       'Dispersión-FP 2022-02-21.xlsx', 'Dispersión-20220222.xlsx',
       'Dispersión-FP 2022-02-22.xlsx', 'Dispersión-20220223.xlsx',
       'Dispersión-FP 2022-02-23.xlsx', 'Dispersión-20220224.xlsx',
       'Dispersión-FP 2022-02-24.xlsx', 'Dispersión-20220225.xlsx',
       'Dispersión-FP 2022-02-25.xlsx', 'Dispersión-20220226.xlsx',
       'Dispersión-FP 2022-02-26.xlsx', 'Dispersión-20220227.xlsx',
       'Dispersión-FP 2022-02-27.xlsx', 'Dispersión-20220228.xlsx',
       'Dispersión-FP 2022-02-28.xlsx'], dtype=object)

In [39]:
not_found_1 = check_1[(check_1['file_name_y'] == 'NO ENCONTRADO') & (check_1['total_due_x'] != 0)]
not_found_1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_due_x,type,created_date,created_time,updated_date,updated_time,file_name_x,total_due_y,tipo,file_name_y
20,c5358055-5ce5-4f12-9344-20988d619255,jugos y licuados,olicas079@gmail.com,SCCN5MGPY,2022-02-01,1.00,0.04,0.01,0.00,0.00,...,0.95,DAILY,2022-02-01,02:00:25,2022-02-01,02:00:25,SETTLEMENT 2022-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
153,4758e4ac-57fb-45d4-a761-c96fa2da34ed,bebidas,castrowendy101@gmail.com,XB7FXPMZF,2022-02-01,450.00,16.20,2.59,0.00,0.00,...,431.21,DAILY,2022-02-01,02:00:47,2022-02-01,02:00:47,SETTLEMENT 2022-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
179,275cd78d-59ea-4f2d-b703-61baf4d9113d,Taller de hojalateria y pintura RAG,abdeliram@gmail.com,G95BTHRPS,2022-02-01,1.00,0.04,0.01,0.00,0.00,...,0.95,DAILY,2022-02-01,02:00:52,2022-02-01,02:00:52,SETTLEMENT 2022-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
1007,e6043e24-f262-4a31-8bfa-f743d2824228,Abarrotes Yahualica,Juannavarro160397@icloud.com,W8Q96GNST,2022-02-01,83.00,2.99,0.48,0.00,0.00,...,79.53,DAILY,2022-02-01,02:03:15,2022-02-01,02:03:15,SETTLEMENT 2022-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
1580,860a5b41-d1b3-4617-afab-00cfea5f15d4,pet food,robertonavarroromero@gmail.com,W3MVKJWZN,2022-02-01,230.00,8.28,1.32,0.00,0.00,...,220.40,DAILY,2022-02-01,02:04:53,2022-02-01,02:04:53,SETTLEMENT 2022-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO

In [40]:
not_found_1.shape

(7420, 29)

In [41]:
group_notfound = not_found_1.groupby(['report_date_local']).agg({'total_due_x':sum,'report_id':'count'}).reset_index()
group_notfound.rename(columns={'report_date_local':'date_file'},inplace=True)
group_notfound.head()

   date_file  total_due_x  report_id
0 2022-02-01    80,936.84        246
1 2022-02-02   105,934.02        220
2 2022-02-03   183,990.70        266
3 2022-02-04    93,839.81        268
4 2022-02-05   113,974.84        252

In [42]:
group_notfound.shape

(28, 3)

#### REPROGRAMACIONES

In [43]:
repro = allpagos[(allpagos['tipo'].isin(['Reprogramación']))]
repro.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Banco_emisor,file_name,date_file,Time
49192,01bbb603-14a1-4a58-a545-7d1516a4ef69,Outfit DJ,julio_cesgar@hotmail.com,N8TT5VWKN,2022-01-26,"1,919.35",Reprogramación,BBVA BANCOMER,Julio Cesar Garcia Ayala,12180015626993355,paid,"2022-02-01,2022020140014 BET0000459020790,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,NaN
49190,01bbb603-14a1-4a58-a545-7d1516a4ef69,Outfit DJ,julio_cesgar@hotmail.com,XKZ5KB22F,2022-01-28,349.76,Reprogramación,BBVA BANCOMER,Julio Cesar Garcia Ayala,12180015626993355,paid,"2022-02-01,2022020140014 BET0000458891420,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,NaN
49191,01a41d3b-a24a-4e71-be7e-a8790e35628a,Sushi Manía,angelaapostolgarcia10@gmail.com,6XNRKTTWC,2022-01-31,"1,174.79",Reprogramación,SCOTIABANK,Israel Apostol Arango,44225256039155647,paid,"2022-02-01,2022020140014 BET0000459271100,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,NaN
49200,01bbb603-14a1-4a58-a545-7d1516a4ef69,Outfit DJ,julio_cesgar@hotmail.com,SFHPW7NL5,2022-01-23,578.78,Reprogramación,BBVA BANCOMER,Julio Cesar Garcia Ayala,12180015626993355,paid,"2022-02-01,2022020140014 BET0000458864320,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,NaN
48309,080f1903-b976-4c9b-bde2-022cc89247e9,Cafeteria De Chris,lozano.carla24@gmail.com,DZVCV8MZR,2021-10-29,84.32,Reprogramación,BBVA BANCOMER,CARLA CRISTINA LOZANO BENITEZ,12180029943388202,paid,"2022-02-01,2022020140014 BET0000459007870,4001...",SANTANDER,Dispersión-20220201.xlsx,2022-02-01,NaN

In [44]:
repro.shape

(14415, 16)

In [45]:
group_repro = repro.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_repro.head()

   date_file    total_due  report_id
0 2022-02-01 1,031,257.76        611
1 2022-02-02 1,424,835.36       1334
2 2022-02-03 1,054,162.06        836
3 2022-02-04   901,714.50        861
4 2022-02-05 1,147,466.96        648

In [46]:
group_repro.shape

(28, 3)

# SEGUNDO MATCH (IDENTIFICACION DE REPROGRAMACIONES)

In [47]:
check_2 = not_found_1.merge(repro[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_2.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,created_time,updated_date,updated_time,file_name_x,total_due_y,tipo_x,file_name_y,total_due,tipo_y,file_name
0,c5358055-5ce5-4f12-9344-20988d619255,jugos y licuados,olicas079@gmail.com,SCCN5MGPY,2022-02-01,1.00,0.04,0.01,0.00,0.00,...,02:00:25,2022-02-01,02:00:25,SETTLEMENT 2022-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,NaN,NaN,NaN
1,4758e4ac-57fb-45d4-a761-c96fa2da34ed,bebidas,castrowendy101@gmail.com,XB7FXPMZF,2022-02-01,450.00,16.20,2.59,0.00,0.00,...,02:00:47,2022-02-01,02:00:47,SETTLEMENT 2022-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,431.21,Reprogramación,Dispersión-20220219.xlsx
2,275cd78d-59ea-4f2d-b703-61baf4d9113d,Taller de hojalateria y pintura RAG,abdeliram@gmail.com,G95BTHRPS,2022-02-01,1.00,0.04,0.01,0.00,0.00,...,02:00:52,2022-02-01,02:00:52,SETTLEMENT 2022-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,0.95,Reprogramación,Dispersión-20220203.xlsx
3,e6043e24-f262-4a31-8bfa-f743d2824228,Abarrotes Yahualica,Juannavarro160397@icloud.com,W8Q96GNST,2022-02-01,83.00,2.99,0.48,0.00,0.00,...,02:03:15,2022-02-01,02:03:15,SETTLEMENT 2022-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,NaN,NaN,NaN
4,860a5b41-d1b3-4617-afab-00cfea5f15d4,pet food,robertonavarroromero@gmail.com,W3MVKJWZN,2022-02-01,230.00,8.28,1.32,0.00,0.00,...,02:04:53,2022-02-01,02:04:53,SETTLEMENT 2022-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,NaN,NaN,NaN

In [48]:
check_2.shape

(7431, 32)

In [49]:
# writer = pd.ExcelWriter('REPROGRAMACIONES JUNIO 2021.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})
# check_2.to_excel(writer, sheet_name='DETAIL REPROGRAMACIONES',index=False)
# writer.save()
# writer.close()

# FECHA DE PAGOS (SETTLED VS PAGOS DEL DIA)

In [50]:
fecha_pago = not_found_1.merge(repro[['report_id','date_file','tipo','status','file_name']] ,on='report_id', how='left')
fecha_pago.sort_values(by=['date_file'],ascending=True,inplace=True)
fecha_pago.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,updated_date,updated_time,file_name_x,total_due_y,tipo_x,file_name_y,date_file,tipo_y,status,file_name
238,bc61b875-8587-4b2d-a665-81070ad003b6,Tienda de Abarrotes,jafetgallardomacedo@gmail.com,8YN6SQTBG,2022-02-01,"1,000.00",36.00,5.76,0.00,0.00,...,2022-02-01,05:18:04,SETTLEMENT 2022-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-02-02,Reprogramación,paid,Dispersión-20220202.xlsx
203,99cc0462-1396-4974-9a0c-789d053f47a9,Dental ramirez,ca_leido@hotmail.com,XTKNPL2VP,2022-02-01,10.00,0.36,0.06,0.00,0.00,...,2022-02-01,04:52:35,SETTLEMENT 2022-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-02-02,Reprogramación,paid,Dispersión-20220202.xlsx
115,32758a2c-ce90-4c29-932c-6d27295089b4,santitos,wilmaycarrasco15@gmail.com,Q3MSWY4JG,2022-02-01,20.00,0.72,0.12,0.00,0.00,...,2022-02-01,03:34:54,SETTLEMENT 2022-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-02-02,Reprogramación,paid,Dispersión-20220202.xlsx
122,6da755ef-fd97-493a-9105-cd68047447da,tienda Babaji,jk9110_05master@hotmail.com,NKW36JHFP,2022-02-01,190.00,6.84,1.09,0.00,0.00,...,2022-02-01,03:39:55,SETTLEMENT 2022-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-02-02,Reprogramación,paid,Dispersión-20220202.xlsx
71,fc1e251f-d9e2-4395-9bd7-d940ce8b527e,MOTORAIN,bernamotos@hotmail.com,BN7VNP4TM,2022-02-01,371.00,13.36,2.14,0.00,0.00,...,2022-02-01,03:00:10,SETTLEMENT 2022-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-02-02,Reprogramación,paid,Dispersión-20220202.xlsx

In [51]:
fecha_pago.shape

(7431, 33)

In [52]:
fecha_pago.drop_duplicates(subset ='report_id',keep='first',inplace=True)

In [53]:
fecha_pago.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,updated_date,updated_time,file_name_x,total_due_y,tipo_x,file_name_y,date_file,tipo_y,status,file_name
238,bc61b875-8587-4b2d-a665-81070ad003b6,Tienda de Abarrotes,jafetgallardomacedo@gmail.com,8YN6SQTBG,2022-02-01,"1,000.00",36.00,5.76,0.00,0.00,...,2022-02-01,05:18:04,SETTLEMENT 2022-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-02-02,Reprogramación,paid,Dispersión-20220202.xlsx
203,99cc0462-1396-4974-9a0c-789d053f47a9,Dental ramirez,ca_leido@hotmail.com,XTKNPL2VP,2022-02-01,10.00,0.36,0.06,0.00,0.00,...,2022-02-01,04:52:35,SETTLEMENT 2022-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-02-02,Reprogramación,paid,Dispersión-20220202.xlsx
115,32758a2c-ce90-4c29-932c-6d27295089b4,santitos,wilmaycarrasco15@gmail.com,Q3MSWY4JG,2022-02-01,20.00,0.72,0.12,0.00,0.00,...,2022-02-01,03:34:54,SETTLEMENT 2022-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-02-02,Reprogramación,paid,Dispersión-20220202.xlsx
122,6da755ef-fd97-493a-9105-cd68047447da,tienda Babaji,jk9110_05master@hotmail.com,NKW36JHFP,2022-02-01,190.00,6.84,1.09,0.00,0.00,...,2022-02-01,03:39:55,SETTLEMENT 2022-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-02-02,Reprogramación,paid,Dispersión-20220202.xlsx
71,fc1e251f-d9e2-4395-9bd7-d940ce8b527e,MOTORAIN,bernamotos@hotmail.com,BN7VNP4TM,2022-02-01,371.00,13.36,2.14,0.00,0.00,...,2022-02-01,03:00:10,SETTLEMENT 2022-02-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-02-02,Reprogramación,paid,Dispersión-20220202.xlsx

In [54]:
fecha_pago.shape

(7420, 33)

### AGRUPADO POR DÍA

In [55]:
pivot_fecha_pago = pd.pivot_table(fecha_pago,index=['report_date_local'],
                                  values=['total_due_x'],aggfunc = ['sum', len],margins=True)
pivot_fecha_pago.head()

                            sum         len
                    total_due_x total_due_x
report_date_local
2022-02-01 00:00:00   80,936.84         246
2022-02-02 00:00:00  105,934.02         220
2022-02-03 00:00:00  183,990.70         266
2022-02-04 00:00:00   93,839.81         268
2022-02-05 00:00:00  113,974.84         252

In [56]:
pivot_fecha_pago.shape

(29, 2)

# PAGOS MANUALES

In [57]:
file_manual = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2022\02. FEBRUARY\MANUALES\*.xlsx', recursive=False)
file_manual

['G:\\My Drive\\Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\02. FEBRUARY\\MANUALES\\Manuales 2022-02-01.xlsx',
 'G:\\My Drive\\Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\02. FEBRUARY\\MANUALES\\Manuales 2022-02-09.xlsx',
 'G:\\My Drive\\Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\02. FEBRUARY\\MANUALES\\Manuales 2022-02-10.xlsx',
 'G:\\My Drive\\Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\02. FEBRUARY\\MANUALES\\Manuales 2022-02-17.xlsx',
 'G:\\My Drive\\Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\02. FEBRUARY\\MANUALES\\Manuales 2022-02-18.xlsx',
 'G:\\My Drive\\Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\02. FEBRUARY\\MANUALES\\Manuales 2022-02-22.xlsx',
 'G:\\My Drive\\Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\02. FEBRUARY\\MANUALES\\Manuales 2022-02-28.xlsx']

In [58]:
manuales_all = pd.concat([pd.read_excel(f,sheet_name='Formato Pago Manual',skiprows=1
                                      ,converters={'Cta. CLABE de depósito':str,'report_id':str})
                          .assign(file_name=os.path.basename(f)) for f in file_manual])
manuales_all['Date'] = manuales_all["file_name"].str[-16:-4]
manuales_all['Date']= pd.to_datetime(manuales_all['Date'])  
manuales_all['Tipo'] = 'MANUAL'

In [59]:
manuales_final = manuales_all[['Date','ME NAME',' (mxn)','Banco','Justificación para el pago','Tipo','Report ID']]
manuales_final.head()

,Date,ME NAME,(mxn),Banco,Justificación para el pago,Tipo,Report ID
0,2022-02-01,BLUE PINK,"4,599.55",AZTECA,"se solicita pago manual, por reembolso a comis...",MANUAL,rChQ9QM
1,2022-02-01,EVELIA TOSTADO GUTIERREZ,479.12,"BanCoppel, S.A.","se solicita pago manual, por reembolso a comis...",MANUAL,ASr9YaK
2,2022-02-01,EVELIA TOSTADO GUTIERREZ,9.58,"BanCoppel, S.A.","se solicita pago manual, por reembolso a comis...",MANUAL,uWN7yrd
0,2022-02-09,MIRKA MEXICANA SA DE CV,"2,599.67","Banco Santander, S.A.",Reembolso Mirka// referencia RGENERAL00348,MANUAL,na
0,2022-02-10,MIRKA MEXICANA SA DE CV,"268,438.69","Banco Santander, S.A.",Reembolso MIRKA MEXICANA SA DE CV,MANUAL,ZK5NT9RT6

In [60]:
manuales_final.shape

(16, 7)

In [61]:
manuales_final.columns

Index(['Date', 'ME NAME', ' (mxn)', 'Banco', 'Justificación para el pago',
       'Tipo', 'Report ID'],
      dtype='object')

In [62]:
group_manual = manuales_final.groupby(['Date']).agg({' (mxn)':sum,'Report ID':'count'}).reset_index()
group_manual.rename(columns={'Date':'date_file','Report ID':'report_id'},inplace=True)
group_manual.head()

   date_file      (mxn)  report_id
0 2022-02-01   5,088.25          3
1 2022-02-09   2,599.67          1
2 2022-02-10 268,497.09          2
3 2022-02-17  59,286.37          3
4 2022-02-18     105.89          2

In [63]:
group_manual.shape

(7, 3)

# ACUMULADOS SETTLEMENT

In [64]:
conc_disp = cum_distinct_0.groupby(['report_date_local']).agg({'total_due':sum,'report_id':'count'}).reset_index()
conc_disp.rename(columns={'report_date_local':'date_file'}, inplace=True)
conc_disp.head()

   date_file      total_due  report_id
0 2022-02-01 142,979,303.61      78547
1 2022-02-02 137,034,498.79      80092
2 2022-02-03 133,707,636.27      79913
3 2022-02-04 140,936,104.79      82408
4 2022-02-05 162,885,205.67      87883

In [65]:
conc_disp.shape

(28, 3)

# MERGING ALL DATA FRAMES

In [66]:
total_1 = conc_disp.merge(group_repro[['date_file','total_due','report_id']],on='date_file',how='left') \
.merge(group_manual,on='date_file',how='left')
total_1[' (mxn)'].fillna(0,inplace=True)
total_1['report_id'].fillna(0,inplace=True)
total_1.head()

,date_file,total_due_x,report_id_x,total_due_y,report_id_y,(mxn),report_id
0,2022-02-01,"142,979,303.61",78547,"1,031,257.76",611,"5,088.25",3.00
1,2022-02-02,"137,034,498.79",80092,"1,424,835.36",1334,0.00,0.00
2,2022-02-03,"133,707,636.27",79913,"1,054,162.06",836,0.00,0.00
3,2022-02-04,"140,936,104.79",82408,"901,714.50",861,0.00,0.00
4,2022-02-05,"162,885,205.67",87883,"1,147,466.96",648,0.00,0.00

In [67]:
total_1['count_total_pago_dia'] = total_1['report_id_x'] + total_1['report_id_y'] + total_1['report_id']
total_1['sum_total_pago_dia'] = total_1['total_due_x'] + total_1['total_due_y'] + total_1[' (mxn)']

In [68]:
total_1

,date_file,total_due_x,report_id_x,total_due_y,report_id_y,(mxn),report_id,count_total_pago_dia,sum_total_pago_dia
0,2022-02-01,"142,979,303.61",78547,"1,031,257.76",611,"5,088.25",3.00,"79,161.00","144,015,649.62"
1,2022-02-02,"137,034,498.79",80092,"1,424,835.36",1334,0.00,0.00,"81,426.00","138,459,334.15"
2,2022-02-03,"133,707,636.27",79913,"1,054,162.06",836,0.00,0.00,"80,749.00","134,761,798.33"
3,2022-02-04,"140,936,104.79",82408,"901,714.50",861,0.00,0.00,"83,269.00","141,837,819.29"
4,2022-02-05,"162,885,205.67",87883,"1,147,466.96",648,0.00,0.00,"88,531.00","164,032,672.63"
5,2022-02-06,"185,119,962.42",87743,"563,819.20",427,0.00,0.00,"88,170.00","185,683,781.62"
6,2022-02-07,"129,814,738.23",62064,"1,910,142.60",257,0.00,0.00,"62,321.00","131,724,880.83"
7,2022-02-08,"120,429,404.89",66920,"4,638,447.93",546,0.00,0.00,"67,466.00","125,067,852.82"
8,2022-02-09,"127,452,828.60",77104,"3,042,529.85",1461,"2,599.67",1.00,"78,566.00","130,497,958.12"
9,2022-02-10,"134,591,142.83",80407,"531,489.27",341,"268,497.09",2.00,"80,750.00","135,391,129.19"
10,2022-02-11,"149,361,425.62",85188,"649,072.89",452,0.00,0.00,"85,640.00","150,010,498.51"
11,2022-02-12,"172,555,866.73",92456,"1,117,962.49",466,0.00,0.00,"92,922.00","173,673,829.22"
12,2022-02-13,"199,660,179.52",93089,"519,487.38",278,0.00,0.00,"93,367.00","200,179,666.90"
13,2022-02-14,"133,188,950.07",66864,"436,727.06",217,0.00,0.00,"67,081.00","133,625,677.13"
14,2022-02-15,"164,084,521.98",84791,"2,872,539.63",385,0.00,0.00,"85,176.00","166,957,061.61"
15,2022-02-16,"146,699,519.71",83103,"750,760.80",553,0.00,0.00,"83,656.00","147,450,280.51"
16,2022-02-17,"147,466,663.02",84272,"1,369,129.73",470,"59,286.37",3.00,"84,745.00","148,895,079.12"
17,2022-02-18,"156,953,141.75",87053,"608,740.21",389,105.89,2.00,"87,444.00","157,561,987.85"
18,2022-02-19,"184,920,205.13",92967,"632,689.70",510,0.00,0.00,"93,477.00","185,552,894.83"
19,2022-02-20,"206,944,820.02",92664,"596,734.36",327,0.00,0.00,"92,991.00","207,541,554.38"
20,2022-02-21,"141,431,839.43",65256,"324,489.92",255,0.00,0.00,"65,511.00","141,756,329.35"
21,2022-02-22,"138,121,514.44",78717,"798,084.33",355,"4,024.61",1.00,"79,073.00","138,923,623.38"
22,2022-02-23,"143,925,981.24",80958,"1,347,998.06",499,0.00,0.00,"81,457.00","145,273,979.30"
23,2022-02-24,"147,023,078.25",82750,"829,577.46",461,0.00,0.00,"83,211.00","147,852,655.71"
24,2022-02-25,"161,146,024.56",87549,"923,438.20",554,0.00,0.00,"88,103.00","162,069,462.76"
25,2022-02-26,"193,015,236.07",95023,"697,292.98",468,0.00,0.00,"95,491.00","193,712,529.05"
26,2022-02-27,"211,485,977.97",94731,"347,611.49",278,0.00,0.00,"95,009.00","211,833,589.46"
27,2022-02-28,"145,394,092.41",66941,"396,655.82",176,"3,217.76",4.00,"67,121.00","145,793,965.99"

# ACUMULADOS PAGO DEL DIA

In [69]:
total_2 = group_allpagos.merge(group_notfound[['date_file','total_due_x','report_id']],on='date_file',how='left')\
.merge(group_manual,on='date_file',how='left')
total_2[' (mxn)'].fillna(0,inplace=True)
total_2['report_id'].fillna(0,inplace=True)
total_2['total_due_x'].fillna(0,inplace=True)
total_2['report_id_y'].fillna(0,inplace=True)
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id
0,2022-02-01,"143,929,624.53",78912,"80,936.84",246,"5,088.25",3.00
1,2022-02-02,"138,353,400.13",81206,"105,934.02",220,0.00,0.00
2,2022-02-03,"134,577,807.63",80483,"183,990.70",266,0.00,0.00
3,2022-02-04,"141,743,979.48",83001,"93,839.81",268,0.00,0.00
4,2022-02-05,"163,918,697.79",88279,"113,974.84",252,0.00,0.00

In [70]:
total_2['count_swap_dia'] = total_2['report_id_x'] + total_2['report_id_y'] + total_2['report_id']
total_2['sum_swap_dia'] = total_2['total_due'] + total_2['total_due_x'] + total_2[' (mxn)']

In [71]:
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id,count_swap_dia,sum_swap_dia
0,2022-02-01,"143,929,624.53",78912,"80,936.84",246,"5,088.25",3.00,"79,161.00","144,015,649.62"
1,2022-02-02,"138,353,400.13",81206,"105,934.02",220,0.00,0.00,"81,426.00","138,459,334.15"
2,2022-02-03,"134,577,807.63",80483,"183,990.70",266,0.00,0.00,"80,749.00","134,761,798.33"
3,2022-02-04,"141,743,979.48",83001,"93,839.81",268,0.00,0.00,"83,269.00","141,837,819.29"
4,2022-02-05,"163,918,697.79",88279,"113,974.84",252,0.00,0.00,"88,531.00","164,032,672.63"

In [72]:
total_2.shape

(28, 9)

# COMPARACION FINAL

In [73]:
final_comparacion = total_1[['date_file','count_total_pago_dia','sum_total_pago_dia']] \
.merge(total_2[['date_file','count_swap_dia','sum_swap_dia']],on='date_file',how='left')
final_comparacion.head()

,date_file,count_total_pago_dia,sum_total_pago_dia,count_swap_dia,sum_swap_dia
0,2022-02-01,"79,161.00","144,015,649.62","79,161.00","144,015,649.62"
1,2022-02-02,"81,426.00","138,459,334.15","81,426.00","138,459,334.15"
2,2022-02-03,"80,749.00","134,761,798.33","80,749.00","134,761,798.33"
3,2022-02-04,"83,269.00","141,837,819.29","83,269.00","141,837,819.29"
4,2022-02-05,"88,531.00","164,032,672.63","88,531.00","164,032,672.63"

In [74]:
final_comparacion['diff_count'] = final_comparacion['count_total_pago_dia'] - final_comparacion['count_swap_dia']
final_comparacion['diff_sum'] = final_comparacion['sum_total_pago_dia'] - final_comparacion['sum_swap_dia']

In [75]:
final_comparacion

,date_file,count_total_pago_dia,sum_total_pago_dia,count_swap_dia,sum_swap_dia,diff_count,diff_sum
0,2022-02-01,"79,161.00","144,015,649.62","79,161.00","144,015,649.62",0.00,0.00
1,2022-02-02,"81,426.00","138,459,334.15","81,426.00","138,459,334.15",0.00,0.00
2,2022-02-03,"80,749.00","134,761,798.33","80,749.00","134,761,798.33",0.00,0.00
3,2022-02-04,"83,269.00","141,837,819.29","83,269.00","141,837,819.29",0.00,0.00
4,2022-02-05,"88,531.00","164,032,672.63","88,531.00","164,032,672.63",0.00,0.00
5,2022-02-06,"88,170.00","185,683,781.62","88,170.00","185,683,781.62",0.00,-0.00
6,2022-02-07,"62,321.00","131,724,880.83","62,321.00","131,724,880.83",0.00,0.00
7,2022-02-08,"67,466.00","125,067,852.82","67,466.00","125,067,852.82",0.00,0.00
8,2022-02-09,"78,566.00","130,497,958.12","78,570.00","130,524,496.42",-4.00,"-26,538.30"
9,2022-02-10,"80,750.00","135,391,129.19","80,751.00","135,391,400.85",-1.00,-271.66
10,2022-02-11,"85,640.00","150,010,498.51","85,640.00","150,010,498.51",0.00,0.00
11,2022-02-12,"92,922.00","173,673,829.22","92,922.00","173,673,829.22",0.00,0.00
12,2022-02-13,"93,367.00","200,179,666.90","93,367.00","200,179,666.90",0.00,0.00
13,2022-02-14,"67,081.00","133,625,677.13","67,081.00","133,625,677.13",0.00,0.00
14,2022-02-15,"85,176.00","166,957,061.61","85,176.00","166,957,061.61",0.00,-0.00
15,2022-02-16,"83,656.00","147,450,280.51","83,656.00","147,450,280.51",0.00,0.00
16,2022-02-17,"84,745.00","148,895,079.12","84,745.00","148,895,079.12",0.00,0.00
17,2022-02-18,"87,444.00","157,561,987.85","87,444.00","157,561,987.85",0.00,0.00
18,2022-02-19,"93,477.00","185,552,894.83","93,477.00","185,552,894.83",0.00,-0.00
19,2022-02-20,"92,991.00","207,541,554.38","92,991.00","207,541,554.38",0.00,0.00
20,2022-02-21,"65,511.00","141,756,329.35","65,511.00","141,756,329.35",0.00,0.00
21,2022-02-22,"79,073.00","138,923,623.38","79,073.00","138,923,623.38",0.00,0.00
22,2022-02-23,"81,457.00","145,273,979.30","81,457.00","145,273,979.30",0.00,0.00
23,2022-02-24,"83,211.00","147,852,655.71","83,211.00","147,852,655.71",0.00,0.00
24,2022-02-25,"88,103.00","162,069,462.76","88,103.00","162,069,462.76",0.00,0.00
25,2022-02-26,"95,491.00","193,712,529.05","95,491.00","193,712,529.05",0.00,-0.00
26,2022-02-27,"95,009.00","211,833,589.46","95,009.00","211,833,589.46",0.00,0.00
27,2022-02-28,"67,121.00","145,793,965.99","67,121.00","145,793,965.99",0.00,0.00

In [76]:
writer = pd.ExcelWriter('FASE III. SETTLED VS PAGO DIA FEBRERO 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_fecha_pago.to_excel(writer, sheet_name='ENVIADOS POSTERIOR')
fecha_pago.to_excel(writer, sheet_name='DETAIL NO ENCONTRADO',index=False)
# pivot_duplicates_trad.to_excel(writer, sheet_name='PAGOS DUPLICADOS')
pivot_duplicates_fp.to_excel(writer, sheet_name='FP PAGOS DUPLICADOS')
group_manual.to_excel(writer, sheet_name='PAGOS MANUALES')
writer.close()