In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# MES AÑO DE CONCILIACIÓN

In [2]:
month_conc = 'January'
year_conc = '2023'

# RUTAS DE ACCESO

### SWAP DEL DIA

In [3]:
allfiles_disp_trad = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2023\01. ENERO\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
allfiles_disp_trad

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230101.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230102.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230103.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230104.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230105.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230106.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230107.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230108.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230109.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230110.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230111.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230112.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230113.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230114.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230115.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230116.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230117.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230118.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230119.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230120.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230121.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230122.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230123.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230124.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230125.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230126.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230127.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230128.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230129.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230130.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20230131.xlsx']

### FAST PAYMENTS

In [4]:
allfiles_fp = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2023\01. ENERO\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx',recursive=False)
allfiles_fp

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-30.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-01-31.xlsx']

# SWAP DEL DIA

In [5]:
swap_dia_total = pd.concat([pd.read_excel(f,sheet_name = 'Swap del día')
                            .assign(file_name=os.path.basename(f)) for f in allfiles_disp_trad])
swap_dia_total['Date'] = swap_dia_total["file_name"].str[-13:-5]
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'], format='%Y%m%d').dt.date
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'])
swap_dia_total.sort_values(by=['Date'],ascending=True,inplace=True)
swap_dia_total['report_date_local']= pd.to_datetime(swap_dia_total['report_date_local'])
swap_dia_total['month_conc'] = month_conc
swap_dia_total['year_conc'] = year_conc
swap_dia_total['month_report'] = swap_dia_total['report_date_local'].dt.strftime('%B')
swap_dia_total['year_report'] = swap_dia_total['report_date_local'].dt.year.astype(str)
swap_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,DAILY,45f839d4-348b-4e94-acae-b5841d8c9456,LOS 3 GARCIA,oscargarciavaz@gmail.com,3VF649TSV,2023-01-01,"72,835.81",Pago del día,BANORTE/IXE,OSCAR ANDRES GARCIA VAZQUEZ,...,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023
53907,DAILY,ab0cf73b-2936-4b5b-836e-355cedb15860,Abarrotes Los Nietos,irmaodin150172@gmail.com,8CVYTFSF5,2023-01-01,"1,111.54",Pago del día,BANCOPPEL,Francisco Javier Azamar,...,PAID,"2023-01-01,42644264202301012067368523,40072,40...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023
53906,DAILY,ab0c15c0-d660-4246-bfc5-dd8ad6892545,Super colchon,diegovazquezmariaca1998@gmail.com,JDBMPRKSS,2023-01-01,"2,778.90",Pago del día,BANORTE/IXE,Ingrid galilea Roman Lara,...,PAID,COMPROBANTE MISMO BANCO BANORTE,01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023
53905,DAILY,ab0b7a06-0f9e-439b-9dd7-ef9b0d75de59,Ger,magaly_61087@hotmail.com,QNGG5J7KL,2023-01-01,21.40,Pago del día,SANTANDER,Rocio Angelica Geronimo Santiago,...,PAID,"2023-01-01,42644264202301012067352197,40072,40...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023
53904,DAILY,ab0b45c2-632d-47b4-bce9-92c21a366798,Joyeria Yesenia,yeili_69@hotmail.com,DJ5MLFD33,2023-01-01,4.00,Pago del día,BANCOPPEL,Yesenia Isabel Gonzlez Evangelista,...,PAID,"2023-01-01,42644264202301012067384486,40072,40...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023

In [6]:
swap_dia_total.shape

(2750298, 21)

In [7]:
swap_dia_total.dtypes

type                               object
merchant_id                        object
merchant_name                      object
user_email                         object
report_id                          object
report_date_local          datetime64[ns]
total_due                         float64
tipo                               object
bank                               object
bank_account_owner_name            object
CLABE                               int64
status                             object
LINEA CEP                          object
Batch_time                         object
Banco_emisor                       object
file_name                          object
Date                       datetime64[ns]
month_conc                         object
year_conc                          object
month_report                       object
year_report                        object
dtype: object

# FAST PAYMENTS

In [8]:
fp_dia_total = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS')
                          .assign(file_name=os.path.basename(f)) for f in allfiles_fp])
fp_dia_total['Date'] = fp_dia_total["file_name"].str[-15:-5]
fp_dia_total['Date']= pd.to_datetime(fp_dia_total['Date'])
fp_dia_total['report_date_local']= pd.to_datetime(fp_dia_total['report_date_local'])
fp_dia_total['month_conc'] = month_conc
fp_dia_total['year_conc'] = year_conc
fp_dia_total['month_report'] = fp_dia_total['report_date_local'].dt.strftime('%B')
fp_dia_total['year_report'] = fp_dia_total['report_date_local'].dt.year.astype(str)
fp_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,LEDGER_FP,0079b7bd-0713-4cf9-9b37-992cbbba9c1e,NaN,NaN,A3YZ8FCGR,2023-01-01,19.16,Pago del día,ASP INTEGRA OPC,Zaida Sarai Aguirre Hernandez,...,ERROR,NaN,06. Sixth_batch,BANORTE,Dispersión-FP 2023-01-01.xlsx,2023-01-01,January,2023,January,2023
1,LEDGER_FP,00bf0fb9-405a-4b41-9ace-14dfe8e0b471,NaN,NaN,ALD63ZZZX,2023-01-01,710.05,Pago del día,ASP INTEGRA OPC,Omar Polo Ochoa,...,ERROR,NaN,06. Sixth_batch,BANORTE,Dispersión-FP 2023-01-01.xlsx,2023-01-01,January,2023,January,2023
2,LEDGER_FP,01d5e095-50a3-472c-8272-9ed333fb2b47,NaN,NaN,AKWS9CY4L,2023-01-01,4.00,Pago del día,BANCOPPEL,Maria Elena Cruz Sanchez,...,ERROR,NaN,06. Sixth_batch,BANORTE,Dispersión-FP 2023-01-01.xlsx,2023-01-01,January,2023,January,2023
3,LEDGER_FP,02006182-c21d-40a8-8ad3-51ac214b2f07,NaN,NaN,AJKCGCVT5,2023-01-01,48.30,Pago del día,ASP INTEGRA OPC,Nancy Teresa Arguello Sepulveda,...,ERROR,NaN,06. Sixth_batch,BANORTE,Dispersión-FP 2023-01-01.xlsx,2023-01-01,January,2023,January,2023
4,LEDGER_FP,03ec9c68-5f10-4700-bb49-5e4548a5c85a,NaN,NaN,AJW6ZRSDZ,2023-01-01,288.43,Pago del día,ASP INTEGRA OPC,Ana Karen Cruz Melendez,...,ERROR,NaN,06. Sixth_batch,BANORTE,Dispersión-FP 2023-01-01.xlsx,2023-01-01,January,2023,January,2023

In [9]:
fp_dia_total.shape

(116062, 21)

In [10]:
fp_dia_total.dtypes

type                         object
merchant_id                  object
merchant_name                object
user_email                   object
report_id                    object
report_date_local    datetime64[ns]
total_due                   float64
tipo                         object
bank                         object
swap                         object
CLABE                         int64
status                       object
LINEA CEP                    object
Batch_time                   object
Banco_emisor                 object
file_name                    object
Date                 datetime64[ns]
month_conc                   object
year_conc                    object
month_report                 object
year_report                  object
dtype: object

# ALL DISPERSIONES

In [11]:
all_disp = pd.concat([swap_dia_total,fp_dia_total])
all_disp.loc[all_disp['type'].str.contains('LEDGER'), 'type'] = 'LEDGER'
all_disp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
0,DAILY,45f839d4-348b-4e94-acae-b5841d8c9456,LOS 3 GARCIA,oscargarciavaz@gmail.com,3VF649TSV,2023-01-01,"72,835.81",Pago del día,BANORTE/IXE,OSCAR ANDRES GARCIA VAZQUEZ,...,NaN,01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023,NaN
53907,DAILY,ab0cf73b-2936-4b5b-836e-355cedb15860,Abarrotes Los Nietos,irmaodin150172@gmail.com,8CVYTFSF5,2023-01-01,"1,111.54",Pago del día,BANCOPPEL,Francisco Javier Azamar,...,"2023-01-01,42644264202301012067368523,40072,40...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023,NaN
53906,DAILY,ab0c15c0-d660-4246-bfc5-dd8ad6892545,Super colchon,diegovazquezmariaca1998@gmail.com,JDBMPRKSS,2023-01-01,"2,778.90",Pago del día,BANORTE/IXE,Ingrid galilea Roman Lara,...,COMPROBANTE MISMO BANCO BANORTE,01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023,NaN
53905,DAILY,ab0b7a06-0f9e-439b-9dd7-ef9b0d75de59,Ger,magaly_61087@hotmail.com,QNGG5J7KL,2023-01-01,21.40,Pago del día,SANTANDER,Rocio Angelica Geronimo Santiago,...,"2023-01-01,42644264202301012067352197,40072,40...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023,NaN
53904,DAILY,ab0b45c2-632d-47b4-bce9-92c21a366798,Joyeria Yesenia,yeili_69@hotmail.com,DJ5MLFD33,2023-01-01,4.00,Pago del día,BANCOPPEL,Yesenia Isabel Gonzlez Evangelista,...,"2023-01-01,42644264202301012067384486,40072,40...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023,NaN

In [12]:
all_disp.shape

(2866360, 22)

In [13]:
all_disp['type'].unique()

array(['DAILY', 'LEDGER', 'INSTANT'], dtype=object)

# TRADICIONAL

In [14]:
all_disp_trad = all_disp[(all_disp['type'] == 'DAILY')]
all_disp_trad.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
0,DAILY,45f839d4-348b-4e94-acae-b5841d8c9456,LOS 3 GARCIA,oscargarciavaz@gmail.com,3VF649TSV,2023-01-01,"72,835.81",Pago del día,BANORTE/IXE,OSCAR ANDRES GARCIA VAZQUEZ,...,NaN,01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023,NaN
53907,DAILY,ab0cf73b-2936-4b5b-836e-355cedb15860,Abarrotes Los Nietos,irmaodin150172@gmail.com,8CVYTFSF5,2023-01-01,"1,111.54",Pago del día,BANCOPPEL,Francisco Javier Azamar,...,"2023-01-01,42644264202301012067368523,40072,40...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023,NaN
53906,DAILY,ab0c15c0-d660-4246-bfc5-dd8ad6892545,Super colchon,diegovazquezmariaca1998@gmail.com,JDBMPRKSS,2023-01-01,"2,778.90",Pago del día,BANORTE/IXE,Ingrid galilea Roman Lara,...,COMPROBANTE MISMO BANCO BANORTE,01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023,NaN
53905,DAILY,ab0b7a06-0f9e-439b-9dd7-ef9b0d75de59,Ger,magaly_61087@hotmail.com,QNGG5J7KL,2023-01-01,21.40,Pago del día,SANTANDER,Rocio Angelica Geronimo Santiago,...,"2023-01-01,42644264202301012067352197,40072,40...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023,NaN
53904,DAILY,ab0b45c2-632d-47b4-bce9-92c21a366798,Joyeria Yesenia,yeili_69@hotmail.com,DJ5MLFD33,2023-01-01,4.00,Pago del día,BANCOPPEL,Yesenia Isabel Gonzlez Evangelista,...,"2023-01-01,42644264202301012067384486,40072,40...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023,NaN

In [15]:
all_disp_trad.shape

(2479175, 22)

In [16]:
pivot_total_trad = pd.pivot_table(all_disp_trad,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_trad.reset_index(drop=False, inplace=True)
pivot_total_trad.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_10500\1759428005.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_total_trad = pd.pivot_table(all_disp_trad,index=['type','Date'],values=['total_due'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_10500\1759428005.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_total_trad = pd.pivot_table(all_disp_trad,index=['type','Date'],values=['total_due'],

    type       Date            sum       len
                         total_due total_due
0  DAILY 2023-01-01 209,828,546.02     72945
1  DAILY 2023-01-02 109,335,635.38     29806
2  DAILY 2023-01-03 170,980,194.09     72527
3  DAILY 2023-01-04 181,533,187.00     79178
4  DAILY 2023-01-05 185,687,542.13     82176

In [17]:
pivot_parcial_trad = pd.pivot_table(all_disp_trad,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_trad.reset_index(drop=False, inplace=True)
pivot_parcial_trad.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_10500\3208080861.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial_trad = pd.pivot_table(all_disp_trad,index=['type','tipo','Date'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_10500\3208080861.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial_trad = pd.pivot_table(all_disp_trad,index=['type','tipo','Date'],

         type          tipo       Date        sum                 \
                                        total_due
status                                      ERROR           PAID
0       DAILY  Pago del día 2023-01-01  96,264.60 209,137,732.96
1       DAILY  Pago del día 2023-01-02 186,509.65 107,255,276.57
2       DAILY  Pago del día 2023-01-03 224,406.16 168,563,684.20
3       DAILY  Pago del día 2023-01-04 305,916.17 179,873,000.35
4       DAILY  Pago del día 2023-01-05 412,811.84 184,489,594.84

                            len
                      total_due
status            All     ERROR   PAID    All
0      209,233,997.56         8  72599  72607
1      107,441,786.22        26  29364  29390
2      168,788,090.36        75  71237  71312
3      180,178,916.52        92  78465  78557
4      184,902,406.68       101  81522  81623

## CATEGORIZACIÓN DE REPROGRAMACIONES

In [18]:
swap_dia_total_repro = all_disp_trad[(all_disp_trad['tipo'] == 'Reprogramación')]
swap_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
53343,DAILY,a94ef28e-f7e4-4089-adc4-cab9e46e228d,Liz,lizbeth.19.07.98@gmail.com,B3DVYMPQ8,2022-12-25,"5,078.56",Reprogramación,BBVA BANCOMER,Lizbeth Cecilio Hilario,...,"2023-01-01,42644264202301012067416393,40072,40...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,December,2022,NaN
51442,DAILY,a3305dc3-85bf-44e7-b5f1-f6d4152df845,Artesanias,or523499@gmail.com,GLCXGBZ7T,2022-12-23,"2,022.37",Reprogramación,AZTECA,Armando Perez Buendia,...,"2023-01-01,42644264202301012067367050,40072,40...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,December,2022,NaN
51441,DAILY,a3305dc3-85bf-44e7-b5f1-f6d4152df845,Artesanias,or523499@gmail.com,4YGK95WZF,2022-10-31,654.48,Reprogramación,AZTECA,Armando Perez Buendia,...,"2023-01-01,42644264202301012067399040,40072,40...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,October,2022,NaN
51516,DAILY,a3700f1b-2870-4fd9-9291-80389cbf7510,El Charro,rivera.manuel19@hotmail.com,4LTNC6TSF,2022-12-30,"6,878.24",Reprogramación,BBVA BANCOMER,Reyna Montes Jurez,...,"2023-01-01,42644264202301012067399087,40072,40...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,December,2022,NaN
51006,DAILY,a1cde9cd-e788-4138-9f4d-0677163f2807,Farmacia San Francisco,farmaciaraymendoza@gmail.com,YKDLKGS25,2022-12-29,"13,127.89",Reprogramación,BBVA BANCOMER,Raymundo Mendoza Urbano,...,"2023-01-01,42644264202301012067398784,40072,40...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,December,2022,NaN

In [19]:
swap_dia_total_repro.shape

(13748, 22)

In [20]:
swap_dia_total_repro.to_excel('Reprogramaciones_daily.xlsx',index=False)

In [21]:
swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
                   & (swap_dia_total_repro['month_report'] == month_conc) 
                   & (swap_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
swap_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_10500\2042991903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_10500\2042991903.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
53343,DAILY,a94ef28e-f7e4-4089-adc4-cab9e46e228d,Liz,lizbeth.19.07.98@gmail.com,B3DVYMPQ8,2022-12-25,"5,078.56",Reprogramación,BBVA BANCOMER,Lizbeth Cecilio Hilario,...,01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,December,2022,NaN,repro_otro_mes
51442,DAILY,a3305dc3-85bf-44e7-b5f1-f6d4152df845,Artesanias,or523499@gmail.com,GLCXGBZ7T,2022-12-23,"2,022.37",Reprogramación,AZTECA,Armando Perez Buendia,...,01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,December,2022,NaN,repro_otro_mes
51441,DAILY,a3305dc3-85bf-44e7-b5f1-f6d4152df845,Artesanias,or523499@gmail.com,4YGK95WZF,2022-10-31,654.48,Reprogramación,AZTECA,Armando Perez Buendia,...,01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,October,2022,NaN,repro_otro_mes
51516,DAILY,a3700f1b-2870-4fd9-9291-80389cbf7510,El Charro,rivera.manuel19@hotmail.com,4LTNC6TSF,2022-12-30,"6,878.24",Reprogramación,BBVA BANCOMER,Reyna Montes Jurez,...,01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,December,2022,NaN,repro_otro_mes
51006,DAILY,a1cde9cd-e788-4138-9f4d-0677163f2807,Farmacia San Francisco,farmaciaraymendoza@gmail.com,YKDLKGS25,2022-12-29,"13,127.89",Reprogramación,BBVA BANCOMER,Raymundo Mendoza Urbano,...,01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,December,2022,NaN,repro_otro_mes

In [22]:
pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro.reset_index(drop=False, inplace=True)
pivot_tipo_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_10500\3187504787.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['type','Date'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_10500\3187504787.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['type','Date'],

                      type       Date             sum                 \
                                            total_due
tipo_reprogramacion                   repro_mismo_mes repro_otro_mes
0                    DAILY 2023-01-01             NaN     594,548.46
1                    DAILY 2023-01-02       30,683.97   1,863,165.19
2                    DAILY 2023-01-03      110,015.88   2,082,087.85
3                    DAILY 2023-01-04      106,118.69   1,248,151.79
4                    DAILY 2023-01-05      104,111.80     681,023.65

                                             len
                                       total_due
tipo_reprogramacion          All repro_mismo_mes repro_otro_mes   All
0                     594,548.46             NaN         338.00   338
1                   1,893,849.16            8.00         408.00   416
2                   2,192,103.73           33.00       1,182.00  1215
3                   1,354,270.48           35.00         586.00   621
4                     785,135.45           70.00         483.00   553

# FAST PAYMENTS

In [23]:
all_disp_fp = all_disp[(all_disp['type'] == 'INSTANT')]
all_disp_fp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
52619,INSTANT,a6f8dc8f-5c69-4503-8846-ced07f7b281b,Pizzas Mexicanas,pitbull.gus@gmail.com,KNQNBTLDJ,2023-01-01,322.01,Pago del día,ASP INTEGRA OPC,Gustavo Gutierrez Sanchez,...,"2023-01-01,42644264202301012067383713,40072,90...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023,NaN
56223,INSTANT,b22e4eaf-7c86-4437-8d8a-d6190ed70035,Zonatura,josevictormacias1997@gmail.com,C2JLLYXS6,2023-01-01,"2,080.35",Pago del día,ASP INTEGRA OPC,Jose Victor Macias Contreras,...,"2023-01-01,42644264202301012067418125,40072,90...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023,NaN
43450,INSTANT,89c24287-4661-419b-8f55-ba5ac1c86f0d,La Lavanderia,tornezvictoria1@gmail.com,2JKPZLDR5,2023-01-01,"14,450.30",Pago del día,ASP INTEGRA OPC,Karla paola Oropeza Flores,...,"2023-01-01,42644264202301012067426180,40072,90...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023,NaN
48736,INSTANT,9a9c2c15-2e26-4959-af20-4cdc31aa97a7,EMPRESAS ABU DHABI,alejandro_oseguera@outlook.com,FGCL54X28,2023-01-01,268.31,Pago del día,ASP INTEGRA OPC,Alejandro Oseguera Cruz,...,"2023-01-01,42644264202301012067397438,40072,90...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023,NaN
48111,INSTANT,989221d7-eecb-4422-a788-8a00c6da0fa9,Abarrotes JALISCO,gutierrezsolisj@gmail.com,DZRLCFMQ6,2023-01-01,69.00,Pago del día,ASP INTEGRA OPC,Jose Humberto Gutierrez Solis,...,"2023-01-01,42644264202301012067397104,40072,90...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023,NaN

In [24]:
all_disp_fp.shape

(2571, 22)

In [26]:
pivot_total_fp = pd.pivot_table(all_disp_fp,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_fp.reset_index(drop=False, inplace=True)
pivot_total_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_10500\1055904135.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_total_fp = pd.pivot_table(all_disp_fp,index=['type','Date'],values=['total_due'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_10500\1055904135.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_total_fp = pd.pivot_table(all_disp_fp,index=['type','Date'],values=['total_due'],

      type       Date        sum       len
                       total_due total_due
0  INSTANT 2023-01-01 140,799.46       130
1  INSTANT 2023-01-02 175,272.64       179
2  INSTANT 2023-01-03 138,802.45        73
3  INSTANT 2023-01-04 115,635.56        55
4  INSTANT 2023-01-05  85,803.51        54

In [27]:
pivot_parcial_fp = pd.pivot_table(all_disp_fp,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_fp.reset_index(drop=False, inplace=True)
pivot_parcial_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_10500\1899252320.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial_fp = pd.pivot_table(all_disp_fp,index=['type','tipo','Date'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_10500\1899252320.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial_fp = pd.pivot_table(all_disp_fp,index=['type','tipo','Date'],

           type          tipo       Date       sum                        \
                                         total_due
status                                       ERROR       PAID        All
0       INSTANT  Pago del día 2023-01-01    766.59  29,391.97  30,158.56
1       INSTANT  Pago del día 2023-01-02  6,188.10  52,043.47  58,231.57
2       INSTANT  Pago del día 2023-01-03       NaN 132,054.74 132,054.74
3       INSTANT  Pago del día 2023-01-04       NaN  65,666.15  65,666.15
4       INSTANT  Pago del día 2023-01-05       NaN  84,186.23  84,186.23

             len
       total_due
status     ERROR  PAID All
0           1.00 20.00  21
1           5.00 29.00  34
2            NaN 51.00  51
3            NaN 36.00  36
4            NaN 51.00  51

## CATEGORIZACIÓN DE REPROGRAMACIONES - FAST PAYMENTS

In [28]:
fp_dia_total_repro = all_disp_fp[(all_disp_fp['tipo'] == 'Reprogramación')]
fp_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
38322,INSTANT,7923297b-7262-491b-93e4-6707ca6481e3,LONCHERIA CDMX,loncheria.cdmx@gmail.com,3R3WFXFNT,2022-01-19,80.50,Reprogramación,BBVA BANCOMER,Miriam Lucero Arzate Gonzalez,...,"2023-01-01,42644264202301012067391305,40072,40...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2022,NaN
38321,INSTANT,7923297b-7262-491b-93e4-6707ca6481e3,LONCHERIA CDMX,loncheria.cdmx@gmail.com,4FS79WJW8,2021-12-23,40.25,Reprogramación,BBVA BANCOMER,Miriam Lucero Arzate Gonzalez,...,"2023-01-01,42644264202301012067423097,40072,40...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,December,2021,NaN
27337,INSTANT,5665e03f-407f-49a8-bf85-ff4e28bf862d,City Cell San Nicolas,citycell.mty1@gmail.com,ZFZZJF2C3,2022-11-30,"1,499.67",Reprogramación,BBVA BANCOMER,Karina Guadalupe Casillas Gonzalez,...,"2023-01-01,42644264202301012067384804,40072,40...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,November,2022,NaN
27336,INSTANT,5665e03f-407f-49a8-bf85-ff4e28bf862d,City Cell San Nicolas,citycell.mty1@gmail.com,VN6DGVYSL,2022-11-28,996.57,Reprogramación,BBVA BANCOMER,Karina Guadalupe Casillas Gonzalez,...,"2023-01-01,42644264202301012067416660,40072,40...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,November,2022,NaN
27335,INSTANT,5665e03f-407f-49a8-bf85-ff4e28bf862d,City Cell San Nicolas,citycell.mty1@gmail.com,LCQCCVC32,2022-11-28,687.12,Reprogramación,BBVA BANCOMER,Karina Guadalupe Casillas Gonzalez,...,"2023-01-01,42644264202301012067368618,40072,40...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,November,2022,NaN

In [29]:
fp_dia_total_repro.shape

(719, 22)

In [30]:
fp_dia_total_repro.to_excel('Reprogramaciones_instant.xlsx',index=False)

In [31]:
fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
                   & (fp_dia_total_repro['month_report'] == month_conc) 
                   & (fp_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
fp_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_10500\939012805.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_10500\939012805.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
38322,INSTANT,7923297b-7262-491b-93e4-6707ca6481e3,LONCHERIA CDMX,loncheria.cdmx@gmail.com,3R3WFXFNT,2022-01-19,80.50,Reprogramación,BBVA BANCOMER,Miriam Lucero Arzate Gonzalez,...,01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2022,NaN,repro_otro_mes
38321,INSTANT,7923297b-7262-491b-93e4-6707ca6481e3,LONCHERIA CDMX,loncheria.cdmx@gmail.com,4FS79WJW8,2021-12-23,40.25,Reprogramación,BBVA BANCOMER,Miriam Lucero Arzate Gonzalez,...,01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,December,2021,NaN,repro_otro_mes
27337,INSTANT,5665e03f-407f-49a8-bf85-ff4e28bf862d,City Cell San Nicolas,citycell.mty1@gmail.com,ZFZZJF2C3,2022-11-30,"1,499.67",Reprogramación,BBVA BANCOMER,Karina Guadalupe Casillas Gonzalez,...,01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,November,2022,NaN,repro_otro_mes
27336,INSTANT,5665e03f-407f-49a8-bf85-ff4e28bf862d,City Cell San Nicolas,citycell.mty1@gmail.com,VN6DGVYSL,2022-11-28,996.57,Reprogramación,BBVA BANCOMER,Karina Guadalupe Casillas Gonzalez,...,01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,November,2022,NaN,repro_otro_mes
27335,INSTANT,5665e03f-407f-49a8-bf85-ff4e28bf862d,City Cell San Nicolas,citycell.mty1@gmail.com,LCQCCVC32,2022-11-28,687.12,Reprogramación,BBVA BANCOMER,Karina Guadalupe Casillas Gonzalez,...,01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,November,2022,NaN,repro_otro_mes

In [32]:
pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_fp.fillna(0,inplace=True)
pivot_tipo_repro_fp.reset_index(drop=False, inplace=True)
pivot_tipo_repro_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_10500\4096176958.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['type','Date'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_10500\4096176958.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['type','Date'],

                        type       Date             sum                 \
                                              total_due
tipo_reprogramacion                     repro_mismo_mes repro_otro_mes
0                    INSTANT 2023-01-01            0.00     110,640.90
1                    INSTANT 2023-01-02        1,577.25     115,463.82
2                    INSTANT 2023-01-03            0.00       6,747.71
3                    INSTANT 2023-01-04        1,234.22      48,735.19
4                    INSTANT 2023-01-05            0.00       1,617.28

                                           len
                                     total_due
tipo_reprogramacion        All repro_mismo_mes repro_otro_mes  All
0                   110,640.90            0.00         109.00  109
1                   117,041.07            3.00         142.00  145
2                     6,747.71            0.00          22.00   22
3                    49,969.41            2.00          17.00   19
4                     1,617.28            0.00           3.00    3

# LEDGER

In [33]:
all_disp_ledger = all_disp[(all_disp['type'] == 'LEDGER')]
all_disp_ledger.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
53894,LEDGER,ab018971-fad3-4b91-8c98-e74d319f6d57,NaN,NaN,A9XS85GV4,2023-01-01,281.73,Pago del día,ASP INTEGRA OPC,Andres Alberto Tziu Cuxim,...,"2023-01-01,42644264202301012067384479,40072,90...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023,NaN
53931,LEDGER,ab256c21-974d-4835-88d7-9691117b006f,NaN,NaN,APFFRJSZW,2023-01-01,120.74,Pago del día,ASP INTEGRA OPC,Pedro Villa Lopez,...,"2023-01-01,42644264202301012067400469,40072,90...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023,NaN
53971,LEDGER,ab417fe7-6ad4-4a80-ab86-dde48249d714,NaN,NaN,AT5XBJCTK,2023-01-01,164.43,Pago del día,ASP INTEGRA OPC,Jose de Jesus Iracheta Espinosa,...,"2023-01-01,42644264202301012067400494,40072,90...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023,NaN
53991,LEDGER,ab4fb79c-8661-4512-b357-5e8c23610a6a,NaN,NaN,AHVNR72NH,2023-01-01,"2,075.46",Pago del día,BBVA BANCOMER,Enrique Sosa Mosqueda,...,"2023-01-01,42644264202301012067400507,40072,40...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023,NaN
53970,LEDGER,ab417fe7-6ad4-4a80-ab86-dde48249d714,NaN,NaN,AYM8D92DD,2023-01-01,2.00,Pago del día,ASP INTEGRA OPC,Jose de Jesus Iracheta Espinosa,...,"2023-01-01,42644264202301012067352235,40072,90...",01. First_batch,BANORTE,Dispersión-20230101.xlsx,2023-01-01,January,2023,January,2023,NaN

In [34]:
all_disp_ledger.shape

(384614, 22)

In [35]:
pivot_total_ledger = pd.pivot_table(all_disp_ledger,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_ledger.reset_index(drop=False, inplace=True)
pivot_total_ledger.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_10500\1348612958.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_total_ledger = pd.pivot_table(all_disp_ledger,index=['type','Date'],values=['total_due'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_10500\1348612958.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_total_ledger = pd.pivot_table(all_disp_ledger,index=['type','Date'],values=['total_due'],

     type       Date           sum       len
                         total_due total_due
0  LEDGER 2023-01-01 27,758,005.32      9290
1  LEDGER 2023-01-02 15,133,404.05      8091
2  LEDGER 2023-01-03 23,551,520.31     12239
3  LEDGER 2023-01-04 21,584,187.18     12277
4  LEDGER 2023-01-05 21,212,305.55     12461

In [36]:
pivot_total_ledger.shape

(32, 4)

In [37]:
pivot_parcial_ledger = pd.pivot_table(all_disp_ledger,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_ledger.reset_index(drop=False, inplace=True)
pivot_parcial_ledger.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_10500\3013629304.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial_ledger = pd.pivot_table(all_disp_ledger,index=['type','tipo','Date'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_10500\3013629304.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial_ledger = pd.pivot_table(all_disp_ledger,index=['type','tipo','Date'],

          type          tipo       Date        sum                \
                                         total_due
status                                       ERROR          PAID
0       LEDGER  Pago del día 2023-01-01 135,378.18 27,620,423.19
1       LEDGER  Pago del día 2023-01-02 670,967.55 14,277,592.09
2       LEDGER  Pago del día 2023-01-03 282,274.84 23,219,759.71
3       LEDGER  Pago del día 2023-01-04 212,833.71 21,274,024.07
4       LEDGER  Pago del día 2023-01-05 451,379.85 20,430,311.33

                           len
                     total_due
status           All     ERROR      PAID    All
0      27,755,801.37    341.00  8,948.00   9289
1      14,948,559.64    535.00  7,164.00   7699
2      23,502,034.55     39.00 12,196.00  12235
3      21,486,857.78     30.00 12,230.00  12260
4      20,881,691.18     55.00 12,362.00  12417

## CATEGORIZACION DE REPROGRAMACIONES - LEDGER

In [38]:
ledger_dia_total_repro = all_disp_ledger[(all_disp_ledger['tipo'] == 'Reprogramación')]
ledger_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
22995,LEDGER,ab5b14da-1a17-49b4-ad0c-9d7d20ff53b3,NaN,NaN,AJ6R96D9W,2023-01-01,263.52,Reprogramación,ASP INTEGRA OPC,Marco antonio Garcia Lara,...,"2023-01-02,2023010240014 HDH0001411768890,4001...",01. First_batch,SANTANDER,Dispersión-20230102.xlsx,2023-01-02,January,2023,January,2023,NaN
22982,LEDGER,ab417fe7-6ad4-4a80-ab86-dde48249d714,NaN,NaN,A7DLT764S,2023-01-01,44.26,Reprogramación,ASP INTEGRA OPC,Jose de Jesus Iracheta Espinosa,...,"2023-01-02,2023010240014 HDH0001411768480,4001...",01. First_batch,SANTANDER,Dispersión-20230102.xlsx,2023-01-02,January,2023,January,2023,NaN
22952,LEDGER,ab0dbe42-ad34-4d35-89c6-60f3e2a6dd6c,NaN,NaN,ASNCM5HQG,2023-01-01,34.88,Reprogramación,ASP INTEGRA OPC,Diana Laura Pineda Santiago,...,"2023-01-02,2023010240014 HDH0001411767420,4001...",01. First_batch,SANTANDER,Dispersión-20230102.xlsx,2023-01-02,January,2023,January,2023,NaN
23115,LEDGER,ac56076a-da98-45af-8a7b-9821709850bb,NaN,NaN,A5LZPR9ZV,2023-01-01,"7,813.49",Reprogramación,ASP INTEGRA OPC,Dante Juanes Calles Perez,...,"2023-01-02,2023010240014 HDH0001411772940,4001...",01. First_batch,SANTANDER,Dispersión-20230102.xlsx,2023-01-02,January,2023,January,2023,NaN
22735,LEDGER,a9844749-318b-4581-877a-b85388f31f5e,NaN,NaN,AWPX77NJG,2023-01-01,88.16,Reprogramación,ASP INTEGRA OPC,Jose Gerardo Nava Maya,...,"2023-01-02,2023010240014 HDH0001411749620,4001...",01. First_batch,SANTANDER,Dispersión-20230102.xlsx,2023-01-02,January,2023,January,2023,NaN

In [39]:
ledger_dia_total_repro.shape

(636, 22)

In [40]:
ledger_dia_total_repro.to_excel('Reprogramaciones_ledger.xlsx',index=False)

In [ ]:
ledger_dia_total_repro.loc[(ledger_dia_total_repro['tipo'] == 'Reprogramación')
                   & (ledger_dia_total_repro['month_report'] == month_conc) 
                   & (ledger_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
ledger_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
ledger_dia_total_repro.head()

In [ ]:
pivot_tipo_repro_ledger = pd.pivot_table(ledger_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_ledger.fillna(0,inplace=True)
pivot_tipo_repro_ledger.reset_index(drop=False, inplace=True)
pivot_tipo_repro_ledger.head()

# EXCEL FINAL

In [ ]:
writer = pd.ExcelWriter('FASE IV. REPROGRAMACIONES ENERO 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_total_trad.to_excel(writer, sheet_name='TRADICIONAL TOTAL')
pivot_parcial_trad.to_excel(writer, sheet_name='TRADICIONAL PARCIAL')
pivot_total_fp.to_excel(writer, sheet_name='FP TOTAL')
pivot_parcial_fp.to_excel(writer, sheet_name='FP PARCIAL')
pivot_total_ledger.to_excel(writer, sheet_name='LEDGER TOTAL')
pivot_parcial_ledger.to_excel(writer, sheet_name='LEDGER PARCIAL')
pivot_tipo_repro.to_excel(writer, sheet_name='CATEGORIZACION REPRO TRAD')
pivot_tipo_repro_fp.to_excel(writer, sheet_name='CATEGORIZACION REPRO FP')
pivot_tipo_repro_ledger.to_excel(writer, sheet_name='CATEGORIZACION REPRO LEDGER')
writer.close()