In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# MES AÑO DE CONCILIACIÓN

In [2]:
month_conc = 'June'
year_conc = '2023'

# RUTAS DE ACCESO

### SWAP DEL DIA

In [3]:
allfiles_disp_trad = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2023\06. JUNIO\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
allfiles_disp_trad

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230601.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230602.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230603.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230604.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230605.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230606.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230607.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230608.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230609.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230610.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230611.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230612.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230613.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230614.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230615.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230616.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230617.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230618.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230619.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230620.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230621.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230622.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230623.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230624.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230625.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230626.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230627.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230628.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230629.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES\\Dispersión-20230630.xlsx']

### FAST PAYMENTS

In [4]:
allfiles_fp = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2023\06. JUNIO\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx',recursive=False)
allfiles_fp

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\06. JUNIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-06-30.xlsx']

# SWAP DEL DIA

In [5]:
swap_dia_total = pd.concat([pd.read_excel(f,sheet_name = 'Swap del día')
                            .assign(file_name=os.path.basename(f)) for f in allfiles_disp_trad])
swap_dia_total['Date'] = swap_dia_total["file_name"].str[-13:-5]
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'], format='%Y%m%d').dt.date
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'])
swap_dia_total.sort_values(by=['Date'],ascending=True,inplace=True)
swap_dia_total['report_date_local']= pd.to_datetime(swap_dia_total['report_date_local'])
swap_dia_total['month_conc'] = month_conc
swap_dia_total['year_conc'] = year_conc
swap_dia_total['month_report'] = swap_dia_total['report_date_local'].dt.strftime('%B')
swap_dia_total['year_report'] = swap_dia_total['report_date_local'].dt.year.astype(str)
swap_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,LEDGER_TRAD,06b7e332-184e-4ca8-a6f1-65e6a2ee6673,NaN,NaN,AFS9LJT74,2023-06-01,643.94,Pago del día,BBVA BANCOMER,Jorge Isaac Medrano Gutierrez,...,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,June,2023
68992,LEDGER_TRAD,b9dce823-4bbb-4ace-a77e-61d59c5f3ac9,NaN,NaN,ANYPLKH8L,2023-06-01,301.85,Pago del día,BANCOPPEL,Jos Luis Salinas Contreras,...,PAID,"2023-06-01,20230601400140HDH0001440449050,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,June,2023
68991,LEDGER_TRAD,b9dcd6e3-9823-479b-a95e-feb41928f022,NaN,NaN,AKW3NJVTF,2023-06-01,141.34,Pago del día,AZTECA,Pedro Yeudiel Olea Morales,...,PAID,"2023-06-01,20230601400140HDH0001440448980,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,June,2023
68990,LEDGER_TRAD,b9dcd593-4a49-442f-9ff1-299fdf76019b,NaN,NaN,ATX6M59TG,2023-06-01,896.18,Pago del día,INBURSA,Bryan Nael Ruiz Marquez,...,PAID,"2023-06-01,20230601400140HDH0001440448890,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,June,2023
68989,LEDGER_TRAD,b9dc80e6-dad1-404a-8775-505b3e085482,NaN,NaN,AVLX8TD9K,2023-06-01,366.05,Pago del día,BBVA BANCOMER,Sandra Hernandez Luviano,...,PAID,"2023-06-01,20230601400140HDH0001440448810,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,June,2023

In [6]:
swap_dia_total.shape

(2936487, 21)

In [7]:
swap_dia_total.dtypes

type                               object
merchant_id                        object
merchant_name                      object
user_email                         object
report_id                          object
report_date_local          datetime64[ns]
total_due                         float64
tipo                               object
bank                               object
bank_account_owner_name            object
CLABE                              object
status                             object
LINEA CEP                          object
Batch_time                         object
Banco_emisor                       object
file_name                          object
Date                       datetime64[ns]
month_conc                         object
year_conc                          object
month_report                       object
year_report                        object
dtype: object

# FAST PAYMENTS

In [8]:
fp_dia_total = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS')
                          .assign(file_name=os.path.basename(f)) for f in allfiles_fp])
fp_dia_total['Date'] = fp_dia_total["file_name"].str[-15:-5]
fp_dia_total['Date']= pd.to_datetime(fp_dia_total['Date'])
fp_dia_total['report_date_local']= pd.to_datetime(fp_dia_total['report_date_local'])
fp_dia_total['month_conc'] = month_conc
fp_dia_total['year_conc'] = year_conc
fp_dia_total['month_report'] = fp_dia_total['report_date_local'].dt.strftime('%B')
fp_dia_total['year_report'] = fp_dia_total['report_date_local'].dt.year.astype(str)
fp_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,LEDGER_FP,230ad53e-5fa1-4950-bd96-4f0b453d8598,NaN,NaN,ASJFX785Z,2023-05-17,595.51,Reprogramación,BANREGIO,Eduardo Isabel Guerra Cruz,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-06-01.xlsx,2023-06-01,June,2023,May,2023
1,LEDGER_FP,230ad53e-5fa1-4950-bd96-4f0b453d8598,NaN,NaN,ASBXDGB92,2023-05-20,"1,868.56",Reprogramación,BANREGIO,Eduardo Isabel Guerra Cruz,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-06-01.xlsx,2023-06-01,June,2023,May,2023
2,LEDGER_FP,230ad53e-5fa1-4950-bd96-4f0b453d8598,NaN,NaN,A6GXKZ9FW,2023-05-26,763.72,Reprogramación,BANREGIO,Eduardo Isabel Guerra Cruz,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-06-01.xlsx,2023-06-01,June,2023,May,2023
3,LEDGER_FP,230ad53e-5fa1-4950-bd96-4f0b453d8598,NaN,NaN,A42N4CPPZ,2023-05-27,"1,209.29",Reprogramación,BANREGIO,Eduardo Isabel Guerra Cruz,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-06-01.xlsx,2023-06-01,June,2023,May,2023
4,LEDGER_FP,230ad53e-5fa1-4950-bd96-4f0b453d8598,NaN,NaN,AQJNNSRS4,2023-05-28,"1,800.05",Reprogramación,BANREGIO,Eduardo Isabel Guerra Cruz,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-06-01.xlsx,2023-06-01,June,2023,May,2023

In [9]:
fp_dia_total.shape

(107453, 21)

In [10]:
fp_dia_total.dtypes

type                         object
merchant_id                  object
merchant_name                object
user_email                   object
report_id                    object
report_date_local    datetime64[ns]
total_due                   float64
tipo                         object
bank                         object
swap                         object
CLABE                        object
status                       object
LINEA CEP                    object
Batch_time                   object
Banco_emisor                 object
file_name                    object
Date                 datetime64[ns]
month_conc                   object
year_conc                    object
month_report                 object
year_report                  object
dtype: object

# ALL DISPERSIONES

In [11]:
all_disp = pd.concat([swap_dia_total,fp_dia_total])
all_disp.loc[all_disp['type'].str.contains('LEDGER'), 'type'] = 'LEDGER'
all_disp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
0,LEDGER,06b7e332-184e-4ca8-a6f1-65e6a2ee6673,NaN,NaN,AFS9LJT74,2023-06-01,643.94,Pago del día,BBVA BANCOMER,Jorge Isaac Medrano Gutierrez,...,NaN,01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,June,2023,NaN
68992,LEDGER,b9dce823-4bbb-4ace-a77e-61d59c5f3ac9,NaN,NaN,ANYPLKH8L,2023-06-01,301.85,Pago del día,BANCOPPEL,Jos Luis Salinas Contreras,...,"2023-06-01,20230601400140HDH0001440449050,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,June,2023,NaN
68991,LEDGER,b9dcd6e3-9823-479b-a95e-feb41928f022,NaN,NaN,AKW3NJVTF,2023-06-01,141.34,Pago del día,AZTECA,Pedro Yeudiel Olea Morales,...,"2023-06-01,20230601400140HDH0001440448980,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,June,2023,NaN
68990,LEDGER,b9dcd593-4a49-442f-9ff1-299fdf76019b,NaN,NaN,ATX6M59TG,2023-06-01,896.18,Pago del día,INBURSA,Bryan Nael Ruiz Marquez,...,"2023-06-01,20230601400140HDH0001440448890,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,June,2023,NaN
68989,LEDGER,b9dc80e6-dad1-404a-8775-505b3e085482,NaN,NaN,AVLX8TD9K,2023-06-01,366.05,Pago del día,BBVA BANCOMER,Sandra Hernandez Luviano,...,"2023-06-01,20230601400140HDH0001440448810,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,June,2023,NaN

In [12]:
all_disp.shape

(3043940, 22)

In [13]:
all_disp['type'].unique()

array(['LEDGER', 'DAILY', 'INSTANT'], dtype=object)

# TRADICIONAL

In [14]:
all_disp_trad = all_disp[(all_disp['type'] == 'DAILY')]
all_disp_trad.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
64746,DAILY,ae5c8ab0-e76c-47ed-94f6-b6f7aa987fa6,clubsw,parcepay08@gmail.com,MG3CNGFSY,2023-06-01,47.91,Pago del día,BBVA BANCOMER,juan esteban roldan mayorga,...,"2023-06-01,20230601400140HDH0001440118440,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,June,2023,NaN
65474,DAILY,b060f05b-423b-4c8c-9ea1-5528df375f1a,Tomza R,miguelito.171099@gmail.Com,M6YGGZX8L,2022-12-30,201.23,Reprogramación,BBVA BANCOMER,Jesus Miguel perez chima,...,"2023-06-01,20230601400140HDH0001440174710,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,December,2022,NaN
66415,DAILY,b2ee93bd-3c69-4b0f-b476-cb38aef3662c,Miscelnea La Torre,fergarciagalvan@gmail.com,TMDB4P73Y,2023-02-25,36.41,Reprogramación,AZTECA,Fernando Garca Galvn,...,"2023-06-01,20230601400140HDH0001440245520,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,February,2023,NaN
66414,DAILY,b2ee93bd-3c69-4b0f-b476-cb38aef3662c,Miscelnea La Torre,fergarciagalvan@gmail.com,BH2KNNVQM,2023-02-23,20.12,Reprogramación,AZTECA,Fernando Garca Galvn,...,"2023-06-01,20230601400140HDH0001440245430,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,February,2023,NaN
66413,DAILY,b2ee93bd-3c69-4b0f-b476-cb38aef3662c,Miscelnea La Torre,fergarciagalvan@gmail.com,3JS3QM976,2023-02-16,118.82,Reprogramación,AZTECA,Fernando Garca Galvn,...,"2023-06-01,20230601400140HDH0001440245310,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,February,2023,NaN

In [15]:
all_disp_trad.shape

(2218, 22)

In [16]:
pivot_total_trad = pd.pivot_table(all_disp_trad,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_trad.reset_index(drop=False, inplace=True)
pivot_total_trad.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13364\1759428005.py:4: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_total_trad.reset_index(drop=False, inplace=True)

    type       Date        sum       len
                     total_due total_due
0  DAILY 2023-06-01 190,658.69       114
1  DAILY 2023-06-02 575,718.62       126
2  DAILY 2023-06-03 283,413.90       157
3  DAILY 2023-06-04 270,220.70        55
4  DAILY 2023-06-05 293,418.49        36

In [17]:
pivot_parcial_trad = pd.pivot_table(all_disp_trad,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_trad.reset_index(drop=False, inplace=True)
pivot_parcial_trad.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13364\3208080861.py:3: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial_trad.reset_index(drop=False, inplace=True)

         type          tipo       Date        sum                        \
                                        total_due
status                                      ERROR       PAID        All
0       DAILY  Pago del día 2023-06-01        NaN  83,911.08  83,911.08
1       DAILY  Pago del día 2023-06-02 253,439.41 243,284.20 496,723.61
2       DAILY  Pago del día 2023-06-03        NaN 192,216.21 192,216.21
3       DAILY  Pago del día 2023-06-04  23,476.88 220,422.12 243,899.00
4       DAILY  Pago del día 2023-06-05   1,916.48 218,988.89 220,905.37

             len
       total_due
status     ERROR  PAID All
0            NaN  5.00   5
1           3.00 17.00  20
2            NaN 12.00  12
3           1.00 16.00  17
4           1.00 10.00  11

## CATEGORIZACIÓN DE REPROGRAMACIONES

In [18]:
swap_dia_total_repro = all_disp_trad[(all_disp_trad['tipo'] == 'Reprogramación')]
swap_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
65474,DAILY,b060f05b-423b-4c8c-9ea1-5528df375f1a,Tomza R,miguelito.171099@gmail.Com,M6YGGZX8L,2022-12-30,201.23,Reprogramación,BBVA BANCOMER,Jesus Miguel perez chima,...,"2023-06-01,20230601400140HDH0001440174710,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,December,2022,NaN
66415,DAILY,b2ee93bd-3c69-4b0f-b476-cb38aef3662c,Miscelnea La Torre,fergarciagalvan@gmail.com,TMDB4P73Y,2023-02-25,36.41,Reprogramación,AZTECA,Fernando Garca Galvn,...,"2023-06-01,20230601400140HDH0001440245520,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,February,2023,NaN
66414,DAILY,b2ee93bd-3c69-4b0f-b476-cb38aef3662c,Miscelnea La Torre,fergarciagalvan@gmail.com,BH2KNNVQM,2023-02-23,20.12,Reprogramación,AZTECA,Fernando Garca Galvn,...,"2023-06-01,20230601400140HDH0001440245430,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,February,2023,NaN
66413,DAILY,b2ee93bd-3c69-4b0f-b476-cb38aef3662c,Miscelnea La Torre,fergarciagalvan@gmail.com,3JS3QM976,2023-02-16,118.82,Reprogramación,AZTECA,Fernando Garca Galvn,...,"2023-06-01,20230601400140HDH0001440245310,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,February,2023,NaN
66412,DAILY,b2ee93bd-3c69-4b0f-b476-cb38aef3662c,Miscelnea La Torre,fergarciagalvan@gmail.com,2QNSK6XRC,2023-02-15,49.11,Reprogramación,AZTECA,Fernando Garca Galvn,...,"2023-06-01,20230601400140HDH0001440245190,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,February,2023,NaN

In [19]:
swap_dia_total_repro.shape

(1854, 22)

In [20]:
swap_dia_total_repro.to_excel('Reprogramaciones_daily.xlsx',index=False)

In [21]:
swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
                   & (swap_dia_total_repro['month_report'] == month_conc) 
                   & (swap_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
swap_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13364\2042991903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13364\2042991903.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
65474,DAILY,b060f05b-423b-4c8c-9ea1-5528df375f1a,Tomza R,miguelito.171099@gmail.Com,M6YGGZX8L,2022-12-30,201.23,Reprogramación,BBVA BANCOMER,Jesus Miguel perez chima,...,01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,December,2022,NaN,repro_otro_mes
66415,DAILY,b2ee93bd-3c69-4b0f-b476-cb38aef3662c,Miscelnea La Torre,fergarciagalvan@gmail.com,TMDB4P73Y,2023-02-25,36.41,Reprogramación,AZTECA,Fernando Garca Galvn,...,01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,February,2023,NaN,repro_otro_mes
66414,DAILY,b2ee93bd-3c69-4b0f-b476-cb38aef3662c,Miscelnea La Torre,fergarciagalvan@gmail.com,BH2KNNVQM,2023-02-23,20.12,Reprogramación,AZTECA,Fernando Garca Galvn,...,01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,February,2023,NaN,repro_otro_mes
66413,DAILY,b2ee93bd-3c69-4b0f-b476-cb38aef3662c,Miscelnea La Torre,fergarciagalvan@gmail.com,3JS3QM976,2023-02-16,118.82,Reprogramación,AZTECA,Fernando Garca Galvn,...,01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,February,2023,NaN,repro_otro_mes
66412,DAILY,b2ee93bd-3c69-4b0f-b476-cb38aef3662c,Miscelnea La Torre,fergarciagalvan@gmail.com,2QNSK6XRC,2023-02-15,49.11,Reprogramación,AZTECA,Fernando Garca Galvn,...,01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,February,2023,NaN,repro_otro_mes

In [22]:
pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro.reset_index(drop=False, inplace=True)
pivot_tipo_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13364\3187504787.py:5: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_tipo_repro.reset_index(drop=False, inplace=True)

                      type       Date             sum                 \
                                            total_due
tipo_reprogramacion                   repro_mismo_mes repro_otro_mes
0                    DAILY 2023-06-01             NaN     106,747.61
1                    DAILY 2023-06-02             NaN      78,995.01
2                    DAILY 2023-06-03        5,642.96      85,554.73
3                    DAILY 2023-06-04             NaN      26,321.70
4                    DAILY 2023-06-05             NaN      72,513.12

                                           len
                                     total_due
tipo_reprogramacion        All repro_mismo_mes repro_otro_mes  All
0                   106,747.61             NaN         109.00  109
1                    78,995.01             NaN         106.00  106
2                    91,197.69            1.00         144.00  145
3                    26,321.70             NaN          38.00   38
4                    72,513.12             NaN          25.00   25

# FAST PAYMENTS

In [23]:
all_disp_fp = all_disp[(all_disp['type'] == 'INSTANT')]
all_disp_fp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
102871,INSTANT,59e16a85-5f3d-4ed2-8d05-0981e253a79c,Alan Beef,albinoerasmo2@gmail.com,2YCDDPNPG,2022-08-29,262.56,Reprogramación,ASP INTEGRA OPC,Erasmo Albino Alcantara,...,"2023-06-01,42644264202306012325640147,40072,90...",03. Third_batch,BANORTE,Dispersión-20230601.xlsx,2023-06-01,June,2023,August,2022,NaN
102870,INSTANT,59e16a85-5f3d-4ed2-8d05-0981e253a79c,Alan Beef,albinoerasmo2@gmail.com,RBGSRKCT7,2022-08-28,766.59,Reprogramación,ASP INTEGRA OPC,Erasmo Albino Alcantara,...,"2023-06-01,42644264202306012325639231,40072,90...",03. Third_batch,BANORTE,Dispersión-20230601.xlsx,2023-06-01,June,2023,August,2022,NaN
102869,INSTANT,59e16a85-5f3d-4ed2-8d05-0981e253a79c,Alan Beef,albinoerasmo2@gmail.com,JJRDVJ2BR,2022-08-28,238.61,Reprogramación,ASP INTEGRA OPC,Erasmo Albino Alcantara,...,"2023-06-01,42644264202306012325639803,40072,90...",03. Third_batch,BANORTE,Dispersión-20230601.xlsx,2023-06-01,June,2023,August,2022,NaN
102868,INSTANT,59e16a85-5f3d-4ed2-8d05-0981e253a79c,Alan Beef,albinoerasmo2@gmail.com,4QKDXS96Z,2022-08-27,517.45,Reprogramación,ASP INTEGRA OPC,Erasmo Albino Alcantara,...,"2023-06-01,42644264202306012325640457,40072,90...",03. Third_batch,BANORTE,Dispersión-20230601.xlsx,2023-06-01,June,2023,August,2022,NaN
102867,INSTANT,59e16a85-5f3d-4ed2-8d05-0981e253a79c,Alan Beef,albinoerasmo2@gmail.com,2T3TTN3W6,2022-08-26,581.64,Reprogramación,ASP INTEGRA OPC,Erasmo Albino Alcantara,...,"2023-06-01,42644264202306012325639540,40072,90...",03. Third_batch,BANORTE,Dispersión-20230601.xlsx,2023-06-01,June,2023,August,2022,NaN

In [24]:
all_disp_fp.shape

(298, 22)

In [25]:
pivot_total_fp = pd.pivot_table(all_disp_fp,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_fp.reset_index(drop=False, inplace=True)
pivot_total_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13364\1055904135.py:4: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_total_fp.reset_index(drop=False, inplace=True)

      type       Date       sum       len
                      total_due total_due
0  INSTANT 2023-06-01  8,620.61        20
1  INSTANT 2023-06-02  3,289.73        11
2  INSTANT 2023-06-03    563.20         5
3  INSTANT 2023-06-05    137.71         2
4  INSTANT 2023-06-06    485.82         2

In [26]:
pivot_parcial_fp = pd.pivot_table(all_disp_fp,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_fp.reset_index(drop=False, inplace=True)
pivot_parcial_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13364\1899252320.py:3: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial_fp.reset_index(drop=False, inplace=True)

           type            tipo       Date       sum                    \
                                           total_due
status                                         ERROR     PAID      All
0       INSTANT  Reprogramación 2023-06-01       NaN 8,620.61 8,620.61
1       INSTANT  Reprogramación 2023-06-02       NaN 3,289.73 3,289.73
2       INSTANT  Reprogramación 2023-06-03       NaN   563.20   563.20
3       INSTANT  Reprogramación 2023-06-05       NaN   137.71   137.71
4       INSTANT  Reprogramación 2023-06-06       NaN   485.82   485.82

             len
       total_due
status     ERROR  PAID All
0            NaN 20.00  20
1            NaN 11.00  11
2            NaN  5.00   5
3            NaN  2.00   2
4            NaN  2.00   2

## CATEGORIZACIÓN DE REPROGRAMACIONES - FAST PAYMENTS

In [27]:
fp_dia_total_repro = all_disp_fp[(all_disp_fp['tipo'] == 'Reprogramación')]
fp_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
102871,INSTANT,59e16a85-5f3d-4ed2-8d05-0981e253a79c,Alan Beef,albinoerasmo2@gmail.com,2YCDDPNPG,2022-08-29,262.56,Reprogramación,ASP INTEGRA OPC,Erasmo Albino Alcantara,...,"2023-06-01,42644264202306012325640147,40072,90...",03. Third_batch,BANORTE,Dispersión-20230601.xlsx,2023-06-01,June,2023,August,2022,NaN
102870,INSTANT,59e16a85-5f3d-4ed2-8d05-0981e253a79c,Alan Beef,albinoerasmo2@gmail.com,RBGSRKCT7,2022-08-28,766.59,Reprogramación,ASP INTEGRA OPC,Erasmo Albino Alcantara,...,"2023-06-01,42644264202306012325639231,40072,90...",03. Third_batch,BANORTE,Dispersión-20230601.xlsx,2023-06-01,June,2023,August,2022,NaN
102869,INSTANT,59e16a85-5f3d-4ed2-8d05-0981e253a79c,Alan Beef,albinoerasmo2@gmail.com,JJRDVJ2BR,2022-08-28,238.61,Reprogramación,ASP INTEGRA OPC,Erasmo Albino Alcantara,...,"2023-06-01,42644264202306012325639803,40072,90...",03. Third_batch,BANORTE,Dispersión-20230601.xlsx,2023-06-01,June,2023,August,2022,NaN
102868,INSTANT,59e16a85-5f3d-4ed2-8d05-0981e253a79c,Alan Beef,albinoerasmo2@gmail.com,4QKDXS96Z,2022-08-27,517.45,Reprogramación,ASP INTEGRA OPC,Erasmo Albino Alcantara,...,"2023-06-01,42644264202306012325640457,40072,90...",03. Third_batch,BANORTE,Dispersión-20230601.xlsx,2023-06-01,June,2023,August,2022,NaN
102867,INSTANT,59e16a85-5f3d-4ed2-8d05-0981e253a79c,Alan Beef,albinoerasmo2@gmail.com,2T3TTN3W6,2022-08-26,581.64,Reprogramación,ASP INTEGRA OPC,Erasmo Albino Alcantara,...,"2023-06-01,42644264202306012325639540,40072,90...",03. Third_batch,BANORTE,Dispersión-20230601.xlsx,2023-06-01,June,2023,August,2022,NaN

In [28]:
fp_dia_total_repro.shape

(298, 22)

In [29]:
fp_dia_total_repro.to_excel('Reprogramaciones_instant.xlsx',index=False)

In [30]:
fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
                   & (fp_dia_total_repro['month_report'] == month_conc) 
                   & (fp_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
fp_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
102871,INSTANT,59e16a85-5f3d-4ed2-8d05-0981e253a79c,Alan Beef,albinoerasmo2@gmail.com,2YCDDPNPG,2022-08-29,262.56,Reprogramación,ASP INTEGRA OPC,Erasmo Albino Alcantara,...,03. Third_batch,BANORTE,Dispersión-20230601.xlsx,2023-06-01,June,2023,August,2022,NaN,repro_otro_mes
102870,INSTANT,59e16a85-5f3d-4ed2-8d05-0981e253a79c,Alan Beef,albinoerasmo2@gmail.com,RBGSRKCT7,2022-08-28,766.59,Reprogramación,ASP INTEGRA OPC,Erasmo Albino Alcantara,...,03. Third_batch,BANORTE,Dispersión-20230601.xlsx,2023-06-01,June,2023,August,2022,NaN,repro_otro_mes
102869,INSTANT,59e16a85-5f3d-4ed2-8d05-0981e253a79c,Alan Beef,albinoerasmo2@gmail.com,JJRDVJ2BR,2022-08-28,238.61,Reprogramación,ASP INTEGRA OPC,Erasmo Albino Alcantara,...,03. Third_batch,BANORTE,Dispersión-20230601.xlsx,2023-06-01,June,2023,August,2022,NaN,repro_otro_mes
102868,INSTANT,59e16a85-5f3d-4ed2-8d05-0981e253a79c,Alan Beef,albinoerasmo2@gmail.com,4QKDXS96Z,2022-08-27,517.45,Reprogramación,ASP INTEGRA OPC,Erasmo Albino Alcantara,...,03. Third_batch,BANORTE,Dispersión-20230601.xlsx,2023-06-01,June,2023,August,2022,NaN,repro_otro_mes
102867,INSTANT,59e16a85-5f3d-4ed2-8d05-0981e253a79c,Alan Beef,albinoerasmo2@gmail.com,2T3TTN3W6,2022-08-26,581.64,Reprogramación,ASP INTEGRA OPC,Erasmo Albino Alcantara,...,03. Third_batch,BANORTE,Dispersión-20230601.xlsx,2023-06-01,June,2023,August,2022,NaN,repro_otro_mes

In [31]:
pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_fp.fillna(0,inplace=True)
pivot_tipo_repro_fp.reset_index(drop=False, inplace=True)
pivot_tipo_repro_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13364\4096176958.py:6: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_tipo_repro_fp.reset_index(drop=False, inplace=True)

                        type       Date            sum           \
                                             total_due
tipo_reprogramacion                     repro_otro_mes      All
0                    INSTANT 2023-06-01       8,620.61 8,620.61
1                    INSTANT 2023-06-02       3,289.73 3,289.73
2                    INSTANT 2023-06-03         563.20   563.20
3                    INSTANT 2023-06-05         137.71   137.71
4                    INSTANT 2023-06-06         485.82   485.82

                               len
                         total_due
tipo_reprogramacion repro_otro_mes All
0                               20  20
1                               11  11
2                                5   5
3                                2   2
4                                2   2

# LEDGER

In [32]:
all_disp_ledger = all_disp[(all_disp['type'] == 'LEDGER')]
all_disp_ledger.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
0,LEDGER,06b7e332-184e-4ca8-a6f1-65e6a2ee6673,NaN,NaN,AFS9LJT74,2023-06-01,643.94,Pago del día,BBVA BANCOMER,Jorge Isaac Medrano Gutierrez,...,NaN,01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,June,2023,NaN
68992,LEDGER,b9dce823-4bbb-4ace-a77e-61d59c5f3ac9,NaN,NaN,ANYPLKH8L,2023-06-01,301.85,Pago del día,BANCOPPEL,Jos Luis Salinas Contreras,...,"2023-06-01,20230601400140HDH0001440449050,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,June,2023,NaN
68991,LEDGER,b9dcd6e3-9823-479b-a95e-feb41928f022,NaN,NaN,AKW3NJVTF,2023-06-01,141.34,Pago del día,AZTECA,Pedro Yeudiel Olea Morales,...,"2023-06-01,20230601400140HDH0001440448980,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,June,2023,NaN
68990,LEDGER,b9dcd593-4a49-442f-9ff1-299fdf76019b,NaN,NaN,ATX6M59TG,2023-06-01,896.18,Pago del día,INBURSA,Bryan Nael Ruiz Marquez,...,"2023-06-01,20230601400140HDH0001440448890,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,June,2023,NaN
68989,LEDGER,b9dc80e6-dad1-404a-8775-505b3e085482,NaN,NaN,AVLX8TD9K,2023-06-01,366.05,Pago del día,BBVA BANCOMER,Sandra Hernandez Luviano,...,"2023-06-01,20230601400140HDH0001440448810,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,June,2023,NaN

In [33]:
all_disp_ledger.shape

(3041424, 22)

In [34]:
pivot_total_ledger = pd.pivot_table(all_disp_ledger,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_ledger.reset_index(drop=False, inplace=True)
pivot_total_ledger.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13364\1348612958.py:4: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_total_ledger.reset_index(drop=False, inplace=True)

     type       Date            sum       len
                          total_due total_due
0  LEDGER 2023-06-01 216,544,432.10    107940
1  LEDGER 2023-06-02 219,970,215.01    110470
2  LEDGER 2023-06-03 248,425,227.95    114594
3  LEDGER 2023-06-04 264,302,511.59    111032
4  LEDGER 2023-06-05 187,527,528.35     78384

In [35]:
pivot_total_ledger.shape

(31, 4)

In [36]:
pivot_parcial_ledger = pd.pivot_table(all_disp_ledger,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_ledger.reset_index(drop=False, inplace=True)
pivot_parcial_ledger.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13364\3013629304.py:3: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial_ledger.reset_index(drop=False, inplace=True)

          type          tipo       Date        sum                 \
                                         total_due
status                                       ERROR           PAID
0       LEDGER  Pago del día 2023-06-01 588,467.10 212,385,014.42
1       LEDGER  Pago del día 2023-06-02 232,453.22 218,475,172.21
2       LEDGER  Pago del día 2023-06-03 564,045.92 246,803,254.67
3       LEDGER  Pago del día 2023-06-04 634,361.07 262,990,104.85
4       LEDGER  Pago del día 2023-06-05 247,367.21 186,285,726.37

                            len
                      total_due
status            All     ERROR       PAID     All
0      212,973,481.52    132.00 105,762.00  105894
1      218,707,625.43    137.00 109,375.00  109512
2      247,367,300.59    135.00 113,831.00  113966
3      263,624,465.92    160.00 110,584.00  110744
4      186,533,093.58    115.00  77,883.00   77998

## CATEGORIZACION DE REPROGRAMACIONES - LEDGER

In [37]:
ledger_dia_total_repro = all_disp_ledger[(all_disp_ledger['tipo'] == 'Reprogramación')]
ledger_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
68432,LEDGER,b85b0abb-669a-4295-b465-e400c4e5a8fe,NaN,NaN,AGS377TVT,2023-05-31,"6,318.64",Reprogramación,BBVA BANCOMER,Jose Morichi Ponce Itami,...,"2023-06-01,20230601400140HDH0001440404010,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,May,2023,NaN
68431,LEDGER,b85b0abb-669a-4295-b465-e400c4e5a8fe,NaN,NaN,AXXHDKQYD,2023-05-29,"8,259.06",Reprogramación,BBVA BANCOMER,Jose Morichi Ponce Itami,...,"2023-06-01,20230601400140HDH0001440403900,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,May,2023,NaN
70700,LEDGER,be5bdff0-7320-4b54-9578-7fafd1818930,NaN,NaN,AKFPTBLNC,2023-05-31,4.79,Reprogramación,AZTECA,BRENDA YARELI HERNANDEZ NUÑEZ,...,"2023-06-01,20230601400140HDH0001440603230,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,May,2023,NaN
70653,LEDGER,be3e574b-42d0-4dc0-a002-25695cb4e904,NaN,NaN,AVWVSWKFP,2023-05-30,"4,407.90",Reprogramación,BANORTE/IXE,Edgar Omar Flores Sarabia,...,"2023-06-01,20230601400140HDH0001440599820,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,May,2023,NaN
70649,LEDGER,be39be72-2117-4d29-9931-52e0f9a357f0,NaN,NaN,AXHDQ9LYN,2023-05-30,"8,576.25",Reprogramación,BBVA BANCOMER,Maday Romn Frost,...,"2023-06-01,20230601400140HDH0001440599470,4001...",01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,May,2023,NaN

In [38]:
ledger_dia_total_repro.shape

(14063, 22)

In [39]:
ledger_dia_total_repro.to_excel('Reprogramaciones_ledger.xlsx',index=False)

In [40]:
ledger_dia_total_repro.loc[(ledger_dia_total_repro['tipo'] == 'Reprogramación')
                   & (ledger_dia_total_repro['month_report'] == month_conc) 
                   & (ledger_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
ledger_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
ledger_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13364\3563945437.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ledger_dia_total_repro.loc[(ledger_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13364\3563945437.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ledger_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
68432,LEDGER,b85b0abb-669a-4295-b465-e400c4e5a8fe,NaN,NaN,AGS377TVT,2023-05-31,"6,318.64",Reprogramación,BBVA BANCOMER,Jose Morichi Ponce Itami,...,01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,May,2023,NaN,repro_otro_mes
68431,LEDGER,b85b0abb-669a-4295-b465-e400c4e5a8fe,NaN,NaN,AXXHDKQYD,2023-05-29,"8,259.06",Reprogramación,BBVA BANCOMER,Jose Morichi Ponce Itami,...,01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,May,2023,NaN,repro_otro_mes
70700,LEDGER,be5bdff0-7320-4b54-9578-7fafd1818930,NaN,NaN,AKFPTBLNC,2023-05-31,4.79,Reprogramación,AZTECA,BRENDA YARELI HERNANDEZ NUÑEZ,...,01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,May,2023,NaN,repro_otro_mes
70653,LEDGER,be3e574b-42d0-4dc0-a002-25695cb4e904,NaN,NaN,AVWVSWKFP,2023-05-30,"4,407.90",Reprogramación,BANORTE/IXE,Edgar Omar Flores Sarabia,...,01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,May,2023,NaN,repro_otro_mes
70649,LEDGER,be39be72-2117-4d29-9931-52e0f9a357f0,NaN,NaN,AXHDQ9LYN,2023-05-30,"8,576.25",Reprogramación,BBVA BANCOMER,Maday Romn Frost,...,01. First_batch,SANTANDER,Dispersión-20230601.xlsx,2023-06-01,June,2023,May,2023,NaN,repro_otro_mes

In [41]:
pivot_tipo_repro_ledger = pd.pivot_table(ledger_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_ledger.fillna(0,inplace=True)
pivot_tipo_repro_ledger.reset_index(drop=False, inplace=True)
pivot_tipo_repro_ledger.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13364\1507184451.py:6: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_tipo_repro_ledger.reset_index(drop=False, inplace=True)

                       type       Date             sum                 \
                                             total_due
tipo_reprogramacion                    repro_mismo_mes repro_otro_mes
0                    LEDGER 2023-06-01            0.00   3,570,950.58
1                    LEDGER 2023-06-02      195,175.03   1,067,414.55
2                    LEDGER 2023-06-03      243,881.96     814,045.40
3                    LEDGER 2023-06-04      257,411.02     420,634.65
4                    LEDGER 2023-06-05      560,865.21     433,569.56

                                             len
                                       total_due
tipo_reprogramacion          All repro_mismo_mes repro_otro_mes   All
0                   3,570,950.58            0.00       2,046.00  2046
1                   1,262,589.58           51.00         907.00   958
2                   1,057,927.36           77.00         551.00   628
3                     678,045.67           75.00         213.00   288
4                     994,434.77          100.00         286.00   386

In [42]:
pivot_tipo_repro_ledger.shape

(31, 8)

# EXCEL FINAL

In [43]:
writer = pd.ExcelWriter('FASE IV. REPROGRAMACIONES JUNIO 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_total_trad.to_excel(writer, sheet_name='TRADICIONAL TOTAL')
pivot_parcial_trad.to_excel(writer, sheet_name='TRADICIONAL PARCIAL')
pivot_total_fp.to_excel(writer, sheet_name='FP TOTAL')
pivot_parcial_fp.to_excel(writer, sheet_name='FP PARCIAL')
pivot_total_ledger.to_excel(writer, sheet_name='LEDGER TOTAL')
pivot_parcial_ledger.to_excel(writer, sheet_name='LEDGER PARCIAL')
pivot_tipo_repro.to_excel(writer, sheet_name='CATEGORIZACION REPRO TRAD')
pivot_tipo_repro_fp.to_excel(writer, sheet_name='CATEGORIZACION REPRO FP')
pivot_tipo_repro_ledger.to_excel(writer, sheet_name='CATEGORIZACION REPRO LEDGER')
writer.close()