In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
import datetime
pd.options.display.float_format = '{:,.2f}'.format
datetime.timedelta(days=1)
datetime.timedelta(1)

datetime.timedelta(days=1)

# SETTLEMENT

In [2]:
start_date = '2022-03-01'
final_date = '2022-03-31'

In [3]:
allfiles_settled = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\03. MARZO\QUERIES\*.csv', recursive=False)
allfiles_settled

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-29.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-30.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\03. MARZO\\QUERIES\\SETTLEMENT 2022-03-31.csv']

In [4]:
settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
settled['Date_file'] = settled["file_name"].str[-14:-4]
settled['Date_file']= pd.to_datetime(settled['Date_file'])
settled['report_date_local']= pd.to_datetime(settled['report_date_local'])

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_15372\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_15372\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_15372\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_15372\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_15372\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])

In [5]:
settled.reset_index(inplace=True)
settled.drop(['index'],axis=1,inplace=True)
settled.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,tipoPago,Date_file
0,b4fe2d6f-5f85-4652-95ac-915c40d212fb,la tradicional,frednrkja@hotmail.com,4M79B2KXB,2022-03-01,"2,450.00",88.20,14.14,0.00,0.00,...,NaN,"2,347.66",DAILY,2022-03-01,02:00:23,2022-03-01,02:00:23,SETTLEMENT 2022-03-01.csv,NaN,2022-03-01
1,61593338-a17e-458d-905d-db17b761d3ee,Las miches del wero,obethma@icloud.com,789QYFYB5,2022-03-01,650.00,23.40,3.74,0.00,0.00,...,NaN,622.86,DAILY,2022-03-01,02:00:23,2022-03-01,02:00:23,SETTLEMENT 2022-03-01.csv,NaN,2022-03-01
2,37a23889-3f67-48c5-a16e-b4f5acb7344a,PUERTO 97,contacto.puerto97@gmail.com,99HS9KP7Y,2022-03-01,280.00,10.08,1.61,0.00,0.00,...,NaN,268.31,DAILY,2022-03-01,02:00:23,2022-03-01,02:00:23,SETTLEMENT 2022-03-01.csv,NaN,2022-03-01
3,ed2bac48-8b8c-4327-b51d-ac76f3fdb33b,Farmacia Belén,rigobertomora051@gmail.com,9GDQ29QV9,2022-03-01,93.00,3.35,0.53,0.00,0.00,...,NaN,89.12,DAILY,2022-03-01,02:00:23,2022-03-01,02:00:23,SETTLEMENT 2022-03-01.csv,NaN,2022-03-01
4,2a9287c9-d2c5-424a-9cc1-49080607aea7,Arthromedic,maybelreyes.7@gmail.com,JXZL5RBB5,2022-03-01,"2,500.00",90.00,14.40,0.00,0.00,...,NaN,"2,395.60",DAILY,2022-03-01,02:00:23,2022-03-01,02:00:23,SETTLEMENT 2022-03-01.csv,NaN,2022-03-01

In [6]:
settled.shape

(2640922, 28)

### CURRENT MONTH

In [7]:
settled_current_month = settled[(settled['report_date_local'] >= start_date) & (settled['report_date_local'] <= final_date)]
settled_current_month.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,tipoPago,Date_file
0,b4fe2d6f-5f85-4652-95ac-915c40d212fb,la tradicional,frednrkja@hotmail.com,4M79B2KXB,2022-03-01,"2,450.00",88.20,14.14,0.00,0.00,...,NaN,"2,347.66",DAILY,2022-03-01,02:00:23,2022-03-01,02:00:23,SETTLEMENT 2022-03-01.csv,NaN,2022-03-01
1,61593338-a17e-458d-905d-db17b761d3ee,Las miches del wero,obethma@icloud.com,789QYFYB5,2022-03-01,650.00,23.40,3.74,0.00,0.00,...,NaN,622.86,DAILY,2022-03-01,02:00:23,2022-03-01,02:00:23,SETTLEMENT 2022-03-01.csv,NaN,2022-03-01
2,37a23889-3f67-48c5-a16e-b4f5acb7344a,PUERTO 97,contacto.puerto97@gmail.com,99HS9KP7Y,2022-03-01,280.00,10.08,1.61,0.00,0.00,...,NaN,268.31,DAILY,2022-03-01,02:00:23,2022-03-01,02:00:23,SETTLEMENT 2022-03-01.csv,NaN,2022-03-01
3,ed2bac48-8b8c-4327-b51d-ac76f3fdb33b,Farmacia Belén,rigobertomora051@gmail.com,9GDQ29QV9,2022-03-01,93.00,3.35,0.53,0.00,0.00,...,NaN,89.12,DAILY,2022-03-01,02:00:23,2022-03-01,02:00:23,SETTLEMENT 2022-03-01.csv,NaN,2022-03-01
4,2a9287c9-d2c5-424a-9cc1-49080607aea7,Arthromedic,maybelreyes.7@gmail.com,JXZL5RBB5,2022-03-01,"2,500.00",90.00,14.40,0.00,0.00,...,NaN,"2,395.60",DAILY,2022-03-01,02:00:23,2022-03-01,02:00:23,SETTLEMENT 2022-03-01.csv,NaN,2022-03-01

In [8]:
settled_current_month.shape

(2640922, 28)

In [9]:
settled_current_month.dtypes

merchant_id                              object
merchant_name                            object
user_email                               object
report_id                                object
report_date_local                datetime64[ns]
total_transactions                      float64
total_fees_charged                      float64
total_taxes                             float64
applied_fees_benefits                   float64
applied_taxes_benefits                  float64
fee_direct_deposit                      float64
taxes_direct_deposit                    float64
total_adjustments                       float64
total_adjustment_fees_charged           float64
total_adjustment_taxes                  float64
cobranza                                float64
total_released                          float64
total_retained                          float64
tipopago                                 object
total_due                               float64
type                                     object
created_date                             object
created_time                             object
updated_date                             object
updated_time                             object
file_name                                object
tipoPago                                 object
Date_file                        datetime64[ns]
dtype: object

In [10]:
# def next_date(settled_current_month):
#     if settled_current_month['updated_time'] >= '20:00:00':
#         return settled_current_month['report_date_local'] + datetime.timedelta(days=1)
#     else:
#         return settled_current_month['report_date_local']
    
# settled_current_month['poliza_date'] = settled_current_month.apply(next_date, axis=1)

In [11]:
# settled_current_month.head()

In [12]:
# settled_current_month.shape

In [13]:
# settled_current_month['poliza_date'].unique()

### CANCELACIONES

In [14]:
settled_current_month.loc[(settled_current_month['total_released'] > 0)
                          & (settled_current_month['total_adjustments'] < 0),'canc_1'] = settled_current_month['total_adjustments']
settled_current_month['canc_1'].fillna(0,inplace=True)

In [15]:
settled_current_month.loc[(settled_current_month['total_released'] > 0)
                          & (settled_current_month['total_adjustments'] < 0),'canc_2'] = settled_current_month['total_released']
settled_current_month['canc_2'].fillna(0,inplace=True)

In [16]:
settled_current_month['cancelaciones'] = (-settled_current_month['canc_1']) - (settled_current_month['canc_2'])
settled_current_month.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,created_date,created_time,updated_date,updated_time,file_name,tipoPago,Date_file,canc_1,canc_2,cancelaciones
0,b4fe2d6f-5f85-4652-95ac-915c40d212fb,la tradicional,frednrkja@hotmail.com,4M79B2KXB,2022-03-01,"2,450.00",88.20,14.14,0.00,0.00,...,2022-03-01,02:00:23,2022-03-01,02:00:23,SETTLEMENT 2022-03-01.csv,NaN,2022-03-01,0.00,0.00,-0.00
1,61593338-a17e-458d-905d-db17b761d3ee,Las miches del wero,obethma@icloud.com,789QYFYB5,2022-03-01,650.00,23.40,3.74,0.00,0.00,...,2022-03-01,02:00:23,2022-03-01,02:00:23,SETTLEMENT 2022-03-01.csv,NaN,2022-03-01,0.00,0.00,-0.00
2,37a23889-3f67-48c5-a16e-b4f5acb7344a,PUERTO 97,contacto.puerto97@gmail.com,99HS9KP7Y,2022-03-01,280.00,10.08,1.61,0.00,0.00,...,2022-03-01,02:00:23,2022-03-01,02:00:23,SETTLEMENT 2022-03-01.csv,NaN,2022-03-01,0.00,0.00,-0.00
3,ed2bac48-8b8c-4327-b51d-ac76f3fdb33b,Farmacia Belén,rigobertomora051@gmail.com,9GDQ29QV9,2022-03-01,93.00,3.35,0.53,0.00,0.00,...,2022-03-01,02:00:23,2022-03-01,02:00:23,SETTLEMENT 2022-03-01.csv,NaN,2022-03-01,0.00,0.00,-0.00
4,2a9287c9-d2c5-424a-9cc1-49080607aea7,Arthromedic,maybelreyes.7@gmail.com,JXZL5RBB5,2022-03-01,"2,500.00",90.00,14.40,0.00,0.00,...,2022-03-01,02:00:23,2022-03-01,02:00:23,SETTLEMENT 2022-03-01.csv,NaN,2022-03-01,0.00,0.00,-0.00

In [17]:
settled_current_month.shape

(2640922, 31)

### TOTAL DUE CALCULADO

In [18]:
settled_current_month['total_due_calculado'] = (settled_current_month['total_transactions']
                                                - settled_current_month['total_fees_charged']
                                                - settled_current_month['total_taxes']
                                                + settled_current_month['applied_fees_benefits']
                                                + settled_current_month['applied_taxes_benefits']
                                                + settled_current_month['fee_direct_deposit']
                                                + settled_current_month['taxes_direct_deposit']
                                                - (-settled_current_month['total_adjustments'])
                                                + (-settled_current_month['total_adjustment_fees_charged'])
                                                + (-settled_current_month['total_adjustment_taxes'])
                                                - settled_current_month['cobranza']
                                                + settled_current_month['total_released']
                                                - settled_current_month['total_retained'])
settled_current_month['diferencias'] = settled_current_month['total_due_calculado'] - settled_current_month['total_due']
settled_current_month.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,updated_date,updated_time,file_name,tipoPago,Date_file,canc_1,canc_2,cancelaciones,total_due_calculado,diferencias
0,b4fe2d6f-5f85-4652-95ac-915c40d212fb,la tradicional,frednrkja@hotmail.com,4M79B2KXB,2022-03-01,"2,450.00",88.20,14.14,0.00,0.00,...,2022-03-01,02:00:23,SETTLEMENT 2022-03-01.csv,NaN,2022-03-01,0.00,0.00,-0.00,"2,347.66",0.00
1,61593338-a17e-458d-905d-db17b761d3ee,Las miches del wero,obethma@icloud.com,789QYFYB5,2022-03-01,650.00,23.40,3.74,0.00,0.00,...,2022-03-01,02:00:23,SETTLEMENT 2022-03-01.csv,NaN,2022-03-01,0.00,0.00,-0.00,622.86,0.00
2,37a23889-3f67-48c5-a16e-b4f5acb7344a,PUERTO 97,contacto.puerto97@gmail.com,99HS9KP7Y,2022-03-01,280.00,10.08,1.61,0.00,0.00,...,2022-03-01,02:00:23,SETTLEMENT 2022-03-01.csv,NaN,2022-03-01,0.00,0.00,-0.00,268.31,0.00
3,ed2bac48-8b8c-4327-b51d-ac76f3fdb33b,Farmacia Belén,rigobertomora051@gmail.com,9GDQ29QV9,2022-03-01,93.00,3.35,0.53,0.00,0.00,...,2022-03-01,02:00:23,SETTLEMENT 2022-03-01.csv,NaN,2022-03-01,0.00,0.00,-0.00,89.12,0.00
4,2a9287c9-d2c5-424a-9cc1-49080607aea7,Arthromedic,maybelreyes.7@gmail.com,JXZL5RBB5,2022-03-01,"2,500.00",90.00,14.40,0.00,0.00,...,2022-03-01,02:00:23,SETTLEMENT 2022-03-01.csv,NaN,2022-03-01,0.00,0.00,-0.00,"2,395.60",0.00

In [19]:
settled_current_month.shape

(2640922, 33)

### CONCILIACION TPV

In [20]:
conc_1 = settled_current_month.groupby(['report_date_local']).agg({'total_transactions':sum,'total_fees_charged':sum
                                                                    ,'total_taxes':sum,'applied_fees_benefits':sum
                                                                    ,'applied_taxes_benefits':sum,'fee_direct_deposit':sum
                                                                    ,'taxes_direct_deposit':sum,'total_adjustments':sum
                                                                    ,'total_adjustment_fees_charged':sum
                                                                    ,'total_adjustment_taxes':sum 
                                                                    ,'cobranza':sum,'total_released':sum
                                                                    ,'total_retained':sum,'cancelaciones':sum
                                                                    ,'total_due_calculado':sum,'total_due':sum
                                                                    ,'diferencias':sum}).reset_index()
conc_1['total_adjustments'] = conc_1['total_adjustments']*-1 
conc_1['total_adjustment_fees_charged'] = conc_1['total_adjustment_fees_charged']*-1
conc_1['total_adjustment_taxes'] = conc_1['total_adjustment_taxes']*-1 
conc_1.head()

,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-03-01,"169,906,495.41","7,064,212.62","1,130,285.49","1,550.74",248.23,"26,770.45","4,286.95","880,913.04","1,401.97",224.32,"3,589.87","783,408.19","1,420,334.23","1,626.29","160,225,051.01","160,225,051.01",-0.00
1,2022-03-02,"162,578,151.79","6,499,891.79","1,039,995.86","1,394.70",223.29,"22,795.69","3,651.91","840,131.72",-0.00,-0.00,"50,510.82","2,562,125.12","1,387,005.43",0.00,"155,350,806.88","155,350,806.88",-0.00
2,2022-03-03,"160,005,700.25","6,385,188.27","1,021,641.59","1,346.07",215.51,"21,806.22","3,492.98","1,486,050.22","33,079.65","5,292.74","9,163.28","2,284,471.52","1,423,990.79","38,372.39","152,029,370.79","152,029,370.79",-0.00
3,2022-03-04,"166,134,603.66","6,620,591.35","1,059,306.65","1,236.83",197.96,"21,975.16","3,520.24","1,145,211.73","11,796.16","1,887.38","98,020.03","2,098,819.80","1,877,319.12","7,980.00","157,473,588.31","157,473,588.31",-0.00
4,2022-03-05,"193,796,374.29","7,621,833.33","1,219,504.70","1,615.20",258.43,"22,511.44","3,606.16","2,168,116.83","38,842.34","6,214.76","13,459.80","2,699,474.39","1,143,757.84","44,137.19","184,402,224.51","184,402,224.51",-0.00

In [21]:
conc_1.shape

(31, 18)

In [22]:
conc_3 = settled_current_month.groupby(['report_date_local','type']).agg({'total_transactions':sum,'total_fees_charged':sum
                                                                    ,'total_taxes':sum,'applied_fees_benefits':sum
                                                                    ,'applied_taxes_benefits':sum,'fee_direct_deposit':sum
                                                                    ,'taxes_direct_deposit':sum,'total_adjustments':sum     
                                                                    ,'total_adjustment_fees_charged':sum
                                                                    ,'total_adjustment_taxes':sum 
                                                                    ,'cobranza':sum,'total_released':sum
                                                                    ,'total_retained':sum,'cancelaciones':sum
                                                                    ,'total_due_calculado':sum,'total_due':sum
                                                                    ,'diferencias':sum}).reset_index()
conc_3['total_adjustments'] = conc_3['total_adjustments']*-1 
conc_3['total_adjustment_fees_charged'] = conc_3['total_adjustment_fees_charged']*-1
conc_3['total_adjustment_taxes'] = conc_3['total_adjustment_taxes']*-1 
conc_3.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-03-01,DAILY,"166,755,141.33","6,931,188.35","1,109,001.28","1,550.74",248.23,"26,770.45","4,286.95","825,621.73","1,401.97",224.32,"3,589.87","755,619.23","1,420,334.23","1,626.29","157,255,507.76","157,255,507.76",-0.00
1,2022-03-01,INSTANT,"3,151,354.08","133,024.27","21,284.21",0.00,0.00,0.00,0.00,"55,291.31",-0.00,-0.00,0.00,"27,788.96",0.00,0.00,"2,969,543.25","2,969,543.25",-0.00
2,2022-03-02,DAILY,"159,426,692.50","6,369,809.60","1,019,182.19","1,394.70",223.29,"22,795.69","3,651.91","782,014.89",-0.00,-0.00,"50,510.82","2,470,373.64","1,382,214.23",0.00,"152,321,400.00","152,321,400.00",-0.00
3,2022-03-02,INSTANT,"3,151,459.29","130,082.19","20,813.67",0.00,0.00,0.00,0.00,"58,116.83",-0.00,-0.00,0.00,"91,751.48","4,791.20",0.00,"3,029,406.88","3,029,406.88",-0.00
4,2022-03-03,DAILY,"157,026,389.34","6,260,857.75","1,001,748.30","1,346.07",215.51,"21,806.22","3,492.98","1,425,256.97","33,079.65","5,292.74","9,163.28","2,283,565.48","1,350,925.38","38,372.39","149,327,236.31","149,327,236.31",-0.00

In [23]:
conc_3.shape

(62, 19)

In [24]:
conc_3['type'].unique()

array(['DAILY', 'INSTANT'], dtype=object)

In [25]:
data_daily = conc_3[(conc_3['type'] == 'DAILY')]
data_daily.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-03-01,DAILY,"166,755,141.33","6,931,188.35","1,109,001.28","1,550.74",248.23,"26,770.45","4,286.95","825,621.73","1,401.97",224.32,"3,589.87","755,619.23","1,420,334.23","1,626.29","157,255,507.76","157,255,507.76",-0.00
2,2022-03-02,DAILY,"159,426,692.50","6,369,809.60","1,019,182.19","1,394.70",223.29,"22,795.69","3,651.91","782,014.89",-0.00,-0.00,"50,510.82","2,470,373.64","1,382,214.23",0.00,"152,321,400.00","152,321,400.00",-0.00
4,2022-03-03,DAILY,"157,026,389.34","6,260,857.75","1,001,748.30","1,346.07",215.51,"21,806.22","3,492.98","1,425,256.97","33,079.65","5,292.74","9,163.28","2,283,565.48","1,350,925.38","38,372.39","149,327,236.31","149,327,236.31",-0.00
6,2022-03-04,DAILY,"162,608,582.55","6,477,183.30","1,036,361.18","1,236.83",197.96,"21,975.16","3,520.24","1,065,937.13","10,878.26","1,740.52","98,020.03","1,982,502.82","1,838,123.78","7,817.14","154,115,008.92","154,115,008.92",-0.00
8,2022-03-05,DAILY,"189,767,454.27","7,466,333.59","1,194,624.54","1,615.20",258.43,"22,511.44","3,606.16","2,082,878.36","38,842.34","6,214.76","13,459.80","2,697,558.86","1,142,320.48","44,137.19","180,638,444.69","180,638,444.69",-0.00

In [26]:
data_daily.shape

(31, 19)

In [27]:
data_instant = conc_3[(conc_3['type'] == 'INSTANT')]
data_instant.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
1,2022-03-01,INSTANT,"3,151,354.08","133,024.27","21,284.21",0.00,0.00,0.00,0.00,"55,291.31",-0.00,-0.00,0.00,"27,788.96",0.00,0.00,"2,969,543.25","2,969,543.25",-0.00
3,2022-03-02,INSTANT,"3,151,459.29","130,082.19","20,813.67",0.00,0.00,0.00,0.00,"58,116.83",-0.00,-0.00,0.00,"91,751.48","4,791.20",0.00,"3,029,406.88","3,029,406.88",-0.00
5,2022-03-03,INSTANT,"2,979,310.91","124,330.52","19,893.29",0.00,0.00,0.00,0.00,"60,793.25",-0.00,-0.00,0.00,906.04,"73,065.41",0.00,"2,702,134.48","2,702,134.48",-0.00
7,2022-03-04,INSTANT,"3,526,021.11","143,408.05","22,945.47",0.00,0.00,0.00,0.00,"79,274.60",917.90,146.86,0.00,"116,316.98","39,195.34",162.86,"3,358,579.39","3,358,579.39",0.00
9,2022-03-05,INSTANT,"4,028,920.02","155,499.74","24,880.16",0.00,0.00,0.00,0.00,"85,238.47",-0.00,-0.00,0.00,"1,915.53","1,437.36",0.00,"3,763,779.82","3,763,779.82",-0.00

In [28]:
data_instant.shape

(31, 19)

### RELEASED SIN CLABE

In [29]:
released_sinclabe = settled_current_month[(settled_current_month['tipopago'] == 'sin CLABE')]
released_sinclabe.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, tipoPago, Date_file, canc_1, canc_2, cancelaciones, total_due_calculado, diferencias]
Index: []

[0 rows x 33 columns]

In [30]:
released_sinclabe.shape

(0, 33)

In [31]:
released_1 = released_sinclabe.groupby(['report_date_local']).agg({'total_released':sum}).reset_index()
released_1.head()

Empty DataFrame
Columns: [report_date_local, total_released]
Index: []

In [32]:
released_1.shape

(0, 2)

In [33]:
released_3 = released_sinclabe.groupby(['report_date_local','type']).agg({'total_released':sum}).reset_index()
released_3.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [34]:
released_3.shape

(0, 3)

In [35]:
released_3['type'].unique()

array([], dtype=object)

In [36]:
released_daily = released_3[(released_3['type'] == 'DAILY')]
released_daily.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [37]:
released_daily.shape

(0, 3)

In [38]:
released_instant = released_3[(released_3['type'] == 'INSTANT')]
released_instant.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [39]:
released_instant.shape

(0, 3)

# EXCEL FINAL

In [40]:
writer = pd.ExcelWriter('FASE I. DATA POLIZA MARZO 01-31 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
conc_1.to_excel(writer, sheet_name='MONTOS REPORT_DATE',index=False)
data_daily.to_excel(writer, sheet_name='MONTOS_DAILY',index=False)
data_instant.to_excel(writer, sheet_name='MONTOS_INSTANT',index=False)
released_1.to_excel(writer, sheet_name='RELEASED REPORT_DATE',index=False)
released_daily.to_excel(writer, sheet_name='RELEASED_DAILY',index=False)
released_instant.to_excel(writer, sheet_name='RELEASED_INSTANT',index=False)
writer.close()