In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
import datetime
pd.options.display.float_format = '{:,.2f}'.format
datetime.timedelta(days=1)
datetime.timedelta(1)

datetime.timedelta(days=1)

# SETTLEMENT

In [2]:
start_date = '2022-05-27'
final_date = '2022-05-31'

In [3]:
allfiles_settled = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\05. MAYO\QUERIES\*.csv', recursive=False)
allfiles_settled

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-04-30.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-29.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-30.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-31.csv']

In [4]:
settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
settled['Date_file'] = settled["file_name"].str[-14:-4]
settled['Date_file']= pd.to_datetime(settled['Date_file'])
settled['report_date_local']= pd.to_datetime(settled['report_date_local'])

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_11568\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_11568\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_11568\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_11568\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_11568\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_11568\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_11568\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_11568\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_11568\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_11568\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])

In [5]:
settled.reset_index(inplace=True)
settled.drop(['index'],axis=1,inplace=True)
settled.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,Date_file
0,a38189fc-99b4-4320-a53d-37b18ca37e20,Studio,gabarr54@gmail.com,5QMZY7TNT,2022-04-30,669.00,24.08,3.85,0.00,0.00,...,0.00,NaN,641.07,DAILY,2022-04-30,02:00:25,2022-04-30,02:00:25,SETTLEMENT 2022-04-30.csv,2022-04-30
1,a250e0ef-907a-4250-8478-34effbe04607,Andre Mtz,ing.mtz.mls@gmail.com,GQVBV8K6R,2022-04-30,"2,079.00",74.84,11.97,0.00,0.00,...,0.00,NaN,"1,992.19",DAILY,2022-04-30,02:00:25,2022-04-30,02:00:25,SETTLEMENT 2022-04-30.csv,2022-04-30
2,56dfd220-a7a0-4777-b81f-c2457f51d1b6,DoctorStore,hector.vieyrasc@gmail.com,55284CC7G,2022-04-30,280.00,10.08,1.61,0.00,0.00,...,0.00,NaN,268.31,DAILY,2022-04-30,02:00:26,2022-04-30,02:00:26,SETTLEMENT 2022-04-30.csv,2022-04-30
3,823b418a-f07d-4602-ac25-c87846b727f7,Grata Impresión,grataimpresion@gmail.com,7PJ6CSYQV,2022-04-30,"1,385.04",49.86,7.98,0.00,0.00,...,0.00,NaN,"1,327.20",DAILY,2022-04-30,02:00:26,2022-04-30,02:00:26,SETTLEMENT 2022-04-30.csv,2022-04-30
4,2a9287c9-d2c5-424a-9cc1-49080607aea7,Arthromedic,maybelreyes.7@gmail.com,8GBVZTG55,2022-04-30,"2,000.00",72.00,11.52,0.00,0.00,...,0.00,NaN,"1,916.48",DAILY,2022-04-30,02:00:26,2022-04-30,02:00:26,SETTLEMENT 2022-04-30.csv,2022-04-30

In [6]:
settled.shape

(2800689, 27)

### CURRENT MONTH

In [7]:
settled_current_month = settled[(settled['report_date_local'] >= start_date) & (settled['report_date_local'] <= final_date)]
settled_current_month.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,Date_file
2366283,0070250e-c320-4511-970b-a3b2b7650a7c,Beautiful mercy,alemanmercedes77@outlook.com,365S8887X,2022-05-27,110.00,3.96,0.63,0.00,0.00,...,0.00,NaN,105.41,DAILY,2022-05-27,02:00:27,2022-05-27,02:00:27,SETTLEMENT 2022-05-27.csv,2022-05-27
2366284,37a23889-3f67-48c5-a16e-b4f5acb7344a,PUERTO 97,contacto.puerto97@gmail.com,3RYFLCH25,2022-05-27,"1,425.00",51.30,8.21,0.00,0.00,...,0.00,NaN,"1,365.49",DAILY,2022-05-27,02:00:27,2022-05-27,02:00:27,SETTLEMENT 2022-05-27.csv,2022-05-27
2366285,0dfd920b-c2b3-43dd-9108-ec285db21f1e,Maresh,Maresh20221@outlook.com,435D9FDD7,2022-05-27,430.56,15.50,2.49,0.00,0.00,...,0.00,NaN,412.57,DAILY,2022-05-27,02:00:27,2022-05-27,02:00:27,SETTLEMENT 2022-05-27.csv,2022-05-27
2366286,1b103437-7cd3-4774-817f-d68bfc6ebb05,Frutas y verduras de la esquina,juanluis1890@icloud.com,S8PG7WRDW,2022-05-27,25.25,0.91,0.15,0.00,0.00,...,0.00,NaN,24.19,DAILY,2022-05-27,02:00:27,2022-05-27,02:00:27,SETTLEMENT 2022-05-27.csv,2022-05-27
2366287,d8bc09a9-52e8-4160-994c-8e302b3c52a2,TucandelaBar,Jai-mehdez@hotmail.com,ZM5JTRRNC,2022-05-27,"3,400.00",122.40,19.58,0.00,0.00,...,0.00,NaN,"3,258.02",DAILY,2022-05-27,02:00:27,2022-05-27,02:00:27,SETTLEMENT 2022-05-27.csv,2022-05-27

In [8]:
settled_current_month.shape

(434406, 27)

In [9]:
settled_current_month.dtypes

merchant_id                              object
merchant_name                            object
user_email                               object
report_id                                object
report_date_local                datetime64[ns]
total_transactions                      float64
total_fees_charged                      float64
total_taxes                             float64
applied_fees_benefits                   float64
applied_taxes_benefits                  float64
fee_direct_deposit                      float64
taxes_direct_deposit                    float64
total_adjustments                       float64
total_adjustment_fees_charged           float64
total_adjustment_taxes                  float64
cobranza                                float64
total_released                          float64
total_retained                          float64
tipopago                                 object
total_due                               float64
type                                     object
created_date                             object
created_time                             object
updated_date                             object
updated_time                             object
file_name                                object
Date_file                        datetime64[ns]
dtype: object

In [10]:
# def next_date(settled_current_month):
#     if settled_current_month['updated_time'] >= '20:00:00':
#         return settled_current_month['report_date_local'] + datetime.timedelta(days=1)
#     else:
#         return settled_current_month['report_date_local']
    
# settled_current_month['poliza_date'] = settled_current_month.apply(next_date, axis=1)

In [11]:
# settled_current_month.head()

In [12]:
# settled_current_month.shape

In [13]:
# settled_current_month['poliza_date'].unique()

### CANCELACIONES

In [14]:
settled_current_month.loc[(settled_current_month['total_released'] > 0)
                          & (settled_current_month['total_adjustments'] < 0),'canc_1'] = settled_current_month['total_adjustments']
settled_current_month['canc_1'].fillna(0,inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_11568\2387200959.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month.loc[(settled_current_month['total_released'] > 0)
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_11568\2387200959.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['canc_1'].fillna(0,inplace=True)

In [15]:
settled_current_month.loc[(settled_current_month['total_released'] > 0)
                          & (settled_current_month['total_adjustments'] < 0),'canc_2'] = settled_current_month['total_released']
settled_current_month['canc_2'].fillna(0,inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_11568\97313772.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month.loc[(settled_current_month['total_released'] > 0)
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_11568\97313772.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['canc_2'].fillna(0,inplace=True)

In [16]:
settled_current_month['cancelaciones'] = (-settled_current_month['canc_1']) - (settled_current_month['canc_2'])
settled_current_month.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_11568\715271970.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['cancelaciones'] = (-settled_current_month['canc_1']) - (settled_current_month['canc_2'])

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,type,created_date,created_time,updated_date,updated_time,file_name,Date_file,canc_1,canc_2,cancelaciones
2366283,0070250e-c320-4511-970b-a3b2b7650a7c,Beautiful mercy,alemanmercedes77@outlook.com,365S8887X,2022-05-27,110.00,3.96,0.63,0.00,0.00,...,DAILY,2022-05-27,02:00:27,2022-05-27,02:00:27,SETTLEMENT 2022-05-27.csv,2022-05-27,0.00,0.00,-0.00
2366284,37a23889-3f67-48c5-a16e-b4f5acb7344a,PUERTO 97,contacto.puerto97@gmail.com,3RYFLCH25,2022-05-27,"1,425.00",51.30,8.21,0.00,0.00,...,DAILY,2022-05-27,02:00:27,2022-05-27,02:00:27,SETTLEMENT 2022-05-27.csv,2022-05-27,0.00,0.00,-0.00
2366285,0dfd920b-c2b3-43dd-9108-ec285db21f1e,Maresh,Maresh20221@outlook.com,435D9FDD7,2022-05-27,430.56,15.50,2.49,0.00,0.00,...,DAILY,2022-05-27,02:00:27,2022-05-27,02:00:27,SETTLEMENT 2022-05-27.csv,2022-05-27,0.00,0.00,-0.00
2366286,1b103437-7cd3-4774-817f-d68bfc6ebb05,Frutas y verduras de la esquina,juanluis1890@icloud.com,S8PG7WRDW,2022-05-27,25.25,0.91,0.15,0.00,0.00,...,DAILY,2022-05-27,02:00:27,2022-05-27,02:00:27,SETTLEMENT 2022-05-27.csv,2022-05-27,0.00,0.00,-0.00
2366287,d8bc09a9-52e8-4160-994c-8e302b3c52a2,TucandelaBar,Jai-mehdez@hotmail.com,ZM5JTRRNC,2022-05-27,"3,400.00",122.40,19.58,0.00,0.00,...,DAILY,2022-05-27,02:00:27,2022-05-27,02:00:27,SETTLEMENT 2022-05-27.csv,2022-05-27,0.00,0.00,-0.00

In [17]:
settled_current_month.shape

(434406, 30)

### TOTAL DUE CALCULADO

In [18]:
settled_current_month['total_due_calculado'] = (settled_current_month['total_transactions']
                                                - settled_current_month['total_fees_charged']
                                                - settled_current_month['total_taxes']
                                                + settled_current_month['applied_fees_benefits']
                                                + settled_current_month['applied_taxes_benefits']
                                                + settled_current_month['fee_direct_deposit']
                                                + settled_current_month['taxes_direct_deposit']
                                                - (-settled_current_month['total_adjustments'])
                                                + (-settled_current_month['total_adjustment_fees_charged'])
                                                + (-settled_current_month['total_adjustment_taxes'])
                                                - settled_current_month['cobranza']
                                                + settled_current_month['total_released']
                                                - settled_current_month['total_retained'])
settled_current_month['diferencias'] = settled_current_month['total_due_calculado'] - settled_current_month['total_due']
settled_current_month.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_11568\4192761883.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['total_due_calculado'] = (settled_current_month['total_transactions']
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_11568\4192761883.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['diferencias'] = settled_current_month['total_due_calculado'] - settled_current_month['total_due']

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,created_time,updated_date,updated_time,file_name,Date_file,canc_1,canc_2,cancelaciones,total_due_calculado,diferencias
2366283,0070250e-c320-4511-970b-a3b2b7650a7c,Beautiful mercy,alemanmercedes77@outlook.com,365S8887X,2022-05-27,110.00,3.96,0.63,0.00,0.00,...,02:00:27,2022-05-27,02:00:27,SETTLEMENT 2022-05-27.csv,2022-05-27,0.00,0.00,-0.00,105.41,0.00
2366284,37a23889-3f67-48c5-a16e-b4f5acb7344a,PUERTO 97,contacto.puerto97@gmail.com,3RYFLCH25,2022-05-27,"1,425.00",51.30,8.21,0.00,0.00,...,02:00:27,2022-05-27,02:00:27,SETTLEMENT 2022-05-27.csv,2022-05-27,0.00,0.00,-0.00,"1,365.49",0.00
2366285,0dfd920b-c2b3-43dd-9108-ec285db21f1e,Maresh,Maresh20221@outlook.com,435D9FDD7,2022-05-27,430.56,15.50,2.49,0.00,0.00,...,02:00:27,2022-05-27,02:00:27,SETTLEMENT 2022-05-27.csv,2022-05-27,0.00,0.00,-0.00,412.57,0.00
2366286,1b103437-7cd3-4774-817f-d68bfc6ebb05,Frutas y verduras de la esquina,juanluis1890@icloud.com,S8PG7WRDW,2022-05-27,25.25,0.91,0.15,0.00,0.00,...,02:00:27,2022-05-27,02:00:27,SETTLEMENT 2022-05-27.csv,2022-05-27,0.00,0.00,-0.00,24.19,0.00
2366287,d8bc09a9-52e8-4160-994c-8e302b3c52a2,TucandelaBar,Jai-mehdez@hotmail.com,ZM5JTRRNC,2022-05-27,"3,400.00",122.40,19.58,0.00,0.00,...,02:00:27,2022-05-27,02:00:27,SETTLEMENT 2022-05-27.csv,2022-05-27,0.00,0.00,-0.00,"3,258.02",0.00

In [19]:
settled_current_month.shape

(434406, 32)

### CONCILIACION TPV

In [20]:
conc_1 = settled_current_month.groupby(['report_date_local']).agg({'total_transactions':sum,'total_fees_charged':sum
                                                                    ,'total_taxes':sum,'applied_fees_benefits':sum
                                                                    ,'applied_taxes_benefits':sum,'fee_direct_deposit':sum
                                                                    ,'taxes_direct_deposit':sum,'total_adjustments':sum
                                                                    ,'total_adjustment_fees_charged':sum
                                                                    ,'total_adjustment_taxes':sum 
                                                                    ,'cobranza':sum,'total_released':sum
                                                                    ,'total_retained':sum,'cancelaciones':sum
                                                                    ,'total_due_calculado':sum,'total_due':sum
                                                                    ,'diferencias':sum}).reset_index()
conc_1['total_adjustments'] = conc_1['total_adjustments']*-1 
conc_1['total_adjustment_fees_charged'] = conc_1['total_adjustment_fees_charged']*-1
conc_1['total_adjustment_taxes'] = conc_1['total_adjustment_taxes']*-1 
conc_1.head()

,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-05-27,"171,507,777.16","6,985,216.79","1,117,649.74",793.03,126.94,"21,243.32","3,403.08","1,186,885.05",684.00,109.44,884.94,"238,767.58","139,724.32",793.44,"162,342,543.71","162,342,543.71",-0.00
1,2022-05-28,"205,185,430.76","8,221,790.80","1,315,501.04","1,035.93",165.77,"22,346.05","3,579.75","1,542,010.55",-0.00,-0.00,"31,665.52","337,228.92","335,231.90",0.00,"194,103,587.37","194,103,587.37",0.00
2,2022-05-29,"221,697,025.22","8,800,327.17","1,408,064.92",742.97,118.95,"21,175.26","3,391.94","1,535,858.10",-0.00,-0.00,"27,880.07","239,978.35","399,746.82",0.00,"209,790,555.61","209,790,555.61",-0.00
3,2022-05-30,"153,689,912.47","6,035,800.13","965,739.79",492.05,78.80,"16,527.21","2,646.99","1,134,944.91",-0.00,-0.00,"3,387.38","633,931.89","370,427.83",0.00,"145,833,289.37","145,833,289.37",0.00
4,2022-05-31,"155,209,562.84","6,395,237.89","1,023,252.38",827.62,132.49,"25,784.27","4,128.33","1,062,448.00","3,891.78",622.69,"12,115.98","506,071.74","1,151,601.94","4,176.00","146,106,365.57","146,106,365.57",-0.00

In [21]:
conc_1.shape

(5, 18)

In [22]:
conc_3 = settled_current_month.groupby(['report_date_local','type']).agg({'total_transactions':sum,'total_fees_charged':sum
                                                                    ,'total_taxes':sum,'applied_fees_benefits':sum
                                                                    ,'applied_taxes_benefits':sum,'fee_direct_deposit':sum
                                                                    ,'taxes_direct_deposit':sum,'total_adjustments':sum     
                                                                    ,'total_adjustment_fees_charged':sum
                                                                    ,'total_adjustment_taxes':sum 
                                                                    ,'cobranza':sum,'total_released':sum
                                                                    ,'total_retained':sum,'cancelaciones':sum
                                                                    ,'total_due_calculado':sum,'total_due':sum
                                                                    ,'diferencias':sum}).reset_index()
conc_3['total_adjustments'] = conc_3['total_adjustments']*-1 
conc_3['total_adjustment_fees_charged'] = conc_3['total_adjustment_fees_charged']*-1
conc_3['total_adjustment_taxes'] = conc_3['total_adjustment_taxes']*-1 
conc_3.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-05-27,DAILY,"168,177,373.35","6,853,413.33","1,096,560.52",793.03,126.94,"21,243.32","3,403.08","1,075,725.58",684.00,109.44,884.94,"238,100.65","139,724.32",793.44,"159,275,525.12","159,275,525.12",-0.00
1,2022-05-27,INSTANT,"3,330,403.81","131,803.46","21,089.22",0.00,0.00,0.00,0.00,"111,159.47",-0.00,-0.00,0.00,666.93,0.00,0.00,"3,067,018.59","3,067,018.59",-0.00
2,2022-05-28,DAILY,"201,610,454.82","8,078,502.88","1,292,574.46","1,035.93",165.77,"22,346.05","3,579.75","1,428,459.29",-0.00,-0.00,"31,665.52","264,881.80","335,231.90",0.00,"190,736,030.07","190,736,030.07",0.00
3,2022-05-28,INSTANT,"3,574,975.94","143,287.92","22,926.58",0.00,0.00,0.00,0.00,"113,551.26",-0.00,-0.00,0.00,"72,347.12",0.00,0.00,"3,367,557.30","3,367,557.30",0.00
4,2022-05-29,DAILY,"219,122,631.81","8,701,462.50","1,392,246.38",742.97,118.95,"21,175.26","3,391.94","1,454,805.68",-0.00,-0.00,"27,880.07","239,978.35","399,746.82",0.00,"207,411,897.83","207,411,897.83",-0.00

In [23]:
conc_3.shape

(10, 19)

In [24]:
conc_3['type'].unique()

array(['DAILY', 'INSTANT'], dtype=object)

In [25]:
data_daily = conc_3[(conc_3['type'] == 'DAILY')]
data_daily.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-05-27,DAILY,"168,177,373.35","6,853,413.33","1,096,560.52",793.03,126.94,"21,243.32","3,403.08","1,075,725.58",684.00,109.44,884.94,"238,100.65","139,724.32",793.44,"159,275,525.12","159,275,525.12",-0.00
2,2022-05-28,DAILY,"201,610,454.82","8,078,502.88","1,292,574.46","1,035.93",165.77,"22,346.05","3,579.75","1,428,459.29",-0.00,-0.00,"31,665.52","264,881.80","335,231.90",0.00,"190,736,030.07","190,736,030.07",0.00
4,2022-05-29,DAILY,"219,122,631.81","8,701,462.50","1,392,246.38",742.97,118.95,"21,175.26","3,391.94","1,454,805.68",-0.00,-0.00,"27,880.07","239,978.35","399,746.82",0.00,"207,411,897.83","207,411,897.83",-0.00
6,2022-05-30,DAILY,"151,209,318.18","5,938,583.49","950,184.89",492.05,78.80,"16,527.21","2,646.99","1,055,233.82",-0.00,-0.00,"3,387.38","585,636.60","370,427.83",0.00,"143,496,882.42","143,496,882.42",0.00
8,2022-05-31,DAILY,"152,369,130.24","6,283,620.14","1,005,392.64",827.62,132.49,"25,784.27","4,128.33","994,091.73","3,891.78",622.69,"12,115.98","506,071.74","1,151,601.94","4,176.00","143,463,766.73","143,463,766.73",-0.00

In [26]:
data_daily.shape

(5, 19)

In [27]:
data_instant = conc_3[(conc_3['type'] == 'INSTANT')]
data_instant.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
1,2022-05-27,INSTANT,"3,330,403.81","131,803.46","21,089.22",0.00,0.00,0.00,0.00,"111,159.47",-0.00,-0.00,0.00,666.93,0.00,0.00,"3,067,018.59","3,067,018.59",-0.00
3,2022-05-28,INSTANT,"3,574,975.94","143,287.92","22,926.58",0.00,0.00,0.00,0.00,"113,551.26",-0.00,-0.00,0.00,"72,347.12",0.00,0.00,"3,367,557.30","3,367,557.30",0.00
5,2022-05-29,INSTANT,"2,574,393.41","98,864.67","15,818.54",0.00,0.00,0.00,0.00,"81,052.42",-0.00,-0.00,0.00,0.00,0.00,0.00,"2,378,657.78","2,378,657.78",0.00
7,2022-05-30,INSTANT,"2,480,594.29","97,216.64","15,554.90",0.00,0.00,0.00,0.00,"79,711.09",-0.00,-0.00,0.00,"48,295.29",0.00,0.00,"2,336,406.95","2,336,406.95",0.00
9,2022-05-31,INSTANT,"2,840,432.60","111,617.75","17,859.74",0.00,0.00,0.00,0.00,"68,356.27",-0.00,-0.00,0.00,0.00,0.00,0.00,"2,642,598.84","2,642,598.84",-0.00

In [28]:
data_instant.shape

(5, 19)

### RELEASED SIN CLABE

In [29]:
released_sinclabe = settled_current_month[(settled_current_month['tipopago'] == 'sin CLABE')]
released_sinclabe.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date_file, canc_1, canc_2, cancelaciones, total_due_calculado, diferencias]
Index: []

[0 rows x 32 columns]

In [30]:
released_sinclabe.shape

(0, 32)

In [31]:
released_1 = released_sinclabe.groupby(['report_date_local']).agg({'total_released':sum}).reset_index()
released_1.head()

Empty DataFrame
Columns: [report_date_local, total_released]
Index: []

In [32]:
released_1.shape

(0, 2)

In [33]:
released_3 = released_sinclabe.groupby(['report_date_local','type']).agg({'total_released':sum}).reset_index()
released_3.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [34]:
released_3.shape

(0, 3)

In [35]:
released_3['type'].unique()

array([], dtype=object)

In [36]:
released_daily = released_3[(released_3['type'] == 'DAILY')]
released_daily.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [37]:
released_daily.shape

(0, 3)

In [38]:
released_instant = released_3[(released_3['type'] == 'INSTANT')]
released_instant.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [39]:
released_instant.shape

(0, 3)

# EXCEL FINAL

In [40]:
writer = pd.ExcelWriter('FASE I. DATA POLIZA MAYO 27-31 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
conc_1.to_excel(writer, sheet_name='MONTOS REPORT_DATE',index=False)
data_daily.to_excel(writer, sheet_name='MONTOS_DAILY',index=False)
data_instant.to_excel(writer, sheet_name='MONTOS_INSTANT',index=False)
released_1.to_excel(writer, sheet_name='RELEASED REPORT_DATE',index=False)
released_daily.to_excel(writer, sheet_name='RELEASED_DAILY',index=False)
released_instant.to_excel(writer, sheet_name='RELEASED_INSTANT',index=False)
writer.close()