In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# MES AÑO DE CONCILIACIÓN

In [2]:
month_conc = 'December'
year_conc = '2023'

# RUTAS DE ACCESO

### SWAP DEL DIA

In [3]:
allfiles_disp_trad = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2023\12. DICIEMBRE\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
allfiles_disp_trad

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231201.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231202.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231203.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231204.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231205.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231206.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231207.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231208.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231209.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231210.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231211.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231212.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231213.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231214.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231215.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231216.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231217.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231218.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231219.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231220.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231221.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231222.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231223.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231224.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231225.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231226.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231227.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231228.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231229.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231230.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231231.xlsx']

### FAST PAYMENTS

In [4]:
allfiles_fp = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2023\12. DICIEMBRE\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx',recursive=False)
allfiles_fp

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-30.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-12-31.xlsx']

# SWAP DEL DIA

In [5]:
swap_dia_total = pd.concat([pd.read_excel(f,sheet_name = 'Swap del día')
                            .assign(file_name=os.path.basename(f)) for f in allfiles_disp_trad])
swap_dia_total['Date'] = swap_dia_total["file_name"].str[-13:-5]
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'], format='%Y%m%d').dt.date
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'])
swap_dia_total.sort_values(by=['Date'],ascending=True,inplace=True)
swap_dia_total['report_date_local']= pd.to_datetime(swap_dia_total['report_date_local'])
swap_dia_total['month_conc'] = month_conc
swap_dia_total['year_conc'] = year_conc
swap_dia_total['month_report'] = swap_dia_total['report_date_local'].dt.strftime('%B')
swap_dia_total['year_report'] = swap_dia_total['report_date_local'].dt.year.astype(str)
swap_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,LEDGER_TRAD,0123ce92-b626-43a6-8900-c144eb979883,NaN,NaN,A6294Z6NF,2023-12-01,233.82,Pago del día,AFIRME,Enrique Valenzuela Moreno,...,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,December,2023
76373,LEDGER_TRAD,ab714c20-8f6b-4987-8a18-728a37cf6f8d,NaN,NaN,A7FXCRHWD,2023-12-01,958.24,Pago del día,BANCOPPEL,Carlos Armando Mandujano Estrada,...,PAID,"2023-12-01,20231201400140HDH0001430023110,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,December,2023
76372,LEDGER_TRAD,ab71293b-eebb-429a-9299-e394fc59627a,NaN,NaN,APQYNTKGK,2023-12-01,91.99,Pago del día,BBVA BANCOMER,Esthela Martinez,...,PAID,"2023-12-01,20231201400140HDH0001430023000,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,December,2023
76371,LEDGER_TRAD,ab70e31a-f5fb-4d8a-96f9-dd60a1962824,NaN,NaN,AX4CDBZ58,2023-12-01,306.64,Pago del día,BBVA BANCOMER,Javier Diaz Flores,...,PAID,"2023-12-01,20231201400140HDH0001430022940,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,December,2023
76370,LEDGER_TRAD,ab70bb3f-158e-4514-99b0-c4bdd2ad83b0,NaN,NaN,A72L9YVFF,2023-12-01,"2,462.68",Pago del día,BANCOPPEL,Cipriano Mendoza Cruz,...,PAID,"2023-12-01,20231201400140HDH0001430022850,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,December,2023

In [6]:
swap_dia_total.shape

(3210268, 21)

In [7]:
swap_dia_total.dtypes

type                               object
merchant_id                        object
merchant_name                      object
user_email                         object
report_id                          object
report_date_local          datetime64[ns]
total_due                         float64
tipo                               object
bank                               object
bank_account_owner_name            object
CLABE                               int64
status                             object
LINEA CEP                          object
Batch_time                         object
Banco_emisor                       object
file_name                          object
Date                       datetime64[ns]
month_conc                         object
year_conc                          object
month_report                       object
year_report                        object
dtype: object

# FAST PAYMENTS

In [8]:
fp_dia_total = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS')
                          .assign(file_name=os.path.basename(f)) for f in allfiles_fp])
fp_dia_total['Date'] = fp_dia_total["file_name"].str[-15:-5]
fp_dia_total['Date']= pd.to_datetime(fp_dia_total['Date'])
fp_dia_total['report_date_local']= pd.to_datetime(fp_dia_total['report_date_local'])
fp_dia_total['month_conc'] = month_conc
fp_dia_total['year_conc'] = year_conc
fp_dia_total['month_report'] = fp_dia_total['report_date_local'].dt.strftime('%B')
fp_dia_total['year_report'] = fp_dia_total['report_date_local'].dt.year.astype(str)
fp_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,LEDGER_FP,0612643c-8614-47d7-b487-026de81587c5,NaN,NaN,A6KGKJBR6,2023-12-01,402.46,Pago del día,ASP INTEGRA OPC,Blanca Estela Del Carmen Nava,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-12-01.xlsx,2023-12-01,December,2023,December,2023
1,LEDGER_FP,203dd9aa-f157-4a22-8c94-46d7b686974c,NaN,NaN,A56PDBYTH,2023-11-25,0.02,Reprogramación,BANORTE/IXE,JAVIER MARTINEZ TORRES,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-12-01.xlsx,2023-12-01,December,2023,November,2023
2,LEDGER_FP,203dd9aa-f157-4a22-8c94-46d7b686974c,NaN,NaN,A72NR2BV6,2023-11-26,0.02,Reprogramación,BANORTE/IXE,JAVIER MARTINEZ TORRES,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-12-01.xlsx,2023-12-01,December,2023,November,2023
3,LEDGER_FP,224d57ee-433d-4cb7-9492-e70b5c13b7e0,NaN,NaN,ANPJD66NF,2023-09-08,862.42,Reprogramación,SANTANDER,Club Lili Figueroa AC,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-12-01.xlsx,2023-12-01,December,2023,September,2023
4,LEDGER_FP,224d57ee-433d-4cb7-9492-e70b5c13b7e0,NaN,NaN,AG426XNPG,2023-09-12,431.21,Reprogramación,SANTANDER,Club Lili Figueroa AC,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-12-01.xlsx,2023-12-01,December,2023,September,2023

In [9]:
fp_dia_total.shape

(82269, 21)

In [10]:
fp_dia_total.dtypes

type                         object
merchant_id                  object
merchant_name                object
user_email                   object
report_id                    object
report_date_local    datetime64[ns]
total_due                   float64
tipo                         object
bank                         object
swap                         object
CLABE                         int64
status                       object
LINEA CEP                    object
Batch_time                   object
Banco_emisor                 object
file_name                    object
Date                 datetime64[ns]
month_conc                   object
year_conc                    object
month_report                 object
year_report                  object
dtype: object

# ALL DISPERSIONES

In [11]:
all_disp = pd.concat([swap_dia_total,fp_dia_total])
all_disp.loc[all_disp['type'].str.contains('LEDGER'), 'type'] = 'LEDGER'
all_disp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
0,LEDGER,0123ce92-b626-43a6-8900-c144eb979883,NaN,NaN,A6294Z6NF,2023-12-01,233.82,Pago del día,AFIRME,Enrique Valenzuela Moreno,...,NaN,01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,December,2023,NaN
76373,LEDGER,ab714c20-8f6b-4987-8a18-728a37cf6f8d,NaN,NaN,A7FXCRHWD,2023-12-01,958.24,Pago del día,BANCOPPEL,Carlos Armando Mandujano Estrada,...,"2023-12-01,20231201400140HDH0001430023110,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,December,2023,NaN
76372,LEDGER,ab71293b-eebb-429a-9299-e394fc59627a,NaN,NaN,APQYNTKGK,2023-12-01,91.99,Pago del día,BBVA BANCOMER,Esthela Martinez,...,"2023-12-01,20231201400140HDH0001430023000,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,December,2023,NaN
76371,LEDGER,ab70e31a-f5fb-4d8a-96f9-dd60a1962824,NaN,NaN,AX4CDBZ58,2023-12-01,306.64,Pago del día,BBVA BANCOMER,Javier Diaz Flores,...,"2023-12-01,20231201400140HDH0001430022940,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,December,2023,NaN
76370,LEDGER,ab70bb3f-158e-4514-99b0-c4bdd2ad83b0,NaN,NaN,A72L9YVFF,2023-12-01,"2,462.68",Pago del día,BANCOPPEL,Cipriano Mendoza Cruz,...,"2023-12-01,20231201400140HDH0001430022850,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,December,2023,NaN

In [12]:
all_disp.shape

(3292537, 22)

In [13]:
all_disp['type'].unique()

array(['LEDGER', 'DAILY', 'INSTANT'], dtype=object)

# TRADICIONAL

In [14]:
all_disp_trad = all_disp[(all_disp['type'] == 'DAILY')]
all_disp_trad.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
76565,DAILY,abdb620d-d861-455a-8092-a1ca1e50e1b8,Bámbola,perso81@hotmail.com,ZMXSQ39F8,2022-10-26,583.56,Reprogramación,HSBC,Paola Patrizia Pane Lammoglia,...,"2023-12-01,20231201400140HDH0001430042360,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,October,2022,NaN
63832,DAILY,8f7676d8-fcbc-4ce3-862e-a851afe5eb16,Cocina Lety,leticiagamboa63@gmail.com,RH8MPXPLQ,2021-05-13,9.80,Reprogramación,BANCOPPEL,Maria leticia gamboa aguilar,...,"2023-12-01,20231201400140HDH0001428713440,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,May,2021,NaN
102629,DAILY,e6b2ae42-ab0c-45a1-ac0b-8ce4bc645c67,Servicios generales,itzhelfrance@gmail.com,2VJ9NFQCV,2022-10-31,21.08,Reprogramación,BBVA BANCOMER,Itzhel Arguelles Barcenas,...,"2023-12-01,20231201400140HDH0001429103370,4001...",02. Second_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,October,2022,NaN
93751,DAILY,d2813e66-6b7d-4e24-ab48-7d4ef00f3289,Novedades Magui,black_jackactivo@hotmail.com,J9HHSR3RM,2022-10-09,0.95,Reprogramación,BBVA BANCOMER,Jose Eduardo Cocom Nah,...,"2023-12-01,20231201400140HDH0001429937540,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,October,2022,NaN
67,DAILY,b5971bd7-200c-4153-bdbc-3c0f4b6dd1c3,Distribuidora FOET,kichas2613@gmail.com,FH7728JCW,2022-03-20,10.54,Reprogramación,AZTECA,Erika Paola Alvarado Robledo,...,NaN,01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,March,2022,NaN

In [15]:
all_disp_trad.shape

(639, 22)

In [16]:
pivot_total_trad = pd.pivot_table(all_disp_trad,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_trad.reset_index(drop=False, inplace=True)
pivot_total_trad.head()

    type                 Date       sum       len
                              total_due total_due
0  DAILY  2023-12-01 00:00:00    673.84         7
1  DAILY  2023-12-02 00:00:00  4,850.68        20
2  DAILY  2023-12-03 00:00:00 33,279.75        25
3  DAILY  2023-12-04 00:00:00  8,641.49        10
4  DAILY  2023-12-05 00:00:00 18,300.92        33

In [17]:
pivot_parcial_trad = pd.pivot_table(all_disp_trad,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_trad.reset_index(drop=False, inplace=True)
pivot_parcial_trad.head()

         type            tipo                 Date       sum            \
                                                   total_due
status                                                 ERROR      PAID
0       DAILY  Reprogramación  2023-12-01 00:00:00     10.54    663.30
1       DAILY  Reprogramación  2023-12-02 00:00:00       NaN  4,850.68
2       DAILY  Reprogramación  2023-12-03 00:00:00      0.02 33,279.73
3       DAILY  Reprogramación  2023-12-04 00:00:00       NaN  8,641.49
4       DAILY  Reprogramación  2023-12-05 00:00:00       NaN 18,300.92

                       len
                 total_due
status       All     ERROR  PAID All
0         673.84      1.00  6.00   7
1       4,850.68       NaN 20.00  20
2      33,279.75      1.00 24.00  25
3       8,641.49       NaN 10.00  10
4      18,300.92       NaN 33.00  33

## CATEGORIZACIÓN DE REPROGRAMACIONES

In [18]:
swap_dia_total_repro = all_disp_trad[(all_disp_trad['tipo'] == 'Reprogramación')]
swap_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
76565,DAILY,abdb620d-d861-455a-8092-a1ca1e50e1b8,Bámbola,perso81@hotmail.com,ZMXSQ39F8,2022-10-26,583.56,Reprogramación,HSBC,Paola Patrizia Pane Lammoglia,...,"2023-12-01,20231201400140HDH0001430042360,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,October,2022,NaN
63832,DAILY,8f7676d8-fcbc-4ce3-862e-a851afe5eb16,Cocina Lety,leticiagamboa63@gmail.com,RH8MPXPLQ,2021-05-13,9.80,Reprogramación,BANCOPPEL,Maria leticia gamboa aguilar,...,"2023-12-01,20231201400140HDH0001428713440,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,May,2021,NaN
102629,DAILY,e6b2ae42-ab0c-45a1-ac0b-8ce4bc645c67,Servicios generales,itzhelfrance@gmail.com,2VJ9NFQCV,2022-10-31,21.08,Reprogramación,BBVA BANCOMER,Itzhel Arguelles Barcenas,...,"2023-12-01,20231201400140HDH0001429103370,4001...",02. Second_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,October,2022,NaN
93751,DAILY,d2813e66-6b7d-4e24-ab48-7d4ef00f3289,Novedades Magui,black_jackactivo@hotmail.com,J9HHSR3RM,2022-10-09,0.95,Reprogramación,BBVA BANCOMER,Jose Eduardo Cocom Nah,...,"2023-12-01,20231201400140HDH0001429937540,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,October,2022,NaN
67,DAILY,b5971bd7-200c-4153-bdbc-3c0f4b6dd1c3,Distribuidora FOET,kichas2613@gmail.com,FH7728JCW,2022-03-20,10.54,Reprogramación,AZTECA,Erika Paola Alvarado Robledo,...,NaN,01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,March,2022,NaN

In [19]:
swap_dia_total_repro.shape

(639, 22)

In [20]:
swap_dia_total_repro.to_excel('Reprogramaciones_daily.xlsx',index=False)

In [21]:
swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
                   & (swap_dia_total_repro['month_report'] == month_conc) 
                   & (swap_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
swap_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
76565,DAILY,abdb620d-d861-455a-8092-a1ca1e50e1b8,Bámbola,perso81@hotmail.com,ZMXSQ39F8,2022-10-26,583.56,Reprogramación,HSBC,Paola Patrizia Pane Lammoglia,...,01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,October,2022,NaN,nan
63832,DAILY,8f7676d8-fcbc-4ce3-862e-a851afe5eb16,Cocina Lety,leticiagamboa63@gmail.com,RH8MPXPLQ,2021-05-13,9.80,Reprogramación,BANCOPPEL,Maria leticia gamboa aguilar,...,01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,May,2021,NaN,nan
102629,DAILY,e6b2ae42-ab0c-45a1-ac0b-8ce4bc645c67,Servicios generales,itzhelfrance@gmail.com,2VJ9NFQCV,2022-10-31,21.08,Reprogramación,BBVA BANCOMER,Itzhel Arguelles Barcenas,...,02. Second_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,October,2022,NaN,nan
93751,DAILY,d2813e66-6b7d-4e24-ab48-7d4ef00f3289,Novedades Magui,black_jackactivo@hotmail.com,J9HHSR3RM,2022-10-09,0.95,Reprogramación,BBVA BANCOMER,Jose Eduardo Cocom Nah,...,01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,October,2022,NaN,nan
67,DAILY,b5971bd7-200c-4153-bdbc-3c0f4b6dd1c3,Distribuidora FOET,kichas2613@gmail.com,FH7728JCW,2022-03-20,10.54,Reprogramación,AZTECA,Erika Paola Alvarado Robledo,...,01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,March,2022,NaN,nan

In [22]:
pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro.reset_index(drop=False, inplace=True)
pivot_tipo_repro.head()

                      type                 Date       sum                 len  \
                                                total_due           total_due
tipo_reprogramacion                                   nan       All       nan
0                    DAILY  2023-12-01 00:00:00    673.84    673.84         7
1                    DAILY  2023-12-02 00:00:00  4,850.68  4,850.68        20
2                    DAILY  2023-12-03 00:00:00 33,279.75 33,279.75        25
3                    DAILY  2023-12-04 00:00:00  8,641.49  8,641.49        10
4                    DAILY  2023-12-05 00:00:00 18,300.92 18,300.92        33



tipo_reprogramacion All
0                     7
1                    20
2                    25
3                    10
4                    33

# FAST PAYMENTS

In [23]:
all_disp_fp = all_disp[(all_disp['type'] == 'INSTANT')]
all_disp_fp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
113887,INSTANT,08a08b69-9ba4-4da4-bd3e-941b274ea808,Supertakko Tors,miguelgiovanniledezmamilanes@gmail.com,44NVNQNXC,2022-01-31,425.46,Reprogramación,ASP INTEGRA OPC,Ricardo Torres Hernandez,...,"2023-12-01,42644264202312012689557435,40072,90...",03. Third_batch,BANORTE,Dispersión-20231201.xlsx,2023-12-01,December,2023,January,2022,NaN
113886,INSTANT,08a08b69-9ba4-4da4-bd3e-941b274ea808,Supertakko Tors,miguelgiovanniledezmamilanes@gmail.com,L4BST62MH,2021-11-13,220.40,Reprogramación,ASP INTEGRA OPC,Ricardo Torres Hernandez,...,"2023-12-01,42644264202312012689558059,40072,90...",03. Third_batch,BANORTE,Dispersión-20231201.xlsx,2023-12-01,December,2023,November,2021,NaN
114502,INSTANT,f0be1d54-6162-4e0e-bfc6-95259c2a719b,Abarrotes Tajin,lSanzl1234@gmail.com,VF7LLKCQZ,2022-08-02,47.91,Reprogramación,ASP INTEGRA OPC,Luis Candelario Pitalua,...,"2023-12-01,42644264202312012689557532,40072,90...",03. Third_batch,BANORTE,Dispersión-20231201.xlsx,2023-12-01,December,2023,August,2022,NaN
91996,INSTANT,cea90d83-e10f-4ee8-8ccf-5ed74042c0d4,Bunok Store,alan_93_9@hotmail.com,N934PTQXS,2022-07-31,"1,850.36",Reprogramación,AZTECA,Alan Edwing Ibarra Alonso,...,"2023-12-01,20231201400140HDH0001429734440,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,July,2022,NaN
91994,INSTANT,cea90d83-e10f-4ee8-8ccf-5ed74042c0d4,Bunok Store,alan_93_9@hotmail.com,ZDNV57XK8,2022-07-20,"3,501.41",Reprogramación,AZTECA,Alan Edwing Ibarra Alonso,...,"2023-12-01,20231201400140HDH0001429734300,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,July,2022,NaN

In [24]:
all_disp_fp.shape

(78, 22)

In [25]:
pivot_total_fp = pd.pivot_table(all_disp_fp,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_fp.reset_index(drop=False, inplace=True)
pivot_total_fp.head()

      type                 Date       sum       len
                                total_due total_due
0  INSTANT  2023-12-01 00:00:00 17,833.80        18
1  INSTANT  2023-12-02 00:00:00 18,351.36        16
2  INSTANT  2023-12-03 00:00:00     99.66         1
3  INSTANT  2023-12-05 00:00:00  8,287.18         5
4  INSTANT  2023-12-06 00:00:00    392.88         1

In [26]:
pivot_parcial_fp = pd.pivot_table(all_disp_fp,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_fp.reset_index(drop=False, inplace=True)
pivot_parcial_fp.head()

           type            tipo                 Date       sum            \
                                                     total_due
status                                                   ERROR      PAID
0       INSTANT  Reprogramación  2023-12-01 00:00:00       NaN 17,833.80
1       INSTANT  Reprogramación  2023-12-02 00:00:00  4,762.94 13,588.42
2       INSTANT  Reprogramación  2023-12-03 00:00:00       NaN     99.66
3       INSTANT  Reprogramación  2023-12-05 00:00:00       NaN  8,287.18
4       INSTANT  Reprogramación  2023-12-06 00:00:00       NaN    392.88

                       len
                 total_due
status       All     ERROR  PAID All
0      17,833.80       NaN 18.00  18
1      18,351.36      2.00 14.00  16
2          99.66       NaN  1.00   1
3       8,287.18       NaN  5.00   5
4         392.88       NaN  1.00   1

## CATEGORIZACIÓN DE REPROGRAMACIONES - FAST PAYMENTS

In [27]:
fp_dia_total_repro = all_disp_fp[(all_disp_fp['tipo'] == 'Reprogramación')]
fp_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
113887,INSTANT,08a08b69-9ba4-4da4-bd3e-941b274ea808,Supertakko Tors,miguelgiovanniledezmamilanes@gmail.com,44NVNQNXC,2022-01-31,425.46,Reprogramación,ASP INTEGRA OPC,Ricardo Torres Hernandez,...,"2023-12-01,42644264202312012689557435,40072,90...",03. Third_batch,BANORTE,Dispersión-20231201.xlsx,2023-12-01,December,2023,January,2022,NaN
113886,INSTANT,08a08b69-9ba4-4da4-bd3e-941b274ea808,Supertakko Tors,miguelgiovanniledezmamilanes@gmail.com,L4BST62MH,2021-11-13,220.40,Reprogramación,ASP INTEGRA OPC,Ricardo Torres Hernandez,...,"2023-12-01,42644264202312012689558059,40072,90...",03. Third_batch,BANORTE,Dispersión-20231201.xlsx,2023-12-01,December,2023,November,2021,NaN
114502,INSTANT,f0be1d54-6162-4e0e-bfc6-95259c2a719b,Abarrotes Tajin,lSanzl1234@gmail.com,VF7LLKCQZ,2022-08-02,47.91,Reprogramación,ASP INTEGRA OPC,Luis Candelario Pitalua,...,"2023-12-01,42644264202312012689557532,40072,90...",03. Third_batch,BANORTE,Dispersión-20231201.xlsx,2023-12-01,December,2023,August,2022,NaN
91996,INSTANT,cea90d83-e10f-4ee8-8ccf-5ed74042c0d4,Bunok Store,alan_93_9@hotmail.com,N934PTQXS,2022-07-31,"1,850.36",Reprogramación,AZTECA,Alan Edwing Ibarra Alonso,...,"2023-12-01,20231201400140HDH0001429734440,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,July,2022,NaN
91994,INSTANT,cea90d83-e10f-4ee8-8ccf-5ed74042c0d4,Bunok Store,alan_93_9@hotmail.com,ZDNV57XK8,2022-07-20,"3,501.41",Reprogramación,AZTECA,Alan Edwing Ibarra Alonso,...,"2023-12-01,20231201400140HDH0001429734300,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,July,2022,NaN

In [28]:
fp_dia_total_repro.shape

(78, 22)

In [29]:
fp_dia_total_repro.to_excel('Reprogramaciones_instant.xlsx',index=False)

In [30]:
fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
                   & (fp_dia_total_repro['month_report'] == month_conc) 
                   & (fp_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
fp_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
113887,INSTANT,08a08b69-9ba4-4da4-bd3e-941b274ea808,Supertakko Tors,miguelgiovanniledezmamilanes@gmail.com,44NVNQNXC,2022-01-31,425.46,Reprogramación,ASP INTEGRA OPC,Ricardo Torres Hernandez,...,03. Third_batch,BANORTE,Dispersión-20231201.xlsx,2023-12-01,December,2023,January,2022,NaN,nan
113886,INSTANT,08a08b69-9ba4-4da4-bd3e-941b274ea808,Supertakko Tors,miguelgiovanniledezmamilanes@gmail.com,L4BST62MH,2021-11-13,220.40,Reprogramación,ASP INTEGRA OPC,Ricardo Torres Hernandez,...,03. Third_batch,BANORTE,Dispersión-20231201.xlsx,2023-12-01,December,2023,November,2021,NaN,nan
114502,INSTANT,f0be1d54-6162-4e0e-bfc6-95259c2a719b,Abarrotes Tajin,lSanzl1234@gmail.com,VF7LLKCQZ,2022-08-02,47.91,Reprogramación,ASP INTEGRA OPC,Luis Candelario Pitalua,...,03. Third_batch,BANORTE,Dispersión-20231201.xlsx,2023-12-01,December,2023,August,2022,NaN,nan
91996,INSTANT,cea90d83-e10f-4ee8-8ccf-5ed74042c0d4,Bunok Store,alan_93_9@hotmail.com,N934PTQXS,2022-07-31,"1,850.36",Reprogramación,AZTECA,Alan Edwing Ibarra Alonso,...,01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,July,2022,NaN,nan
91994,INSTANT,cea90d83-e10f-4ee8-8ccf-5ed74042c0d4,Bunok Store,alan_93_9@hotmail.com,ZDNV57XK8,2022-07-20,"3,501.41",Reprogramación,AZTECA,Alan Edwing Ibarra Alonso,...,01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,July,2022,NaN,nan

In [31]:
pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_fp.fillna(0,inplace=True)
pivot_tipo_repro_fp.reset_index(drop=False, inplace=True)
pivot_tipo_repro_fp.head()

                        type                 Date       sum            \
                                                  total_due
tipo_reprogramacion                                     nan       All
0                    INSTANT  2023-12-01 00:00:00 17,833.80 17,833.80
1                    INSTANT  2023-12-02 00:00:00 18,351.36 18,351.36
2                    INSTANT  2023-12-03 00:00:00     99.66     99.66
3                    INSTANT  2023-12-05 00:00:00  8,287.18  8,287.18
4                    INSTANT  2023-12-06 00:00:00    392.88    392.88

                          len
                    total_due
tipo_reprogramacion       nan All
0                          18  18
1                          16  16
2                           1   1
3                           5   5
4                           1   1

# LEDGER

In [32]:
all_disp_ledger = all_disp[(all_disp['type'] == 'LEDGER')]
all_disp_ledger.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
0,LEDGER,0123ce92-b626-43a6-8900-c144eb979883,NaN,NaN,A6294Z6NF,2023-12-01,233.82,Pago del día,AFIRME,Enrique Valenzuela Moreno,...,NaN,01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,December,2023,NaN
76373,LEDGER,ab714c20-8f6b-4987-8a18-728a37cf6f8d,NaN,NaN,A7FXCRHWD,2023-12-01,958.24,Pago del día,BANCOPPEL,Carlos Armando Mandujano Estrada,...,"2023-12-01,20231201400140HDH0001430023110,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,December,2023,NaN
76372,LEDGER,ab71293b-eebb-429a-9299-e394fc59627a,NaN,NaN,APQYNTKGK,2023-12-01,91.99,Pago del día,BBVA BANCOMER,Esthela Martinez,...,"2023-12-01,20231201400140HDH0001430023000,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,December,2023,NaN
76371,LEDGER,ab70e31a-f5fb-4d8a-96f9-dd60a1962824,NaN,NaN,AX4CDBZ58,2023-12-01,306.64,Pago del día,BBVA BANCOMER,Javier Diaz Flores,...,"2023-12-01,20231201400140HDH0001430022940,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,December,2023,NaN
76370,LEDGER,ab70bb3f-158e-4514-99b0-c4bdd2ad83b0,NaN,NaN,A72L9YVFF,2023-12-01,"2,462.68",Pago del día,BANCOPPEL,Cipriano Mendoza Cruz,...,"2023-12-01,20231201400140HDH0001430022850,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,December,2023,NaN

In [33]:
all_disp_ledger.shape

(3291820, 22)

In [34]:
pivot_total_ledger = pd.pivot_table(all_disp_ledger,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_ledger.reset_index(drop=False, inplace=True)
pivot_total_ledger.head()

     type                 Date            sum       len
                                    total_due total_due
0  LEDGER  2023-12-01 00:00:00 285,396,607.28    118465
1  LEDGER  2023-12-02 00:00:00 303,126,283.85    122482
2  LEDGER  2023-12-03 00:00:00 319,422,721.89    119354
3  LEDGER  2023-12-04 00:00:00 228,996,124.48     86337
4  LEDGER  2023-12-05 00:00:00 230,810,230.54    104065

In [35]:
pivot_total_ledger.shape

(32, 4)

In [36]:
pivot_parcial_ledger = pd.pivot_table(all_disp_ledger,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_ledger.reset_index(drop=False, inplace=True)
pivot_parcial_ledger.head()

          type          tipo                 Date        sum                 \
                                                   total_due
status                                                 ERROR           PAID
0       LEDGER  Pago del día  2023-12-01 00:00:00 353,796.77 281,520,061.29
1       LEDGER  Pago del día  2023-12-02 00:00:00 586,916.23 300,655,815.91
2       LEDGER  Pago del día  2023-12-03 00:00:00 895,799.32 317,969,010.09
3       LEDGER  Pago del día  2023-12-04 00:00:00 432,584.47 227,553,130.81
4       LEDGER  Pago del día  2023-12-05 00:00:00 424,308.24 229,117,561.10

                            len
                      total_due
status            All     ERROR    PAID     All
0      281,873,858.06       127  116515  116642
1      301,242,732.14       186  121449  121635
2      318,864,809.41       175  118822  118997
3      227,985,715.28        89   85600   85689
4      229,541,869.34       131  103361  103492

## CATEGORIZACION DE REPROGRAMACIONES - LEDGER

In [37]:
ledger_dia_total_repro = all_disp_ledger[(all_disp_ledger['tipo'] == 'Reprogramación')]
ledger_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
76361,LEDGER,ab6c6074-681f-433d-8390-6af45fb29a08,NaN,NaN,AR6RK6W6B,2023-11-28,"4,051.44",Reprogramación,BANORTE/IXE,Susan Rose Chamberlin,...,"2023-12-01,20231201400140HDH0001430022180,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,November,2023,NaN
75803,LEDGER,aa380039-8921-43e5-9086-58e081f7e2ad,NaN,NaN,A5ZJQVKCX,2023-11-23,9.58,Reprogramación,BANORTE/IXE,Aldo Leonel Sorzano Morales,...,"2023-12-01,20231201400140HDH0001429959790,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,November,2023,NaN
78084,LEDGER,af684b65-3b7a-49f7-afa4-f2d609a4de29,NaN,NaN,AJHVD9V62,2023-11-22,"1,360.70",Reprogramación,BBVA BANCOMER,Gricelda Garcia De la Mora,...,"2023-12-01,20231201400140HDH0001430190420,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,November,2023,NaN
78302,LEDGER,affced4b-dc76-4bae-942c-ec676752e9f9,NaN,NaN,AQFHR49GK,2023-11-30,0.95,Reprogramación,BBVA BANCOMER,Luis Alberto Estrada,...,"2023-12-01,20231201400140HDH0001430218850,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,November,2023,NaN
77751,LEDGER,aea2dbee-e59c-4c5c-a184-d28d3f3456a0,NaN,NaN,ACP82PJSS,2023-11-27,383.30,Reprogramación,BBVA BANCOMER,Ricardo,...,"2023-12-01,20231201400140HDH0001430162700,4001...",01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,November,2023,NaN

In [38]:
ledger_dia_total_repro.shape

(14751, 22)

In [39]:
ledger_dia_total_repro.to_excel('Reprogramaciones_ledger.xlsx',index=False)

In [40]:
ledger_dia_total_repro.loc[(ledger_dia_total_repro['tipo'] == 'Reprogramación')
                   & (ledger_dia_total_repro['month_report'] == month_conc) 
                   & (ledger_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
ledger_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
ledger_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_3040\3563945437.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ledger_dia_total_repro.loc[(ledger_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_3040\3563945437.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ledger_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
76361,LEDGER,ab6c6074-681f-433d-8390-6af45fb29a08,NaN,NaN,AR6RK6W6B,2023-11-28,"4,051.44",Reprogramación,BANORTE/IXE,Susan Rose Chamberlin,...,01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,November,2023,NaN,nan
75803,LEDGER,aa380039-8921-43e5-9086-58e081f7e2ad,NaN,NaN,A5ZJQVKCX,2023-11-23,9.58,Reprogramación,BANORTE/IXE,Aldo Leonel Sorzano Morales,...,01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,November,2023,NaN,nan
78084,LEDGER,af684b65-3b7a-49f7-afa4-f2d609a4de29,NaN,NaN,AJHVD9V62,2023-11-22,"1,360.70",Reprogramación,BBVA BANCOMER,Gricelda Garcia De la Mora,...,01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,November,2023,NaN,nan
78302,LEDGER,affced4b-dc76-4bae-942c-ec676752e9f9,NaN,NaN,AQFHR49GK,2023-11-30,0.95,Reprogramación,BBVA BANCOMER,Luis Alberto Estrada,...,01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,November,2023,NaN,nan
77751,LEDGER,aea2dbee-e59c-4c5c-a184-d28d3f3456a0,NaN,NaN,ACP82PJSS,2023-11-27,383.30,Reprogramación,BBVA BANCOMER,Ricardo,...,01. First_batch,SANTANDER,Dispersión-20231201.xlsx,2023-12-01,December,2023,November,2023,NaN,nan

In [41]:
pivot_tipo_repro_ledger = pd.pivot_table(ledger_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_ledger.fillna(0,inplace=True)
pivot_tipo_repro_ledger.reset_index(drop=False, inplace=True)
pivot_tipo_repro_ledger.head()

                       type                 Date          sum                  \
                                                    total_due
tipo_reprogramacion                                       nan repro_mismo_mes
0                    LEDGER  2023-12-01 00:00:00 3,522,749.22            0.00
1                    LEDGER  2023-12-02 00:00:00 1,658,806.31      224,745.40
2                    LEDGER  2023-12-03 00:00:00   413,264.33      144,648.15
3                    LEDGER  2023-12-04 00:00:00   593,834.29      416,574.91
4                    LEDGER  2023-12-05 00:00:00   673,636.37      594,724.83

                                       len
                                 total_due
tipo_reprogramacion          All       nan repro_mismo_mes   All
0                   3,522,749.22  1,823.00            0.00  1823
1                   1,883,551.71    769.00           78.00   847
2                     557,912.48    278.00           79.00   357
3                   1,010,409.20    538.00          110.00   648
4                   1,268,361.20    434.00          139.00   573

In [42]:
pivot_tipo_repro_ledger.shape

(32, 8)

# EXCEL FINAL

In [43]:
writer = pd.ExcelWriter('FASE IV. REPROGRAMACIONES DICIEMBRE 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_total_trad.to_excel(writer, sheet_name='TRADICIONAL TOTAL')
pivot_parcial_trad.to_excel(writer, sheet_name='TRADICIONAL PARCIAL')
pivot_total_fp.to_excel(writer, sheet_name='FP TOTAL')
pivot_parcial_fp.to_excel(writer, sheet_name='FP PARCIAL')
pivot_total_ledger.to_excel(writer, sheet_name='LEDGER TOTAL')
pivot_parcial_ledger.to_excel(writer, sheet_name='LEDGER PARCIAL')
pivot_tipo_repro.to_excel(writer, sheet_name='CATEGORIZACION REPRO TRAD')
pivot_tipo_repro_fp.to_excel(writer, sheet_name='CATEGORIZACION REPRO FP')
pivot_tipo_repro_ledger.to_excel(writer, sheet_name='CATEGORIZACION REPRO LEDGER')
writer.close()