In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
from functools import reduce
pd.options.display.float_format = '{:,.2f}'.format

#### ACUMULADO

In [2]:
cumfiles = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\07. JULIO\QUERIES\*.csv', recursive=False)
cumfiles

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\QUERIES\\SETTLEMENT 2022-07-29.csv']

In [3]:
cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
cum_1.columns = cum_1.columns.str.strip().str.lower() 
cum_1['report_date_local']= pd.to_datetime(cum_1['report_date_local']) 
cum_1.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13428\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13428\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13428\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13428\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13428\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13428\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13428\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13428\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13428\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_released,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name
0,d8bc09a9-52e8-4160-994c-8e302b3c52a2,TUCANDELABAR,Jai-mehdez@hotmail.com,238K3KB6V,2022-07-01,"6,067.00",218.41,34.95,0.00,0.00,...,0.00,0.00,NaN,"5,813.64",DAILY,2022-07-01,02:00:29,2022-07-01,02:00:29,SETTLEMENT 2022-07-01.csv
1,0dfd920b-c2b3-43dd-9108-ec285db21f1e,MARESH,Maresh20221@outlook.com,BD5M5HMHW,2022-07-01,205.84,7.41,1.18,0.00,0.00,...,0.00,0.00,NaN,197.25,DAILY,2022-07-01,02:00:29,2022-07-01,02:00:29,SETTLEMENT 2022-07-01.csv
2,2a9287c9-d2c5-424a-9cc1-49080607aea7,ARTHROMEDIC,maybelreyes.7@gmail.com,TDHZNXLLS,2022-07-01,500.00,18.00,2.88,0.00,0.00,...,0.00,0.00,NaN,479.12,DAILY,2022-07-01,02:00:29,2022-07-01,02:00:29,SETTLEMENT 2022-07-01.csv
3,89ead3f3-b487-4793-b83e-eaa9ac430206,AMBAR,antoniocristobal123dionisio@gmail.com,TWMJJDJBR,2022-07-01,153.64,5.53,0.88,0.00,0.00,...,0.00,0.00,NaN,147.23,DAILY,2022-07-01,02:00:29,2022-07-01,02:00:29,SETTLEMENT 2022-07-01.csv
4,ec235260-ca47-41ab-bebb-ec53dbaff269,DULCES TIPICOS NAJERA,carlosn1217@gmail.com,Y2QJCLKTJ,2022-07-01,"2,457.44",88.47,14.16,0.00,0.00,...,0.00,0.00,NaN,"2,354.81",DAILY,2022-07-01,02:00:29,2022-07-01,02:00:29,SETTLEMENT 2022-07-01.csv

In [4]:
cum_1.shape

(2583276, 26)

In [5]:
cum_distinct_0 = cum_1[(cum_1['total_due'] != 0)]
cum_distinct_0.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_released,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name
0,d8bc09a9-52e8-4160-994c-8e302b3c52a2,TUCANDELABAR,Jai-mehdez@hotmail.com,238K3KB6V,2022-07-01,"6,067.00",218.41,34.95,0.00,0.00,...,0.00,0.00,NaN,"5,813.64",DAILY,2022-07-01,02:00:29,2022-07-01,02:00:29,SETTLEMENT 2022-07-01.csv
1,0dfd920b-c2b3-43dd-9108-ec285db21f1e,MARESH,Maresh20221@outlook.com,BD5M5HMHW,2022-07-01,205.84,7.41,1.18,0.00,0.00,...,0.00,0.00,NaN,197.25,DAILY,2022-07-01,02:00:29,2022-07-01,02:00:29,SETTLEMENT 2022-07-01.csv
2,2a9287c9-d2c5-424a-9cc1-49080607aea7,ARTHROMEDIC,maybelreyes.7@gmail.com,TDHZNXLLS,2022-07-01,500.00,18.00,2.88,0.00,0.00,...,0.00,0.00,NaN,479.12,DAILY,2022-07-01,02:00:29,2022-07-01,02:00:29,SETTLEMENT 2022-07-01.csv
3,89ead3f3-b487-4793-b83e-eaa9ac430206,AMBAR,antoniocristobal123dionisio@gmail.com,TWMJJDJBR,2022-07-01,153.64,5.53,0.88,0.00,0.00,...,0.00,0.00,NaN,147.23,DAILY,2022-07-01,02:00:29,2022-07-01,02:00:29,SETTLEMENT 2022-07-01.csv
4,ec235260-ca47-41ab-bebb-ec53dbaff269,DULCES TIPICOS NAJERA,carlosn1217@gmail.com,Y2QJCLKTJ,2022-07-01,"2,457.44",88.47,14.16,0.00,0.00,...,0.00,0.00,NaN,"2,354.81",DAILY,2022-07-01,02:00:29,2022-07-01,02:00:29,SETTLEMENT 2022-07-01.csv

In [6]:
cum_distinct_0.shape

(2582444, 26)

#### PAGOS DE DISPERSIONES

In [7]:
pagos_dia_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\07. JULIO\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
pagos_dia_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220701.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220702.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220703.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220704.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220705.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220706.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220707.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220708.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220709.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220710.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220711.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220712.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220713.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220714.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220715.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220716.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220717.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220718.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220719.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220720.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220721.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220722.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220723.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220724.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220725.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220726.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220727.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220728.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20220729.xlsx']

In [8]:
pagos_1 = pd.concat([pd.read_excel(f,sheet_name='Swap del día').assign(file_name=os.path.basename(f)) for f in pagos_dia_files_1])
pagos_1['date_file'] = pagos_1["file_name"].str[-13:-5]
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'], format='%Y%m%d').dt.date
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'])
pagos_1.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_1['report_date_local']= pd.to_datetime(pagos_1['report_date_local']) 
pagos_1.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Banco_emisor,file_name,date_file
0,DAILY,55d01b24-af09-4f23-9d74-97b5d8891ef5,Los Artesanos,losartesanoscancun@gmail.com,D4Q2RLQV7,2022-05-17,"2,108.13",Reprogramación,BBVA BANCOMER,Jose Hector Herrera Fernandez,12180015828077820,ERROR,NaN,NaN,Dispersión-20220701.xlsx,2022-07-01
61874,DAILY,000819e6-a90a-4692-9953-2f753c21c742,CLIMAS,climasdelnorte817@gmail.com,8XH96DFLC,2022-07-01,"4,407.90",Pago del día,BBVA BANCOMER,RICARDO DOMINGUEZ RENTERIA,12180015052208368,PAID,"2022-07-01,2022070140014 HDH0001467151960,4001...",SANTANDER,Dispersión-20220701.xlsx,2022-07-01
61873,DAILY,0009480f-bb5f-4c62-b1ed-6ca40e9a4730,Farmacia De Similares,barnescontreraspaul@gmail.com,LZXLNP5SH,2022-07-01,167.68,Pago del día,SCOTIABANK,Paul Barnes Contreras,44975000017943416,PAID,"2022-07-01,2022070140014 HDH0001467151930,4001...",SANTANDER,Dispersión-20220701.xlsx,2022-07-01
61872,DAILY,00099e3e-0f3b-4ebd-a03c-b2fa6a4e7aa1,COMPRASA AAYVENT SA DE CV,itzel_gabino@hotmail.com,NQNJLGNJT,2022-07-01,"27,663.60",Pago del día,BBVA BANCOMER,ITZEL DEYANIRA GOMEZ GABINO,12180001134019285,PAID,"2022-07-01,2022070140014 HDH0001467151910,4001...",SANTANDER,Dispersión-20220701.xlsx,2022-07-01
61871,DAILY,000b014d-5e5a-44ea-87c0-191e8216dfb4,Herrería,danyvalesamy@gmail.com,B7J6FGD2L,2022-07-01,"4,158.76",Pago del día,BANCOPPEL,Rubidia Del Carmen Catillo Avila,137818103437355241,PAID,"2022-07-01,2022070140014 HDH0001467152020,4001...",SANTANDER,Dispersión-20220701.xlsx,2022-07-01

In [9]:
pagos_1.shape

(2453667, 16)

In [10]:
pagos_1['report_date_local'].unique()

array(['2022-05-17T00:00:00.000000000', '2022-07-01T00:00:00.000000000',
       '2022-06-22T00:00:00.000000000', '2022-06-30T00:00:00.000000000',
       '2022-06-29T00:00:00.000000000', '2022-06-25T00:00:00.000000000',
       '2022-06-27T00:00:00.000000000', '2022-06-21T00:00:00.000000000',
       '2022-06-23T00:00:00.000000000', '2022-06-28T00:00:00.000000000',
       '2022-04-23T00:00:00.000000000', '2022-05-05T00:00:00.000000000',
       '2022-05-19T00:00:00.000000000', '2022-06-02T00:00:00.000000000',
       '2022-06-26T00:00:00.000000000', '2022-06-19T00:00:00.000000000',
       '2022-06-24T00:00:00.000000000', '2022-06-09T00:00:00.000000000',
       '2021-10-03T00:00:00.000000000', '2022-04-28T00:00:00.000000000',
       '2022-04-30T00:00:00.000000000', '2022-05-01T00:00:00.000000000',
       '2022-05-29T00:00:00.000000000', '2022-05-30T00:00:00.000000000',
       '2022-05-31T00:00:00.000000000', '2022-06-01T00:00:00.000000000',
       '2022-06-03T00:00:00.000000000', '2022-06-10T00:00:00.000000000',
       '2022-04-15T00:00:00.000000000', '2022-04-16T00:00:00.000000000',
       '2022-04-17T00:00:00.000000000', '2022-04-18T00:00:00.000000000',
       '2022-04-20T00:00:00.000000000', '2022-04-25T00:00:00.000000000',
       '2022-04-26T00:00:00.000000000', '2022-04-27T00:00:00.000000000',
       '2022-06-11T00:00:00.000000000', '2022-04-14T00:00:00.000000000',
       '2022-06-12T00:00:00.000000000', '2022-06-14T00:00:00.000000000',
       '2022-05-13T00:00:00.000000000', '2022-05-14T00:00:00.000000000',
       '2022-05-15T00:00:00.000000000', '2022-05-16T00:00:00.000000000',
       '2022-05-18T00:00:00.000000000', '2022-05-12T00:00:00.000000000',
       '2022-05-20T00:00:00.000000000', '2022-05-11T00:00:00.000000000',
       '2022-05-09T00:00:00.000000000', '2022-06-15T00:00:00.000000000',
       '2022-06-16T00:00:00.000000000', '2022-06-17T00:00:00.000000000',
       '2022-06-20T00:00:00.000000000', '2022-05-25T00:00:00.000000000',
       '2022-05-24T00:00:00.000000000', '2022-05-21T00:00:00.000000000',
       '2022-05-10T00:00:00.000000000', '2022-05-02T00:00:00.000000000',
       '2022-05-03T00:00:00.000000000', '2022-05-04T00:00:00.000000000',
       '2022-05-06T00:00:00.000000000', '2022-05-07T00:00:00.000000000',
       '2022-05-08T00:00:00.000000000', '2022-06-13T00:00:00.000000000',
       '2022-04-12T00:00:00.000000000', '2022-04-29T00:00:00.000000000',
       '2022-05-28T00:00:00.000000000', '2022-06-18T00:00:00.000000000',
       '2022-04-01T00:00:00.000000000', '2022-06-07T00:00:00.000000000',
       '2022-03-05T00:00:00.000000000', '2022-06-08T00:00:00.000000000',
       '2021-11-18T00:00:00.000000000', '2021-12-24T00:00:00.000000000',
       '2021-12-26T00:00:00.000000000', '2021-12-27T00:00:00.000000000',
       '2022-03-20T00:00:00.000000000', '2022-03-28T00:00:00.000000000',
       '2022-03-30T00:00:00.000000000', '2022-05-27T00:00:00.000000000',
       '2022-03-27T00:00:00.000000000', '2021-12-29T00:00:00.000000000',
       '2021-12-31T00:00:00.000000000', '2022-02-27T00:00:00.000000000',
       '2022-03-18T00:00:00.000000000', '2022-05-26T00:00:00.000000000',
       '2022-03-15T00:00:00.000000000', '2022-03-29T00:00:00.000000000',
       '2022-04-21T00:00:00.000000000', '2021-10-17T00:00:00.000000000',
       '2021-10-30T00:00:00.000000000', '2022-03-25T00:00:00.000000000',
       '2022-05-22T00:00:00.000000000', '2022-05-23T00:00:00.000000000',
       '2022-03-26T00:00:00.000000000', '2022-03-11T00:00:00.000000000',
       '2022-03-10T00:00:00.000000000', '2022-03-14T00:00:00.000000000',
       '2022-06-04T00:00:00.000000000', '2022-04-24T00:00:00.000000000',
       '2022-04-08T00:00:00.000000000', '2022-02-25T00:00:00.000000000',
       '2021-02-25T00:00:00.000000000', '2022-02-11T00:00:00.000000000',
       '2022-07-02T00:00:00.000000000', '2022-06-05T00:00:00.000000000',
       '2022-03-19T00:00:00.000000000', '2022-03-21T00:00:00.000000000',
       '2022-04-22T00:00:00.000000000', '2022-04-13T00:00:00.000000000',
       '2022-02-04T00:00:00.000000000', '2022-02-21T00:00:00.000000000',
       '2022-02-18T00:00:00.000000000', '2021-12-18T00:00:00.000000000',
       '2022-01-15T00:00:00.000000000', '2022-01-23T00:00:00.000000000',
       '2022-04-07T00:00:00.000000000', '2022-03-22T00:00:00.000000000',
       '2022-01-07T00:00:00.000000000', '2022-01-16T00:00:00.000000000',
       '2022-01-30T00:00:00.000000000', '2022-02-10T00:00:00.000000000',
       '2022-02-16T00:00:00.000000000', '2022-02-23T00:00:00.000000000',
       '2022-02-28T00:00:00.000000000', '2022-03-06T00:00:00.000000000',
       '2022-03-03T00:00:00.000000000', '2022-03-07T00:00:00.000000000',
       '2022-03-08T00:00:00.000000000', '2022-03-09T00:00:00.000000000',
       '2022-03-16T00:00:00.000000000', '2022-03-17T00:00:00.000000000',
       '2022-04-09T00:00:00.000000000', '2022-04-10T00:00:00.000000000',
       '2022-04-19T00:00:00.000000000', '2022-03-24T00:00:00.000000000',
       '2022-03-23T00:00:00.000000000', '2022-04-06T00:00:00.000000000',
       '2022-04-05T00:00:00.000000000', '2022-04-04T00:00:00.000000000',
       '2022-04-03T00:00:00.000000000', '2022-06-06T00:00:00.000000000',
       '2021-10-06T00:00:00.000000000', '2021-09-12T00:00:00.000000000',
       '2021-09-16T00:00:00.000000000', '2021-09-24T00:00:00.000000000',
       '2021-09-25T00:00:00.000000000', '2021-09-27T00:00:00.000000000',
       '2021-09-30T00:00:00.000000000', '2021-10-11T00:00:00.000000000',
       '2021-09-09T00:00:00.000000000', '2021-10-18T00:00:00.000000000',
       '2021-11-28T00:00:00.000000000', '2021-10-26T00:00:00.000000000',
       '2021-10-29T00:00:00.000000000', '2021-11-03T00:00:00.000000000',
       '2021-11-07T00:00:00.000000000', '2021-11-08T00:00:00.000000000',
       '2021-11-12T00:00:00.000000000', '2022-01-11T00:00:00.000000000',
       '2022-03-01T00:00:00.000000000', '2022-02-12T00:00:00.000000000',
       '2022-01-24T00:00:00.000000000', '2022-01-12T00:00:00.000000000',
       '2021-12-08T00:00:00.000000000', '2022-02-03T00:00:00.000000000',
       '2021-12-13T00:00:00.000000000', '2021-12-20T00:00:00.000000000',
       '2022-01-05T00:00:00.000000000', '2022-01-10T00:00:00.000000000',
       '2022-01-17T00:00:00.000000000', '2022-01-22T00:00:00.000000000',
       '2021-12-07T00:00:00.000000000', '2021-12-02T00:00:00.000000000',
       '2021-11-29T00:00:00.000000000', '2021-11-19T00:00:00.000000000',
       '2022-02-14T00:00:00.000000000', '2022-02-20T00:00:00.000000000',
       '2022-02-17T00:00:00.000000000', '2022-02-15T00:00:00.000000000',
       '2022-02-13T00:00:00.000000000', '2022-01-29T00:00:00.000000000',
       '2022-02-07T00:00:00.000000000', '2022-02-06T00:00:00.000000000',
       '2022-02-01T00:00:00.000000000', '2022-01-31T00:00:00.000000000',
       '2022-01-20T00:00:00.000000000', '2022-02-24T00:00:00.000000000',
       '2021-12-21T00:00:00.000000000', '2022-01-14T00:00:00.000000000',
       '2021-12-23T00:00:00.000000000', '2022-01-21T00:00:00.000000000',
       '2022-01-08T00:00:00.000000000', '2022-04-11T00:00:00.000000000',
       '2022-02-19T00:00:00.000000000', '2022-04-02T00:00:00.000000000',
       '2021-12-22T00:00:00.000000000', '2022-02-22T00:00:00.000000000',
       '2022-01-06T00:00:00.000000000', '2022-01-19T00:00:00.000000000',
       '2022-01-26T00:00:00.000000000', '2022-02-08T00:00:00.000000000',
       '2022-01-01T00:00:00.000000000', '2022-03-04T00:00:00.000000000',
       '2022-03-02T00:00:00.000000000', '2022-02-26T00:00:00.000000000',
       '2022-03-13T00:00:00.000000000', '2022-02-05T00:00:00.000000000',
       '2022-01-25T00:00:00.000000000', '2022-03-31T00:00:00.000000000',
       '2021-09-14T00:00:00.000000000', '2021-09-21T00:00:00.000000000',
       '2021-09-26T00:00:00.000000000', '2021-09-28T00:00:00.000000000',
       '2021-09-07T00:00:00.000000000', '2021-11-30T00:00:00.000000000',
       '2021-10-10T00:00:00.000000000', '2021-12-16T00:00:00.000000000',
       '2021-12-11T00:00:00.000000000', '2021-12-28T00:00:00.000000000',
       '2021-12-25T00:00:00.000000000', '2021-10-27T00:00:00.000000000',
       '2021-10-23T00:00:00.000000000', '2021-10-12T00:00:00.000000000',
       '2021-12-12T00:00:00.000000000', '2021-10-31T00:00:00.000000000',
       '2021-11-04T00:00:00.000000000', '2021-12-03T00:00:00.000000000',
       '2021-12-01T00:00:00.000000000', '2021-11-14T00:00:00.000000000',
       '2021-11-10T00:00:00.000000000', '2021-12-30T00:00:00.000000000',
       '2020-07-20T00:00:00.000000000', '2022-03-12T00:00:00.000000000',
       '2021-12-05T00:00:00.000000000', '2021-12-17T00:00:00.000000000',
       '2021-12-19T00:00:00.000000000', '2022-07-03T00:00:00.000000000',
       '2021-08-21T00:00:00.000000000', '2020-02-14T00:00:00.000000000',
       '2018-08-13T00:00:00.000000000', '2021-01-07T00:00:00.000000000',
       '2021-10-24T00:00:00.000000000', '2019-10-25T00:00:00.000000000',
       '2018-07-27T00:00:00.000000000', '2021-03-24T00:00:00.000000000',
       '2021-02-22T00:00:00.000000000', '2021-05-10T00:00:00.000000000',
       '2021-07-06T00:00:00.000000000', '2021-09-20T00:00:00.000000000',
       '2022-07-04T00:00:00.000000000', '2022-02-09T00:00:00.000000000',
       '2021-07-25T00:00:00.000000000', '2021-11-25T00:00:00.000000000',
       '2021-11-27T00:00:00.000000000', '2019-11-21T00:00:00.000000000',
       '2020-01-20T00:00:00.000000000', '2020-02-06T00:00:00.000000000',
       '2021-11-23T00:00:00.000000000', '2021-11-20T00:00:00.000000000',
       '2021-01-14T00:00:00.000000000', '2022-07-05T00:00:00.000000000',
       '2021-12-10T00:00:00.000000000', '2021-11-05T00:00:00.000000000',
       '2021-01-09T00:00:00.000000000', '2020-12-30T00:00:00.000000000',
       '2020-12-29T00:00:00.000000000', '2021-11-15T00:00:00.000000000',
       '2021-07-26T00:00:00.000000000', '2021-07-27T00:00:00.000000000',
       '2021-07-28T00:00:00.000000000', '2021-07-29T00:00:00.000000000',
       '2020-12-28T00:00:00.000000000', '2021-04-19T00:00:00.000000000',
       '2021-04-16T00:00:00.000000000', '2021-10-28T00:00:00.000000000',
       '2021-10-19T00:00:00.000000000', '2021-10-21T00:00:00.000000000',
       '2021-10-22T00:00:00.000000000', '2021-10-25T00:00:00.000000000',
       '2022-01-27T00:00:00.000000000', '2020-01-08T00:00:00.000000000',
       '2021-11-22T00:00:00.000000000', '2022-02-02T00:00:00.000000000',
       '2021-06-17T00:00:00.000000000', '2021-06-24T00:00:00.000000000',
       '2022-07-06T00:00:00.000000000', '2021-10-04T00:00:00.000000000',
       '2022-07-07T00:00:00.000000000', '2020-08-28T00:00:00.000000000',
       '2020-03-24T00:00:00.000000000', '2021-10-07T00:00:00.000000000',
       '2022-07-08T00:00:00.000000000', '2020-07-12T00:00:00.000000000',
       '2020-11-26T00:00:00.000000000', '2020-07-17T00:00:00.000000000',
       '2021-10-14T00:00:00.000000000', '2019-07-22T00:00:00.000000000',
       '2019-07-23T00:00:00.000000000', '2019-08-22T00:00:00.000000000',
       '2018-12-20T00:00:00.000000000', '2018-12-27T00:00:00.000000000',
       '2019-12-04T00:00:00.000000000', '2022-01-28T00:00:00.000000000',
       '2022-01-18T00:00:00.000000000', '2022-01-09T00:00:00.000000000',
       '2021-09-22T00:00:00.000000000', '2021-10-08T00:00:00.000000000',
       '2021-12-04T00:00:00.000000000', '2021-12-09T00:00:00.000000000',
       '2022-07-09T00:00:00.000000000', '2021-07-12T00:00:00.000000000',
       '2021-07-17T00:00:00.000000000', '2021-08-10T00:00:00.000000000',
       '2021-10-13T00:00:00.000000000', '2020-02-04T00:00:00.000000000',
       '2020-12-19T00:00:00.000000000', '2022-07-10T00:00:00.000000000',
       '2021-01-04T00:00:00.000000000', '2021-05-13T00:00:00.000000000',
       '2021-09-11T00:00:00.000000000', '2020-11-18T00:00:00.000000000',
       '2021-11-24T00:00:00.000000000', '2022-07-11T00:00:00.000000000',
       '2021-11-13T00:00:00.000000000', '2019-11-25T00:00:00.000000000',
       '2022-01-13T00:00:00.000000000', '2021-12-14T00:00:00.000000000',
       '2021-12-15T00:00:00.000000000', '2022-01-03T00:00:00.000000000',
       '2021-11-16T00:00:00.000000000', '2021-11-17T00:00:00.000000000',
       '2021-11-11T00:00:00.000000000', '2021-12-06T00:00:00.000000000',
       '2021-11-01T00:00:00.000000000', '2021-11-06T00:00:00.000000000',
       '2021-11-09T00:00:00.000000000', '2022-07-12T00:00:00.000000000',
       '2021-03-19T00:00:00.000000000', '2021-03-20T00:00:00.000000000',
       '2021-03-22T00:00:00.000000000', '2021-09-18T00:00:00.000000000',
       '2021-09-17T00:00:00.000000000', '2021-09-15T00:00:00.000000000',
       '2021-09-08T00:00:00.000000000', '2021-09-29T00:00:00.000000000',
       '2021-10-01T00:00:00.000000000', '2021-11-02T00:00:00.000000000',
       '2021-11-21T00:00:00.000000000', '2021-11-26T00:00:00.000000000',
       '2022-01-02T00:00:00.000000000', '2022-07-13T00:00:00.000000000',
       '2022-01-04T00:00:00.000000000', '2021-06-19T00:00:00.000000000',
       '2021-01-31T00:00:00.000000000', '2021-02-28T00:00:00.000000000',
       '2021-03-28T00:00:00.000000000', '2021-03-30T00:00:00.000000000',
       '2021-05-27T00:00:00.000000000', '2021-05-29T00:00:00.000000000',
       '2021-06-25T00:00:00.000000000', '2020-10-27T00:00:00.000000000',
       '2021-06-26T00:00:00.000000000', '2021-06-29T00:00:00.000000000',
       '2020-10-24T00:00:00.000000000', '2020-10-21T00:00:00.000000000',
       '2020-10-20T00:00:00.000000000', '2020-03-31T00:00:00.000000000',
       '2020-12-25T00:00:00.000000000', '2020-12-18T00:00:00.000000000',
       '2020-12-23T00:00:00.000000000', '2020-12-20T00:00:00.000000000',
       '2020-10-28T00:00:00.000000000', '2020-10-29T00:00:00.000000000',
       '2020-11-15T00:00:00.000000000', '2020-11-19T00:00:00.000000000',
       '2020-11-20T00:00:00.000000000', '2020-11-22T00:00:00.000000000',
       '2020-12-10T00:00:00.000000000', '2020-12-12T00:00:00.000000000',
       '2020-12-13T00:00:00.000000000', '2020-12-15T00:00:00.000000000',
       '2020-12-17T00:00:00.000000000', '2020-11-21T00:00:00.000000000',
       '2020-06-19T00:00:00.000000000', '2020-06-25T00:00:00.000000000',
       '2020-10-18T00:00:00.000000000', '2020-07-29T00:00:00.000000000',
       '2020-06-28T00:00:00.000000000', '2020-06-30T00:00:00.000000000',
       '2020-07-21T00:00:00.000000000', '2020-07-22T00:00:00.000000000',
       '2020-07-23T00:00:00.000000000', '2020-07-25T00:00:00.000000000',
       '2020-07-28T00:00:00.000000000', '2020-06-21T00:00:00.000000000',
       '2020-08-23T00:00:00.000000000', '2020-08-25T00:00:00.000000000',
       '2020-09-23T00:00:00.000000000', '2020-09-24T00:00:00.000000000',
       '2020-09-27T00:00:00.000000000', '2020-08-20T00:00:00.000000000',
       '2019-11-19T00:00:00.000000000', '2020-11-01T00:00:00.000000000',
       '2020-11-07T00:00:00.000000000', '2022-07-14T00:00:00.000000000',
       '2021-08-07T00:00:00.000000000', '2021-10-02T00:00:00.000000000',
       '2021-08-15T00:00:00.000000000', '2021-10-16T00:00:00.000000000',
       '2021-03-17T00:00:00.000000000', '2021-03-18T00:00:00.000000000',
       '2022-07-15T00:00:00.000000000', '2020-01-30T00:00:00.000000000',
       '2020-01-31T00:00:00.000000000', '2020-09-29T00:00:00.000000000',
       '2020-09-30T00:00:00.000000000', '2020-01-28T00:00:00.000000000',
       '2021-02-20T00:00:00.000000000', '2022-07-16T00:00:00.000000000',
       '2018-07-30T00:00:00.000000000', '2022-07-17T00:00:00.000000000',
       '2021-07-30T00:00:00.000000000', '2021-07-31T00:00:00.000000000',
       '2021-07-18T00:00:00.000000000', '2021-07-15T00:00:00.000000000',
       '2021-07-04T00:00:00.000000000', '2021-05-31T00:00:00.000000000',
       '2021-06-01T00:00:00.000000000', '2021-06-02T00:00:00.000000000',
       '2021-07-24T00:00:00.000000000', '2021-05-26T00:00:00.000000000',
       '2021-07-20T00:00:00.000000000', '2021-07-21T00:00:00.000000000',
       '2021-07-22T00:00:00.000000000', '2021-07-23T00:00:00.000000000',
       '2021-06-03T00:00:00.000000000', '2021-05-22T00:00:00.000000000',
       '2021-05-24T00:00:00.000000000', '2021-05-25T00:00:00.000000000',
       '2021-06-06T00:00:00.000000000', '2021-06-11T00:00:00.000000000',
       '2021-06-15T00:00:00.000000000', '2021-06-16T00:00:00.000000000',
       '2021-06-21T00:00:00.000000000', '2021-06-22T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-27T00:00:00.000000000',
       '2021-07-01T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
       '2021-07-03T00:00:00.000000000', '2021-06-09T00:00:00.000000000',
       '2021-04-21T00:00:00.000000000', '2021-04-24T00:00:00.000000000',
       '2021-04-25T00:00:00.000000000', '2021-04-30T00:00:00.000000000',
       '2021-05-01T00:00:00.000000000', '2021-05-05T00:00:00.000000000',
       '2021-05-06T00:00:00.000000000', '2021-05-09T00:00:00.000000000',
       '2021-05-15T00:00:00.000000000', '2021-05-16T00:00:00.000000000',
       '2021-05-17T00:00:00.000000000', '2021-05-19T00:00:00.000000000',
       '2021-05-20T00:00:00.000000000', '2021-03-31T00:00:00.000000000',
       '2021-03-25T00:00:00.000000000', '2021-02-03T00:00:00.000000000',
       '2021-03-23T00:00:00.000000000', '2021-02-06T00:00:00.000000000',
       '2021-02-10T00:00:00.000000000', '2021-04-20T00:00:00.000000000',
       '2021-02-12T00:00:00.000000000', '2021-04-09T00:00:00.000000000',
       '2021-01-30T00:00:00.000000000', '2021-02-02T00:00:00.000000000',
       '2021-03-27T00:00:00.000000000', '2021-04-07T00:00:00.000000000',
       '2021-04-08T00:00:00.000000000', '2021-04-10T00:00:00.000000000',
       '2021-02-14T00:00:00.000000000', '2021-02-16T00:00:00.000000000',
       '2021-02-17T00:00:00.000000000', '2021-02-19T00:00:00.000000000',
       '2021-02-27T00:00:00.000000000', '2021-03-02T00:00:00.000000000',
       '2021-03-03T00:00:00.000000000', '2021-03-04T00:00:00.000000000',
       '2021-03-05T00:00:00.000000000', '2021-03-06T00:00:00.000000000',
       '2021-03-07T00:00:00.000000000', '2021-03-10T00:00:00.000000000',
       '2021-03-16T00:00:00.000000000', '2021-03-12T00:00:00.000000000',
       '2020-11-14T00:00:00.000000000', '2020-12-16T00:00:00.000000000',
       '2021-01-12T00:00:00.000000000', '2021-01-26T00:00:00.000000000',
       '2021-01-29T00:00:00.000000000', '2022-07-18T00:00:00.000000000',
       '2021-05-02T00:00:00.000000000', '2021-05-08T00:00:00.000000000',
       '2021-05-30T00:00:00.000000000', '2021-06-13T00:00:00.000000000',
       '2021-06-20T00:00:00.000000000', '2021-09-05T00:00:00.000000000',
       '2021-02-15T00:00:00.000000000', '2021-02-21T00:00:00.000000000',
       '2022-07-19T00:00:00.000000000', '2021-09-19T00:00:00.000000000',
       '2021-02-23T00:00:00.000000000', '2021-03-01T00:00:00.000000000',
       '2021-03-09T00:00:00.000000000', '2021-08-01T00:00:00.000000000',
       '2021-08-09T00:00:00.000000000', '2021-08-17T00:00:00.000000000',
       '2021-08-24T00:00:00.000000000', '2020-10-25T00:00:00.000000000',
       '2021-08-04T00:00:00.000000000', '2021-07-13T00:00:00.000000000',
       '2022-07-20T00:00:00.000000000', '2022-07-21T00:00:00.000000000',
       '2021-09-10T00:00:00.000000000', '2021-09-23T00:00:00.000000000',
       '2021-10-09T00:00:00.000000000', '2021-10-20T00:00:00.000000000',
       '2022-07-22T00:00:00.000000000', '2017-05-12T00:00:00.000000000',
       '2017-05-18T00:00:00.000000000', '2017-05-15T00:00:00.000000000',
       '2017-05-16T00:00:00.000000000', '2017-05-23T00:00:00.000000000',
       '2017-06-07T00:00:00.000000000', '2021-01-27T00:00:00.000000000',
       '2019-11-06T00:00:00.000000000', '2022-07-23T00:00:00.000000000',
       '2021-04-27T00:00:00.000000000', '2021-04-29T00:00:00.000000000',
       '2022-07-24T00:00:00.000000000', '2020-11-06T00:00:00.000000000',
       '2021-02-09T00:00:00.000000000', '2020-10-03T00:00:00.000000000',
       '2020-10-22T00:00:00.000000000', '2020-10-23T00:00:00.000000000',
       '2020-10-30T00:00:00.000000000', '2020-10-31T00:00:00.000000000',

#### PAGOS DUPLICADOS TRADICIONAL

In [11]:
duplicates_trad = pagos_1[pagos_1.duplicated(['report_id','date_file'] , keep=False)]
duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)
duplicates_trad.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13428\189612330.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)

Empty DataFrame
Columns: [type, merchant_id, merchant_name, user_email, report_id, report_date_local, total_due, tipo, bank, bank_account_owner_name, CLABE, status, LINEA CEP, Banco_emisor, file_name, date_file]
Index: []

In [12]:
duplicates_trad.shape

(0, 16)

In [13]:
duplicates_trad.drop_duplicates(subset="report_id", keep='last', inplace=True)

Empty DataFrame
Columns: [type, merchant_id, merchant_name, user_email, report_id, report_date_local, total_due, tipo, bank, bank_account_owner_name, CLABE, status, LINEA CEP, Banco_emisor, file_name, date_file]
Index: []

In [14]:
duplicates_trad.head()

Empty DataFrame
Columns: [type, merchant_id, merchant_name, user_email, report_id, report_date_local, total_due, tipo, bank, bank_account_owner_name, CLABE, status, LINEA CEP, Banco_emisor, file_name, date_file]
Index: []

In [15]:
duplicates_trad.shape

(0, 16)

In [16]:
# pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],
#                                   values=['total_due']
#                                   ,aggfunc = ['sum', len],margins=True)
# pivot_duplicates_trad.reset_index(drop=False, inplace=True)
# pivot_duplicates_trad.head()

In [17]:
# pivot_duplicates_trad.shape

#### FAST PAYMENTS

In [18]:
fp_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2022\07. JULIO\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx', recursive=False)
fp_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-29.xlsx']

In [19]:
pagos_2 = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS').assign(file_name=os.path.basename(f)) for f in fp_files_1])
pagos_2['date_file'] = pagos_2["file_name"].str[-15:-4]
pagos_2['date_file']= pd.to_datetime(pagos_2['date_file']) 
pagos_2.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_2['report_date_local']= pd.to_datetime(pagos_2['report_date_local']) 
pagos_2.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor,file_name,date_file
0,INSTANT,899c66ea-5865-487a-bdd1-b64a6f0141c3,Stero Boutique,steroboutiquemxli@outlook.com,N4P3RJ77S,2022-06-17,"3,084.58",Reprogramación,BBVA BANCOMER,Luis Humberto Rodriguez Armenta,12180015897982315,ERROR,NaN,09:00,SANTANDER,Dispersión-FP 2022-07-01.xlsx,2022-07-01
3751,INSTANT,2222c2fc-4efd-4c4f-8709-db80db4885ce,Las Mejores,rufis.716@gmail.com,FLP4DMV3W,2022-07-01,"1,571.51",Pago del día,ASP INTEGRA OPC,Guadalupe Monserrat Garcia Castro,659802020000458317,PAID,"2022-07-01,181BC1B32DCC05EC,40002,90659,659802...",18:00,BANAMEX,Dispersión-FP 2022-07-01.xlsx,2022-07-01
3750,INSTANT,21de0a58-362a-4d50-8fac-77260e6423ce,Six Chavarria,david_30ag90@hotmail.com,JH3XHQ8P5,2022-07-01,14.37,Pago del día,ASP INTEGRA OPC,David Diego Hilario,659802020000177478,PAID,"2022-07-01,181BC1B3221699FE,40002,90659,659802...",18:00,BANAMEX,Dispersión-FP 2022-07-01.xlsx,2022-07-01
3749,INSTANT,21d752cd-acd5-47ac-929e-284a4c0e2dcd,Don regio cortes,lalotamez5@gmail.com,QSJNHG984,2022-07-01,762.58,Pago del día,ASP INTEGRA OPC,Gerardo Tamez Garza,659802020000494672,PAID,"2022-07-01,181BC1B3A5D362B8,40002,90659,659802...",18:00,BANAMEX,Dispersión-FP 2022-07-01.xlsx,2022-07-01
3748,INSTANT,2192f095-9279-49aa-8929-29e63c4d9aee,Centro Holistiko,jozfort.ju@gmail.com,DDLFH2FKK,2022-07-01,"1,274.46",Pago del día,ASP INTEGRA OPC,Jose Fortino Juarez Carmona,659802020000500744,PAID,"2022-07-01,181BC1B3357BCCD0,40002,90659,659802...",18:00,BANAMEX,Dispersión-FP 2022-07-01.xlsx,2022-07-01

In [20]:
pagos_2.shape

(136995, 17)

#### PAGOS REPETIDOS FAST PAYMENTS

In [21]:
duplicates_fp = pagos_2[pagos_2.duplicated(['report_id','date_file'] , keep=False)]
duplicates_fp.sort_values(by=['date_file','report_id','Time'],inplace=True)
duplicates_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13428\1296643442.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.sort_values(by=['date_file','report_id','Time'],inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor,file_name,date_file
310,INSTANT,60de2170-d1ca-45dd-b60e-7382ab5f851a,Oveja Negra,arq.cesar78@gmail.com,J8QLC56Y8,2022-07-11,"7,935.00",Pago del día,ASP INTEGRA OPC,Julio Cesar Sanchez Flores,659802020000134961,PAID,"2022-07-11,2022071140014 HDH0001444798750,4001...",09:00,SANTANDER,Dispersión-FP 2022-07-11.xlsx,2022-07-11
2183,INSTANT,60de2170-d1ca-45dd-b60e-7382ab5f851a,Oveja Negra,arq.cesar78@gmail.com,J8QLC56Y8,2022-07-11,"7,935.00",Pago del día,ASP INTEGRA OPC,Julio Csar Snchez Flores,659802020000134961,PAID,"2022-07-11,2022071140014 HDH0001444798750,4001...",16:00,SANTANDER,Dispersión-FP 2022-07-11.xlsx,2022-07-11
957,INSTANT,0b365249-9382-47a7-9005-c1543e98f86a,Modelorama Alamo Reynosa,msporvenir1@gmail.com,G25PHMZ4G,2022-07-26,340.01,Pago del día,ASP INTEGRA OPC,Daniel Aurelio Velazquez,659802020000026639,PAID,"2022-07-26,2022072640014 HDH0001410847970,4000...",11:00,BANAMEX,Dispersión-FP 2022-07-26.xlsx,2022-07-26
3461,INSTANT,0b365249-9382-47a7-9005-c1543e98f86a,Modelorama Alamo Reynosa,msporvenir1@gmail.com,G25PHMZ4G,2022-07-26,340.01,Pago del día,ASP INTEGRA OPC,Daniel Aurelio Velazquez,659802020000026639,PAID,"2022-07-26,2022072640014 HDH0001410847970,4000...",20:00,BANAMEX,Dispersión-FP 2022-07-26.xlsx,2022-07-26

In [22]:
duplicates_fp.shape

(4, 17)

In [23]:
duplicates_fp.drop_duplicates(subset="report_id", keep='last', inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13428\966439277.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.drop_duplicates(subset="report_id", keep='last', inplace=True)

In [24]:
duplicates_fp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor,file_name,date_file
2183,INSTANT,60de2170-d1ca-45dd-b60e-7382ab5f851a,Oveja Negra,arq.cesar78@gmail.com,J8QLC56Y8,2022-07-11,"7,935.00",Pago del día,ASP INTEGRA OPC,Julio Csar Snchez Flores,659802020000134961,PAID,"2022-07-11,2022071140014 HDH0001444798750,4001...",16:00,SANTANDER,Dispersión-FP 2022-07-11.xlsx,2022-07-11
3461,INSTANT,0b365249-9382-47a7-9005-c1543e98f86a,Modelorama Alamo Reynosa,msporvenir1@gmail.com,G25PHMZ4G,2022-07-26,340.01,Pago del día,ASP INTEGRA OPC,Daniel Aurelio Velazquez,659802020000026639,PAID,"2022-07-26,2022072640014 HDH0001410847970,4000...",20:00,BANAMEX,Dispersión-FP 2022-07-26.xlsx,2022-07-26

In [25]:
duplicates_fp.shape

(2, 17)

In [26]:
pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_fp.reset_index(drop=False, inplace=True)
pivot_duplicates_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13428\3187082303.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13428\3187082303.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],

           tipo  date_file       sum       len
                           total_due total_due
0  Pago del día 2022-07-11  7,935.00         1
1  Pago del día 2022-07-26    340.01         1
2           All        NaT  8,275.01         2

In [27]:
pivot_duplicates_fp.shape

(3, 4)

In [28]:
# pivot_duplicates_fp.to_excel('DUPLICADOS FP JUNIO 2021.xlsx',index=True)

#### ALL PAGOS

In [29]:
allpagos = pd.concat([pagos_1,pagos_2])
allpagos.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Banco_emisor,file_name,date_file,swap,CEP,Time
0,DAILY,55d01b24-af09-4f23-9d74-97b5d8891ef5,Los Artesanos,losartesanoscancun@gmail.com,D4Q2RLQV7,2022-05-17,"2,108.13",Reprogramación,BBVA BANCOMER,Jose Hector Herrera Fernandez,12180015828077820,ERROR,NaN,NaN,Dispersión-20220701.xlsx,2022-07-01,NaN,NaN,NaN
61874,DAILY,000819e6-a90a-4692-9953-2f753c21c742,CLIMAS,climasdelnorte817@gmail.com,8XH96DFLC,2022-07-01,"4,407.90",Pago del día,BBVA BANCOMER,RICARDO DOMINGUEZ RENTERIA,12180015052208368,PAID,"2022-07-01,2022070140014 HDH0001467151960,4001...",SANTANDER,Dispersión-20220701.xlsx,2022-07-01,NaN,NaN,NaN
61873,DAILY,0009480f-bb5f-4c62-b1ed-6ca40e9a4730,Farmacia De Similares,barnescontreraspaul@gmail.com,LZXLNP5SH,2022-07-01,167.68,Pago del día,SCOTIABANK,Paul Barnes Contreras,44975000017943416,PAID,"2022-07-01,2022070140014 HDH0001467151930,4001...",SANTANDER,Dispersión-20220701.xlsx,2022-07-01,NaN,NaN,NaN
61872,DAILY,00099e3e-0f3b-4ebd-a03c-b2fa6a4e7aa1,COMPRASA AAYVENT SA DE CV,itzel_gabino@hotmail.com,NQNJLGNJT,2022-07-01,"27,663.60",Pago del día,BBVA BANCOMER,ITZEL DEYANIRA GOMEZ GABINO,12180001134019285,PAID,"2022-07-01,2022070140014 HDH0001467151910,4001...",SANTANDER,Dispersión-20220701.xlsx,2022-07-01,NaN,NaN,NaN
61871,DAILY,000b014d-5e5a-44ea-87c0-191e8216dfb4,Herrería,danyvalesamy@gmail.com,B7J6FGD2L,2022-07-01,"4,158.76",Pago del día,BANCOPPEL,Rubidia Del Carmen Catillo Avila,137818103437355241,PAID,"2022-07-01,2022070140014 HDH0001467152020,4001...",SANTANDER,Dispersión-20220701.xlsx,2022-07-01,NaN,NaN,NaN

In [30]:
allpagos.shape

(2590662, 19)

In [31]:
allpagos['tipo'].unique()

array(['Reprogramación', 'Pago del día'], dtype=object)

In [32]:
group_allpagos = allpagos.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_allpagos.head()

   date_file      total_due  report_id
0 2022-07-01 183,117,125.55      98425
1 2022-07-02 200,195,045.01     103944
2 2022-07-03 213,097,912.18      98838
3 2022-07-04 146,975,622.97      70363
4 2022-07-05 154,217,185.09      86146

In [33]:
group_allpagos.shape

(29, 3)

#### PAGOS DEL DIA

In [34]:
pagosdia = allpagos[(allpagos['tipo'].isin(['Pago del día']))]
pagosdia.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Banco_emisor,file_name,date_file,swap,CEP,Time
61874,DAILY,000819e6-a90a-4692-9953-2f753c21c742,CLIMAS,climasdelnorte817@gmail.com,8XH96DFLC,2022-07-01,"4,407.90",Pago del día,BBVA BANCOMER,RICARDO DOMINGUEZ RENTERIA,12180015052208368,PAID,"2022-07-01,2022070140014 HDH0001467151960,4001...",SANTANDER,Dispersión-20220701.xlsx,2022-07-01,NaN,NaN,NaN
61873,DAILY,0009480f-bb5f-4c62-b1ed-6ca40e9a4730,Farmacia De Similares,barnescontreraspaul@gmail.com,LZXLNP5SH,2022-07-01,167.68,Pago del día,SCOTIABANK,Paul Barnes Contreras,44975000017943416,PAID,"2022-07-01,2022070140014 HDH0001467151930,4001...",SANTANDER,Dispersión-20220701.xlsx,2022-07-01,NaN,NaN,NaN
61872,DAILY,00099e3e-0f3b-4ebd-a03c-b2fa6a4e7aa1,COMPRASA AAYVENT SA DE CV,itzel_gabino@hotmail.com,NQNJLGNJT,2022-07-01,"27,663.60",Pago del día,BBVA BANCOMER,ITZEL DEYANIRA GOMEZ GABINO,12180001134019285,PAID,"2022-07-01,2022070140014 HDH0001467151910,4001...",SANTANDER,Dispersión-20220701.xlsx,2022-07-01,NaN,NaN,NaN
61871,DAILY,000b014d-5e5a-44ea-87c0-191e8216dfb4,Herrería,danyvalesamy@gmail.com,B7J6FGD2L,2022-07-01,"4,158.76",Pago del día,BANCOPPEL,Rubidia Del Carmen Catillo Avila,137818103437355241,PAID,"2022-07-01,2022070140014 HDH0001467152020,4001...",SANTANDER,Dispersión-20220701.xlsx,2022-07-01,NaN,NaN,NaN
61870,DAILY,000cb0af-fa75-41e5-be77-9f6ff4960350,Carnicería Sta Isabel,gtmartinez_2110@outlook.com,2M8FS5NL2,2022-07-01,99.66,Pago del día,BANORTE/IXE,German tello,72580004954754406,PAID,"2022-07-01,2022070140014 HDH0001467151920,4001...",SANTANDER,Dispersión-20220701.xlsx,2022-07-01,NaN,NaN,NaN

In [35]:
pagosdia.shape

(2574450, 19)

In [36]:
group_dia = pagosdia.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_dia.head()

   date_file      total_due  report_id
0 2022-07-01 181,850,546.66      97575
1 2022-07-02 196,653,826.09     101027
2 2022-07-03 212,410,070.88      98418
3 2022-07-04 146,056,426.31      69580
4 2022-07-05 153,258,097.08      85518

In [37]:
group_dia.shape

(29, 3)

# PRIMER MATCH (SETTLED VS PAGOS DEL DIA)

In [38]:
check_1 = cum_1.merge(pagosdia[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_1['total_due_y'].fillna('NO ENCONTRADO')
check_1['tipo'].fillna('NO ENCONTRADO',inplace=True)
check_1['file_name_y'].fillna('NO ENCONTRADO',inplace=True)
# check_1.fillna({'total_due_y':'NO ENCONTRADO', 'tipo':'NO ENCONTRADO', 'file_name_y':'NO ENCONTRADO'}, inplace=True)
check_1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_due_x,type,created_date,created_time,updated_date,updated_time,file_name_x,total_due_y,tipo,file_name_y
0,d8bc09a9-52e8-4160-994c-8e302b3c52a2,TUCANDELABAR,Jai-mehdez@hotmail.com,238K3KB6V,2022-07-01,"6,067.00",218.41,34.95,0.00,0.00,...,"5,813.64",DAILY,2022-07-01,02:00:29,2022-07-01,02:00:29,SETTLEMENT 2022-07-01.csv,"5,813.64",Pago del día,Dispersión-20220701.xlsx
1,0dfd920b-c2b3-43dd-9108-ec285db21f1e,MARESH,Maresh20221@outlook.com,BD5M5HMHW,2022-07-01,205.84,7.41,1.18,0.00,0.00,...,197.25,DAILY,2022-07-01,02:00:29,2022-07-01,02:00:29,SETTLEMENT 2022-07-01.csv,197.25,Pago del día,Dispersión-20220701.xlsx
2,2a9287c9-d2c5-424a-9cc1-49080607aea7,ARTHROMEDIC,maybelreyes.7@gmail.com,TDHZNXLLS,2022-07-01,500.00,18.00,2.88,0.00,0.00,...,479.12,DAILY,2022-07-01,02:00:29,2022-07-01,02:00:29,SETTLEMENT 2022-07-01.csv,479.12,Pago del día,Dispersión-20220701.xlsx
3,89ead3f3-b487-4793-b83e-eaa9ac430206,AMBAR,antoniocristobal123dionisio@gmail.com,TWMJJDJBR,2022-07-01,153.64,5.53,0.88,0.00,0.00,...,147.23,DAILY,2022-07-01,02:00:29,2022-07-01,02:00:29,SETTLEMENT 2022-07-01.csv,147.23,Pago del día,Dispersión-20220701.xlsx
4,ec235260-ca47-41ab-bebb-ec53dbaff269,DULCES TIPICOS NAJERA,carlosn1217@gmail.com,Y2QJCLKTJ,2022-07-01,"2,457.44",88.47,14.16,0.00,0.00,...,"2,354.81",DAILY,2022-07-01,02:00:29,2022-07-01,02:00:29,SETTLEMENT 2022-07-01.csv,"2,354.81",Pago del día,Dispersión-20220701.xlsx

In [39]:
check_1['file_name_y'].unique()

array(['Dispersión-20220701.xlsx', 'NO ENCONTRADO',
       'Dispersión-FP 2022-07-01.xlsx', 'Dispersión-20220702.xlsx',
       'Dispersión-FP 2022-07-02.xlsx', 'Dispersión-20220703.xlsx',
       'Dispersión-FP 2022-07-03.xlsx', 'Dispersión-20220704.xlsx',
       'Dispersión-FP 2022-07-04.xlsx', 'Dispersión-20220705.xlsx',
       'Dispersión-FP 2022-07-05.xlsx', 'Dispersión-20220706.xlsx',
       'Dispersión-FP 2022-07-06.xlsx', 'Dispersión-20220707.xlsx',
       'Dispersión-FP 2022-07-07.xlsx', 'Dispersión-20220708.xlsx',
       'Dispersión-FP 2022-07-08.xlsx', 'Dispersión-20220709.xlsx',
       'Dispersión-FP 2022-07-09.xlsx', 'Dispersión-20220710.xlsx',
       'Dispersión-FP 2022-07-10.xlsx', 'Dispersión-20220711.xlsx',
       'Dispersión-FP 2022-07-11.xlsx', 'Dispersión-20220712.xlsx',
       'Dispersión-FP 2022-07-12.xlsx', 'Dispersión-20220713.xlsx',
       'Dispersión-FP 2022-07-13.xlsx', 'Dispersión-20220714.xlsx',
       'Dispersión-FP 2022-07-14.xlsx', 'Dispersión-20220715.xlsx',
       'Dispersión-FP 2022-07-15.xlsx', 'Dispersión-20220716.xlsx',
       'Dispersión-FP 2022-07-16.xlsx', 'Dispersión-20220717.xlsx',
       'Dispersión-FP 2022-07-17.xlsx', 'Dispersión-20220718.xlsx',
       'Dispersión-FP 2022-07-18.xlsx', 'Dispersión-20220719.xlsx',
       'Dispersión-FP 2022-07-19.xlsx', 'Dispersión-20220720.xlsx',
       'Dispersión-FP 2022-07-20.xlsx', 'Dispersión-20220721.xlsx',
       'Dispersión-FP 2022-07-21.xlsx', 'Dispersión-20220722.xlsx',
       'Dispersión-FP 2022-07-22.xlsx', 'Dispersión-20220723.xlsx',
       'Dispersión-FP 2022-07-23.xlsx', 'Dispersión-20220724.xlsx',
       'Dispersión-FP 2022-07-24.xlsx', 'Dispersión-20220725.xlsx',
       'Dispersión-FP 2022-07-25.xlsx', 'Dispersión-20220726.xlsx',
       'Dispersión-FP 2022-07-26.xlsx', 'Dispersión-20220727.xlsx',
       'Dispersión-FP 2022-07-27.xlsx', 'Dispersión-20220728.xlsx',
       'Dispersión-FP 2022-07-28.xlsx', 'Dispersión-20220729.xlsx',
       'Dispersión-FP 2022-07-29.xlsx'], dtype=object)

In [40]:
not_found_1 = check_1[((check_1['file_name_y'].isnull()) | (check_1['file_name_y'].isin(['NO ENCONTRADO'])))
                        & (check_1['total_due_x'] != 0)]
not_found_1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_due_x,type,created_date,created_time,updated_date,updated_time,file_name_x,total_due_y,tipo,file_name_y
99,b6f86f3f-5ed6-49c6-85d4-3963f68f99c2,ESTAMPARTE,vehktor96@hotmail.com,V97FVD4WS,2022-07-01,0.00,0.00,0.00,0.00,0.00,...,2.00,DAILY,2022-07-01,02:00:49,2022-07-01,02:00:49,SETTLEMENT 2022-07-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
198,b6f037c4-53b3-4abb-b173-a75370757fb5,PACOS,lupitalunas68@gmail.com,ZTFJKHM8Z,2022-07-01,156.00,5.62,0.90,0.00,0.00,...,149.48,DAILY,2022-07-01,02:01:10,2022-07-01,02:01:10,SETTLEMENT 2022-07-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
421,87ab3df2-fdc3-4d52-8e02-bcf6d05df128,D DISTRIBUIDORA DE MARYS,marysb5@live.com,C5QTM44D4,2022-07-01,80.00,2.88,0.46,0.00,0.00,...,76.66,DAILY,2022-07-01,02:02:00,2022-07-01,02:02:00,SETTLEMENT 2022-07-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
517,5a4a0030-943a-4552-b1cf-ecb23b555b51,FUNDAS PARA CELULAR,alvaroornelasgomez@gmail.com,V9TXFDJQB,2022-07-01,0.00,0.00,0.00,0.00,0.00,...,12.00,DAILY,2022-07-01,02:02:24,2022-07-01,02:02:24,SETTLEMENT 2022-07-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
566,85508d7c-c8f5-4334-9fa8-b2fcfa3c3005,BOLSASYMASCUU,briana_saenz@hotmail.com,3BN65GPZ8,2022-07-01,15.00,0.54,0.09,0.00,0.00,...,14.37,DAILY,2022-07-01,02:02:41,2022-07-01,02:02:41,SETTLEMENT 2022-07-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO

In [41]:
not_found_1.shape

(7996, 29)

In [42]:
group_notfound = not_found_1.groupby(['report_date_local']).agg({'total_due_x':sum,'report_id':'count'}).reset_index()
group_notfound.rename(columns={'report_date_local':'date_file'},inplace=True)
group_notfound.head()

   date_file  total_due_x  report_id
0 2022-07-01   160,050.09        336
1 2022-07-02   186,323.39        305
2 2022-07-03   237,835.10        305
3 2022-07-04   150,434.87        220
4 2022-07-05   142,549.19        230

In [43]:
group_notfound.shape

(29, 3)

#### REPROGRAMACIONES

In [44]:
repro = allpagos[(allpagos['tipo'].isin(['Reprogramación']))]
repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Banco_emisor,file_name,date_file,swap,CEP,Time
0,DAILY,55d01b24-af09-4f23-9d74-97b5d8891ef5,Los Artesanos,losartesanoscancun@gmail.com,D4Q2RLQV7,2022-05-17,"2,108.13",Reprogramación,BBVA BANCOMER,Jose Hector Herrera Fernandez,12180015828077820,ERROR,NaN,NaN,Dispersión-20220701.xlsx,2022-07-01,NaN,NaN,NaN
61763,DAILY,00f9645c-716c-47ec-8612-431887da0c83,Materiales Anturios,cabalalondra84@gmail.com,5MM63GSG2,2022-06-22,0.95,Reprogramación,BANCOPPEL,Remedios gomez Jimenez,137855103667517139,PAID,"2022-07-01,2022070140014 HDH0001467159280,4001...",SANTANDER,Dispersión-20220701.xlsx,2022-07-01,NaN,NaN,NaN
62283,DAILY,0173c722-6cc5-4edb-8604-206e083cc314,Santiago Apostol,saintiago.apostol@gmail.com,WNWVL3S6R,2022-06-30,481.57,Reprogramación,SANTANDER,Paulina Hernndez Mendoza,14680250120569302,PAID,COMPROBANTE MISMO BANCO SANTANDER,SANTANDER,Dispersión-20220701.xlsx,2022-07-01,NaN,NaN,NaN
62284,DAILY,0173c722-6cc5-4edb-8604-206e083cc314,Santiago Apostol,saintiago.apostol@gmail.com,Z64PFRX7G,2022-06-29,665.01,Reprogramación,SANTANDER,Paulina Hernndez Mendoza,14680250120569302,PAID,COMPROBANTE MISMO BANCO SANTANDER,SANTANDER,Dispersión-20220701.xlsx,2022-07-01,NaN,NaN,NaN
62287,DAILY,0173c722-6cc5-4edb-8604-206e083cc314,Santiago Apostol,saintiago.apostol@gmail.com,RJHZXTQT8,2022-06-25,"4,837.18",Reprogramación,SANTANDER,Paulina Hernndez Mendoza,14680250120569302,PAID,COMPROBANTE MISMO BANCO SANTANDER,SANTANDER,Dispersión-20220701.xlsx,2022-07-01,NaN,NaN,NaN

In [45]:
repro.shape

(16212, 19)

In [46]:
group_repro = repro.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_repro.head()

   date_file    total_due  report_id
0 2022-07-01 1,266,578.89        850
1 2022-07-02 3,541,218.92       2917
2 2022-07-03   687,841.30        420
3 2022-07-04   919,196.66        783
4 2022-07-05   959,088.01        628

In [47]:
group_repro.shape

(29, 3)

# SEGUNDO MATCH (IDENTIFICACION DE REPROGRAMACIONES)

In [48]:
check_2 = not_found_1.merge(repro[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_2.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,created_time,updated_date,updated_time,file_name_x,total_due_y,tipo_x,file_name_y,total_due,tipo_y,file_name
0,b6f86f3f-5ed6-49c6-85d4-3963f68f99c2,ESTAMPARTE,vehktor96@hotmail.com,V97FVD4WS,2022-07-01,0.00,0.00,0.00,0.00,0.00,...,02:00:49,2022-07-01,02:00:49,SETTLEMENT 2022-07-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2.00,Reprogramación,Dispersión-20220708.xlsx
1,b6f037c4-53b3-4abb-b173-a75370757fb5,PACOS,lupitalunas68@gmail.com,ZTFJKHM8Z,2022-07-01,156.00,5.62,0.90,0.00,0.00,...,02:01:10,2022-07-01,02:01:10,SETTLEMENT 2022-07-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,149.48,Reprogramación,Dispersión-20220726.xlsx
2,87ab3df2-fdc3-4d52-8e02-bcf6d05df128,D DISTRIBUIDORA DE MARYS,marysb5@live.com,C5QTM44D4,2022-07-01,80.00,2.88,0.46,0.00,0.00,...,02:02:00,2022-07-01,02:02:00,SETTLEMENT 2022-07-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,76.66,Reprogramación,Dispersión-20220717.xlsx
3,5a4a0030-943a-4552-b1cf-ecb23b555b51,FUNDAS PARA CELULAR,alvaroornelasgomez@gmail.com,V9TXFDJQB,2022-07-01,0.00,0.00,0.00,0.00,0.00,...,02:02:24,2022-07-01,02:02:24,SETTLEMENT 2022-07-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,NaN,NaN,NaN
4,85508d7c-c8f5-4334-9fa8-b2fcfa3c3005,BOLSASYMASCUU,briana_saenz@hotmail.com,3BN65GPZ8,2022-07-01,15.00,0.54,0.09,0.00,0.00,...,02:02:41,2022-07-01,02:02:41,SETTLEMENT 2022-07-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,14.37,Reprogramación,Dispersión-20220702.xlsx

In [49]:
check_2.shape

(8004, 32)

In [50]:
# writer = pd.ExcelWriter('REPROGRAMACIONES JUNIO 2021.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})
# check_2.to_excel(writer, sheet_name='DETAIL REPROGRAMACIONES',index=False)
# writer.save()
# writer.close()

# FECHA DE PAGOS (SETTLED VS PAGOS DEL DIA)

In [51]:
fecha_pago = not_found_1.merge(repro[['report_id','date_file','tipo','status','file_name']] ,on='report_id', how='left')
fecha_pago.sort_values(by=['date_file'],ascending=True,inplace=True)
fecha_pago.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,updated_date,updated_time,file_name_x,total_due_y,tipo_x,file_name_y,date_file,tipo_y,status,file_name
79,c5884e72-c17b-4104-8ec6-41316cd7af05,COMEDORES KATY,katymarrerordz@gmail.com,GD8FHKLJY,2022-07-01,395.00,14.22,2.28,0.00,0.00,...,2022-07-01,03:19:42,SETTLEMENT 2022-07-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-07-02,Reprogramación,PAID,Dispersión-20220702.xlsx
166,0ce6d2ee-4b78-4d25-a152-cd4d219a3951,SPA MARY,torresolanmariadejesus@gmail.com,KHV89Y6DL,2022-07-01,0.01,0.00,0.00,0.00,0.00,...,2022-07-01,04:31:38,SETTLEMENT 2022-07-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-07-02,Reprogramación,PAID,Dispersión-20220702.xlsx
87,3d575eb3-023d-401e-98cf-5edc9877816e,LIBRERO EN ANDANZAS,echer243@gmail.com,HKMH8VZMQ,2022-07-01,200.00,7.20,1.15,0.00,0.00,...,2022-07-01,03:28:05,SETTLEMENT 2022-07-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-07-02,Reprogramación,PAID,Dispersión-20220702.xlsx
96,1d1237ef-4da1-4cd7-9d50-b87af2a47f4c,ANTOJITOS Y TORTILLERA PATY,vmartinezverdugo52@gmail.com,D9J4J9B9L,2022-07-01,0.00,0.00,0.00,0.00,0.00,...,2022-07-01,03:35:19,SETTLEMENT 2022-07-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-07-02,Reprogramación,PAID,Dispersión-20220702.xlsx
323,f5eaf670-43b4-4693-8518-2ba0ded41c94,ACCESORIOS PARA CELULAR,yanairt162226@gmail.com,RL6DD2XKK,2022-07-01,0.01,0.00,0.00,0.00,0.00,...,2022-07-01,06:40:49,SETTLEMENT 2022-07-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-07-02,Reprogramación,PAID,Dispersión-20220702.xlsx

In [52]:
fecha_pago.shape

(8004, 33)

In [53]:
fecha_pago.drop_duplicates(subset ='report_id',keep='first',inplace=True)

In [54]:
fecha_pago.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,updated_date,updated_time,file_name_x,total_due_y,tipo_x,file_name_y,date_file,tipo_y,status,file_name
79,c5884e72-c17b-4104-8ec6-41316cd7af05,COMEDORES KATY,katymarrerordz@gmail.com,GD8FHKLJY,2022-07-01,395.00,14.22,2.28,0.00,0.00,...,2022-07-01,03:19:42,SETTLEMENT 2022-07-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-07-02,Reprogramación,PAID,Dispersión-20220702.xlsx
166,0ce6d2ee-4b78-4d25-a152-cd4d219a3951,SPA MARY,torresolanmariadejesus@gmail.com,KHV89Y6DL,2022-07-01,0.01,0.00,0.00,0.00,0.00,...,2022-07-01,04:31:38,SETTLEMENT 2022-07-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-07-02,Reprogramación,PAID,Dispersión-20220702.xlsx
87,3d575eb3-023d-401e-98cf-5edc9877816e,LIBRERO EN ANDANZAS,echer243@gmail.com,HKMH8VZMQ,2022-07-01,200.00,7.20,1.15,0.00,0.00,...,2022-07-01,03:28:05,SETTLEMENT 2022-07-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-07-02,Reprogramación,PAID,Dispersión-20220702.xlsx
96,1d1237ef-4da1-4cd7-9d50-b87af2a47f4c,ANTOJITOS Y TORTILLERA PATY,vmartinezverdugo52@gmail.com,D9J4J9B9L,2022-07-01,0.00,0.00,0.00,0.00,0.00,...,2022-07-01,03:35:19,SETTLEMENT 2022-07-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-07-02,Reprogramación,PAID,Dispersión-20220702.xlsx
323,f5eaf670-43b4-4693-8518-2ba0ded41c94,ACCESORIOS PARA CELULAR,yanairt162226@gmail.com,RL6DD2XKK,2022-07-01,0.01,0.00,0.00,0.00,0.00,...,2022-07-01,06:40:49,SETTLEMENT 2022-07-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-07-02,Reprogramación,PAID,Dispersión-20220702.xlsx

In [55]:
fecha_pago.shape

(7996, 33)

### AGRUPADO POR DÍA

In [56]:
pivot_fecha_pago = pd.pivot_table(fecha_pago,index=['report_date_local'],
                                  values=['total_due_x'],aggfunc = ['sum', len],margins=True)
pivot_fecha_pago.head()

                            sum         len
                    total_due_x total_due_x
report_date_local
2022-07-01 00:00:00  160,050.09         336
2022-07-02 00:00:00  186,323.39         305
2022-07-03 00:00:00  237,835.10         305
2022-07-04 00:00:00  150,434.87         220
2022-07-05 00:00:00  142,549.19         230

In [57]:
pivot_fecha_pago.shape

(30, 2)

# PAGOS MANUALES

In [58]:
file_manual = glob.glob(r'G:\My Drive\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2022\07. JULY\MANUALES\*.xlsx', recursive=False)
file_manual

['G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\07. JULY\\MANUALES\\Manuales 2022.07.01 - 2022.07.04.xlsx',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\07. JULY\\MANUALES\\Manuales 2022.07.05 - 2022.07.11.xlsx',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\07. JULY\\MANUALES\\Manuales 2022.07.12 - 2022.07.17.xlsx',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\07. JULY\\MANUALES\\Manuales 2022.07.18 - 2022.07.25.xlsx',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\07. JULY\\MANUALES\\Manuales 2022.07.26.xlsx',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\07. JULY\\MANUALES\\Manuales 2022.07.29.xlsx']

In [59]:
manuales_all = pd.concat([pd.read_excel(f,sheet_name='Formato Pago Manual',skiprows=1
                                      ,converters={'Cta. CLABE de depósito':str,'report_id':str})
                          .assign(file_name=os.path.basename(f)) for f in file_manual])
manuales_all['Date']= pd.to_datetime(manuales_all['Date'])  
manuales_all['Tipo'] = 'MANUAL'

In [60]:
manuales_final = manuales_all[['Date','ME ID','ME NAME',' (mxn)','Banco','Justificación para el pago','Tipo','Report ID']]
manuales_final.head()

,Date,ME ID,ME NAME,(mxn),Banco,Justificación para el pago,Tipo,Report ID
0,2022-07-04,47e8c921-5d66-414d-9262-8e0c62a1f4d2,LA PULMONIA,"4,999.00","BBVA Bancomer, S.A.",Reembolso por servicio de lector,MANUAL,NaN
1,2022-07-04,4be228a7-115f-442b-9830-fe073b86488a,FLOWER,239.00,"BBVA Bancomer, S.A.",Pagos manuales - CUPONES,MANUAL,NaN
2,2022-07-04,7e7ad189-7f4c-48bb-a4e7-4cc23e32ea3e,CESAR MEDRANO,239.00,"Banco Santander, S.A.",Pagos manuales - CUPONES,MANUAL,NaN
3,2022-07-04,5b4e9adb-0c23-4f95-86eb-ba9fd9a04b8f,ALINEACION Y BALANCEO DEL NORTE,223.06,"Banco del Bajio, S.A.",Alineacion y Balanceo del Norte,MANUAL,NaN
4,2022-07-04,43c5c21d-1275-4576-b47c-5331fad03d95,SOCIEDAD LLANTERA SA DE CV,8.07,"BBVA Bancomer, S.A.",Reembolso: sllclip@sociedadllantera.com,MANUAL,NaN

In [61]:
manuales_final.shape

(16, 8)

In [62]:
manuales_final.columns

Index(['Date', 'ME ID', 'ME NAME', ' (mxn)', 'Banco',
       'Justificación para el pago', 'Tipo', 'Report ID'],
      dtype='object')

In [63]:
group_manual = manuales_final.groupby(['Date']).agg({' (mxn)':sum,'Report ID':'count'}).reset_index()
group_manual.rename(columns={'Date':'date_file','Report ID':'report_id'},inplace=True)
group_manual.head()

   date_file     (mxn)  report_id
0 2022-07-04  5,947.13          0
1 2022-07-06    189.00          0
2 2022-07-13  3,092.46          0
3 2022-07-18 22,526.72          0
4 2022-07-29    599.00          0

In [64]:
group_manual.shape

(5, 3)

# ACUMULADOS SETTLEMENT

In [65]:
conc_disp = cum_distinct_0.groupby(['report_date_local']).agg({'total_due':sum,'report_id':'count'}).reset_index()
conc_disp.rename(columns={'report_date_local':'date_file'}, inplace=True)
conc_disp.head()

   date_file      total_due  report_id
0 2022-07-01 182,010,596.75      97911
1 2022-07-02 196,840,149.48     101332
2 2022-07-03 212,647,905.98      98723
3 2022-07-04 146,206,861.18      69800
4 2022-07-05 153,400,646.27      85748

In [66]:
conc_disp.shape

(29, 3)

# MERGING ALL DATA FRAMES

In [67]:
total_1 = conc_disp.merge(group_repro[['date_file','total_due','report_id']],on='date_file',how='left') \
.merge(group_manual,on='date_file',how='left')
total_1[' (mxn)'].fillna(0,inplace=True)
total_1['report_id'].fillna(0,inplace=True)
total_1.head()

,date_file,total_due_x,report_id_x,total_due_y,report_id_y,(mxn),report_id
0,2022-07-01,"182,010,596.75",97911,"1,266,578.89",850,0.00,0.00
1,2022-07-02,"196,840,149.48",101332,"3,541,218.92",2917,0.00,0.00
2,2022-07-03,"212,647,905.98",98723,"687,841.30",420,0.00,0.00
3,2022-07-04,"146,206,861.18",69800,"919,196.66",783,"5,947.13",0.00
4,2022-07-05,"153,400,646.27",85748,"959,088.01",628,0.00,0.00

In [68]:
total_1['count_total_pago_dia'] = total_1['report_id_x'] + total_1['report_id_y'] + total_1['report_id']
total_1['sum_total_pago_dia'] = total_1['total_due_x'] + total_1['total_due_y'] + total_1[' (mxn)']

In [69]:
total_1

,date_file,total_due_x,report_id_x,total_due_y,report_id_y,(mxn),report_id,count_total_pago_dia,sum_total_pago_dia
0,2022-07-01,"182,010,596.75",97911,"1,266,578.89",850,0.00,0.00,"98,761.00","183,277,175.64"
1,2022-07-02,"196,840,149.48",101332,"3,541,218.92",2917,0.00,0.00,"104,249.00","200,381,368.40"
2,2022-07-03,"212,647,905.98",98723,"687,841.30",420,0.00,0.00,"99,143.00","213,335,747.28"
3,2022-07-04,"146,206,861.18",69800,"919,196.66",783,"5,947.13",0.00,"70,583.00","147,132,004.97"
4,2022-07-05,"153,400,646.27",85748,"959,088.01",628,0.00,0.00,"86,376.00","154,359,734.28"
5,2022-07-06,"152,325,858.27",86820,"533,927.92",463,189.00,0.00,"87,283.00","152,859,975.19"
6,2022-07-07,"155,279,161.19",89472,"763,098.83",314,0.00,0.00,"89,786.00","156,042,260.02"
7,2022-07-08,"160,934,168.02",92204,"804,002.60",639,0.00,0.00,"92,843.00","161,738,170.62"
8,2022-07-09,"181,862,016.32",97502,"629,210.48",756,0.00,0.00,"98,258.00","182,491,226.80"
9,2022-07-10,"201,760,670.88",96080,"297,096.45",310,0.00,0.00,"96,390.00","202,057,767.33"
10,2022-07-11,"137,671,401.50",67839,"476,228.56",367,0.00,0.00,"68,206.00","138,147,630.06"
11,2022-07-12,"145,050,277.91",83352,"759,320.22",667,0.00,0.00,"84,019.00","145,809,598.13"
12,2022-07-13,"146,091,832.57",85904,"566,885.47",503,"3,092.46",0.00,"86,407.00","146,661,810.50"
13,2022-07-14,"156,430,656.49",88882,"582,454.42",287,0.00,0.00,"89,169.00","157,013,110.91"
14,2022-07-15,"174,215,896.12",95440,"862,848.12",334,0.00,0.00,"95,774.00","175,078,744.24"
15,2022-07-16,"200,227,166.10",101796,"646,467.94",277,0.00,0.00,"102,073.00","200,873,634.04"
16,2022-07-17,"216,208,950.41",99104,"537,572.88",386,0.00,0.00,"99,490.00","216,746,523.29"
17,2022-07-18,"146,222,485.47",69600,"461,376.12",343,"22,526.72",0.00,"69,943.00","146,706,388.31"
18,2022-07-19,"153,828,827.70",85525,"969,460.25",482,0.00,0.00,"86,007.00","154,798,287.95"
19,2022-07-20,"156,393,204.57",87733,"774,238.48",366,0.00,0.00,"88,099.00","157,167,443.05"
20,2022-07-21,"164,130,610.24",90390,"494,607.08",499,0.00,0.00,"90,889.00","164,625,217.32"
21,2022-07-22,"175,794,773.45",94198,"779,387.55",474,0.00,0.00,"94,672.00","176,574,161.00"
22,2022-07-23,"194,360,466.63",98405,"666,511.08",348,0.00,0.00,"98,753.00","195,026,977.71"
23,2022-07-24,"208,454,930.21",96108,"722,930.28",657,0.00,0.00,"96,765.00","209,177,860.49"
24,2022-07-25,"142,790,311.41",67721,"586,178.27",287,0.00,0.00,"68,008.00","143,376,489.68"
25,2022-07-26,"154,564,395.83",84952,"919,982.65",620,0.00,0.00,"85,572.00","155,484,378.48"
26,2022-07-27,"158,465,300.22",87191,"1,286,719.64",463,0.00,0.00,"87,654.00","159,752,019.86"
27,2022-07-28,"163,910,219.42",88433,"498,323.09",433,0.00,0.00,"88,866.00","164,408,542.51"
28,2022-07-29,"182,399,367.16",94279,"658,934.07",339,599.00,0.00,"94,618.00","183,058,900.23"

# ACUMULADOS PAGO DEL DIA

In [70]:
total_2 = group_allpagos.merge(group_notfound[['date_file','total_due_x','report_id']],on='date_file',how='left')\
.merge(group_manual,on='date_file',how='left')
total_2[' (mxn)'].fillna(0,inplace=True)
total_2['report_id'].fillna(0,inplace=True)
total_2['total_due_x'].fillna(0,inplace=True)
total_2['report_id_y'].fillna(0,inplace=True)
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id
0,2022-07-01,"183,117,125.55",98425,"160,050.09",336,0.00,0.00
1,2022-07-02,"200,195,045.01",103944,"186,323.39",305,0.00,0.00
2,2022-07-03,"213,097,912.18",98838,"237,835.10",305,0.00,0.00
3,2022-07-04,"146,975,622.97",70363,"150,434.87",220,"5,947.13",0.00
4,2022-07-05,"154,217,185.09",86146,"142,549.19",230,0.00,0.00

In [71]:
total_2['count_swap_dia'] = total_2['report_id_x'] + total_2['report_id_y'] + total_2['report_id']
total_2['sum_swap_dia'] = total_2['total_due'] + total_2['total_due_x'] + total_2[' (mxn)']

In [72]:
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id,count_swap_dia,sum_swap_dia
0,2022-07-01,"183,117,125.55",98425,"160,050.09",336,0.00,0.00,"98,761.00","183,277,175.64"
1,2022-07-02,"200,195,045.01",103944,"186,323.39",305,0.00,0.00,"104,249.00","200,381,368.40"
2,2022-07-03,"213,097,912.18",98838,"237,835.10",305,0.00,0.00,"99,143.00","213,335,747.28"
3,2022-07-04,"146,975,622.97",70363,"150,434.87",220,"5,947.13",0.00,"70,583.00","147,132,004.97"
4,2022-07-05,"154,217,185.09",86146,"142,549.19",230,0.00,0.00,"86,376.00","154,359,734.28"

In [73]:
total_2.shape

(29, 9)

# COMPARACION FINAL

In [74]:
final_comparacion = total_1[['date_file','count_total_pago_dia','sum_total_pago_dia']] \
.merge(total_2[['date_file','count_swap_dia','sum_swap_dia']],on='date_file',how='left')
final_comparacion.head()

,date_file,count_total_pago_dia,sum_total_pago_dia,count_swap_dia,sum_swap_dia
0,2022-07-01,"98,761.00","183,277,175.64","98,761.00","183,277,175.64"
1,2022-07-02,"104,249.00","200,381,368.40","104,249.00","200,381,368.40"
2,2022-07-03,"99,143.00","213,335,747.28","99,143.00","213,335,747.28"
3,2022-07-04,"70,583.00","147,132,004.97","70,583.00","147,132,004.97"
4,2022-07-05,"86,376.00","154,359,734.28","86,376.00","154,359,734.28"

In [75]:
final_comparacion['diff_count'] = final_comparacion['count_total_pago_dia'] - final_comparacion['count_swap_dia']
final_comparacion['diff_sum'] = final_comparacion['sum_total_pago_dia'] - final_comparacion['sum_swap_dia']

In [76]:
final_comparacion

,date_file,count_total_pago_dia,sum_total_pago_dia,count_swap_dia,sum_swap_dia,diff_count,diff_sum
0,2022-07-01,"98,761.00","183,277,175.64","98,761.00","183,277,175.64",0.00,-0.00
1,2022-07-02,"104,249.00","200,381,368.40","104,249.00","200,381,368.40",0.00,0.00
2,2022-07-03,"99,143.00","213,335,747.28","99,143.00","213,335,747.28",0.00,0.00
3,2022-07-04,"70,583.00","147,132,004.97","70,583.00","147,132,004.97",0.00,0.00
4,2022-07-05,"86,376.00","154,359,734.28","86,376.00","154,359,734.28",0.00,0.00
5,2022-07-06,"87,283.00","152,859,975.19","87,283.00","152,859,975.19",0.00,0.00
6,2022-07-07,"89,786.00","156,042,260.02","89,786.00","156,042,260.02",0.00,0.00
7,2022-07-08,"92,843.00","161,738,170.62","92,843.00","161,738,170.62",0.00,0.00
8,2022-07-09,"98,258.00","182,491,226.80","98,258.00","182,491,226.80",0.00,-0.00
9,2022-07-10,"96,390.00","202,057,767.33","96,390.00","202,057,767.33",0.00,-0.00
10,2022-07-11,"68,206.00","138,147,630.06","68,207.00","138,155,565.06",-1.00,"-7,935.00"
11,2022-07-12,"84,019.00","145,809,598.13","84,019.00","145,809,598.13",0.00,0.00
12,2022-07-13,"86,407.00","146,661,810.50","86,407.00","146,661,810.50",0.00,0.00
13,2022-07-14,"89,169.00","157,013,110.91","89,169.00","157,013,110.91",0.00,-0.00
14,2022-07-15,"95,774.00","175,078,744.24","95,774.00","175,078,744.24",0.00,0.00
15,2022-07-16,"102,073.00","200,873,634.04","102,073.00","200,873,634.04",0.00,0.00
16,2022-07-17,"99,490.00","216,746,523.29","99,490.00","216,746,523.29",0.00,0.00
17,2022-07-18,"69,943.00","146,706,388.31","69,943.00","146,706,388.31",0.00,0.00
18,2022-07-19,"86,007.00","154,798,287.95","86,007.00","154,798,287.95",0.00,-0.00
19,2022-07-20,"88,099.00","157,167,443.05","88,099.00","157,167,443.05",0.00,0.00
20,2022-07-21,"90,889.00","164,625,217.32","90,889.00","164,625,217.32",0.00,0.00
21,2022-07-22,"94,672.00","176,574,161.00","94,672.00","176,574,161.00",0.00,0.00
22,2022-07-23,"98,753.00","195,026,977.71","98,753.00","195,026,977.71",0.00,0.00
23,2022-07-24,"96,765.00","209,177,860.49","96,765.00","209,177,860.49",0.00,0.00
24,2022-07-25,"68,008.00","143,376,489.68","68,008.00","143,376,489.68",0.00,0.00
25,2022-07-26,"85,572.00","155,484,378.48","85,573.00","155,484,718.49",-1.00,-340.01
26,2022-07-27,"87,654.00","159,752,019.86","87,654.00","159,752,019.86",0.00,-0.00
27,2022-07-28,"88,866.00","164,408,542.51","88,866.00","164,408,542.51",0.00,0.00
28,2022-07-29,"94,618.00","183,058,900.23","94,618.00","183,058,900.23",0.00,0.00

In [77]:
writer = pd.ExcelWriter('FASE III. SETTLED VS PAGO DIA JULIO 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_fecha_pago.to_excel(writer, sheet_name='ENVIADOS POSTERIOR')
fecha_pago.to_excel(writer, sheet_name='DETAIL NO ENCONTRADO',index=False)
#pivot_duplicates_trad.to_excel(writer, sheet_name='PAGOS DUPLICADOS')
pivot_duplicates_fp.to_excel(writer, sheet_name='FP PAGOS DUPLICADOS')
group_manual.to_excel(writer, sheet_name='PAGOS MANUALES')
writer.close()