In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
from functools import reduce
pd.options.display.float_format = '{:,.2f}'.format

#### ACUMULADO

In [2]:
cumfiles = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\11. NOVIEMBRE\QUERIES\*.csv', recursive=False)
cumfiles

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-29.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\QUERIES\\SETTLEMENT 2022-11-30.csv']

In [3]:
cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
cum_1.columns = cum_1.columns.str.strip().str.lower() 
cum_1['report_date_local']= pd.to_datetime(cum_1['report_date_local']) 
cum_1.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5028\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5028\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5028\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5028\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5028\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5028\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5028\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5028\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5028\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,tipopago
0,285e56bc-330e-427b-8a77-d12c09286e56,ABARROTES Y CARNICERA EL CHILIN,arevalorocio987@gmail.com,D2VB7CD6H,2022-11-01,82.00,2.95,0.48,0.00,0.00,...,0.00,NaN,78.57,DAILY,2022-11-01,02:00:29,2022-11-01,02:00:29,SETTLEMENT 2022-11-01.csv,NaN
1,56dfd220-a7a0-4777-b81f-c2457f51d1b6,DOCTORSTORE,hector.vieyrasc@gmail.com,78HSQC2DD,2022-11-01,385.00,13.86,2.22,0.00,0.00,...,0.00,NaN,368.92,DAILY,2022-11-01,02:00:30,2022-11-01,02:00:30,SETTLEMENT 2022-11-01.csv,NaN
2,dea6de9c-7d7b-4611-8db8-b71a17b79a6c,TIO PACO,paoyxim@gmail.com,D6DJQ65VL,2022-11-01,270.00,9.72,1.56,0.00,0.00,...,0.00,NaN,258.72,DAILY,2022-11-01,02:00:30,2022-11-01,02:00:30,SETTLEMENT 2022-11-01.csv,NaN
3,0dfd920b-c2b3-43dd-9108-ec285db21f1e,MARESH,Maresh20221@outlook.com,KF4S45WLC,2022-11-01,29.12,1.05,0.17,0.00,0.00,...,0.00,NaN,27.90,DAILY,2022-11-01,02:00:30,2022-11-01,02:00:30,SETTLEMENT 2022-11-01.csv,NaN
4,567b732f-6165-4cbd-b402-4ef5d7b00aed,TLAPALERIA RAQUEL,taviralugor@gmail.com,KFMPLRB3S,2022-11-01,670.00,24.12,3.86,0.00,0.00,...,0.00,NaN,642.02,DAILY,2022-11-01,02:00:30,2022-11-01,02:00:30,SETTLEMENT 2022-11-01.csv,NaN

In [4]:
cum_1.shape

(2849038, 27)

In [5]:
cum_distinct_0 = cum_1[(cum_1['total_due'] != 0)]
cum_distinct_0.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,tipopago
0,285e56bc-330e-427b-8a77-d12c09286e56,ABARROTES Y CARNICERA EL CHILIN,arevalorocio987@gmail.com,D2VB7CD6H,2022-11-01,82.00,2.95,0.48,0.00,0.00,...,0.00,NaN,78.57,DAILY,2022-11-01,02:00:29,2022-11-01,02:00:29,SETTLEMENT 2022-11-01.csv,NaN
1,56dfd220-a7a0-4777-b81f-c2457f51d1b6,DOCTORSTORE,hector.vieyrasc@gmail.com,78HSQC2DD,2022-11-01,385.00,13.86,2.22,0.00,0.00,...,0.00,NaN,368.92,DAILY,2022-11-01,02:00:30,2022-11-01,02:00:30,SETTLEMENT 2022-11-01.csv,NaN
2,dea6de9c-7d7b-4611-8db8-b71a17b79a6c,TIO PACO,paoyxim@gmail.com,D6DJQ65VL,2022-11-01,270.00,9.72,1.56,0.00,0.00,...,0.00,NaN,258.72,DAILY,2022-11-01,02:00:30,2022-11-01,02:00:30,SETTLEMENT 2022-11-01.csv,NaN
3,0dfd920b-c2b3-43dd-9108-ec285db21f1e,MARESH,Maresh20221@outlook.com,KF4S45WLC,2022-11-01,29.12,1.05,0.17,0.00,0.00,...,0.00,NaN,27.90,DAILY,2022-11-01,02:00:30,2022-11-01,02:00:30,SETTLEMENT 2022-11-01.csv,NaN
4,567b732f-6165-4cbd-b402-4ef5d7b00aed,TLAPALERIA RAQUEL,taviralugor@gmail.com,KFMPLRB3S,2022-11-01,670.00,24.12,3.86,0.00,0.00,...,0.00,NaN,642.02,DAILY,2022-11-01,02:00:30,2022-11-01,02:00:30,SETTLEMENT 2022-11-01.csv,NaN

In [6]:
cum_distinct_0.shape

(2847886, 27)

#### PAGOS DE DISPERSIONES

In [7]:
pagos_dia_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\11. NOVIEMBRE\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
pagos_dia_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221101.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221102.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221103.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221104.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221105.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221106.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221107.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221108.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221109.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221110.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221111.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221112.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221113.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221114.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221115.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221116.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221117.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221118.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221119.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221120.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221121.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221122.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221123.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221124.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221125.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221126.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221127.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221128.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221129.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221130.xlsx']

In [8]:
pagos_1 = pd.concat([pd.read_excel(f,sheet_name='Swap del día').assign(file_name=os.path.basename(f)) for f in pagos_dia_files_1])
pagos_1['date_file'] = pagos_1["file_name"].str[-13:-5]
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'], format='%Y%m%d').dt.date
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'])
pagos_1.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_1['report_date_local']= pd.to_datetime(pagos_1['report_date_local']) 
pagos_1.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file
0,DAILY,00582624-a7b2-4865-80d2-dfab60f15ff0,super jazmin,efrariver140616@gmail.com,JTMGC8BS8,2022-08-17,"38,921.80",Reprogramación,BANORTE/IXE,Yolanda Valdez Rosa,72238011898630992,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01
60752,DAILY,aa8835e9-d0e9-4034-a20d-f0f3b08a9793,Farmacia Guadalupana,fguadalupana4c@hotmail.com,SQH5TPGJH,2022-11-01,373.90,Pago del día,SANTANDER,MONICA LIZETH SANTOS CASTRO,14075605539982963,PAID,COMPROBANTE MISMO BANCO SANTANDER,01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01
60751,DAILY,aa877403-d775-4b57-8e35-c516196d5d3e,Gandhu,jardingandhi@hotmail.com,QBQZ6PZBJ,2022-11-01,"3,449.67",Pago del día,BANAMEX,Maria Guadalupe Olivares Fernandez,2180700787522524,PAID,"2022-11-01,2022110140014HDH0001414006050,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01
60750,DAILY,aa86764b-b3c9-4702-bac1-df1ae7eca0a6,GREEN CAFETERIA URN,abdiel.beltranp@gmail.com,DGRTGNZR6,2022-11-01,"1,993.07",Pago del día,BBVA BANCOMER,Abdiel Armando Beltrán Pérez,12150001087846399,PAID,"2022-11-01,2022110140014HDH0001414006060,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01
60749,DAILY,aa846165-2179-4648-a0c8-ff56d0700f8f,ShowTime,montana_musiccity50@hotmail.com,QL9TXKBQB,2022-11-01,"3,602.80",Pago del día,BANAMEX,Jose Antonio Villanueva Sanchez,2180701685464301,PAID,"2022-11-01,2022110140014HDH0001414006020,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01

In [9]:
pagos_1.shape

(2732549, 17)

In [10]:
pagos_1['report_date_local'].unique()

array(['2022-08-17T00:00:00.000000000', '2022-11-01T00:00:00.000000000',
       '2022-10-23T00:00:00.000000000', '2022-10-22T00:00:00.000000000',
       '2022-10-21T00:00:00.000000000', '2022-10-20T00:00:00.000000000',
       '2022-10-19T00:00:00.000000000', '2022-10-29T00:00:00.000000000',
       '2022-10-26T00:00:00.000000000', '2022-10-30T00:00:00.000000000',
       '2022-10-27T00:00:00.000000000', '2022-10-31T00:00:00.000000000',
       '2022-10-28T00:00:00.000000000', '2022-06-28T00:00:00.000000000',
       '2022-07-17T00:00:00.000000000', '2022-09-30T00:00:00.000000000',
       '2022-09-29T00:00:00.000000000', '2022-09-28T00:00:00.000000000',
       '2022-09-26T00:00:00.000000000', '2022-09-25T00:00:00.000000000',
       '2022-09-24T00:00:00.000000000', '2022-09-23T00:00:00.000000000',
       '2022-09-22T00:00:00.000000000', '2022-09-21T00:00:00.000000000',
       '2022-09-18T00:00:00.000000000', '2022-09-17T00:00:00.000000000',
       '2022-09-19T00:00:00.000000000', '2022-07-09T00:00:00.000000000',
       '2022-07-16T00:00:00.000000000', '2022-10-17T00:00:00.000000000',
       '2022-10-25T00:00:00.000000000', '2022-10-18T00:00:00.000000000',
       '2022-01-29T00:00:00.000000000', '2022-10-01T00:00:00.000000000',
       '2022-09-14T00:00:00.000000000', '2022-10-14T00:00:00.000000000',
       '2022-10-10T00:00:00.000000000', '2022-10-24T00:00:00.000000000',
       '2022-10-16T00:00:00.000000000', '2022-10-15T00:00:00.000000000',
       '2021-09-07T00:00:00.000000000', '2022-10-12T00:00:00.000000000',
       '2021-02-24T00:00:00.000000000', '2022-01-24T00:00:00.000000000',
       '2021-12-14T00:00:00.000000000', '2022-07-18T00:00:00.000000000',
       '2022-10-13T00:00:00.000000000', '2022-09-27T00:00:00.000000000',
       '2021-04-30T00:00:00.000000000', '2021-02-22T00:00:00.000000000',
       '2022-03-05T00:00:00.000000000', '2021-02-27T00:00:00.000000000',
       '2021-02-21T00:00:00.000000000', '2021-02-20T00:00:00.000000000',
       '2021-02-06T00:00:00.000000000', '2021-12-22T00:00:00.000000000',
       '2022-10-11T00:00:00.000000000', '2022-08-31T00:00:00.000000000',
       '2022-08-28T00:00:00.000000000', '2022-08-30T00:00:00.000000000',
       '2022-08-27T00:00:00.000000000', '2022-07-06T00:00:00.000000000',
       '2022-08-26T00:00:00.000000000', '2022-08-25T00:00:00.000000000',
       '2022-08-21T00:00:00.000000000', '2022-08-20T00:00:00.000000000',
       '2022-08-19T00:00:00.000000000', '2022-08-18T00:00:00.000000000',
       '2022-08-14T00:00:00.000000000', '2022-08-13T00:00:00.000000000',
       '2022-08-11T00:00:00.000000000', '2022-08-07T00:00:00.000000000',
       '2022-08-06T00:00:00.000000000', '2022-08-05T00:00:00.000000000',
       '2022-08-04T00:00:00.000000000', '2022-08-02T00:00:00.000000000',
       '2022-07-20T00:00:00.000000000', '2022-07-10T00:00:00.000000000',
       '2022-07-08T00:00:00.000000000', '2022-08-29T00:00:00.000000000',
       '2022-10-05T00:00:00.000000000', '2021-02-25T00:00:00.000000000',
       '2021-02-04T00:00:00.000000000', '2021-02-05T00:00:00.000000000',
       '2022-06-27T00:00:00.000000000', '2022-08-16T00:00:00.000000000',
       '2022-08-15T00:00:00.000000000', '2022-08-22T00:00:00.000000000',
       '2022-08-23T00:00:00.000000000', '2022-08-24T00:00:00.000000000',
       '2022-10-07T00:00:00.000000000', '2022-10-04T00:00:00.000000000',
       '2022-10-03T00:00:00.000000000', '2022-05-08T00:00:00.000000000',
       '2022-10-08T00:00:00.000000000', '2022-09-09T00:00:00.000000000',
       '2022-09-05T00:00:00.000000000', '2022-05-13T00:00:00.000000000',
       '2022-04-29T00:00:00.000000000', '2022-04-26T00:00:00.000000000',
       '2022-04-18T00:00:00.000000000', '2022-05-19T00:00:00.000000000',
       '2018-08-28T00:00:00.000000000', '2021-02-15T00:00:00.000000000',
       '2022-09-07T00:00:00.000000000', '2021-10-23T00:00:00.000000000',
       '2018-03-06T00:00:00.000000000', '2022-10-09T00:00:00.000000000',
       '2021-11-21T00:00:00.000000000', '2022-10-02T00:00:00.000000000',
       '2022-10-06T00:00:00.000000000', '2022-06-09T00:00:00.000000000',
       '2022-06-04T00:00:00.000000000', '2022-04-24T00:00:00.000000000',
       '2022-04-08T00:00:00.000000000', '2022-04-03T00:00:00.000000000',
       '2022-03-30T00:00:00.000000000', '2022-03-26T00:00:00.000000000',
       '2022-03-21T00:00:00.000000000', '2022-03-17T00:00:00.000000000',
       '2022-03-10T00:00:00.000000000', '2022-02-23T00:00:00.000000000',
       '2022-02-19T00:00:00.000000000', '2021-06-29T00:00:00.000000000',
       '2022-05-20T00:00:00.000000000', '2022-03-15T00:00:00.000000000',
       '2020-10-25T00:00:00.000000000', '2020-12-26T00:00:00.000000000',
       '2020-05-08T00:00:00.000000000', '2020-04-30T00:00:00.000000000',
       '2020-04-16T00:00:00.000000000', '2020-04-14T00:00:00.000000000',
       '2020-04-06T00:00:00.000000000', '2020-03-31T00:00:00.000000000',
       '2022-11-02T00:00:00.000000000', '2022-09-15T00:00:00.000000000',
       '2022-09-02T00:00:00.000000000', '2021-01-04T00:00:00.000000000',
       '2021-11-26T00:00:00.000000000', '2021-11-18T00:00:00.000000000',
       '2021-11-15T00:00:00.000000000', '2021-09-30T00:00:00.000000000',
       '2021-09-27T00:00:00.000000000', '2021-09-25T00:00:00.000000000',
       '2022-05-06T00:00:00.000000000', '2022-08-12T00:00:00.000000000',
       '2022-07-22T00:00:00.000000000', '2022-07-14T00:00:00.000000000',
       '2022-07-13T00:00:00.000000000', '2022-09-08T00:00:00.000000000',
       '2022-08-08T00:00:00.000000000', '2022-07-30T00:00:00.000000000',
       '2022-06-10T00:00:00.000000000', '2022-06-05T00:00:00.000000000',
       '2022-05-27T00:00:00.000000000', '2022-05-15T00:00:00.000000000',
       '2022-04-23T00:00:00.000000000', '2022-04-05T00:00:00.000000000',
       '2022-09-20T00:00:00.000000000', '2022-09-16T00:00:00.000000000',
       '2022-09-13T00:00:00.000000000', '2022-09-12T00:00:00.000000000',
       '2022-09-10T00:00:00.000000000', '2022-09-04T00:00:00.000000000',
       '2022-09-03T00:00:00.000000000', '2022-09-01T00:00:00.000000000',
       '2022-01-16T00:00:00.000000000', '2021-12-28T00:00:00.000000000',
       '2022-06-30T00:00:00.000000000', '2022-05-28T00:00:00.000000000',
       '2022-07-24T00:00:00.000000000', '2022-08-10T00:00:00.000000000',
       '2022-06-24T00:00:00.000000000', '2022-06-11T00:00:00.000000000',
       '2022-06-07T00:00:00.000000000', '2022-05-24T00:00:00.000000000',
       '2022-06-26T00:00:00.000000000', '2022-05-18T00:00:00.000000000',
       '2022-05-04T00:00:00.000000000', '2022-04-19T00:00:00.000000000',
       '2021-12-26T00:00:00.000000000', '2021-10-26T00:00:00.000000000',
       '2022-04-22T00:00:00.000000000', '2022-04-25T00:00:00.000000000',
       '2021-09-29T00:00:00.000000000', '2021-09-24T00:00:00.000000000',
       '2021-09-22T00:00:00.000000000', '2021-09-19T00:00:00.000000000',
       '2021-11-23T00:00:00.000000000', '2021-11-22T00:00:00.000000000',
       '2021-10-29T00:00:00.000000000', '2021-11-24T00:00:00.000000000',
       '2021-11-25T00:00:00.000000000', '2021-11-27T00:00:00.000000000',
       '2022-02-28T00:00:00.000000000', '2022-02-27T00:00:00.000000000',
       '2022-02-26T00:00:00.000000000', '2022-02-25T00:00:00.000000000',
       '2022-02-24T00:00:00.000000000', '2022-02-22T00:00:00.000000000',
       '2022-02-21T00:00:00.000000000', '2022-03-25T00:00:00.000000000',
       '2022-01-31T00:00:00.000000000', '2022-01-30T00:00:00.000000000',
       '2022-01-28T00:00:00.000000000', '2022-01-27T00:00:00.000000000',
       '2021-11-30T00:00:00.000000000', '2021-11-29T00:00:00.000000000',
       '2021-11-28T00:00:00.000000000', '2022-02-18T00:00:00.000000000',
       '2022-03-28T00:00:00.000000000', '2022-03-29T00:00:00.000000000',
       '2022-08-03T00:00:00.000000000', '2022-07-21T00:00:00.000000000',
       '2022-07-19T00:00:00.000000000', '2022-06-23T00:00:00.000000000',
       '2022-06-21T00:00:00.000000000', '2022-05-29T00:00:00.000000000',
       '2022-03-31T00:00:00.000000000', '2022-09-06T00:00:00.000000000',
       '2022-09-11T00:00:00.000000000', '2022-06-13T00:00:00.000000000',
       '2021-10-27T00:00:00.000000000', '2021-10-28T00:00:00.000000000',
       '2021-09-28T00:00:00.000000000', '2021-09-23T00:00:00.000000000',
       '2022-01-12T00:00:00.000000000', '2022-08-09T00:00:00.000000000',
       '2021-08-31T00:00:00.000000000', '2022-11-03T00:00:00.000000000',
       '2021-06-30T00:00:00.000000000', '2022-04-16T00:00:00.000000000',
       '2022-04-15T00:00:00.000000000', '2020-12-28T00:00:00.000000000',
       '2022-11-04T00:00:00.000000000', '2021-12-31T00:00:00.000000000',
       '2021-06-21T00:00:00.000000000', '2021-02-23T00:00:00.000000000',
       '2021-12-27T00:00:00.000000000', '2021-12-25T00:00:00.000000000',
       '2021-12-23T00:00:00.000000000', '2021-12-05T00:00:00.000000000',
       '2021-12-04T00:00:00.000000000', '2021-12-02T00:00:00.000000000',
       '2020-09-25T00:00:00.000000000', '2021-09-11T00:00:00.000000000',
       '2021-11-13T00:00:00.000000000', '2021-11-06T00:00:00.000000000',
       '2021-11-02T00:00:00.000000000', '2022-05-03T00:00:00.000000000',
       '2022-07-27T00:00:00.000000000', '2022-07-05T00:00:00.000000000',
       '2022-07-11T00:00:00.000000000', '2022-07-04T00:00:00.000000000',
       '2022-07-03T00:00:00.000000000', '2022-08-01T00:00:00.000000000',
       '2022-07-31T00:00:00.000000000', '2022-07-25T00:00:00.000000000',
       '2022-07-23T00:00:00.000000000', '2021-01-05T00:00:00.000000000',
       '2020-08-08T00:00:00.000000000', '2022-04-07T00:00:00.000000000',
       '2022-11-05T00:00:00.000000000', '2021-12-06T00:00:00.000000000',
       '2021-10-04T00:00:00.000000000', '2021-07-20T00:00:00.000000000',
       '2021-02-19T00:00:00.000000000', '2021-02-18T00:00:00.000000000',
       '2021-02-14T00:00:00.000000000', '2021-02-12T00:00:00.000000000',
       '2021-02-26T00:00:00.000000000', '2022-07-26T00:00:00.000000000',
       '2021-02-02T00:00:00.000000000', '2022-07-15T00:00:00.000000000',
       '2022-06-08T00:00:00.000000000', '2022-04-04T00:00:00.000000000',
       '2021-05-10T00:00:00.000000000', '2022-05-31T00:00:00.000000000',
       '2022-05-26T00:00:00.000000000', '2022-04-30T00:00:00.000000000',
       '2022-04-27T00:00:00.000000000', '2021-12-30T00:00:00.000000000',
       '2021-10-30T00:00:00.000000000', '2021-11-14T00:00:00.000000000',
       '2022-04-28T00:00:00.000000000', '2021-02-03T00:00:00.000000000',
       '2018-04-11T00:00:00.000000000', '2022-06-20T00:00:00.000000000',
       '2021-09-26T00:00:00.000000000', '2021-05-11T00:00:00.000000000',
       '2022-05-09T00:00:00.000000000', '2021-08-30T00:00:00.000000000',
       '2021-12-16T00:00:00.000000000', '2022-11-06T00:00:00.000000000',
       '2022-07-02T00:00:00.000000000', '2022-07-01T00:00:00.000000000',
       '2022-06-15T00:00:00.000000000', '2022-06-06T00:00:00.000000000',
       '2022-06-02T00:00:00.000000000', '2022-05-16T00:00:00.000000000',
       '2022-07-12T00:00:00.000000000', '2022-01-05T00:00:00.000000000',
       '2021-12-17T00:00:00.000000000', '2021-12-07T00:00:00.000000000',
       '2021-10-19T00:00:00.000000000', '2021-10-15T00:00:00.000000000',
       '2021-10-07T00:00:00.000000000', '2021-09-18T00:00:00.000000000',
       '2021-12-20T00:00:00.000000000', '2022-11-07T00:00:00.000000000',
       '2021-05-07T00:00:00.000000000', '2021-04-01T00:00:00.000000000',
       '2022-11-08T00:00:00.000000000', '2022-05-25T00:00:00.000000000',
       '2022-06-22T00:00:00.000000000', '2022-06-18T00:00:00.000000000',
       '2022-06-12T00:00:00.000000000', '2022-06-03T00:00:00.000000000',
       '2022-05-21T00:00:00.000000000', '2022-05-17T00:00:00.000000000',
       '2022-05-07T00:00:00.000000000', '2022-04-21T00:00:00.000000000',
       '2022-04-20T00:00:00.000000000', '2022-04-14T00:00:00.000000000',
       '2022-04-13T00:00:00.000000000', '2022-04-10T00:00:00.000000000',
       '2022-07-28T00:00:00.000000000', '2022-06-25T00:00:00.000000000',
       '2022-04-09T00:00:00.000000000', '2022-04-06T00:00:00.000000000',
       '2022-04-02T00:00:00.000000000', '2022-03-27T00:00:00.000000000',
       '2022-03-23T00:00:00.000000000', '2022-03-16T00:00:00.000000000',
       '2021-12-03T00:00:00.000000000', '2021-04-16T00:00:00.000000000',
       '2019-11-25T00:00:00.000000000', '2022-07-29T00:00:00.000000000',
       '2022-06-29T00:00:00.000000000', '2022-06-19T00:00:00.000000000',
       '2022-06-17T00:00:00.000000000', '2022-06-16T00:00:00.000000000',
       '2021-12-24T00:00:00.000000000', '2019-12-20T00:00:00.000000000',
       '2019-12-16T00:00:00.000000000', '2019-12-10T00:00:00.000000000',
       '2019-12-30T00:00:00.000000000', '2022-11-09T00:00:00.000000000',
       '2021-10-05T00:00:00.000000000', '2021-11-12T00:00:00.000000000',
       '2021-12-09T00:00:00.000000000', '2021-11-11T00:00:00.000000000',
       '2021-09-10T00:00:00.000000000', '2021-09-12T00:00:00.000000000',
       '2019-07-30T00:00:00.000000000', '2022-11-10T00:00:00.000000000',
       '2017-12-19T00:00:00.000000000', '2021-11-20T00:00:00.000000000',
       '2021-10-08T00:00:00.000000000', '2022-11-11T00:00:00.000000000',
       '2019-05-15T00:00:00.000000000', '2019-05-08T00:00:00.000000000',
       '2022-03-14T00:00:00.000000000', '2022-05-22T00:00:00.000000000',
       '2022-05-10T00:00:00.000000000', '2022-05-01T00:00:00.000000000',
       '2022-03-11T00:00:00.000000000', '2022-03-09T00:00:00.000000000',
       '2022-03-08T00:00:00.000000000', '2022-03-04T00:00:00.000000000',
       '2022-02-04T00:00:00.000000000', '2022-01-08T00:00:00.000000000',
       '2022-01-01T00:00:00.000000000', '2021-12-29T00:00:00.000000000',
       '2021-12-12T00:00:00.000000000', '2021-11-16T00:00:00.000000000',
       '2021-09-21T00:00:00.000000000', '2021-09-09T00:00:00.000000000',
       '2021-09-08T00:00:00.000000000', '2022-02-13T00:00:00.000000000',
       '2019-12-23T00:00:00.000000000', '2022-05-02T00:00:00.000000000',
       '2022-03-20T00:00:00.000000000', '2021-10-06T00:00:00.000000000',
       '2022-06-01T00:00:00.000000000', '2020-10-04T00:00:00.000000000',
       '2021-02-07T00:00:00.000000000', '2022-11-12T00:00:00.000000000',
       '2022-04-01T00:00:00.000000000', '2022-06-14T00:00:00.000000000',
       '2022-07-07T00:00:00.000000000', '2022-11-13T00:00:00.000000000',
       '2022-01-10T00:00:00.000000000', '2022-01-09T00:00:00.000000000',
       '2022-01-07T00:00:00.000000000', '2022-01-06T00:00:00.000000000',
       '2022-01-04T00:00:00.000000000', '2021-12-19T00:00:00.000000000',
       '2021-12-15T00:00:00.000000000', '2021-12-13T00:00:00.000000000',
       '2021-12-10T00:00:00.000000000', '2022-01-11T00:00:00.000000000',
       '2022-01-14T00:00:00.000000000', '2022-01-20T00:00:00.000000000',
       '2022-02-17T00:00:00.000000000', '2022-02-15T00:00:00.000000000',
       '2022-02-12T00:00:00.000000000', '2022-02-11T00:00:00.000000000',
       '2022-02-10T00:00:00.000000000', '2022-02-09T00:00:00.000000000',
       '2022-02-08T00:00:00.000000000', '2022-02-07T00:00:00.000000000',
       '2022-02-06T00:00:00.000000000', '2022-02-05T00:00:00.000000000',
       '2022-02-03T00:00:00.000000000', '2022-02-02T00:00:00.000000000',
       '2022-01-23T00:00:00.000000000', '2022-01-22T00:00:00.000000000',
       '2022-01-21T00:00:00.000000000', '2021-12-08T00:00:00.000000000',
       '2021-10-22T00:00:00.000000000', '2021-10-20T00:00:00.000000000',
       '2021-10-18T00:00:00.000000000', '2021-10-17T00:00:00.000000000',
       '2021-10-16T00:00:00.000000000', '2021-10-14T00:00:00.000000000',
       '2021-10-13T00:00:00.000000000', '2021-10-10T00:00:00.000000000',
       '2021-11-03T00:00:00.000000000', '2021-11-05T00:00:00.000000000',
       '2021-11-10T00:00:00.000000000', '2021-12-01T00:00:00.000000000',
       '2021-11-19T00:00:00.000000000', '2021-11-17T00:00:00.000000000',
       '2021-11-07T00:00:00.000000000', '2022-05-23T00:00:00.000000000',
       '2022-05-14T00:00:00.000000000', '2022-05-12T00:00:00.000000000',
       '2022-05-11T00:00:00.000000000', '2022-05-05T00:00:00.000000000',
       '2022-05-30T00:00:00.000000000', '2022-03-22T00:00:00.000000000',
       '2022-03-19T00:00:00.000000000', '2022-03-18T00:00:00.000000000',
       '2022-03-13T00:00:00.000000000', '2022-03-12T00:00:00.000000000',
       '2022-03-06T00:00:00.000000000', '2022-03-01T00:00:00.000000000',
       '2022-03-24T00:00:00.000000000', '2022-04-17T00:00:00.000000000',
       '2022-04-12T00:00:00.000000000', '2022-04-11T00:00:00.000000000',
       '2019-12-09T00:00:00.000000000', '2022-11-14T00:00:00.000000000',
       '2020-05-18T00:00:00.000000000', '2020-05-25T00:00:00.000000000',
       '2020-05-19T00:00:00.000000000', '2022-02-01T00:00:00.000000000',
       '2022-01-13T00:00:00.000000000', '2021-12-18T00:00:00.000000000',
       '2022-11-15T00:00:00.000000000', '2021-08-29T00:00:00.000000000',
       '2021-07-30T00:00:00.000000000', '2021-07-29T00:00:00.000000000',
       '2021-07-24T00:00:00.000000000', '2021-07-23T00:00:00.000000000',
       '2021-07-22T00:00:00.000000000', '2021-07-27T00:00:00.000000000',
       '2019-08-27T00:00:00.000000000', '2021-06-16T00:00:00.000000000',
       '2019-12-13T00:00:00.000000000', '2019-12-11T00:00:00.000000000',
       '2022-01-15T00:00:00.000000000', '2021-10-21T00:00:00.000000000',
       '2021-11-04T00:00:00.000000000', '2022-11-16T00:00:00.000000000',
       '2021-03-27T00:00:00.000000000', '2022-11-17T00:00:00.000000000',
       '2020-12-30T00:00:00.000000000', '2021-03-19T00:00:00.000000000',
       '2022-11-18T00:00:00.000000000', '2020-04-27T00:00:00.000000000',
       '2020-04-24T00:00:00.000000000', '2018-07-06T00:00:00.000000000',
       '2022-11-19T00:00:00.000000000', '2019-10-25T00:00:00.000000000',
       '2021-07-19T00:00:00.000000000', '2021-03-07T00:00:00.000000000',
       '2021-04-02T00:00:00.000000000', '2022-11-20T00:00:00.000000000',
       '2021-06-06T00:00:00.000000000', '2021-06-04T00:00:00.000000000',
       '2021-06-07T00:00:00.000000000', '2021-07-25T00:00:00.000000000',
       '2022-11-21T00:00:00.000000000', '2020-01-06T00:00:00.000000000',
       '2020-07-31T00:00:00.000000000', '2022-11-22T00:00:00.000000000',
       '2022-11-23T00:00:00.000000000', '2017-11-21T00:00:00.000000000',
       '2017-11-24T00:00:00.000000000', '2017-11-23T00:00:00.000000000',
       '2017-11-22T00:00:00.000000000', '2021-10-25T00:00:00.000000000',
       '2022-01-25T00:00:00.000000000', '2022-01-18T00:00:00.000000000',
       '2021-12-21T00:00:00.000000000', '2017-10-17T00:00:00.000000000',
       '2017-11-29T00:00:00.000000000', '2017-11-28T00:00:00.000000000',
       '2017-11-27T00:00:00.000000000', '2017-12-01T00:00:00.000000000',
       '2017-12-04T00:00:00.000000000', '2017-12-13T00:00:00.000000000',
       '2017-12-15T00:00:00.000000000', '2017-12-08T00:00:00.000000000',
       '2022-11-24T00:00:00.000000000', '2020-03-13T00:00:00.000000000',
       '2022-11-25T00:00:00.000000000', '2022-11-26T00:00:00.000000000',
       '2022-11-27T00:00:00.000000000', '2020-11-23T00:00:00.000000000',
       '2020-11-21T00:00:00.000000000', '2020-11-20T00:00:00.000000000',
       '2020-11-19T00:00:00.000000000', '2020-11-15T00:00:00.000000000',
       '2021-10-31T00:00:00.000000000', '2022-01-03T00:00:00.000000000',
       '2022-01-02T00:00:00.000000000', '2022-03-07T00:00:00.000000000',
       '2022-02-20T00:00:00.000000000', '2022-11-28T00:00:00.000000000',
       '2021-04-11T00:00:00.000000000', '2022-11-29T00:00:00.000000000',
       '2019-05-24T00:00:00.000000000', '2019-04-03T00:00:00.000000000',
       '2021-10-02T00:00:00.000000000', '2021-12-11T00:00:00.000000000',
       '2022-11-30T00:00:00.000000000'], dtype='datetime64[ns]')

#### PAGOS DUPLICADOS TRADICIONAL

In [11]:
duplicates_trad = pagos_1[pagos_1.duplicated(['report_id','date_file'] , keep=False)]
duplicates_trad['INDEX'] = duplicates_trad['report_id'] + '_' + duplicates_trad['date_file'].astype('str')
duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)
duplicates_trad.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5028\1112391532.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad['INDEX'] = duplicates_trad['report_id'] + '_' + duplicates_trad['date_file'].astype('str')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5028\1112391532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
90691,DAILY,0bb27338-a5ec-4aca-88bc-620629137c2f,MERCADO SOBRE RUEDAS,my.etpv@gmail.com,56FDWPL3L,2022-11-01,"1,068.43",Pago del día,COMPARTAMOS,JAIME HERRERA TORRES,130180001685885028,PAID,"2022-11-01,42644264202211011967689891,40072,40...",02. Second_batch,BANORTE,Dispersión-20221101.xlsx,2022-11-01,56FDWPL3L_2022-11-01
4701,DAILY,0bb27338-a5ec-4aca-88bc-620629137c2f,MERCADO SOBRE RUEDAS,my.etpv@gmail.com,56FDWPL3L,2022-11-01,"1,068.43",Pago del día,COMPARTAMOS,JAIME HERRERA TORRES,130180001685885028,PAID,"2022-11-01,2022110140014HDH0001414071590,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,56FDWPL3L_2022-11-01
90694,DAILY,3da66052-e6c4-483d-aac6-f6a2dc85fd0a,VAA,alanpaninovillar@gmail.com,5BLDW3RJQ,2022-11-01,4.00,Pago del día,BANAMEX,Eduardo Angeles Olivares,2073560176378526,PAID,"2022-11-01,42644264202211011967689888,40072,40...",02. Second_batch,BANORTE,Dispersión-20221101.xlsx,2022-11-01,5BLDW3RJQ_2022-11-01
22379,DAILY,3da66052-e6c4-483d-aac6-f6a2dc85fd0a,VAA,alanpaninovillar@gmail.com,5BLDW3RJQ,2022-11-01,4.00,Pago del día,BANAMEX,Eduardo Angeles Olivares,2073560176378526,PAID,"2022-11-01,2022110140014HDH0001414333690,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,5BLDW3RJQ_2022-11-01
81392,DAILY,e536af72-1ace-477b-88c0-796047e0e16b,Dlara distribuidora,elcuarteldevillabarber@gmail.com,5YTYR9ZCL,2022-11-01,114.60,Pago del día,BBVA BANCOMER,Diana Elizabeth Aldrete Lara,12164004721508591,PAID,"2022-11-01,2022110140014HDH0001412928240,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,5YTYR9ZCL_2022-11-01

In [12]:
duplicates_trad.shape

(688, 18)

In [13]:
duplicates_trad['status'].unique()

array(['PAID', 'ERROR'], dtype=object)

In [14]:
duplicates_trad.drop_duplicates(subset="INDEX", keep='last', inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5028\494774456.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.drop_duplicates(subset="INDEX", keep='last', inplace=True)

In [15]:
duplicates_trad.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
4701,DAILY,0bb27338-a5ec-4aca-88bc-620629137c2f,MERCADO SOBRE RUEDAS,my.etpv@gmail.com,56FDWPL3L,2022-11-01,"1,068.43",Pago del día,COMPARTAMOS,JAIME HERRERA TORRES,130180001685885028,PAID,"2022-11-01,2022110140014HDH0001414071590,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,56FDWPL3L_2022-11-01
22379,DAILY,3da66052-e6c4-483d-aac6-f6a2dc85fd0a,VAA,alanpaninovillar@gmail.com,5BLDW3RJQ,2022-11-01,4.00,Pago del día,BANAMEX,Eduardo Angeles Olivares,2073560176378526,PAID,"2022-11-01,2022110140014HDH0001414333690,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,5BLDW3RJQ_2022-11-01
90926,DAILY,e536af72-1ace-477b-88c0-796047e0e16b,Dlara distribuidora,elcuarteldevillabarber@gmail.com,5YTYR9ZCL,2022-11-01,114.60,Pago del día,BBVA BANCOMER,Diana Elizabeth Aldrete Lara,12164004721508591,PAID,"2022-11-01,42644264202211011967689277,40072,40...",02. Second_batch,BANORTE,Dispersión-20221101.xlsx,2022-11-01,5YTYR9ZCL_2022-11-01
4682,DAILY,0bb27338-a5ec-4aca-88bc-620629137c2f,MERCADO SOBRE RUEDAS,my.etpv@gmail.com,67BPDBV8F,2022-10-10,359.34,Reprogramación,COMPARTAMOS,JAIME HERRERA TORRES,130180001685885028,PAID,"2022-11-01,2022110140014HDH0001414071130,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,67BPDBV8F_2022-11-01
73987,DAILY,cff920c7-4d00-4d15-aebb-f8e0cd0150a9,Arbol De Oro,priscilomtz_26@hotmail.com,6924VZ46R,2022-11-01,"1,126.97",Pago del día,BANAMEX,Alma Priscila Lpez Martinez,2073560188038524,PAID,"2022-11-01,2022110140014HDH0001414330640,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,6924VZ46R_2022-11-01

In [16]:
duplicates_trad.shape

(344, 18)

In [17]:
pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_trad.reset_index(drop=False, inplace=True)
pivot_duplicates_trad.head(10)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5028\739626261.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5028\739626261.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],

           tipo  date_file        sum       len
                            total_due total_due
0  Pago del día 2022-11-01  19,645.68        19
1  Pago del día 2022-11-02   1,582.05         3
2  Pago del día 2022-11-03   1,541.79         1
3  Pago del día 2022-11-04  16,294.70        17
4  Pago del día 2022-11-08  46,942.21        18
5  Pago del día 2022-11-09  19,097.44        20
6  Pago del día 2022-11-10  53,420.49        18
7  Pago del día 2022-11-11 128,532.24        13
8  Pago del día 2022-11-15     114.59         2
9  Pago del día 2022-11-16  85,608.22        22

In [18]:
pivot_duplicates_trad.shape

(30, 4)

#### FAST PAYMENTS

In [19]:
fp_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2022\11. NOVIEMBRE\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx', recursive=False)
fp_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\11. NOVIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-11-30.xlsx']

In [20]:
pagos_2 = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS').assign(file_name=os.path.basename(f)) for f in fp_files_1])
pagos_2['date_file'] = pagos_2["file_name"].str[-15:-4]
pagos_2['date_file']= pd.to_datetime(pagos_2['date_file']) 
pagos_2.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_2['report_date_local']= pd.to_datetime(pagos_2['report_date_local']) 
pagos_2.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file
0,INSTANT,f03bef74-3df8-41de-9c00-2a4a5e89888a,DULCERIA TREVINO,goyob018@gmail.com,4GZJQTQCF,2022-10-27,160.98,Reprogramación,BBVA BANCOMER,012580004828704872,12580004828704872,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-FP 2022-11-01.xlsx,2022-11-01
3173,INSTANT,3a71a0d7-45af-4462-beb9-eca7a3998483,Naturalaceite,naturalmente-88@hotmail.com,WJSDBNHCT,2022-11-01,210.81,Pago del día,ASP INTEGRA OPC,Rodrigo Aceves Barron,659802020000149040,PAID,"2022-11-01,18435C224FF7EF2D,40002,90659,659802...",05. Fifth_batch,BANAMEX,Dispersión-FP 2022-11-01.xlsx,2022-11-01
3172,INSTANT,39b6d23e-9bb6-4954-b56c-3455be7544ad,Quinta San Agustn Restaurante,9671504341f@gmail.com,NBHXTHSTG,2022-11-01,"1,013.34",Pago del día,ASP INTEGRA OPC,Dayana Idali Santiz Gomez,659802020000013684,PAID,"2022-11-01,18435C1A60B8F263,40002,90659,659802...",05. Fifth_batch,BANAMEX,Dispersión-FP 2022-11-01.xlsx,2022-11-01
3171,INSTANT,397e3523-75ae-45e7-99d9-820dc83f3933,Chiles Secos Y Semillas Del Campo,davidha1808@gmail.com,7X4PLVQ5S,2022-11-01,203.30,Pago del día,ASP INTEGRA OPC,David Hernandez Arias,659802020000138682,PAID,"2022-11-01,18435C1641C746D6,40002,90659,659802...",05. Fifth_batch,BANAMEX,Dispersión-FP 2022-11-01.xlsx,2022-11-01
3170,INSTANT,395f869a-4146-46b6-8481-713e5373dfdd,Podologo Guel,anakarenzapatacruz@gmail.com,4QLZ4RLSW,2022-11-01,301.85,Pago del día,ASP INTEGRA OPC,Jhovany Guel Martnez,659802020000189521,PAID,"2022-11-01,18435C184C90D75E,40002,90659,659802...",05. Fifth_batch,BANAMEX,Dispersión-FP 2022-11-01.xlsx,2022-11-01

In [21]:
pagos_2.shape

(126333, 17)

#### PAGOS REPETIDOS FAST PAYMENTS

In [22]:
duplicates_fp = pagos_2[pagos_2.duplicated(['report_id','date_file'] , keep=False)]
duplicates_fp['INDEX'] = duplicates_fp['report_id'] + '_' + duplicates_fp['date_file'].astype('str')
duplicates_fp.sort_values(by=['date_file','report_id','Batch_time'],inplace=True)
duplicates_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5028\3928666323.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp['INDEX'] = duplicates_fp['report_id'] + '_' + duplicates_fp['date_file'].astype('str')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5028\3928666323.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.sort_values(by=['date_file','report_id','Batch_time'],inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
1874,INSTANT,decc19df-985e-4ea9-8c48-ef4444cb28ea,CLIP,vmorg07@gmail.com,8CG7BQT2G,2022-11-10,"19,164.80",Pago del día,ASP INTEGRA OPC,Leonardo Fuentes Garcia,659802020000018511,PAID,"2022-11-10,18464199BDB59857,40014,90659,659802...",03. Third_batch,SANTANDER,Dispersión-FP 2022-11-10.xlsx,2022-11-10,8CG7BQT2G_2022-11-10
3332,INSTANT,decc19df-985e-4ea9-8c48-ef4444cb28ea,CLIP,vmorg07@gmail.com,8CG7BQT2G,2022-11-10,"19,164.80",Pago del día,BANREGIO,Veronica Morales Garcia,58597000016364761,PAID,"2022-11-10,18464199BDB59857,40002,40058,058597...",05. Fifth_batch,BANAMEX,Dispersión-FP 2022-11-10.xlsx,2022-11-10,8CG7BQT2G_2022-11-10
1562,INSTANT,8638066e-fb8c-414e-80c0-d6793ba2ff3a,Laundry Room,josuerulfo@hotmail.com,22C7Q3DKD,2022-11-12,114.99,Pago del día,ASP INTEGRA OPC,Josue Perez Rulfo Ibarra,659802020000133315,PAID,NaN,02. Second_batch,BANORTE,Dispersión-FP 2022-11-12.xlsx,2022-11-12,22C7Q3DKD_2022-11-12
2461,INSTANT,8638066e-fb8c-414e-80c0-d6793ba2ff3a,Laundry Room,josuerulfo@hotmail.com,22C7Q3DKD,2022-11-12,114.99,Pago del día,ASP INTEGRA OPC,Josue Perez Rulfo Ibarra,659802020000133315,PAID,"2022-11-12,42644264202211121984514145,40072,90...",03. Third_batch,BANORTE,Dispersión-FP 2022-11-12.xlsx,2022-11-12,22C7Q3DKD_2022-11-12
1734,INSTANT,de602102-cd32-4ed8-9f74-e1a2a0e62426,Acuario,jimenezsofia48@gmail.com,2357HGK95,2022-11-12,"1,800.54",Pago del día,ASP INTEGRA OPC,Sofia Jimenez Munguia,659802020000310099,PAID,NaN,02. Second_batch,BANORTE,Dispersión-FP 2022-11-12.xlsx,2022-11-12,2357HGK95_2022-11-12

In [23]:
duplicates_fp.shape

(1028, 18)

In [24]:
duplicates_fp.drop_duplicates(subset="INDEX", keep='last', inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5028\2218390481.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.drop_duplicates(subset="INDEX", keep='last', inplace=True)

In [25]:
duplicates_fp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
3332,INSTANT,decc19df-985e-4ea9-8c48-ef4444cb28ea,CLIP,vmorg07@gmail.com,8CG7BQT2G,2022-11-10,"19,164.80",Pago del día,BANREGIO,Veronica Morales Garcia,58597000016364761,PAID,"2022-11-10,18464199BDB59857,40002,40058,058597...",05. Fifth_batch,BANAMEX,Dispersión-FP 2022-11-10.xlsx,2022-11-10,8CG7BQT2G_2022-11-10
2461,INSTANT,8638066e-fb8c-414e-80c0-d6793ba2ff3a,Laundry Room,josuerulfo@hotmail.com,22C7Q3DKD,2022-11-12,114.99,Pago del día,ASP INTEGRA OPC,Josue Perez Rulfo Ibarra,659802020000133315,PAID,"2022-11-12,42644264202211121984514145,40072,90...",03. Third_batch,BANORTE,Dispersión-FP 2022-11-12.xlsx,2022-11-12,22C7Q3DKD_2022-11-12
2889,INSTANT,de602102-cd32-4ed8-9f74-e1a2a0e62426,Acuario,jimenezsofia48@gmail.com,2357HGK95,2022-11-12,"1,800.54",Pago del día,ASP INTEGRA OPC,Sofia Jimenez Munguia,659802020000310099,PAID,"2022-11-12,42644264202211121984514166,40072,90...",03. Third_batch,BANORTE,Dispersión-FP 2022-11-12.xlsx,2022-11-12,2357HGK95_2022-11-12
2997,INSTANT,face56d0-51aa-459e-b62a-f41c1fbfbebd,LA LUPITA,garciagallegosselene@gmail.com,25B8C5KZH,2022-11-12,93.91,Pago del día,ASP INTEGRA OPC,Selene del rocio Garcia Gallegos,659802020000030243,PAID,"2022-11-12,42644264202211121984514240,40072,90...",03. Third_batch,BANORTE,Dispersión-FP 2022-11-12.xlsx,2022-11-12,25B8C5KZH_2022-11-12
2577,INSTANT,9ea42026-078e-4570-98a0-2e0126a50a84,Abarrotes Fanny,fanny01lobato@gmail.com,27GF4J45W,2022-11-12,49.51,Pago del día,ASP INTEGRA OPC,Juanita Lobato Gutierrez,659802020000355517,PAID,"2022-11-12,42644264202211121984514805,40072,90...",03. Third_batch,BANORTE,Dispersión-FP 2022-11-12.xlsx,2022-11-12,27GF4J45W_2022-11-12

In [26]:
duplicates_fp.shape

(514, 18)

In [27]:
pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_fp.reset_index(drop=False, inplace=True)
pivot_duplicates_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5028\3187082303.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5028\3187082303.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],

           tipo  date_file        sum       len
                            total_due total_due
0  Pago del día 2022-11-10  19,164.80         1
1  Pago del día 2022-11-12 316,629.49       506
2  Pago del día 2022-11-16  49,703.37         3
3  Pago del día 2022-11-29   1,495.80         2
4  Pago del día 2022-11-30     225.19         1

In [28]:
pivot_duplicates_fp.shape

(7, 4)

In [29]:
# pivot_duplicates_fp.to_excel('DUPLICADOS FP JUNIO 2021.xlsx',index=True)

#### ALL PAGOS

In [30]:
allpagos = pd.concat([pagos_1,pagos_2])
allpagos.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
0,DAILY,00582624-a7b2-4865-80d2-dfab60f15ff0,super jazmin,efrariver140616@gmail.com,JTMGC8BS8,2022-08-17,"38,921.80",Reprogramación,BANORTE/IXE,Yolanda Valdez Rosa,72238011898630992,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,NaN
60752,DAILY,aa8835e9-d0e9-4034-a20d-f0f3b08a9793,Farmacia Guadalupana,fguadalupana4c@hotmail.com,SQH5TPGJH,2022-11-01,373.90,Pago del día,SANTANDER,MONICA LIZETH SANTOS CASTRO,14075605539982963,PAID,COMPROBANTE MISMO BANCO SANTANDER,01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,NaN
60751,DAILY,aa877403-d775-4b57-8e35-c516196d5d3e,Gandhu,jardingandhi@hotmail.com,QBQZ6PZBJ,2022-11-01,"3,449.67",Pago del día,BANAMEX,Maria Guadalupe Olivares Fernandez,2180700787522524,PAID,"2022-11-01,2022110140014HDH0001414006050,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,NaN
60750,DAILY,aa86764b-b3c9-4702-bac1-df1ae7eca0a6,GREEN CAFETERIA URN,abdiel.beltranp@gmail.com,DGRTGNZR6,2022-11-01,"1,993.07",Pago del día,BBVA BANCOMER,Abdiel Armando Beltrán Pérez,12150001087846399,PAID,"2022-11-01,2022110140014HDH0001414006060,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,NaN
60749,DAILY,aa846165-2179-4648-a0c8-ff56d0700f8f,ShowTime,montana_musiccity50@hotmail.com,QL9TXKBQB,2022-11-01,"3,602.80",Pago del día,BANAMEX,Jose Antonio Villanueva Sanchez,2180701685464301,PAID,"2022-11-01,2022110140014HDH0001414006020,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,NaN

In [31]:
allpagos.shape

(2858882, 18)

In [32]:
allpagos['tipo'].unique()

array(['Reprogramación', 'Pago del día'], dtype=object)

In [33]:
group_allpagos = allpagos.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_allpagos.head()

   date_file      total_due  report_id
0 2022-11-01 187,006,184.37      95875
1 2022-11-02 186,808,356.15      95291
2 2022-11-03 160,763,393.49      80998
3 2022-11-04 187,639,197.27      98998
4 2022-11-05 217,876,040.77     105300

In [34]:
group_allpagos.shape

(30, 3)

#### PAGOS DEL DIA

In [35]:
pagosdia = allpagos[(allpagos['tipo'].isin(['Pago del día']))]
pagosdia.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
60752,DAILY,aa8835e9-d0e9-4034-a20d-f0f3b08a9793,Farmacia Guadalupana,fguadalupana4c@hotmail.com,SQH5TPGJH,2022-11-01,373.90,Pago del día,SANTANDER,MONICA LIZETH SANTOS CASTRO,14075605539982963,PAID,COMPROBANTE MISMO BANCO SANTANDER,01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,NaN
60751,DAILY,aa877403-d775-4b57-8e35-c516196d5d3e,Gandhu,jardingandhi@hotmail.com,QBQZ6PZBJ,2022-11-01,"3,449.67",Pago del día,BANAMEX,Maria Guadalupe Olivares Fernandez,2180700787522524,PAID,"2022-11-01,2022110140014HDH0001414006050,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,NaN
60750,DAILY,aa86764b-b3c9-4702-bac1-df1ae7eca0a6,GREEN CAFETERIA URN,abdiel.beltranp@gmail.com,DGRTGNZR6,2022-11-01,"1,993.07",Pago del día,BBVA BANCOMER,Abdiel Armando Beltrán Pérez,12150001087846399,PAID,"2022-11-01,2022110140014HDH0001414006060,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,NaN
60749,DAILY,aa846165-2179-4648-a0c8-ff56d0700f8f,ShowTime,montana_musiccity50@hotmail.com,QL9TXKBQB,2022-11-01,"3,602.80",Pago del día,BANAMEX,Jose Antonio Villanueva Sanchez,2180701685464301,PAID,"2022-11-01,2022110140014HDH0001414006020,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,NaN
60748,DAILY,aa82f0d9-b59c-4a7b-9d86-70ab5d8634b7,Acuario,abmt.suc.acuario@gmail.com,9KWY8K7B6,2022-11-01,334.55,Pago del día,BBVA BANCOMER,Esmeralda Copete Torres,12905028891011360,PAID,"2022-11-01,2022110140014HDH0001414006000,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,NaN

In [36]:
pagosdia.shape

(2840478, 18)

In [37]:
group_dia = pagosdia.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_dia.head()

   date_file      total_due  report_id
0 2022-11-01 184,284,606.86      93835
1 2022-11-02 182,426,010.34      92579
2 2022-11-03 159,926,075.69      80331
3 2022-11-04 185,839,449.08      98239
4 2022-11-05 217,101,355.35     104667

In [38]:
group_dia.shape

(30, 3)

# PRIMER MATCH (SETTLED VS PAGOS DEL DIA)

In [39]:
check_1 = cum_1.merge(pagosdia[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_1['total_due_y'].fillna('NO ENCONTRADO')
check_1['tipo'].fillna('NO ENCONTRADO',inplace=True)
check_1['file_name_y'].fillna('NO ENCONTRADO',inplace=True)
# check_1.fillna({'total_due_y':'NO ENCONTRADO', 'tipo':'NO ENCONTRADO', 'file_name_y':'NO ENCONTRADO'}, inplace=True)
check_1.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5028\2369092600.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  check_1['tipo'].fillna('NO ENCONTRADO',inplace=True)
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_5028\2369092600.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  check_1['file_name_y'].fillna('NO ENCONTRADO',inplace=True)

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,type,created_date,created_time,updated_date,updated_time,file_name_x,tipopago,total_due_y,tipo,file_name_y
0,285e56bc-330e-427b-8a77-d12c09286e56,ABARROTES Y CARNICERA EL CHILIN,arevalorocio987@gmail.com,D2VB7CD6H,2022-11-01,82.00,2.95,0.48,0.00,0.00,...,DAILY,2022-11-01,02:00:29,2022-11-01,02:00:29,SETTLEMENT 2022-11-01.csv,NaN,78.57,Pago del día,Dispersión-20221101.xlsx
1,56dfd220-a7a0-4777-b81f-c2457f51d1b6,DOCTORSTORE,hector.vieyrasc@gmail.com,78HSQC2DD,2022-11-01,385.00,13.86,2.22,0.00,0.00,...,DAILY,2022-11-01,02:00:30,2022-11-01,02:00:30,SETTLEMENT 2022-11-01.csv,NaN,368.92,Pago del día,Dispersión-20221101.xlsx
2,dea6de9c-7d7b-4611-8db8-b71a17b79a6c,TIO PACO,paoyxim@gmail.com,D6DJQ65VL,2022-11-01,270.00,9.72,1.56,0.00,0.00,...,DAILY,2022-11-01,02:00:30,2022-11-01,02:00:30,SETTLEMENT 2022-11-01.csv,NaN,258.72,Pago del día,Dispersión-20221101.xlsx
3,0dfd920b-c2b3-43dd-9108-ec285db21f1e,MARESH,Maresh20221@outlook.com,KF4S45WLC,2022-11-01,29.12,1.05,0.17,0.00,0.00,...,DAILY,2022-11-01,02:00:30,2022-11-01,02:00:30,SETTLEMENT 2022-11-01.csv,NaN,27.90,Pago del día,Dispersión-20221101.xlsx
4,567b732f-6165-4cbd-b402-4ef5d7b00aed,TLAPALERIA RAQUEL,taviralugor@gmail.com,KFMPLRB3S,2022-11-01,670.00,24.12,3.86,0.00,0.00,...,DAILY,2022-11-01,02:00:30,2022-11-01,02:00:30,SETTLEMENT 2022-11-01.csv,NaN,642.02,Pago del día,Dispersión-20221101.xlsx

In [40]:
check_1['file_name_y'].unique()

array(['Dispersión-20221101.xlsx', nan, 'Dispersión-FP 2022-11-01.xlsx',
       'Dispersión-20221102.xlsx', 'Dispersión-FP 2022-11-02.xlsx',
       'Dispersión-20221103.xlsx', 'Dispersión-FP 2022-11-03.xlsx',
       'Dispersión-20221104.xlsx', 'Dispersión-FP 2022-11-04.xlsx',
       'Dispersión-20221105.xlsx', 'Dispersión-FP 2022-11-05.xlsx',
       'Dispersión-20221106.xlsx', 'Dispersión-FP 2022-11-06.xlsx',
       'Dispersión-20221107.xlsx', 'Dispersión-FP 2022-11-07.xlsx',
       'Dispersión-20221108.xlsx', 'Dispersión-FP 2022-11-08.xlsx',
       'Dispersión-20221109.xlsx', 'Dispersión-FP 2022-11-09.xlsx',
       'Dispersión-20221110.xlsx', 'Dispersión-FP 2022-11-10.xlsx',
       'Dispersión-20221111.xlsx', 'Dispersión-FP 2022-11-11.xlsx',
       'Dispersión-20221112.xlsx', 'Dispersión-FP 2022-11-12.xlsx',
       'Dispersión-20221113.xlsx', 'Dispersión-FP 2022-11-13.xlsx',
       'Dispersión-20221114.xlsx', 'Dispersión-FP 2022-11-14.xlsx',
       'Dispersión-20221115.xlsx', 'Dispersión-FP 2022-11-15.xlsx',
       'Dispersión-20221116.xlsx', 'Dispersión-FP 2022-11-16.xlsx',
       'Dispersión-20221117.xlsx', 'Dispersión-FP 2022-11-17.xlsx',
       'Dispersión-20221118.xlsx', 'Dispersión-FP 2022-11-18.xlsx',
       'Dispersión-20221119.xlsx', 'Dispersión-FP 2022-11-19.xlsx',
       'Dispersión-20221120.xlsx', 'Dispersión-FP 2022-11-20.xlsx',
       'Dispersión-20221121.xlsx', 'Dispersión-FP 2022-11-21.xlsx',
       'Dispersión-20221122.xlsx', 'Dispersión-FP 2022-11-22.xlsx',
       'Dispersión-20221123.xlsx', 'Dispersión-FP 2022-11-23.xlsx',
       'Dispersión-20221124.xlsx', 'Dispersión-FP 2022-11-24.xlsx',
       'Dispersión-20221125.xlsx', 'Dispersión-FP 2022-11-25.xlsx',
       'Dispersión-20221126.xlsx', 'Dispersión-FP 2022-11-26.xlsx',
       'Dispersión-20221127.xlsx', 'Dispersión-FP 2022-11-27.xlsx',
       'Dispersión-20221128.xlsx', 'Dispersión-FP 2022-11-28.xlsx',
       'Dispersión-20221129.xlsx', 'Dispersión-FP 2022-11-29.xlsx',
       'Dispersión-20221130.xlsx', 'Dispersión-FP 2022-11-30.xlsx'],
      dtype=object)

In [41]:
not_found_1 = check_1[((check_1['file_name_y'].isnull()) | (check_1['file_name_y'].isin(['NO ENCONTRADO'])))
                        & (check_1['total_due_x'] != 0)]
not_found_1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,type,created_date,created_time,updated_date,updated_time,file_name_x,tipopago,total_due_y,tipo,file_name_y
446,e203d263-fba7-432b-9bcf-2cbd2c328d84,LUCIO ORTIZ,link_naruto@hotmail.es,VQ69BRTJK,2022-11-01,1.00,0.04,0.01,0.00,0.00,...,DAILY,2022-11-01,02:01:56,2022-11-01,02:01:56,SETTLEMENT 2022-11-01.csv,NaN,NaN,NaN,NaN
517,ff3ffa18-480e-4b9e-a580-6aee211451de,PATTY,patyyosorio78@gmail.com,62XSF8RNZ,2022-11-01,550.00,19.80,3.17,0.00,0.00,...,DAILY,2022-11-01,02:02:11,2022-11-01,02:02:11,SETTLEMENT 2022-11-01.csv,NaN,NaN,NaN,NaN
868,1e645282-be64-4b61-ba3e-d89ae7c96e83,TACOS Y MARISCOS EL CANGREJITO FELI,elcangrejitofeliz@outlook.com,JGNQCF3RB,2022-11-01,20.00,0.72,0.12,0.00,0.00,...,DAILY,2022-11-01,02:03:30,2022-11-01,02:03:30,SETTLEMENT 2022-11-01.csv,NaN,NaN,NaN,NaN
958,5fb7e99b-f3da-4f9e-bcbc-48f6a83b62b1,TRUST DISTRITO ARMIDA,syamileth.navarro@gmail.com,RSQHDSXKQ,2022-11-01,"1,927.75",69.40,11.10,0.00,0.00,...,DAILY,2022-11-01,02:03:46,2022-11-01,02:03:46,SETTLEMENT 2022-11-01.csv,NaN,NaN,NaN,NaN
980,ab3816d8-a05a-46cd-8d0d-87a2642dd120,LA BOTICA,laboticavalquirico@gmail.com,VVNDZ5HW4,2022-11-01,33.00,1.19,0.19,0.00,0.00,...,DAILY,2022-11-01,02:03:52,2022-11-01,02:03:52,SETTLEMENT 2022-11-01.csv,NaN,NaN,NaN,NaN

In [42]:
not_found_1.shape

(8129, 30)

In [43]:
group_notfound = not_found_1.groupby(['report_date_local']).agg({'total_due_x':sum,'report_id':'count'}).reset_index()
group_notfound.rename(columns={'report_date_local':'date_file'},inplace=True)
group_notfound.head()

   date_file  total_due_x  report_id
0 2022-11-01   328,245.82        260
1 2022-11-02   175,977.01        246
2 2022-11-03   145,741.11        214
3 2022-11-04   311,302.93        256
4 2022-11-05   151,602.57        261

In [44]:
group_notfound.shape

(30, 3)

#### REPROGRAMACIONES

In [45]:
repro = allpagos[(allpagos['tipo'].isin(['Reprogramación']))]
repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
0,DAILY,00582624-a7b2-4865-80d2-dfab60f15ff0,super jazmin,efrariver140616@gmail.com,JTMGC8BS8,2022-08-17,"38,921.80",Reprogramación,BANORTE/IXE,Yolanda Valdez Rosa,72238011898630992,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,NaN
60696,DAILY,aa622ced-ec67-49ee-8811-f96b471d0f52,Hamburguesas La Media,margaritachavez200381@gmail.com,TQJF2CR62,2022-10-23,185.89,Reprogramación,BBVA BANCOMER,Margarita Chavez Aguilar,12180015674325454,PAID,"2022-11-01,2022110140014HDH0001414005050,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,NaN
60695,DAILY,aa622ced-ec67-49ee-8811-f96b471d0f52,Hamburguesas La Media,margaritachavez200381@gmail.com,7QLNHDJ3R,2022-10-22,609.43,Reprogramación,BBVA BANCOMER,Margarita Chavez Aguilar,12180015674325454,PAID,"2022-11-01,2022110140014HDH0001414004900,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,NaN
60694,DAILY,aa622ced-ec67-49ee-8811-f96b471d0f52,Hamburguesas La Media,margaritachavez200381@gmail.com,8CSVP3NWR,2022-10-21,462.34,Reprogramación,BBVA BANCOMER,Margarita Chavez Aguilar,12180015674325454,PAID,"2022-11-01,2022110140014HDH0001414004870,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,NaN
60693,DAILY,aa622ced-ec67-49ee-8811-f96b471d0f52,Hamburguesas La Media,margaritachavez200381@gmail.com,P6ZPLKQDZ,2022-10-20,341.13,Reprogramación,BBVA BANCOMER,Margarita Chavez Aguilar,12180015674325454,PAID,"2022-11-01,2022110140014HDH0001414004850,40014...",01. First_batch,SANTANDER,Dispersión-20221101.xlsx,2022-11-01,NaN

In [46]:
repro.shape

(18404, 18)

In [47]:
group_repro = repro.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_repro.head()

   date_file    total_due  report_id
0 2022-11-01 2,721,577.51       2040
1 2022-11-02 4,382,345.81       2712
2 2022-11-03   837,317.80        667
3 2022-11-04 1,799,748.19        759
4 2022-11-05   774,685.42        633

In [48]:
group_repro.shape

(30, 3)

# SEGUNDO MATCH (IDENTIFICACION DE REPROGRAMACIONES)

In [49]:
check_2 = not_found_1.merge(repro[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_2.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,updated_date,updated_time,file_name_x,tipopago,total_due_y,tipo_x,file_name_y,total_due,tipo_y,file_name
0,e203d263-fba7-432b-9bcf-2cbd2c328d84,LUCIO ORTIZ,link_naruto@hotmail.es,VQ69BRTJK,2022-11-01,1.00,0.04,0.01,0.00,0.00,...,2022-11-01,02:01:56,SETTLEMENT 2022-11-01.csv,NaN,NaN,NaN,NaN,0.95,Reprogramación,Dispersión-20221104.xlsx
1,ff3ffa18-480e-4b9e-a580-6aee211451de,PATTY,patyyosorio78@gmail.com,62XSF8RNZ,2022-11-01,550.00,19.80,3.17,0.00,0.00,...,2022-11-01,02:02:11,SETTLEMENT 2022-11-01.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1e645282-be64-4b61-ba3e-d89ae7c96e83,TACOS Y MARISCOS EL CANGREJITO FELI,elcangrejitofeliz@outlook.com,JGNQCF3RB,2022-11-01,20.00,0.72,0.12,0.00,0.00,...,2022-11-01,02:03:30,SETTLEMENT 2022-11-01.csv,NaN,NaN,NaN,NaN,19.16,Reprogramación,Dispersión-20221111.xlsx
3,5fb7e99b-f3da-4f9e-bcbc-48f6a83b62b1,TRUST DISTRITO ARMIDA,syamileth.navarro@gmail.com,RSQHDSXKQ,2022-11-01,"1,927.75",69.40,11.10,0.00,0.00,...,2022-11-01,02:03:46,SETTLEMENT 2022-11-01.csv,NaN,NaN,NaN,NaN,"1,847.25",Reprogramación,Dispersión-20221117.xlsx
4,ab3816d8-a05a-46cd-8d0d-87a2642dd120,LA BOTICA,laboticavalquirico@gmail.com,VVNDZ5HW4,2022-11-01,33.00,1.19,0.19,0.00,0.00,...,2022-11-01,02:03:52,SETTLEMENT 2022-11-01.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
check_2.shape

(8155, 33)

In [51]:
# writer = pd.ExcelWriter('REPROGRAMACIONES JUNIO 2021.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})
# check_2.to_excel(writer, sheet_name='DETAIL REPROGRAMACIONES',index=False)
# writer.save()
# writer.close()

# FECHA DE PAGOS (SETTLED VS PAGOS DEL DIA)

In [52]:
fecha_pago = not_found_1.merge(repro[['report_id','date_file','tipo','status','file_name']] ,on='report_id', how='left')
fecha_pago.sort_values(by=['date_file'],ascending=True,inplace=True)
fecha_pago.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,updated_time,file_name_x,tipopago,total_due_y,tipo_x,file_name_y,date_file,tipo_y,status,file_name
106,2dc87969-2cae-4309-bb60-6d0cd9540f09,CHURROS DON FEDE,niktl@hotmail.com,YPJ7CFRKW,2022-11-01,64.00,2.30,0.37,0.00,0.00,...,03:53:45,SETTLEMENT 2022-11-01.csv,NaN,NaN,NaN,NaN,2022-11-02,Reprogramación,PAID,Dispersión-20221102.xlsx
73,8e1d71b4-67a5-4dfd-ab93-3284e9999591,CONSULTORIO,arantxaheadly@gmail.com,WBSGMKMTC,2022-11-01,1.00,0.04,0.01,0.00,0.00,...,03:22:08,SETTLEMENT 2022-11-01.csv,NaN,NaN,NaN,NaN,2022-11-02,Reprogramación,PAID,Dispersión-20221102.xlsx
76,533a47f9-8dbd-45c0-ba69-c4b1df298b59,DEVELOPERS,rodrigozamc@hotmail.com,GY97QXQYF,2022-11-01,1.00,0.04,0.01,0.00,0.00,...,03:26:51,SETTLEMENT 2022-11-01.csv,NaN,NaN,NaN,NaN,2022-11-02,Reprogramación,PAID,Dispersión-20221102.xlsx
86,65592f92-67fc-492e-b9bf-28b0f14da5ce,HOTEL FINCA ORTIZ LUXURY,hotelfincaortizluxury@outlook.com,YVHHMB75Q,2022-11-01,5.00,0.18,0.03,0.00,0.00,...,03:36:33,SETTLEMENT 2022-11-01.csv,NaN,NaN,NaN,NaN,2022-11-02,Reprogramación,PAID,Dispersión-20221102.xlsx
92,ef5d6e40-cfd7-4939-930d-3ef7081dc956,CHENKO,sweet_girl11@live.com.mx,4KYZBFT8L,2022-11-01,426.00,15.34,2.46,0.00,0.00,...,03:43:00,SETTLEMENT 2022-11-01.csv,NaN,NaN,NaN,NaN,2022-11-02,Reprogramación,PAID,Dispersión-20221102.xlsx

In [53]:
fecha_pago.shape

(8155, 34)

In [54]:
fecha_pago.drop_duplicates(subset ='report_id',keep='first',inplace=True)

In [55]:
fecha_pago.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,updated_time,file_name_x,tipopago,total_due_y,tipo_x,file_name_y,date_file,tipo_y,status,file_name
106,2dc87969-2cae-4309-bb60-6d0cd9540f09,CHURROS DON FEDE,niktl@hotmail.com,YPJ7CFRKW,2022-11-01,64.00,2.30,0.37,0.00,0.00,...,03:53:45,SETTLEMENT 2022-11-01.csv,NaN,NaN,NaN,NaN,2022-11-02,Reprogramación,PAID,Dispersión-20221102.xlsx
73,8e1d71b4-67a5-4dfd-ab93-3284e9999591,CONSULTORIO,arantxaheadly@gmail.com,WBSGMKMTC,2022-11-01,1.00,0.04,0.01,0.00,0.00,...,03:22:08,SETTLEMENT 2022-11-01.csv,NaN,NaN,NaN,NaN,2022-11-02,Reprogramación,PAID,Dispersión-20221102.xlsx
76,533a47f9-8dbd-45c0-ba69-c4b1df298b59,DEVELOPERS,rodrigozamc@hotmail.com,GY97QXQYF,2022-11-01,1.00,0.04,0.01,0.00,0.00,...,03:26:51,SETTLEMENT 2022-11-01.csv,NaN,NaN,NaN,NaN,2022-11-02,Reprogramación,PAID,Dispersión-20221102.xlsx
86,65592f92-67fc-492e-b9bf-28b0f14da5ce,HOTEL FINCA ORTIZ LUXURY,hotelfincaortizluxury@outlook.com,YVHHMB75Q,2022-11-01,5.00,0.18,0.03,0.00,0.00,...,03:36:33,SETTLEMENT 2022-11-01.csv,NaN,NaN,NaN,NaN,2022-11-02,Reprogramación,PAID,Dispersión-20221102.xlsx
92,ef5d6e40-cfd7-4939-930d-3ef7081dc956,CHENKO,sweet_girl11@live.com.mx,4KYZBFT8L,2022-11-01,426.00,15.34,2.46,0.00,0.00,...,03:43:00,SETTLEMENT 2022-11-01.csv,NaN,NaN,NaN,NaN,2022-11-02,Reprogramación,PAID,Dispersión-20221102.xlsx

In [56]:
fecha_pago.shape

(8129, 34)

### AGRUPADO POR DÍA

In [57]:
pivot_fecha_pago = pd.pivot_table(fecha_pago,index=['report_date_local'],
                                  values=['total_due_x'],aggfunc = ['sum', len],margins=True)
pivot_fecha_pago.head()

                            sum         len
                    total_due_x total_due_x
report_date_local
2022-11-01 00:00:00  328,245.82         260
2022-11-02 00:00:00  175,977.01         246
2022-11-03 00:00:00  145,741.11         214
2022-11-04 00:00:00  311,302.93         256
2022-11-05 00:00:00  151,602.57         261

In [58]:
pivot_fecha_pago.shape

(31, 2)

# PAGOS MANUALES

In [59]:
file_manual = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2022\11. NOVEMBER\MANUALES\*.xlsx', recursive=False)
file_manual

['G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\11. NOVEMBER\\MANUALES\\Manuales 2022.11.01 - 2022.11.28.xlsx',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\11. NOVEMBER\\MANUALES\\Manuales 2022.11.29 - 2022.11.30.xlsx']

In [60]:
manuales_all = pd.concat([pd.read_excel(f,sheet_name='Formato Pago Manual',skiprows=1
                                      ,converters={'Cta. CLABE de depósito':str,'report_id':str})
                          .assign(file_name=os.path.basename(f)) for f in file_manual])
manuales_all['Date']= pd.to_datetime(manuales_all['Date'])  
manuales_all['Tipo'] = 'MANUAL'

In [61]:
manuales_final = manuales_all[['Date','ME ID','ME NAME',' (mxn)','Banco','Justificación para el pago','Tipo','Report ID']]
manuales_final.head()

,Date,ME ID,ME NAME,(mxn),Banco,Justificación para el pago,Tipo,Report ID
0,2022-11-03,NaN,not_found,"1,500.00",SCOTIABANK,Re: PMR-612 || Reembolsos a MEs,MANUAL,NaN
1,2022-11-03,6f73029b-48f0-4894-b2b6-9acec9391ddf,ELEMENTS TULUM,"15,710.83","Scotiabank Inverlat, S.A.",elementstulum16@gmail.com,MANUAL,NaN
2,2022-11-03,d36a7a85-a69d-4a41-a95c-7536a08c52d5,MILMED TEC,"1,999.00",Banco del Bajio,Pago manual a ME MILMED TEC,MANUAL,NaN
3,2022-11-03,49e4e137-7802-432c-b6a6-87b92bf537ae,LAS ALAS DEL PUG,70.00,"Banco Nacional de Mexico, S.A.",Re: PMR-722 || Transactions Post-outage 28 de ...,MANUAL,SOP-9946
4,2022-11-03,826bcd3d-2805-4f93-8103-014f04365600,ACCESORIOS PARA CELULAR,"3,570.48","Banco Azteca, S.A.",Re: PMR-722 || Transactions Post-outage 28 de ...,MANUAL,SOP-9949

In [62]:
manuales_final.shape

(48, 8)

In [63]:
manuales_final.columns

Index(['Date', 'ME ID', 'ME NAME', ' (mxn)', 'Banco',
       'Justificación para el pago', 'Tipo', 'Report ID'],
      dtype='object')

In [64]:
group_manual = manuales_final.groupby(['Date']).agg({' (mxn)':sum,'Report ID':'count'}).reset_index()
group_manual.rename(columns={'Date':'date_file','Report ID':'report_id'},inplace=True)
group_manual.head()

   date_file      (mxn)  report_id
0 2022-11-03  33,714.87         12
1 2022-11-09 227,696.66          8
2 2022-11-10  30,637.48          4
3 2022-11-17   7,160.96          2
4 2022-11-22   1,658.97          0

In [65]:
group_manual.shape

(7, 3)

# ACUMULADOS SETTLEMENT

In [66]:
conc_disp = cum_distinct_0.groupby(['report_date_local']).agg({'total_due':sum,'report_id':'count'}).reset_index()
conc_disp.rename(columns={'report_date_local':'date_file'}, inplace=True)
conc_disp.head()

   date_file      total_due  report_id
0 2022-11-01 184,593,207.00      94076
1 2022-11-02 182,600,405.30      92822
2 2022-11-03 160,070,275.01      80544
3 2022-11-04 186,134,457.31      98478
4 2022-11-05 217,252,957.92     104928

In [67]:
conc_disp.shape

(30, 3)

# MERGING ALL DATA FRAMES

In [68]:
total_1 = conc_disp.merge(group_repro[['date_file','total_due','report_id']],on='date_file',how='left') \
.merge(group_manual,on='date_file',how='left')
total_1[' (mxn)'].fillna(0,inplace=True)
total_1['report_id'].fillna(0,inplace=True)
total_1.head()

,date_file,total_due_x,report_id_x,total_due_y,report_id_y,(mxn),report_id
0,2022-11-01,"184,593,207.00",94076,"2,721,577.51",2040,0.00,0.00
1,2022-11-02,"182,600,405.30",92822,"4,382,345.81",2712,0.00,0.00
2,2022-11-03,"160,070,275.01",80544,"837,317.80",667,"33,714.87",12.00
3,2022-11-04,"186,134,457.31",98478,"1,799,748.19",759,0.00,0.00
4,2022-11-05,"217,252,957.92",104928,"774,685.42",633,0.00,0.00

In [69]:
total_1['count_total_pago_dia'] = total_1['report_id_x'] + total_1['report_id_y'] + total_1['report_id']
total_1['sum_total_pago_dia'] = total_1['total_due_x'] + total_1['total_due_y'] + total_1[' (mxn)']

In [70]:
total_1

,date_file,total_due_x,report_id_x,total_due_y,report_id_y,(mxn),report_id,count_total_pago_dia,sum_total_pago_dia
0,2022-11-01,"184,593,207.00",94076,"2,721,577.51",2040,0.00,0.00,"96,116.00","187,314,784.51"
1,2022-11-02,"182,600,405.30",92822,"4,382,345.81",2712,0.00,0.00,"95,534.00","186,982,751.11"
2,2022-11-03,"160,070,275.01",80544,"837,317.80",667,"33,714.87",12.00,"81,223.00","160,941,307.68"
3,2022-11-04,"186,134,457.31",98478,"1,799,748.19",759,0.00,0.00,"99,237.00","187,934,205.50"
4,2022-11-05,"217,252,957.92",104928,"774,685.42",633,0.00,0.00,"105,561.00","218,027,643.34"
5,2022-11-06,"241,495,265.19",105756,"542,827.28",467,0.00,0.00,"106,223.00","242,038,092.47"
6,2022-11-07,"166,392,958.32",74776,"586,251.23",463,0.00,0.00,"75,239.00","166,979,209.55"
7,2022-11-08,"170,083,565.92",90941,"1,182,169.14",786,0.00,0.00,"91,727.00","171,265,735.06"
8,2022-11-09,"167,249,094.26",91658,"589,196.08",494,"227,696.66",8.00,"92,160.00","168,065,987.00"
9,2022-11-10,"178,438,339.15",94306,"534,554.81",453,"30,637.48",4.00,"94,763.00","179,003,531.44"
10,2022-11-11,"196,879,899.33",99090,"743,680.83",506,0.00,0.00,"99,596.00","197,623,580.16"
11,2022-11-12,"223,442,812.21",106030,"583,575.46",523,0.00,0.00,"106,553.00","224,026,387.67"
12,2022-11-13,"248,536,330.35",106046,"679,675.95",596,0.00,0.00,"106,642.00","249,216,006.30"
13,2022-11-14,"168,135,536.49",74783,"495,393.13",359,0.00,0.00,"75,142.00","168,630,929.62"
14,2022-11-15,"178,637,342.21",93667,"1,097,432.72",401,0.00,0.00,"94,068.00","179,734,774.93"
15,2022-11-16,"197,979,156.32",98870,"814,279.90",434,0.00,0.00,"99,304.00","198,793,436.22"
16,2022-11-17,"200,558,033.45",99383,"945,738.00",433,"7,160.96",2.00,"99,818.00","201,510,932.41"
17,2022-11-18,"208,608,483.54",102217,"619,487.94",368,0.00,0.00,"102,585.00","209,227,971.48"
18,2022-11-19,"257,556,300.84",108849,"884,014.80",531,0.00,0.00,"109,380.00","258,440,315.64"
19,2022-11-20,"283,702,633.94",107015,"949,560.46",287,0.00,0.00,"107,302.00","284,652,194.40"
20,2022-11-21,"194,171,315.30",74283,"711,971.40",211,0.00,0.00,"74,494.00","194,883,286.70"
21,2022-11-22,"207,358,949.57",79369,"1,291,484.38",320,"1,658.97",0.00,"79,689.00","208,652,092.92"
22,2022-11-23,"181,902,835.63",92696,"1,925,315.59",621,0.00,0.00,"93,317.00","183,828,151.22"
23,2022-11-24,"189,807,955.21",96352,"639,294.06",397,0.00,0.00,"96,749.00","190,447,249.27"
24,2022-11-25,"200,653,973.97",100428,"799,420.12",268,"3,061.25",1.00,"100,697.00","201,456,455.34"
25,2022-11-26,"237,863,153.11",108136,"2,927,138.63",542,0.00,0.00,"108,678.00","240,790,291.74"
26,2022-11-27,"238,630,254.57",103951,"1,927,234.05",656,0.00,0.00,"104,607.00","240,557,488.62"
27,2022-11-28,"175,828,255.91",76030,"1,331,241.24",439,0.00,0.00,"76,469.00","177,159,497.15"
28,2022-11-29,"180,613,780.59",93408,"1,565,772.45",523,0.00,0.00,"93,931.00","182,179,553.04"
29,2022-11-30,"194,160,350.86",98998,"800,806.83",515,"2,203.57",2.00,"99,515.00","194,963,361.26"

# ACUMULADOS PAGO DEL DIA

In [71]:
total_2 = group_allpagos.merge(group_notfound[['date_file','total_due_x','report_id']],on='date_file',how='left')\
.merge(group_manual,on='date_file',how='left')
total_2[' (mxn)'].fillna(0,inplace=True)
total_2['report_id'].fillna(0,inplace=True)
total_2['total_due_x'].fillna(0,inplace=True)
total_2['report_id_y'].fillna(0,inplace=True)
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id
0,2022-11-01,"187,006,184.37",95875,"328,245.82",260,0.00,0.00
1,2022-11-02,"186,808,356.15",95291,"175,977.01",246,0.00,0.00
2,2022-11-03,"160,763,393.49",80998,"145,741.11",214,"33,714.87",12.00
3,2022-11-04,"187,639,197.27",98998,"311,302.93",256,0.00,0.00
4,2022-11-05,"217,876,040.77",105300,"151,602.57",261,0.00,0.00

In [72]:
total_2['count_swap_dia'] = total_2['report_id_x'] + total_2['report_id_y'] + total_2['report_id']
total_2['sum_swap_dia'] = total_2['total_due'] + total_2['total_due_x'] + total_2[' (mxn)']

In [73]:
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id,count_swap_dia,sum_swap_dia
0,2022-11-01,"187,006,184.37",95875,"328,245.82",260,0.00,0.00,"96,135.00","187,334,430.19"
1,2022-11-02,"186,808,356.15",95291,"175,977.01",246,0.00,0.00,"95,537.00","186,984,333.16"
2,2022-11-03,"160,763,393.49",80998,"145,741.11",214,"33,714.87",12.00,"81,224.00","160,942,849.47"
3,2022-11-04,"187,639,197.27",98998,"311,302.93",256,0.00,0.00,"99,254.00","187,950,500.20"
4,2022-11-05,"217,876,040.77",105300,"151,602.57",261,0.00,0.00,"105,561.00","218,027,643.34"

In [74]:
total_2.shape

(30, 9)

# COMPARACION FINAL

In [75]:
final_comparacion = total_1[['date_file','count_total_pago_dia','sum_total_pago_dia']] \
.merge(total_2[['date_file','count_swap_dia','sum_swap_dia']],on='date_file',how='left')
final_comparacion.head()

,date_file,count_total_pago_dia,sum_total_pago_dia,count_swap_dia,sum_swap_dia
0,2022-11-01,"96,116.00","187,314,784.51","96,135.00","187,334,430.19"
1,2022-11-02,"95,534.00","186,982,751.11","95,537.00","186,984,333.16"
2,2022-11-03,"81,223.00","160,941,307.68","81,224.00","160,942,849.47"
3,2022-11-04,"99,237.00","187,934,205.50","99,254.00","187,950,500.20"
4,2022-11-05,"105,561.00","218,027,643.34","105,561.00","218,027,643.34"

In [76]:
final_comparacion['diff_count'] = final_comparacion['count_total_pago_dia'] - final_comparacion['count_swap_dia']
final_comparacion['diff_sum'] = final_comparacion['sum_total_pago_dia'] - final_comparacion['sum_swap_dia']

In [77]:
final_comparacion

,date_file,count_total_pago_dia,sum_total_pago_dia,count_swap_dia,sum_swap_dia,diff_count,diff_sum
0,2022-11-01,"96,116.00","187,314,784.51","96,135.00","187,334,430.19",-19.00,"-19,645.68"
1,2022-11-02,"95,534.00","186,982,751.11","95,537.00","186,984,333.16",-3.00,"-1,582.05"
2,2022-11-03,"81,223.00","160,941,307.68","81,224.00","160,942,849.47",-1.00,"-1,541.79"
3,2022-11-04,"99,237.00","187,934,205.50","99,254.00","187,950,500.20",-17.00,"-16,294.70"
4,2022-11-05,"105,561.00","218,027,643.34","105,561.00","218,027,643.34",0.00,-0.00
5,2022-11-06,"106,223.00","242,038,092.47","106,223.00","242,038,092.47",0.00,0.00
6,2022-11-07,"75,239.00","166,979,209.55","75,239.00","166,979,209.55",0.00,-0.00
7,2022-11-08,"91,727.00","171,265,735.06","91,745.00","171,312,677.27",-18.00,"-46,942.21"
8,2022-11-09,"92,160.00","168,065,987.00","92,180.00","168,085,084.44",-20.00,"-19,097.44"
9,2022-11-10,"94,763.00","179,003,531.44","94,782.00","179,076,116.73",-19.00,"-72,585.29"
10,2022-11-11,"99,596.00","197,623,580.16","99,609.00","197,752,112.40",-13.00,"-128,532.24"
11,2022-11-12,"106,553.00","224,026,387.67","107,059.00","224,343,017.16",-506.00,"-316,629.49"
12,2022-11-13,"106,642.00","249,216,006.30","106,642.00","249,216,006.30",0.00,0.00
13,2022-11-14,"75,142.00","168,630,929.62","75,142.00","168,630,929.62",0.00,0.00
14,2022-11-15,"94,068.00","179,734,774.93","94,070.00","179,734,889.52",-2.00,-114.59
15,2022-11-16,"99,304.00","198,793,436.22","99,329.00","198,928,747.81",-25.00,"-135,311.59"
16,2022-11-17,"99,818.00","201,510,932.41","99,841.00","201,537,764.20",-23.00,"-26,831.79"
17,2022-11-18,"102,585.00","209,227,971.48","102,605.00","209,255,698.74",-20.00,"-27,727.26"
18,2022-11-19,"109,380.00","258,440,315.64","109,380.00","258,440,315.64",0.00,0.00
19,2022-11-20,"107,302.00","284,652,194.40","107,302.00","284,652,194.40",0.00,-0.00
20,2022-11-21,"74,494.00","194,883,286.70","74,496.00","194,884,812.69",-2.00,"-1,525.99"
21,2022-11-22,"79,689.00","208,652,092.92","79,689.00","208,652,092.92",0.00,-0.00
22,2022-11-23,"93,317.00","183,828,151.22","93,319.00","183,831,260.71",-2.00,"-3,109.49"
23,2022-11-24,"96,749.00","190,447,249.27","96,775.00","190,518,713.70",-26.00,"-71,464.43"
24,2022-11-25,"100,697.00","201,456,455.34","100,697.00","201,456,455.34",0.00,0.00
25,2022-11-26,"108,678.00","240,790,291.74","108,678.00","240,790,291.74",0.00,0.00
26,2022-11-27,"104,607.00","240,557,488.62","104,607.00","240,557,488.62",0.00,0.00
27,2022-11-28,"76,469.00","177,159,497.15","76,469.00","177,159,497.15",0.00,0.00
28,2022-11-29,"93,931.00","182,179,553.04","93,934.00","182,183,396.53",-3.00,"-3,843.49"
29,2022-11-30,"99,515.00","194,963,361.26","99,517.00","194,964,125.94",-2.00,-764.68

In [78]:
writer = pd.ExcelWriter('FASE III. SETTLED VS PAGO DIA NOVIEMBRE 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_fecha_pago.to_excel(writer, sheet_name='ENVIADOS POSTERIOR')
fecha_pago.to_excel(writer, sheet_name='DETAIL NO ENCONTRADO',index=False)
pivot_duplicates_trad.to_excel(writer, sheet_name='PAGOS DUPLICADOS')
pivot_duplicates_fp.to_excel(writer, sheet_name='FP PAGOS DUPLICADOS')
group_manual.to_excel(writer, sheet_name='PAGOS MANUALES')
writer.close()