In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# MES AÑO DE CONCILIACIÓN

In [2]:
month_conc = 'September'
year_conc = '2023'

# RUTAS DE ACCESO

### SWAP DEL DIA

In [3]:
allfiles_disp_trad = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2023\09. SEPTIEMBRE\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
allfiles_disp_trad

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230901.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230902.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230903.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230904.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230905.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230906.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230907.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230908.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230909.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230910.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230911.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230912.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230913.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230914.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230915.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230916.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230917.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230918.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230919.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230920.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230921.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230922.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230923.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230924.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230925.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230926.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230927.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230928.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230929.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20230930.xlsx']

### FAST PAYMENTS

In [4]:
allfiles_fp = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2023\09. SEPTIEMBRE\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx',recursive=False)
allfiles_fp

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\09. SEPTIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-09-30.xlsx']

# SWAP DEL DIA

In [5]:
swap_dia_total = pd.concat([pd.read_excel(f,sheet_name = 'Swap del día')
                            .assign(file_name=os.path.basename(f)) for f in allfiles_disp_trad])
swap_dia_total['Date'] = swap_dia_total["file_name"].str[-13:-5]
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'], format='%Y%m%d').dt.date
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'])
swap_dia_total.sort_values(by=['Date'],ascending=True,inplace=True)
swap_dia_total['report_date_local']= pd.to_datetime(swap_dia_total['report_date_local'])
swap_dia_total['month_conc'] = month_conc
swap_dia_total['year_conc'] = year_conc
swap_dia_total['month_report'] = swap_dia_total['report_date_local'].dt.strftime('%B')
swap_dia_total['year_report'] = swap_dia_total['report_date_local'].dt.year.astype(str)
swap_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,LEDGER_TRAD,00776a5d-ce34-4e34-9ede-fabe44d97163,NaN,NaN,AWDQT7GG5,2023-09-01,"1,222.71",Pago del día,SCOTIABANK,Administradora General Rubio SA DE CV,...,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,September,2023
71689,LEDGER_TRAD,ac071ac1-cdd9-422b-8c18-a3acf1478888,NaN,NaN,AXWQ3DFY5,2023-09-01,452.28,Pago del día,BBVA BANCOMER,Héctor Hugo Arredondo Ramírez,...,PAID,"2023-09-01,20230901400140HDH0001428319790,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,September,2023
71688,LEDGER_TRAD,ac04ced4-e7b2-40b1-a399-a030998a0850,NaN,NaN,AVLVR986F,2023-09-01,"3,641.31",Pago del día,BANORTE/IXE,Jesús cisneros valdes,...,PAID,"2023-09-01,20230901400140HDH0001428319710,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,September,2023
71687,LEDGER_TRAD,ac044e7f-b743-4fad-aed6-ac304373c324,NaN,NaN,ALDJCF7JJ,2023-09-01,91.03,Pago del día,AZTECA,Erick Daniel Fuentes Enciso,...,PAID,"2023-09-01,20230901400140HDH0001428319610,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,September,2023
71686,LEDGER_TRAD,ac03bd01-f909-4906-860e-6978fd6c0c68,NaN,NaN,ACH5KHNL3,2023-09-01,546.19,Pago del día,BBVA BANCOMER,Bernardo,...,PAID,"2023-09-01,20230901400140HDH0001428319480,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,September,2023

In [6]:
swap_dia_total.shape

(2978315, 21)

In [7]:
swap_dia_total.dtypes

type                               object
merchant_id                        object
merchant_name                      object
user_email                         object
report_id                          object
report_date_local          datetime64[ns]
total_due                         float64
tipo                               object
bank                               object
bank_account_owner_name            object
CLABE                               int64
status                             object
LINEA CEP                          object
Batch_time                         object
Banco_emisor                       object
file_name                          object
Date                       datetime64[ns]
month_conc                         object
year_conc                          object
month_report                       object
year_report                        object
dtype: object

# FAST PAYMENTS

In [8]:
fp_dia_total = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS')
                          .assign(file_name=os.path.basename(f)) for f in allfiles_fp])
fp_dia_total['Date'] = fp_dia_total["file_name"].str[-15:-5]
fp_dia_total['Date']= pd.to_datetime(fp_dia_total['Date'])
fp_dia_total['report_date_local']= pd.to_datetime(fp_dia_total['report_date_local'])
fp_dia_total['month_conc'] = month_conc
fp_dia_total['year_conc'] = year_conc
fp_dia_total['month_report'] = fp_dia_total['report_date_local'].dt.strftime('%B')
fp_dia_total['year_report'] = fp_dia_total['report_date_local'].dt.year.astype(str)
fp_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,LEDGER_FP,157a6174-e62e-4bc3-b9be-13a1d2629842,NaN,NaN,AZXPN7HK4,2023-08-25,"1,795.75",Reprogramación,ABC CAPITAL,Agustin amador riveros,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-09-01.xlsx,2023-09-01,September,2023,August,2023
1,LEDGER_FP,22cd39fc-7966-4bad-92ca-712be05cfb1c,NaN,NaN,A34WX3C59,2023-08-20,"6,243.18",Reprogramación,BANORTE/IXE,Adriana Delgadillo García,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-09-01.xlsx,2023-09-01,September,2023,August,2023
2,LEDGER_FP,4ab5ba5b-af73-4730-a489-db3fa2c1c6ce,NaN,NaN,AFH74KRWM,2023-08-19,"17,329.78",Reprogramación,BBVA BANCOMER,Aline Gabriela Ordaz Villarreal,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-09-01.xlsx,2023-09-01,September,2023,August,2023
3,LEDGER_FP,4ab5ba5b-af73-4730-a489-db3fa2c1c6ce,NaN,NaN,AGWBWY7DL,2023-08-23,"27,122.99",Reprogramación,BBVA BANCOMER,Aline Gabriela Ordaz Villarreal,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-09-01.xlsx,2023-09-01,September,2023,August,2023
4,LEDGER_FP,4ab5ba5b-af73-4730-a489-db3fa2c1c6ce,NaN,NaN,ASDHPH5GP,2023-08-24,"28,462.60",Reprogramación,BBVA BANCOMER,Aline Gabriela Ordaz Villarreal,...,ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2023-09-01.xlsx,2023-09-01,September,2023,August,2023

In [9]:
fp_dia_total.shape

(91362, 21)

In [10]:
fp_dia_total.dtypes

type                         object
merchant_id                  object
merchant_name                object
user_email                   object
report_id                    object
report_date_local    datetime64[ns]
total_due                   float64
tipo                         object
bank                         object
swap                         object
CLABE                         int64
status                       object
LINEA CEP                    object
Batch_time                   object
Banco_emisor                 object
file_name                    object
Date                 datetime64[ns]
month_conc                   object
year_conc                    object
month_report                 object
year_report                  object
dtype: object

# ALL DISPERSIONES

In [11]:
all_disp = pd.concat([swap_dia_total,fp_dia_total])
all_disp.loc[all_disp['type'].str.contains('LEDGER'), 'type'] = 'LEDGER'
all_disp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
0,LEDGER,00776a5d-ce34-4e34-9ede-fabe44d97163,NaN,NaN,AWDQT7GG5,2023-09-01,"1,222.71",Pago del día,SCOTIABANK,Administradora General Rubio SA DE CV,...,NaN,01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,September,2023,NaN
71689,LEDGER,ac071ac1-cdd9-422b-8c18-a3acf1478888,NaN,NaN,AXWQ3DFY5,2023-09-01,452.28,Pago del día,BBVA BANCOMER,Héctor Hugo Arredondo Ramírez,...,"2023-09-01,20230901400140HDH0001428319790,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,September,2023,NaN
71688,LEDGER,ac04ced4-e7b2-40b1-a399-a030998a0850,NaN,NaN,AVLVR986F,2023-09-01,"3,641.31",Pago del día,BANORTE/IXE,Jesús cisneros valdes,...,"2023-09-01,20230901400140HDH0001428319710,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,September,2023,NaN
71687,LEDGER,ac044e7f-b743-4fad-aed6-ac304373c324,NaN,NaN,ALDJCF7JJ,2023-09-01,91.03,Pago del día,AZTECA,Erick Daniel Fuentes Enciso,...,"2023-09-01,20230901400140HDH0001428319610,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,September,2023,NaN
71686,LEDGER,ac03bd01-f909-4906-860e-6978fd6c0c68,NaN,NaN,ACH5KHNL3,2023-09-01,546.19,Pago del día,BBVA BANCOMER,Bernardo,...,"2023-09-01,20230901400140HDH0001428319480,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,September,2023,NaN

In [12]:
all_disp.shape

(3069677, 22)

In [13]:
all_disp['type'].unique()

array(['LEDGER', 'DAILY', 'INSTANT'], dtype=object)

# TRADICIONAL

In [14]:
all_disp_trad = all_disp[(all_disp['type'] == 'DAILY')]
all_disp_trad.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
73421,DAILY,b00baf35-1f68-4592-aad3-98d18e835366,Abarrotes Brissa,manavacampos@gmail.com,VTY8YF9DK,2023-03-14,841.33,Reprogramación,BANAMEX,Maria Guadalupe Nava Campos,...,"2023-09-01,20230901400140HDH0001428499150,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,March,2023,NaN
73420,DAILY,b00baf35-1f68-4592-aad3-98d18e835366,Abarrotes Brissa,manavacampos@gmail.com,ZFQXH2HNZ,2022-11-10,795.32,Reprogramación,BANAMEX,Maria Guadalupe Nava Campos,...,"2023-09-01,20230901400140HDH0001428499000,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,November,2022,NaN
73419,DAILY,b00baf35-1f68-4592-aad3-98d18e835366,Abarrotes Brissa,manavacampos@gmail.com,LHX99PLPX,2022-11-08,"1,043.52",Reprogramación,BANAMEX,Maria Guadalupe Nava Campos,...,"2023-09-01,20230901400140HDH0001428498860,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,November,2022,NaN
73418,DAILY,b00baf35-1f68-4592-aad3-98d18e835366,Abarrotes Brissa,manavacampos@gmail.com,X4HQ9574V,2022-11-06,752.21,Reprogramación,BANAMEX,Maria Guadalupe Nava Campos,...,"2023-09-01,20230901400140HDH0001428498710,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,November,2022,NaN
73417,DAILY,b00baf35-1f68-4592-aad3-98d18e835366,Abarrotes Brissa,manavacampos@gmail.com,P7YBK5BP2,2022-11-03,184.95,Reprogramación,BANAMEX,Maria Guadalupe Nava Campos,...,"2023-09-01,20230901400140HDH0001428498550,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,November,2022,NaN

In [15]:
all_disp_trad.shape

(883, 22)

In [16]:
pivot_total_trad = pd.pivot_table(all_disp_trad,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_trad.reset_index(drop=False, inplace=True)
pivot_total_trad.head()

    type                 Date        sum       len
                               total_due total_due
0  DAILY  2023-09-01 00:00:00 266,002.83       238
1  DAILY  2023-09-02 00:00:00  23,167.88        27
2  DAILY  2023-09-03 00:00:00 112,395.39        41
3  DAILY  2023-09-04 00:00:00     722.61         7
4  DAILY  2023-09-05 00:00:00  11,907.46         9

In [17]:
pivot_parcial_trad = pd.pivot_table(all_disp_trad,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_trad.reset_index(drop=False, inplace=True)
pivot_parcial_trad.head()

         type            tipo                 Date       sum             \
                                                   total_due
status                                                 ERROR       PAID
0       DAILY  Reprogramación  2023-09-01 00:00:00 57,306.53 208,696.30
1       DAILY  Reprogramación  2023-09-02 00:00:00 12,744.61  10,423.27
2       DAILY  Reprogramación  2023-09-03 00:00:00       NaN 112,395.39
3       DAILY  Reprogramación  2023-09-04 00:00:00       NaN     722.61
4       DAILY  Reprogramación  2023-09-05 00:00:00       NaN  11,907.46

                        len
                  total_due
status        All     ERROR   PAID  All
0      266,002.83     49.00 189.00  238
1       23,167.88     10.00  17.00   27
2      112,395.39       NaN  41.00   41
3          722.61       NaN   7.00    7
4       11,907.46       NaN   9.00    9

## CATEGORIZACIÓN DE REPROGRAMACIONES

In [18]:
swap_dia_total_repro = all_disp_trad[(all_disp_trad['tipo'] == 'Reprogramación')]
swap_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
73421,DAILY,b00baf35-1f68-4592-aad3-98d18e835366,Abarrotes Brissa,manavacampos@gmail.com,VTY8YF9DK,2023-03-14,841.33,Reprogramación,BANAMEX,Maria Guadalupe Nava Campos,...,"2023-09-01,20230901400140HDH0001428499150,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,March,2023,NaN
73420,DAILY,b00baf35-1f68-4592-aad3-98d18e835366,Abarrotes Brissa,manavacampos@gmail.com,ZFQXH2HNZ,2022-11-10,795.32,Reprogramación,BANAMEX,Maria Guadalupe Nava Campos,...,"2023-09-01,20230901400140HDH0001428499000,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,November,2022,NaN
73419,DAILY,b00baf35-1f68-4592-aad3-98d18e835366,Abarrotes Brissa,manavacampos@gmail.com,LHX99PLPX,2022-11-08,"1,043.52",Reprogramación,BANAMEX,Maria Guadalupe Nava Campos,...,"2023-09-01,20230901400140HDH0001428498860,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,November,2022,NaN
73418,DAILY,b00baf35-1f68-4592-aad3-98d18e835366,Abarrotes Brissa,manavacampos@gmail.com,X4HQ9574V,2022-11-06,752.21,Reprogramación,BANAMEX,Maria Guadalupe Nava Campos,...,"2023-09-01,20230901400140HDH0001428498710,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,November,2022,NaN
73417,DAILY,b00baf35-1f68-4592-aad3-98d18e835366,Abarrotes Brissa,manavacampos@gmail.com,P7YBK5BP2,2022-11-03,184.95,Reprogramación,BANAMEX,Maria Guadalupe Nava Campos,...,"2023-09-01,20230901400140HDH0001428498550,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,November,2022,NaN

In [19]:
swap_dia_total_repro.shape

(883, 22)

In [20]:
swap_dia_total_repro.to_excel('Reprogramaciones_daily.xlsx',index=False)

In [21]:
swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
                   & (swap_dia_total_repro['month_report'] == month_conc) 
                   & (swap_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
swap_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
73421,DAILY,b00baf35-1f68-4592-aad3-98d18e835366,Abarrotes Brissa,manavacampos@gmail.com,VTY8YF9DK,2023-03-14,841.33,Reprogramación,BANAMEX,Maria Guadalupe Nava Campos,...,01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,March,2023,NaN,repro_otro_mes
73420,DAILY,b00baf35-1f68-4592-aad3-98d18e835366,Abarrotes Brissa,manavacampos@gmail.com,ZFQXH2HNZ,2022-11-10,795.32,Reprogramación,BANAMEX,Maria Guadalupe Nava Campos,...,01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,November,2022,NaN,repro_otro_mes
73419,DAILY,b00baf35-1f68-4592-aad3-98d18e835366,Abarrotes Brissa,manavacampos@gmail.com,LHX99PLPX,2022-11-08,"1,043.52",Reprogramación,BANAMEX,Maria Guadalupe Nava Campos,...,01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,November,2022,NaN,repro_otro_mes
73418,DAILY,b00baf35-1f68-4592-aad3-98d18e835366,Abarrotes Brissa,manavacampos@gmail.com,X4HQ9574V,2022-11-06,752.21,Reprogramación,BANAMEX,Maria Guadalupe Nava Campos,...,01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,November,2022,NaN,repro_otro_mes
73417,DAILY,b00baf35-1f68-4592-aad3-98d18e835366,Abarrotes Brissa,manavacampos@gmail.com,P7YBK5BP2,2022-11-03,184.95,Reprogramación,BANAMEX,Maria Guadalupe Nava Campos,...,01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,November,2022,NaN,repro_otro_mes

In [22]:
pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro.reset_index(drop=False, inplace=True)
pivot_tipo_repro.head()

                      type                 Date            sum             \
                                                     total_due
tipo_reprogramacion                             repro_otro_mes        All
0                    DAILY  2023-09-01 00:00:00     266,002.83 266,002.83
1                    DAILY  2023-09-02 00:00:00      23,167.88  23,167.88
2                    DAILY  2023-09-03 00:00:00     112,395.39 112,395.39
3                    DAILY  2023-09-04 00:00:00         722.61     722.61
4                    DAILY  2023-09-05 00:00:00      11,907.46  11,907.46

                               len
                         total_due
tipo_reprogramacion repro_otro_mes  All
0                              238  238
1                               27   27
2                               41   41
3                                7    7
4                                9    9

# FAST PAYMENTS

In [23]:
all_disp_fp = all_disp[(all_disp['type'] == 'INSTANT')]
all_disp_fp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
107516,INSTANT,ffc899c0-87d0-4bca-ab18-0542b3f4db96,EL SAZON DE MALICHA,pismatira@gmail.com,6FHSVTY8V,2022-07-03,239.56,Reprogramación,ASP INTEGRA OPC,Gustavo Alberto Garcia Herrera,...,"2023-09-01,42644264202309012500654589,40072,90...",03. Third_batch,BANORTE,Dispersión-20230901.xlsx,2023-09-01,September,2023,July,2022,NaN
107515,INSTANT,ffc899c0-87d0-4bca-ab18-0542b3f4db96,EL SAZON DE MALICHA,pismatira@gmail.com,SDBW2FPGF,2022-01-19,69.00,Reprogramación,ASP INTEGRA OPC,Gustavo Alberto Garcia Herrera,...,"2023-09-01,42644264202309012500655136,40072,90...",03. Third_batch,BANORTE,Dispersión-20230901.xlsx,2023-09-01,September,2023,January,2022,NaN
107514,INSTANT,ffc899c0-87d0-4bca-ab18-0542b3f4db96,EL SAZON DE MALICHA,pismatira@gmail.com,BQCSW9R58,2022-01-11,368.93,Reprogramación,ASP INTEGRA OPC,Gustavo Alberto Garcia Herrera,...,"2023-09-01,42644264202309012500655609,40072,90...",03. Third_batch,BANORTE,Dispersión-20230901.xlsx,2023-09-01,September,2023,January,2022,NaN
107513,INSTANT,ffc899c0-87d0-4bca-ab18-0542b3f4db96,EL SAZON DE MALICHA,pismatira@gmail.com,FQ2NQZRTV,2021-11-25,291.31,Reprogramación,ASP INTEGRA OPC,Gustavo Alberto Garcia Herrera,...,"2023-09-01,42644264202309012500654943,40072,90...",03. Third_batch,BANORTE,Dispersión-20230901.xlsx,2023-09-01,September,2023,November,2021,NaN
45502,INSTANT,6dc951f9-8ab6-47b7-a662-d7e1a6eeec65,Mariscos Orizaba,nadrovr@live.com,TJF6G9B3G,2020-12-28,176.70,Reprogramación,ASP INTEGRA OPC,Eduardo Isaias Martinez,...,"2023-09-01,20230901400140HDH0001427518100,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,December,2020,NaN

In [24]:
all_disp_fp.shape

(229, 22)

In [25]:
pivot_total_fp = pd.pivot_table(all_disp_fp,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_fp.reset_index(drop=False, inplace=True)
pivot_total_fp.head()

      type                 Date       sum       len
                                total_due total_due
0  INSTANT  2023-09-01 00:00:00  9,894.26        18
1  INSTANT  2023-09-02 00:00:00  2,445.55         6
2  INSTANT  2023-09-03 00:00:00  6,756.12         6
3  INSTANT  2023-09-04 00:00:00  3,121.93         4
4  INSTANT  2023-09-05 00:00:00    367.96         5

In [26]:
pivot_parcial_fp = pd.pivot_table(all_disp_fp,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_fp.reset_index(drop=False, inplace=True)
pivot_parcial_fp.head()

           type            tipo                 Date       sum           \
                                                     total_due
status                                                   ERROR     PAID
0       INSTANT  Reprogramación  2023-09-01 00:00:00       NaN 9,894.26
1       INSTANT  Reprogramación  2023-09-02 00:00:00       NaN 2,445.55
2       INSTANT  Reprogramación  2023-09-03 00:00:00       NaN 6,756.12
3       INSTANT  Reprogramación  2023-09-04 00:00:00       NaN 3,121.93
4       INSTANT  Reprogramación  2023-09-05 00:00:00       NaN   367.96

                      len
                total_due
status      All     ERROR  PAID All
0      9,894.26       NaN 18.00  18
1      2,445.55       NaN  6.00   6
2      6,756.12       NaN  6.00   6
3      3,121.93       NaN  4.00   4
4        367.96       NaN  5.00   5

## CATEGORIZACIÓN DE REPROGRAMACIONES - FAST PAYMENTS

In [27]:
fp_dia_total_repro = all_disp_fp[(all_disp_fp['tipo'] == 'Reprogramación')]
fp_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
107516,INSTANT,ffc899c0-87d0-4bca-ab18-0542b3f4db96,EL SAZON DE MALICHA,pismatira@gmail.com,6FHSVTY8V,2022-07-03,239.56,Reprogramación,ASP INTEGRA OPC,Gustavo Alberto Garcia Herrera,...,"2023-09-01,42644264202309012500654589,40072,90...",03. Third_batch,BANORTE,Dispersión-20230901.xlsx,2023-09-01,September,2023,July,2022,NaN
107515,INSTANT,ffc899c0-87d0-4bca-ab18-0542b3f4db96,EL SAZON DE MALICHA,pismatira@gmail.com,SDBW2FPGF,2022-01-19,69.00,Reprogramación,ASP INTEGRA OPC,Gustavo Alberto Garcia Herrera,...,"2023-09-01,42644264202309012500655136,40072,90...",03. Third_batch,BANORTE,Dispersión-20230901.xlsx,2023-09-01,September,2023,January,2022,NaN
107514,INSTANT,ffc899c0-87d0-4bca-ab18-0542b3f4db96,EL SAZON DE MALICHA,pismatira@gmail.com,BQCSW9R58,2022-01-11,368.93,Reprogramación,ASP INTEGRA OPC,Gustavo Alberto Garcia Herrera,...,"2023-09-01,42644264202309012500655609,40072,90...",03. Third_batch,BANORTE,Dispersión-20230901.xlsx,2023-09-01,September,2023,January,2022,NaN
107513,INSTANT,ffc899c0-87d0-4bca-ab18-0542b3f4db96,EL SAZON DE MALICHA,pismatira@gmail.com,FQ2NQZRTV,2021-11-25,291.31,Reprogramación,ASP INTEGRA OPC,Gustavo Alberto Garcia Herrera,...,"2023-09-01,42644264202309012500654943,40072,90...",03. Third_batch,BANORTE,Dispersión-20230901.xlsx,2023-09-01,September,2023,November,2021,NaN
45502,INSTANT,6dc951f9-8ab6-47b7-a662-d7e1a6eeec65,Mariscos Orizaba,nadrovr@live.com,TJF6G9B3G,2020-12-28,176.70,Reprogramación,ASP INTEGRA OPC,Eduardo Isaias Martinez,...,"2023-09-01,20230901400140HDH0001427518100,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,December,2020,NaN

In [28]:
fp_dia_total_repro.shape

(229, 22)

In [29]:
fp_dia_total_repro.to_excel('Reprogramaciones_instant.xlsx',index=False)

In [30]:
fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
                   & (fp_dia_total_repro['month_report'] == month_conc) 
                   & (fp_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
fp_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
107516,INSTANT,ffc899c0-87d0-4bca-ab18-0542b3f4db96,EL SAZON DE MALICHA,pismatira@gmail.com,6FHSVTY8V,2022-07-03,239.56,Reprogramación,ASP INTEGRA OPC,Gustavo Alberto Garcia Herrera,...,03. Third_batch,BANORTE,Dispersión-20230901.xlsx,2023-09-01,September,2023,July,2022,NaN,repro_otro_mes
107515,INSTANT,ffc899c0-87d0-4bca-ab18-0542b3f4db96,EL SAZON DE MALICHA,pismatira@gmail.com,SDBW2FPGF,2022-01-19,69.00,Reprogramación,ASP INTEGRA OPC,Gustavo Alberto Garcia Herrera,...,03. Third_batch,BANORTE,Dispersión-20230901.xlsx,2023-09-01,September,2023,January,2022,NaN,repro_otro_mes
107514,INSTANT,ffc899c0-87d0-4bca-ab18-0542b3f4db96,EL SAZON DE MALICHA,pismatira@gmail.com,BQCSW9R58,2022-01-11,368.93,Reprogramación,ASP INTEGRA OPC,Gustavo Alberto Garcia Herrera,...,03. Third_batch,BANORTE,Dispersión-20230901.xlsx,2023-09-01,September,2023,January,2022,NaN,repro_otro_mes
107513,INSTANT,ffc899c0-87d0-4bca-ab18-0542b3f4db96,EL SAZON DE MALICHA,pismatira@gmail.com,FQ2NQZRTV,2021-11-25,291.31,Reprogramación,ASP INTEGRA OPC,Gustavo Alberto Garcia Herrera,...,03. Third_batch,BANORTE,Dispersión-20230901.xlsx,2023-09-01,September,2023,November,2021,NaN,repro_otro_mes
45502,INSTANT,6dc951f9-8ab6-47b7-a662-d7e1a6eeec65,Mariscos Orizaba,nadrovr@live.com,TJF6G9B3G,2020-12-28,176.70,Reprogramación,ASP INTEGRA OPC,Eduardo Isaias Martinez,...,01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,December,2020,NaN,repro_otro_mes

In [31]:
pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_fp.fillna(0,inplace=True)
pivot_tipo_repro_fp.reset_index(drop=False, inplace=True)
pivot_tipo_repro_fp.head()

                        type                 Date            sum           \
                                                       total_due
tipo_reprogramacion                               repro_otro_mes      All
0                    INSTANT  2023-09-01 00:00:00       9,894.26 9,894.26
1                    INSTANT  2023-09-02 00:00:00       2,445.55 2,445.55
2                    INSTANT  2023-09-03 00:00:00       6,756.12 6,756.12
3                    INSTANT  2023-09-04 00:00:00       3,121.93 3,121.93
4                    INSTANT  2023-09-05 00:00:00         367.96   367.96

                               len
                         total_due
tipo_reprogramacion repro_otro_mes All
0                               18  18
1                                6   6
2                                6   6
3                                4   4
4                                5   5

# LEDGER

In [32]:
all_disp_ledger = all_disp[(all_disp['type'] == 'LEDGER')]
all_disp_ledger.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
0,LEDGER,00776a5d-ce34-4e34-9ede-fabe44d97163,NaN,NaN,AWDQT7GG5,2023-09-01,"1,222.71",Pago del día,SCOTIABANK,Administradora General Rubio SA DE CV,...,NaN,01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,September,2023,NaN
71689,LEDGER,ac071ac1-cdd9-422b-8c18-a3acf1478888,NaN,NaN,AXWQ3DFY5,2023-09-01,452.28,Pago del día,BBVA BANCOMER,Héctor Hugo Arredondo Ramírez,...,"2023-09-01,20230901400140HDH0001428319790,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,September,2023,NaN
71688,LEDGER,ac04ced4-e7b2-40b1-a399-a030998a0850,NaN,NaN,AVLVR986F,2023-09-01,"3,641.31",Pago del día,BANORTE/IXE,Jesús cisneros valdes,...,"2023-09-01,20230901400140HDH0001428319710,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,September,2023,NaN
71687,LEDGER,ac044e7f-b743-4fad-aed6-ac304373c324,NaN,NaN,ALDJCF7JJ,2023-09-01,91.03,Pago del día,AZTECA,Erick Daniel Fuentes Enciso,...,"2023-09-01,20230901400140HDH0001428319610,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,September,2023,NaN
71686,LEDGER,ac03bd01-f909-4906-860e-6978fd6c0c68,NaN,NaN,ACH5KHNL3,2023-09-01,546.19,Pago del día,BBVA BANCOMER,Bernardo,...,"2023-09-01,20230901400140HDH0001428319480,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,September,2023,NaN

In [33]:
all_disp_ledger.shape

(3068565, 22)

In [34]:
pivot_total_ledger = pd.pivot_table(all_disp_ledger,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_ledger.reset_index(drop=False, inplace=True)
pivot_total_ledger.head()

     type                 Date            sum       len
                                    total_due total_due
0  LEDGER  2023-09-01 00:00:00 236,825,040.07    111201
1  LEDGER  2023-09-02 00:00:00 262,458,827.68    117218
2  LEDGER  2023-09-03 00:00:00 286,545,798.19    114872
3  LEDGER  2023-09-04 00:00:00 199,874,040.39     81937
4  LEDGER  2023-09-05 00:00:00 201,484,453.99    100459

In [35]:
pivot_total_ledger.shape

(31, 4)

In [36]:
pivot_parcial_ledger = pd.pivot_table(all_disp_ledger,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_ledger.reset_index(drop=False, inplace=True)
pivot_parcial_ledger.head()

          type          tipo                 Date        sum                 \
                                                   total_due
status                                                 ERROR           PAID
0       LEDGER  Pago del día  2023-09-01 00:00:00 598,623.97 233,966,620.74
1       LEDGER  Pago del día  2023-09-02 00:00:00 561,132.38 260,539,373.22
2       LEDGER  Pago del día  2023-09-03 00:00:00 726,699.11 285,113,234.14
3       LEDGER  Pago del día  2023-09-04 00:00:00 409,676.47 198,065,122.84
4       LEDGER  Pago del día  2023-09-05 00:00:00 672,158.30 199,631,112.56

                            len
                      total_due
status            All     ERROR    PAID     All
0      234,565,244.71       113  109677  109790
1      261,100,505.60       240  116296  116536
2      285,839,933.25       214  114336  114550
3      198,474,799.31        79   81319   81398
4      200,303,270.86       109   99721   99830

## CATEGORIZACION DE REPROGRAMACIONES - LEDGER

In [37]:
ledger_dia_total_repro = all_disp_ledger[(all_disp_ledger['tipo'] == 'Reprogramación')]
ledger_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
71480,LEDGER,ab87c490-b01e-4eba-b8a3-2bcfe6b6591b,NaN,NaN,AHG9RYMDJ,2023-08-31,"5,033.63",Reprogramación,AZTECA,FRANCISCO FIGUEROA VIAL,...,"2023-09-01,20230901400140HDH0001428300710,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,August,2023,NaN
70771,LEDGER,a9f134f5-220b-4786-94a8-6f956f1fc9ca,NaN,NaN,A87CSJHP9,2023-08-31,371.80,Reprogramación,ASP INTEGRA OPC,Juan Diego Gomez Cruces,...,"2023-09-01,20230901400140HDH0001428222600,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,August,2023,NaN
73844,LEDGER,b11f0851-f676-426e-ba17-d2f69db8ba69,NaN,NaN,AY6HTF33V,2023-08-10,0.02,Reprogramación,BBVA BANCOMER,Luis Emmanuel Guerrero Rojas,...,"2023-09-01,20230901400140HDH0001428549720,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,August,2023,NaN
72651,LEDGER,ae40563c-36a1-4cf1-b05b-3803db072221,NaN,NaN,A8D9Y6C8C,2023-08-29,47.91,Reprogramación,AZTECA,Arianna Osiris Ramirez Mejia,...,"2023-09-01,20230901400140HDH0001428416690,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,August,2023,NaN
72650,LEDGER,ae40563c-36a1-4cf1-b05b-3803db072221,NaN,NaN,A7VYH4MMK,2023-08-26,0.01,Reprogramación,AZTECA,Arianna Osiris Ramirez Mejia,...,"2023-09-01,20230901400140HDH0001428416580,4001...",01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,August,2023,NaN

In [38]:
ledger_dia_total_repro.shape

(19417, 22)

In [39]:
ledger_dia_total_repro.to_excel('Reprogramaciones_ledger.xlsx',index=False)

In [40]:
ledger_dia_total_repro.loc[(ledger_dia_total_repro['tipo'] == 'Reprogramación')
                   & (ledger_dia_total_repro['month_report'] == month_conc) 
                   & (ledger_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
ledger_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
ledger_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_22612\3563945437.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ledger_dia_total_repro.loc[(ledger_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_22612\3563945437.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ledger_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
71480,LEDGER,ab87c490-b01e-4eba-b8a3-2bcfe6b6591b,NaN,NaN,AHG9RYMDJ,2023-08-31,"5,033.63",Reprogramación,AZTECA,FRANCISCO FIGUEROA VIAL,...,01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,August,2023,NaN,repro_otro_mes
70771,LEDGER,a9f134f5-220b-4786-94a8-6f956f1fc9ca,NaN,NaN,A87CSJHP9,2023-08-31,371.80,Reprogramación,ASP INTEGRA OPC,Juan Diego Gomez Cruces,...,01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,August,2023,NaN,repro_otro_mes
73844,LEDGER,b11f0851-f676-426e-ba17-d2f69db8ba69,NaN,NaN,AY6HTF33V,2023-08-10,0.02,Reprogramación,BBVA BANCOMER,Luis Emmanuel Guerrero Rojas,...,01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,August,2023,NaN,repro_otro_mes
72651,LEDGER,ae40563c-36a1-4cf1-b05b-3803db072221,NaN,NaN,A8D9Y6C8C,2023-08-29,47.91,Reprogramación,AZTECA,Arianna Osiris Ramirez Mejia,...,01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,August,2023,NaN,repro_otro_mes
72650,LEDGER,ae40563c-36a1-4cf1-b05b-3803db072221,NaN,NaN,A7VYH4MMK,2023-08-26,0.01,Reprogramación,AZTECA,Arianna Osiris Ramirez Mejia,...,01. First_batch,SANTANDER,Dispersión-20230901.xlsx,2023-09-01,September,2023,August,2023,NaN,repro_otro_mes

In [41]:
pivot_tipo_repro_ledger = pd.pivot_table(ledger_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_ledger.fillna(0,inplace=True)
pivot_tipo_repro_ledger.reset_index(drop=False, inplace=True)
pivot_tipo_repro_ledger.head()

                       type                 Date             sum  \
                                                       total_due
tipo_reprogramacion                              repro_mismo_mes
0                    LEDGER  2023-09-01 00:00:00            0.00
1                    LEDGER  2023-09-02 00:00:00      103,905.50
2                    LEDGER  2023-09-03 00:00:00      126,701.51
3                    LEDGER  2023-09-04 00:00:00      446,233.53
4                    LEDGER  2023-09-05 00:00:00      550,821.79

                                                            len  \
                                                      total_due
tipo_reprogramacion repro_otro_mes          All repro_mismo_mes
0                     2,259,795.36 2,259,795.36            0.00
1                     1,254,416.58 1,358,322.08           53.00
2                       579,163.43   705,864.94           67.00
3                       953,007.55 1,399,241.08           89.00
4                       630,361.34 1,181,183.13          157.00



tipo_reprogramacion repro_otro_mes   All
0                         1,411.00  1411
1                           629.00   682
2                           255.00   322
3                           450.00   539
4                           472.00   629

In [42]:
pivot_tipo_repro_ledger.shape

(31, 8)

# EXCEL FINAL

In [43]:
writer = pd.ExcelWriter('FASE IV. REPROGRAMACIONES SEPTIEMBRE 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_total_trad.to_excel(writer, sheet_name='TRADICIONAL TOTAL')
pivot_parcial_trad.to_excel(writer, sheet_name='TRADICIONAL PARCIAL')
pivot_total_fp.to_excel(writer, sheet_name='FP TOTAL')
pivot_parcial_fp.to_excel(writer, sheet_name='FP PARCIAL')
pivot_total_ledger.to_excel(writer, sheet_name='LEDGER TOTAL')
pivot_parcial_ledger.to_excel(writer, sheet_name='LEDGER PARCIAL')
pivot_tipo_repro.to_excel(writer, sheet_name='CATEGORIZACION REPRO TRAD')
pivot_tipo_repro_fp.to_excel(writer, sheet_name='CATEGORIZACION REPRO FP')
pivot_tipo_repro_ledger.to_excel(writer, sheet_name='CATEGORIZACION REPRO LEDGER')
writer.close()