In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
import datetime
pd.options.display.float_format = '{:,.2f}'.format
datetime.timedelta(days=1)
datetime.timedelta(1)

datetime.timedelta(days=1)

# SETTLEMENT

In [2]:
start_date = '2022-10-01'
final_date = '2022-10-31'

In [3]:
allfiles_settled = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\10. OCTUBRE\QUERIES\*.csv', recursive=False)
allfiles_settled

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-29.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-30.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-31.csv']

In [4]:
settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
settled['Date_file'] = settled["file_name"].str[-14:-4]
settled['Date_file']= pd.to_datetime(settled['Date_file'])
settled['report_date_local']= pd.to_datetime(settled['report_date_local'])

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18568\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18568\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18568\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18568\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18568\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18568\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18568\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18568\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18568\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])

In [5]:
settled.reset_index(inplace=True)
settled.drop(['index'],axis=1,inplace=True)
settled.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,Date_file
0,48313e2d-87da-4526-8d98-33019674fa9a,PRENDAS MEXICANAS,prendasmex@gruposedem.com.mx,BN9WVDCKQ,2022-10-01,"4,614.26",166.11,26.58,0.00,0.00,...,0.00,NaN,"4,421.57",DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,2022-10-01
1,2a9287c9-d2c5-424a-9cc1-49080607aea7,ARTHROMEDIC,maybelreyes.7@gmail.com,D7YHSW2DT,2022-10-01,500.00,18.00,2.88,0.00,0.00,...,0.00,NaN,479.12,DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,2022-10-01
2,d78cb8e8-bf6a-4d10-b414-b0fe44cb7579,LA ULTIMA,izmaelalonzo13@gmail.com,FYFX7GZQ2,2022-10-01,80.50,2.90,0.46,0.00,0.00,...,0.00,NaN,77.14,DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,2022-10-01
3,edea791d-41e2-4347-8a4a-27f3cb5546bf,FERNANDA CORTES MAKEUP,fernanda_cortes_arcos@hotmail.com,HK2MS6HD9,2022-10-01,686.40,24.71,3.95,0.00,0.00,...,0.00,NaN,657.74,DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,2022-10-01
4,fe637f3e-a20f-47ba-8602-9033552861ad,LLANTAS Y SERVICIOS FALCRO S DE RL DE CV,administracion@llantasfalcro.com,J6C8N8995,2022-10-01,"13,790.63","2,144.44",343.11,0.00,0.00,...,0.00,NaN,"11,303.08",DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,2022-10-01

In [6]:
settled.shape

(2927254, 27)

### CURRENT MONTH

In [7]:
settled_current_month = settled[(settled['report_date_local'] >= start_date) & (settled['report_date_local'] <= final_date)]
settled_current_month.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,Date_file
0,48313e2d-87da-4526-8d98-33019674fa9a,PRENDAS MEXICANAS,prendasmex@gruposedem.com.mx,BN9WVDCKQ,2022-10-01,"4,614.26",166.11,26.58,0.00,0.00,...,0.00,NaN,"4,421.57",DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,2022-10-01
1,2a9287c9-d2c5-424a-9cc1-49080607aea7,ARTHROMEDIC,maybelreyes.7@gmail.com,D7YHSW2DT,2022-10-01,500.00,18.00,2.88,0.00,0.00,...,0.00,NaN,479.12,DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,2022-10-01
2,d78cb8e8-bf6a-4d10-b414-b0fe44cb7579,LA ULTIMA,izmaelalonzo13@gmail.com,FYFX7GZQ2,2022-10-01,80.50,2.90,0.46,0.00,0.00,...,0.00,NaN,77.14,DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,2022-10-01
3,edea791d-41e2-4347-8a4a-27f3cb5546bf,FERNANDA CORTES MAKEUP,fernanda_cortes_arcos@hotmail.com,HK2MS6HD9,2022-10-01,686.40,24.71,3.95,0.00,0.00,...,0.00,NaN,657.74,DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,2022-10-01
4,fe637f3e-a20f-47ba-8602-9033552861ad,LLANTAS Y SERVICIOS FALCRO S DE RL DE CV,administracion@llantasfalcro.com,J6C8N8995,2022-10-01,"13,790.63","2,144.44",343.11,0.00,0.00,...,0.00,NaN,"11,303.08",DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,2022-10-01

In [8]:
settled_current_month.shape

(2927254, 27)

In [9]:
settled_current_month.dtypes

merchant_id                              object
merchant_name                            object
user_email                               object
report_id                                object
report_date_local                datetime64[ns]
total_transactions                      float64
total_fees_charged                      float64
total_taxes                             float64
applied_fees_benefits                   float64
applied_taxes_benefits                  float64
fee_direct_deposit                      float64
taxes_direct_deposit                    float64
total_adjustments                       float64
total_adjustment_fees_charged           float64
total_adjustment_taxes                  float64
cobranza                                float64
total_released                          float64
total_retained                          float64
tipopago                                 object
total_due                               float64
type                                     object
created_date                             object
created_time                             object
updated_date                             object
updated_time                             object
file_name                                object
Date_file                        datetime64[ns]
dtype: object

In [10]:
# def next_date(settled_current_month):
#     if settled_current_month['updated_time'] >= '20:00:00':
#         return settled_current_month['report_date_local'] + datetime.timedelta(days=1)
#     else:
#         return settled_current_month['report_date_local']
    
# settled_current_month['poliza_date'] = settled_current_month.apply(next_date, axis=1)

In [11]:
# settled_current_month.head()

In [12]:
# settled_current_month.shape

In [13]:
# settled_current_month['poliza_date'].unique()

### CANCELACIONES

In [14]:
settled_current_month.loc[(settled_current_month['total_released'] > 0)
                          & (settled_current_month['total_adjustments'] < 0),'canc_1'] = settled_current_month['total_adjustments']
settled_current_month['canc_1'].fillna(0,inplace=True)

In [15]:
settled_current_month.loc[(settled_current_month['total_released'] > 0)
                          & (settled_current_month['total_adjustments'] < 0),'canc_2'] = settled_current_month['total_released']
settled_current_month['canc_2'].fillna(0,inplace=True)

In [16]:
settled_current_month['cancelaciones'] = (-settled_current_month['canc_1']) - (settled_current_month['canc_2'])
settled_current_month.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,type,created_date,created_time,updated_date,updated_time,file_name,Date_file,canc_1,canc_2,cancelaciones
0,48313e2d-87da-4526-8d98-33019674fa9a,PRENDAS MEXICANAS,prendasmex@gruposedem.com.mx,BN9WVDCKQ,2022-10-01,"4,614.26",166.11,26.58,0.00,0.00,...,DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,2022-10-01,0.00,0.00,-0.00
1,2a9287c9-d2c5-424a-9cc1-49080607aea7,ARTHROMEDIC,maybelreyes.7@gmail.com,D7YHSW2DT,2022-10-01,500.00,18.00,2.88,0.00,0.00,...,DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,2022-10-01,0.00,0.00,-0.00
2,d78cb8e8-bf6a-4d10-b414-b0fe44cb7579,LA ULTIMA,izmaelalonzo13@gmail.com,FYFX7GZQ2,2022-10-01,80.50,2.90,0.46,0.00,0.00,...,DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,2022-10-01,0.00,0.00,-0.00
3,edea791d-41e2-4347-8a4a-27f3cb5546bf,FERNANDA CORTES MAKEUP,fernanda_cortes_arcos@hotmail.com,HK2MS6HD9,2022-10-01,686.40,24.71,3.95,0.00,0.00,...,DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,2022-10-01,0.00,0.00,-0.00
4,fe637f3e-a20f-47ba-8602-9033552861ad,LLANTAS Y SERVICIOS FALCRO S DE RL DE CV,administracion@llantasfalcro.com,J6C8N8995,2022-10-01,"13,790.63","2,144.44",343.11,0.00,0.00,...,DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,2022-10-01,0.00,0.00,-0.00

In [17]:
settled_current_month.shape

(2927254, 30)

### TOTAL DUE CALCULADO

In [18]:
settled_current_month['total_due_calculado'] = (settled_current_month['total_transactions']
                                                - settled_current_month['total_fees_charged']
                                                - settled_current_month['total_taxes']
                                                + settled_current_month['applied_fees_benefits']
                                                + settled_current_month['applied_taxes_benefits']
                                                + settled_current_month['fee_direct_deposit']
                                                + settled_current_month['taxes_direct_deposit']
                                                - (-settled_current_month['total_adjustments'])
                                                + (-settled_current_month['total_adjustment_fees_charged'])
                                                + (-settled_current_month['total_adjustment_taxes'])
                                                - settled_current_month['cobranza']
                                                + settled_current_month['total_released']
                                                - settled_current_month['total_retained'])
settled_current_month['diferencias'] = settled_current_month['total_due_calculado'] - settled_current_month['total_due']
settled_current_month.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,created_time,updated_date,updated_time,file_name,Date_file,canc_1,canc_2,cancelaciones,total_due_calculado,diferencias
0,48313e2d-87da-4526-8d98-33019674fa9a,PRENDAS MEXICANAS,prendasmex@gruposedem.com.mx,BN9WVDCKQ,2022-10-01,"4,614.26",166.11,26.58,0.00,0.00,...,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,2022-10-01,0.00,0.00,-0.00,"4,421.57",0.00
1,2a9287c9-d2c5-424a-9cc1-49080607aea7,ARTHROMEDIC,maybelreyes.7@gmail.com,D7YHSW2DT,2022-10-01,500.00,18.00,2.88,0.00,0.00,...,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,2022-10-01,0.00,0.00,-0.00,479.12,0.00
2,d78cb8e8-bf6a-4d10-b414-b0fe44cb7579,LA ULTIMA,izmaelalonzo13@gmail.com,FYFX7GZQ2,2022-10-01,80.50,2.90,0.46,0.00,0.00,...,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,2022-10-01,0.00,0.00,-0.00,77.14,0.00
3,edea791d-41e2-4347-8a4a-27f3cb5546bf,FERNANDA CORTES MAKEUP,fernanda_cortes_arcos@hotmail.com,HK2MS6HD9,2022-10-01,686.40,24.71,3.95,0.00,0.00,...,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,2022-10-01,0.00,0.00,-0.00,657.74,-0.00
4,fe637f3e-a20f-47ba-8602-9033552861ad,LLANTAS Y SERVICIOS FALCRO S DE RL DE CV,administracion@llantasfalcro.com,J6C8N8995,2022-10-01,"13,790.63","2,144.44",343.11,0.00,0.00,...,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,2022-10-01,0.00,0.00,-0.00,"11,303.08",-0.00

In [19]:
settled_current_month.shape

(2927254, 32)

### CONCILIACION TPV

In [20]:
conc_1 = settled_current_month.groupby(['report_date_local']).agg({'total_transactions':sum,'total_fees_charged':sum
                                                                    ,'total_taxes':sum,'applied_fees_benefits':sum
                                                                    ,'applied_taxes_benefits':sum,'fee_direct_deposit':sum
                                                                    ,'taxes_direct_deposit':sum,'total_adjustments':sum
                                                                    ,'total_adjustment_fees_charged':sum
                                                                    ,'total_adjustment_taxes':sum 
                                                                    ,'cobranza':sum,'total_released':sum
                                                                    ,'total_retained':sum,'cancelaciones':sum
                                                                    ,'total_due_calculado':sum,'total_due':sum
                                                                    ,'diferencias':sum}).reset_index()
conc_1['total_adjustments'] = conc_1['total_adjustments']*-1 
conc_1['total_adjustment_fees_charged'] = conc_1['total_adjustment_fees_charged']*-1
conc_1['total_adjustment_taxes'] = conc_1['total_adjustment_taxes']*-1 
conc_1.head()

,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-10-01,"240,449,945.72","9,608,010.44","1,537,297.94","2,159.41",345.49,"23,192.75","3,714.85","2,081,322.25",-0.00,-0.00,"4,002.43","479,799.54","611,308.44",0.00,"227,117,216.26","227,117,216.26",-0.00
1,2022-10-02,"256,900,828.79","10,177,011.99","1,628,332.98","3,406.59",545.10,"22,493.25","3,602.95","2,293,679.81",-0.00,-0.00,"24,833.14","735,728.77","182,797.44",0.00,"243,359,950.09","243,359,950.09",0.00
2,2022-10-03,"175,247,936.36","6,862,292.51","1,097,976.04","1,639.39",262.30,"16,110.27","2,579.93","1,517,996.99",-0.00,-0.00,"36,972.22","212,951.59","696,274.58",0.00,"165,269,967.50","165,269,967.50",-0.00
3,2022-10-04,"168,151,053.35","6,910,131.91","1,105,633.94","1,621.88",259.56,"26,608.41","4,260.79","1,223,819.26",-0.00,-0.00,"7,961.86","2,726,304.31","548,181.79","-2,587.25","161,114,379.54","161,114,379.54",0.00
4,2022-10-05,"173,594,115.28","7,128,719.25","1,140,609.83","1,858.14",297.32,"22,713.41","3,637.39","1,600,607.44","10,800.00","1,728.00","100,428.69","1,374,351.49","937,634.06","12,528.00","164,101,501.76","164,101,501.76",-0.00

In [21]:
conc_1.shape

(31, 18)

In [22]:
conc_3 = settled_current_month.groupby(['report_date_local','type']).agg({'total_transactions':sum,'total_fees_charged':sum
                                                                    ,'total_taxes':sum,'applied_fees_benefits':sum
                                                                    ,'applied_taxes_benefits':sum,'fee_direct_deposit':sum
                                                                    ,'taxes_direct_deposit':sum,'total_adjustments':sum     
                                                                    ,'total_adjustment_fees_charged':sum
                                                                    ,'total_adjustment_taxes':sum 
                                                                    ,'cobranza':sum,'total_released':sum
                                                                    ,'total_retained':sum,'cancelaciones':sum
                                                                    ,'total_due_calculado':sum,'total_due':sum
                                                                    ,'diferencias':sum}).reset_index()
conc_3['total_adjustments'] = conc_3['total_adjustments']*-1 
conc_3['total_adjustment_fees_charged'] = conc_3['total_adjustment_fees_charged']*-1
conc_3['total_adjustment_taxes'] = conc_3['total_adjustment_taxes']*-1 
conc_3.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-10-01,DAILY,"236,785,927.79","9,464,533.65","1,514,341.47","2,159.41",345.49,"23,192.75","3,714.85","1,942,553.25",-0.00,-0.00,"4,002.43","479,799.54","611,253.83",0.00,"223,758,455.20","223,758,455.20",-0.00
1,2022-10-01,INSTANT,"3,664,017.93","143,476.79","22,956.47",0.00,0.00,0.00,0.00,"138,769.00",-0.00,-0.00,0.00,0.00,54.61,0.00,"3,358,761.06","3,358,761.06",-0.00
2,2022-10-02,DAILY,"253,989,330.42","10,064,313.83","1,610,301.53","3,406.59",545.10,"22,493.25","3,602.95","2,176,501.71",-0.00,-0.00,"24,833.14","735,728.77","182,606.65",0.00,"240,696,550.22","240,696,550.22",-0.00
3,2022-10-02,INSTANT,"2,911,498.37","112,698.16","18,031.45",0.00,0.00,0.00,0.00,"117,178.10",-0.00,-0.00,0.00,0.00,190.79,0.00,"2,663,399.87","2,663,399.87",0.00
4,2022-10-03,DAILY,"172,627,856.42","6,757,533.49","1,081,214.36","1,639.39",262.30,"16,110.27","2,579.93","1,435,644.09",-0.00,-0.00,"36,972.22","212,951.59","696,274.58",0.00,"162,853,761.16","162,853,761.16",-0.00

In [23]:
conc_3.shape

(62, 19)

In [24]:
conc_3['type'].unique()

array(['DAILY', 'INSTANT'], dtype=object)

In [25]:
data_daily = conc_3[(conc_3['type'] == 'DAILY')]
data_daily.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-10-01,DAILY,"236,785,927.79","9,464,533.65","1,514,341.47","2,159.41",345.49,"23,192.75","3,714.85","1,942,553.25",-0.00,-0.00,"4,002.43","479,799.54","611,253.83",0.00,"223,758,455.20","223,758,455.20",-0.00
2,2022-10-02,DAILY,"253,989,330.42","10,064,313.83","1,610,301.53","3,406.59",545.10,"22,493.25","3,602.95","2,176,501.71",-0.00,-0.00,"24,833.14","735,728.77","182,606.65",0.00,"240,696,550.22","240,696,550.22",-0.00
4,2022-10-03,DAILY,"172,627,856.42","6,757,533.49","1,081,214.36","1,639.39",262.30,"16,110.27","2,579.93","1,435,644.09",-0.00,-0.00,"36,972.22","212,951.59","696,274.58",0.00,"162,853,761.16","162,853,761.16",-0.00
6,2022-10-04,DAILY,"165,881,356.96","6,816,601.38","1,090,669.02","1,621.88",259.56,"26,608.41","4,260.79","1,156,341.66",-0.00,-0.00,"7,961.86","2,726,304.31","548,181.79","-2,587.25","159,020,656.20","159,020,656.20",0.00
8,2022-10-05,DAILY,"171,399,326.46","7,041,077.76","1,126,586.78","1,858.14",297.32,"22,713.41","3,637.39","1,512,073.98","10,800.00","1,728.00","100,428.69","1,374,351.49","937,634.06","12,528.00","162,096,910.94","162,096,910.94",-0.00

In [26]:
data_daily.shape

(31, 19)

In [27]:
data_instant = conc_3[(conc_3['type'] == 'INSTANT')]
data_instant.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
1,2022-10-01,INSTANT,"3,664,017.93","143,476.79","22,956.47",0.00,0.00,0.00,0.00,"138,769.00",-0.00,-0.00,0.00,0.00,54.61,0.00,"3,358,761.06","3,358,761.06",-0.00
3,2022-10-02,INSTANT,"2,911,498.37","112,698.16","18,031.45",0.00,0.00,0.00,0.00,"117,178.10",-0.00,-0.00,0.00,0.00,190.79,0.00,"2,663,399.87","2,663,399.87",0.00
5,2022-10-03,INSTANT,"2,620,079.94","104,759.02","16,761.68",0.00,0.00,0.00,0.00,"82,352.90",-0.00,-0.00,0.00,0.00,0.00,0.00,"2,416,206.34","2,416,206.34",-0.00
7,2022-10-04,INSTANT,"2,269,696.39","93,530.53","14,964.92",0.00,0.00,0.00,0.00,"67,477.60",-0.00,-0.00,0.00,0.00,0.00,0.00,"2,093,723.34","2,093,723.34",-0.00
9,2022-10-05,INSTANT,"2,194,788.82","87,641.49","14,023.05",0.00,0.00,0.00,0.00,"88,533.46",-0.00,-0.00,0.00,0.00,0.00,0.00,"2,004,590.82","2,004,590.82",-0.00

In [28]:
data_instant.shape

(31, 19)

### RELEASED SIN CLABE

In [29]:
released_sinclabe = settled_current_month[(settled_current_month['tipopago'] == 'sin CLABE')]
released_sinclabe.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date_file, canc_1, canc_2, cancelaciones, total_due_calculado, diferencias]
Index: []

[0 rows x 32 columns]

In [30]:
released_sinclabe.shape

(0, 32)

In [31]:
released_1 = released_sinclabe.groupby(['report_date_local']).agg({'total_released':sum}).reset_index()
released_1.head()

Empty DataFrame
Columns: [report_date_local, total_released]
Index: []

In [32]:
released_1.shape

(0, 2)

In [33]:
released_3 = released_sinclabe.groupby(['report_date_local','type']).agg({'total_released':sum}).reset_index()
released_3.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [34]:
released_3.shape

(0, 3)

In [35]:
released_3['type'].unique()

array([], dtype=object)

In [36]:
released_daily = released_3[(released_3['type'] == 'DAILY')]
released_daily.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [37]:
released_daily.shape

(0, 3)

In [38]:
released_instant = released_3[(released_3['type'] == 'INSTANT')]
released_instant.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [39]:
released_instant.shape

(0, 3)

# INFO CUPONES

In [40]:
allcupon_fact = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FACTURACION\2022\10. OCTUBRE\Cupones*.csv', recursive=False)
allcupon_fact

['C:\\Users\\Cristian.Aparicio\\Documents\\FACTURACION\\2022\\10. OCTUBRE\\Cupones_mm.csv']

In [41]:
cupon_current_month = pd.concat([pd.read_csv(f,dtype={'report_id':object})
                                 .assign(file_name=os.path.basename(f)) for f in allcupon_fact])
cupon_current_month.head()

,merchant_id,merchant_token,fee_refund_id,report_id,number_transactions,total_refunded,amount,pending,source,created_at,file_name
0,40dda9f3-518e-423f-8b04-1572ba44a0d7,fbafce7d-82d6-470f-b76a-151332042ddd,5ac1dd9f-221b-4943-bd46-ec4aa4ae749b,228LCKGVL,2,76.42,108.00,31.58,LOYALTY,2022-10-06 11:39:28,Cupones_mm.csv
1,9f7384ad-a017-4e15-81f9-1a77eee62f5d,b4c82681-754a-4932-9d1e-11c116df2bb4,8ba3cd55-d8ac-46a8-939f-0fe124c2d08a,22BZKF2BX,2,141.40,292.00,150.60,LOYALTY,2021-11-13 11:05:44,Cupones_mm.csv
2,738de109-77df-4182-9643-e436bb893a38,343c2a67-5c80-4779-8ede-c2e51ddd8436,0714eca4-db00-42a5-8208-c383324b096d,22R67MKYL,1,108.00,108.00,0.00,LOYALTY,2022-07-21 07:56:43,Cupones_mm.csv
3,e162832e-84bf-46b8-8153-89fedf5653d0,5faa9f83-9136-4554-97a5-86b17110f616,a54d32c4-8997-4080-9af2-2af1015f4626,2393Q8WCL,1,108.00,108.00,0.00,LOYALTY,2022-07-28 08:35:08,Cupones_mm.csv
4,698c5373-04d0-4b6a-a1a3-6b74193b5d19,d51b882c-aeb8-4a04-bfb5-689a20585b2d,4239045e-e70c-4f75-9693-fb52af8c1367,239BKF6RF,1,87.70,292.00,204.30,LOYALTY,2021-12-07 10:56:57,Cupones_mm.csv

In [42]:
cupon_current_month.shape

(2730, 11)

In [43]:
cupones_data = settled_current_month.merge(cupon_current_month[['report_id','total_refunded','pending','amount',
                                              'source']] ,on='report_id', how='left')
cupones_data['total_benefits'] = cupones_data['applied_fees_benefits'] + cupones_data['applied_taxes_benefits']
cupones_data.loc[(cupones_data['applied_fees_benefits'] != 0) & (cupones_data['source']!= 'LOYALTY'), 'source'] = 'TOP_UPS'
cupones_data.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,canc_1,canc_2,cancelaciones,total_due_calculado,diferencias,total_refunded,pending,amount,source,total_benefits
0,48313e2d-87da-4526-8d98-33019674fa9a,PRENDAS MEXICANAS,prendasmex@gruposedem.com.mx,BN9WVDCKQ,2022-10-01,"4,614.26",166.11,26.58,0.00,0.00,...,0.00,0.00,-0.00,"4,421.57",0.00,NaN,NaN,NaN,NaN,0.00
1,2a9287c9-d2c5-424a-9cc1-49080607aea7,ARTHROMEDIC,maybelreyes.7@gmail.com,D7YHSW2DT,2022-10-01,500.00,18.00,2.88,0.00,0.00,...,0.00,0.00,-0.00,479.12,0.00,NaN,NaN,NaN,NaN,0.00
2,d78cb8e8-bf6a-4d10-b414-b0fe44cb7579,LA ULTIMA,izmaelalonzo13@gmail.com,FYFX7GZQ2,2022-10-01,80.50,2.90,0.46,0.00,0.00,...,0.00,0.00,-0.00,77.14,0.00,NaN,NaN,NaN,NaN,0.00
3,edea791d-41e2-4347-8a4a-27f3cb5546bf,FERNANDA CORTES MAKEUP,fernanda_cortes_arcos@hotmail.com,HK2MS6HD9,2022-10-01,686.40,24.71,3.95,0.00,0.00,...,0.00,0.00,-0.00,657.74,-0.00,NaN,NaN,NaN,NaN,0.00
4,fe637f3e-a20f-47ba-8602-9033552861ad,LLANTAS Y SERVICIOS FALCRO S DE RL DE CV,administracion@llantasfalcro.com,J6C8N8995,2022-10-01,"13,790.63","2,144.44",343.11,0.00,0.00,...,0.00,0.00,-0.00,"11,303.08",-0.00,NaN,NaN,NaN,NaN,0.00

In [44]:
cupones_data['source'].unique()

array([nan, 'TOP_UPS', 'LOYALTY'], dtype=object)

In [45]:
cupones_data.shape

(2927254, 37)

### TOPUPS

In [46]:
topups_benefits = cupones_data[(cupones_data['source'] == 'TOP_UPS')]
topups_benefits.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,canc_1,canc_2,cancelaciones,total_due_calculado,diferencias,total_refunded,pending,amount,source,total_benefits
2930,0f2950d7-cd82-4081-9634-215265c8491e,SUPERPEQUE,Itzacalixto@gmail.com,9NDHL34JZ,2022-10-01,70.00,2.52,0.41,2.53,0.40,...,0.00,0.00,-0.00,70.00,0.00,NaN,NaN,NaN,TOP_UPS,2.93
5701,2556b249-dd36-4abb-a2ae-9489e1865191,MY SALAD,ensaladasfact@hotmail.com,GBWB58CDR,2022-10-01,"1,095.00",39.42,6.30,1.72,0.28,...,0.00,0.00,-0.00,"1,051.28",0.00,NaN,NaN,NaN,TOP_UPS,2.00
7676,8e280aaa-5292-40e2-8a13-bb9aa5c1f505,LA CABAÑA UIC,Claudiooscar23@hotmail.com,8F2VDBRRJ,2022-10-01,"4,762.00",171.36,27.42,2.59,0.41,...,0.00,0.00,-0.00,"4,566.22",0.00,NaN,NaN,NaN,TOP_UPS,3.00
9016,3d50ec6c-1657-44c6-ae76-146b60b94282,EL ROPERO,fridajiye@gmail.com,SN2ZGNBQK,2022-10-01,620.00,22.32,3.57,22.32,3.57,...,0.00,0.00,-0.00,620.00,0.00,NaN,NaN,NaN,TOP_UPS,25.89
9133,c13192bc-e416-4f06-937e-775c3f0b87b5,IDEALES CERAMICOS,bonna1408@gmail.com,2KVCNZML9,2022-10-01,"1,046.00",37.66,6.03,17.24,2.76,...,0.00,0.00,-0.00,"1,022.31",0.00,NaN,NaN,NaN,TOP_UPS,20.00

In [47]:
topups_benefits.shape

(2740, 37)

In [48]:
pivot_topups_benefits = pd.pivot_table(topups_benefits,index=['report_date_local'],values=['applied_fees_benefits',
                                                                                        'applied_taxes_benefits'],
                                       aggfunc=np.sum,margins=False).reset_index()
pivot_topups_benefits.rename(columns ={'applied_fees_benefits':'applied_fees_benefits_topups',
                                      'applied_taxes_benefits':'applied_taxes_benefits_topups'},inplace=True)
pivot_topups_benefits.head()

,report_date_local,applied_fees_benefits_topups,applied_taxes_benefits_topups
0,2022-10-01,"1,004.59",160.71
1,2022-10-02,"1,756.31",281.05
2,2022-10-03,"1,101.63",176.25
3,2022-10-04,"1,496.34",239.47
4,2022-10-05,"1,098.73",175.81

In [49]:
pivot_topups_benefits.shape

(31, 3)

### CUPONES

In [50]:
coupons_benefits = cupones_data[(cupones_data['source'] == 'LOYALTY')]
coupons_benefits.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,canc_1,canc_2,cancelaciones,total_due_calculado,diferencias,total_refunded,pending,amount,source,total_benefits
7516,efa4459c-eea0-4269-9796-a7ff5aaf7d58,JOSE,joe.gmz@icloud.com,QP73Z6Z6N,2022-10-01,"3,900.00",140.40,22.46,93.10,14.90,...,0.00,0.00,-0.00,"3,845.14",0.00,108.00,0.00,108.00,LOYALTY,108.00
45514,4878f7f3-d67c-4902-a568-1abf5cf1ec9b,LA MANSION DEL DISING,zobeth_2812@hotmail.com,ZBSGHQTS7,2022-10-01,"3,000.00",466.50,74.64,344.83,55.17,...,0.00,0.00,-0.00,"2,858.86",0.00,400.00,0.00,400.00,LOYALTY,400.00
56457,b0b473fa-7a74-4774-839a-6652b1729a69,ROBERTO KLEE,rojasklee@hotmail.com,J82M5RB2S,2022-10-01,"3,745.89",134.85,21.58,134.85,21.58,...,0.00,0.00,-0.00,"3,745.89",0.00,156.43,243.57,400.00,LOYALTY,156.43
62638,a76a1228-c2a4-4371-828b-95882aa0f47e,NOVEDADES ODONTOLOGICAS,maciasgarcia07@hotmail.com,JDMT4K7CZ,2022-10-01,"9,802.00",735.37,117.66,517.24,82.76,...,0.00,0.00,-0.00,"9,548.97",0.00,600.00,0.00,600.00,LOYALTY,600.00
77376,816fecad-edd7-40b1-8129-e835d4d8df6f,OPTICA,opticamtzaguayo@autlook.com,LD9Z3J79Y,2022-10-01,"1,800.00",64.80,10.37,64.80,10.37,...,0.00,0.00,-0.00,"1,800.00",0.00,75.17,524.83,600.00,LOYALTY,75.17

In [51]:
coupons_benefits.shape

(106, 37)

In [52]:
pivot_coupons_benefits = pd.pivot_table(coupons_benefits,index=['report_date_local'],values=['applied_fees_benefits',
                                                                                        'applied_taxes_benefits'],
                                       aggfunc=np.sum,margins=False).reset_index()
pivot_coupons_benefits.rename(columns ={'applied_fees_benefits':'applied_fees_benefits_coupons',
                                      'applied_taxes_benefits':'applied_taxes_benefits_coupons'},inplace=True)
pivot_coupons_benefits.head()

,report_date_local,applied_fees_benefits_coupons,applied_taxes_benefits_coupons
0,2022-10-01,"1,154.82",184.78
1,2022-10-02,"1,650.28",264.05
2,2022-10-03,537.76,86.05
3,2022-10-04,125.54,20.09
4,2022-10-05,759.41,121.51

In [53]:
pivot_coupons_benefits.shape

(30, 3)

# EXCEL FINAL

In [54]:
writer = pd.ExcelWriter('FASE I. DATA POLIZA OCTUBRE 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
conc_1.to_excel(writer, sheet_name='MONTOS REPORT_DATE',index=False)
data_daily.to_excel(writer, sheet_name='MONTOS_DAILY',index=False)
data_instant.to_excel(writer, sheet_name='MONTOS_INSTANT',index=False)
pivot_topups_benefits.to_excel(writer, sheet_name='TOPUPS',index=False)
pivot_coupons_benefits.to_excel(writer, sheet_name='COUPONS',index=False)
released_1.to_excel(writer, sheet_name='RELEASED REPORT_DATE',index=False)
released_daily.to_excel(writer, sheet_name='RELEASED_DAILY',index=False)
released_instant.to_excel(writer, sheet_name='RELEASED_INSTANT',index=False)
writer.close()