In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
import datetime
pd.options.display.float_format = '{:,.2f}'.format
datetime.timedelta(days=1)
datetime.timedelta(1)

datetime.timedelta(days=1)

# SETTLEMENT

In [2]:
start_date = '2022-02-26'
final_date = '2022-02-28'

In [3]:
allfiles_settled = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\02. FEBRERO\QUERIES\*.csv', recursive=False)
allfiles_settled

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\02. FEBRERO\\QUERIES\\SETTLEMENT 2022-02-28.csv']

In [4]:
settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
settled['Date_file'] = settled["file_name"].str[-14:-4]
settled['Date_file']= pd.to_datetime(settled['Date_file'])
settled['report_date_local']= pd.to_datetime(settled['report_date_local'])

C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_19216/1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_19216/1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_19216/1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])

In [5]:
settled.reset_index(inplace=True)
settled.drop(['index'],axis=1,inplace=True)
settled.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,Date_file
0,e52d9704-6871-435b-a772-a62a7f5ead18,Natural,nancynm1820@gmail.com,39MNGF97Z,2022-02-01,"1,500.00",54.00,8.64,0.00,0.00,...,0.00,NaN,"1,437.36",DAILY,2022-02-01,02:00:22,2022-02-01,02:00:22,SETTLEMENT 2022-02-01.csv,2022-02-01
1,2a9287c9-d2c5-424a-9cc1-49080607aea7,Arthromedic,maybelreyes.7@gmail.com,2LS4TPLL8,2022-02-01,"1,350.00",48.60,7.78,0.00,0.00,...,0.00,NaN,"1,293.62",DAILY,2022-02-01,02:00:23,2022-02-01,02:00:23,SETTLEMENT 2022-02-01.csv,2022-02-01
2,c62a160d-4af9-431b-8244-70ccb4ebb0a5,Pisos Laminados Y Marmol VR,dorisjanirmaro@gmail.com,84BJNG6K4,2022-02-01,"4,336.00",156.10,24.98,0.00,0.00,...,0.00,NaN,"4,154.92",DAILY,2022-02-01,02:00:23,2022-02-01,02:00:23,SETTLEMENT 2022-02-01.csv,2022-02-01
3,a85619da-fb1f-47d9-a5b7-33256a0511fb,Restaurante Los Nietos,guillermo_220596@hotmail.com,FWJH5JK9L,2022-02-01,561.48,20.22,3.24,0.00,0.00,...,0.00,NaN,538.02,DAILY,2022-02-01,02:00:23,2022-02-01,02:00:23,SETTLEMENT 2022-02-01.csv,2022-02-01
4,823b418a-f07d-4602-ac25-c87846b727f7,Grata Impresión,grataimpresion@gmail.com,HY2KXK5B9,2022-02-01,150.00,5.40,0.86,0.00,0.00,...,0.00,NaN,143.74,DAILY,2022-02-01,02:00:23,2022-02-01,02:00:23,SETTLEMENT 2022-02-01.csv,2022-02-01

In [6]:
settled.shape

(2298860, 27)

### CURRENT MONTH

In [7]:
settled_current_month = settled[(settled['report_date_local'] >= start_date) & (settled['report_date_local'] <= final_date)]
settled_current_month.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,Date_file
2041994,33f3ae8e-71c1-4d9f-8826-9e565f41370d,master proyect,mgb142@yahoo.es,2SCDCSX9M,2022-02-26,"15,000.00",540.00,86.40,0.00,0.00,...,0.00,NaN,"14,373.60",DAILY,2022-02-26,02:00:26,2022-02-26,02:00:26,SETTLEMENT 2022-02-26.csv,2022-02-26
2041995,0e4f1db5-0172-46ee-bfc6-ea6ee825a393,BiscuitDessertsMx,fernanda1rayasesq@gmail.com,57KC39QRL,2022-02-26,"5,000.00",180.00,28.80,0.00,0.00,...,0.00,NaN,"4,791.20",DAILY,2022-02-26,02:00:26,2022-02-26,02:00:26,SETTLEMENT 2022-02-26.csv,2022-02-26
2041996,e9bfa0fa-1ffa-49ad-9634-8113201bacc9,Nutriologa Patricia Martinez,nut.patriciamp@hotmail.com,372VZXGHB,2022-02-26,500.00,18.00,2.88,0.00,0.00,...,0.00,NaN,479.12,DAILY,2022-02-26,02:00:27,2022-02-26,02:00:27,SETTLEMENT 2022-02-26.csv,2022-02-26
2041997,823b418a-f07d-4602-ac25-c87846b727f7,Grata Impresión,grataimpresion@gmail.com,3GQZBWQ59,2022-02-26,60.00,2.16,0.35,0.00,0.00,...,0.00,NaN,57.49,DAILY,2022-02-26,02:00:27,2022-02-26,02:00:27,SETTLEMENT 2022-02-26.csv,2022-02-26
2041998,6f9fe7c6-ad24-4b3e-b1dd-99cb24b6e375,PROCACE,procaceterminal@hotmail.com,4LSYPXT95,2022-02-26,"1,906.00",68.61,10.98,0.00,0.00,...,0.00,NaN,"1,826.41",DAILY,2022-02-26,02:00:27,2022-02-26,02:00:27,SETTLEMENT 2022-02-26.csv,2022-02-26

In [8]:
settled_current_month.shape

(256866, 27)

In [9]:
settled_current_month.dtypes

merchant_id                              object
merchant_name                            object
user_email                               object
report_id                                object
report_date_local                datetime64[ns]
total_transactions                      float64
total_fees_charged                      float64
total_taxes                             float64
applied_fees_benefits                   float64
applied_taxes_benefits                  float64
fee_direct_deposit                      float64
taxes_direct_deposit                    float64
total_adjustments                       float64
total_adjustment_fees_charged           float64
total_adjustment_taxes                  float64
cobranza                                float64
total_released                          float64
total_retained                          float64
tipopago                                 object
total_due                               float64
type                                     object
created_date                             object
created_time                             object
updated_date                             object
updated_time                             object
file_name                                object
Date_file                        datetime64[ns]
dtype: object

In [10]:
# def next_date(settled_current_month):
#     if settled_current_month['updated_time'] >= '20:00:00':
#         return settled_current_month['report_date_local'] + datetime.timedelta(days=1)
#     else:
#         return settled_current_month['report_date_local']
    
# settled_current_month['poliza_date'] = settled_current_month.apply(next_date, axis=1)

In [11]:
# settled_current_month.head()

In [12]:
# settled_current_month.shape

In [13]:
# settled_current_month['poliza_date'].unique()

### CANCELACIONES

In [14]:
settled_current_month.loc[(settled_current_month['total_released'] > 0)
                          & (settled_current_month['total_adjustments'] < 0),'canc_1'] = settled_current_month['total_adjustments']
settled_current_month['canc_1'].fillna(0,inplace=True)

C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_19216/2387200959.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month.loc[(settled_current_month['total_released'] > 0)
C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_19216/2387200959.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['canc_1'].fillna(0,inplace=True)

In [15]:
settled_current_month.loc[(settled_current_month['total_released'] > 0)
                          & (settled_current_month['total_adjustments'] < 0),'canc_2'] = settled_current_month['total_released']
settled_current_month['canc_2'].fillna(0,inplace=True)

C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_19216/97313772.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month.loc[(settled_current_month['total_released'] > 0)
C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_19216/97313772.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['canc_2'].fillna(0,inplace=True)

In [16]:
settled_current_month['cancelaciones'] = (-settled_current_month['canc_1']) - (settled_current_month['canc_2'])
settled_current_month.head()

C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_19216/715271970.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['cancelaciones'] = (-settled_current_month['canc_1']) - (settled_current_month['canc_2'])

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,type,created_date,created_time,updated_date,updated_time,file_name,Date_file,canc_1,canc_2,cancelaciones
2041994,33f3ae8e-71c1-4d9f-8826-9e565f41370d,master proyect,mgb142@yahoo.es,2SCDCSX9M,2022-02-26,"15,000.00",540.00,86.40,0.00,0.00,...,DAILY,2022-02-26,02:00:26,2022-02-26,02:00:26,SETTLEMENT 2022-02-26.csv,2022-02-26,0.00,0.00,-0.00
2041995,0e4f1db5-0172-46ee-bfc6-ea6ee825a393,BiscuitDessertsMx,fernanda1rayasesq@gmail.com,57KC39QRL,2022-02-26,"5,000.00",180.00,28.80,0.00,0.00,...,DAILY,2022-02-26,02:00:26,2022-02-26,02:00:26,SETTLEMENT 2022-02-26.csv,2022-02-26,0.00,0.00,-0.00
2041996,e9bfa0fa-1ffa-49ad-9634-8113201bacc9,Nutriologa Patricia Martinez,nut.patriciamp@hotmail.com,372VZXGHB,2022-02-26,500.00,18.00,2.88,0.00,0.00,...,DAILY,2022-02-26,02:00:27,2022-02-26,02:00:27,SETTLEMENT 2022-02-26.csv,2022-02-26,0.00,0.00,-0.00
2041997,823b418a-f07d-4602-ac25-c87846b727f7,Grata Impresión,grataimpresion@gmail.com,3GQZBWQ59,2022-02-26,60.00,2.16,0.35,0.00,0.00,...,DAILY,2022-02-26,02:00:27,2022-02-26,02:00:27,SETTLEMENT 2022-02-26.csv,2022-02-26,0.00,0.00,-0.00
2041998,6f9fe7c6-ad24-4b3e-b1dd-99cb24b6e375,PROCACE,procaceterminal@hotmail.com,4LSYPXT95,2022-02-26,"1,906.00",68.61,10.98,0.00,0.00,...,DAILY,2022-02-26,02:00:27,2022-02-26,02:00:27,SETTLEMENT 2022-02-26.csv,2022-02-26,0.00,0.00,-0.00

In [17]:
settled_current_month.shape

(256866, 30)

### TOTAL DUE CALCULADO

In [18]:
settled_current_month['total_due_calculado'] = (settled_current_month['total_transactions']
                                                - settled_current_month['total_fees_charged']
                                                - settled_current_month['total_taxes']
                                                + settled_current_month['applied_fees_benefits']
                                                + settled_current_month['applied_taxes_benefits']
                                                + settled_current_month['fee_direct_deposit']
                                                + settled_current_month['taxes_direct_deposit']
                                                - (-settled_current_month['total_adjustments'])
                                                + (-settled_current_month['total_adjustment_fees_charged'])
                                                + (-settled_current_month['total_adjustment_taxes'])
                                                - settled_current_month['cobranza']
                                                + settled_current_month['total_released']
                                                - settled_current_month['total_retained'])
settled_current_month['diferencias'] = settled_current_month['total_due_calculado'] - settled_current_month['total_due']
settled_current_month.head()

C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_19216/4192761883.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['total_due_calculado'] = (settled_current_month['total_transactions']
C:\Users\CRISTI~1.APA\AppData\Local\Temp/ipykernel_19216/4192761883.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['diferencias'] = settled_current_month['total_due_calculado'] - settled_current_month['total_due']

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,created_time,updated_date,updated_time,file_name,Date_file,canc_1,canc_2,cancelaciones,total_due_calculado,diferencias
2041994,33f3ae8e-71c1-4d9f-8826-9e565f41370d,master proyect,mgb142@yahoo.es,2SCDCSX9M,2022-02-26,"15,000.00",540.00,86.40,0.00,0.00,...,02:00:26,2022-02-26,02:00:26,SETTLEMENT 2022-02-26.csv,2022-02-26,0.00,0.00,-0.00,"14,373.60",0.00
2041995,0e4f1db5-0172-46ee-bfc6-ea6ee825a393,BiscuitDessertsMx,fernanda1rayasesq@gmail.com,57KC39QRL,2022-02-26,"5,000.00",180.00,28.80,0.00,0.00,...,02:00:26,2022-02-26,02:00:26,SETTLEMENT 2022-02-26.csv,2022-02-26,0.00,0.00,-0.00,"4,791.20",0.00
2041996,e9bfa0fa-1ffa-49ad-9634-8113201bacc9,Nutriologa Patricia Martinez,nut.patriciamp@hotmail.com,372VZXGHB,2022-02-26,500.00,18.00,2.88,0.00,0.00,...,02:00:27,2022-02-26,02:00:27,SETTLEMENT 2022-02-26.csv,2022-02-26,0.00,0.00,-0.00,479.12,0.00
2041997,823b418a-f07d-4602-ac25-c87846b727f7,Grata Impresión,grataimpresion@gmail.com,3GQZBWQ59,2022-02-26,60.00,2.16,0.35,0.00,0.00,...,02:00:27,2022-02-26,02:00:27,SETTLEMENT 2022-02-26.csv,2022-02-26,0.00,0.00,-0.00,57.49,0.00
2041998,6f9fe7c6-ad24-4b3e-b1dd-99cb24b6e375,PROCACE,procaceterminal@hotmail.com,4LSYPXT95,2022-02-26,"1,906.00",68.61,10.98,0.00,0.00,...,02:00:27,2022-02-26,02:00:27,SETTLEMENT 2022-02-26.csv,2022-02-26,0.00,0.00,-0.00,"1,826.41",0.00

In [19]:
settled_current_month.shape

(256866, 32)

### CONCILIACION TPV

In [20]:
conc_1 = settled_current_month.groupby(['report_date_local']).agg({'total_transactions':sum,'total_fees_charged':sum
                                                                    ,'total_taxes':sum,'applied_fees_benefits':sum
                                                                    ,'applied_taxes_benefits':sum,'fee_direct_deposit':sum
                                                                    ,'taxes_direct_deposit':sum,'total_adjustments':sum
                                                                    ,'total_adjustment_fees_charged':sum
                                                                    ,'total_adjustment_taxes':sum 
                                                                    ,'cobranza':sum,'total_released':sum
                                                                    ,'total_retained':sum,'cancelaciones':sum
                                                                    ,'total_due_calculado':sum,'total_due':sum
                                                                    ,'diferencias':sum}).reset_index()
conc_1['total_adjustments'] = conc_1['total_adjustments']*-1 
conc_1['total_adjustment_fees_charged'] = conc_1['total_adjustment_fees_charged']*-1
conc_1['total_adjustment_taxes'] = conc_1['total_adjustment_taxes']*-1 
conc_1.head()

,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-02-26,"204,576,226.36","8,041,455.50","1,286,644.91","1,464.08",234.36,"22,153.68","3,547.92","1,251,990.14","10,972.42","1,755.59","18,488.02","1,835,755.53","2,838,295.30","12,728.01","193,015,236.07","193,015,236.07",-0.00
1,2022-02-27,"225,849,264.28","8,950,386.47","1,432,074.06","1,420.46",227.38,"22,153.17","3,548.43","1,355,742.34",540.00,86.40,"8,204.04","310,940.06","2,955,795.30",626.40,"211,485,977.97","211,485,977.97",-0.00
2,2022-02-28,"153,524,497.74","5,980,289.28","956,855.99",860.10,137.70,"17,160.96","2,748.84","944,557.28",-0.00,-0.00,"7,956.44","474,812.37","736,466.31",0.00,"145,394,092.41","145,394,092.41",-0.00

In [21]:
conc_1.shape

(3, 18)

In [22]:
conc_3 = settled_current_month.groupby(['report_date_local','type']).agg({'total_transactions':sum,'total_fees_charged':sum
                                                                    ,'total_taxes':sum,'applied_fees_benefits':sum
                                                                    ,'applied_taxes_benefits':sum,'fee_direct_deposit':sum
                                                                    ,'taxes_direct_deposit':sum,'total_adjustments':sum     
                                                                    ,'total_adjustment_fees_charged':sum
                                                                    ,'total_adjustment_taxes':sum 
                                                                    ,'cobranza':sum,'total_released':sum
                                                                    ,'total_retained':sum,'cancelaciones':sum
                                                                    ,'total_due_calculado':sum,'total_due':sum
                                                                    ,'diferencias':sum}).reset_index()
conc_3['total_adjustments'] = conc_3['total_adjustments']*-1 
conc_3['total_adjustment_fees_charged'] = conc_3['total_adjustment_fees_charged']*-1
conc_3['total_adjustment_taxes'] = conc_3['total_adjustment_taxes']*-1 
conc_3.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-02-26,DAILY,"200,593,488.03","7,885,302.98","1,261,660.34","1,464.08",234.36,"22,153.68","3,547.92","1,168,804.55","10,972.42","1,755.59","18,488.02","1,835,755.53","2,832,239.22","12,728.01","189,302,876.50","189,302,876.50",-0.00
1,2022-02-26,INSTANT,"3,982,738.33","156,152.52","24,984.57",0.00,0.00,0.00,0.00,"83,185.59",-0.00,-0.00,0.00,0.00,"6,056.08",0.00,"3,712,359.57","3,712,359.57",-0.00
2,2022-02-27,DAILY,"222,856,469.23","8,832,305.90","1,413,181.22","1,420.46",227.38,"22,153.17","3,548.43","1,292,808.90",540.00,86.40,"8,204.04","310,940.06","2,951,152.12",626.40,"208,697,732.95","208,697,732.95",-0.00
3,2022-02-27,INSTANT,"2,992,795.05","118,080.57","18,892.84",0.00,0.00,0.00,0.00,"62,933.44",-0.00,-0.00,0.00,0.00,"4,643.18",0.00,"2,788,245.02","2,788,245.02",-0.00
4,2022-02-28,DAILY,"150,373,110.55","5,846,613.29","935,467.81",860.10,137.70,"17,160.96","2,748.84","891,874.75",-0.00,-0.00,"7,956.44","471,793.91","736,466.31",0.00,"142,447,433.46","142,447,433.46",-0.00

In [23]:
conc_3.shape

(6, 19)

In [24]:
conc_3['type'].unique()

array(['DAILY', 'INSTANT'], dtype=object)

In [25]:
data_daily = conc_3[(conc_3['type'] == 'DAILY')]
data_daily.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-02-26,DAILY,"200,593,488.03","7,885,302.98","1,261,660.34","1,464.08",234.36,"22,153.68","3,547.92","1,168,804.55","10,972.42","1,755.59","18,488.02","1,835,755.53","2,832,239.22","12,728.01","189,302,876.50","189,302,876.50",-0.00
2,2022-02-27,DAILY,"222,856,469.23","8,832,305.90","1,413,181.22","1,420.46",227.38,"22,153.17","3,548.43","1,292,808.90",540.00,86.40,"8,204.04","310,940.06","2,951,152.12",626.40,"208,697,732.95","208,697,732.95",-0.00
4,2022-02-28,DAILY,"150,373,110.55","5,846,613.29","935,467.81",860.10,137.70,"17,160.96","2,748.84","891,874.75",-0.00,-0.00,"7,956.44","471,793.91","736,466.31",0.00,"142,447,433.46","142,447,433.46",-0.00

In [26]:
data_daily.shape

(3, 19)

In [27]:
data_instant = conc_3[(conc_3['type'] == 'INSTANT')]
data_instant.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
1,2022-02-26,INSTANT,"3,982,738.33","156,152.52","24,984.57",0.00,0.00,0.00,0.00,"83,185.59",-0.00,-0.00,0.00,0.00,"6,056.08",0.00,"3,712,359.57","3,712,359.57",-0.00
3,2022-02-27,INSTANT,"2,992,795.05","118,080.57","18,892.84",0.00,0.00,0.00,0.00,"62,933.44",-0.00,-0.00,0.00,0.00,"4,643.18",0.00,"2,788,245.02","2,788,245.02",-0.00
5,2022-02-28,INSTANT,"3,151,387.19","133,675.99","21,388.18",0.00,0.00,0.00,0.00,"52,682.53",-0.00,-0.00,0.00,"3,018.46",0.00,0.00,"2,946,658.95","2,946,658.95",-0.00

In [28]:
data_instant.shape

(3, 19)

### RELEASED SIN CLABE

In [29]:
released_sinclabe = settled_current_month[(settled_current_month['tipopago'] == 'sin CLABE')]
released_sinclabe.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date_file, canc_1, canc_2, cancelaciones, total_due_calculado, diferencias]
Index: []

[0 rows x 32 columns]

In [30]:
released_sinclabe.shape

(0, 32)

In [31]:
released_1 = released_sinclabe.groupby(['report_date_local']).agg({'total_released':sum}).reset_index()
released_1.head()

Empty DataFrame
Columns: [report_date_local, total_released]
Index: []

In [32]:
released_1.shape

(0, 2)

In [33]:
released_3 = released_sinclabe.groupby(['report_date_local','type']).agg({'total_released':sum}).reset_index()
released_3.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [34]:
released_3.shape

(0, 3)

In [35]:
released_3['type'].unique()

array([], dtype=object)

In [36]:
released_daily = released_3[(released_3['type'] == 'DAILY')]
released_daily.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [37]:
released_daily.shape

(0, 3)

In [38]:
released_instant = released_3[(released_3['type'] == 'INSTANT')]
released_instant.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [39]:
released_instant.shape

(0, 3)

# EXCEL FINAL

In [40]:
writer = pd.ExcelWriter('FASE I. DATA POLIZA FEBRERO 26-28 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
conc_1.to_excel(writer, sheet_name='MONTOS REPORT_DATE',index=False)
data_daily.to_excel(writer, sheet_name='MONTOS_DAILY',index=False)
data_instant.to_excel(writer, sheet_name='MONTOS_INSTANT',index=False)
released_1.to_excel(writer, sheet_name='RELEASED REPORT_DATE',index=False)
released_daily.to_excel(writer, sheet_name='RELEASED_DAILY',index=False)
released_instant.to_excel(writer, sheet_name='RELEASED_INSTANT',index=False)
writer.close()