In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
import datetime
pd.options.display.float_format = '{:,.2f}'.format
datetime.timedelta(days=1)
datetime.timedelta(1)

datetime.timedelta(days=1)

# SETTLEMENT

In [2]:
start_date = '2022-06-23'
final_date = '2022-06-30'

In [3]:
allfiles_settled = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\06. JUNIO\QUERIES\*.csv', recursive=False)
allfiles_settled

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-29.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\06. JUNIO\\QUERIES\\SETTLEMENT 2022-06-30.csv']

In [4]:
settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
settled['Date_file'] = settled["file_name"].str[-14:-4]
settled['Date_file']= pd.to_datetime(settled['Date_file'])
settled['report_date_local']= pd.to_datetime(settled['report_date_local'])

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_8912\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_8912\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_8912\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_8912\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])

In [5]:
settled.reset_index(inplace=True)
settled.drop(['index'],axis=1,inplace=True)
settled.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,Date_file
0,0dfd920b-c2b3-43dd-9108-ec285db21f1e,Maresh,Maresh20221@outlook.com,N3T7Q4VWZ,2022-06-01,106.08,3.82,0.61,0.00,0.00,...,0.00,NaN,101.65,DAILY,2022-06-01,02:00:25,2022-06-01,02:00:25,SETTLEMENT 2022-06-01.csv,2022-06-01
1,fb7b00dc-34fd-4315-a707-f2f2cc0af11c,Casa Mancinas,luis.albertomancinas@gmail.com,RXPL6TX5D,2022-06-01,"2,100.07",75.60,12.10,0.00,0.00,...,0.00,NaN,"2,012.37",DAILY,2022-06-01,02:00:25,2022-06-01,02:00:25,SETTLEMENT 2022-06-01.csv,2022-06-01
2,82d8f28f-82ce-48fb-ad7d-1a05633356a5,TRAGONA FONDA,j_mizael26@hotmail.com,2XFB848M3,2022-06-01,167.00,6.02,0.97,0.00,0.00,...,0.00,NaN,160.01,DAILY,2022-06-01,02:00:26,2022-06-01,02:00:26,SETTLEMENT 2022-06-01.csv,2022-06-01
3,75deb9c9-da9d-4489-95d5-48c5c5f6e1eb,Natural Fitness,yosoynaturalfitness@gmail.com,33TM89D3P,2022-06-01,"6,039.81",217.44,34.79,0.00,0.00,...,0.00,NaN,"5,787.58",DAILY,2022-06-01,02:00:26,2022-06-01,02:00:26,SETTLEMENT 2022-06-01.csv,2022-06-01
4,823b418a-f07d-4602-ac25-c87846b727f7,Grata Impresión,grataimpresion@gmail.com,K74YC9LFQ,2022-06-01,824.00,29.66,4.75,0.00,0.00,...,0.00,NaN,789.59,DAILY,2022-06-01,02:00:26,2022-06-01,02:00:26,SETTLEMENT 2022-06-01.csv,2022-06-01

In [6]:
settled.shape

(2572793, 27)

### CURRENT MONTH

In [7]:
settled_current_month = settled[(settled['report_date_local'] >= start_date) & (settled['report_date_local'] <= final_date)]
settled_current_month.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,Date_file
1877707,61593338-a17e-458d-905d-db17b761d3ee,LAS MICHES DEL WERO,obethma@icloud.com,SBKR6T7LW,2022-06-23,320.00,11.52,1.84,0.00,0.00,...,0.00,NaN,306.64,DAILY,2022-06-23,02:00:28,2022-06-23,02:00:28,SETTLEMENT 2022-06-23.csv,2022-06-23
1877708,fb7b00dc-34fd-4315-a707-f2f2cc0af11c,CASA MANCINAS,luis.albertomancinas@gmail.com,ZSVML4NM9,2022-06-23,150.00,5.40,0.86,0.00,0.00,...,0.00,NaN,143.74,DAILY,2022-06-23,02:00:28,2022-06-23,02:00:28,SETTLEMENT 2022-06-23.csv,2022-06-23
1877709,a381d788-6a55-471c-83fb-f33687d17b46,OTDS,prizinacantepec@gmail.com,3CS7LFYSC,2022-06-23,997.00,35.89,5.75,0.00,0.00,...,0.00,NaN,955.36,DAILY,2022-06-23,02:00:29,2022-06-23,02:00:29,SETTLEMENT 2022-06-23.csv,2022-06-23
1877710,82d8f28f-82ce-48fb-ad7d-1a05633356a5,TRAGONA FONDA,j_mizael26@hotmail.com,5PBJMCS4Q,2022-06-23,164.00,5.90,0.94,0.00,0.00,...,0.00,NaN,157.16,DAILY,2022-06-23,02:00:29,2022-06-23,02:00:29,SETTLEMENT 2022-06-23.csv,2022-06-23
1877711,19059736-b12e-47d7-8363-c2640d0f334c,MONZTER GYM,monztergym@gmail.com,8CN586V7H,2022-06-23,318.00,11.45,1.83,0.00,0.00,...,0.00,NaN,304.72,DAILY,2022-06-23,02:00:29,2022-06-23,02:00:29,SETTLEMENT 2022-06-23.csv,2022-06-23

In [8]:
settled_current_month.shape

(695086, 27)

In [9]:
settled_current_month.dtypes

merchant_id                              object
merchant_name                            object
user_email                               object
report_id                                object
report_date_local                datetime64[ns]
total_transactions                      float64
total_fees_charged                      float64
total_taxes                             float64
applied_fees_benefits                   float64
applied_taxes_benefits                  float64
fee_direct_deposit                      float64
taxes_direct_deposit                    float64
total_adjustments                       float64
total_adjustment_fees_charged           float64
total_adjustment_taxes                  float64
cobranza                                float64
total_released                          float64
total_retained                          float64
tipopago                                 object
total_due                               float64
type                                     object
created_date                             object
created_time                             object
updated_date                             object
updated_time                             object
file_name                                object
Date_file                        datetime64[ns]
dtype: object

In [10]:
# def next_date(settled_current_month):
#     if settled_current_month['updated_time'] >= '20:00:00':
#         return settled_current_month['report_date_local'] + datetime.timedelta(days=1)
#     else:
#         return settled_current_month['report_date_local']
    
# settled_current_month['poliza_date'] = settled_current_month.apply(next_date, axis=1)

In [11]:
# settled_current_month.head()

In [12]:
# settled_current_month.shape

In [13]:
# settled_current_month['poliza_date'].unique()

### CANCELACIONES

In [14]:
settled_current_month.loc[(settled_current_month['total_released'] > 0)
                          & (settled_current_month['total_adjustments'] < 0),'canc_1'] = settled_current_month['total_adjustments']
settled_current_month['canc_1'].fillna(0,inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_8912\2387200959.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month.loc[(settled_current_month['total_released'] > 0)
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_8912\2387200959.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['canc_1'].fillna(0,inplace=True)

In [15]:
settled_current_month.loc[(settled_current_month['total_released'] > 0)
                          & (settled_current_month['total_adjustments'] < 0),'canc_2'] = settled_current_month['total_released']
settled_current_month['canc_2'].fillna(0,inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_8912\97313772.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month.loc[(settled_current_month['total_released'] > 0)
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_8912\97313772.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['canc_2'].fillna(0,inplace=True)

In [16]:
settled_current_month['cancelaciones'] = (-settled_current_month['canc_1']) - (settled_current_month['canc_2'])
settled_current_month.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_8912\715271970.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['cancelaciones'] = (-settled_current_month['canc_1']) - (settled_current_month['canc_2'])

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,type,created_date,created_time,updated_date,updated_time,file_name,Date_file,canc_1,canc_2,cancelaciones
1877707,61593338-a17e-458d-905d-db17b761d3ee,LAS MICHES DEL WERO,obethma@icloud.com,SBKR6T7LW,2022-06-23,320.00,11.52,1.84,0.00,0.00,...,DAILY,2022-06-23,02:00:28,2022-06-23,02:00:28,SETTLEMENT 2022-06-23.csv,2022-06-23,0.00,0.00,-0.00
1877708,fb7b00dc-34fd-4315-a707-f2f2cc0af11c,CASA MANCINAS,luis.albertomancinas@gmail.com,ZSVML4NM9,2022-06-23,150.00,5.40,0.86,0.00,0.00,...,DAILY,2022-06-23,02:00:28,2022-06-23,02:00:28,SETTLEMENT 2022-06-23.csv,2022-06-23,0.00,0.00,-0.00
1877709,a381d788-6a55-471c-83fb-f33687d17b46,OTDS,prizinacantepec@gmail.com,3CS7LFYSC,2022-06-23,997.00,35.89,5.75,0.00,0.00,...,DAILY,2022-06-23,02:00:29,2022-06-23,02:00:29,SETTLEMENT 2022-06-23.csv,2022-06-23,0.00,0.00,-0.00
1877710,82d8f28f-82ce-48fb-ad7d-1a05633356a5,TRAGONA FONDA,j_mizael26@hotmail.com,5PBJMCS4Q,2022-06-23,164.00,5.90,0.94,0.00,0.00,...,DAILY,2022-06-23,02:00:29,2022-06-23,02:00:29,SETTLEMENT 2022-06-23.csv,2022-06-23,0.00,0.00,-0.00
1877711,19059736-b12e-47d7-8363-c2640d0f334c,MONZTER GYM,monztergym@gmail.com,8CN586V7H,2022-06-23,318.00,11.45,1.83,0.00,0.00,...,DAILY,2022-06-23,02:00:29,2022-06-23,02:00:29,SETTLEMENT 2022-06-23.csv,2022-06-23,0.00,0.00,-0.00

In [17]:
settled_current_month.shape

(695086, 30)

### TOTAL DUE CALCULADO

In [18]:
settled_current_month['total_due_calculado'] = (settled_current_month['total_transactions']
                                                - settled_current_month['total_fees_charged']
                                                - settled_current_month['total_taxes']
                                                + settled_current_month['applied_fees_benefits']
                                                + settled_current_month['applied_taxes_benefits']
                                                + settled_current_month['fee_direct_deposit']
                                                + settled_current_month['taxes_direct_deposit']
                                                - (-settled_current_month['total_adjustments'])
                                                + (-settled_current_month['total_adjustment_fees_charged'])
                                                + (-settled_current_month['total_adjustment_taxes'])
                                                - settled_current_month['cobranza']
                                                + settled_current_month['total_released']
                                                - settled_current_month['total_retained'])
settled_current_month['diferencias'] = settled_current_month['total_due_calculado'] - settled_current_month['total_due']
settled_current_month.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_8912\4192761883.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['total_due_calculado'] = (settled_current_month['total_transactions']
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_8912\4192761883.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['diferencias'] = settled_current_month['total_due_calculado'] - settled_current_month['total_due']

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,created_time,updated_date,updated_time,file_name,Date_file,canc_1,canc_2,cancelaciones,total_due_calculado,diferencias
1877707,61593338-a17e-458d-905d-db17b761d3ee,LAS MICHES DEL WERO,obethma@icloud.com,SBKR6T7LW,2022-06-23,320.00,11.52,1.84,0.00,0.00,...,02:00:28,2022-06-23,02:00:28,SETTLEMENT 2022-06-23.csv,2022-06-23,0.00,0.00,-0.00,306.64,0.00
1877708,fb7b00dc-34fd-4315-a707-f2f2cc0af11c,CASA MANCINAS,luis.albertomancinas@gmail.com,ZSVML4NM9,2022-06-23,150.00,5.40,0.86,0.00,0.00,...,02:00:28,2022-06-23,02:00:28,SETTLEMENT 2022-06-23.csv,2022-06-23,0.00,0.00,-0.00,143.74,-0.00
1877709,a381d788-6a55-471c-83fb-f33687d17b46,OTDS,prizinacantepec@gmail.com,3CS7LFYSC,2022-06-23,997.00,35.89,5.75,0.00,0.00,...,02:00:29,2022-06-23,02:00:29,SETTLEMENT 2022-06-23.csv,2022-06-23,0.00,0.00,-0.00,955.36,0.00
1877710,82d8f28f-82ce-48fb-ad7d-1a05633356a5,TRAGONA FONDA,j_mizael26@hotmail.com,5PBJMCS4Q,2022-06-23,164.00,5.90,0.94,0.00,0.00,...,02:00:29,2022-06-23,02:00:29,SETTLEMENT 2022-06-23.csv,2022-06-23,0.00,0.00,-0.00,157.16,0.00
1877711,19059736-b12e-47d7-8363-c2640d0f334c,MONZTER GYM,monztergym@gmail.com,8CN586V7H,2022-06-23,318.00,11.45,1.83,0.00,0.00,...,02:00:29,2022-06-23,02:00:29,SETTLEMENT 2022-06-23.csv,2022-06-23,0.00,0.00,-0.00,304.72,0.00

In [19]:
settled_current_month.shape

(695086, 32)

### CONCILIACION TPV

In [20]:
conc_1 = settled_current_month.groupby(['report_date_local']).agg({'total_transactions':sum,'total_fees_charged':sum
                                                                    ,'total_taxes':sum,'applied_fees_benefits':sum
                                                                    ,'applied_taxes_benefits':sum,'fee_direct_deposit':sum
                                                                    ,'taxes_direct_deposit':sum,'total_adjustments':sum
                                                                    ,'total_adjustment_fees_charged':sum
                                                                    ,'total_adjustment_taxes':sum 
                                                                    ,'cobranza':sum,'total_released':sum
                                                                    ,'total_retained':sum,'cancelaciones':sum
                                                                    ,'total_due_calculado':sum,'total_due':sum
                                                                    ,'diferencias':sum}).reset_index()
conc_1['total_adjustments'] = conc_1['total_adjustments']*-1 
conc_1['total_adjustment_fees_charged'] = conc_1['total_adjustment_fees_charged']*-1
conc_1['total_adjustment_taxes'] = conc_1['total_adjustment_taxes']*-1 
conc_1.head()

,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-06-23,"152,803,635.17","6,132,243.73","981,168.02",703.10,112.52,0.00,0.00,"1,211,239.71",-0.00,-0.00,"1,322.33","784,196.95","413,623.31",0.00,"144,849,050.64","144,849,050.64",-0.00
1,2022-06-24,"167,827,301.56","6,751,454.64","1,080,247.43","1,819.58",291.23,"59,689.30","9,556.50","1,283,854.26",46.00,7.36,"1,743.69","956,355.28","1,107,417.03",420.19,"158,630,349.76","158,630,349.76",-0.00
2,2022-06-25,"189,372,997.90","7,622,456.81","1,219,607.65",935.88,149.75,"21,945.57","3,515.43","1,658,049.95","1,799.86",287.98,"29,365.20","1,166,848.52","760,705.91","1,501.40","179,278,295.37","179,278,295.37",-0.00
3,2022-06-26,"205,606,641.25","8,174,025.85","1,307,856.80",910.92,145.82,"21,976.71","3,520.49","1,774,382.16",-0.00,-0.00,"15,223.00","1,091,534.72","341,089.92",0.00,"195,112,152.18","195,112,152.18",-0.00
4,2022-06-27,"144,665,483.72","5,593,705.40","895,001.74",662.17,105.99,"15,937.59","2,553.01","1,271,430.80",-0.00,-0.00,"13,371.28","905,311.15","763,857.38","-5,944.15","137,052,687.03","137,052,687.03",-0.00

In [21]:
conc_1.shape

(8, 18)

In [22]:
conc_3 = settled_current_month.groupby(['report_date_local','type']).agg({'total_transactions':sum,'total_fees_charged':sum
                                                                    ,'total_taxes':sum,'applied_fees_benefits':sum
                                                                    ,'applied_taxes_benefits':sum,'fee_direct_deposit':sum
                                                                    ,'taxes_direct_deposit':sum,'total_adjustments':sum     
                                                                    ,'total_adjustment_fees_charged':sum
                                                                    ,'total_adjustment_taxes':sum 
                                                                    ,'cobranza':sum,'total_released':sum
                                                                    ,'total_retained':sum,'cancelaciones':sum
                                                                    ,'total_due_calculado':sum,'total_due':sum
                                                                    ,'diferencias':sum}).reset_index()
conc_3['total_adjustments'] = conc_3['total_adjustments']*-1 
conc_3['total_adjustment_fees_charged'] = conc_3['total_adjustment_fees_charged']*-1
conc_3['total_adjustment_taxes'] = conc_3['total_adjustment_taxes']*-1 
conc_3.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-06-23,DAILY,"150,252,341.62","6,025,683.62","964,118.04",703.10,112.52,0.00,0.00,"1,119,638.95",-0.00,-0.00,"1,322.33","774,614.55","411,706.83",0.00,"142,505,302.02","142,505,302.02",-0.00
1,2022-06-23,INSTANT,"2,551,293.55","106,560.11","17,049.98",0.00,0.00,0.00,0.00,"91,600.76",-0.00,-0.00,0.00,"9,582.40","1,916.48",0.00,"2,343,748.62","2,343,748.62",-0.00
2,2022-06-24,DAILY,"165,042,864.83","6,638,066.38","1,062,104.63","1,819.58",291.23,"59,689.30","9,556.50","1,191,226.97",46.00,7.36,"1,743.69","956,355.28","1,107,417.03",420.19,"156,070,071.38","156,070,071.38",-0.00
3,2022-06-24,INSTANT,"2,784,436.73","113,388.26","18,142.80",0.00,0.00,0.00,0.00,"92,627.29",-0.00,-0.00,0.00,0.00,0.00,0.00,"2,560,278.38","2,560,278.38",-0.00
4,2022-06-25,DAILY,"186,050,333.86","7,491,126.01","1,198,594.35",935.88,149.75,"21,945.57","3,515.43","1,532,254.70","1,799.86",287.98,"29,365.20","1,166,848.52","759,747.67","1,501.40","176,234,728.92","176,234,728.92",-0.00

In [23]:
conc_3.shape

(16, 19)

In [24]:
conc_3['type'].unique()

array(['DAILY', 'INSTANT'], dtype=object)

In [25]:
data_daily = conc_3[(conc_3['type'] == 'DAILY')]
data_daily.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-06-23,DAILY,"150,252,341.62","6,025,683.62","964,118.04",703.10,112.52,0.00,0.00,"1,119,638.95",-0.00,-0.00,"1,322.33","774,614.55","411,706.83",0.00,"142,505,302.02","142,505,302.02",-0.00
2,2022-06-24,DAILY,"165,042,864.83","6,638,066.38","1,062,104.63","1,819.58",291.23,"59,689.30","9,556.50","1,191,226.97",46.00,7.36,"1,743.69","956,355.28","1,107,417.03",420.19,"156,070,071.38","156,070,071.38",-0.00
4,2022-06-25,DAILY,"186,050,333.86","7,491,126.01","1,198,594.35",935.88,149.75,"21,945.57","3,515.43","1,532,254.70","1,799.86",287.98,"29,365.20","1,166,848.52","759,747.67","1,501.40","176,234,728.92","176,234,728.92",-0.00
6,2022-06-26,DAILY,"203,159,912.35","8,072,516.03","1,291,615.09",910.92,145.82,"21,976.71","3,520.49","1,694,810.84",-0.00,-0.00,"15,223.00","1,057,996.32","341,089.92",0.00,"192,829,207.73","192,829,207.73",-0.00
8,2022-06-27,DAILY,"142,340,480.65","5,500,058.49","880,018.51",662.17,105.99,"15,937.59","2,553.01","1,195,012.46",-0.00,-0.00,"13,371.28","903,835.46","763,857.38","-5,944.15","134,911,256.75","134,911,256.75",-0.00

In [26]:
data_daily.shape

(8, 19)

In [27]:
data_instant = conc_3[(conc_3['type'] == 'INSTANT')]
data_instant.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
1,2022-06-23,INSTANT,"2,551,293.55","106,560.11","17,049.98",0.00,0.00,0.00,0.00,"91,600.76",-0.00,-0.00,0.00,"9,582.40","1,916.48",0.00,"2,343,748.62","2,343,748.62",-0.00
3,2022-06-24,INSTANT,"2,784,436.73","113,388.26","18,142.80",0.00,0.00,0.00,0.00,"92,627.29",-0.00,-0.00,0.00,0.00,0.00,0.00,"2,560,278.38","2,560,278.38",-0.00
5,2022-06-25,INSTANT,"3,322,664.04","131,330.80","21,013.30",0.00,0.00,0.00,0.00,"125,795.25",-0.00,-0.00,0.00,0.00,958.24,0.00,"3,043,566.45","3,043,566.45",-0.00
7,2022-06-26,INSTANT,"2,446,728.90","101,509.82","16,241.71",0.00,0.00,0.00,0.00,"79,571.32",-0.00,-0.00,0.00,"33,538.40",0.00,0.00,"2,282,944.45","2,282,944.45",0.00
9,2022-06-27,INSTANT,"2,325,003.07","93,646.91","14,983.23",0.00,0.00,0.00,0.00,"76,418.34",-0.00,-0.00,0.00,"1,475.69",0.00,0.00,"2,141,430.28","2,141,430.28",0.00

In [28]:
data_instant.shape

(8, 19)

### RELEASED SIN CLABE

In [29]:
released_sinclabe = settled_current_month[(settled_current_month['tipopago'] == 'sin CLABE')]
released_sinclabe.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date_file, canc_1, canc_2, cancelaciones, total_due_calculado, diferencias]
Index: []

[0 rows x 32 columns]

In [30]:
released_sinclabe.shape

(0, 32)

In [31]:
released_1 = released_sinclabe.groupby(['report_date_local']).agg({'total_released':sum}).reset_index()
released_1.head()

Empty DataFrame
Columns: [report_date_local, total_released]
Index: []

In [32]:
released_1.shape

(0, 2)

In [33]:
released_3 = released_sinclabe.groupby(['report_date_local','type']).agg({'total_released':sum}).reset_index()
released_3.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [34]:
released_3.shape

(0, 3)

In [35]:
released_3['type'].unique()

array([], dtype=object)

In [36]:
released_daily = released_3[(released_3['type'] == 'DAILY')]
released_daily.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [37]:
released_daily.shape

(0, 3)

In [38]:
released_instant = released_3[(released_3['type'] == 'INSTANT')]
released_instant.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [39]:
released_instant.shape

(0, 3)

# EXCEL FINAL

In [40]:
writer = pd.ExcelWriter('FASE I. DATA POLIZA JUNIO 23-30 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
conc_1.to_excel(writer, sheet_name='MONTOS REPORT_DATE',index=False)
data_daily.to_excel(writer, sheet_name='MONTOS_DAILY',index=False)
data_instant.to_excel(writer, sheet_name='MONTOS_INSTANT',index=False)
released_1.to_excel(writer, sheet_name='RELEASED REPORT_DATE',index=False)
released_daily.to_excel(writer, sheet_name='RELEASED_DAILY',index=False)
released_instant.to_excel(writer, sheet_name='RELEASED_INSTANT',index=False)
writer.close()