In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
from functools import reduce
pd.options.display.float_format = '{:,.2f}'.format

#### ACUMULADO

In [2]:
cumfiles = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\05. MAYO\QUERIES\*.csv', recursive=False)
cumfiles

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-04-30.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-29.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-30.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\QUERIES\\SETTLEMENT 2022-05-31.csv']

In [3]:
cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
cum_1.columns = cum_1.columns.str.strip().str.lower() 
cum_1['report_date_local']= pd.to_datetime(cum_1['report_date_local']) 
cum_1.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4428\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4428\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4428\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4428\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4428\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4428\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4428\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4428\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4428\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4428\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_released,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name
0,a38189fc-99b4-4320-a53d-37b18ca37e20,Studio,gabarr54@gmail.com,5QMZY7TNT,2022-04-30,669.00,24.08,3.85,0.00,0.00,...,0.00,0.00,NaN,641.07,DAILY,2022-04-30,02:00:25,2022-04-30,02:00:25,SETTLEMENT 2022-04-30.csv
1,a250e0ef-907a-4250-8478-34effbe04607,Andre Mtz,ing.mtz.mls@gmail.com,GQVBV8K6R,2022-04-30,"2,079.00",74.84,11.97,0.00,0.00,...,0.00,0.00,NaN,"1,992.19",DAILY,2022-04-30,02:00:25,2022-04-30,02:00:25,SETTLEMENT 2022-04-30.csv
2,56dfd220-a7a0-4777-b81f-c2457f51d1b6,DoctorStore,hector.vieyrasc@gmail.com,55284CC7G,2022-04-30,280.00,10.08,1.61,0.00,0.00,...,0.00,0.00,NaN,268.31,DAILY,2022-04-30,02:00:26,2022-04-30,02:00:26,SETTLEMENT 2022-04-30.csv
3,823b418a-f07d-4602-ac25-c87846b727f7,Grata Impresión,grataimpresion@gmail.com,7PJ6CSYQV,2022-04-30,"1,385.04",49.86,7.98,0.00,0.00,...,0.00,0.00,NaN,"1,327.20",DAILY,2022-04-30,02:00:26,2022-04-30,02:00:26,SETTLEMENT 2022-04-30.csv
4,2a9287c9-d2c5-424a-9cc1-49080607aea7,Arthromedic,maybelreyes.7@gmail.com,8GBVZTG55,2022-04-30,"2,000.00",72.00,11.52,0.00,0.00,...,0.00,0.00,NaN,"1,916.48",DAILY,2022-04-30,02:00:26,2022-04-30,02:00:26,SETTLEMENT 2022-04-30.csv

In [4]:
cum_1.shape

(2800689, 26)

In [5]:
cum_distinct_0 = cum_1[(cum_1['total_due'] != 0)]
cum_distinct_0.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_released,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name
0,a38189fc-99b4-4320-a53d-37b18ca37e20,Studio,gabarr54@gmail.com,5QMZY7TNT,2022-04-30,669.00,24.08,3.85,0.00,0.00,...,0.00,0.00,NaN,641.07,DAILY,2022-04-30,02:00:25,2022-04-30,02:00:25,SETTLEMENT 2022-04-30.csv
1,a250e0ef-907a-4250-8478-34effbe04607,Andre Mtz,ing.mtz.mls@gmail.com,GQVBV8K6R,2022-04-30,"2,079.00",74.84,11.97,0.00,0.00,...,0.00,0.00,NaN,"1,992.19",DAILY,2022-04-30,02:00:25,2022-04-30,02:00:25,SETTLEMENT 2022-04-30.csv
2,56dfd220-a7a0-4777-b81f-c2457f51d1b6,DoctorStore,hector.vieyrasc@gmail.com,55284CC7G,2022-04-30,280.00,10.08,1.61,0.00,0.00,...,0.00,0.00,NaN,268.31,DAILY,2022-04-30,02:00:26,2022-04-30,02:00:26,SETTLEMENT 2022-04-30.csv
3,823b418a-f07d-4602-ac25-c87846b727f7,Grata Impresión,grataimpresion@gmail.com,7PJ6CSYQV,2022-04-30,"1,385.04",49.86,7.98,0.00,0.00,...,0.00,0.00,NaN,"1,327.20",DAILY,2022-04-30,02:00:26,2022-04-30,02:00:26,SETTLEMENT 2022-04-30.csv
4,2a9287c9-d2c5-424a-9cc1-49080607aea7,Arthromedic,maybelreyes.7@gmail.com,8GBVZTG55,2022-04-30,"2,000.00",72.00,11.52,0.00,0.00,...,0.00,0.00,NaN,"1,916.48",DAILY,2022-04-30,02:00:26,2022-04-30,02:00:26,SETTLEMENT 2022-04-30.csv

In [6]:
cum_distinct_0.shape

(2800005, 26)

#### PAGOS DE DISPERSIONES

In [7]:
pagos_dia_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\05. MAYO\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
pagos_dia_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-2-20220430.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220430.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220501.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220502.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220503.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220504.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220505.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220506.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220507.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220508.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220509.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220510.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220511.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220512.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220513.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220514.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220515.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220516.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220517.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220518.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220519.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220520.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220521.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220522.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220523.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220524.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220525.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220526.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220527.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220528.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220529.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220530.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\05. MAYO\\ARCHIVO DISPERSIONES\\Dispersión-20220531.xlsx']

In [8]:
pagos_1 = pd.concat([pd.read_excel(f,sheet_name='Swap del día').assign(file_name=os.path.basename(f)) for f in pagos_dia_files_1])
pagos_1['date_file'] = pagos_1["file_name"].str[-13:-5]
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'], format='%Y%m%d').dt.date
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'])
pagos_1.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_1['report_date_local']= pd.to_datetime(pagos_1['report_date_local']) 
pagos_1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Banco_emisor,file_name,date_file
0,fe324abb-914a-46fc-b317-162c34b5eea9,Tu Taxi De Confianza,irving.corporativo90@outlook.com,GNZLB3GMS,2022-04-30,33.54,Pago del día,AZTECA,Jess Irving Reyes Gutirrez,127854013360663960,PAID,"2022-04-30,42644264202204301700770648,40072,40...",BANORTE,Dispersión-2-20220430.xlsx,2022-04-30
62868,00c0430d-e55b-4527-938b-67b374bb19e6,actitud inox,juancrlarios@gmail.com,96MLQ32PX,2022-04-30,"9,835.44",Pago del día,AZTECA,Juan Carlos Reyes Larios,127855013649553295,PAID,"2022-04-30,42644264202204301700773945,40072,40...",BANORTE,Dispersión-20220430.xlsx,2022-04-30
62867,00c1b9ef-a060-4faf-9f5e-495ee1ebec48,3Xlburger,jmab2110@gmail.com,CY2H8W3XB,2022-04-30,"4,752.87",Pago del día,BBVA BANCOMER,ANDREINA CORREDOR MOERBEECK,12694004584042913,PAID,"2022-04-30,42644264202204301700835119,40072,40...",BANORTE,Dispersión-20220430.xlsx,2022-04-30
62866,00c29de9-43fa-4779-96de-9471b6822b25,Vape Store SJR,mva_17ag@hotmail.com,F2MMN444R,2022-04-30,240.51,Pago del día,BBVA BANCOMER,Marco Antonio Vega Angeles,12685012632507929,PAID,"2022-04-30,42644264202204301700795025,40072,40...",BANORTE,Dispersión-20220430.xlsx,2022-04-30
62865,00c48d5a-d8e9-4612-b478-065693310584,Fix Time,almanoracruz@hotmail.com,SKKQ5L8QH,2022-04-30,2.85,Pago del día,BANAMEX,Alma Nora Cruz Rios,2290701206546815,PAID,"2022-04-30,42644264202204301700855232,40072,40...",BANORTE,Dispersión-20220430.xlsx,2022-04-30

In [9]:
pagos_1.shape

(2643928, 15)

In [10]:
pagos_1['report_date_local'].unique()

array(['2022-04-30T00:00:00.000000000', '2022-04-29T00:00:00.000000000',
       '2022-04-13T00:00:00.000000000', '2022-04-21T00:00:00.000000000',
       '2022-04-22T00:00:00.000000000', '2022-04-26T00:00:00.000000000',
       '2022-04-27T00:00:00.000000000', '2022-04-28T00:00:00.000000000',
       '2022-04-19T00:00:00.000000000', '2022-04-05T00:00:00.000000000',
       '2022-04-17T00:00:00.000000000', '2022-04-20T00:00:00.000000000',
       '2022-03-31T00:00:00.000000000', '2022-04-23T00:00:00.000000000',
       '2022-04-24T00:00:00.000000000', '2022-03-04T00:00:00.000000000',
       '2022-03-05T00:00:00.000000000', '2022-03-06T00:00:00.000000000',
       '2022-03-08T00:00:00.000000000', '2022-03-10T00:00:00.000000000',
       '2022-03-11T00:00:00.000000000', '2022-03-12T00:00:00.000000000',
       '2022-03-13T00:00:00.000000000', '2022-03-29T00:00:00.000000000',
       '2022-04-06T00:00:00.000000000', '2022-03-03T00:00:00.000000000',
       '2022-02-28T00:00:00.000000000', '2022-03-14T00:00:00.000000000',
       '2022-02-23T00:00:00.000000000', '2022-02-19T00:00:00.000000000',
       '2022-02-18T00:00:00.000000000', '2021-06-08T00:00:00.000000000',
       '2021-06-09T00:00:00.000000000', '2021-07-27T00:00:00.000000000',
       '2021-10-30T00:00:00.000000000', '2021-10-31T00:00:00.000000000',
       '2022-03-20T00:00:00.000000000', '2022-03-21T00:00:00.000000000',
       '2021-09-30T00:00:00.000000000', '2021-10-01T00:00:00.000000000',
       '2022-03-02T00:00:00.000000000', '2022-03-17T00:00:00.000000000',
       '2022-03-26T00:00:00.000000000', '2022-03-27T00:00:00.000000000',
       '2022-04-02T00:00:00.000000000', '2022-04-18T00:00:00.000000000',
       '2022-03-24T00:00:00.000000000', '2022-04-25T00:00:00.000000000',
       '2022-04-09T00:00:00.000000000', '2022-04-10T00:00:00.000000000',
       '2022-04-11T00:00:00.000000000', '2022-04-12T00:00:00.000000000',
       '2022-04-14T00:00:00.000000000', '2022-04-15T00:00:00.000000000',
       '2022-04-16T00:00:00.000000000', '2022-04-08T00:00:00.000000000',
       '2021-12-07T00:00:00.000000000', '2022-03-30T00:00:00.000000000',
       '2022-04-03T00:00:00.000000000', '2022-01-23T00:00:00.000000000',
       '2022-03-28T00:00:00.000000000', '2021-12-23T00:00:00.000000000',
       '2022-02-13T00:00:00.000000000', '2022-04-07T00:00:00.000000000',
       '2022-03-18T00:00:00.000000000', '2022-03-22T00:00:00.000000000',
       '2022-04-04T00:00:00.000000000', '2022-03-09T00:00:00.000000000',
       '2022-03-25T00:00:00.000000000', '2022-02-14T00:00:00.000000000',
       '2022-02-21T00:00:00.000000000', '2021-10-18T00:00:00.000000000',
       '2022-01-31T00:00:00.000000000', '2022-01-04T00:00:00.000000000',
       '2021-11-30T00:00:00.000000000', '2021-12-06T00:00:00.000000000',
       '2021-11-28T00:00:00.000000000', '2022-03-19T00:00:00.000000000',
       '2022-02-20T00:00:00.000000000', '2021-10-23T00:00:00.000000000',
       '2021-09-16T00:00:00.000000000', '2021-09-17T00:00:00.000000000',
       '2021-09-18T00:00:00.000000000', '2021-09-19T00:00:00.000000000',
       '2021-09-25T00:00:00.000000000', '2021-09-26T00:00:00.000000000',
       '2021-09-28T00:00:00.000000000', '2021-10-02T00:00:00.000000000',
       '2021-10-09T00:00:00.000000000', '2021-10-10T00:00:00.000000000',
       '2021-10-16T00:00:00.000000000', '2021-10-17T00:00:00.000000000',
       '2021-11-01T00:00:00.000000000', '2022-02-12T00:00:00.000000000',
       '2021-11-03T00:00:00.000000000', '2021-11-04T00:00:00.000000000',
       '2021-11-05T00:00:00.000000000', '2021-11-06T00:00:00.000000000',
       '2021-11-07T00:00:00.000000000', '2021-11-08T00:00:00.000000000',
       '2021-11-09T00:00:00.000000000', '2021-11-13T00:00:00.000000000',
       '2021-11-14T00:00:00.000000000', '2021-11-15T00:00:00.000000000',
       '2021-11-16T00:00:00.000000000', '2021-11-18T00:00:00.000000000',
       '2021-11-20T00:00:00.000000000', '2021-11-21T00:00:00.000000000',
       '2021-11-27T00:00:00.000000000', '2021-12-04T00:00:00.000000000',
       '2021-12-05T00:00:00.000000000', '2021-12-11T00:00:00.000000000',
       '2021-12-18T00:00:00.000000000', '2021-11-02T00:00:00.000000000',
       '2021-12-19T00:00:00.000000000', '2021-12-22T00:00:00.000000000',
       '2021-12-21T00:00:00.000000000', '2021-12-25T00:00:00.000000000',
       '2021-12-26T00:00:00.000000000', '2021-12-28T00:00:00.000000000',
       '2021-12-29T00:00:00.000000000', '2021-12-30T00:00:00.000000000',
       '2021-12-31T00:00:00.000000000', '2022-01-01T00:00:00.000000000',
       '2022-01-08T00:00:00.000000000', '2022-01-15T00:00:00.000000000',
       '2022-01-16T00:00:00.000000000', '2022-01-22T00:00:00.000000000',
       '2022-01-29T00:00:00.000000000', '2022-01-30T00:00:00.000000000',
       '2022-02-05T00:00:00.000000000', '2022-02-06T00:00:00.000000000',
       '2022-02-07T00:00:00.000000000', '2022-01-09T00:00:00.000000000',
       '2022-03-23T00:00:00.000000000', '2022-02-10T00:00:00.000000000',
       '2022-01-14T00:00:00.000000000', '2022-01-19T00:00:00.000000000',
       '2021-10-22T00:00:00.000000000', '2021-06-19T00:00:00.000000000',
       '2022-01-26T00:00:00.000000000', '2022-05-01T00:00:00.000000000',
       '2022-03-15T00:00:00.000000000', '2021-02-20T00:00:00.000000000',
       '2021-02-27T00:00:00.000000000', '2021-02-25T00:00:00.000000000',
       '2021-02-21T00:00:00.000000000', '2021-02-22T00:00:00.000000000',
       '2022-02-08T00:00:00.000000000', '2022-02-15T00:00:00.000000000',
       '2022-02-22T00:00:00.000000000', '2021-10-20T00:00:00.000000000',
       '2021-10-03T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
       '2021-07-24T00:00:00.000000000', '2022-02-26T00:00:00.000000000',
       '2021-07-10T00:00:00.000000000', '2022-01-06T00:00:00.000000000',
       '2022-04-01T00:00:00.000000000', '2022-02-25T00:00:00.000000000',
       '2021-10-12T00:00:00.000000000', '2021-10-13T00:00:00.000000000',
       '2021-10-14T00:00:00.000000000', '2021-10-15T00:00:00.000000000',
       '2021-10-19T00:00:00.000000000', '2021-10-21T00:00:00.000000000',
       '2022-01-18T00:00:00.000000000', '2022-02-02T00:00:00.000000000',
       '2022-05-02T00:00:00.000000000', '2021-09-10T00:00:00.000000000',
       '2022-01-07T00:00:00.000000000', '2021-06-29T00:00:00.000000000',
       '2021-06-30T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
       '2021-07-03T00:00:00.000000000', '2021-07-06T00:00:00.000000000',
       '2021-07-07T00:00:00.000000000', '2021-07-11T00:00:00.000000000',
       '2021-07-09T00:00:00.000000000', '2021-07-14T00:00:00.000000000',
       '2021-07-17T00:00:00.000000000', '2021-07-18T00:00:00.000000000',
       '2021-07-20T00:00:00.000000000', '2021-07-13T00:00:00.000000000',
       '2020-09-27T00:00:00.000000000', '2022-02-17T00:00:00.000000000',
       '2021-09-07T00:00:00.000000000', '2021-04-28T00:00:00.000000000',
       '2021-05-04T00:00:00.000000000', '2021-09-09T00:00:00.000000000',
       '2022-02-01T00:00:00.000000000', '2022-02-27T00:00:00.000000000',
       '2021-11-29T00:00:00.000000000', '2021-05-13T00:00:00.000000000',
       '2021-11-23T00:00:00.000000000', '2021-11-26T00:00:00.000000000',
       '2022-02-11T00:00:00.000000000', '2022-05-03T00:00:00.000000000',
       '2022-03-16T00:00:00.000000000', '2021-01-23T00:00:00.000000000',
       '2021-01-24T00:00:00.000000000', '2022-02-16T00:00:00.000000000',
       '2022-02-24T00:00:00.000000000', '2022-03-01T00:00:00.000000000',
       '2022-03-07T00:00:00.000000000', '2022-02-09T00:00:00.000000000',
       '2022-02-04T00:00:00.000000000', '2021-11-25T00:00:00.000000000',
       '2021-12-02T00:00:00.000000000', '2021-12-08T00:00:00.000000000',
       '2021-12-27T00:00:00.000000000', '2021-12-01T00:00:00.000000000',
       '2022-02-03T00:00:00.000000000', '2022-01-11T00:00:00.000000000',
       '2022-01-17T00:00:00.000000000', '2022-01-02T00:00:00.000000000',
       '2022-01-20T00:00:00.000000000', '2022-01-25T00:00:00.000000000',
       '2021-10-27T00:00:00.000000000', '2021-12-03T00:00:00.000000000',
       '2021-10-26T00:00:00.000000000', '2021-11-11T00:00:00.000000000',
       '2022-05-04T00:00:00.000000000', '2021-07-25T00:00:00.000000000',
       '2021-10-24T00:00:00.000000000', '2021-09-12T00:00:00.000000000',
       '2021-09-11T00:00:00.000000000', '2021-08-29T00:00:00.000000000',
       '2021-09-04T00:00:00.000000000', '2021-08-15T00:00:00.000000000',
       '2021-08-22T00:00:00.000000000', '2021-08-07T00:00:00.000000000',
       '2021-12-16T00:00:00.000000000', '2021-12-10T00:00:00.000000000',
       '2022-01-03T00:00:00.000000000', '2021-12-24T00:00:00.000000000',
       '2022-01-13T00:00:00.000000000', '2022-05-05T00:00:00.000000000',
       '2021-11-24T00:00:00.000000000', '2022-05-06T00:00:00.000000000',
       '2022-01-28T00:00:00.000000000', '2021-10-29T00:00:00.000000000',
       '2019-10-09T00:00:00.000000000', '2021-10-08T00:00:00.000000000',
       '2021-09-15T00:00:00.000000000', '2020-08-02T00:00:00.000000000',
       '2020-08-01T00:00:00.000000000', '2021-12-15T00:00:00.000000000',
       '2022-05-07T00:00:00.000000000', '2021-11-19T00:00:00.000000000',
       '2021-11-12T00:00:00.000000000', '2021-04-24T00:00:00.000000000',
       '2020-12-25T00:00:00.000000000', '2022-01-12T00:00:00.000000000',
       '2022-01-05T00:00:00.000000000', '2022-05-08T00:00:00.000000000',
       '2020-08-26T00:00:00.000000000', '2021-02-16T00:00:00.000000000',
       '2021-04-06T00:00:00.000000000', '2021-03-16T00:00:00.000000000',
       '2020-02-13T00:00:00.000000000', '2022-05-09T00:00:00.000000000',
       '2022-05-10T00:00:00.000000000', '2021-12-17T00:00:00.000000000',
       '2021-10-06T00:00:00.000000000', '2022-01-27T00:00:00.000000000',
       '2021-12-14T00:00:00.000000000', '2021-10-25T00:00:00.000000000',
       '2021-01-05T00:00:00.000000000', '2020-02-11T00:00:00.000000000',
       '2020-02-10T00:00:00.000000000', '2022-05-11T00:00:00.000000000',
       '2021-04-15T00:00:00.000000000', '2021-03-31T00:00:00.000000000',
       '2021-04-16T00:00:00.000000000', '2021-01-03T00:00:00.000000000',
       '2021-11-17T00:00:00.000000000', '2021-12-09T00:00:00.000000000',
       '2022-01-21T00:00:00.000000000', '2022-01-10T00:00:00.000000000',
       '2020-11-14T00:00:00.000000000', '2021-10-28T00:00:00.000000000',
       '2022-05-12T00:00:00.000000000', '2019-12-26T00:00:00.000000000',
       '2021-12-20T00:00:00.000000000', '2020-01-10T00:00:00.000000000',
       '2020-01-20T00:00:00.000000000', '2020-01-14T00:00:00.000000000',
       '2020-01-09T00:00:00.000000000', '2020-01-28T00:00:00.000000000',
       '2020-01-29T00:00:00.000000000', '2020-01-30T00:00:00.000000000',
       '2020-01-08T00:00:00.000000000', '2019-12-27T00:00:00.000000000',
       '2021-11-10T00:00:00.000000000', '2021-12-12T00:00:00.000000000',
       '2021-09-21T00:00:00.000000000', '2021-10-11T00:00:00.000000000',
       '2021-09-23T00:00:00.000000000', '2021-09-29T00:00:00.000000000',
       '2022-05-13T00:00:00.000000000', '2021-09-20T00:00:00.000000000',
       '2021-09-24T00:00:00.000000000', '2021-09-27T00:00:00.000000000',
       '2021-06-17T00:00:00.000000000', '2019-04-30T00:00:00.000000000',
       '2019-01-28T00:00:00.000000000', '2019-02-18T00:00:00.000000000',
       '2021-08-21T00:00:00.000000000', '2021-04-30T00:00:00.000000000',
       '2021-03-27T00:00:00.000000000', '2021-02-26T00:00:00.000000000',
       '2020-12-31T00:00:00.000000000', '2020-08-25T00:00:00.000000000',
       '2020-08-27T00:00:00.000000000', '2020-08-28T00:00:00.000000000',
       '2020-08-31T00:00:00.000000000', '2020-09-28T00:00:00.000000000',
       '2021-08-23T00:00:00.000000000', '2022-05-14T00:00:00.000000000',
       '2020-08-22T00:00:00.000000000', '2018-05-30T00:00:00.000000000',
       '2021-02-02T00:00:00.000000000', '2022-05-15T00:00:00.000000000',
       '2022-01-24T00:00:00.000000000', '2022-05-16T00:00:00.000000000',
       '2021-09-03T00:00:00.000000000', '2021-09-05T00:00:00.000000000',
       '2021-09-06T00:00:00.000000000', '2022-05-17T00:00:00.000000000',
       '2021-08-30T00:00:00.000000000', '2021-05-20T00:00:00.000000000',
       '2021-06-18T00:00:00.000000000', '2021-07-01T00:00:00.000000000',
       '2021-07-05T00:00:00.000000000', '2021-08-02T00:00:00.000000000',
       '2021-08-03T00:00:00.000000000', '2021-05-07T00:00:00.000000000',
       '2021-08-12T00:00:00.000000000', '2021-08-16T00:00:00.000000000',
       '2021-08-18T00:00:00.000000000', '2021-08-20T00:00:00.000000000',
       '2021-08-27T00:00:00.000000000', '2022-05-18T00:00:00.000000000',
       '2021-06-25T00:00:00.000000000', '2021-10-07T00:00:00.000000000',
       '2022-05-19T00:00:00.000000000', '2019-11-25T00:00:00.000000000',
       '2022-05-20T00:00:00.000000000', '2019-06-27T00:00:00.000000000',
       '2021-12-13T00:00:00.000000000', '2020-08-15T00:00:00.000000000',
       '2022-05-21T00:00:00.000000000', '2021-07-22T00:00:00.000000000',
       '2021-07-30T00:00:00.000000000', '2021-07-31T00:00:00.000000000',
       '2021-08-04T00:00:00.000000000', '2021-08-05T00:00:00.000000000',
       '2021-08-06T00:00:00.000000000', '2021-08-17T00:00:00.000000000',
       '2021-08-14T00:00:00.000000000', '2021-08-13T00:00:00.000000000',
       '2021-08-11T00:00:00.000000000', '2021-08-10T00:00:00.000000000',
       '2021-03-28T00:00:00.000000000', '2022-05-22T00:00:00.000000000',
       '2021-08-28T00:00:00.000000000', '2018-03-09T00:00:00.000000000',
       '2021-08-19T00:00:00.000000000', '2022-05-23T00:00:00.000000000',
       '2021-03-20T00:00:00.000000000', '2020-10-06T00:00:00.000000000',
       '2021-11-22T00:00:00.000000000', '2022-05-24T00:00:00.000000000',
       '2021-10-05T00:00:00.000000000', '2022-05-25T00:00:00.000000000',
       '2020-01-13T00:00:00.000000000', '2022-05-26T00:00:00.000000000',
       '2022-05-27T00:00:00.000000000', '2020-11-25T00:00:00.000000000',
       '2021-06-26T00:00:00.000000000', '2022-05-28T00:00:00.000000000',
       '2020-11-01T00:00:00.000000000', '2021-04-22T00:00:00.000000000',
       '2021-05-21T00:00:00.000000000', '2022-05-29T00:00:00.000000000',
       '2019-05-16T00:00:00.000000000', '2019-12-24T00:00:00.000000000',
       '2019-12-17T00:00:00.000000000', '2019-12-18T00:00:00.000000000',
       '2019-12-19T00:00:00.000000000', '2019-12-20T00:00:00.000000000',
       '2019-12-23T00:00:00.000000000', '2022-05-30T00:00:00.000000000',
       '2021-02-03T00:00:00.000000000', '2021-02-05T00:00:00.000000000',
       '2021-02-23T00:00:00.000000000', '2022-05-31T00:00:00.000000000',
       '2021-07-23T00:00:00.000000000', '2021-07-26T00:00:00.000000000',
       '2021-07-28T00:00:00.000000000', '2021-07-29T00:00:00.000000000',
       '2019-02-21T00:00:00.000000000', '2020-11-27T00:00:00.000000000'],
      dtype='datetime64[ns]')

#### PAGOS DUPLICADOS TRADICIONAL

In [11]:
duplicates_trad = pagos_1[pagos_1.duplicated(['report_id','date_file'] , keep=False)]
duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)
duplicates_trad.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4428\189612330.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_due, tipo, bank, bank_account_owner_name, CLABE, status, LINEA CEP, Banco_emisor, file_name, date_file]
Index: []

In [12]:
duplicates_trad.shape

(0, 15)

In [13]:
duplicates_trad.drop_duplicates(subset="report_id", keep='last', inplace=True)

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_due, tipo, bank, bank_account_owner_name, CLABE, status, LINEA CEP, Banco_emisor, file_name, date_file]
Index: []

In [14]:
duplicates_trad.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_due, tipo, bank, bank_account_owner_name, CLABE, status, LINEA CEP, Banco_emisor, file_name, date_file]
Index: []

In [15]:
duplicates_trad.shape

(0, 15)

In [17]:
# pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],
#                                   values=['total_due']
#                                   ,aggfunc = ['sum', len],margins=True)
# pivot_duplicates_trad.reset_index(drop=False, inplace=True)
# pivot_duplicates_trad.head()

In [18]:
# pivot_duplicates_trad.shape

#### FAST PAYMENTS

In [19]:
fp_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2022\05. MAYO\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx', recursive=False)
fp_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-04-30.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-30.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\05. MAYO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-05-31.xlsx']

In [20]:
pagos_2 = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS').assign(file_name=os.path.basename(f)) for f in fp_files_1])
pagos_2['date_file'] = pagos_2["file_name"].str[-15:-4]
pagos_2['date_file']= pd.to_datetime(pagos_2['date_file']) 
pagos_2.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_2['report_date_local']= pd.to_datetime(pagos_2['report_date_local']) 
pagos_2.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor,file_name,date_file
0,0077de15-2d6d-4e8e-8b08-fabfa914b7c1,BOCKBIER,Anthony-carwash@hotmail.com,7JPSHKWDX,2022-04-30,183.02,Pago del día,ASP INTEGRA OPC,Luis Antonio Montes Suárez,659802020000058487,PAID,"2022-04-30,42644264202204301700946456,40072,90...",09:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30
4329,db3d0502-a093-4027-add8-06edc610bda7,COCONOCO,ruben@martinez.net,RRRW4MX4W,2022-04-30,229.97,Pago del día,ASP INTEGRA OPC,Ruben Edmundo Martinez Alvarez,659802020000121466,PAID,"2022-04-30,42644264202204301701581976,40072,90...",16:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30
4328,db28f9ec-b96f-4cc7-8707-5e73aa3848f0,Xiluet,jaqueline.tovar2002@gmail.com,4M6B6R9XJ,2022-04-30,"1,178.64",Pago del día,ASP INTEGRA OPC,Jose Antonio Tovar Lara,659802020000104108,PAID,"2022-04-30,42644264202204301701582522,40072,90...",16:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30
4327,dafd48db-e5b9-44ef-b4be-d8945fcbee1e,La Michoacana De VillaMagna,lilivianeysl@hotmail.com,3VN3YM8VP,2022-04-30,128.41,Pago del día,ASP INTEGRA OPC,Liliana Vianey Solorio Lopez,659802020000401283,PAID,"2022-04-30,42644264202204301701581682,40072,90...",16:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30
4326,daede979-5687-4bae-b987-ad8b16534960,Barbacoa Gamero,barbacoagamero@gmail.com,ZKZTYRGQJ,2022-04-30,418.75,Pago del día,ASP INTEGRA OPC,Alejandra Garnica Ramirez,659802020000004376,PAID,"2022-04-30,42644264202204301701582266,40072,90...",16:00,BANORTE,Dispersión-FP 2022-04-30.xlsx,2022-04-30

In [21]:
pagos_2.shape

(165004, 16)

#### PAGOS REPETIDOS FAST PAYMENTS

In [22]:
duplicates_fp = pagos_2[pagos_2.duplicated(['report_id','date_file'] , keep=False)]
duplicates_fp.sort_values(by=['date_file','report_id','Time'],inplace=True)
duplicates_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4428\1296643442.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.sort_values(by=['date_file','report_id','Time'],inplace=True)

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor,file_name,date_file
4015,f2ad10d0-fba8-47c9-a138-16caddafa706,Stiló Beauty Salon,carombrena@outlook.com,22NRKTMVK,2022-05-03,210.81,Pago del día,ASP INTEGRA OPC,Carolina Munoz Brena,659802020000136862,PAID,"2022-05-03,nan,40072,90659,659802020000136862,...",18:00,BANORTE,Dispersión-FP 2022-05-03.xlsx,2022-05-03
5825,f2ad10d0-fba8-47c9-a138-16caddafa706,Stiló Beauty Salon,carombrena@outlook.com,22NRKTMVK,2022-05-03,210.81,Pago del día,ASP INTEGRA OPC,Carolina Munoz Brena,659802020000136862,PAID,"2022-05-03,42644264202205031706339969,40072,90...",20:00,BANORTE,Dispersión-FP 2022-05-03.xlsx,2022-05-03
3606,80b988b8-d3e6-4b09-a6c5-5394f51255e3,Helados Holanda La Luciernaga,batver@hotmail.com,22RMX2XJV,2022-05-03,54.28,Pago del día,ASP INTEGRA OPC,Veronica Morales Olguin,659802020000018087,PAID,"2022-05-03,nan,40072,90659,659802020000018087,...",18:00,BANORTE,Dispersión-FP 2022-05-03.xlsx,2022-05-03
4991,80b988b8-d3e6-4b09-a6c5-5394f51255e3,Helados Holanda La Luciernaga,batver@hotmail.com,22RMX2XJV,2022-05-03,54.28,Pago del día,ASP INTEGRA OPC,Veronica Morales Olguin,659802020000018087,PAID,"2022-05-03,42644264202205031706340670,40072,90...",20:00,BANORTE,Dispersión-FP 2022-05-03.xlsx,2022-05-03
3376,3a8af0a1-f4aa-47c6-81ec-ce05bd916a83,Tiendita,ferdher1700@hotmail.com,233GFRK3K,2022-05-03,110.67,Pago del día,ASP INTEGRA OPC,Edgar Fernando Herrera Ramirez,659802020000002747,PAID,"2022-05-03,nan,40072,90659,659802020000002747,...",18:00,BANORTE,Dispersión-FP 2022-05-03.xlsx,2022-05-03

In [23]:
duplicates_fp.shape

(1782, 16)

In [24]:
duplicates_fp.drop_duplicates(subset="report_id", keep='last', inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4428\966439277.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.drop_duplicates(subset="report_id", keep='last', inplace=True)

In [25]:
duplicates_fp.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor,file_name,date_file
5825,f2ad10d0-fba8-47c9-a138-16caddafa706,Stiló Beauty Salon,carombrena@outlook.com,22NRKTMVK,2022-05-03,210.81,Pago del día,ASP INTEGRA OPC,Carolina Munoz Brena,659802020000136862,PAID,"2022-05-03,42644264202205031706339969,40072,90...",20:00,BANORTE,Dispersión-FP 2022-05-03.xlsx,2022-05-03
4991,80b988b8-d3e6-4b09-a6c5-5394f51255e3,Helados Holanda La Luciernaga,batver@hotmail.com,22RMX2XJV,2022-05-03,54.28,Pago del día,ASP INTEGRA OPC,Veronica Morales Olguin,659802020000018087,PAID,"2022-05-03,42644264202205031706340670,40072,90...",20:00,BANORTE,Dispersión-FP 2022-05-03.xlsx,2022-05-03
4519,3a8af0a1-f4aa-47c6-81ec-ce05bd916a83,Tiendita,ferdher1700@hotmail.com,233GFRK3K,2022-05-03,110.67,Pago del día,ASP INTEGRA OPC,Edgar Fernando Herrera Ramirez,659802020000002747,PAID,"2022-05-03,42644264202205031706339927,40072,90...",20:00,BANORTE,Dispersión-FP 2022-05-03.xlsx,2022-05-03
5196,9c63c9ef-bba4-4aa3-8947-33734a536856,Tortilleria El Nixta MAL,82aguilarrocio@gmail.com,24NXGH9F5,2022-05-03,128.41,Pago del día,ASP INTEGRA OPC,Rocio Aguilar Cintora,659802020000346018,PAID,"2022-05-03,42644264202205031706340796,40072,90...",20:00,BANORTE,Dispersión-FP 2022-05-03.xlsx,2022-05-03
5029,85907bf0-cd63-4445-9dbc-eac3e870da84,Estética D’Roy,erick_04_67@hotmail.com,27D56YWJF,2022-05-03,344.97,Pago del día,ASP INTEGRA OPC,Erick David Arredondo Caballero,659802020000543918,PAID,"2022-05-03,42644264202205031706340278,40072,90...",20:00,BANORTE,Dispersión-FP 2022-05-03.xlsx,2022-05-03

In [26]:
duplicates_fp.shape

(890, 16)

In [27]:
pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_fp.reset_index(drop=False, inplace=True)
pivot_duplicates_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4428\3187082303.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_4428\3187082303.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],

           tipo  date_file        sum       len
                            total_due total_due
0  Pago del día 2022-05-03 443,229.05       827
1  Pago del día 2022-05-12  11,340.77         1
2  Pago del día 2022-05-15     287.47         2
3  Pago del día 2022-05-16   8,624.16         1
4  Pago del día 2022-05-19     435.99         2

In [28]:
pivot_duplicates_fp.shape

(12, 4)

In [29]:
# pivot_duplicates_fp.to_excel('DUPLICADOS FP JUNIO 2021.xlsx',index=True)

#### ALL PAGOS

In [30]:
allpagos = pd.concat([pagos_1,pagos_2])
allpagos.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Banco_emisor,file_name,date_file,swap,CEP,Time
0,fe324abb-914a-46fc-b317-162c34b5eea9,Tu Taxi De Confianza,irving.corporativo90@outlook.com,GNZLB3GMS,2022-04-30,33.54,Pago del día,AZTECA,Jess Irving Reyes Gutirrez,127854013360663960,PAID,"2022-04-30,42644264202204301700770648,40072,40...",BANORTE,Dispersión-2-20220430.xlsx,2022-04-30,NaN,NaN,NaN
62868,00c0430d-e55b-4527-938b-67b374bb19e6,actitud inox,juancrlarios@gmail.com,96MLQ32PX,2022-04-30,"9,835.44",Pago del día,AZTECA,Juan Carlos Reyes Larios,127855013649553295,PAID,"2022-04-30,42644264202204301700773945,40072,40...",BANORTE,Dispersión-20220430.xlsx,2022-04-30,NaN,NaN,NaN
62867,00c1b9ef-a060-4faf-9f5e-495ee1ebec48,3Xlburger,jmab2110@gmail.com,CY2H8W3XB,2022-04-30,"4,752.87",Pago del día,BBVA BANCOMER,ANDREINA CORREDOR MOERBEECK,12694004584042913,PAID,"2022-04-30,42644264202204301700835119,40072,40...",BANORTE,Dispersión-20220430.xlsx,2022-04-30,NaN,NaN,NaN
62866,00c29de9-43fa-4779-96de-9471b6822b25,Vape Store SJR,mva_17ag@hotmail.com,F2MMN444R,2022-04-30,240.51,Pago del día,BBVA BANCOMER,Marco Antonio Vega Angeles,12685012632507929,PAID,"2022-04-30,42644264202204301700795025,40072,40...",BANORTE,Dispersión-20220430.xlsx,2022-04-30,NaN,NaN,NaN
62865,00c48d5a-d8e9-4612-b478-065693310584,Fix Time,almanoracruz@hotmail.com,SKKQ5L8QH,2022-04-30,2.85,Pago del día,BANAMEX,Alma Nora Cruz Rios,2290701206546815,PAID,"2022-04-30,42644264202204301700855232,40072,40...",BANORTE,Dispersión-20220430.xlsx,2022-04-30,NaN,NaN,NaN

In [31]:
allpagos.shape

(2808932, 18)

In [32]:
allpagos['tipo'].unique()

array(['Pago del día', 'Reprogramación'], dtype=object)

In [33]:
group_allpagos = allpagos.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_allpagos.head()

   date_file      total_due  report_id
0 2022-04-30 205,165,280.26     101732
1 2022-05-01 225,765,365.19      99541
2 2022-05-02 150,175,860.60      69349
3 2022-05-03 153,428,766.27      86835
4 2022-05-04 149,571,050.16      88256

In [34]:
group_allpagos.shape

(32, 3)

#### PAGOS DEL DIA

In [35]:
pagosdia = allpagos[(allpagos['tipo'].isin(['Pago del día']))]
pagosdia.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Banco_emisor,file_name,date_file,swap,CEP,Time
0,fe324abb-914a-46fc-b317-162c34b5eea9,Tu Taxi De Confianza,irving.corporativo90@outlook.com,GNZLB3GMS,2022-04-30,33.54,Pago del día,AZTECA,Jess Irving Reyes Gutirrez,127854013360663960,PAID,"2022-04-30,42644264202204301700770648,40072,40...",BANORTE,Dispersión-2-20220430.xlsx,2022-04-30,NaN,NaN,NaN
62868,00c0430d-e55b-4527-938b-67b374bb19e6,actitud inox,juancrlarios@gmail.com,96MLQ32PX,2022-04-30,"9,835.44",Pago del día,AZTECA,Juan Carlos Reyes Larios,127855013649553295,PAID,"2022-04-30,42644264202204301700773945,40072,40...",BANORTE,Dispersión-20220430.xlsx,2022-04-30,NaN,NaN,NaN
62867,00c1b9ef-a060-4faf-9f5e-495ee1ebec48,3Xlburger,jmab2110@gmail.com,CY2H8W3XB,2022-04-30,"4,752.87",Pago del día,BBVA BANCOMER,ANDREINA CORREDOR MOERBEECK,12694004584042913,PAID,"2022-04-30,42644264202204301700835119,40072,40...",BANORTE,Dispersión-20220430.xlsx,2022-04-30,NaN,NaN,NaN
62866,00c29de9-43fa-4779-96de-9471b6822b25,Vape Store SJR,mva_17ag@hotmail.com,F2MMN444R,2022-04-30,240.51,Pago del día,BBVA BANCOMER,Marco Antonio Vega Angeles,12685012632507929,PAID,"2022-04-30,42644264202204301700795025,40072,40...",BANORTE,Dispersión-20220430.xlsx,2022-04-30,NaN,NaN,NaN
62865,00c48d5a-d8e9-4612-b478-065693310584,Fix Time,almanoracruz@hotmail.com,SKKQ5L8QH,2022-04-30,2.85,Pago del día,BANAMEX,Alma Nora Cruz Rios,2290701206546815,PAID,"2022-04-30,42644264202204301700855232,40072,40...",BANORTE,Dispersión-20220430.xlsx,2022-04-30,NaN,NaN,NaN

In [36]:
pagosdia.shape

(2790846, 18)

In [37]:
group_dia = pagosdia.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_dia.head()

   date_file      total_due  report_id
0 2022-04-30 203,807,876.15     100907
1 2022-05-01 224,773,731.29      98954
2 2022-05-02 149,113,037.66      68705
3 2022-05-03 151,712,640.19      85765
4 2022-05-04 147,745,514.52      86128

In [38]:
group_dia.shape

(32, 3)

# PRIMER MATCH (SETTLED VS PAGOS DEL DIA)

In [39]:
check_1 = cum_1.merge(pagosdia[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_1['total_due_y'].fillna('NO ENCONTRADO')
check_1['tipo'].fillna('NO ENCONTRADO',inplace=True)
check_1['file_name_y'].fillna('NO ENCONTRADO',inplace=True)
# check_1.fillna({'total_due_y':'NO ENCONTRADO', 'tipo':'NO ENCONTRADO', 'file_name_y':'NO ENCONTRADO'}, inplace=True)
check_1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_due_x,type,created_date,created_time,updated_date,updated_time,file_name_x,total_due_y,tipo,file_name_y
0,a38189fc-99b4-4320-a53d-37b18ca37e20,Studio,gabarr54@gmail.com,5QMZY7TNT,2022-04-30,669.00,24.08,3.85,0.00,0.00,...,641.07,DAILY,2022-04-30,02:00:25,2022-04-30,02:00:25,SETTLEMENT 2022-04-30.csv,641.07,Pago del día,Dispersión-20220430.xlsx
1,a250e0ef-907a-4250-8478-34effbe04607,Andre Mtz,ing.mtz.mls@gmail.com,GQVBV8K6R,2022-04-30,"2,079.00",74.84,11.97,0.00,0.00,...,"1,992.19",DAILY,2022-04-30,02:00:25,2022-04-30,02:00:25,SETTLEMENT 2022-04-30.csv,"1,992.19",Pago del día,Dispersión-20220430.xlsx
2,56dfd220-a7a0-4777-b81f-c2457f51d1b6,DoctorStore,hector.vieyrasc@gmail.com,55284CC7G,2022-04-30,280.00,10.08,1.61,0.00,0.00,...,268.31,DAILY,2022-04-30,02:00:26,2022-04-30,02:00:26,SETTLEMENT 2022-04-30.csv,268.31,Pago del día,Dispersión-20220430.xlsx
3,823b418a-f07d-4602-ac25-c87846b727f7,Grata Impresión,grataimpresion@gmail.com,7PJ6CSYQV,2022-04-30,"1,385.04",49.86,7.98,0.00,0.00,...,"1,327.20",DAILY,2022-04-30,02:00:26,2022-04-30,02:00:26,SETTLEMENT 2022-04-30.csv,"1,327.20",Pago del día,Dispersión-20220430.xlsx
4,2a9287c9-d2c5-424a-9cc1-49080607aea7,Arthromedic,maybelreyes.7@gmail.com,8GBVZTG55,2022-04-30,"2,000.00",72.00,11.52,0.00,0.00,...,"1,916.48",DAILY,2022-04-30,02:00:26,2022-04-30,02:00:26,SETTLEMENT 2022-04-30.csv,"1,916.48",Pago del día,Dispersión-20220430.xlsx

In [40]:
check_1['file_name_y'].unique()

array(['Dispersión-20220430.xlsx', 'Dispersión-2-20220430.xlsx',
       'NO ENCONTRADO', 'Dispersión-FP 2022-04-30.xlsx',
       'Dispersión-20220501.xlsx', 'Dispersión-FP 2022-05-01.xlsx',
       'Dispersión-20220502.xlsx', 'Dispersión-FP 2022-05-02.xlsx',
       'Dispersión-20220503.xlsx', 'Dispersión-FP 2022-05-03.xlsx',
       'Dispersión-20220504.xlsx', 'Dispersión-FP 2022-05-04.xlsx',
       'Dispersión-20220505.xlsx', 'Dispersión-FP 2022-05-05.xlsx',
       'Dispersión-20220506.xlsx', 'Dispersión-FP 2022-05-06.xlsx',
       'Dispersión-20220507.xlsx', 'Dispersión-FP 2022-05-07.xlsx',
       'Dispersión-20220508.xlsx', 'Dispersión-FP 2022-05-08.xlsx',
       'Dispersión-20220509.xlsx', 'Dispersión-FP 2022-05-09.xlsx',
       'Dispersión-20220510.xlsx', 'Dispersión-FP 2022-05-10.xlsx',
       'Dispersión-20220511.xlsx', 'Dispersión-FP 2022-05-11.xlsx',
       'Dispersión-20220512.xlsx', 'Dispersión-FP 2022-05-12.xlsx',
       'Dispersión-20220513.xlsx', 'Dispersión-FP 2022-05-13.xlsx',
       'Dispersión-20220514.xlsx', 'Dispersión-FP 2022-05-14.xlsx',
       'Dispersión-20220515.xlsx', 'Dispersión-FP 2022-05-15.xlsx',
       'Dispersión-20220516.xlsx', 'Dispersión-FP 2022-05-16.xlsx',
       'Dispersión-20220517.xlsx', 'Dispersión-FP 2022-05-17.xlsx',
       'Dispersión-20220518.xlsx', 'Dispersión-FP 2022-05-18.xlsx',
       'Dispersión-20220519.xlsx', 'Dispersión-FP 2022-05-19.xlsx',
       'Dispersión-20220520.xlsx', 'Dispersión-FP 2022-05-20.xlsx',
       'Dispersión-20220521.xlsx', 'Dispersión-FP 2022-05-21.xlsx',
       'Dispersión-20220522.xlsx', 'Dispersión-FP 2022-05-22.xlsx',
       'Dispersión-20220523.xlsx', 'Dispersión-FP 2022-05-23.xlsx',
       'Dispersión-20220524.xlsx', 'Dispersión-FP 2022-05-24.xlsx',
       'Dispersión-20220525.xlsx', 'Dispersión-FP 2022-05-25.xlsx',
       'Dispersión-20220526.xlsx', 'Dispersión-FP 2022-05-26.xlsx',
       'Dispersión-20220527.xlsx', 'Dispersión-FP 2022-05-27.xlsx',
       'Dispersión-20220528.xlsx', 'Dispersión-FP 2022-05-28.xlsx',
       'Dispersión-20220529.xlsx', 'Dispersión-FP 2022-05-29.xlsx',
       'Dispersión-20220530.xlsx', 'Dispersión-FP 2022-05-30.xlsx',
       'Dispersión-20220531.xlsx', 'Dispersión-FP 2022-05-31.xlsx'],
      dtype=object)

In [41]:
not_found_1 = check_1[((check_1['file_name_y'].isnull()) | (check_1['file_name_y'].isin(['NO ENCONTRADO'])))
                        & (check_1['total_due_x'] != 0)]
not_found_1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_due_x,type,created_date,created_time,updated_date,updated_time,file_name_x,total_due_y,tipo,file_name_y
637,638908e7-c893-4341-989f-b59674c6e8e7,ADRIMI,aym2508@hotmail.com,B79MT37P5,2022-04-30,158.00,5.69,0.91,0.00,0.00,...,151.40,DAILY,2022-04-30,02:02:37,2022-04-30,02:02:37,SETTLEMENT 2022-04-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
928,35bc0647-22f7-4f94-a30e-6a4fb65749a2,Mekeup Denyz,makeupdenyz27@gmail.com,4VY8GWY38,2022-04-30,0.01,0.00,0.00,0.00,0.00,...,0.01,DAILY,2022-04-30,02:03:44,2022-04-30,02:03:44,SETTLEMENT 2022-04-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
1091,3448df46-07cb-437d-9aaf-5a65395c2de7,Payclip,carlos.vera@payclip.com,KZ9Z897Y7,2022-04-30,0.50,0.02,0.00,0.00,0.00,...,0.48,DAILY,2022-04-30,02:04:19,2022-04-30,02:04:19,SETTLEMENT 2022-04-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
1418,e6043e24-f262-4a31-8bfa-f743d2824228,Abarrotes Yahualica,Juannavarro160397@icloud.com,56QD5WWY5,2022-04-30,212.00,7.63,1.22,0.00,0.00,...,203.15,DAILY,2022-04-30,02:05:24,2022-04-30,02:05:24,SETTLEMENT 2022-04-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
1804,25ad7ab0-af8a-4f90-acff-97bddcdbcb82,Cielito lindo,cielitolindofiesta@gmail.com,923YN2599,2022-04-30,130.00,4.68,0.74,0.00,0.00,...,124.58,DAILY,2022-04-30,02:06:45,2022-04-30,02:06:45,SETTLEMENT 2022-04-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO

In [42]:
not_found_1.shape

(10002, 29)

In [43]:
group_notfound = not_found_1.groupby(['report_date_local']).agg({'total_due_x':sum,'report_id':'count'}).reset_index()
group_notfound.rename(columns={'report_date_local':'date_file'},inplace=True)
group_notfound.head()

   date_file  total_due_x  report_id
0 2022-04-30   355,297.96        390
1 2022-05-01   255,995.90        332
2 2022-05-02   192,597.32        247
3 2022-05-03   210,032.51        297
4 2022-05-04   104,519.97        300

In [44]:
group_notfound.shape

(32, 3)

#### REPROGRAMACIONES

In [45]:
repro = allpagos[(allpagos['tipo'].isin(['Reprogramación']))]
repro.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Banco_emisor,file_name,date_file,swap,CEP,Time
63042,00377d83-8928-4f2d-9dc7-ca0955e63aab,Seos,andyche97@hotmail.com,PMG4VJ7SZ,2022-04-29,"2,874.72",Reprogramación,BBVA BANCOMER,Andrés Chavira Enriquez,12222015203057899,PAID,"2022-04-30,42644264202204301700794912,40072,40...",BANORTE,Dispersión-20220430.xlsx,2022-04-30,NaN,NaN,NaN
62995,00e9e553-4664-46b6-bd75-33517e2284d1,Gladys boutique,gladiiz01@icloud.com,KFNTX6T29,2022-04-13,292.26,Reprogramación,BBVA BANCOMER,Gladys Soberanis quintero,12180015077311036,PAID,"2022-04-30,42644264202204301700835158,40072,40...",BANORTE,Dispersión-20220430.xlsx,2022-04-30,NaN,NaN,NaN
63635,067094da-9fbd-49c4-9832-9cd24ad30e3a,Frunatura,mayra_rama@hotmail.com,SMNMMMPMJ,2022-04-21,312.39,Reprogramación,COMPARTAMOS,Mayra Selene Ramirez Marquez,130060001596577367,PAID,"2022-04-30,42644264202204301700856551,40072,40...",BANORTE,Dispersión-20220430.xlsx,2022-04-30,NaN,NaN,NaN
63634,067094da-9fbd-49c4-9832-9cd24ad30e3a,Frunatura,mayra_rama@hotmail.com,5H5RZZSZV,2022-04-22,156.19,Reprogramación,COMPARTAMOS,Mayra Selene Ramirez Marquez,130060001596577367,PAID,"2022-04-30,42644264202204301700816597,40072,40...",BANORTE,Dispersión-20220430.xlsx,2022-04-30,NaN,NaN,NaN
63633,067094da-9fbd-49c4-9832-9cd24ad30e3a,Frunatura,mayra_rama@hotmail.com,YQDRFMW49,2022-04-26,65.16,Reprogramación,COMPARTAMOS,Mayra Selene Ramirez Marquez,130060001596577367,PAID,"2022-04-30,42644264202204301700775545,40072,40...",BANORTE,Dispersión-20220430.xlsx,2022-04-30,NaN,NaN,NaN

In [46]:
repro.shape

(18086, 18)

In [47]:
group_repro = repro.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_repro.head()

   date_file    total_due  report_id
0 2022-04-30 1,357,404.11        825
1 2022-05-01   991,633.90        587
2 2022-05-02 1,062,822.94        644
3 2022-05-03 1,716,126.08       1070
4 2022-05-04 1,825,535.64       2128

In [48]:
group_repro.shape

(32, 3)

# SEGUNDO MATCH (IDENTIFICACION DE REPROGRAMACIONES)

In [49]:
check_2 = not_found_1.merge(repro[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_2.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,created_time,updated_date,updated_time,file_name_x,total_due_y,tipo_x,file_name_y,total_due,tipo_y,file_name
0,638908e7-c893-4341-989f-b59674c6e8e7,ADRIMI,aym2508@hotmail.com,B79MT37P5,2022-04-30,158.00,5.69,0.91,0.00,0.00,...,02:02:37,2022-04-30,02:02:37,SETTLEMENT 2022-04-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,NaN,NaN,NaN
1,35bc0647-22f7-4f94-a30e-6a4fb65749a2,Mekeup Denyz,makeupdenyz27@gmail.com,4VY8GWY38,2022-04-30,0.01,0.00,0.00,0.00,0.00,...,02:03:44,2022-04-30,02:03:44,SETTLEMENT 2022-04-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,NaN,NaN,NaN
2,3448df46-07cb-437d-9aaf-5a65395c2de7,Payclip,carlos.vera@payclip.com,KZ9Z897Y7,2022-04-30,0.50,0.02,0.00,0.00,0.00,...,02:04:19,2022-04-30,02:04:19,SETTLEMENT 2022-04-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,NaN,NaN,NaN
3,e6043e24-f262-4a31-8bfa-f743d2824228,Abarrotes Yahualica,Juannavarro160397@icloud.com,56QD5WWY5,2022-04-30,212.00,7.63,1.22,0.00,0.00,...,02:05:24,2022-04-30,02:05:24,SETTLEMENT 2022-04-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,NaN,NaN,NaN
4,25ad7ab0-af8a-4f90-acff-97bddcdbcb82,Cielito lindo,cielitolindofiesta@gmail.com,923YN2599,2022-04-30,130.00,4.68,0.74,0.00,0.00,...,02:06:45,2022-04-30,02:06:45,SETTLEMENT 2022-04-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,124.58,Reprogramación,Dispersión-20220510.xlsx

In [50]:
check_2.shape

(10014, 32)

In [51]:
# writer = pd.ExcelWriter('REPROGRAMACIONES JUNIO 2021.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})
# check_2.to_excel(writer, sheet_name='DETAIL REPROGRAMACIONES',index=False)
# writer.save()
# writer.close()

# FECHA DE PAGOS (SETTLED VS PAGOS DEL DIA)

In [52]:
fecha_pago = not_found_1.merge(repro[['report_id','date_file','tipo','status','file_name']] ,on='report_id', how='left')
fecha_pago.sort_values(by=['date_file'],ascending=True,inplace=True)
fecha_pago.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,updated_date,updated_time,file_name_x,total_due_y,tipo_x,file_name_y,date_file,tipo_y,status,file_name
314,cfa4e9ed-de57-4687-8210-e3722b6e8e36,los castillos,rosacb6@gmail.com,32TQH6TQM,2022-04-30,"4,250.00",153.00,24.48,0.00,0.00,...,2022-04-30,06:16:54,SETTLEMENT 2022-04-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-05-01,Reprogramación,PAID,Dispersión-20220501.xlsx
146,8338227e-4d12-4eec-9e13-69e8113a0239,Venta de Cositas DYE,ventadecositasjde@gmail.com,2XL559X3H,2022-04-30,"2,356.00",84.82,13.57,0.00,0.00,...,2022-04-30,04:08:32,SETTLEMENT 2022-04-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-05-01,Reprogramación,PAID,Dispersión-20220501.xlsx
57,0285ab22-33e7-44da-b1c4-041178b78795,A Barriga Llena,abarrigallenamx@gmail.com,QX8697FX4,2022-04-30,88.00,3.17,0.51,0.00,0.00,...,2022-04-30,02:52:38,SETTLEMENT 2022-04-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-05-01,Reprogramación,PAID,Dispersión-20220501.xlsx
313,1c3629b8-b9d1-40d6-9405-d44616a977d9,Beto Tortas,gerardoalfredopreciadomiranda@gmail.com,XVZR8M42C,2022-04-30,632.00,22.75,3.64,0.00,0.00,...,2022-04-30,06:16:34,SETTLEMENT 2022-04-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-05-01,Reprogramación,PAID,Dispersión-20220501.xlsx
303,3f7d4ee1-8a05-41a2-a3a0-0b1eeb150469,Luax,yvette.ng99@gmail.com,54J54BZDQ,2022-04-30,2.00,0.07,0.01,0.00,0.00,...,2022-04-30,06:08:09,SETTLEMENT 2022-04-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-05-01,Reprogramación,PAID,Dispersión-20220501.xlsx

In [53]:
fecha_pago.shape

(10014, 33)

In [54]:
fecha_pago.drop_duplicates(subset ='report_id',keep='first',inplace=True)

In [55]:
fecha_pago.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,updated_date,updated_time,file_name_x,total_due_y,tipo_x,file_name_y,date_file,tipo_y,status,file_name
314,cfa4e9ed-de57-4687-8210-e3722b6e8e36,los castillos,rosacb6@gmail.com,32TQH6TQM,2022-04-30,"4,250.00",153.00,24.48,0.00,0.00,...,2022-04-30,06:16:54,SETTLEMENT 2022-04-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-05-01,Reprogramación,PAID,Dispersión-20220501.xlsx
146,8338227e-4d12-4eec-9e13-69e8113a0239,Venta de Cositas DYE,ventadecositasjde@gmail.com,2XL559X3H,2022-04-30,"2,356.00",84.82,13.57,0.00,0.00,...,2022-04-30,04:08:32,SETTLEMENT 2022-04-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-05-01,Reprogramación,PAID,Dispersión-20220501.xlsx
57,0285ab22-33e7-44da-b1c4-041178b78795,A Barriga Llena,abarrigallenamx@gmail.com,QX8697FX4,2022-04-30,88.00,3.17,0.51,0.00,0.00,...,2022-04-30,02:52:38,SETTLEMENT 2022-04-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-05-01,Reprogramación,PAID,Dispersión-20220501.xlsx
313,1c3629b8-b9d1-40d6-9405-d44616a977d9,Beto Tortas,gerardoalfredopreciadomiranda@gmail.com,XVZR8M42C,2022-04-30,632.00,22.75,3.64,0.00,0.00,...,2022-04-30,06:16:34,SETTLEMENT 2022-04-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-05-01,Reprogramación,PAID,Dispersión-20220501.xlsx
303,3f7d4ee1-8a05-41a2-a3a0-0b1eeb150469,Luax,yvette.ng99@gmail.com,54J54BZDQ,2022-04-30,2.00,0.07,0.01,0.00,0.00,...,2022-04-30,06:08:09,SETTLEMENT 2022-04-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-05-01,Reprogramación,PAID,Dispersión-20220501.xlsx

In [56]:
fecha_pago.shape

(10002, 33)

### AGRUPADO POR DÍA

In [57]:
pivot_fecha_pago = pd.pivot_table(fecha_pago,index=['report_date_local'],
                                  values=['total_due_x'],aggfunc = ['sum', len],margins=True)
pivot_fecha_pago.head()

                            sum         len
                    total_due_x total_due_x
report_date_local
2022-04-30 00:00:00  355,297.96         390
2022-05-01 00:00:00  255,995.90         332
2022-05-02 00:00:00  192,597.32         247
2022-05-03 00:00:00  210,032.51         297
2022-05-04 00:00:00  104,519.97         300

In [58]:
pivot_fecha_pago.shape

(33, 2)

# PAGOS MANUALES

In [59]:
file_manual = glob.glob(r'G:\My Drive\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2022\05. MAY\MANUALES\*.xlsx', recursive=False)
file_manual

['G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MANUALES\\Manuales 2022-05-11.xlsx',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MANUALES\\Manuales 2022-05-17.xlsx',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MANUALES\\Manuales 2022-05-27.xlsx',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MANUALES\\Manuales 2022-05-18.xlsx',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MANUALES\\Manuales 2022-05-25.xlsx',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\05. MAY\\MANUALES\\Manuales 2022-05-30.xlsx']

In [60]:
manuales_all = pd.concat([pd.read_excel(f,sheet_name='Formato Pago Manual',skiprows=1
                                      ,converters={'Cta. CLABE de depósito':str,'report_id':str})
                          .assign(file_name=os.path.basename(f)) for f in file_manual])
manuales_all['Date'] = manuales_all["file_name"].str[-16:-4]
manuales_all['Date']= pd.to_datetime(manuales_all['Date'])  
manuales_all['Tipo'] = 'MANUAL'

In [61]:
manuales_final = manuales_all[['Date','ME NAME',' (mxn)','Banco','Justificación para el pago','Tipo','Report ID']]
manuales_final.head()

,Date,ME NAME,(mxn),Banco,Justificación para el pago,Tipo,Report ID
0,2022-05-11,LA MADALENA,"5,173.31","Kuspit Casa de Bolsa, S.A. de C.V.",Diferencia Tasa Madalena,MANUAL,NaN
1,2022-05-11,GAMBOAS,"1,427.78","BBVA Bancomer, S.A","se solicita pago manual, por reembolso a comis...",MANUAL,s6UFY78
2,2022-05-11,BMG MARKETING DESIGN,"3,104.70","BBVA Bancomer, S.A.","se solicita pago manual, por reembolso a comis...",MANUAL,3s3AZY6
0,2022-05-17,PRODUCTOS HELADOS ABIELI,"1,054.37","Banco del Bajio, S.A.",Se solicita pago manual por error en cuenta CLABE,MANUAL,FYMG9GCTN
1,2022-05-17,PRODUCTOS HELADOS ABIELI,"1,342.38","Banco del Bajio, S.A.",Se solicita pago manual por error en cuenta CLABE,MANUAL,K68FQ7D58

In [62]:
manuales_final.shape

(54, 7)

In [63]:
manuales_final.columns

Index(['Date', 'ME NAME', ' (mxn)', 'Banco', 'Justificación para el pago',
       'Tipo', 'Report ID'],
      dtype='object')

In [64]:
group_manual = manuales_final.groupby(['Date']).agg({' (mxn)':sum,'Report ID':'count'}).reset_index()
group_manual.rename(columns={'Date':'date_file','Report ID':'report_id'},inplace=True)
group_manual.head()

   date_file     (mxn)  report_id
0 2022-05-11  9,705.79          2
1 2022-05-17 53,722.87         36
2 2022-05-18  2,060.31          2
3 2022-05-25 38,052.66          1
4 2022-05-27    439.00          0

In [65]:
group_manual.shape

(6, 3)

# ACUMULADOS SETTLEMENT

In [66]:
conc_disp = cum_distinct_0.groupby(['report_date_local']).agg({'total_due':sum,'report_id':'count'}).reset_index()
conc_disp.rename(columns={'report_date_local':'date_file'}, inplace=True)
conc_disp.head()

   date_file      total_due  report_id
0 2022-04-30 204,163,174.11     101297
1 2022-05-01 225,029,727.19      99286
2 2022-05-02 149,305,634.98      68952
3 2022-05-03 151,479,443.65      85235
4 2022-05-04 147,850,034.49      86428

In [67]:
conc_disp.shape

(32, 3)

# MERGING ALL DATA FRAMES

In [68]:
total_1 = conc_disp.merge(group_repro[['date_file','total_due','report_id']],on='date_file',how='left') \
.merge(group_manual,on='date_file',how='left')
total_1[' (mxn)'].fillna(0,inplace=True)
total_1['report_id'].fillna(0,inplace=True)
total_1.head()

,date_file,total_due_x,report_id_x,total_due_y,report_id_y,(mxn),report_id
0,2022-04-30,"204,163,174.11",101297,"1,357,404.11",825,0.00,0.00
1,2022-05-01,"225,029,727.19",99286,"991,633.90",587,0.00,0.00
2,2022-05-02,"149,305,634.98",68952,"1,062,822.94",644,0.00,0.00
3,2022-05-03,"151,479,443.65",85235,"1,716,126.08",1070,0.00,0.00
4,2022-05-04,"147,850,034.49",86428,"1,825,535.64",2128,0.00,0.00

In [69]:
total_1['count_total_pago_dia'] = total_1['report_id_x'] + total_1['report_id_y'] + total_1['report_id']
total_1['sum_total_pago_dia'] = total_1['total_due_x'] + total_1['total_due_y'] + total_1[' (mxn)']

In [70]:
total_1

,date_file,total_due_x,report_id_x,total_due_y,report_id_y,(mxn),report_id,count_total_pago_dia,sum_total_pago_dia
0,2022-04-30,"204,163,174.11",101297,"1,357,404.11",825,0.00,0.00,"102,122.00","205,520,578.22"
1,2022-05-01,"225,029,727.19",99286,"991,633.90",587,0.00,0.00,"99,873.00","226,021,361.09"
2,2022-05-02,"149,305,634.98",68952,"1,062,822.94",644,0.00,0.00,"69,596.00","150,368,457.92"
3,2022-05-03,"151,479,443.65",85235,"1,716,126.08",1070,0.00,0.00,"86,305.00","153,195,569.73"
4,2022-05-04,"147,850,034.49",86428,"1,825,535.64",2128,0.00,0.00,"88,556.00","149,675,570.13"
5,2022-05-05,"154,268,585.04",88497,"745,858.71",472,0.00,0.00,"88,969.00","155,014,443.75"
6,2022-05-06,"171,011,110.91",94079,"882,500.50",405,0.00,0.00,"94,484.00","171,893,611.41"
7,2022-05-07,"188,073,433.85",98361,"843,517.87",597,0.00,0.00,"98,958.00","188,916,951.72"
8,2022-05-08,"210,469,704.06",97946,"575,161.07",473,0.00,0.00,"98,419.00","211,044,865.13"
9,2022-05-09,"144,482,596.74",69784,"269,032.92",221,0.00,0.00,"70,005.00","144,751,629.66"
10,2022-05-10,"158,692,265.51",88342,"800,964.70",526,0.00,0.00,"88,868.00","159,493,230.21"
11,2022-05-11,"175,977,977.18",82355,"1,168,691.41",518,"9,705.79",2.00,"82,875.00","177,156,374.38"
12,2022-05-12,"146,050,663.41",85649,"1,147,450.69",533,0.00,0.00,"86,182.00","147,198,114.10"
13,2022-05-13,"157,235,126.87",90764,"686,070.72",430,0.00,0.00,"91,194.00","157,921,197.59"
14,2022-05-14,"197,400,582.93",100059,"524,270.98",441,0.00,0.00,"100,500.00","197,924,853.91"
15,2022-05-15,"215,546,306.94",98341,"257,146.44",216,0.00,0.00,"98,557.00","215,803,453.38"
16,2022-05-16,"149,905,687.29",69165,"613,597.29",200,0.00,0.00,"69,365.00","150,519,284.58"
17,2022-05-17,"151,842,348.68",84635,"871,614.69",504,"53,722.87",36.00,"85,175.00","152,767,686.24"
18,2022-05-18,"148,513,316.07",85617,"694,084.90",468,"2,060.31",2.00,"86,087.00","149,209,461.28"
19,2022-05-19,"147,060,489.35",87555,"583,289.61",313,0.00,0.00,"87,868.00","147,643,778.96"
20,2022-05-20,"162,651,730.06",92202,"1,173,880.84",582,0.00,0.00,"92,784.00","163,825,610.90"
21,2022-05-21,"186,382,262.00",97264,"1,040,016.07",385,0.00,0.00,"97,649.00","187,422,278.07"
22,2022-05-22,"201,838,872.87",95285,"692,356.07",328,0.00,0.00,"95,613.00","202,531,228.94"
23,2022-05-23,"135,419,057.96",66387,"5,355,468.59",1841,0.00,0.00,"68,228.00","140,774,526.55"
24,2022-05-24,"139,306,625.41",81400,"826,247.60",413,0.00,0.00,"81,813.00","140,132,873.01"
25,2022-05-25,"142,714,350.86",83772,"838,317.23",552,"38,052.66",1.00,"84,325.00","143,590,720.75"
26,2022-05-26,"150,840,761.09",87053,"625,519.72",348,0.00,0.00,"87,401.00","151,466,280.81"
27,2022-05-27,"162,342,543.71",91560,"1,213,780.92",486,439.00,0.00,"92,046.00","163,556,763.63"
28,2022-05-28,"194,103,587.37",97972,"672,627.11",426,0.00,0.00,"98,398.00","194,776,214.48"
29,2022-05-29,"209,790,555.61",95383,"1,178,044.22",425,0.00,0.00,"95,808.00","210,968,599.83"
30,2022-05-30,"145,833,289.37",67282,"487,050.84",330,679.00,0.00,"67,612.00","146,321,019.21"
31,2022-05-31,"146,106,365.57",82098,"723,536.45",399,0.00,0.00,"82,497.00","146,829,902.02"

# ACUMULADOS PAGO DEL DIA

In [71]:
total_2 = group_allpagos.merge(group_notfound[['date_file','total_due_x','report_id']],on='date_file',how='left')\
.merge(group_manual,on='date_file',how='left')
total_2[' (mxn)'].fillna(0,inplace=True)
total_2['report_id'].fillna(0,inplace=True)
total_2['total_due_x'].fillna(0,inplace=True)
total_2['report_id_y'].fillna(0,inplace=True)
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id
0,2022-04-30,"205,165,280.26",101732,"355,297.96",390,0.00,0.00
1,2022-05-01,"225,765,365.19",99541,"255,995.90",332,0.00,0.00
2,2022-05-02,"150,175,860.60",69349,"192,597.32",247,0.00,0.00
3,2022-05-03,"153,428,766.27",86835,"210,032.51",297,0.00,0.00
4,2022-05-04,"149,571,050.16",88256,"104,519.97",300,0.00,0.00

In [72]:
total_2['count_swap_dia'] = total_2['report_id_x'] + total_2['report_id_y'] + total_2['report_id']
total_2['sum_swap_dia'] = total_2['total_due'] + total_2['total_due_x'] + total_2[' (mxn)']

In [73]:
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id,count_swap_dia,sum_swap_dia
0,2022-04-30,"205,165,280.26",101732,"355,297.96",390,0.00,0.00,"102,122.00","205,520,578.22"
1,2022-05-01,"225,765,365.19",99541,"255,995.90",332,0.00,0.00,"99,873.00","226,021,361.09"
2,2022-05-02,"150,175,860.60",69349,"192,597.32",247,0.00,0.00,"69,596.00","150,368,457.92"
3,2022-05-03,"153,428,766.27",86835,"210,032.51",297,0.00,0.00,"87,132.00","153,638,798.78"
4,2022-05-04,"149,571,050.16",88256,"104,519.97",300,0.00,0.00,"88,556.00","149,675,570.13"

In [74]:
total_2.shape

(32, 9)

# COMPARACION FINAL

In [75]:
final_comparacion = total_1[['date_file','count_total_pago_dia','sum_total_pago_dia']] \
.merge(total_2[['date_file','count_swap_dia','sum_swap_dia']],on='date_file',how='left')
final_comparacion.head()

,date_file,count_total_pago_dia,sum_total_pago_dia,count_swap_dia,sum_swap_dia
0,2022-04-30,"102,122.00","205,520,578.22","102,122.00","205,520,578.22"
1,2022-05-01,"99,873.00","226,021,361.09","99,873.00","226,021,361.09"
2,2022-05-02,"69,596.00","150,368,457.92","69,596.00","150,368,457.92"
3,2022-05-03,"86,305.00","153,195,569.73","87,132.00","153,638,798.78"
4,2022-05-04,"88,556.00","149,675,570.13","88,556.00","149,675,570.13"

In [76]:
final_comparacion['diff_count'] = final_comparacion['count_total_pago_dia'] - final_comparacion['count_swap_dia']
final_comparacion['diff_sum'] = final_comparacion['sum_total_pago_dia'] - final_comparacion['sum_swap_dia']

In [77]:
final_comparacion

,date_file,count_total_pago_dia,sum_total_pago_dia,count_swap_dia,sum_swap_dia,diff_count,diff_sum
0,2022-04-30,"102,122.00","205,520,578.22","102,122.00","205,520,578.22",0.00,0.00
1,2022-05-01,"99,873.00","226,021,361.09","99,873.00","226,021,361.09",0.00,0.00
2,2022-05-02,"69,596.00","150,368,457.92","69,596.00","150,368,457.92",0.00,0.00
3,2022-05-03,"86,305.00","153,195,569.73","87,132.00","153,638,798.78",-827.00,"-443,229.05"
4,2022-05-04,"88,556.00","149,675,570.13","88,556.00","149,675,570.13",0.00,0.00
5,2022-05-05,"88,969.00","155,014,443.75","88,969.00","155,014,443.75",0.00,0.00
6,2022-05-06,"94,484.00","171,893,611.41","94,484.00","171,893,611.41",0.00,-0.00
7,2022-05-07,"98,958.00","188,916,951.72","98,958.00","188,916,951.72",0.00,-0.00
8,2022-05-08,"98,419.00","211,044,865.13","98,419.00","211,044,865.13",0.00,-0.00
9,2022-05-09,"70,005.00","144,751,629.66","70,005.00","144,751,629.66",0.00,0.00
10,2022-05-10,"88,868.00","159,493,230.21","88,868.00","159,493,230.21",0.00,-0.00
11,2022-05-11,"82,875.00","177,156,374.38","82,875.00","177,156,374.38",0.00,0.00
12,2022-05-12,"86,182.00","147,198,114.10","86,183.00","147,209,454.87",-1.00,"-11,340.77"
13,2022-05-13,"91,194.00","157,921,197.59","91,194.00","157,921,197.59",0.00,0.00
14,2022-05-14,"100,500.00","197,924,853.91","100,500.00","197,924,853.91",0.00,0.00
15,2022-05-15,"98,557.00","215,803,453.38","98,561.00","215,803,980.41",-4.00,-527.03
16,2022-05-16,"69,365.00","150,519,284.58","69,366.00","150,527,908.74",-1.00,"-8,624.16"
17,2022-05-17,"85,175.00","152,767,686.24","85,175.00","152,767,686.24",0.00,0.00
18,2022-05-18,"86,087.00","149,209,461.28","86,087.00","149,209,461.28",0.00,0.00
19,2022-05-19,"87,868.00","147,643,778.96","87,870.00","147,644,214.95",-2.00,-435.99
20,2022-05-20,"92,784.00","163,825,610.90","92,784.00","163,825,610.90",0.00,0.00
21,2022-05-21,"97,649.00","187,422,278.07","97,649.00","187,422,278.07",0.00,0.00
22,2022-05-22,"95,613.00","202,531,228.94","95,613.00","202,531,228.94",0.00,0.00
23,2022-05-23,"68,228.00","140,774,526.55","68,228.00","140,774,526.55",0.00,0.00
24,2022-05-24,"81,813.00","140,132,873.01","81,814.00","140,132,992.79",-1.00,-119.78
25,2022-05-25,"84,325.00","143,590,720.75","84,328.00","143,591,381.94",-3.00,-661.19
26,2022-05-26,"87,401.00","151,466,280.81","87,401.00","151,466,280.81",0.00,0.00
27,2022-05-27,"92,046.00","163,556,763.63","92,047.00","163,557,041.52",-1.00,-277.89
28,2022-05-28,"98,398.00","194,776,214.48","98,398.00","194,776,214.48",0.00,0.00
29,2022-05-29,"95,808.00","210,968,599.83","95,808.00","210,968,599.83",0.00,0.00
30,2022-05-30,"67,612.00","146,321,019.21","67,612.00","146,321,019.21",0.00,0.00
31,2022-05-31,"82,497.00","146,829,902.02","82,500.00","146,833,095.84",-3.00,"-3,193.82"

In [78]:
writer = pd.ExcelWriter('FASE III. SETTLED VS PAGO DIA MAYO 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_fecha_pago.to_excel(writer, sheet_name='ENVIADOS POSTERIOR')
fecha_pago.to_excel(writer, sheet_name='DETAIL NO ENCONTRADO',index=False)
#pivot_duplicates_trad.to_excel(writer, sheet_name='PAGOS DUPLICADOS')
pivot_duplicates_fp.to_excel(writer, sheet_name='FP PAGOS DUPLICADOS')
group_manual.to_excel(writer, sheet_name='PAGOS MANUALES')
writer.close()