In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
start_date = '2023-06-01'
final_date = '2023-06-30'
query_error_year = 2023
query_error_month = 6

# INFORMACION DE  CUBETA ERROR

In [3]:
query_error = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\06. JUNIO\DATA\ERROR JUNIO 2023.csv',
                          dtype={'report_id':object})
query_error.rename(columns ={'MAX(report_date_local)':'report_date_local'}, inplace=True)
query_error['report_date_local']= pd.to_datetime(query_error['report_date_local'])
query_error['ultimo_mov'] = pd.to_datetime(query_error['ultimo_mov'])
query_error['merchant_id_query'] = query_error['merchant_id']
query_error['ultimo_mov_date_only']= pd.to_datetime(query_error['ultimo_mov']).dt.date
query_error['day'] = query_error['ultimo_mov'].dt.day
query_error['month'] = query_error['ultimo_mov'].dt.month
query_error['year'] = query_error['ultimo_mov'].dt.year
# query_error.loc[((query_error['day'] == 30 )
#                 & (query_error['month'] == 7)
#                 & (query_error['year'] == 2022)), "mes_cierre"] = 'Actual'
# query_error.loc[(query_error['day'] == 31 )
#             & (query_error['month'] == 7 )
#             & (query_error['year'] == 2022), "mes_cierre"] = 'Actual'
query_error.loc[(query_error['month'] == query_error_month )
            & (query_error['year'] == query_error_year), "mes_cierre"] = 'Actual'
query_error.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre
0,0,b088c4b4-29dd-42c8-bd29-1eda61f73973,Mscelanea Dulce Maria,GTS92WH86,2015-11-05,734.34,ERROR,swap devuelto,2017-08-15,8,2017,ERROR,ERROR_USUAL,b088c4b4-29dd-42c8-bd29-1eda61f73973,2017-08-15,15,NaN
1,1,b088c4b4-29dd-42c8-bd29-1eda61f73973,Mscelanea Dulce Maria,8VQRDV39G,2015-11-06,597.26,ERROR,swap devuelto,2017-08-15,8,2017,ERROR,ERROR_USUAL,b088c4b4-29dd-42c8-bd29-1eda61f73973,2017-08-15,15,NaN
2,2,d1087b80-5383-4b90-8738-bf309a1ce297,Grupo Solutec,82G5CYSR7,2015-12-21,"9,160.77",ERROR,failed swap,2017-11-01,11,2017,ERROR,ERROR_USUAL,d1087b80-5383-4b90-8738-bf309a1ce297,2017-11-01,1,NaN
3,3,8f666f7d-5eb8-4367-9c52-5564d6aca0c5,Ediciones Malinalco S de RL de CV,XWRKLC2ZL,2016-02-08,"1,216.98",ERROR,confirmar la cuenta,2017-05-12,5,2017,ERROR,ERROR_USUAL,8f666f7d-5eb8-4367-9c52-5564d6aca0c5,2017-05-12,12,NaN
4,4,8f666f7d-5eb8-4367-9c52-5564d6aca0c5,Ediciones Malinalco S de RL de CV,D9468C7W4,2016-02-16,"1,993.14",ERROR,confirmar la cuenta,2017-05-12,5,2017,ERROR,ERROR_USUAL,8f666f7d-5eb8-4367-9c52-5564d6aca0c5,2017-05-12,12,NaN

In [4]:
query_error.shape

(135952, 17)

In [5]:
query_error.dtypes

Unnamed: 0                       int64
merchant_id                     object
merchant_name                   object
report_id                       object
report_date_local       datetime64[ns]
amount                         float64
status                          object
error_description               object
ultimo_mov              datetime64[ns]
month                            int64
year                             int64
status_cubeta                   object
esquema_query                   object
merchant_id_query               object
ultimo_mov_date_only            object
day                              int64
mes_cierre                      object
dtype: object

In [6]:
query_error['esquema_query'].unique()

array(['ERROR_USUAL', 'SIN_CLABE'], dtype=object)

In [7]:
query_error['status_cubeta'].unique()

array(['ERROR', 'NEW'], dtype=object)

# FILTRAR INFORMACION DE ACUERDO AL MES EN CURSO

In [8]:
query_error_current_month = query_error[(query_error['mes_cierre'] == 'Actual')]
query_error_current_month.sort_values(by=['day'],inplace=True)
query_error_current_month.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18096\3502651561.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  query_error_current_month.sort_values(by=['day'],inplace=True)

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre
126115,126115,401e24c8-5ad5-495f-ad51-9a97cc8b6ca9,NaN,A97XP5YFL,2023-06-01,9.58,ERROR,Bank account information not available,2023-06-01,6,2023,NEW,SIN_CLABE,401e24c8-5ad5-495f-ad51-9a97cc8b6ca9,2023-06-01,1,Actual
126133,126133,98032dad-9c3a-41a4-a34f-3fdc2e751bb8,NaN,AC4MDRT5B,2023-06-01,1.20,ERROR,Bank account information not available,2023-06-01,6,2023,NEW,SIN_CLABE,98032dad-9c3a-41a4-a34f-3fdc2e751bb8,2023-06-01,1,Actual
92973,92973,ff8f3a93-ab04-4e3c-b672-4e210afe844e,Paleteria El paraiso,BTHY782W8,2022-11-30,119.78,ERROR_TV,DEVOLUCION(21): Excede el limite de abonos per...,2023-06-01,6,2023,ERROR,ERROR_USUAL,ff8f3a93-ab04-4e3c-b672-4e210afe844e,2023-06-01,1,Actual
126134,126134,f5f851a2-a748-4f68-8564-2ce878844bb7,NaN,AFSSRNYQS,2023-06-01,28.75,ERROR,DEVOLUCION(02): Cuenta bloqueada 072580...,2023-06-01,6,2023,NEW,ERROR_USUAL,f5f851a2-a748-4f68-8564-2ce878844bb7,2023-06-01,1,Actual
124210,124210,57d2778c-50b6-4f5a-b253-bd1c99a5cac4,NaN,ANYBMZ4Z3,2023-05-27,824.10,ERROR,/99999999/CB Rejected INVALID BENEFICIARY DEBI...,2023-06-01,6,2023,ERROR,ERROR_USUAL,57d2778c-50b6-4f5a-b253-bd1c99a5cac4,2023-06-01,1,Actual

In [9]:
query_error_current_month.shape

(10489, 17)

In [10]:
query_error_current_month['month'].unique()

array([6], dtype=int64)

In [11]:
query_error_current_month.columns

Index(['Unnamed: 0', 'merchant_id', 'merchant_name', 'report_id',
       'report_date_local', 'amount', 'status', 'error_description',
       'ultimo_mov', 'month', 'year', 'status_cubeta', 'esquema_query',
       'merchant_id_query', 'ultimo_mov_date_only', 'day', 'mes_cierre'],
      dtype='object')

In [12]:
duplicates_query_error = query_error_current_month[query_error_current_month.duplicated(['report_id'] , keep=False)]
duplicates_query_error.head()

Empty DataFrame
Columns: [Unnamed: 0, merchant_id, merchant_name, report_id, report_date_local, amount, status, error_description, ultimo_mov, month, year, status_cubeta, esquema_query, merchant_id_query, ultimo_mov_date_only, day, mes_cierre]
Index: []

In [13]:
duplicates_query_error.shape

(0, 17)

# PAGOS NEW DE MESES ANTERIORES

In [14]:
query_new_last_month = query_error[(query_error['mes_cierre'] != 'Actual') & (query_error['status_cubeta'] == 'NEW')]
query_new_last_month.sort_values(by=['day'],inplace=True)
query_new_last_month.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18096\3381233170.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  query_new_last_month.sort_values(by=['day'],inplace=True)

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre
58815,58815,f29e8708-b946-4735-a26b-9b2278e0d90c,Medicolon 25 av,N3XQQ5DG6,2022-04-13,"1,169.05",ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-05-02,5,2023,NEW,ERROR_USUAL,f29e8708-b946-4735-a26b-9b2278e0d90c,2023-05-02,2,NaN
58923,58923,f29e8708-b946-4735-a26b-9b2278e0d90c,Medicolon 25 av,VT3KKCD68,2022-04-14,239.56,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-05-02,5,2023,NEW,ERROR_USUAL,f29e8708-b946-4735-a26b-9b2278e0d90c,2023-05-02,2,NaN
59033,59033,f29e8708-b946-4735-a26b-9b2278e0d90c,Medicolon 25 av,G567Y2B9M,2022-04-14,306.64,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-05-02,5,2023,NEW,ERROR_USUAL,f29e8708-b946-4735-a26b-9b2278e0d90c,2023-05-02,2,NaN
59109,59109,f29e8708-b946-4735-a26b-9b2278e0d90c,Medicolon 25 av,BVMDTH2WN,2022-04-15,114.99,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-05-02,5,2023,NEW,ERROR_USUAL,f29e8708-b946-4735-a26b-9b2278e0d90c,2023-05-02,2,NaN
59182,59182,f29e8708-b946-4735-a26b-9b2278e0d90c,Medicolon 25 av,T7S9ZXT7T,2022-04-16,"1,619.43",ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-05-02,5,2023,NEW,ERROR_USUAL,f29e8708-b946-4735-a26b-9b2278e0d90c,2023-05-02,2,NaN

In [15]:
query_new_last_month.shape

(8, 17)

# INFORMACIÓN QUERIES - PAGOS

In [16]:
name_header = ['merchant_id','merchant_name','user_email','report_id','report_date_local','amount','status','bank_name'
               ,'payment_date_local','bank_account_owner_name','bank_account_number','swap']

### NEXT MONTH

In [17]:
# TRADICIONAL
# trad_files_csv_2021_may = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\06. JUNE\QUERIES\*.csv', recursive=False)
# trad_files_txt_2021_apr = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\04. APRIL\QUERIES\*.txt', recursive=False)
# FAST PAYMENTS
# fp_files_csv_2021_may = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2021\06. JUNE\QUERIES\*.csv', recursive=False)

In [18]:
# disp_files_csv_2021_may = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
#                             .assign(file_name=os.path.basename(f)) for f in trad_files_csv_2021_may])
# disp_files_csv_2021_may['date_query'] = disp_files_csv_2021_may["file_name"].str[-14:-4]
# disp_files_csv_2021_may['date_query']= pd.to_datetime(disp_files_csv_2021_may['date_query'])

In [19]:
# fp_disp_files_csv_2021_may = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
#                             .assign(file_name=os.path.basename(f)) for f in fp_files_csv_2021_may])
# fp_disp_files_csv_2021_may['date_query'] = fp_disp_files_csv_2021_may["file_name"].str[-14:-4]
# fp_disp_files_csv_2021_may['date_query']= pd.to_datetime(fp_disp_files_csv_2021_may['date_query'])

### CURRENT MONTH

In [20]:
# TRADICIONAL
trad_files_csv_2022_current = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\06. JUNE\QUERIES\*.csv', recursive=False)
# trad_files_txt_2021_apr = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\04. APRIL\QUERIES\*.txt', recursive=False)
# FAST PAYMENTS
fp_files_csv_2022_current = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\02. FAST PAYMENTS\2023\06. JUNIO\QUERIES\*.csv', recursive=False)

In [21]:
disp_files_csv_2022_current = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in trad_files_csv_2022_current])
disp_files_csv_2022_current['date_query'] = disp_files_csv_2022_current["file_name"].str[-14:-4]
disp_files_csv_2022_current['date_query']= pd.to_datetime(disp_files_csv_2022_current['date_query'])

In [22]:
fp_disp_files_csv_2022_current = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in fp_files_csv_2022_current])
fp_disp_files_csv_2022_current['date_query'] = fp_disp_files_csv_2022_current["file_name"].str[-14:-4]
fp_disp_files_csv_2022_current['date_query']= pd.to_datetime(fp_disp_files_csv_2022_current['date_query'])

### LAST MONTH

In [23]:
# TRADICIONAL
trad_files_csv_2021_last = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\05. MAY\QUERIES\*.csv', recursive=False)
# trad_files_txt_2021_apr = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\04. APRIL\QUERIES\*.txt', recursive=False)
# FAST PAYMENTS
fp_files_csv_2021_last = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\02. FAST PAYMENTS\2023\05. MAYO\QUERIES\*.csv', recursive=False)

In [24]:
disp_files_csv_2021_last = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in trad_files_csv_2021_last])
disp_files_csv_2021_last['date_query'] = disp_files_csv_2021_last["file_name"].str[-14:-4]
disp_files_csv_2021_last['date_query']= pd.to_datetime(disp_files_csv_2021_last['date_query'])

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18096\1395025386.py:1: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  disp_files_csv_2021_last = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18096\1395025386.py:1: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  disp_files_csv_2021_last = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})

In [25]:
fp_disp_files_csv_2021_last = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in fp_files_csv_2021_last])
fp_disp_files_csv_2021_last['date_query'] = fp_disp_files_csv_2021_last["file_name"].str[-14:-4]
fp_disp_files_csv_2021_last['date_query']= pd.to_datetime(fp_disp_files_csv_2021_last['date_query'])

### SPECIAL MONTH

In [26]:
# TRADICIONAL
trad_files_csv_2021_spec = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\04. APRIL\QUERIES\*.csv', recursive=False)
# trad_files_txt_2021_apr = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\04. APRIL\QUERIES\*.txt', recursive=False)
# FAST PAYMENTS
fp_files_csv_2021_spec = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\02. FAST PAYMENTS\2023\04. ABRIL\QUERIES\*.csv', recursive=False)

In [27]:
disp_files_csv_2021_spec = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in trad_files_csv_2021_spec])
disp_files_csv_2021_spec['date_query'] = disp_files_csv_2021_spec["file_name"].str[-14:-4]
disp_files_csv_2021_spec['date_query']= pd.to_datetime(disp_files_csv_2021_spec['date_query'])

In [28]:
fp_disp_files_csv_2021_spec = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in fp_files_csv_2021_spec])
fp_disp_files_csv_2021_spec['date_query'] = fp_disp_files_csv_2021_spec["file_name"].str[-14:-4]
fp_disp_files_csv_2021_spec['date_query']= pd.to_datetime(fp_disp_files_csv_2021_spec['date_query'])

## ALL FILES

In [29]:
allfiles = pd.concat([disp_files_csv_2022_current,fp_disp_files_csv_2022_current
                     ,disp_files_csv_2021_last,fp_disp_files_csv_2021_last,
                     disp_files_csv_2021_spec,fp_disp_files_csv_2021_spec])
allfiles.reset_index()
allfiles.fillna('BLANK',inplace=True)
allfiles['date_query']= pd.to_datetime(allfiles['date_query'])
allfiles['report_date_local']= pd.to_datetime(allfiles['report_date_local'])
allfiles.loc[(allfiles['file_name'].str.contains('FP'),'tipo_dispersion')] = 'FP'
allfiles.loc[(allfiles['file_name'].str.contains('SWAP'),'tipo_dispersion')] = 'TRAD'
allfiles.loc[(allfiles['file_name'].str.contains('BNTE'),'tipo_dispersion')] = 'TRAD'
allfiles.loc[(allfiles['file_name'].str.contains('SANT'),'tipo_dispersion')] = 'TRAD'
allfiles.sort_values(by=['date_query','report_id'],inplace=True)
allfiles.drop(['status'],axis=1,inplace=True)
allfiles.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,batch_created_date,disbursement_method,swap,file_name,date_query,tipo_dispersion
91319,DAILY,c9c46732-9a6f-4338-9d76-19c6d04ac2f4,c5622307-1925-4382-9e0f-8651e0f48193,Maleny,latruchaortiz@gmail.com,226YD8MSS,2023-04-01,5.00,"BBVA Bancomer, S.A.",2023-04-01 13:39:24,Eugenia Ortiz Peña,'012818015772313083,2023-04-01 10:27:48,BANORTE,"Eugenia Ortiz Peña,,5.00,012818015772313083,CL...",BNTE-1 2023-04-01.csv,2023-04-01,TRAD
31577,DAILY,45ff8696-ee4e-4113-90aa-ef92deef95af,6bf7df5c-f7da-432f-944c-3c42edeccc67,Hojalateria,maurojaco20@gmail.com,22MMRPS8S,2022-03-25,3.00,BanCoppel,2023-04-01 13:21:49,Valeria Revelo Vazquez,'137180104300196578,2023-04-01 10:12:32,BANORTE,"Valeria Revelo Vazquez,,3.00,13718010430019657...",BNTE-1 2023-04-01.csv,2023-04-01,TRAD
72755,DAILY,a0a698f6-a4e7-49db-8f9e-64f42f6d1849,9d9b0c86-0e84-4d7a-af71-1e56ff533898,VCJA shopping,cheliperales17@gmail.com,2352H2SRK,2023-04-01,4.00,BBVA Bancomer,2023-04-01 13:11:16,Araceli Perales Martnez,'012680015639467417,2023-04-01 10:23:26,BANORTE,"Araceli Perales Martnez,,4.00,0126800156394674...",BNTE-1 2023-04-01.csv,2023-04-01,TRAD
31556,DAILY,45ff8696-ee4e-4113-90aa-ef92deef95af,6bf7df5c-f7da-432f-944c-3c42edeccc67,Hojalateria,maurojaco20@gmail.com,246NFY78K,2021-12-18,3.00,BanCoppel,2023-04-01 13:15:00,Valeria Revelo Vazquez,'137180104300196578,2023-04-01 10:12:31,BANORTE,"Valeria Revelo Vazquez,,3.00,13718010430019657...",BNTE-1 2023-04-01.csv,2023-04-01,TRAD
69513,DAILY,99a9a09a-5f74-4ccd-9b33-b08daa72f16a,c289c713-5004-4455-9d06-3d7772b8f561,Los Alcatrces,leandro.lia37@gmail.com,247R7DDV7,2023-04-01,4.00,BBVA Bancomer,2023-04-01 13:31:12,012180015505246592,'012180015505246592,2023-04-01 10:23:04,BANORTE,"012180015505246592,,4.00,012180015505246592,CL...",BNTE-1 2023-04-01.csv,2023-04-01,TRAD

In [30]:
def tipo_pago(allfiles):
    if allfiles['date_query'] == allfiles['report_date_local']:
        return 'Pago del día'
    else:
        return 'Reprogramación'
allfiles['tipo_pago'] = allfiles.apply(tipo_pago, axis=1)

In [31]:
allfiles.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,batch_created_date,disbursement_method,swap,file_name,date_query,tipo_dispersion,tipo_pago
91319,DAILY,c9c46732-9a6f-4338-9d76-19c6d04ac2f4,c5622307-1925-4382-9e0f-8651e0f48193,Maleny,latruchaortiz@gmail.com,226YD8MSS,2023-04-01,5.00,"BBVA Bancomer, S.A.",2023-04-01 13:39:24,Eugenia Ortiz Peña,'012818015772313083,2023-04-01 10:27:48,BANORTE,"Eugenia Ortiz Peña,,5.00,012818015772313083,CL...",BNTE-1 2023-04-01.csv,2023-04-01,TRAD,Pago del día
31577,DAILY,45ff8696-ee4e-4113-90aa-ef92deef95af,6bf7df5c-f7da-432f-944c-3c42edeccc67,Hojalateria,maurojaco20@gmail.com,22MMRPS8S,2022-03-25,3.00,BanCoppel,2023-04-01 13:21:49,Valeria Revelo Vazquez,'137180104300196578,2023-04-01 10:12:32,BANORTE,"Valeria Revelo Vazquez,,3.00,13718010430019657...",BNTE-1 2023-04-01.csv,2023-04-01,TRAD,Reprogramación
72755,DAILY,a0a698f6-a4e7-49db-8f9e-64f42f6d1849,9d9b0c86-0e84-4d7a-af71-1e56ff533898,VCJA shopping,cheliperales17@gmail.com,2352H2SRK,2023-04-01,4.00,BBVA Bancomer,2023-04-01 13:11:16,Araceli Perales Martnez,'012680015639467417,2023-04-01 10:23:26,BANORTE,"Araceli Perales Martnez,,4.00,0126800156394674...",BNTE-1 2023-04-01.csv,2023-04-01,TRAD,Pago del día
31556,DAILY,45ff8696-ee4e-4113-90aa-ef92deef95af,6bf7df5c-f7da-432f-944c-3c42edeccc67,Hojalateria,maurojaco20@gmail.com,246NFY78K,2021-12-18,3.00,BanCoppel,2023-04-01 13:15:00,Valeria Revelo Vazquez,'137180104300196578,2023-04-01 10:12:31,BANORTE,"Valeria Revelo Vazquez,,3.00,13718010430019657...",BNTE-1 2023-04-01.csv,2023-04-01,TRAD,Reprogramación
69513,DAILY,99a9a09a-5f74-4ccd-9b33-b08daa72f16a,c289c713-5004-4455-9d06-3d7772b8f561,Los Alcatrces,leandro.lia37@gmail.com,247R7DDV7,2023-04-01,4.00,BBVA Bancomer,2023-04-01 13:31:12,012180015505246592,'012180015505246592,2023-04-01 10:23:04,BANORTE,"012180015505246592,,4.00,012180015505246592,CL...",BNTE-1 2023-04-01.csv,2023-04-01,TRAD,Pago del día

In [32]:
allfiles.shape

(9175497, 19)

# CRUCE 1 - MES ACTUAL

In [33]:
cruce_1 = allfiles.merge(query_error_current_month[['report_id','amount','ultimo_mov','ultimo_mov_date_only','month','status'
                                                   ,'error_description','esquema_query','status_cubeta']],on='report_id',how='left')
cruce_1['month'].fillna('Not found',inplace=True)
cruce_1.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount_x,bank_name,payment_date_local,...,tipo_dispersion,tipo_pago,amount_y,ultimo_mov,ultimo_mov_date_only,month,status,error_description,esquema_query,status_cubeta
0,DAILY,c9c46732-9a6f-4338-9d76-19c6d04ac2f4,c5622307-1925-4382-9e0f-8651e0f48193,Maleny,latruchaortiz@gmail.com,226YD8MSS,2023-04-01,5.00,"BBVA Bancomer, S.A.",2023-04-01 13:39:24,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
1,DAILY,45ff8696-ee4e-4113-90aa-ef92deef95af,6bf7df5c-f7da-432f-944c-3c42edeccc67,Hojalateria,maurojaco20@gmail.com,22MMRPS8S,2022-03-25,3.00,BanCoppel,2023-04-01 13:21:49,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
2,DAILY,a0a698f6-a4e7-49db-8f9e-64f42f6d1849,9d9b0c86-0e84-4d7a-af71-1e56ff533898,VCJA shopping,cheliperales17@gmail.com,2352H2SRK,2023-04-01,4.00,BBVA Bancomer,2023-04-01 13:11:16,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
3,DAILY,45ff8696-ee4e-4113-90aa-ef92deef95af,6bf7df5c-f7da-432f-944c-3c42edeccc67,Hojalateria,maurojaco20@gmail.com,246NFY78K,2021-12-18,3.00,BanCoppel,2023-04-01 13:15:00,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
4,DAILY,99a9a09a-5f74-4ccd-9b33-b08daa72f16a,c289c713-5004-4455-9d06-3d7772b8f561,Los Alcatrces,leandro.lia37@gmail.com,247R7DDV7,2023-04-01,4.00,BBVA Bancomer,2023-04-01 13:31:12,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN

In [34]:
cruce_1.shape

(9175497, 27)

In [35]:
duplicates_cruce_1_previo = cruce_1[cruce_1.duplicated(['report_id'] , keep=False)]
duplicates_cruce_1_previo.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount_x,bank_name,payment_date_local,...,tipo_dispersion,tipo_pago,amount_y,ultimo_mov,ultimo_mov_date_only,month,status,error_description,esquema_query,status_cubeta
131,DAILY,ee34319f-7f9c-4ba7-a2c9-fd226953f486,3a85b5d4-8f1c-4dfd-8e4d-c404d2742438,Marquesitas,n22j14.je@gmail.com,4CMNCLLQK,2023-03-13,268.30,Banco Actinver,2023-04-02 08:01:49,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
168,DAILY,ee34319f-7f9c-4ba7-a2c9-fd226953f486,3a85b5d4-8f1c-4dfd-8e4d-c404d2742438,Marquesitas,n22j14.je@gmail.com,4ZH7RLVWH,2023-03-21,114.99,Banco Actinver,2023-04-02 08:01:51,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
322,DAILY,14d90d83-92aa-4512-851f-faab72d09d34,08276f4c-c35d-45da-881f-e861a8e9cbff,NORTE 36,joselupevalencia@gmail.com,7JTHT2VH2,2023-03-20,"1,247.63","BBVA Bancomer, S.A.",2023-04-02 08:01:47,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
341,DAILY,80f5abbd-95b1-4b91-96d3-1bfe1e95d83e,73ef3e5e-30e9-415d-b5bf-5ec61bd1fabd,All Enjoy,ca.delaraf@gmail.com,7W5DQRQTC,2023-04-01,1.20,GBM Grupo Bursátil Mexicano,2023-04-02 13:53:20,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
456,DAILY,ee34319f-7f9c-4ba7-a2c9-fd226953f486,3a85b5d4-8f1c-4dfd-8e4d-c404d2742438,Marquesitas,n22j14.je@gmail.com,9LMYKDM5Y,2023-03-20,517.45,Banco Actinver,2023-04-02 08:01:50,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN

In [36]:
duplicates_cruce_1_previo.shape

(78846, 27)

In [37]:
cruce_1_final = cruce_1[(cruce_1['month'] != 'Not found')]
cruce_1_final.drop_duplicates(subset='report_id',keep='last', inplace=True) 
cruce_1_final.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18096\1938979547.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cruce_1_final.drop_duplicates(subset='report_id',keep='last', inplace=True)

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount_x,bank_name,payment_date_local,...,tipo_dispersion,tipo_pago,amount_y,ultimo_mov,ultimo_mov_date_only,month,status,error_description,esquema_query,status_cubeta
273378,BLANK,0f597b97-f5ad-4f28-9ded-ad443697e60c,BLANK,BLANK,BLANK,AHF8MM9M2,2023-04-03,6.00,"Opciones Empresariales del Noreste, S.A. de C....",2023-04-03 21:54:14,...,FP,Pago del día,6.00,2023-06-01,2023-06-01,6.00,ERROR_TV,sin_descripcion,ERROR_USUAL,ERROR
555918,BLANK,67286864-c872-439f-9c81-6b320dc8bd5c,BLANK,BLANK,BLANK,ABWRT827N,2023-04-06,47.91,BANAMEX,2023-04-07 07:58:48,...,TRAD,Pago del día,47.91,2023-06-29,2023-06-29,6.00,ERROR_TV,sin_descripcion,ERROR_USUAL,ERROR
629123,DAILY,a05ac0a6-dd85-4fac-b483-3751cf03da3b,44b96b2c-f1e1-4103-9e49-ab9348504a89,Novedades Alex,fernandoguzmangarza@icloud.com,33C2BMB3K,2023-04-07,0.80,"Opciones Empresariales del Noreste, S.A. de C....",2023-04-08 07:41:20,...,TRAD,Pago del día,0.80,2023-06-02,2023-06-02,6.00,ERROR_TV,sin_descripcion,ERROR_USUAL,ERROR
762780,BLANK,67286864-c872-439f-9c81-6b320dc8bd5c,BLANK,BLANK,BLANK,AN7NX954B,2023-04-08,47.91,BANAMEX,2023-04-09 07:22:14,...,TRAD,Pago del día,47.91,2023-06-29,2023-06-29,6.00,ERROR_TV,sin_descripcion,ERROR_USUAL,ERROR
1388571,BLANK,5c6c5183-f4f2-4f1c-8a69-e3d2578e2c35,BLANK,BLANK,BLANK,AFYVXK64B,2023-04-15,57.49,"Banco Azteca, S.A.",2023-04-16 08:06:10,...,TRAD,Pago del día,57.49,2023-06-24,2023-06-24,6.00,ERROR_TV,DEV.SPEICUENTA INEXISTENTE,ERROR_USUAL,ERROR

In [38]:
cruce_1_final.shape

(4874, 27)

In [39]:
duplicates_cruce_1_final = cruce_1_final[cruce_1_final.duplicated(['report_id'] , keep=False)]
duplicates_cruce_1_final.head()

Empty DataFrame
Columns: [type, merchant_id, merchant_token, merchant_name, user_email, report_id, report_date_local, amount_x, bank_name, payment_date_local, bank_account_owner_name, bank_account_number, batch_created_date, disbursement_method, swap, file_name, date_query, tipo_dispersion, tipo_pago, amount_y, ultimo_mov, ultimo_mov_date_only, month, status, error_description, esquema_query, status_cubeta]
Index: []

[0 rows x 27 columns]

In [40]:
duplicates_cruce_1_final.shape

(0, 27)

# CRUCE 2 MES ACTUAL

In [41]:
cruce_2 = query_error_current_month.merge(allfiles[['report_id','tipo_dispersion','tipo_pago']],on='report_id',how='left')
cruce_2['tipo_dispersion'].fillna('Not found',inplace=True)
cruce_2.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre,tipo_dispersion,tipo_pago
0,126115,401e24c8-5ad5-495f-ad51-9a97cc8b6ca9,NaN,A97XP5YFL,2023-06-01,9.58,ERROR,Bank account information not available,2023-06-01,6,2023,NEW,SIN_CLABE,401e24c8-5ad5-495f-ad51-9a97cc8b6ca9,2023-06-01,1,Actual,Not found,NaN
1,126133,98032dad-9c3a-41a4-a34f-3fdc2e751bb8,NaN,AC4MDRT5B,2023-06-01,1.20,ERROR,Bank account information not available,2023-06-01,6,2023,NEW,SIN_CLABE,98032dad-9c3a-41a4-a34f-3fdc2e751bb8,2023-06-01,1,Actual,Not found,NaN
2,92973,ff8f3a93-ab04-4e3c-b672-4e210afe844e,Paleteria El paraiso,BTHY782W8,2022-11-30,119.78,ERROR_TV,DEVOLUCION(21): Excede el limite de abonos per...,2023-06-01,6,2023,ERROR,ERROR_USUAL,ff8f3a93-ab04-4e3c-b672-4e210afe844e,2023-06-01,1,Actual,Not found,NaN
3,126134,f5f851a2-a748-4f68-8564-2ce878844bb7,NaN,AFSSRNYQS,2023-06-01,28.75,ERROR,DEVOLUCION(02): Cuenta bloqueada 072580...,2023-06-01,6,2023,NEW,ERROR_USUAL,f5f851a2-a748-4f68-8564-2ce878844bb7,2023-06-01,1,Actual,TRAD,Pago del día
4,124210,57d2778c-50b6-4f5a-b253-bd1c99a5cac4,NaN,ANYBMZ4Z3,2023-05-27,824.10,ERROR,/99999999/CB Rejected INVALID BENEFICIARY DEBI...,2023-06-01,6,2023,ERROR,ERROR_USUAL,57d2778c-50b6-4f5a-b253-bd1c99a5cac4,2023-06-01,1,Actual,TRAD,Pago del día

In [42]:
cruce_2.shape

(11876, 19)

In [43]:
cruce_2_final = cruce_2[(cruce_2['tipo_dispersion'] != 'Not found')]
#cruce_2_final.drop_duplicates(subset='report_id',keep='last', inplace=True) 
cruce_2_final.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre,tipo_dispersion,tipo_pago
3,126134,f5f851a2-a748-4f68-8564-2ce878844bb7,NaN,AFSSRNYQS,2023-06-01,28.75,ERROR,DEVOLUCION(02): Cuenta bloqueada 072580...,2023-06-01,6,2023,NEW,ERROR_USUAL,f5f851a2-a748-4f68-8564-2ce878844bb7,2023-06-01,1,Actual,TRAD,Pago del día
4,124210,57d2778c-50b6-4f5a-b253-bd1c99a5cac4,NaN,ANYBMZ4Z3,2023-05-27,824.10,ERROR,/99999999/CB Rejected INVALID BENEFICIARY DEBI...,2023-06-01,6,2023,ERROR,ERROR_USUAL,57d2778c-50b6-4f5a-b253-bd1c99a5cac4,2023-06-01,1,Actual,TRAD,Pago del día
5,124210,57d2778c-50b6-4f5a-b253-bd1c99a5cac4,NaN,ANYBMZ4Z3,2023-05-27,824.10,ERROR,/99999999/CB Rejected INVALID BENEFICIARY DEBI...,2023-06-01,6,2023,ERROR,ERROR_USUAL,57d2778c-50b6-4f5a-b253-bd1c99a5cac4,2023-06-01,1,Actual,FP,Reprogramación
12,126140,41063014-95d6-49dc-b014-af1bab91a2bd,NaN,AFM9C7RJK,2023-06-01,277.89,ERROR,DEVOLUCION(06): Cuenta no pertenece al Partici...,2023-06-01,6,2023,NEW,ERROR_USUAL,41063014-95d6-49dc-b014-af1bab91a2bd,2023-06-01,1,Actual,TRAD,Pago del día
13,123853,57d2778c-50b6-4f5a-b253-bd1c99a5cac4,NaN,AMVG3GF8H,2023-05-26,"1,133.59",ERROR,/99999999/CB Rejected INVALID BENEFICIARY DEBI...,2023-06-01,6,2023,ERROR,ERROR_USUAL,57d2778c-50b6-4f5a-b253-bd1c99a5cac4,2023-06-01,1,Actual,TRAD,Pago del día

In [44]:
cruce_2_final.shape

(6261, 19)

In [45]:
duplicates_cruce_2_final = cruce_2_final[cruce_2_final.duplicated(['report_id'] , keep=False)]
duplicates_cruce_2_final.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre,tipo_dispersion,tipo_pago
4,124210,57d2778c-50b6-4f5a-b253-bd1c99a5cac4,NaN,ANYBMZ4Z3,2023-05-27,824.10,ERROR,/99999999/CB Rejected INVALID BENEFICIARY DEBI...,2023-06-01,6,2023,ERROR,ERROR_USUAL,57d2778c-50b6-4f5a-b253-bd1c99a5cac4,2023-06-01,1,Actual,TRAD,Pago del día
5,124210,57d2778c-50b6-4f5a-b253-bd1c99a5cac4,NaN,ANYBMZ4Z3,2023-05-27,824.10,ERROR,/99999999/CB Rejected INVALID BENEFICIARY DEBI...,2023-06-01,6,2023,ERROR,ERROR_USUAL,57d2778c-50b6-4f5a-b253-bd1c99a5cac4,2023-06-01,1,Actual,FP,Reprogramación
13,123853,57d2778c-50b6-4f5a-b253-bd1c99a5cac4,NaN,AMVG3GF8H,2023-05-26,"1,133.59",ERROR,/99999999/CB Rejected INVALID BENEFICIARY DEBI...,2023-06-01,6,2023,ERROR,ERROR_USUAL,57d2778c-50b6-4f5a-b253-bd1c99a5cac4,2023-06-01,1,Actual,TRAD,Pago del día
14,123853,57d2778c-50b6-4f5a-b253-bd1c99a5cac4,NaN,AMVG3GF8H,2023-05-26,"1,133.59",ERROR,/99999999/CB Rejected INVALID BENEFICIARY DEBI...,2023-06-01,6,2023,ERROR,ERROR_USUAL,57d2778c-50b6-4f5a-b253-bd1c99a5cac4,2023-06-01,1,Actual,FP,Pago del día
15,123853,57d2778c-50b6-4f5a-b253-bd1c99a5cac4,NaN,AMVG3GF8H,2023-05-26,"1,133.59",ERROR,/99999999/CB Rejected INVALID BENEFICIARY DEBI...,2023-06-01,6,2023,ERROR,ERROR_USUAL,57d2778c-50b6-4f5a-b253-bd1c99a5cac4,2023-06-01,1,Actual,FP,Reprogramación

In [46]:
duplicates_cruce_2_final.shape

(2592, 19)

# AGRUPADO POR TIPO DE PAGO - MES ACTUAL

In [47]:
group_tipo_pago = pd.pivot_table(cruce_1_final,index=['ultimo_mov_date_only']
                                              ,columns=['esquema_query','status_cubeta','tipo_dispersion',
                                                        'tipo_pago'],values=['amount_x']
                                              ,aggfunc=np.sum,margins=True).reset_index()
group_tipo_pago.fillna(0,inplace=True)
group_tipo_pago.head()

                ultimo_mov_date_only     amount_x                              \
esquema_query                         ERROR_USUAL
status_cubeta                               ERROR
tipo_dispersion                                FP                        TRAD
tipo_pago                            Pago del día Reprogramación Pago del día
0                         2023-06-01         6.00      34,286.81         0.00
1                         2023-06-02         0.00          94.87         0.80
2                         2023-06-03         0.00           0.00         0.00
3                         2023-06-04         0.00           0.00         0.00
4                         2023-06-05         0.00           0.00         0.00

                                                                         \
esquema_query
status_cubeta                           NEW
tipo_dispersion                          FP                        TRAD
tipo_pago       Reprogramación Pago del día Reprogramación Pago del día
0                     1,181.62    15,564.08           2.00    86,664.46
1                         6.00    17,980.90           0.00   309,537.50
2                       168.00     3,658.03           0.00    10,921.54
3                     4,968.43     5,525.31           0.00    90,469.63
4                         0.00     6,728.46           0.00   143,187.90


esquema_query                         All
status_cubeta
tipo_dispersion
tipo_pago       Reprogramación
0                     3,790.33 141,495.30
1                       298.01 327,918.08
2                     5,642.96  20,390.53
3                         0.00 100,963.37
4                         0.00 149,916.36

In [48]:
group_tipo_pago.shape

(31, 10)

In [49]:
group_esquema = pd.pivot_table(cruce_1_final,index=['ultimo_mov_date_only']
                                              ,columns=['esquema_query','status_cubeta','tipo_pago'],values=['amount_x']
                                              ,aggfunc=np.sum,margins=True).reset_index()
group_esquema.fillna(0,inplace=True)
group_esquema.head()

              ultimo_mov_date_only     amount_x                              \
esquema_query                       ERROR_USUAL
status_cubeta                             ERROR                         NEW
tipo_pago                          Pago del día Reprogramación Pago del día
0                       2023-06-01         6.00      35,468.43   102,228.54
1                       2023-06-02         0.80         100.87   327,518.40
2                       2023-06-03         0.00         168.00    14,579.57
3                       2023-06-04         0.00       4,968.43    95,994.94
4                       2023-06-05         0.00           0.00   149,916.36


esquema_query                       All
status_cubeta
tipo_pago     Reprogramación
0                   3,792.33 141,495.30
1                     298.01 327,918.08
2                   5,642.96  20,390.53
3                       0.00 100,963.37
4                       0.00 149,916.36

In [50]:
group_esquema.shape

(31, 6)

# CRUCE 3 - MES ANTERIOR

In [51]:
cruce_3 = allfiles.merge(query_new_last_month[['report_id','amount','ultimo_mov','ultimo_mov_date_only','month','status',
                                               'error_description','esquema_query','status_cubeta']],
                         on='report_id',how='left')
cruce_3['month'].fillna('Not found',inplace=True)
cruce_3.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount_x,bank_name,payment_date_local,...,tipo_dispersion,tipo_pago,amount_y,ultimo_mov,ultimo_mov_date_only,month,status,error_description,esquema_query,status_cubeta
0,DAILY,c9c46732-9a6f-4338-9d76-19c6d04ac2f4,c5622307-1925-4382-9e0f-8651e0f48193,Maleny,latruchaortiz@gmail.com,226YD8MSS,2023-04-01,5.00,"BBVA Bancomer, S.A.",2023-04-01 13:39:24,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
1,DAILY,45ff8696-ee4e-4113-90aa-ef92deef95af,6bf7df5c-f7da-432f-944c-3c42edeccc67,Hojalateria,maurojaco20@gmail.com,22MMRPS8S,2022-03-25,3.00,BanCoppel,2023-04-01 13:21:49,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
2,DAILY,a0a698f6-a4e7-49db-8f9e-64f42f6d1849,9d9b0c86-0e84-4d7a-af71-1e56ff533898,VCJA shopping,cheliperales17@gmail.com,2352H2SRK,2023-04-01,4.00,BBVA Bancomer,2023-04-01 13:11:16,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
3,DAILY,45ff8696-ee4e-4113-90aa-ef92deef95af,6bf7df5c-f7da-432f-944c-3c42edeccc67,Hojalateria,maurojaco20@gmail.com,246NFY78K,2021-12-18,3.00,BanCoppel,2023-04-01 13:15:00,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
4,DAILY,99a9a09a-5f74-4ccd-9b33-b08daa72f16a,c289c713-5004-4455-9d06-3d7772b8f561,Los Alcatrces,leandro.lia37@gmail.com,247R7DDV7,2023-04-01,4.00,BBVA Bancomer,2023-04-01 13:31:12,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN

In [52]:
cruce_3.shape

(9175497, 27)

In [53]:
cruce_3_final = cruce_3[(cruce_3['month'] != 'Not found')]
cruce_3_final.drop_duplicates(subset='report_id',keep='last', inplace=True) 
cruce_3_final.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18096\2713612933.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cruce_3_final.drop_duplicates(subset='report_id',keep='last', inplace=True)

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount_x,bank_name,payment_date_local,...,tipo_dispersion,tipo_pago,amount_y,ultimo_mov,ultimo_mov_date_only,month,status,error_description,esquema_query,status_cubeta
3172829,INSTANT,f29e8708-b946-4735-a26b-9b2278e0d90c,3cbaabb0-e4d7-4e7f-8b4a-b3b2ccf40af4,Medicolon 25 av,medicolon25av@gmail.com,BVBS7VSNL,2022-04-16,584.53,"Opciones Empresariales del Noreste, S.A. de C....",2023-05-02 19:04:10,...,FP,Reprogramación,584.53,2023-05-02,2023-05-02,5.00,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,ERROR_USUAL,NEW
3172830,INSTANT,f29e8708-b946-4735-a26b-9b2278e0d90c,3cbaabb0-e4d7-4e7f-8b4a-b3b2ccf40af4,Medicolon 25 av,medicolon25av@gmail.com,BVMDTH2WN,2022-04-15,114.99,"Opciones Empresariales del Noreste, S.A. de C....",2023-05-02 19:04:10,...,FP,Reprogramación,114.99,2023-05-02,2023-05-02,5.00,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,ERROR_USUAL,NEW
3172958,INSTANT,f29e8708-b946-4735-a26b-9b2278e0d90c,3cbaabb0-e4d7-4e7f-8b4a-b3b2ccf40af4,Medicolon 25 av,medicolon25av@gmail.com,G567Y2B9M,2022-04-14,306.64,"Opciones Empresariales del Noreste, S.A. de C....",2023-05-02 19:04:10,...,FP,Reprogramación,306.64,2023-05-02,2023-05-02,5.00,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,ERROR_USUAL,NEW
3173070,INSTANT,f29e8708-b946-4735-a26b-9b2278e0d90c,3cbaabb0-e4d7-4e7f-8b4a-b3b2ccf40af4,Medicolon 25 av,medicolon25av@gmail.com,K47VCZWD6,2022-04-16,958.24,"Opciones Empresariales del Noreste, S.A. de C....",2023-05-02 19:04:10,...,FP,Reprogramación,958.24,2023-05-02,2023-05-02,5.00,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,ERROR_USUAL,NEW
3173205,INSTANT,f29e8708-b946-4735-a26b-9b2278e0d90c,3cbaabb0-e4d7-4e7f-8b4a-b3b2ccf40af4,Medicolon 25 av,medicolon25av@gmail.com,N3XQQ5DG6,2022-04-13,"1,169.05","Opciones Empresariales del Noreste, S.A. de C....",2023-05-02 19:04:10,...,FP,Reprogramación,"1,169.05",2023-05-02,2023-05-02,5.00,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,ERROR_USUAL,NEW

In [54]:
cruce_3_final.shape

(8, 27)

In [55]:
duplicates_cruce_3_final = cruce_3_final[cruce_3_final.duplicated(['report_id'] , keep=False)]
duplicates_cruce_3_final.head()

Empty DataFrame
Columns: [type, merchant_id, merchant_token, merchant_name, user_email, report_id, report_date_local, amount_x, bank_name, payment_date_local, bank_account_owner_name, bank_account_number, batch_created_date, disbursement_method, swap, file_name, date_query, tipo_dispersion, tipo_pago, amount_y, ultimo_mov, ultimo_mov_date_only, month, status, error_description, esquema_query, status_cubeta]
Index: []

[0 rows x 27 columns]

In [56]:
duplicates_cruce_3_final.shape

(0, 27)

# CRUCE 4 - MES ANTERIOR

In [57]:
cruce_4 = query_new_last_month.merge(allfiles[['report_id','tipo_dispersion','tipo_pago']],on='report_id',how='left')
cruce_4['tipo_dispersion'].fillna('Not found',inplace=True)
cruce_4.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre,tipo_dispersion,tipo_pago
0,58815,f29e8708-b946-4735-a26b-9b2278e0d90c,Medicolon 25 av,N3XQQ5DG6,2022-04-13,"1,169.05",ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-05-02,5,2023,NEW,ERROR_USUAL,f29e8708-b946-4735-a26b-9b2278e0d90c,2023-05-02,2,NaN,FP,Reprogramación
1,58923,f29e8708-b946-4735-a26b-9b2278e0d90c,Medicolon 25 av,VT3KKCD68,2022-04-14,239.56,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-05-02,5,2023,NEW,ERROR_USUAL,f29e8708-b946-4735-a26b-9b2278e0d90c,2023-05-02,2,NaN,FP,Reprogramación
2,59033,f29e8708-b946-4735-a26b-9b2278e0d90c,Medicolon 25 av,G567Y2B9M,2022-04-14,306.64,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-05-02,5,2023,NEW,ERROR_USUAL,f29e8708-b946-4735-a26b-9b2278e0d90c,2023-05-02,2,NaN,FP,Reprogramación
3,59109,f29e8708-b946-4735-a26b-9b2278e0d90c,Medicolon 25 av,BVMDTH2WN,2022-04-15,114.99,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-05-02,5,2023,NEW,ERROR_USUAL,f29e8708-b946-4735-a26b-9b2278e0d90c,2023-05-02,2,NaN,FP,Reprogramación
4,59182,f29e8708-b946-4735-a26b-9b2278e0d90c,Medicolon 25 av,T7S9ZXT7T,2022-04-16,"1,619.43",ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-05-02,5,2023,NEW,ERROR_USUAL,f29e8708-b946-4735-a26b-9b2278e0d90c,2023-05-02,2,NaN,FP,Reprogramación

In [58]:
cruce_4.shape

(8, 19)

In [59]:
cruce_4_final = cruce_4[(cruce_4['tipo_dispersion'] != 'Not found')]
#cruce_2_final.drop_duplicates(subset='report_id',keep='last', inplace=True) 
cruce_4_final.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre,tipo_dispersion,tipo_pago
0,58815,f29e8708-b946-4735-a26b-9b2278e0d90c,Medicolon 25 av,N3XQQ5DG6,2022-04-13,"1,169.05",ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-05-02,5,2023,NEW,ERROR_USUAL,f29e8708-b946-4735-a26b-9b2278e0d90c,2023-05-02,2,NaN,FP,Reprogramación
1,58923,f29e8708-b946-4735-a26b-9b2278e0d90c,Medicolon 25 av,VT3KKCD68,2022-04-14,239.56,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-05-02,5,2023,NEW,ERROR_USUAL,f29e8708-b946-4735-a26b-9b2278e0d90c,2023-05-02,2,NaN,FP,Reprogramación
2,59033,f29e8708-b946-4735-a26b-9b2278e0d90c,Medicolon 25 av,G567Y2B9M,2022-04-14,306.64,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-05-02,5,2023,NEW,ERROR_USUAL,f29e8708-b946-4735-a26b-9b2278e0d90c,2023-05-02,2,NaN,FP,Reprogramación
3,59109,f29e8708-b946-4735-a26b-9b2278e0d90c,Medicolon 25 av,BVMDTH2WN,2022-04-15,114.99,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-05-02,5,2023,NEW,ERROR_USUAL,f29e8708-b946-4735-a26b-9b2278e0d90c,2023-05-02,2,NaN,FP,Reprogramación
4,59182,f29e8708-b946-4735-a26b-9b2278e0d90c,Medicolon 25 av,T7S9ZXT7T,2022-04-16,"1,619.43",ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-05-02,5,2023,NEW,ERROR_USUAL,f29e8708-b946-4735-a26b-9b2278e0d90c,2023-05-02,2,NaN,FP,Reprogramación

In [60]:
cruce_4_final.shape

(8, 19)

In [61]:
duplicates_cruce_4_final = cruce_4_final[cruce_4_final.duplicated(['report_id'] , keep=False)]
duplicates_cruce_4_final.head()

Empty DataFrame
Columns: [Unnamed: 0, merchant_id, merchant_name, report_id, report_date_local, amount, status, error_description, ultimo_mov, month, year, status_cubeta, esquema_query, merchant_id_query, ultimo_mov_date_only, day, mes_cierre, tipo_dispersion, tipo_pago]
Index: []

In [62]:
duplicates_cruce_4_final.shape

(0, 19)

# AGRUPADO POR TIPO DE PAGO - MES ANTERIOR

In [63]:
group_tipo_pago_last_month = pd.pivot_table(cruce_3_final,index=['ultimo_mov_date_only']
                                              ,columns=['esquema_query','status_cubeta','tipo_dispersion',
                                                        'tipo_pago'],values=['amount_x']
                                              ,aggfunc=np.sum,margins=True).reset_index()
group_tipo_pago_last_month.fillna(0,inplace=True)
group_tipo_pago_last_month.head()

                ultimo_mov_date_only       amount_x
esquema_query                           ERROR_USUAL      All
status_cubeta                                   NEW
tipo_dispersion                                  FP
tipo_pago                            Reprogramación
0                         2023-05-02       5,313.45 5,313.45
1                                All       5,313.45 5,313.45

In [64]:
group_tipo_pago_last_month.shape

(2, 3)

In [65]:
group_esquema_last_month = pd.pivot_table(cruce_4_final,index=['ultimo_mov_date_only']
                                              ,columns=['esquema_query','status_cubeta','tipo_pago'],values=['amount']
                                              ,aggfunc=np.sum,margins=True).reset_index()
group_esquema_last_month.fillna(0,inplace=True)
group_esquema_last_month.head()

              ultimo_mov_date_only         amount
esquema_query                         ERROR_USUAL      All
status_cubeta                                 NEW
tipo_pago                          Reprogramación
0                       2023-05-02       5,313.45 5,313.45
1                              All       5,313.45 5,313.45

In [66]:
group_esquema_last_month.shape

(2, 3)

In [67]:
writer = pd.ExcelWriter('FASE V. DATA POLIZA ERROR-USUAL JUNIO 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
group_tipo_pago.to_excel(writer, sheet_name='GRUPO TIPO PAGO')
group_esquema.to_excel(writer, sheet_name='GRUPO ESQUEMA')
group_tipo_pago_last_month.to_excel(writer, sheet_name='GRUPO TIPO PAGO-MESES ANT')
group_esquema_last_month.to_excel(writer, sheet_name='GRUPO ESQUEMA-MESES ANT')
cruce_1_final.to_excel(writer, sheet_name='DETALLE',index=False)
cruce_3_final.to_excel(writer, sheet_name='DETALLE-MESES ANTERIORES',index=False)
writer.close()