In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
import datetime
pd.options.display.float_format = '{:,.2f}'.format
datetime.timedelta(days=1)
datetime.timedelta(1)

datetime.timedelta(days=1)

# SETTLEMENT

In [2]:
start_date = '2022-01-28'
final_date = '2022-01-31'

In [3]:
allfiles_settled = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\01. ENERO\QUERIES\*.csv', recursive=False)
allfiles_settled

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-29.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-30.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\01. ENERO\\QUERIES\\SETTLEMENT 2022-01-31.csv']

In [4]:
settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
settled['Date_file'] = settled["file_name"].str[-14:-4]
settled['Date_file']= pd.to_datetime(settled['Date_file'])
settled['report_date_local']= pd.to_datetime(settled['report_date_local'])

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3254: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [5]:
settled.reset_index(inplace=True)
settled.drop(['index'],axis=1,inplace=True)
settled.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,Date_file
0,fd233fcb-7d52-4c3b-8ac6-62824b298336,Sala de Belleza Roman,romanortegazamilpa@hotmail.com,9S86DZXDZ,2022-01-01,280.00,10.08,1.61,0.00,0.00,...,0.00,NaN,268.31,DAILY,2022-01-01,02:00:23,2022-01-01,02:00:23,SETTLEMENT 2022-01-01.csv,2022-01-01
1,567b732f-6165-4cbd-b402-4ef5d7b00aed,Tlapaleria Raquel,taviralugor@gmail.com,G8NG4QX8F,2022-01-01,"2,400.00",86.40,13.82,0.00,0.00,...,0.00,NaN,"2,299.78",DAILY,2022-01-01,02:00:23,2022-01-01,02:00:23,SETTLEMENT 2022-01-01.csv,2022-01-01
2,19059736-b12e-47d7-8363-c2640d0f334c,MonZter GYM,monztergym@gmail.com,JBMY4F9P7,2022-01-01,860.00,30.96,4.96,0.00,0.00,...,0.00,NaN,824.08,DAILY,2022-01-01,02:00:23,2022-01-01,02:00:23,SETTLEMENT 2022-01-01.csv,2022-01-01
3,a85619da-fb1f-47d9-a5b7-33256a0511fb,Restaurante Los Nietos,guillermo_220596@hotmail.com,MSFD3J83Z,2022-01-01,341.88,12.31,1.97,0.00,0.00,...,0.00,NaN,327.60,DAILY,2022-01-01,02:00:23,2022-01-01,02:00:23,SETTLEMENT 2022-01-01.csv,2022-01-01
4,9dc0902a-390e-4952-b101-9c762afe2b4d,novedades selecto,elviraleyva296@gmail.com,NDKT5TYMT,2022-01-01,420.00,15.12,2.42,0.00,0.00,...,0.00,NaN,402.46,DAILY,2022-01-01,02:00:23,2022-01-01,02:00:23,SETTLEMENT 2022-01-01.csv,2022-01-01

In [6]:
settled.shape

(2300702, 27)

### CURRENT MONTH

In [7]:
settled_current_month = settled[(settled['report_date_local'] >= start_date) & (settled['report_date_local'] <= final_date)]
settled_current_month.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,Date_file
1976114,8d18a8ba-2d98-4332-8387-2a5d17cf3636,Farmacia D,farmaciad76@gmail.com,VCC5MJZ3J,2022-01-28,177.00,6.37,1.02,0.00,0.00,...,0.00,NaN,169.61,DAILY,2022-01-28,02:00:21,2022-01-28,02:00:21,SETTLEMENT 2022-01-28.csv,2022-01-28
1976115,833f972a-60ec-4d27-a698-b78b42099952,Aliensgames,sanchezhernandezenriqueta9@gmail.com,4FSFBGKHR,2022-01-28,707.88,25.48,4.07,0.00,0.00,...,0.00,NaN,678.33,DAILY,2022-01-28,02:00:22,2022-01-28,02:00:22,SETTLEMENT 2022-01-28.csv,2022-01-28
1976116,823b418a-f07d-4602-ac25-c87846b727f7,Grata Impresión,grataimpresion@gmail.com,BBBSSMQMW,2022-01-28,30.00,1.08,0.17,0.00,0.00,...,0.00,NaN,28.75,DAILY,2022-01-28,02:00:22,2022-01-28,02:00:22,SETTLEMENT 2022-01-28.csv,2022-01-28
1976117,ed2bac48-8b8c-4327-b51d-ac76f3fdb33b,Farmacia Belén,rigobertomora051@gmail.com,BSNLG4LRN,2022-01-28,501.00,18.03,2.88,0.00,0.00,...,0.00,NaN,480.09,DAILY,2022-01-28,02:00:22,2022-01-28,02:00:22,SETTLEMENT 2022-01-28.csv,2022-01-28
1976118,2a9287c9-d2c5-424a-9cc1-49080607aea7,Arthromedic,maybelreyes.7@gmail.com,HY5K8LHNR,2022-01-28,800.00,28.80,4.61,0.00,0.00,...,0.00,NaN,766.59,DAILY,2022-01-28,02:00:22,2022-01-28,02:00:22,SETTLEMENT 2022-01-28.csv,2022-01-28

In [8]:
settled_current_month.shape

(324588, 27)

In [9]:
settled_current_month.dtypes

merchant_id                              object
merchant_name                            object
user_email                               object
report_id                                object
report_date_local                datetime64[ns]
total_transactions                      float64
total_fees_charged                      float64
total_taxes                             float64
applied_fees_benefits                   float64
applied_taxes_benefits                  float64
fee_direct_deposit                      float64
taxes_direct_deposit                    float64
total_adjustments                       float64
total_adjustment_fees_charged           float64
total_adjustment_taxes                  float64
cobranza                                float64
total_released                          float64
total_retained                          float64
tipopago                                 object
total_due                               float64
type                                     object
created_date                             object
created_time                             object
updated_date                             object
updated_time                             object
file_name                                object
Date_file                        datetime64[ns]
dtype: object

In [10]:
# def next_date(settled_current_month):
#     if settled_current_month['updated_time'] >= '20:00:00':
#         return settled_current_month['report_date_local'] + datetime.timedelta(days=1)
#     else:
#         return settled_current_month['report_date_local']
    
# settled_current_month['poliza_date'] = settled_current_month.apply(next_date, axis=1)

In [11]:
# settled_current_month.head()

In [12]:
# settled_current_month.shape

In [13]:
# settled_current_month['poliza_date'].unique()

### CANCELACIONES

In [14]:
settled_current_month.loc[(settled_current_month['total_released'] > 0)
                          & (settled_current_month['total_adjustments'] < 0),'canc_1'] = settled_current_month['total_adjustments']
settled_current_month['canc_1'].fillna(0,inplace=True)

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [15]:
settled_current_month.loc[(settled_current_month['total_released'] > 0)
                          & (settled_current_month['total_adjustments'] < 0),'canc_2'] = settled_current_month['total_released']
settled_current_month['canc_2'].fillna(0,inplace=True)

In [16]:
settled_current_month['cancelaciones'] = (-settled_current_month['canc_1']) - (settled_current_month['canc_2'])
settled_current_month.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,type,created_date,created_time,updated_date,updated_time,file_name,Date_file,canc_1,canc_2,cancelaciones
1976114,8d18a8ba-2d98-4332-8387-2a5d17cf3636,Farmacia D,farmaciad76@gmail.com,VCC5MJZ3J,2022-01-28,177.00,6.37,1.02,0.00,0.00,...,DAILY,2022-01-28,02:00:21,2022-01-28,02:00:21,SETTLEMENT 2022-01-28.csv,2022-01-28,0.00,0.00,-0.00
1976115,833f972a-60ec-4d27-a698-b78b42099952,Aliensgames,sanchezhernandezenriqueta9@gmail.com,4FSFBGKHR,2022-01-28,707.88,25.48,4.07,0.00,0.00,...,DAILY,2022-01-28,02:00:22,2022-01-28,02:00:22,SETTLEMENT 2022-01-28.csv,2022-01-28,0.00,0.00,-0.00
1976116,823b418a-f07d-4602-ac25-c87846b727f7,Grata Impresión,grataimpresion@gmail.com,BBBSSMQMW,2022-01-28,30.00,1.08,0.17,0.00,0.00,...,DAILY,2022-01-28,02:00:22,2022-01-28,02:00:22,SETTLEMENT 2022-01-28.csv,2022-01-28,0.00,0.00,-0.00
1976117,ed2bac48-8b8c-4327-b51d-ac76f3fdb33b,Farmacia Belén,rigobertomora051@gmail.com,BSNLG4LRN,2022-01-28,501.00,18.03,2.88,0.00,0.00,...,DAILY,2022-01-28,02:00:22,2022-01-28,02:00:22,SETTLEMENT 2022-01-28.csv,2022-01-28,0.00,0.00,-0.00
1976118,2a9287c9-d2c5-424a-9cc1-49080607aea7,Arthromedic,maybelreyes.7@gmail.com,HY5K8LHNR,2022-01-28,800.00,28.80,4.61,0.00,0.00,...,DAILY,2022-01-28,02:00:22,2022-01-28,02:00:22,SETTLEMENT 2022-01-28.csv,2022-01-28,0.00,0.00,-0.00

In [17]:
settled_current_month.shape

(324588, 30)

### TOTAL DUE CALCULADO

In [18]:
settled_current_month['total_due_calculado'] = (settled_current_month['total_transactions']
                                                - settled_current_month['total_fees_charged']
                                                - settled_current_month['total_taxes']
                                                + settled_current_month['applied_fees_benefits']
                                                + settled_current_month['applied_taxes_benefits']
                                                + settled_current_month['fee_direct_deposit']
                                                + settled_current_month['taxes_direct_deposit']
                                                - (-settled_current_month['total_adjustments'])
                                                + (-settled_current_month['total_adjustment_fees_charged'])
                                                + (-settled_current_month['total_adjustment_taxes'])
                                                - settled_current_month['cobranza']
                                                + settled_current_month['total_released']
                                                - settled_current_month['total_retained'])
settled_current_month['diferencias'] = settled_current_month['total_due_calculado'] - settled_current_month['total_due']
settled_current_month.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,created_time,updated_date,updated_time,file_name,Date_file,canc_1,canc_2,cancelaciones,total_due_calculado,diferencias
1976114,8d18a8ba-2d98-4332-8387-2a5d17cf3636,Farmacia D,farmaciad76@gmail.com,VCC5MJZ3J,2022-01-28,177.00,6.37,1.02,0.00,0.00,...,02:00:21,2022-01-28,02:00:21,SETTLEMENT 2022-01-28.csv,2022-01-28,0.00,0.00,-0.00,169.61,-0.00
1976115,833f972a-60ec-4d27-a698-b78b42099952,Aliensgames,sanchezhernandezenriqueta9@gmail.com,4FSFBGKHR,2022-01-28,707.88,25.48,4.07,0.00,0.00,...,02:00:22,2022-01-28,02:00:22,SETTLEMENT 2022-01-28.csv,2022-01-28,0.00,0.00,-0.00,678.33,-0.00
1976116,823b418a-f07d-4602-ac25-c87846b727f7,Grata Impresión,grataimpresion@gmail.com,BBBSSMQMW,2022-01-28,30.00,1.08,0.17,0.00,0.00,...,02:00:22,2022-01-28,02:00:22,SETTLEMENT 2022-01-28.csv,2022-01-28,0.00,0.00,-0.00,28.75,0.00
1976117,ed2bac48-8b8c-4327-b51d-ac76f3fdb33b,Farmacia Belén,rigobertomora051@gmail.com,BSNLG4LRN,2022-01-28,501.00,18.03,2.88,0.00,0.00,...,02:00:22,2022-01-28,02:00:22,SETTLEMENT 2022-01-28.csv,2022-01-28,0.00,0.00,-0.00,480.09,0.00
1976118,2a9287c9-d2c5-424a-9cc1-49080607aea7,Arthromedic,maybelreyes.7@gmail.com,HY5K8LHNR,2022-01-28,800.00,28.80,4.61,0.00,0.00,...,02:00:22,2022-01-28,02:00:22,SETTLEMENT 2022-01-28.csv,2022-01-28,0.00,0.00,-0.00,766.59,0.00

In [19]:
settled_current_month.shape

(324588, 32)

### CONCILIACION TPV

In [20]:
conc_1 = settled_current_month.groupby(['report_date_local']).agg({'total_transactions':sum,'total_fees_charged':sum
                                                                    ,'total_taxes':sum,'applied_fees_benefits':sum
                                                                    ,'applied_taxes_benefits':sum,'fee_direct_deposit':sum
                                                                    ,'taxes_direct_deposit':sum,'total_adjustments':sum
                                                                    ,'total_adjustment_fees_charged':sum
                                                                    ,'total_adjustment_taxes':sum 
                                                                    ,'cobranza':sum,'total_released':sum
                                                                    ,'total_retained':sum,'cancelaciones':sum
                                                                    ,'total_due_calculado':sum,'total_due':sum
                                                                    ,'diferencias':sum}).reset_index()
conc_1['total_adjustments'] = conc_1['total_adjustments']*-1 
conc_1['total_adjustment_fees_charged'] = conc_1['total_adjustment_fees_charged']*-1
conc_1['total_adjustment_taxes'] = conc_1['total_adjustment_taxes']*-1 
conc_1.head()

,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-01-28,"153,821,935.57","6,248,358.83","999,746.69","1,417.20",226.77,"20,487.15","3,281.45","682,513.67",180.00,28.80,"2,976.28","1,153,086.51","905,825.31",208.80,"146,161,222.67","146,161,222.67",0.00
1,2022-01-29,"179,775,374.97","7,191,786.58","1,150,698.53","1,799.19",287.95,"21,835.62","3,497.78","857,949.15",-0.00,-0.00,"248,193.96","500,924.43","488,277.26",0.00,"170,366,814.46","170,366,814.46",-0.00
2,2022-01-30,"201,928,657.14","8,042,919.16","1,286,876.74","1,539.16",246.43,"20,925.30","3,351.50","1,000,446.79",-0.00,-0.00,"30,646.96","199,755.69","316,945.65",0.00,"191,476,639.92","191,476,639.92",0.00
3,2022-01-31,"136,431,052.27","5,268,590.86","842,983.40","1,081.13",172.98,"17,474.31","2,798.69","683,022.08",-0.00,-0.00,"1,293.62","247,876.55","190,430.44",0.00,"129,714,135.53","129,714,135.53",-0.00

In [21]:
conc_1.shape

(4, 18)

In [22]:
conc_3 = settled_current_month.groupby(['report_date_local','type']).agg({'total_transactions':sum,'total_fees_charged':sum
                                                                    ,'total_taxes':sum,'applied_fees_benefits':sum
                                                                    ,'applied_taxes_benefits':sum,'fee_direct_deposit':sum
                                                                    ,'taxes_direct_deposit':sum,'total_adjustments':sum     
                                                                    ,'total_adjustment_fees_charged':sum
                                                                    ,'total_adjustment_taxes':sum 
                                                                    ,'cobranza':sum,'total_released':sum
                                                                    ,'total_retained':sum,'cancelaciones':sum
                                                                    ,'total_due_calculado':sum,'total_due':sum
                                                                    ,'diferencias':sum}).reset_index()
conc_3['total_adjustments'] = conc_3['total_adjustments']*-1 
conc_3['total_adjustment_fees_charged'] = conc_3['total_adjustment_fees_charged']*-1
conc_3['total_adjustment_taxes'] = conc_3['total_adjustment_taxes']*-1 
conc_3.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-01-28,DAILY,"150,331,414.74","6,104,778.88","976,773.61","1,417.20",226.77,"20,487.15","3,281.45","619,714.28",180.00,28.80,"2,976.28","971,516.47","905,825.31",208.80,"142,718,484.22","142,718,484.22",0.00
1,2022-01-28,INSTANT,"3,490,520.83","143,579.95","22,973.08",0.00,0.00,0.00,0.00,"62,799.39",-0.00,-0.00,0.00,"181,570.04",0.00,0.00,"3,442,738.45","3,442,738.45",0.00
2,2022-01-29,DAILY,"175,808,239.60","7,023,481.00","1,123,769.01","1,799.19",287.95,"21,835.62","3,497.78","778,163.89",-0.00,-0.00,"248,193.96","451,862.55","488,277.26",0.00,"166,625,637.57","166,625,637.57",-0.00
3,2022-01-29,INSTANT,"3,967,135.37","168,305.58","26,929.52",0.00,0.00,0.00,0.00,"79,785.26",-0.00,-0.00,0.00,"49,061.88",0.00,0.00,"3,741,176.89","3,741,176.89",-0.00
4,2022-01-30,DAILY,"199,125,982.33","7,933,791.02","1,269,416.06","1,539.16",246.43,"20,925.30","3,351.50","933,414.33",-0.00,-0.00,"30,646.96","171,765.50","315,172.91",0.00,"188,841,368.94","188,841,368.94",0.00

In [23]:
conc_3.shape

(8, 19)

In [24]:
conc_3['type'].unique()

array(['DAILY', 'INSTANT'], dtype=object)

In [25]:
data_daily = conc_3[(conc_3['type'] == 'DAILY')]
data_daily.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-01-28,DAILY,"150,331,414.74","6,104,778.88","976,773.61","1,417.20",226.77,"20,487.15","3,281.45","619,714.28",180.00,28.80,"2,976.28","971,516.47","905,825.31",208.80,"142,718,484.22","142,718,484.22",0.00
2,2022-01-29,DAILY,"175,808,239.60","7,023,481.00","1,123,769.01","1,799.19",287.95,"21,835.62","3,497.78","778,163.89",-0.00,-0.00,"248,193.96","451,862.55","488,277.26",0.00,"166,625,637.57","166,625,637.57",-0.00
4,2022-01-30,DAILY,"199,125,982.33","7,933,791.02","1,269,416.06","1,539.16",246.43,"20,925.30","3,351.50","933,414.33",-0.00,-0.00,"30,646.96","171,765.50","315,172.91",0.00,"188,841,368.94","188,841,368.94",0.00
6,2022-01-31,DAILY,"133,368,415.34","5,127,221.59","820,363.87","1,081.13",172.98,"17,474.31","2,798.69","630,474.24",-0.00,-0.00,"1,293.62","220,807.22","190,430.44",0.00,"126,840,965.91","126,840,965.91",-0.00

In [26]:
data_daily.shape

(4, 19)

In [27]:
data_instant = conc_3[(conc_3['type'] == 'INSTANT')]
data_instant.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
1,2022-01-28,INSTANT,"3,490,520.83","143,579.95","22,973.08",0.00,0.00,0.00,0.00,"62,799.39",-0.00,-0.00,0.00,"181,570.04",0.00,0.00,"3,442,738.45","3,442,738.45",0.00
3,2022-01-29,INSTANT,"3,967,135.37","168,305.58","26,929.52",0.00,0.00,0.00,0.00,"79,785.26",-0.00,-0.00,0.00,"49,061.88",0.00,0.00,"3,741,176.89","3,741,176.89",-0.00
5,2022-01-30,INSTANT,"2,802,674.81","109,128.14","17,460.68",0.00,0.00,0.00,0.00,"67,032.46",-0.00,-0.00,0.00,"27,990.19","1,772.74",0.00,"2,635,270.98","2,635,270.98",-0.00
7,2022-01-31,INSTANT,"3,062,636.93","141,369.27","22,619.53",0.00,0.00,0.00,0.00,"52,547.84",-0.00,-0.00,0.00,"27,069.33",0.00,0.00,"2,873,169.62","2,873,169.62",-0.00

In [28]:
data_instant.shape

(4, 19)

### RELEASED SIN CLABE

In [29]:
released_sinclabe = settled_current_month[(settled_current_month['tipopago'] == 'sin CLABE')]
released_sinclabe.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date_file, canc_1, canc_2, cancelaciones, total_due_calculado, diferencias]
Index: []

[0 rows x 32 columns]

In [30]:
released_sinclabe.shape

(0, 32)

In [31]:
released_1 = released_sinclabe.groupby(['report_date_local']).agg({'total_released':sum}).reset_index()
released_1.head()

Empty DataFrame
Columns: [report_date_local, total_released]
Index: []

In [32]:
released_1.shape

(0, 2)

In [33]:
released_3 = released_sinclabe.groupby(['report_date_local','type']).agg({'total_released':sum}).reset_index()
released_3.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [34]:
released_3.shape

(0, 3)

In [35]:
released_3['type'].unique()

array([], dtype=float64)

In [36]:
released_daily = released_3[(released_3['type'] == 'DAILY')]
released_daily.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [37]:
released_daily.shape

(0, 3)

In [38]:
released_instant = released_3[(released_3['type'] == 'INSTANT')]
released_instant.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [39]:
released_instant.shape

(0, 3)

# EXCEL FINAL

In [40]:
writer = pd.ExcelWriter('FASE I. DATA POLIZA ENERO 28-31 2022.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})
conc_1.to_excel(writer, sheet_name='MONTOS REPORT_DATE',index=False)
data_daily.to_excel(writer, sheet_name='MONTOS_DAILY',index=False)
data_instant.to_excel(writer, sheet_name='MONTOS_INSTANT',index=False)
released_1.to_excel(writer, sheet_name='RELEASED REPORT_DATE',index=False)
released_daily.to_excel(writer, sheet_name='RELEASED_DAILY',index=False)
released_instant.to_excel(writer, sheet_name='RELEASED_INSTANT',index=False)
writer.save()
writer.close()