In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
start_date = '2023-08-01'
final_date = '2023-08-31'
query_error_year = 2023
query_error_month = 8

# INFORMACION DE  CUBETA ERROR

In [3]:
query_error = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\08. AGOSTO\DATA\ERROR AGOSTO 2023.csv',
                          dtype={'report_id':object})
query_error.rename(columns ={'MAX(report_date_local)':'report_date_local'}, inplace=True)
query_error['report_date_local']= pd.to_datetime(query_error['report_date_local'])
query_error['ultimo_mov'] = pd.to_datetime(query_error['ultimo_mov'])
query_error['merchant_id_query'] = query_error['merchant_id']
query_error['ultimo_mov_date_only']= pd.to_datetime(query_error['ultimo_mov']).dt.date
query_error['day'] = query_error['ultimo_mov'].dt.day
query_error['month'] = query_error['ultimo_mov'].dt.month
query_error['year'] = query_error['ultimo_mov'].dt.year
# query_error.loc[((query_error['day'] == 30 )
#                 & (query_error['month'] == 7)
#                 & (query_error['year'] == 2022)), "mes_cierre"] = 'Actual'
# query_error.loc[(query_error['day'] == 31 )
#             & (query_error['month'] == 7 )
#             & (query_error['year'] == 2022), "mes_cierre"] = 'Actual'
query_error.loc[(query_error['month'] == query_error_month )
            & (query_error['year'] == query_error_year), "mes_cierre"] = 'Actual'
query_error.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13180\960431041.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  query_error = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\08. AGOSTO\DATA\ERROR AGOSTO 2023.csv',

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre
0,0,b088c4b4-29dd-42c8-bd29-1eda61f73973,Mscelanea Dulce Maria,GTS92WH86,2015-11-05,734.34,ERROR,swap devuelto,2017-08-15,8,2017,ERROR,ERROR_USUAL,b088c4b4-29dd-42c8-bd29-1eda61f73973,2017-08-15,15,NaN
1,1,b088c4b4-29dd-42c8-bd29-1eda61f73973,Mscelanea Dulce Maria,8VQRDV39G,2015-11-06,597.26,ERROR,swap devuelto,2017-08-15,8,2017,ERROR,ERROR_USUAL,b088c4b4-29dd-42c8-bd29-1eda61f73973,2017-08-15,15,NaN
2,2,d1087b80-5383-4b90-8738-bf309a1ce297,Grupo Solutec,82G5CYSR7,2015-12-21,"9,160.77",ERROR,failed swap,2017-11-01,11,2017,ERROR,ERROR_USUAL,d1087b80-5383-4b90-8738-bf309a1ce297,2017-11-01,1,NaN
3,3,8f666f7d-5eb8-4367-9c52-5564d6aca0c5,Ediciones Malinalco S de RL de CV,XWRKLC2ZL,2016-02-08,"1,216.98",ERROR,confirmar la cuenta,2017-05-12,5,2017,ERROR,ERROR_USUAL,8f666f7d-5eb8-4367-9c52-5564d6aca0c5,2017-05-12,12,NaN
4,4,8f666f7d-5eb8-4367-9c52-5564d6aca0c5,Ediciones Malinalco S de RL de CV,D9468C7W4,2016-02-16,"1,993.14",ERROR,confirmar la cuenta,2017-05-12,5,2017,ERROR,ERROR_USUAL,8f666f7d-5eb8-4367-9c52-5564d6aca0c5,2017-05-12,12,NaN

In [4]:
query_error.shape

(144663, 17)

In [5]:
query_error.dtypes

Unnamed: 0                       int64
merchant_id                     object
merchant_name                   object
report_id                       object
report_date_local       datetime64[ns]
amount                         float64
status                          object
error_description               object
ultimo_mov              datetime64[ns]
month                            int64
year                             int64
status_cubeta                   object
esquema_query                   object
merchant_id_query               object
ultimo_mov_date_only            object
day                              int64
mes_cierre                      object
dtype: object

In [6]:
query_error['esquema_query'].unique()

array(['ERROR_USUAL', 'SIN_CLABE'], dtype=object)

In [7]:
query_error['status_cubeta'].unique()

array(['ERROR', 'NEW'], dtype=object)

# FILTRAR INFORMACION DE ACUERDO AL MES EN CURSO

In [8]:
query_error_current_month = query_error[(query_error['mes_cierre'] == 'Actual')]
query_error_current_month.sort_values(by=['day'],inplace=True)
query_error_current_month.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13180\3502651561.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  query_error_current_month.sort_values(by=['day'],inplace=True)

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre
7435,7435,762656fe-f025-4045-83e8-cfb2490d8955,Ma de Gracia Roque Díaz de León,D5D9VDW99,2020-02-10,9.58,ERROR,DEVOLUCION(03): Cuenta cancelada 030222...,2023-08-01,8,2023,NEW,ERROR_USUAL,762656fe-f025-4045-83e8-cfb2490d8955,2023-08-01,1,Actual
133016,133016,b799fede-5550-49c8-b8db-68c0b863ce11,NaN,A7FBGC9KT,2023-08-01,156.42,ERROR,/21/CB Return Account type is not applicable (...,2023-08-01,8,2023,NEW,ERROR_USUAL,b799fede-5550-49c8-b8db-68c0b863ce11,2023-08-01,1,Actual
133015,133015,0cebfd0b-c31f-4628-8dc4-4fbc35e80d0d,NaN,AQ9N9J9J7,2023-08-01,51.95,ERROR,/21/CB Return Account type is not applicable (...,2023-08-01,8,2023,NEW,ERROR_USUAL,0cebfd0b-c31f-4628-8dc4-4fbc35e80d0d,2023-08-01,1,Actual
133014,133014,2831bb2a-d361-45d6-b89b-7a454c55120b,NaN,AZRMZ4596,2023-08-01,498.29,ERROR,/21/CB Return Account type is not applicable (...,2023-08-01,8,2023,NEW,ERROR_USUAL,2831bb2a-d361-45d6-b89b-7a454c55120b,2023-08-01,1,Actual
133013,133013,694ec0fc-899b-4220-a020-2e48f01f870b,NaN,AY3JX5V36,2023-08-01,295.13,ERROR,/21/CB Return Account type is not applicable (...,2023-08-01,8,2023,NEW,ERROR_USUAL,694ec0fc-899b-4220-a020-2e48f01f870b,2023-08-01,1,Actual

In [9]:
query_error_current_month.shape

(13312, 17)

In [10]:
query_error_current_month['month'].unique()

array([8], dtype=int64)

In [11]:
query_error_current_month.columns

Index(['Unnamed: 0', 'merchant_id', 'merchant_name', 'report_id',
       'report_date_local', 'amount', 'status', 'error_description',
       'ultimo_mov', 'month', 'year', 'status_cubeta', 'esquema_query',
       'merchant_id_query', 'ultimo_mov_date_only', 'day', 'mes_cierre'],
      dtype='object')

In [12]:
duplicates_query_error = query_error_current_month[query_error_current_month.duplicated(['report_id'] , keep=False)]
duplicates_query_error.head()

Empty DataFrame
Columns: [Unnamed: 0, merchant_id, merchant_name, report_id, report_date_local, amount, status, error_description, ultimo_mov, month, year, status_cubeta, esquema_query, merchant_id_query, ultimo_mov_date_only, day, mes_cierre]
Index: []

In [13]:
duplicates_query_error.shape

(0, 17)

# PAGOS NEW DE MESES ANTERIORES

In [14]:
query_new_last_month = query_error[(query_error['mes_cierre'] != 'Actual') & (query_error['status_cubeta'] == 'NEW')]
query_new_last_month.sort_values(by=['day'],inplace=True)
query_new_last_month.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13180\3381233170.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  query_new_last_month.sort_values(by=['day'],inplace=True)

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre
97448,97448,e7562a97-9474-4114-adc6-9d87811042cc,Restauraciones Y Mantenimientos,4C7CQMRFP,2023-01-19,0.95,ERROR_TV,sin_descripcion,2023-07-01,7,2023,NEW,ERROR_USUAL,e7562a97-9474-4114-adc6-9d87811042cc,2023-07-01,1,NaN
104690,104690,9ef544ce-2ef1-4226-96dc-48ae55ab6915,House of Bars,7NLH2XDSN,2023-03-16,67.07,ERROR_TV,sin_descripcion,2023-07-01,7,2023,NEW,ERROR_USUAL,9ef544ce-2ef1-4226-96dc-48ae55ab6915,2023-07-01,1,NaN
104859,104859,9ef544ce-2ef1-4226-96dc-48ae55ab6915,House of Bars,YLLSBRTQ8,2023-03-17,43.12,ERROR_TV,sin_descripcion,2023-07-01,7,2023,NEW,ERROR_USUAL,9ef544ce-2ef1-4226-96dc-48ae55ab6915,2023-07-01,1,NaN
64129,64129,de16e655-aea3-4c53-9d10-799f3bede6f2,Pastelería FlanCake,K7YKC4VFK,2022-05-29,335.38,ERROR_TV,/21/CB Return Exceeds the limit of credits all...,2023-07-02,7,2023,NEW,ERROR_USUAL,de16e655-aea3-4c53-9d10-799f3bede6f2,2023-07-02,2,NaN
99457,99457,e65bf3af-a6b2-4596-bfcd-30a5641bc842,Chelis,29DKMM5MH,2023-02-04,"2,098.54",ERROR_TV,sin_descripcion,2023-07-02,7,2023,NEW,ERROR_USUAL,e65bf3af-a6b2-4596-bfcd-30a5641bc842,2023-07-02,2,NaN

In [15]:
query_new_last_month.shape

(10, 17)

# INFORMACIÓN QUERIES - PAGOS

In [16]:
name_header = ['merchant_id','merchant_name','user_email','report_id','report_date_local','amount','status','bank_name'
               ,'payment_date_local','bank_account_owner_name','bank_account_number','swap']

### NEXT MONTH

In [17]:
# TRADICIONAL
# trad_files_csv_2021_may = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\06. JUNE\QUERIES\*.csv', recursive=False)
# trad_files_txt_2021_apr = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\04. APRIL\QUERIES\*.txt', recursive=False)
# FAST PAYMENTS
# fp_files_csv_2021_may = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2021\06. JUNE\QUERIES\*.csv', recursive=False)

In [18]:
# disp_files_csv_2021_may = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
#                             .assign(file_name=os.path.basename(f)) for f in trad_files_csv_2021_may])
# disp_files_csv_2021_may['date_query'] = disp_files_csv_2021_may["file_name"].str[-14:-4]
# disp_files_csv_2021_may['date_query']= pd.to_datetime(disp_files_csv_2021_may['date_query'])

In [19]:
# fp_disp_files_csv_2021_may = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
#                             .assign(file_name=os.path.basename(f)) for f in fp_files_csv_2021_may])
# fp_disp_files_csv_2021_may['date_query'] = fp_disp_files_csv_2021_may["file_name"].str[-14:-4]
# fp_disp_files_csv_2021_may['date_query']= pd.to_datetime(fp_disp_files_csv_2021_may['date_query'])

### CURRENT MONTH

In [20]:
# TRADICIONAL
trad_files_csv_2022_current = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\08. AUGUST\QUERIES\*.csv', recursive=False)
# trad_files_txt_2021_apr = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\04. APRIL\QUERIES\*.txt', recursive=False)
# FAST PAYMENTS
fp_files_csv_2022_current = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\02. FAST PAYMENTS\2023\08. AGOSTO\QUERIES\*.csv', recursive=False)

In [21]:
disp_files_csv_2022_current = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in trad_files_csv_2022_current])
disp_files_csv_2022_current['date_query'] = disp_files_csv_2022_current["file_name"].str[-14:-4]
disp_files_csv_2022_current['date_query']= pd.to_datetime(disp_files_csv_2022_current['date_query'])

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13180\1256843064.py:1: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  disp_files_csv_2022_current = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13180\1256843064.py:1: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  disp_files_csv_2022_current = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13180\1256843064.py:1: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  disp_files_csv_2022_current = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13180\1256843064.py:1: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  disp_files_csv_2022_current = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})

In [22]:
fp_disp_files_csv_2022_current = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in fp_files_csv_2022_current])
fp_disp_files_csv_2022_current['date_query'] = fp_disp_files_csv_2022_current["file_name"].str[-14:-4]
fp_disp_files_csv_2022_current['date_query']= pd.to_datetime(fp_disp_files_csv_2022_current['date_query'])

### LAST MONTH

In [23]:
# TRADICIONAL
trad_files_csv_2021_last = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\07. JULY\QUERIES\*.csv', recursive=False)
# trad_files_txt_2021_apr = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\04. APRIL\QUERIES\*.txt', recursive=False)
# FAST PAYMENTS
fp_files_csv_2021_last = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\02. FAST PAYMENTS\2023\07. JULIO\QUERIES\*.csv', recursive=False)

In [24]:
disp_files_csv_2021_last = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in trad_files_csv_2021_last])
disp_files_csv_2021_last['date_query'] = disp_files_csv_2021_last["file_name"].str[-14:-4]
disp_files_csv_2021_last['date_query']= pd.to_datetime(disp_files_csv_2021_last['date_query'])

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13180\1395025386.py:1: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  disp_files_csv_2021_last = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13180\1395025386.py:1: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  disp_files_csv_2021_last = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})

In [25]:
fp_disp_files_csv_2021_last = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in fp_files_csv_2021_last])
fp_disp_files_csv_2021_last['date_query'] = fp_disp_files_csv_2021_last["file_name"].str[-14:-4]
fp_disp_files_csv_2021_last['date_query']= pd.to_datetime(fp_disp_files_csv_2021_last['date_query'])

### SPECIAL MONTH

In [26]:
# TRADICIONAL
trad_files_csv_2021_spec = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\06. JUNE\QUERIES\*.csv', recursive=False)
# trad_files_txt_2021_apr = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\04. APRIL\QUERIES\*.txt', recursive=False)
# FAST PAYMENTS
fp_files_csv_2021_spec = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\02. FAST PAYMENTS\2023\06. JUNIO\QUERIES\*.csv', recursive=False)

In [27]:
disp_files_csv_2021_spec = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in trad_files_csv_2021_spec])
disp_files_csv_2021_spec['date_query'] = disp_files_csv_2021_spec["file_name"].str[-14:-4]
disp_files_csv_2021_spec['date_query']= pd.to_datetime(disp_files_csv_2021_spec['date_query'])

In [28]:
fp_disp_files_csv_2021_spec = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in fp_files_csv_2021_spec])
fp_disp_files_csv_2021_spec['date_query'] = fp_disp_files_csv_2021_spec["file_name"].str[-14:-4]
fp_disp_files_csv_2021_spec['date_query']= pd.to_datetime(fp_disp_files_csv_2021_spec['date_query'])

## ALL FILES

In [29]:
allfiles = pd.concat([disp_files_csv_2022_current,fp_disp_files_csv_2022_current
                     ,disp_files_csv_2021_last,fp_disp_files_csv_2021_last,
                     disp_files_csv_2021_spec,fp_disp_files_csv_2021_spec])
allfiles.reset_index()
allfiles.fillna('BLANK',inplace=True)
allfiles['date_query']= pd.to_datetime(allfiles['date_query'])
allfiles['report_date_local']= pd.to_datetime(allfiles['report_date_local'])
allfiles.loc[(allfiles['file_name'].str.contains('FP'),'tipo_dispersion')] = 'FP'
allfiles.loc[(allfiles['file_name'].str.contains('SWAP'),'tipo_dispersion')] = 'TRAD'
allfiles.loc[(allfiles['file_name'].str.contains('BNTE'),'tipo_dispersion')] = 'TRAD'
allfiles.loc[(allfiles['file_name'].str.contains('SANT'),'tipo_dispersion')] = 'TRAD'
allfiles.sort_values(by=['date_query','report_id'],inplace=True)
allfiles.drop(['status'],axis=1,inplace=True)
allfiles.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,batch_created_date,disbursement_method,swap,file_name,date_query,tipo_dispersion
75172,DAILY,caa298f0-8230-4d04-9d93-eb1662c1d1e7,252fd412-237e-4136-a07f-ace29b08a15d,CUPCO,bmerlin.wavegroup@gmail.com,28Y7QHPZ9,2022-09-26,323.34,"Banco Santander, S.A.",2023-06-01 12:04:58,ARTIFICIA IMPULSORA DE TALENTO SA DE CV,'014180655061717622,2023-06-01 10:24:20,SANTANDER,"ARTIFICIA IMPULSORA DE TALENTO SA DE CV,,323.3...",SANT-1 2023-06-01.csv,2023-06-01,TRAD
7176,DAILY,1349981f-be34-4008-a7df-887738e51885,33595190-5586-4a0b-8aac-86da062dfb67,Alivia Natural,brisa.alivia@gmail.com,2HL924DPL,2020-08-31,552.91,"BBVA Bancomer, S.A.",2023-06-01 12:01:53,Lissbeth Karina Duron Morales,'012060015031564321,2023-06-01 10:06:36,SANTANDER,"Lissbeth Karina Duron Morales,,552.91,01206001...",SANT-1 2023-06-01.csv,2023-06-01,TRAD
66362,DAILY,b2ee93bd-3c69-4b0f-b476-cb38aef3662c,8a0cb424-5e96-4e52-9f98-20db78d73a8c,Miscelnea La Torre,fergarciagalvan@gmail.com,2QNSK6XRC,2023-02-15,49.11,"Banco Azteca, S.A.",2023-06-01 12:01:45,Fernando Garca Galvn,'127680013306894608,2023-06-01 10:23:22,SANTANDER,"Fernando Garca Galvn,,49.11,127680013306894608...",SANT-1 2023-06-01.csv,2023-06-01,TRAD
385,INSTANT,59e16a85-5f3d-4ed2-8d05-0981e253a79c,31d9331b-ab22-47cf-be7a-d24caf471e70,Alan Beef,albinoerasmo2@gmail.com,2T3TTN3W6,2022-08-26,581.64,"Opciones Empresariales del Noreste, S.A. de C....",2023-06-01 15:22:30,Erasmo Albino Alcantara,'659802020000408024,2023-06-01 15:00:27,BANORTE,"Erasmo Albino Alcantara,,581.64,65980202000040...",BNTE-3 2023-06-01.csv,2023-06-01,TRAD
42358,DAILY,7258e199-ac34-4136-a17a-6b00fcdef022,2b0950e8-b2f2-4cfd-828c-a6dcb9a74863,Nilova,jamoreno.700@gmail.com,2VKRXSVN3,2023-02-28,397.67,"BBVA Bancomer, S.A.",2023-06-01 12:00:26,Martha Fidelina Jimenez Arevalo,'012650015207613843,2023-06-01 10:17:19,SANTANDER,"Martha Fidelina Jimenez Arevalo,,397.67,012650...",SANT-1 2023-06-01.csv,2023-06-01,TRAD

In [30]:
def tipo_pago(allfiles):
    if allfiles['date_query'] == allfiles['report_date_local']:
        return 'Pago del día'
    else:
        return 'Reprogramación'
allfiles['tipo_pago'] = allfiles.apply(tipo_pago, axis=1)

In [31]:
allfiles.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,batch_created_date,disbursement_method,swap,file_name,date_query,tipo_dispersion,tipo_pago
75172,DAILY,caa298f0-8230-4d04-9d93-eb1662c1d1e7,252fd412-237e-4136-a07f-ace29b08a15d,CUPCO,bmerlin.wavegroup@gmail.com,28Y7QHPZ9,2022-09-26,323.34,"Banco Santander, S.A.",2023-06-01 12:04:58,ARTIFICIA IMPULSORA DE TALENTO SA DE CV,'014180655061717622,2023-06-01 10:24:20,SANTANDER,"ARTIFICIA IMPULSORA DE TALENTO SA DE CV,,323.3...",SANT-1 2023-06-01.csv,2023-06-01,TRAD,Reprogramación
7176,DAILY,1349981f-be34-4008-a7df-887738e51885,33595190-5586-4a0b-8aac-86da062dfb67,Alivia Natural,brisa.alivia@gmail.com,2HL924DPL,2020-08-31,552.91,"BBVA Bancomer, S.A.",2023-06-01 12:01:53,Lissbeth Karina Duron Morales,'012060015031564321,2023-06-01 10:06:36,SANTANDER,"Lissbeth Karina Duron Morales,,552.91,01206001...",SANT-1 2023-06-01.csv,2023-06-01,TRAD,Reprogramación
66362,DAILY,b2ee93bd-3c69-4b0f-b476-cb38aef3662c,8a0cb424-5e96-4e52-9f98-20db78d73a8c,Miscelnea La Torre,fergarciagalvan@gmail.com,2QNSK6XRC,2023-02-15,49.11,"Banco Azteca, S.A.",2023-06-01 12:01:45,Fernando Garca Galvn,'127680013306894608,2023-06-01 10:23:22,SANTANDER,"Fernando Garca Galvn,,49.11,127680013306894608...",SANT-1 2023-06-01.csv,2023-06-01,TRAD,Reprogramación
385,INSTANT,59e16a85-5f3d-4ed2-8d05-0981e253a79c,31d9331b-ab22-47cf-be7a-d24caf471e70,Alan Beef,albinoerasmo2@gmail.com,2T3TTN3W6,2022-08-26,581.64,"Opciones Empresariales del Noreste, S.A. de C....",2023-06-01 15:22:30,Erasmo Albino Alcantara,'659802020000408024,2023-06-01 15:00:27,BANORTE,"Erasmo Albino Alcantara,,581.64,65980202000040...",BNTE-3 2023-06-01.csv,2023-06-01,TRAD,Reprogramación
42358,DAILY,7258e199-ac34-4136-a17a-6b00fcdef022,2b0950e8-b2f2-4cfd-828c-a6dcb9a74863,Nilova,jamoreno.700@gmail.com,2VKRXSVN3,2023-02-28,397.67,"BBVA Bancomer, S.A.",2023-06-01 12:00:26,Martha Fidelina Jimenez Arevalo,'012650015207613843,2023-06-01 10:17:19,SANTANDER,"Martha Fidelina Jimenez Arevalo,,397.67,012650...",SANT-1 2023-06-01.csv,2023-06-01,TRAD,Reprogramación

In [32]:
allfiles.shape

(9350382, 19)

# CRUCE 1 - MES ACTUAL

In [33]:
cruce_1 = allfiles.merge(query_error_current_month[['report_id','amount','ultimo_mov','ultimo_mov_date_only','month','status'
                                                   ,'error_description','esquema_query','status_cubeta']],on='report_id',how='left')
cruce_1['month'].fillna('Not found',inplace=True)
cruce_1.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount_x,bank_name,payment_date_local,...,tipo_dispersion,tipo_pago,amount_y,ultimo_mov,ultimo_mov_date_only,month,status,error_description,esquema_query,status_cubeta
0,DAILY,caa298f0-8230-4d04-9d93-eb1662c1d1e7,252fd412-237e-4136-a07f-ace29b08a15d,CUPCO,bmerlin.wavegroup@gmail.com,28Y7QHPZ9,2022-09-26,323.34,"Banco Santander, S.A.",2023-06-01 12:04:58,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
1,DAILY,1349981f-be34-4008-a7df-887738e51885,33595190-5586-4a0b-8aac-86da062dfb67,Alivia Natural,brisa.alivia@gmail.com,2HL924DPL,2020-08-31,552.91,"BBVA Bancomer, S.A.",2023-06-01 12:01:53,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
2,DAILY,b2ee93bd-3c69-4b0f-b476-cb38aef3662c,8a0cb424-5e96-4e52-9f98-20db78d73a8c,Miscelnea La Torre,fergarciagalvan@gmail.com,2QNSK6XRC,2023-02-15,49.11,"Banco Azteca, S.A.",2023-06-01 12:01:45,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
3,INSTANT,59e16a85-5f3d-4ed2-8d05-0981e253a79c,31d9331b-ab22-47cf-be7a-d24caf471e70,Alan Beef,albinoerasmo2@gmail.com,2T3TTN3W6,2022-08-26,581.64,"Opciones Empresariales del Noreste, S.A. de C....",2023-06-01 15:22:30,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
4,DAILY,7258e199-ac34-4136-a17a-6b00fcdef022,2b0950e8-b2f2-4cfd-828c-a6dcb9a74863,Nilova,jamoreno.700@gmail.com,2VKRXSVN3,2023-02-28,397.67,"BBVA Bancomer, S.A.",2023-06-01 12:00:26,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN

In [34]:
cruce_1.shape

(9350382, 27)

In [35]:
duplicates_cruce_1_previo = cruce_1[cruce_1.duplicated(['report_id'] , keep=False)]
duplicates_cruce_1_previo.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount_x,bank_name,payment_date_local,...,tipo_dispersion,tipo_pago,amount_y,ultimo_mov,ultimo_mov_date_only,month,status,error_description,esquema_query,status_cubeta
35,DAILY,41483b66-12f7-42e8-8484-26a20dd9a4de,8001523d-d4ff-4678-aeab-d46e0dbb2c52,Viajes Zory Salazar,edithzoraidasalazarcruz@gmail.com,95JLP3FKP,2023-01-12,"3,449.67",BANORTE,2023-06-02 10:29:16,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
269,BLANK,31e996a4-0831-4d64-adc6-6008e6a18347,BLANK,BLANK,BLANK,A23KBJWS4,2023-04-19,333.48,BBVA Bancomer,2023-06-01 18:46:54,...,FP,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
885,BLANK,3d768990-7ad9-478f-bf94-9fb0344c1c25,BLANK,BLANK,BLANK,A28H2JW6Y,2023-05-21,"1,916.48","BBVA Bancomer, S.A.",2023-06-02 06:37:44,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
1475,BLANK,c4de7496-09a2-421e-a9e7-609b6746fc9a,BLANK,BLANK,BLANK,A2F33QPTK,2023-06-01,"2,714.70","HSBC México, S.A.",2023-06-01 18:46:54,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
1643,BLANK,e478872f-21dc-48f0-816f-fe2bfd5a3208,BLANK,BLANK,BLANK,A2GNNRWV2,2023-06-01,"11,795.34",Inter Banco,2023-06-01 18:46:54,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN

In [36]:
duplicates_cruce_1_previo.shape

(66084, 27)

In [37]:
cruce_1_final = cruce_1[(cruce_1['month'] != 'Not found')]
cruce_1_final.drop_duplicates(subset='report_id',keep='last', inplace=True) 
cruce_1_final.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13180\1938979547.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cruce_1_final.drop_duplicates(subset='report_id',keep='last', inplace=True)

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount_x,bank_name,payment_date_local,...,tipo_dispersion,tipo_pago,amount_y,ultimo_mov,ultimo_mov_date_only,month,status,error_description,esquema_query,status_cubeta
41030,BLANK,f1a52c5d-6128-4a1c-828b-0cd591080f2c,BLANK,BLANK,BLANK,AF33LMQSP,2023-06-01,137.52,"BBVA Bancomer, S.A.",2023-06-01 20:04:14,...,FP,Pago del día,137.52,2023-08-31,2023-08-31,8.00,ERROR_TV,sin_descripcion,ERROR_USUAL,ERROR
931398,BLANK,a0110300-df8b-4358-a232-972717a5f2e5,BLANK,BLANK,BLANK,A2JXGBYJG,2023-06-10,5.60,ARCUS,2023-06-11 07:25:25,...,TRAD,Pago del día,5.60,2023-08-22,2023-08-22,8.00,ERROR_TV,sin_descripcion,ERROR_USUAL,ERROR
2381258,BLANK,31d8ef42-0da7-4e46-8b2b-63881eeef97b,BLANK,BLANK,BLANK,ABSK7T6SG,2023-06-24,61.33,ASP INTEGRA OPC,2023-06-24 15:29:20,...,FP,Pago del día,61.33,2023-08-31,2023-08-31,8.00,ERROR_TV,DEV.SPEIEXCEDE EL LNMITE DE AB,ERROR_USUAL,ERROR
2399093,BLANK,31d8ef42-0da7-4e46-8b2b-63881eeef97b,BLANK,BLANK,BLANK,AHHSCGD2Y,2023-06-24,61.33,ASP INTEGRA OPC,2023-06-24 17:35:27,...,FP,Pago del día,61.33,2023-08-31,2023-08-31,8.00,ERROR_TV,DEV.SPEIEXCEDE EL LNMITE DE AB,ERROR_USUAL,ERROR
2541767,BLANK,31d8ef42-0da7-4e46-8b2b-63881eeef97b,BLANK,BLANK,BLANK,ASHGHC3N3,2023-06-25,95.82,ASP INTEGRA OPC,2023-06-25 13:19:38,...,FP,Pago del día,95.82,2023-08-31,2023-08-31,8.00,ERROR_TV,DEV.SPEIEXCEDE EL LNMITE DE AB,ERROR_USUAL,ERROR

In [38]:
cruce_1_final.shape

(7824, 27)

In [39]:
duplicates_cruce_1_final = cruce_1_final[cruce_1_final.duplicated(['report_id'] , keep=False)]
duplicates_cruce_1_final.head()

Empty DataFrame
Columns: [type, merchant_id, merchant_token, merchant_name, user_email, report_id, report_date_local, amount_x, bank_name, payment_date_local, bank_account_owner_name, bank_account_number, batch_created_date, disbursement_method, swap, file_name, date_query, tipo_dispersion, tipo_pago, amount_y, ultimo_mov, ultimo_mov_date_only, month, status, error_description, esquema_query, status_cubeta]
Index: []

[0 rows x 27 columns]

In [40]:
duplicates_cruce_1_final.shape

(0, 27)

# CRUCE 2 MES ACTUAL

In [41]:
cruce_2 = query_error_current_month.merge(allfiles[['report_id','tipo_dispersion','tipo_pago']],on='report_id',how='left')
cruce_2['tipo_dispersion'].fillna('Not found',inplace=True)
cruce_2.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre,tipo_dispersion,tipo_pago
0,7435,762656fe-f025-4045-83e8-cfb2490d8955,Ma de Gracia Roque Díaz de León,D5D9VDW99,2020-02-10,9.58,ERROR,DEVOLUCION(03): Cuenta cancelada 030222...,2023-08-01,8,2023,NEW,ERROR_USUAL,762656fe-f025-4045-83e8-cfb2490d8955,2023-08-01,1,Actual,TRAD,Reprogramación
1,133016,b799fede-5550-49c8-b8db-68c0b863ce11,NaN,A7FBGC9KT,2023-08-01,156.42,ERROR,/21/CB Return Account type is not applicable (...,2023-08-01,8,2023,NEW,ERROR_USUAL,b799fede-5550-49c8-b8db-68c0b863ce11,2023-08-01,1,Actual,FP,Pago del día
2,133015,0cebfd0b-c31f-4628-8dc4-4fbc35e80d0d,NaN,AQ9N9J9J7,2023-08-01,51.95,ERROR,/21/CB Return Account type is not applicable (...,2023-08-01,8,2023,NEW,ERROR_USUAL,0cebfd0b-c31f-4628-8dc4-4fbc35e80d0d,2023-08-01,1,Actual,FP,Pago del día
3,133014,2831bb2a-d361-45d6-b89b-7a454c55120b,NaN,AZRMZ4596,2023-08-01,498.29,ERROR,/21/CB Return Account type is not applicable (...,2023-08-01,8,2023,NEW,ERROR_USUAL,2831bb2a-d361-45d6-b89b-7a454c55120b,2023-08-01,1,Actual,FP,Pago del día
4,133013,694ec0fc-899b-4220-a020-2e48f01f870b,NaN,AY3JX5V36,2023-08-01,295.13,ERROR,/21/CB Return Account type is not applicable (...,2023-08-01,8,2023,NEW,ERROR_USUAL,694ec0fc-899b-4220-a020-2e48f01f870b,2023-08-01,1,Actual,FP,Pago del día

In [42]:
cruce_2.shape

(17533, 19)

In [43]:
cruce_2_final = cruce_2[(cruce_2['tipo_dispersion'] != 'Not found')]
#cruce_2_final.drop_duplicates(subset='report_id',keep='last', inplace=True) 
cruce_2_final.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre,tipo_dispersion,tipo_pago
0,7435,762656fe-f025-4045-83e8-cfb2490d8955,Ma de Gracia Roque Díaz de León,D5D9VDW99,2020-02-10,9.58,ERROR,DEVOLUCION(03): Cuenta cancelada 030222...,2023-08-01,8,2023,NEW,ERROR_USUAL,762656fe-f025-4045-83e8-cfb2490d8955,2023-08-01,1,Actual,TRAD,Reprogramación
1,133016,b799fede-5550-49c8-b8db-68c0b863ce11,NaN,A7FBGC9KT,2023-08-01,156.42,ERROR,/21/CB Return Account type is not applicable (...,2023-08-01,8,2023,NEW,ERROR_USUAL,b799fede-5550-49c8-b8db-68c0b863ce11,2023-08-01,1,Actual,FP,Pago del día
2,133015,0cebfd0b-c31f-4628-8dc4-4fbc35e80d0d,NaN,AQ9N9J9J7,2023-08-01,51.95,ERROR,/21/CB Return Account type is not applicable (...,2023-08-01,8,2023,NEW,ERROR_USUAL,0cebfd0b-c31f-4628-8dc4-4fbc35e80d0d,2023-08-01,1,Actual,FP,Pago del día
3,133014,2831bb2a-d361-45d6-b89b-7a454c55120b,NaN,AZRMZ4596,2023-08-01,498.29,ERROR,/21/CB Return Account type is not applicable (...,2023-08-01,8,2023,NEW,ERROR_USUAL,2831bb2a-d361-45d6-b89b-7a454c55120b,2023-08-01,1,Actual,FP,Pago del día
4,133013,694ec0fc-899b-4220-a020-2e48f01f870b,NaN,AY3JX5V36,2023-08-01,295.13,ERROR,/21/CB Return Account type is not applicable (...,2023-08-01,8,2023,NEW,ERROR_USUAL,694ec0fc-899b-4220-a020-2e48f01f870b,2023-08-01,1,Actual,FP,Pago del día

In [44]:
cruce_2_final.shape

(12045, 19)

In [45]:
duplicates_cruce_2_final = cruce_2_final[cruce_2_final.duplicated(['report_id'] , keep=False)]
duplicates_cruce_2_final.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre,tipo_dispersion,tipo_pago
194,124391,96273bf7-d96e-4f5b-abca-317f4f2764cf,NaN,ANVKKTCBF,2023-06-24,800.13,ERROR,DEVOLUCION(20): Excede el limite de saldo auto...,2023-08-01,8,2023,NEW,ERROR_USUAL,96273bf7-d96e-4f5b-abca-317f4f2764cf,2023-08-01,1,Actual,TRAD,Pago del día
195,124391,96273bf7-d96e-4f5b-abca-317f4f2764cf,NaN,ANVKKTCBF,2023-06-24,800.13,ERROR,DEVOLUCION(20): Excede el limite de saldo auto...,2023-08-01,8,2023,NEW,ERROR_USUAL,96273bf7-d96e-4f5b-abca-317f4f2764cf,2023-08-01,1,Actual,FP,Reprogramación
228,118823,fcb7ed60-1414-4e84-a763-265119ea32f2,NaN,AVT6H7M2H,2023-05-26,184.94,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-08-01,8,2023,NEW,ERROR_USUAL,fcb7ed60-1414-4e84-a763-265119ea32f2,2023-08-01,1,Actual,FP,Reprogramación
229,118823,fcb7ed60-1414-4e84-a763-265119ea32f2,NaN,AVT6H7M2H,2023-05-26,184.94,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-08-01,8,2023,NEW,ERROR_USUAL,fcb7ed60-1414-4e84-a763-265119ea32f2,2023-08-01,1,Actual,FP,Reprogramación
230,118823,fcb7ed60-1414-4e84-a763-265119ea32f2,NaN,AVT6H7M2H,2023-05-26,184.94,ERROR,DEVOLUCION(21): Excede el limite de abonos per...,2023-08-01,8,2023,NEW,ERROR_USUAL,fcb7ed60-1414-4e84-a763-265119ea32f2,2023-08-01,1,Actual,FP,Reprogramación

In [46]:
duplicates_cruce_2_final.shape

(7080, 19)

# AGRUPADO POR TIPO DE PAGO - MES ACTUAL

In [47]:
group_tipo_pago = pd.pivot_table(cruce_1_final,index=['ultimo_mov_date_only']
                                              ,columns=['esquema_query','status_cubeta','tipo_dispersion',
                                                        'tipo_pago'],values=['amount_x']
                                              ,aggfunc=np.sum,margins=True).reset_index()
group_tipo_pago.fillna(0,inplace=True)
group_tipo_pago.head()

                ultimo_mov_date_only     amount_x                              \
esquema_query                         ERROR_USUAL
status_cubeta                               ERROR
tipo_dispersion                                FP                        TRAD
tipo_pago                            Pago del día Reprogramación Pago del día
0                         2023-08-01         0.00       3,525.34         0.00
1                         2023-08-02         0.00           0.00         0.00
2                         2023-08-03         0.00       1,901.15         0.00
3                         2023-08-04         0.00           0.00         0.00
4                         2023-08-05         0.00           0.00         0.00

                                                                         \
esquema_query
status_cubeta                           NEW
tipo_dispersion                          FP                        TRAD
tipo_pago       Reprogramación Pago del día Reprogramación Pago del día
0                         0.00    91,878.66     353,745.43    66,215.59
1                         0.00    20,754.78      49,892.73    46,664.70
2                         0.00    20,264.86         346.88       817.85
3                         0.00    12,752.18           0.00    83,647.05
4                         0.00    11,954.03           0.00    68,152.83


esquema_query                         All
status_cubeta
tipo_dispersion
tipo_pago       Reprogramación
0                    68,407.29 583,772.31
1                   150,716.14 268,028.35
2                         0.00  23,330.74
3                        10.54  96,409.77
4                         0.00  80,106.86

In [48]:
group_tipo_pago.shape

(32, 10)

In [49]:
group_esquema = pd.pivot_table(cruce_1_final,index=['ultimo_mov_date_only']
                                              ,columns=['esquema_query','status_cubeta','tipo_pago'],values=['amount_x']
                                              ,aggfunc=np.sum,margins=True).reset_index()
group_esquema.fillna(0,inplace=True)
group_esquema.head()

              ultimo_mov_date_only     amount_x                              \
esquema_query                       ERROR_USUAL
status_cubeta                             ERROR                         NEW
tipo_pago                          Pago del día Reprogramación Pago del día
0                       2023-08-01         0.00       3,525.34   158,094.25
1                       2023-08-02         0.00           0.00    67,419.48
2                       2023-08-03         0.00       1,901.15    21,082.71
3                       2023-08-04         0.00           0.00    96,399.23
4                       2023-08-05         0.00           0.00    80,106.86


esquema_query                       All
status_cubeta
tipo_pago     Reprogramación
0                 422,152.72 583,772.31
1                 200,608.87 268,028.35
2                     346.88  23,330.74
3                      10.54  96,409.77
4                       0.00  80,106.86

In [50]:
group_esquema.shape

(32, 6)

# CRUCE 3 - MES ANTERIOR

In [51]:
cruce_3 = allfiles.merge(query_new_last_month[['report_id','amount','ultimo_mov','ultimo_mov_date_only','month','status',
                                               'error_description','esquema_query','status_cubeta']],
                         on='report_id',how='left')
cruce_3['month'].fillna('Not found',inplace=True)
cruce_3.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount_x,bank_name,payment_date_local,...,tipo_dispersion,tipo_pago,amount_y,ultimo_mov,ultimo_mov_date_only,month,status,error_description,esquema_query,status_cubeta
0,DAILY,caa298f0-8230-4d04-9d93-eb1662c1d1e7,252fd412-237e-4136-a07f-ace29b08a15d,CUPCO,bmerlin.wavegroup@gmail.com,28Y7QHPZ9,2022-09-26,323.34,"Banco Santander, S.A.",2023-06-01 12:04:58,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
1,DAILY,1349981f-be34-4008-a7df-887738e51885,33595190-5586-4a0b-8aac-86da062dfb67,Alivia Natural,brisa.alivia@gmail.com,2HL924DPL,2020-08-31,552.91,"BBVA Bancomer, S.A.",2023-06-01 12:01:53,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
2,DAILY,b2ee93bd-3c69-4b0f-b476-cb38aef3662c,8a0cb424-5e96-4e52-9f98-20db78d73a8c,Miscelnea La Torre,fergarciagalvan@gmail.com,2QNSK6XRC,2023-02-15,49.11,"Banco Azteca, S.A.",2023-06-01 12:01:45,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
3,INSTANT,59e16a85-5f3d-4ed2-8d05-0981e253a79c,31d9331b-ab22-47cf-be7a-d24caf471e70,Alan Beef,albinoerasmo2@gmail.com,2T3TTN3W6,2022-08-26,581.64,"Opciones Empresariales del Noreste, S.A. de C....",2023-06-01 15:22:30,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
4,DAILY,7258e199-ac34-4136-a17a-6b00fcdef022,2b0950e8-b2f2-4cfd-828c-a6dcb9a74863,Nilova,jamoreno.700@gmail.com,2VKRXSVN3,2023-02-28,397.67,"BBVA Bancomer, S.A.",2023-06-01 12:00:26,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN

In [52]:
cruce_3.shape

(9350382, 27)

In [53]:
cruce_3_final = cruce_3[(cruce_3['month'] != 'Not found')]
cruce_3_final.drop_duplicates(subset='report_id',keep='last', inplace=True) 
cruce_3_final.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_13180\2713612933.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cruce_3_final.drop_duplicates(subset='report_id',keep='last', inplace=True)

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount_x,bank_name,payment_date_local,...,tipo_dispersion,tipo_pago,amount_y,ultimo_mov,ultimo_mov_date_only,month,status,error_description,esquema_query,status_cubeta
2042805,INSTANT,de16e655-aea3-4c53-9d10-799f3bede6f2,dfa41d56-7736-44e4-b34f-59013ff865e3,Pastelería FlanCake,flancake9@gmail.com,K7YKC4VFK,2022-05-29,335.38,"Opciones Empresariales del Noreste, S.A. de C....",2023-06-20 20:04:27,...,FP,Reprogramación,335.38,2023-07-02,2023-07-02,7.00,ERROR_TV,/21/CB Return Exceeds the limit of credits all...,ERROR_USUAL,NEW
3191435,BLANK,f87821bc-2872-4123-ab02-d4b41dde8211,BLANK,BLANK,BLANK,A9L8Z3SV5,2023-04-05,"1,149.89",Banco del Ahorro Nacional y Servicios Financieros,2023-07-03 07:29:58,...,FP,Reprogramación,"1,149.89",2023-07-03,2023-07-03,7.00,ERROR,DEV.SPEIEXCEDE EL LNMITE DE AB,ERROR_USUAL,NEW

In [54]:
cruce_3_final.shape

(2, 27)

In [55]:
duplicates_cruce_3_final = cruce_3_final[cruce_3_final.duplicated(['report_id'] , keep=False)]
duplicates_cruce_3_final.head()

Empty DataFrame
Columns: [type, merchant_id, merchant_token, merchant_name, user_email, report_id, report_date_local, amount_x, bank_name, payment_date_local, bank_account_owner_name, bank_account_number, batch_created_date, disbursement_method, swap, file_name, date_query, tipo_dispersion, tipo_pago, amount_y, ultimo_mov, ultimo_mov_date_only, month, status, error_description, esquema_query, status_cubeta]
Index: []

[0 rows x 27 columns]

In [56]:
duplicates_cruce_3_final.shape

(0, 27)

# CRUCE 4 - MES ANTERIOR

In [57]:
cruce_4 = query_new_last_month.merge(allfiles[['report_id','tipo_dispersion','tipo_pago']],on='report_id',how='left')
cruce_4['tipo_dispersion'].fillna('Not found',inplace=True)
cruce_4.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre,tipo_dispersion,tipo_pago
0,97448,e7562a97-9474-4114-adc6-9d87811042cc,Restauraciones Y Mantenimientos,4C7CQMRFP,2023-01-19,0.95,ERROR_TV,sin_descripcion,2023-07-01,7,2023,NEW,ERROR_USUAL,e7562a97-9474-4114-adc6-9d87811042cc,2023-07-01,1,NaN,Not found,NaN
1,104690,9ef544ce-2ef1-4226-96dc-48ae55ab6915,House of Bars,7NLH2XDSN,2023-03-16,67.07,ERROR_TV,sin_descripcion,2023-07-01,7,2023,NEW,ERROR_USUAL,9ef544ce-2ef1-4226-96dc-48ae55ab6915,2023-07-01,1,NaN,Not found,NaN
2,104859,9ef544ce-2ef1-4226-96dc-48ae55ab6915,House of Bars,YLLSBRTQ8,2023-03-17,43.12,ERROR_TV,sin_descripcion,2023-07-01,7,2023,NEW,ERROR_USUAL,9ef544ce-2ef1-4226-96dc-48ae55ab6915,2023-07-01,1,NaN,Not found,NaN
3,64129,de16e655-aea3-4c53-9d10-799f3bede6f2,Pastelería FlanCake,K7YKC4VFK,2022-05-29,335.38,ERROR_TV,/21/CB Return Exceeds the limit of credits all...,2023-07-02,7,2023,NEW,ERROR_USUAL,de16e655-aea3-4c53-9d10-799f3bede6f2,2023-07-02,2,NaN,TRAD,Reprogramación
4,64129,de16e655-aea3-4c53-9d10-799f3bede6f2,Pastelería FlanCake,K7YKC4VFK,2022-05-29,335.38,ERROR_TV,/21/CB Return Exceeds the limit of credits all...,2023-07-02,7,2023,NEW,ERROR_USUAL,de16e655-aea3-4c53-9d10-799f3bede6f2,2023-07-02,2,NaN,FP,Reprogramación

In [58]:
cruce_4.shape

(11, 19)

In [59]:
cruce_4_final = cruce_4[(cruce_4['tipo_dispersion'] != 'Not found')]
#cruce_2_final.drop_duplicates(subset='report_id',keep='last', inplace=True) 
cruce_4_final.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre,tipo_dispersion,tipo_pago
3,64129,de16e655-aea3-4c53-9d10-799f3bede6f2,Pastelería FlanCake,K7YKC4VFK,2022-05-29,335.38,ERROR_TV,/21/CB Return Exceeds the limit of credits all...,2023-07-02,7,2023,NEW,ERROR_USUAL,de16e655-aea3-4c53-9d10-799f3bede6f2,2023-07-02,2,NaN,TRAD,Reprogramación
4,64129,de16e655-aea3-4c53-9d10-799f3bede6f2,Pastelería FlanCake,K7YKC4VFK,2022-05-29,335.38,ERROR_TV,/21/CB Return Exceeds the limit of credits all...,2023-07-02,7,2023,NEW,ERROR_USUAL,de16e655-aea3-4c53-9d10-799f3bede6f2,2023-07-02,2,NaN,FP,Reprogramación
10,107024,f87821bc-2872-4123-ab02-d4b41dde8211,NaN,A9L8Z3SV5,2023-04-05,"1,149.89",ERROR,DEV.SPEIEXCEDE EL LNMITE DE AB,2023-07-03,7,2023,NEW,ERROR_USUAL,f87821bc-2872-4123-ab02-d4b41dde8211,2023-07-03,3,NaN,FP,Reprogramación

In [60]:
cruce_4_final.shape

(3, 19)

In [61]:
duplicates_cruce_4_final = cruce_4_final[cruce_4_final.duplicated(['report_id'] , keep=False)]
duplicates_cruce_4_final.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre,tipo_dispersion,tipo_pago
3,64129,de16e655-aea3-4c53-9d10-799f3bede6f2,Pastelería FlanCake,K7YKC4VFK,2022-05-29,335.38,ERROR_TV,/21/CB Return Exceeds the limit of credits all...,2023-07-02,7,2023,NEW,ERROR_USUAL,de16e655-aea3-4c53-9d10-799f3bede6f2,2023-07-02,2,NaN,TRAD,Reprogramación
4,64129,de16e655-aea3-4c53-9d10-799f3bede6f2,Pastelería FlanCake,K7YKC4VFK,2022-05-29,335.38,ERROR_TV,/21/CB Return Exceeds the limit of credits all...,2023-07-02,7,2023,NEW,ERROR_USUAL,de16e655-aea3-4c53-9d10-799f3bede6f2,2023-07-02,2,NaN,FP,Reprogramación

In [62]:
duplicates_cruce_4_final.shape

(2, 19)

# AGRUPADO POR TIPO DE PAGO - MES ANTERIOR

In [63]:
group_tipo_pago_last_month = pd.pivot_table(cruce_3_final,index=['ultimo_mov_date_only']
                                              ,columns=['esquema_query','status_cubeta','tipo_dispersion',
                                                        'tipo_pago'],values=['amount_x']
                                              ,aggfunc=np.sum,margins=True).reset_index()
group_tipo_pago_last_month.fillna(0,inplace=True)
group_tipo_pago_last_month.head()

                ultimo_mov_date_only       amount_x
esquema_query                           ERROR_USUAL      All
status_cubeta                                   NEW
tipo_dispersion                                  FP
tipo_pago                            Reprogramación
0                         2023-07-02         335.38   335.38
1                         2023-07-03       1,149.89 1,149.89
2                                All       1,485.27 1,485.27

In [64]:
group_tipo_pago_last_month.shape

(3, 3)

In [65]:
group_esquema_last_month = pd.pivot_table(cruce_4_final,index=['ultimo_mov_date_only']
                                              ,columns=['esquema_query','status_cubeta','tipo_pago'],values=['amount']
                                              ,aggfunc=np.sum,margins=True).reset_index()
group_esquema_last_month.fillna(0,inplace=True)
group_esquema_last_month.head()

              ultimo_mov_date_only         amount
esquema_query                         ERROR_USUAL      All
status_cubeta                                 NEW
tipo_pago                          Reprogramación
0                       2023-07-02         670.76   670.76
1                       2023-07-03       1,149.89 1,149.89
2                              All       1,820.65 1,820.65

In [66]:
group_esquema_last_month.shape

(3, 3)

In [67]:
writer = pd.ExcelWriter('FASE V. DATA POLIZA ERROR-USUAL AGOSTO 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
group_tipo_pago.to_excel(writer, sheet_name='GRUPO TIPO PAGO')
group_esquema.to_excel(writer, sheet_name='GRUPO ESQUEMA')
group_tipo_pago_last_month.to_excel(writer, sheet_name='GRUPO TIPO PAGO-MESES ANT')
group_esquema_last_month.to_excel(writer, sheet_name='GRUPO ESQUEMA-MESES ANT')
cruce_1_final.to_excel(writer, sheet_name='DETALLE',index=False)
cruce_3_final.to_excel(writer, sheet_name='DETALLE-MESES ANTERIORES',index=False)
writer.close()