In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
from functools import reduce
pd.options.display.float_format = '{:,.2f}'.format

#### ACUMULADO

In [2]:
cumfiles = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\08. AGOSTO\QUERIES\*.csv', recursive=False)
cumfiles

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-07-30.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-07-31.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-29.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-30.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\QUERIES\\SETTLEMENT 2022-08-31.csv']

In [3]:
cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
cum_1.columns = cum_1.columns.str.strip().str.lower() 
cum_1['report_date_local']= pd.to_datetime(cum_1['report_date_local']) 
cum_1.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16492\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16492\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16492\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16492\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16492\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16492\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16492\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16492\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16492\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16492\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16492\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_released,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name
0,fb7b00dc-34fd-4315-a707-f2f2cc0af11c,CASA MANCINAS,luis.albertomancinas@gmail.com,6MJRGK858,2022-07-30,"15,550.00",559.80,89.56,0.00,0.00,...,0.00,0.00,NaN,"14,900.64",DAILY,2022-07-30,02:00:34,2022-07-30,02:00:34,SETTLEMENT 2022-07-30.csv
1,a09a033a-d358-4edb-8075-6d62f8448349,LA LUPANA,guadalu7@yahoo.com.mx,HQH9P39WX,2022-07-30,60.00,2.16,0.35,0.00,0.00,...,0.00,0.00,NaN,57.49,DAILY,2022-07-30,02:00:34,2022-07-30,02:00:34,SETTLEMENT 2022-07-30.csv
2,98cfac80-6c04-4478-a933-c54c3efaff52,ABARROTES ABY,samuel041267@gmail.com,JCRY77N79,2022-07-30,210.00,7.56,1.21,0.00,0.00,...,0.00,0.00,NaN,201.23,DAILY,2022-07-30,02:00:34,2022-07-30,02:00:34,SETTLEMENT 2022-07-30.csv
3,c62a160d-4af9-431b-8244-70ccb4ebb0a5,PISOS LAMINADOS Y MARMOL VR,dorisjanirmaro@gmail.com,MGH595J2N,2022-07-30,784.50,28.24,4.51,0.00,0.00,...,0.00,0.00,NaN,751.75,DAILY,2022-07-30,02:00:34,2022-07-30,02:00:34,SETTLEMENT 2022-07-30.csv
4,4687b447-e395-4b0e-8d24-509ec18cf7a6,GORDITAS MI TIA ROSI,pam9057.s@gmail.com,Z95VT9Z6D,2022-07-30,427.50,15.39,2.46,0.00,0.00,...,0.00,0.00,NaN,409.65,DAILY,2022-07-30,02:00:34,2022-07-30,02:00:34,SETTLEMENT 2022-07-30.csv

In [4]:
cum_1.shape

(2965710, 26)

In [5]:
cum_distinct_0 = cum_1[(cum_1['total_due'] != 0)]
cum_distinct_0.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_released,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name
0,fb7b00dc-34fd-4315-a707-f2f2cc0af11c,CASA MANCINAS,luis.albertomancinas@gmail.com,6MJRGK858,2022-07-30,"15,550.00",559.80,89.56,0.00,0.00,...,0.00,0.00,NaN,"14,900.64",DAILY,2022-07-30,02:00:34,2022-07-30,02:00:34,SETTLEMENT 2022-07-30.csv
1,a09a033a-d358-4edb-8075-6d62f8448349,LA LUPANA,guadalu7@yahoo.com.mx,HQH9P39WX,2022-07-30,60.00,2.16,0.35,0.00,0.00,...,0.00,0.00,NaN,57.49,DAILY,2022-07-30,02:00:34,2022-07-30,02:00:34,SETTLEMENT 2022-07-30.csv
2,98cfac80-6c04-4478-a933-c54c3efaff52,ABARROTES ABY,samuel041267@gmail.com,JCRY77N79,2022-07-30,210.00,7.56,1.21,0.00,0.00,...,0.00,0.00,NaN,201.23,DAILY,2022-07-30,02:00:34,2022-07-30,02:00:34,SETTLEMENT 2022-07-30.csv
3,c62a160d-4af9-431b-8244-70ccb4ebb0a5,PISOS LAMINADOS Y MARMOL VR,dorisjanirmaro@gmail.com,MGH595J2N,2022-07-30,784.50,28.24,4.51,0.00,0.00,...,0.00,0.00,NaN,751.75,DAILY,2022-07-30,02:00:34,2022-07-30,02:00:34,SETTLEMENT 2022-07-30.csv
4,4687b447-e395-4b0e-8d24-509ec18cf7a6,GORDITAS MI TIA ROSI,pam9057.s@gmail.com,Z95VT9Z6D,2022-07-30,427.50,15.39,2.46,0.00,0.00,...,0.00,0.00,NaN,409.65,DAILY,2022-07-30,02:00:34,2022-07-30,02:00:34,SETTLEMENT 2022-07-30.csv

In [6]:
cum_distinct_0.shape

(2964663, 26)

#### PAGOS DE DISPERSIONES

In [7]:
pagos_dia_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\08. AGOSTO\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
pagos_dia_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220730.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220731.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220801.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220802.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220803.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220804.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220805.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220806.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220807.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220808.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220809.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220810.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220811.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220812.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220813.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220814.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220815.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220816.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220817.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220818.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220819.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220820.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220821.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220822.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220823.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220824.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220825.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220826.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220827.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220828.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220829.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220830.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES\\Dispersión-20220831.xlsx']

In [8]:
pagos_1 = pd.concat([pd.read_excel(f,sheet_name='Swap del día').assign(file_name=os.path.basename(f)) for f in pagos_dia_files_1])
pagos_1['date_file'] = pagos_1["file_name"].str[-13:-5]
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'], format='%Y%m%d').dt.date
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'])
pagos_1.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_1['report_date_local']= pd.to_datetime(pagos_1['report_date_local']) 
pagos_1.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Banco_emisor,file_name,Batch_time,date_file
0,DAILY,dfa44465-0cba-471a-bd3d-9887b183b1c8,Veterinaria,Emmanuelgg046@gmail.com,VZ32PWLL5,2022-07-22,2.00,Reprogramación,COMPARTAMOS,Rebeca Vidal Terron,130877001047848903,ERROR,NaN,NaN,Dispersión-20220730.xlsx,NaN,2022-07-30
67695,DAILY,003c78d6-e9fb-4cf8-9f54-dc58a5679e98,Zapateria La Infantil,rudos@hotmail.com,GZQCWKNS5,2022-07-30,"1,695.13",Pago del día,SANTANDER,Roberto Higalgo Rodriguez,14528565473333359,PAID,"2022-07-30,42644264202207301827639749,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30
67694,DAILY,003f35e0-1e9f-48ab-9bb7-0835baa8fa6b,Fisioterapia Lowen,fisioterapialowen@gmail.com,FKQL8V6VM,2022-07-30,"3,334.68",Pago del día,BAJIO,Mara Lowen Frey,30680900025614495,PAID,"2022-07-30,nan,40072,40030,030680900025614495,...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30
67693,DAILY,0040085e-b204-43d8-a6fd-1b147ff10467,ZAPATERA ALEXA,distribuidoracalzadoalexa@gmail.com,SVDQTSM57,2022-07-30,277.89,Pago del día,BANAMEX,Francisco Crisolo Olguin López,2311450300430853,PAID,"2022-07-30,42644264202207301827660020,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30
67692,DAILY,00401777-4c52-4f26-b415-112b790147f2,HERRAMIENTAS RANGEL,Jose_herramientas1979@hotmail.com,K439LSV2J,2022-07-30,"1,054.06",Pago del día,BANAMEX,Jose Antonio Rangel Yepez,2180701328105147,PAID,"2022-07-30,42644264202207301827740587,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30

In [9]:
pagos_1.shape

(2899373, 17)

In [10]:
pagos_1['report_date_local'].unique()

array(['2022-07-22T00:00:00.000000000', '2022-07-30T00:00:00.000000000',
       '2022-05-24T00:00:00.000000000', '2022-07-25T00:00:00.000000000',
       '2022-07-23T00:00:00.000000000', '2022-07-24T00:00:00.000000000',
       '2022-07-29T00:00:00.000000000', '2022-07-26T00:00:00.000000000',
       '2022-07-28T00:00:00.000000000', '2022-07-27T00:00:00.000000000',
       '2022-06-15T00:00:00.000000000', '2022-03-05T00:00:00.000000000',
       '2022-07-18T00:00:00.000000000', '2021-12-31T00:00:00.000000000',
       '2022-07-07T00:00:00.000000000', '2022-07-20T00:00:00.000000000',
       '2022-07-16T00:00:00.000000000', '2022-07-19T00:00:00.000000000',
       '2022-07-17T00:00:00.000000000', '2022-06-18T00:00:00.000000000',
       '2022-07-02T00:00:00.000000000', '2022-04-29T00:00:00.000000000',
       '2022-07-21T00:00:00.000000000', '2022-06-25T00:00:00.000000000',
       '2022-05-13T00:00:00.000000000', '2022-05-15T00:00:00.000000000',
       '2022-06-04T00:00:00.000000000', '2022-07-13T00:00:00.000000000',
       '2022-07-14T00:00:00.000000000', '2022-07-15T00:00:00.000000000',
       '2022-07-08T00:00:00.000000000', '2022-07-05T00:00:00.000000000',
       '2022-07-12T00:00:00.000000000', '2022-07-11T00:00:00.000000000',
       '2022-07-10T00:00:00.000000000', '2022-07-09T00:00:00.000000000',
       '2022-07-04T00:00:00.000000000', '2022-07-01T00:00:00.000000000',
       '2022-07-06T00:00:00.000000000', '2022-06-30T00:00:00.000000000',
       '2022-02-24T00:00:00.000000000', '2022-06-08T00:00:00.000000000',
       '2022-06-16T00:00:00.000000000', '2022-06-24T00:00:00.000000000',
       '2022-06-03T00:00:00.000000000', '2022-07-03T00:00:00.000000000',
       '2022-06-07T00:00:00.000000000', '2022-06-23T00:00:00.000000000',
       '2022-06-28T00:00:00.000000000', '2022-04-09T00:00:00.000000000',
       '2022-05-08T00:00:00.000000000', '2022-05-27T00:00:00.000000000',
       '2022-05-31T00:00:00.000000000', '2022-04-24T00:00:00.000000000',
       '2022-05-07T00:00:00.000000000', '2022-06-26T00:00:00.000000000',
       '2022-04-18T00:00:00.000000000', '2021-09-04T00:00:00.000000000',
       '2022-05-26T00:00:00.000000000', '2022-05-30T00:00:00.000000000',
       '2022-05-12T00:00:00.000000000', '2022-05-03T00:00:00.000000000',
       '2022-05-05T00:00:00.000000000', '2022-05-11T00:00:00.000000000',
       '2022-05-19T00:00:00.000000000', '2022-06-01T00:00:00.000000000',
       '2022-06-02T00:00:00.000000000', '2022-06-06T00:00:00.000000000',
       '2022-06-09T00:00:00.000000000', '2022-06-14T00:00:00.000000000',
       '2022-05-20T00:00:00.000000000', '2021-09-30T00:00:00.000000000',
       '2021-09-29T00:00:00.000000000', '2021-09-28T00:00:00.000000000',
       '2022-06-20T00:00:00.000000000', '2022-06-19T00:00:00.000000000',
       '2022-06-21T00:00:00.000000000', '2022-06-05T00:00:00.000000000',
       '2022-06-10T00:00:00.000000000', '2022-06-11T00:00:00.000000000',
       '2022-06-12T00:00:00.000000000', '2022-06-13T00:00:00.000000000',
       '2022-06-17T00:00:00.000000000', '2022-06-29T00:00:00.000000000',
       '2021-09-07T00:00:00.000000000', '2022-05-28T00:00:00.000000000',
       '2021-04-30T00:00:00.000000000', '2022-07-31T00:00:00.000000000',
       '2022-05-01T00:00:00.000000000', '2021-11-02T00:00:00.000000000',
       '2021-11-04T00:00:00.000000000', '2022-06-27T00:00:00.000000000',
       '2021-05-30T00:00:00.000000000', '2022-05-29T00:00:00.000000000',
       '2019-08-28T00:00:00.000000000', '2022-02-10T00:00:00.000000000',
       '2022-02-27T00:00:00.000000000', '2022-04-23T00:00:00.000000000',
       '2022-04-26T00:00:00.000000000', '2022-04-27T00:00:00.000000000',
       '2022-05-04T00:00:00.000000000', '2022-05-25T00:00:00.000000000',
       '2022-02-09T00:00:00.000000000', '2021-11-21T00:00:00.000000000',
       '2022-04-21T00:00:00.000000000', '2022-04-20T00:00:00.000000000',
       '2022-04-15T00:00:00.000000000', '2022-04-14T00:00:00.000000000',
       '2022-04-28T00:00:00.000000000', '2022-04-22T00:00:00.000000000',
       '2022-03-21T00:00:00.000000000', '2022-03-24T00:00:00.000000000',
       '2022-03-25T00:00:00.000000000', '2022-03-26T00:00:00.000000000',
       '2022-03-29T00:00:00.000000000', '2022-03-30T00:00:00.000000000',
       '2022-04-01T00:00:00.000000000', '2022-04-02T00:00:00.000000000',
       '2022-04-04T00:00:00.000000000', '2022-04-05T00:00:00.000000000',
       '2022-04-06T00:00:00.000000000', '2022-04-07T00:00:00.000000000',
       '2022-04-08T00:00:00.000000000', '2022-04-13T00:00:00.000000000',
       '2022-05-17T00:00:00.000000000', '2022-04-30T00:00:00.000000000',
       '2022-05-02T00:00:00.000000000', '2022-05-06T00:00:00.000000000',
       '2022-05-09T00:00:00.000000000', '2022-05-14T00:00:00.000000000',
       '2022-05-18T00:00:00.000000000', '2022-03-19T00:00:00.000000000',
       '2022-05-23T00:00:00.000000000', '2022-05-10T00:00:00.000000000',
       '2021-12-27T00:00:00.000000000', '2021-12-29T00:00:00.000000000',
       '2021-12-30T00:00:00.000000000', '2022-03-11T00:00:00.000000000',
       '2022-03-28T00:00:00.000000000', '2022-02-21T00:00:00.000000000',
       '2022-02-20T00:00:00.000000000', '2022-01-20T00:00:00.000000000',
       '2022-01-23T00:00:00.000000000', '2022-01-25T00:00:00.000000000',
       '2022-01-26T00:00:00.000000000', '2022-01-27T00:00:00.000000000',
       '2022-01-28T00:00:00.000000000', '2022-01-29T00:00:00.000000000',
       '2022-01-30T00:00:00.000000000', '2022-01-31T00:00:00.000000000',
       '2022-02-11T00:00:00.000000000', '2022-02-12T00:00:00.000000000',
       '2022-02-23T00:00:00.000000000', '2022-02-28T00:00:00.000000000',
       '2022-03-12T00:00:00.000000000', '2022-03-13T00:00:00.000000000',
       '2022-03-14T00:00:00.000000000', '2022-03-15T00:00:00.000000000',
       '2022-03-16T00:00:00.000000000', '2022-02-13T00:00:00.000000000',
       '2022-03-17T00:00:00.000000000', '2022-03-20T00:00:00.000000000',
       '2022-03-22T00:00:00.000000000', '2022-03-23T00:00:00.000000000',
       '2022-03-27T00:00:00.000000000', '2022-03-18T00:00:00.000000000',
       '2022-02-19T00:00:00.000000000', '2022-04-16T00:00:00.000000000',
       '2022-04-25T00:00:00.000000000', '2022-05-16T00:00:00.000000000',
       '2022-05-21T00:00:00.000000000', '2022-06-22T00:00:00.000000000',
       '2022-04-17T00:00:00.000000000', '2022-02-03T00:00:00.000000000',
       '2022-02-02T00:00:00.000000000', '2021-02-21T00:00:00.000000000',
       '2021-02-04T00:00:00.000000000', '2020-12-28T00:00:00.000000000',
       '2020-12-25T00:00:00.000000000', '2022-08-01T00:00:00.000000000',
       '2021-02-06T00:00:00.000000000', '2021-05-13T00:00:00.000000000',
       '2021-02-05T00:00:00.000000000', '2022-05-22T00:00:00.000000000',
       '2021-10-10T00:00:00.000000000', '2021-10-12T00:00:00.000000000',
       '2021-10-23T00:00:00.000000000', '2021-10-27T00:00:00.000000000',
       '2021-10-31T00:00:00.000000000', '2021-11-10T00:00:00.000000000',
       '2021-11-14T00:00:00.000000000', '2021-12-01T00:00:00.000000000',
       '2021-12-03T00:00:00.000000000', '2021-12-12T00:00:00.000000000',
       '2021-12-16T00:00:00.000000000', '2021-12-25T00:00:00.000000000',
       '2021-09-14T00:00:00.000000000', '2021-12-28T00:00:00.000000000',
       '2022-01-01T00:00:00.000000000', '2022-02-05T00:00:00.000000000',
       '2022-02-15T00:00:00.000000000', '2022-02-22T00:00:00.000000000',
       '2021-09-26T00:00:00.000000000', '2021-09-21T00:00:00.000000000',
       '2022-02-14T00:00:00.000000000', '2022-02-26T00:00:00.000000000',
       '2022-02-17T00:00:00.000000000', '2022-01-21T00:00:00.000000000',
       '2022-01-14T00:00:00.000000000', '2022-01-06T00:00:00.000000000',
       '2022-03-10T00:00:00.000000000', '2020-11-23T00:00:00.000000000',
       '2020-12-12T00:00:00.000000000', '2021-01-03T00:00:00.000000000',
       '2021-01-06T00:00:00.000000000', '2021-01-26T00:00:00.000000000',
       '2021-01-30T00:00:00.000000000', '2021-12-18T00:00:00.000000000',
       '2021-10-30T00:00:00.000000000', '2022-08-02T00:00:00.000000000',
       '2022-04-19T00:00:00.000000000', '2020-02-04T00:00:00.000000000',
       '2022-01-19T00:00:00.000000000', '2022-01-24T00:00:00.000000000',
       '2021-07-30T00:00:00.000000000', '2021-11-17T00:00:00.000000000',
       '2022-03-01T00:00:00.000000000', '2021-11-18T00:00:00.000000000',
       '2022-01-22T00:00:00.000000000', '2022-02-18T00:00:00.000000000',
       '2021-10-24T00:00:00.000000000', '2021-10-17T00:00:00.000000000',
       '2022-01-18T00:00:00.000000000', '2021-12-06T00:00:00.000000000',
       '2021-10-28T00:00:00.000000000', '2021-11-20T00:00:00.000000000',
       '2021-11-26T00:00:00.000000000', '2021-11-29T00:00:00.000000000',
       '2021-12-02T00:00:00.000000000', '2022-01-17T00:00:00.000000000',
       '2021-09-08T00:00:00.000000000', '2021-07-28T00:00:00.000000000',
       '2021-07-26T00:00:00.000000000', '2021-07-27T00:00:00.000000000',
       '2021-12-10T00:00:00.000000000', '2022-01-15T00:00:00.000000000',
       '2020-08-30T00:00:00.000000000', '2020-09-02T00:00:00.000000000',
       '2022-08-03T00:00:00.000000000', '2021-11-30T00:00:00.000000000',
       '2021-09-19T00:00:00.000000000', '2021-12-08T00:00:00.000000000',
       '2020-07-28T00:00:00.000000000', '2021-05-27T00:00:00.000000000',
       '2022-08-04T00:00:00.000000000', '2021-10-06T00:00:00.000000000',
       '2021-10-20T00:00:00.000000000', '2021-11-05T00:00:00.000000000',
       '2021-09-13T00:00:00.000000000', '2022-03-06T00:00:00.000000000',
       '2022-04-11T00:00:00.000000000', '2022-03-08T00:00:00.000000000',
       '2022-03-07T00:00:00.000000000', '2021-12-21T00:00:00.000000000',
       '2021-11-23T00:00:00.000000000', '2022-03-31T00:00:00.000000000',
       '2021-11-22T00:00:00.000000000', '2021-10-29T00:00:00.000000000',
       '2022-02-25T00:00:00.000000000', '2021-11-24T00:00:00.000000000',
       '2021-11-25T00:00:00.000000000', '2021-11-27T00:00:00.000000000',
       '2021-11-28T00:00:00.000000000', '2021-10-26T00:00:00.000000000',
       '2021-09-27T00:00:00.000000000', '2021-10-25T00:00:00.000000000',
       '2022-08-05T00:00:00.000000000', '2019-10-04T00:00:00.000000000',
       '2022-04-10T00:00:00.000000000', '2022-08-06T00:00:00.000000000',
       '2022-02-07T00:00:00.000000000', '2021-12-05T00:00:00.000000000',
       '2021-12-14T00:00:00.000000000', '2021-10-08T00:00:00.000000000',
       '2021-10-07T00:00:00.000000000', '2021-12-15T00:00:00.000000000',
       '2022-08-07T00:00:00.000000000', '2021-11-13T00:00:00.000000000',
       '2020-08-15T00:00:00.000000000', '2020-02-14T00:00:00.000000000',
       '2021-12-17T00:00:00.000000000', '2021-10-03T00:00:00.000000000',
       '2021-10-04T00:00:00.000000000', '2021-10-05T00:00:00.000000000',
       '2021-10-09T00:00:00.000000000', '2021-10-11T00:00:00.000000000',
       '2021-10-13T00:00:00.000000000', '2021-10-16T00:00:00.000000000',
       '2021-09-16T00:00:00.000000000', '2021-09-20T00:00:00.000000000',
       '2021-09-23T00:00:00.000000000', '2021-09-12T00:00:00.000000000',
       '2021-12-04T00:00:00.000000000', '2021-12-07T00:00:00.000000000',
       '2021-12-09T00:00:00.000000000', '2021-09-11T00:00:00.000000000',
       '2021-09-24T00:00:00.000000000', '2021-09-10T00:00:00.000000000',
       '2021-10-18T00:00:00.000000000', '2021-10-21T00:00:00.000000000',
       '2021-10-22T00:00:00.000000000', '2021-10-02T00:00:00.000000000',
       '2021-09-09T00:00:00.000000000', '2021-10-15T00:00:00.000000000',
       '2021-12-23T00:00:00.000000000', '2021-12-11T00:00:00.000000000',
       '2021-12-13T00:00:00.000000000', '2021-11-19T00:00:00.000000000',
       '2021-11-15T00:00:00.000000000', '2021-12-19T00:00:00.000000000',
       '2021-12-20T00:00:00.000000000', '2021-12-22T00:00:00.000000000',
       '2021-11-03T00:00:00.000000000', '2021-11-07T00:00:00.000000000',
       '2021-11-08T00:00:00.000000000', '2021-11-09T00:00:00.000000000',
       '2022-03-09T00:00:00.000000000', '2022-04-12T00:00:00.000000000',
       '2022-03-02T00:00:00.000000000', '2022-02-06T00:00:00.000000000',
       '2022-02-08T00:00:00.000000000', '2022-01-07T00:00:00.000000000',
       '2022-01-08T00:00:00.000000000', '2022-01-11T00:00:00.000000000',
       '2022-04-03T00:00:00.000000000', '2022-01-05T00:00:00.000000000',
       '2022-02-16T00:00:00.000000000', '2022-01-09T00:00:00.000000000',
       '2022-01-04T00:00:00.000000000', '2021-12-24T00:00:00.000000000',
       '2020-10-28T00:00:00.000000000', '2019-10-08T00:00:00.000000000',
       '2022-08-08T00:00:00.000000000', '2021-03-21T00:00:00.000000000',
       '2022-08-09T00:00:00.000000000', '2020-07-26T00:00:00.000000000',
       '2020-11-29T00:00:00.000000000', '2020-03-31T00:00:00.000000000',
       '2020-09-26T00:00:00.000000000', '2020-09-27T00:00:00.000000000',
       '2021-08-30T00:00:00.000000000', '2021-08-31T00:00:00.000000000',
       '2020-08-06T00:00:00.000000000', '2022-08-10T00:00:00.000000000',
       '2021-06-27T00:00:00.000000000', '2021-06-29T00:00:00.000000000',
       '2022-08-11T00:00:00.000000000', '2021-11-06T00:00:00.000000000',
       '2022-01-02T00:00:00.000000000', '2022-01-03T00:00:00.000000000',
       '2022-08-12T00:00:00.000000000', '2021-01-14T00:00:00.000000000',
       '2021-06-19T00:00:00.000000000', '2021-02-15T00:00:00.000000000',
       '2022-01-12T00:00:00.000000000', '2019-11-20T00:00:00.000000000',
       '2019-11-27T00:00:00.000000000', '2019-12-05T00:00:00.000000000',
       '2019-12-16T00:00:00.000000000', '2022-08-13T00:00:00.000000000',
       '2022-03-04T00:00:00.000000000', '2020-03-02T00:00:00.000000000',
       '2021-11-11T00:00:00.000000000', '2018-11-20T00:00:00.000000000',
       '2022-08-14T00:00:00.000000000', '2021-08-02T00:00:00.000000000',
       '2021-07-22T00:00:00.000000000', '2021-02-22T00:00:00.000000000',
       '2020-12-19T00:00:00.000000000', '2018-08-20T00:00:00.000000000',
       '2022-08-15T00:00:00.000000000', '2022-01-16T00:00:00.000000000',
       '2022-08-16T00:00:00.000000000', '2021-06-17T00:00:00.000000000',
       '2021-07-13T00:00:00.000000000', '2021-08-03T00:00:00.000000000',
       '2021-09-25T00:00:00.000000000', '2021-10-19T00:00:00.000000000',
       '2021-02-13T00:00:00.000000000', '2021-02-16T00:00:00.000000000',
       '2021-03-19T00:00:00.000000000', '2021-02-17T00:00:00.000000000',
       '2021-02-23T00:00:00.000000000', '2021-02-24T00:00:00.000000000',
       '2021-02-12T00:00:00.000000000', '2021-02-25T00:00:00.000000000',
       '2021-03-10T00:00:00.000000000', '2021-03-03T00:00:00.000000000',
       '2021-11-01T00:00:00.000000000', '2021-05-26T00:00:00.000000000',
       '2021-03-23T00:00:00.000000000', '2021-03-22T00:00:00.000000000',
       '2021-02-14T00:00:00.000000000', '2021-12-26T00:00:00.000000000',
       '2022-02-01T00:00:00.000000000', '2021-11-16T00:00:00.000000000',
       '2022-01-13T00:00:00.000000000', '2021-11-12T00:00:00.000000000',
       '2021-07-23T00:00:00.000000000', '2021-07-24T00:00:00.000000000',
       '2021-07-21T00:00:00.000000000', '2021-07-20T00:00:00.000000000',
       '2021-07-16T00:00:00.000000000', '2021-01-27T00:00:00.000000000',
       '2021-09-15T00:00:00.000000000', '2019-09-23T00:00:00.000000000',
       '2021-01-18T00:00:00.000000000', '2022-08-17T00:00:00.000000000',
       '2020-01-27T00:00:00.000000000', '2021-05-23T00:00:00.000000000',
       '2022-08-18T00:00:00.000000000', '2020-06-26T00:00:00.000000000',
       '2022-08-19T00:00:00.000000000', '2019-11-04T00:00:00.000000000',
       '2021-02-27T00:00:00.000000000', '2021-02-26T00:00:00.000000000',
       '2021-02-20T00:00:00.000000000', '2021-09-01T00:00:00.000000000',
       '2021-09-02T00:00:00.000000000', '2022-08-20T00:00:00.000000000',
       '2021-10-14T00:00:00.000000000', '2022-08-21T00:00:00.000000000',
       '2022-08-22T00:00:00.000000000', '2021-04-16T00:00:00.000000000',
       '2019-11-25T00:00:00.000000000', '2022-03-03T00:00:00.000000000',
       '2020-12-29T00:00:00.000000000', '2020-12-30T00:00:00.000000000',
       '2021-08-28T00:00:00.000000000', '2020-09-30T00:00:00.000000000',
       '2021-09-18T00:00:00.000000000', '2022-08-23T00:00:00.000000000',
       '2019-05-08T00:00:00.000000000', '2019-05-16T00:00:00.000000000',
       '2022-08-24T00:00:00.000000000', '2019-10-03T00:00:00.000000000',
       '2022-08-25T00:00:00.000000000', '2019-12-10T00:00:00.000000000',
       '2022-08-26T00:00:00.000000000', '2021-02-10T00:00:00.000000000',
       '2020-06-22T00:00:00.000000000', '2020-06-25T00:00:00.000000000',
       '2022-08-27T00:00:00.000000000', '2020-12-03T00:00:00.000000000',
       '2022-08-28T00:00:00.000000000', '2021-05-10T00:00:00.000000000',
       '2021-04-25T00:00:00.000000000', '2019-11-28T00:00:00.000000000',
       '2020-08-28T00:00:00.000000000', '2021-04-27T00:00:00.000000000',
       '2021-05-25T00:00:00.000000000', '2021-05-29T00:00:00.000000000',
       '2021-06-30T00:00:00.000000000', '2021-07-25T00:00:00.000000000',
       '2022-08-29T00:00:00.000000000', '2021-06-18T00:00:00.000000000',
       '2022-08-30T00:00:00.000000000', '2018-12-20T00:00:00.000000000',
       '2019-08-30T00:00:00.000000000', '2022-08-31T00:00:00.000000000'],
      dtype='datetime64[ns]')

#### PAGOS DUPLICADOS TRADICIONAL

In [11]:
duplicates_trad = pagos_1[pagos_1.duplicated(['report_id','date_file'] , keep=False)]
duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)
duplicates_trad.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16492\189612330.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Banco_emisor,file_name,Batch_time,date_file
9255,DAILY,c4aeb0d4-1595-4b68-9b67-d2087d40bf89,Mini Super Keyla,lsaldana68.ls@gmail.com,226SYVVST,2022-07-30,220.78,Pago del día,BANCOPPEL,Leonardo,137822104162940259,PAID,"2022-07-30,nan,40072,40137,137822104162940259,...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30
33608,DAILY,c4aeb0d4-1595-4b68-9b67-d2087d40bf89,Mini Super Keyla,lsaldana68.ls@gmail.com,226SYVVST,2022-07-30,220.78,Pago del día,BANCOPPEL,Leonardo,137822104162940259,PAID,"2022-07-30,42644264202207301828159986,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30
16128,DAILY,891e4cf0-72ee-4c21-9d30-1ef53a97ad5c,POP CLEAN,eric.narvaez.fuentes@gmail.com,22DB6Y2TQ,2022-07-30,81.93,Pago del día,SANTANDER,Eric Adrian Narvaez Fuentes,14180606118599292,PAID,"2022-07-30,nan,40072,40014,014180606118599292,...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30
32387,DAILY,891e4cf0-72ee-4c21-9d30-1ef53a97ad5c,POP CLEAN,eric.narvaez.fuentes@gmail.com,22DB6Y2TQ,2022-07-30,81.93,Pago del día,SANTANDER,Eric Adrian Narvaez Fuentes,14180606118599292,PAID,"2022-07-30,42644264202207301828163868,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30
40249,DAILY,d89db37d-b896-43e3-891b-0c6984504370,Harbanos Tacos Arabes Francisco De,harbanosfm@outlook.com,22DFGY97X,2022-07-30,819.30,Pago del día,BBVA BANCOMER,GERARDO MANRIQUE CUEVAS,12910011187272527,PAID,"2022-07-30,nan,40072,40012,012910011187272527,...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30

In [12]:
duplicates_trad.shape

(151898, 17)

In [13]:
duplicates_trad.drop_duplicates(subset="report_id", keep='last', inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16492\1645077070.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.drop_duplicates(subset="report_id", keep='last', inplace=True)

In [14]:
duplicates_trad.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Banco_emisor,file_name,Batch_time,date_file
33608,DAILY,c4aeb0d4-1595-4b68-9b67-d2087d40bf89,Mini Super Keyla,lsaldana68.ls@gmail.com,226SYVVST,2022-07-30,220.78,Pago del día,BANCOPPEL,Leonardo,137822104162940259,PAID,"2022-07-30,42644264202207301828159986,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30
32387,DAILY,891e4cf0-72ee-4c21-9d30-1ef53a97ad5c,POP CLEAN,eric.narvaez.fuentes@gmail.com,22DB6Y2TQ,2022-07-30,81.93,Pago del día,SANTANDER,Eric Adrian Narvaez Fuentes,14180606118599292,PAID,"2022-07-30,42644264202207301828163868,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30
34048,DAILY,d89db37d-b896-43e3-891b-0c6984504370,Harbanos Tacos Arabes Francisco De,harbanosfm@outlook.com,22DFGY97X,2022-07-30,819.30,Pago del día,BBVA BANCOMER,GERARDO MANRIQUE CUEVAS,12910011187272527,PAID,"2022-07-30,42644264202207301828163633,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30
32524,DAILY,6f138c0c-b5b4-4ba4-8dc3-dc0f2f6258ab,EL CHANGARRISH,atzin.silva26@gmail.com,22DS5HF7X,2022-07-30,"3,716.05",Pago del día,BBVA BANCOMER,Atzin Silva Serrano,12180015957600731,PAID,"2022-07-30,42644264202207301828164668,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30
34224,DAILY,d9e59402-ea3c-4043-ada1-fa40ad96a9ce,AMPHENOL,vasquezespinosarafael@gmail.com,22RXD2TW2,2022-07-30,"2,483.83",Pago del día,HSBC,ALEXA RUTEAGA VAZQUEZ,21020040570312629,PAID,"2022-07-30,42644264202207301828160195,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30

In [15]:
duplicates_trad.shape

(75949, 17)

In [16]:
pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_trad.reset_index(drop=False, inplace=True)
pivot_duplicates_trad.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16492\1371973529.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16492\1371973529.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],

           tipo  date_file            sum       len
                                total_due total_due
0  Pago del día 2022-07-30   8,998,655.17      4359
1  Pago del día 2022-08-19       2,567.20         1
2  Pago del día 2022-08-22      39,060.82         1
3  Pago del día 2022-08-26       1,467.06         1
4  Pago del día 2022-08-30 130,411,576.94     71069

In [17]:
pivot_duplicates_trad.shape

(12, 4)

#### FAST PAYMENTS

In [18]:
fp_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2022\08. AGOSTO\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx', recursive=False)
fp_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-30.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-07-31.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-30.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\08. AGOSTO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-08-31.xlsx']

In [19]:
pagos_2 = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS').assign(file_name=os.path.basename(f)) for f in fp_files_1])
pagos_2['date_file'] = pagos_2["file_name"].str[-15:-4]
pagos_2['date_file']= pd.to_datetime(pagos_2['date_file']) 
pagos_2.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_2['report_date_local']= pd.to_datetime(pagos_2['report_date_local']) 
pagos_2.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor,file_name,date_file
0,INSTANT,01054eec-e90e-42a8-9471-3fb1711cbbc1,Abarrotes La Perla De Magon,laperlademagon2021@hotmail.com,MCZKTHHCG,2022-07-30,547.17,Pago del día,ASP INTEGRA OPC,Miguel Hernandez Ramirez,659802020000300038,ERROR,NaN,09:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30
3684,INSTANT,edea88b7-aa5a-43bd-9cee-cc7fedee0d24,Cremeria Nene,2nyna0@gmail.com,RWVBB7TBG,2022-07-30,187.81,Pago del día,ASP INTEGRA OPC,Selina Garcia Fernandez,659802020000475280,PAID,"2022-07-30,42644264202207301828440117,40072,90...",16:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30
3683,INSTANT,ecb43829-de91-435a-a6a5-9167256a7c24,La Familia,dianaromerolopez3@gmail.com,D2DQ2XQLK,2022-07-30,231.42,Pago del día,ASP INTEGRA OPC,Diana Alejandra Romero Lopez,659802020000398053,PAID,"2022-07-30,42644264202207301828440120,40072,90...",16:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30
3682,INSTANT,ec98ecb8-6e7c-46fb-99e6-484cdb90edab,La Esmeralda,lohp3556@gmail.com,GKGNSCB9Z,2022-07-30,187.81,Pago del día,ASP INTEGRA OPC,Pablo Lopez Haro,659802020000170019,PAID,"2022-07-30,42644264202207301828440121,40072,90...",16:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30
3681,INSTANT,ec03332d-8e8c-4820-8e67-ec64f818e3d1,The Penthouse,cannabys.uriel09@gmail.com,9V54L5HH9,2022-07-30,99.68,Pago del día,ASP INTEGRA OPC,Miztli Uriel Limas Granados,659802020000171885,PAID,"2022-07-30,42644264202207301828440136,40072,90...",16:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30

In [20]:
pagos_2.shape

(151158, 17)

#### PAGOS REPETIDOS FAST PAYMENTS

In [21]:
duplicates_fp = pagos_2[pagos_2.duplicated(['report_id','date_file'] , keep=False)]
duplicates_fp.sort_values(by=['date_file','report_id','Time'],inplace=True)
duplicates_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16492\1296643442.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.sort_values(by=['date_file','report_id','Time'],inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor,file_name,date_file
2618,INSTANT,ae134fb4-ea0c-47c6-bf07-d781362eb683,Sanki global,edgar_a91@hotmail.com,23SD2PL62,2022-07-30,"1,676.92",Pago del día,ASP INTEGRA OPC,Edgar Saucedo Anaya,659802020000370521,PAID,NaN,14:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30
4429,INSTANT,ae134fb4-ea0c-47c6-bf07-d781362eb683,Sanki global,edgar_a91@hotmail.com,23SD2PL62,2022-07-30,"1,676.92",Pago del día,ASP INTEGRA OPC,Edgar Saucedo Anaya,659802020000370521,PAID,NaN,18:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30
2685,INSTANT,c00f9a4d-f87a-42cf-a27e-588781499fd8,Miscelanea El Yeti,ana.ortegaa25@gmail.com,248NZFNCJ,2022-07-30,51.75,Pago del día,ASP INTEGRA OPC,Ana Morales Ortega,659802020000349015,PAID,NaN,14:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30
4498,INSTANT,c00f9a4d-f87a-42cf-a27e-588781499fd8,Miscelanea El Yeti,ana.ortegaa25@gmail.com,248NZFNCJ,2022-07-30,51.75,Pago del día,ASP INTEGRA OPC,Ana Morales Ortega,659802020000349015,PAID,NaN,18:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30
2871,INSTANT,f8f1802f-b761-449b-995a-4d742e188cbb,Todo en maquillaje,emilimarieltorreshernandez@gmail.com,24C7BV6HC,2022-07-30,90.55,Pago del día,ASP INTEGRA OPC,Emili Mariel Torres Hernandez,659802020000248831,PAID,NaN,14:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30

In [22]:
duplicates_fp.shape

(570, 17)

In [23]:
duplicates_fp.drop_duplicates(subset="report_id", keep='last', inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16492\966439277.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.drop_duplicates(subset="report_id", keep='last', inplace=True)

In [24]:
duplicates_fp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,CEP,Time,Banco_emisor,file_name,date_file
4429,INSTANT,ae134fb4-ea0c-47c6-bf07-d781362eb683,Sanki global,edgar_a91@hotmail.com,23SD2PL62,2022-07-30,"1,676.92",Pago del día,ASP INTEGRA OPC,Edgar Saucedo Anaya,659802020000370521,PAID,NaN,18:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30
4498,INSTANT,c00f9a4d-f87a-42cf-a27e-588781499fd8,Miscelanea El Yeti,ana.ortegaa25@gmail.com,248NZFNCJ,2022-07-30,51.75,Pago del día,ASP INTEGRA OPC,Ana Morales Ortega,659802020000349015,PAID,NaN,18:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30
4732,INSTANT,f8f1802f-b761-449b-995a-4d742e188cbb,Todo en maquillaje,emilimarieltorreshernandez@gmail.com,24C7BV6HC,2022-07-30,90.55,Pago del día,ASP INTEGRA OPC,Emili Mariel Torres Hernandez,659802020000248831,PAID,NaN,18:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30
3766,INSTANT,06cc54d3-f4e4-4c52-9aa0-5b7eaa994bbe,Fisio On,ftgarciac27@gmail.com,255RMTBHF,2022-07-30,450.37,Pago del día,ASP INTEGRA OPC,Nancy Carolina Garcia Esquivel,659802020000016322,PAID,NaN,18:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30
4694,INSTANT,ef1c6c40-ebc9-4481-b147-01d97cb7435a,Miscelnea VAKAS,karly.rivr.18@gmail.com,2BXBJFJX5,2022-07-30,159.07,Pago del día,ASP INTEGRA OPC,Karla Josefina Rivera Cordova,659802020000070520,PAID,NaN,18:00,BANORTE,Dispersión-FP 2022-07-30.xlsx,2022-07-30

In [25]:
duplicates_fp.shape

(285, 17)

In [26]:
pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_fp.reset_index(drop=False, inplace=True)
pivot_duplicates_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16492\3187082303.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_16492\3187082303.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],

             tipo  date_file        sum       len
                              total_due total_due
0    Pago del día 2022-07-30 124,782.11       280
1    Pago del día 2022-08-02   2,772.47         1
2    Pago del día 2022-08-24     287.47         1
3    Pago del día 2022-08-29  11,498.88         1
4  Reprogramación 2022-08-02     104.15         2

In [27]:
pivot_duplicates_fp.shape

(6, 4)

In [28]:
# pivot_duplicates_fp.to_excel('DUPLICADOS FP JUNIO 2021.xlsx',index=True)

#### ALL PAGOS

In [29]:
allpagos = pd.concat([pagos_1,pagos_2])
allpagos.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Banco_emisor,file_name,Batch_time,date_file,swap,CEP,Time
0,DAILY,dfa44465-0cba-471a-bd3d-9887b183b1c8,Veterinaria,Emmanuelgg046@gmail.com,VZ32PWLL5,2022-07-22,2.00,Reprogramación,COMPARTAMOS,Rebeca Vidal Terron,130877001047848903,ERROR,NaN,NaN,Dispersión-20220730.xlsx,NaN,2022-07-30,NaN,NaN,NaN
67695,DAILY,003c78d6-e9fb-4cf8-9f54-dc58a5679e98,Zapateria La Infantil,rudos@hotmail.com,GZQCWKNS5,2022-07-30,"1,695.13",Pago del día,SANTANDER,Roberto Higalgo Rodriguez,14528565473333359,PAID,"2022-07-30,42644264202207301827639749,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,NaN,NaN,NaN
67694,DAILY,003f35e0-1e9f-48ab-9bb7-0835baa8fa6b,Fisioterapia Lowen,fisioterapialowen@gmail.com,FKQL8V6VM,2022-07-30,"3,334.68",Pago del día,BAJIO,Mara Lowen Frey,30680900025614495,PAID,"2022-07-30,nan,40072,40030,030680900025614495,...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,NaN,NaN,NaN
67693,DAILY,0040085e-b204-43d8-a6fd-1b147ff10467,ZAPATERA ALEXA,distribuidoracalzadoalexa@gmail.com,SVDQTSM57,2022-07-30,277.89,Pago del día,BANAMEX,Francisco Crisolo Olguin López,2311450300430853,PAID,"2022-07-30,42644264202207301827660020,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,NaN,NaN,NaN
67692,DAILY,00401777-4c52-4f26-b415-112b790147f2,HERRAMIENTAS RANGEL,Jose_herramientas1979@hotmail.com,K439LSV2J,2022-07-30,"1,054.06",Pago del día,BANAMEX,Jose Antonio Rangel Yepez,2180701328105147,PAID,"2022-07-30,42644264202207301827740587,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,NaN,NaN,NaN

In [30]:
allpagos.shape

(3050531, 20)

In [31]:
allpagos['tipo'].unique()

array(['Reprogramación', 'Pago del día'], dtype=object)

In [32]:
group_allpagos = allpagos.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_allpagos.head()

   date_file      total_due  report_id
0 2022-07-30 226,989,892.43     107056
1 2022-07-31 231,537,292.66     100531
2 2022-08-01 162,119,788.88      72290
3 2022-08-02 166,545,199.63      90134
4 2022-08-03 164,276,912.69      88860

In [33]:
group_allpagos.shape

(33, 3)

#### PAGOS DEL DIA

In [34]:
pagosdia = allpagos[(allpagos['tipo'].isin(['Pago del día']))]
pagosdia.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Banco_emisor,file_name,Batch_time,date_file,swap,CEP,Time
67695,DAILY,003c78d6-e9fb-4cf8-9f54-dc58a5679e98,Zapateria La Infantil,rudos@hotmail.com,GZQCWKNS5,2022-07-30,"1,695.13",Pago del día,SANTANDER,Roberto Higalgo Rodriguez,14528565473333359,PAID,"2022-07-30,42644264202207301827639749,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,NaN,NaN,NaN
67694,DAILY,003f35e0-1e9f-48ab-9bb7-0835baa8fa6b,Fisioterapia Lowen,fisioterapialowen@gmail.com,FKQL8V6VM,2022-07-30,"3,334.68",Pago del día,BAJIO,Mara Lowen Frey,30680900025614495,PAID,"2022-07-30,nan,40072,40030,030680900025614495,...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,NaN,NaN,NaN
67693,DAILY,0040085e-b204-43d8-a6fd-1b147ff10467,ZAPATERA ALEXA,distribuidoracalzadoalexa@gmail.com,SVDQTSM57,2022-07-30,277.89,Pago del día,BANAMEX,Francisco Crisolo Olguin López,2311450300430853,PAID,"2022-07-30,42644264202207301827660020,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,NaN,NaN,NaN
67692,DAILY,00401777-4c52-4f26-b415-112b790147f2,HERRAMIENTAS RANGEL,Jose_herramientas1979@hotmail.com,K439LSV2J,2022-07-30,"1,054.06",Pago del día,BANAMEX,Jose Antonio Rangel Yepez,2180701328105147,PAID,"2022-07-30,42644264202207301827740587,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,NaN,NaN,NaN
67691,DAILY,0041c0d3-497b-4e72-a075-f57778cadc01,Correo 24,galeriacorreo24@gmail.com,FB4BF3TF3,2022-07-30,905.54,Pago del día,BANAMEX,Dyna A Lomeli Camacho,2041901128410829,PAID,"2022-07-30,42644264202207301827679974,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,NaN,NaN,NaN

In [35]:
pagosdia.shape

(3030140, 20)

In [36]:
group_dia = pagosdia.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_dia.head()

   date_file      total_due  report_id
0 2022-07-30 226,084,514.96     106554
1 2022-07-31 230,938,920.02     100035
2 2022-08-01 160,144,141.54      70859
3 2022-08-02 161,692,551.44      86529
4 2022-08-03 163,294,882.13      88174

In [37]:
group_dia.shape

(33, 3)

# PRIMER MATCH (SETTLED VS PAGOS DEL DIA)

In [38]:
check_1 = cum_1.merge(pagosdia[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_1['total_due_y'].fillna('NO ENCONTRADO')
check_1['tipo'].fillna('NO ENCONTRADO',inplace=True)
check_1['file_name_y'].fillna('NO ENCONTRADO',inplace=True)
# check_1.fillna({'total_due_y':'NO ENCONTRADO', 'tipo':'NO ENCONTRADO', 'file_name_y':'NO ENCONTRADO'}, inplace=True)
check_1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_due_x,type,created_date,created_time,updated_date,updated_time,file_name_x,total_due_y,tipo,file_name_y
0,fb7b00dc-34fd-4315-a707-f2f2cc0af11c,CASA MANCINAS,luis.albertomancinas@gmail.com,6MJRGK858,2022-07-30,"15,550.00",559.80,89.56,0.00,0.00,...,"14,900.64",DAILY,2022-07-30,02:00:34,2022-07-30,02:00:34,SETTLEMENT 2022-07-30.csv,"14,900.64",Pago del día,Dispersión-20220730.xlsx
1,a09a033a-d358-4edb-8075-6d62f8448349,LA LUPANA,guadalu7@yahoo.com.mx,HQH9P39WX,2022-07-30,60.00,2.16,0.35,0.00,0.00,...,57.49,DAILY,2022-07-30,02:00:34,2022-07-30,02:00:34,SETTLEMENT 2022-07-30.csv,57.49,Pago del día,Dispersión-20220730.xlsx
2,98cfac80-6c04-4478-a933-c54c3efaff52,ABARROTES ABY,samuel041267@gmail.com,JCRY77N79,2022-07-30,210.00,7.56,1.21,0.00,0.00,...,201.23,DAILY,2022-07-30,02:00:34,2022-07-30,02:00:34,SETTLEMENT 2022-07-30.csv,201.23,Pago del día,Dispersión-20220730.xlsx
3,c62a160d-4af9-431b-8244-70ccb4ebb0a5,PISOS LAMINADOS Y MARMOL VR,dorisjanirmaro@gmail.com,MGH595J2N,2022-07-30,784.50,28.24,4.51,0.00,0.00,...,751.75,DAILY,2022-07-30,02:00:34,2022-07-30,02:00:34,SETTLEMENT 2022-07-30.csv,751.75,Pago del día,Dispersión-20220730.xlsx
4,4687b447-e395-4b0e-8d24-509ec18cf7a6,GORDITAS MI TIA ROSI,pam9057.s@gmail.com,Z95VT9Z6D,2022-07-30,427.50,15.39,2.46,0.00,0.00,...,409.65,DAILY,2022-07-30,02:00:34,2022-07-30,02:00:34,SETTLEMENT 2022-07-30.csv,409.65,Pago del día,Dispersión-20220730.xlsx

In [39]:
check_1['file_name_y'].unique()

array(['Dispersión-20220730.xlsx', 'NO ENCONTRADO',
       'Dispersión-FP 2022-07-30.xlsx', 'Dispersión-20220731.xlsx',
       'Dispersión-FP 2022-07-31.xlsx', 'Dispersión-20220801.xlsx',
       'Dispersión-FP 2022-08-01.xlsx', 'Dispersión-20220802.xlsx',
       'Dispersión-FP 2022-08-02.xlsx', 'Dispersión-20220803.xlsx',
       'Dispersión-FP 2022-08-03.xlsx', 'Dispersión-20220804.xlsx',
       'Dispersión-FP 2022-08-04.xlsx', 'Dispersión-20220805.xlsx',
       'Dispersión-FP 2022-08-05.xlsx', 'Dispersión-20220806.xlsx',
       'Dispersión-FP 2022-08-06.xlsx', 'Dispersión-20220807.xlsx',
       'Dispersión-FP 2022-08-07.xlsx', 'Dispersión-20220808.xlsx',
       'Dispersión-FP 2022-08-08.xlsx', 'Dispersión-20220809.xlsx',
       'Dispersión-FP 2022-08-09.xlsx', 'Dispersión-20220810.xlsx',
       'Dispersión-FP 2022-08-10.xlsx', 'Dispersión-20220811.xlsx',
       'Dispersión-FP 2022-08-11.xlsx', 'Dispersión-20220812.xlsx',
       'Dispersión-FP 2022-08-12.xlsx', 'Dispersión-20220813.xlsx',
       'Dispersión-FP 2022-08-13.xlsx', 'Dispersión-20220814.xlsx',
       'Dispersión-FP 2022-08-14.xlsx', 'Dispersión-20220815.xlsx',
       'Dispersión-FP 2022-08-15.xlsx', 'Dispersión-20220816.xlsx',
       'Dispersión-FP 2022-08-16.xlsx', 'Dispersión-20220817.xlsx',
       'Dispersión-FP 2022-08-17.xlsx', 'Dispersión-20220818.xlsx',
       'Dispersión-FP 2022-08-18.xlsx', 'Dispersión-20220819.xlsx',
       'Dispersión-FP 2022-08-19.xlsx', 'Dispersión-20220820.xlsx',
       'Dispersión-FP 2022-08-20.xlsx', 'Dispersión-20220821.xlsx',
       'Dispersión-FP 2022-08-21.xlsx', 'Dispersión-20220822.xlsx',
       'Dispersión-FP 2022-08-22.xlsx', 'Dispersión-20220823.xlsx',
       'Dispersión-FP 2022-08-23.xlsx', 'Dispersión-20220824.xlsx',
       'Dispersión-FP 2022-08-24.xlsx', 'Dispersión-20220825.xlsx',
       'Dispersión-FP 2022-08-25.xlsx', 'Dispersión-20220826.xlsx',
       'Dispersión-FP 2022-08-26.xlsx', 'Dispersión-20220827.xlsx',
       'Dispersión-FP 2022-08-27.xlsx', 'Dispersión-20220828.xlsx',
       'Dispersión-FP 2022-08-28.xlsx', 'Dispersión-20220829.xlsx',
       'Dispersión-FP 2022-08-29.xlsx', 'Dispersión-20220830.xlsx',
       'Dispersión-FP 2022-08-30.xlsx', 'Dispersión-20220831.xlsx',
       'Dispersión-FP 2022-08-31.xlsx'], dtype=object)

In [40]:
not_found_1 = check_1[((check_1['file_name_y'].isnull()) | (check_1['file_name_y'].isin(['NO ENCONTRADO'])))
                        & (check_1['total_due_x'] != 0)]
not_found_1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_due_x,type,created_date,created_time,updated_date,updated_time,file_name_x,total_due_y,tipo,file_name_y
544,86ba956b-dafe-4ebd-8aca-bf6646427767,LA FLOR DE CHIAPAS,lupitaorozco921@gmail.com,CZJ5BF457,2022-07-30,580.00,20.88,3.34,0.00,0.00,...,555.78,DAILY,2022-07-30,02:02:17,2022-07-30,02:02:17,SETTLEMENT 2022-07-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
629,54c34257-6f28-4bef-ae68-de8590802074,MANUFACTURERA LATINA SA DE CV,luis.mmx15@gmail.com,VMQ2GV9B4,2022-07-30,0.01,0.00,0.00,0.00,0.00,...,0.01,DAILY,2022-07-30,02:02:35,2022-07-30,02:02:35,SETTLEMENT 2022-07-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
1116,57d95934-e2d7-4532-a026-1039258e2517,SARU SUSHI,sarusushihbx@gmail.com,X4J9JMGRS,2022-07-30,"1,939.00",69.80,11.17,0.00,0.00,...,"1,858.03",DAILY,2022-07-30,02:04:22,2022-07-30,02:04:22,SETTLEMENT 2022-07-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
1128,8e1fd951-e004-44c2-97b6-b6069d9d9503,MINI SUPER SANTA CECILIA,brayanulisesperez513@gmail.com,5W9L6RP9R,2022-07-30,785.91,28.30,4.54,0.00,0.00,...,753.07,DAILY,2022-07-30,02:04:25,2022-07-30,02:04:25,SETTLEMENT 2022-07-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
1923,35724d3b-cfdd-4575-9258-1151cc7d24e8,DULCES EL BORREGUITO CIMARRON,aerotampicoclip@gmail.com,VMCNYB5QT,2022-07-30,"4,455.82",160.39,25.66,0.00,0.00,...,"4,269.77",DAILY,2022-07-30,02:06:52,2022-07-30,02:06:52,SETTLEMENT 2022-07-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO

In [41]:
not_found_1.shape

(10283, 29)

In [42]:
group_notfound = not_found_1.groupby(['report_date_local']).agg({'total_due_x':sum,'report_id':'count'}).reset_index()
group_notfound.rename(columns={'report_date_local':'date_file'},inplace=True)
group_notfound.head()

   date_file  total_due_x  report_id
0 2022-07-30   209,964.27        316
1 2022-07-31   368,926.74        331
2 2022-08-01   279,855.72        243
3 2022-08-02   164,132.52        264
4 2022-08-03   183,201.60        291

In [43]:
group_notfound.shape

(33, 3)

#### REPROGRAMACIONES

In [44]:
repro = allpagos[(allpagos['tipo'].isin(['Reprogramación']))]
repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Banco_emisor,file_name,Batch_time,date_file,swap,CEP,Time
0,DAILY,dfa44465-0cba-471a-bd3d-9887b183b1c8,Veterinaria,Emmanuelgg046@gmail.com,VZ32PWLL5,2022-07-22,2.00,Reprogramación,COMPARTAMOS,Rebeca Vidal Terron,130877001047848903,ERROR,NaN,NaN,Dispersión-20220730.xlsx,NaN,2022-07-30,NaN,NaN,NaN
69147,DAILY,0506f3b6-cf3b-4fc6-993b-6ab36af07819,Capitan Crispin,capitanChepesin@gmail.com,T9MLCXWD9,2022-05-24,"1,509.23",Reprogramación,BANCOPPEL,Jose Avigahil Balam Vela,137691104588956906,PAID,"2022-07-30,42644264202207301827718652,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,NaN,NaN,NaN
64560,DAILY,085edca3-ac8d-432b-b079-137d8d325eed,Farmacia varels,marcoscorreavarela2004@gmail.com,HP5MBVV2T,2022-07-25,1.95,Reprogramación,SANTANDER,Guadalupe Varela,14430605688790353,PAID,"2022-07-30,42644264202207301827719440,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,NaN,NaN,NaN
64559,DAILY,085edca3-ac8d-432b-b079-137d8d325eed,Farmacia varels,marcoscorreavarela2004@gmail.com,9W2M4RX55,2022-07-23,0.95,Reprogramación,SANTANDER,Guadalupe Varela,14430605688790353,PAID,"2022-07-30,42644264202207301827681790,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,NaN,NaN,NaN
64582,DAILY,085edca3-ac8d-432b-b079-137d8d325eed,Farmacia varels,marcoscorreavarela2004@gmail.com,G5SF78D22,2022-07-24,1.90,Reprogramación,SANTANDER,Guadalupe Varela,14430605688790353,PAID,"2022-07-30,42644264202207301827641621,40072,40...",BANORTE,Dispersión-20220730.xlsx,NaN,2022-07-30,NaN,NaN,NaN

In [45]:
repro.shape

(20391, 20)

In [46]:
group_repro = repro.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_repro.head()

   date_file    total_due  report_id
0 2022-07-30   905,377.47        502
1 2022-07-31   598,372.64        496
2 2022-08-01 1,975,647.34       1431
3 2022-08-02 4,852,648.19       3605
4 2022-08-03   982,030.56        686

In [47]:
group_repro.shape

(33, 3)

# SEGUNDO MATCH (IDENTIFICACION DE REPROGRAMACIONES)

In [48]:
check_2 = not_found_1.merge(repro[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_2.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,created_time,updated_date,updated_time,file_name_x,total_due_y,tipo_x,file_name_y,total_due,tipo_y,file_name
0,86ba956b-dafe-4ebd-8aca-bf6646427767,LA FLOR DE CHIAPAS,lupitaorozco921@gmail.com,CZJ5BF457,2022-07-30,580.00,20.88,3.34,0.00,0.00,...,02:02:17,2022-07-30,02:02:17,SETTLEMENT 2022-07-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,555.78,Reprogramación,Dispersión-20220801.xlsx
1,54c34257-6f28-4bef-ae68-de8590802074,MANUFACTURERA LATINA SA DE CV,luis.mmx15@gmail.com,VMQ2GV9B4,2022-07-30,0.01,0.00,0.00,0.00,0.00,...,02:02:35,2022-07-30,02:02:35,SETTLEMENT 2022-07-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,NaN,NaN,NaN
2,57d95934-e2d7-4532-a026-1039258e2517,SARU SUSHI,sarusushihbx@gmail.com,X4J9JMGRS,2022-07-30,"1,939.00",69.80,11.17,0.00,0.00,...,02:04:22,2022-07-30,02:04:22,SETTLEMENT 2022-07-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,"1,858.03",Reprogramación,Dispersión-20220818.xlsx
3,8e1fd951-e004-44c2-97b6-b6069d9d9503,MINI SUPER SANTA CECILIA,brayanulisesperez513@gmail.com,5W9L6RP9R,2022-07-30,785.91,28.30,4.54,0.00,0.00,...,02:04:25,2022-07-30,02:04:25,SETTLEMENT 2022-07-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,753.07,Reprogramación,Dispersión-20220731.xlsx
4,35724d3b-cfdd-4575-9258-1151cc7d24e8,DULCES EL BORREGUITO CIMARRON,aerotampicoclip@gmail.com,VMCNYB5QT,2022-07-30,"4,455.82",160.39,25.66,0.00,0.00,...,02:06:52,2022-07-30,02:06:52,SETTLEMENT 2022-07-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,NaN,NaN,NaN

In [49]:
check_2.shape

(10469, 32)

In [50]:
# writer = pd.ExcelWriter('REPROGRAMACIONES JUNIO 2021.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})
# check_2.to_excel(writer, sheet_name='DETAIL REPROGRAMACIONES',index=False)
# writer.save()
# writer.close()

# FECHA DE PAGOS (SETTLED VS PAGOS DEL DIA)

In [51]:
fecha_pago = not_found_1.merge(repro[['report_id','date_file','tipo','status','file_name']] ,on='report_id', how='left')
fecha_pago.sort_values(by=['date_file'],ascending=True,inplace=True)
fecha_pago.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,updated_date,updated_time,file_name_x,total_due_y,tipo_x,file_name_y,date_file,tipo_y,status,file_name
113,7f228795-fbaf-4c98-8b17-8b03bd17a70a,ABARROTES FER,cardozafernando88@gmail.com,3MKD2S9JN,2022-07-30,0.01,0.00,0.00,0.00,0.00,...,2022-07-30,03:55:58,SETTLEMENT 2022-07-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-07-31,Reprogramación,PAID,Dispersión-20220731.xlsx
97,fdd97b78-742b-4087-87ae-f7cbce8f84f0,NUEVO LEON,aguaveinte12@gmail.com,4QSP3NMQV,2022-07-30,110.00,3.96,0.64,0.00,0.00,...,2022-07-30,03:39:22,SETTLEMENT 2022-07-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-07-31,Reprogramación,PAID,Dispersión-20220731.xlsx
98,7d1d6711-b453-47f3-9891-5fb006d4aba9,LAS CHIPS,laschipsags@icloud.com,5JRTKQSYQ,2022-07-30,470.00,16.91,2.70,0.00,0.00,...,2022-07-30,03:42:30,SETTLEMENT 2022-07-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-07-31,Reprogramación,PAID,Dispersión-20220731.xlsx
260,0ba62e14-3677-41a9-8fa6-cd3125d89a6d,MISCELNEA MR,lymrj2502@gmail.com,9V6MJ4H59,2022-07-30,1.00,0.04,0.01,0.00,0.00,...,2022-07-30,06:22:27,SETTLEMENT 2022-07-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-07-31,Reprogramación,PAID,Dispersión-20220731.xlsx
39,ca5ce4b5-d032-40a4-8938-edb85eaa3309,ANTOJITOS MEXICANOS DOA ALE,alejandraseguraramirez@gmail.com,DFRNS3HKM,2022-07-30,514.04,18.51,2.97,0.00,0.00,...,2022-07-30,02:36:16,SETTLEMENT 2022-07-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-07-31,Reprogramación,PAID,Dispersión-20220731.xlsx

In [52]:
fecha_pago.shape

(10469, 33)

In [53]:
fecha_pago.drop_duplicates(subset ='report_id',keep='first',inplace=True)

In [54]:
fecha_pago.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,updated_date,updated_time,file_name_x,total_due_y,tipo_x,file_name_y,date_file,tipo_y,status,file_name
113,7f228795-fbaf-4c98-8b17-8b03bd17a70a,ABARROTES FER,cardozafernando88@gmail.com,3MKD2S9JN,2022-07-30,0.01,0.00,0.00,0.00,0.00,...,2022-07-30,03:55:58,SETTLEMENT 2022-07-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-07-31,Reprogramación,PAID,Dispersión-20220731.xlsx
97,fdd97b78-742b-4087-87ae-f7cbce8f84f0,NUEVO LEON,aguaveinte12@gmail.com,4QSP3NMQV,2022-07-30,110.00,3.96,0.64,0.00,0.00,...,2022-07-30,03:39:22,SETTLEMENT 2022-07-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-07-31,Reprogramación,PAID,Dispersión-20220731.xlsx
98,7d1d6711-b453-47f3-9891-5fb006d4aba9,LAS CHIPS,laschipsags@icloud.com,5JRTKQSYQ,2022-07-30,470.00,16.91,2.70,0.00,0.00,...,2022-07-30,03:42:30,SETTLEMENT 2022-07-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-07-31,Reprogramación,PAID,Dispersión-20220731.xlsx
260,0ba62e14-3677-41a9-8fa6-cd3125d89a6d,MISCELNEA MR,lymrj2502@gmail.com,9V6MJ4H59,2022-07-30,1.00,0.04,0.01,0.00,0.00,...,2022-07-30,06:22:27,SETTLEMENT 2022-07-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-07-31,Reprogramación,PAID,Dispersión-20220731.xlsx
39,ca5ce4b5-d032-40a4-8938-edb85eaa3309,ANTOJITOS MEXICANOS DOA ALE,alejandraseguraramirez@gmail.com,DFRNS3HKM,2022-07-30,514.04,18.51,2.97,0.00,0.00,...,2022-07-30,02:36:16,SETTLEMENT 2022-07-30.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-07-31,Reprogramación,PAID,Dispersión-20220731.xlsx

In [55]:
fecha_pago.shape

(10283, 33)

### AGRUPADO POR DÍA

In [56]:
pivot_fecha_pago = pd.pivot_table(fecha_pago,index=['report_date_local'],
                                  values=['total_due_x'],aggfunc = ['sum', len],margins=True)
pivot_fecha_pago.head()

                            sum         len
                    total_due_x total_due_x
report_date_local
2022-07-30 00:00:00  209,964.27         316
2022-07-31 00:00:00  368,926.74         331
2022-08-01 00:00:00  279,855.72         243
2022-08-02 00:00:00  164,132.52         264
2022-08-03 00:00:00  183,201.60         291

In [57]:
pivot_fecha_pago.shape

(34, 2)

# PAGOS MANUALES

In [58]:
file_manual = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2022\08. AUGUST\MANUALES\*.xlsx', recursive=False)
file_manual

['G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\08. AUGUST\\MANUALES\\Manuales 2022.07.30 - 2022.08.22.xlsx',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\08. AUGUST\\MANUALES\\Manuales 2022.08.23 - 2022.08.31.xlsx']

In [59]:
manuales_all = pd.concat([pd.read_excel(f,sheet_name='Formato Pago Manual',skiprows=1
                                      ,converters={'Cta. CLABE de depósito':str,'report_id':str})
                          .assign(file_name=os.path.basename(f)) for f in file_manual])
manuales_all['Date']= pd.to_datetime(manuales_all['Date'])  
manuales_all['Tipo'] = 'MANUAL'

In [60]:
manuales_final = manuales_all[['Date','ME ID','ME NAME',' (mxn)','Banco','Justificación para el pago','Tipo','Report ID']]
manuales_final.head()

,Date,ME ID,ME NAME,(mxn),Banco,Justificación para el pago,Tipo,Report ID
0,2022-08-01,632a18da-1cc5-4225-bd2a-97fa0b89a1bd,EMPRENDEDOR,"2,587.25","Banco Nacional de Mexico, S.A.","se solicita pago manual, por reembolso a comis...",MANUAL,Mck2MDO
1,2022-08-01,632a18da-1cc5-4225-bd2a-97fa0b89a1bd,EMPRENDEDOR,"1,533.18","Banco Nacional de Mexico, S.A.","se solicita pago manual, por reembolso a comis...",MANUAL,LtkwD5j
2,2022-08-01,632a18da-1cc5-4225-bd2a-97fa0b89a1bd,EMPRENDEDOR,958.24,"Banco Nacional de Mexico, S.A.","se solicita pago manual, por reembolso a comis...",MANUAL,CzvKrlP
3,2022-08-01,632a18da-1cc5-4225-bd2a-97fa0b89a1bd,EMPRENDEDOR,958.24,"Banco Nacional de Mexico, S.A.","se solicita pago manual, por reembolso a comis...",MANUAL,ofXKAB2
4,2022-08-08,f9c8098c-909d-48b3-b69d-59734d668005,SAONARA SHOES VILLAHERMOSA,249.00,"BBVA Bancomer, S.A.",Re: SOP-8906 || ME aranzapg44@gmail.com || Ree...,MANUAL,NaN

In [61]:
manuales_final.shape

(17, 8)

In [62]:
manuales_final.columns

Index(['Date', 'ME ID', 'ME NAME', ' (mxn)', 'Banco',
       'Justificación para el pago', 'Tipo', 'Report ID'],
      dtype='object')

In [63]:
group_manual = manuales_final.groupby(['Date']).agg({' (mxn)':sum,'Report ID':'count'}).reset_index()
group_manual.rename(columns={'Date':'date_file','Report ID':'report_id'},inplace=True)
group_manual.head()

   date_file      (mxn)  report_id
0 2022-08-01   6,036.91          4
1 2022-08-08     249.00          0
2 2022-08-10     201.23          1
3 2022-08-11     159.90          0
4 2022-08-16 122,041.81          3

In [64]:
group_manual.shape

(7, 3)

# ACUMULADOS SETTLEMENT

In [65]:
conc_disp = cum_distinct_0.groupby(['report_date_local']).agg({'total_due':sum,'report_id':'count'}).reset_index()
conc_disp.rename(columns={'report_date_local':'date_file'}, inplace=True)
conc_disp.head()

   date_file      total_due  report_id
0 2022-07-30 217,171,041.95     102231
1 2022-07-31 231,307,846.76     100366
2 2022-08-01 160,423,997.26      71102
3 2022-08-02 161,853,911.49      86792
4 2022-08-03 163,478,083.73      88465

In [66]:
conc_disp.shape

(33, 3)

# MERGING ALL DATA FRAMES

In [67]:
total_1 = conc_disp.merge(group_repro[['date_file','total_due','report_id']],on='date_file',how='left') \
.merge(group_manual,on='date_file',how='left')
total_1[' (mxn)'].fillna(0,inplace=True)
total_1['report_id'].fillna(0,inplace=True)
total_1.head()

,date_file,total_due_x,report_id_x,total_due_y,report_id_y,(mxn),report_id
0,2022-07-30,"217,171,041.95",102231,"905,377.47",502,0.00,0.00
1,2022-07-31,"231,307,846.76",100366,"598,372.64",496,0.00,0.00
2,2022-08-01,"160,423,997.26",71102,"1,975,647.34",1431,"6,036.91",4.00
3,2022-08-02,"161,853,911.49",86792,"4,852,648.19",3605,0.00,0.00
4,2022-08-03,"163,478,083.73",88465,"982,030.56",686,0.00,0.00

In [68]:
total_1['count_total_pago_dia'] = total_1['report_id_x'] + total_1['report_id_y'] + total_1['report_id']
total_1['sum_total_pago_dia'] = total_1['total_due_x'] + total_1['total_due_y'] + total_1[' (mxn)']

In [69]:
total_1

,date_file,total_due_x,report_id_x,total_due_y,report_id_y,(mxn),report_id,count_total_pago_dia,sum_total_pago_dia
0,2022-07-30,"217,171,041.95",102231,"905,377.47",502,0.00,0.00,"102,733.00","218,076,419.42"
1,2022-07-31,"231,307,846.76",100366,"598,372.64",496,0.00,0.00,"100,862.00","231,906,219.40"
2,2022-08-01,"160,423,997.26",71102,"1,975,647.34",1431,"6,036.91",4.00,"72,537.00","162,405,681.51"
3,2022-08-02,"161,853,911.49",86792,"4,852,648.19",3605,0.00,0.00,"90,397.00","166,706,559.68"
4,2022-08-03,"163,478,083.73",88465,"982,030.56",686,0.00,0.00,"89,151.00","164,460,114.29"
5,2022-08-04,"167,394,558.62",90549,"943,011.64",453,0.00,0.00,"91,002.00","168,337,570.26"
6,2022-08-05,"172,987,601.86",93789,"1,177,244.98",591,0.00,0.00,"94,380.00","174,164,846.84"
7,2022-08-06,"196,926,276.45",99469,"1,035,539.55",568,0.00,0.00,"100,037.00","197,961,816.00"
8,2022-08-07,"218,431,894.83",97126,"684,454.69",459,0.00,0.00,"97,585.00","219,116,349.52"
9,2022-08-08,"147,371,311.38",68348,"598,945.24",324,249.00,0.00,"68,672.00","147,970,505.62"
10,2022-08-09,"152,310,747.69",84088,"1,405,253.39",333,0.00,0.00,"84,421.00","153,716,001.08"
11,2022-08-10,"156,017,749.29",86136,"1,311,644.52",371,201.23,1.00,"86,508.00","157,329,595.04"
12,2022-08-11,"159,291,421.07",88896,"551,820.40",484,159.90,0.00,"89,380.00","159,843,401.37"
13,2022-08-12,"169,196,973.94",93304,"931,340.44",277,0.00,0.00,"93,581.00","170,128,314.38"
14,2022-08-13,"198,957,466.74",99556,"530,160.76",440,0.00,0.00,"99,996.00","199,487,627.50"
15,2022-08-14,"213,577,948.46",96950,"329,686.21",338,0.00,0.00,"97,288.00","213,907,634.67"
16,2022-08-15,"146,004,914.59",68979,"371,957.30",362,0.00,0.00,"69,341.00","146,376,871.89"
17,2022-08-16,"162,837,606.18",87941,"686,455.66",513,"122,041.81",3.00,"88,457.00","163,646,103.65"
18,2022-08-17,"162,617,875.65",89191,"1,085,459.99",413,308.57,0.00,"89,604.00","163,703,644.21"
19,2022-08-18,"169,504,515.23",91827,"535,055.61",380,0.00,0.00,"92,207.00","170,039,570.84"
20,2022-08-19,"175,257,515.34",93751,"713,744.12",527,"9,047.70",3.00,"94,281.00","175,980,307.16"
21,2022-08-20,"206,356,568.93",101055,"581,635.80",460,0.00,0.00,"101,515.00","206,938,204.73"
22,2022-08-21,"217,166,109.96",99199,"336,141.03",245,0.00,0.00,"99,444.00","217,502,250.99"
23,2022-08-22,"149,735,403.54",70038,"721,822.79",427,0.00,0.00,"70,465.00","150,457,226.33"
24,2022-08-23,"154,833,781.41",86165,"838,916.01",482,0.00,0.00,"86,647.00","155,672,697.42"
25,2022-08-24,"157,197,315.20",87973,"637,914.45",375,0.00,0.00,"88,348.00","157,835,229.65"
26,2022-08-25,"161,328,404.21",90411,"971,726.51",345,0.00,0.00,"90,756.00","162,300,130.72"
27,2022-08-26,"178,914,507.67",96314,"1,495,394.09",792,0.00,0.00,"97,106.00","180,409,901.76"
28,2022-08-27,"203,617,796.19",102350,"832,080.55",670,0.00,0.00,"103,020.00","204,449,876.74"
29,2022-08-28,"227,615,945.14",102170,"530,866.66",377,0.00,0.00,"102,547.00","228,146,811.80"
30,2022-08-29,"152,664,925.20",72328,"749,413.32",400,0.00,0.00,"72,728.00","153,414,338.52"
31,2022-08-30,"158,689,523.41",87822,"2,042,478.07",988,0.00,0.00,"88,810.00","160,732,001.48"
32,2022-08-31,"163,886,918.74",89982,"2,243,454.89",1277,0.00,0.00,"91,259.00","166,130,373.63"

# ACUMULADOS PAGO DEL DIA

In [70]:
total_2 = group_allpagos.merge(group_notfound[['date_file','total_due_x','report_id']],on='date_file',how='left')\
.merge(group_manual,on='date_file',how='left')
total_2[' (mxn)'].fillna(0,inplace=True)
total_2['report_id'].fillna(0,inplace=True)
total_2['total_due_x'].fillna(0,inplace=True)
total_2['report_id_y'].fillna(0,inplace=True)
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id
0,2022-07-30,"226,989,892.43",107056,"209,964.27",316,0.00,0.00
1,2022-07-31,"231,537,292.66",100531,"368,926.74",331,0.00,0.00
2,2022-08-01,"162,119,788.88",72290,"279,855.72",243,"6,036.91",4.00
3,2022-08-02,"166,545,199.63",90134,"164,132.52",264,0.00,0.00
4,2022-08-03,"164,276,912.69",88860,"183,201.60",291,0.00,0.00

In [71]:
total_2['count_swap_dia'] = total_2['report_id_x'] + total_2['report_id_y'] + total_2['report_id']
total_2['sum_swap_dia'] = total_2['total_due'] + total_2['total_due_x'] + total_2[' (mxn)']

In [72]:
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id,count_swap_dia,sum_swap_dia
0,2022-07-30,"226,989,892.43",107056,"209,964.27",316,0.00,0.00,"107,372.00","227,199,856.70"
1,2022-07-31,"231,537,292.66",100531,"368,926.74",331,0.00,0.00,"100,862.00","231,906,219.40"
2,2022-08-01,"162,119,788.88",72290,"279,855.72",243,"6,036.91",4.00,"72,537.00","162,405,681.51"
3,2022-08-02,"166,545,199.63",90134,"164,132.52",264,0.00,0.00,"90,398.00","166,709,332.15"
4,2022-08-03,"164,276,912.69",88860,"183,201.60",291,0.00,0.00,"89,151.00","164,460,114.29"

In [73]:
total_2.shape

(33, 9)

# COMPARACION FINAL

In [74]:
final_comparacion = total_1[['date_file','count_total_pago_dia','sum_total_pago_dia']] \
.merge(total_2[['date_file','count_swap_dia','sum_swap_dia']],on='date_file',how='left')
final_comparacion.head()

,date_file,count_total_pago_dia,sum_total_pago_dia,count_swap_dia,sum_swap_dia
0,2022-07-30,"102,733.00","218,076,419.42","107,372.00","227,199,856.70"
1,2022-07-31,"100,862.00","231,906,219.40","100,862.00","231,906,219.40"
2,2022-08-01,"72,537.00","162,405,681.51","72,537.00","162,405,681.51"
3,2022-08-02,"90,397.00","166,706,559.68","90,398.00","166,709,332.15"
4,2022-08-03,"89,151.00","164,460,114.29","89,151.00","164,460,114.29"

In [75]:
final_comparacion['diff_count'] = final_comparacion['count_total_pago_dia'] - final_comparacion['count_swap_dia']
final_comparacion['diff_sum'] = final_comparacion['sum_total_pago_dia'] - final_comparacion['sum_swap_dia']

In [76]:
final_comparacion

,date_file,count_total_pago_dia,sum_total_pago_dia,count_swap_dia,sum_swap_dia,diff_count,diff_sum
0,2022-07-30,"102,733.00","218,076,419.42","107,372.00","227,199,856.70","-4,639.00","-9,123,437.28"
1,2022-07-31,"100,862.00","231,906,219.40","100,862.00","231,906,219.40",0.00,-0.00
2,2022-08-01,"72,537.00","162,405,681.51","72,537.00","162,405,681.51",0.00,0.00
3,2022-08-02,"90,397.00","166,706,559.68","90,398.00","166,709,332.15",-1.00,"-2,772.47"
4,2022-08-03,"89,151.00","164,460,114.29","89,151.00","164,460,114.29",0.00,0.00
5,2022-08-04,"91,002.00","168,337,570.26","91,002.00","168,337,570.26",0.00,0.00
6,2022-08-05,"94,380.00","174,164,846.84","94,380.00","174,164,846.84",0.00,0.00
7,2022-08-06,"100,037.00","197,961,816.00","100,037.00","197,961,816.00",0.00,0.00
8,2022-08-07,"97,585.00","219,116,349.52","97,585.00","219,116,349.52",0.00,0.00
9,2022-08-08,"68,672.00","147,970,505.62","68,672.00","147,970,505.62",0.00,0.00
10,2022-08-09,"84,421.00","153,716,001.08","84,421.00","153,716,001.08",0.00,0.00
11,2022-08-10,"86,508.00","157,329,595.04","86,508.00","157,329,595.04",0.00,0.00
12,2022-08-11,"89,380.00","159,843,401.37","89,380.00","159,843,401.37",0.00,0.00
13,2022-08-12,"93,581.00","170,128,314.38","93,581.00","170,128,314.38",0.00,0.00
14,2022-08-13,"99,996.00","199,487,627.50","99,996.00","199,487,627.50",0.00,0.00
15,2022-08-14,"97,288.00","213,907,634.67","97,288.00","213,907,634.67",0.00,0.00
16,2022-08-15,"69,341.00","146,376,871.89","69,341.00","146,376,871.89",0.00,0.00
17,2022-08-16,"88,457.00","163,646,103.65","88,457.00","163,646,103.65",0.00,0.00
18,2022-08-17,"89,604.00","163,703,644.21","89,604.00","163,703,644.21",0.00,0.00
19,2022-08-18,"92,207.00","170,039,570.84","92,207.00","170,039,570.84",0.00,0.00
20,2022-08-19,"94,281.00","175,980,307.16","94,282.00","175,982,874.36",-1.00,"-2,567.20"
21,2022-08-20,"101,515.00","206,938,204.73","101,515.00","206,938,204.73",0.00,0.00
22,2022-08-21,"99,444.00","217,502,250.99","99,444.00","217,502,250.99",0.00,0.00
23,2022-08-22,"70,465.00","150,457,226.33","70,466.00","150,496,287.15",-1.00,"-39,060.82"
24,2022-08-23,"86,647.00","155,672,697.42","86,647.00","155,672,697.42",0.00,0.00
25,2022-08-24,"88,348.00","157,835,229.65","88,349.00","157,835,517.12",-1.00,-287.47
26,2022-08-25,"90,756.00","162,300,130.72","90,756.00","162,300,130.72",0.00,0.00
27,2022-08-26,"97,106.00","180,409,901.76","97,107.00","180,411,368.82",-1.00,"-1,467.06"
28,2022-08-27,"103,020.00","204,449,876.74","103,020.00","204,449,876.74",0.00,0.00
29,2022-08-28,"102,547.00","228,146,811.80","102,547.00","228,146,811.80",0.00,-0.00
30,2022-08-29,"72,728.00","153,414,338.52","72,729.00","153,425,837.40",-1.00,"-11,498.88"
31,2022-08-30,"88,810.00","160,732,001.48","159,879.00","291,143,578.42","-71,069.00","-130,411,576.94"
32,2022-08-31,"91,259.00","166,130,373.63","91,305.00","166,161,378.78",-46.00,"-31,005.15"

In [77]:
writer = pd.ExcelWriter('FASE III. SETTLED VS PAGO DIA AGOSTO 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_fecha_pago.to_excel(writer, sheet_name='ENVIADOS POSTERIOR')
fecha_pago.to_excel(writer, sheet_name='DETAIL NO ENCONTRADO',index=False)
pivot_duplicates_trad.to_excel(writer, sheet_name='PAGOS DUPLICADOS')
pivot_duplicates_fp.to_excel(writer, sheet_name='FP PAGOS DUPLICADOS')
group_manual.to_excel(writer, sheet_name='PAGOS MANUALES')
writer.close()