In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
start_date = '2023-09-01'
final_date = '2023-09-30'
query_error_year = 2023
query_error_month = 9

# INFORMACION DE  CUBETA ERROR

In [3]:
query_error = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\09. SEPTIEMBRE\DATA\ERROR SEPTIEMBRE 2023.csv',
                          dtype={'report_id':object})
query_error.rename(columns ={'MAX(report_date_local)':'report_date_local'}, inplace=True)
query_error['report_date_local']= pd.to_datetime(query_error['report_date_local'])
query_error['ultimo_mov'] = pd.to_datetime(query_error['ultimo_mov'])
query_error['merchant_id_query'] = query_error['merchant_id']
query_error['ultimo_mov_date_only']= pd.to_datetime(query_error['ultimo_mov']).dt.date
query_error['day'] = query_error['ultimo_mov'].dt.day
query_error['month'] = query_error['ultimo_mov'].dt.month
query_error['year'] = query_error['ultimo_mov'].dt.year
# query_error.loc[((query_error['day'] == 30 )
#                 & (query_error['month'] == 7)
#                 & (query_error['year'] == 2022)), "mes_cierre"] = 'Actual'
# query_error.loc[(query_error['day'] == 31 )
#             & (query_error['month'] == 7 )
#             & (query_error['year'] == 2022), "mes_cierre"] = 'Actual'
query_error.loc[(query_error['month'] == query_error_month )
            & (query_error['year'] == query_error_year), "mes_cierre"] = 'Actual'
query_error.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_24996\2983591189.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  query_error = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2023\09. SEPTIEMBRE\DATA\ERROR SEPTIEMBRE 2023.csv',

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre
0,0,b088c4b4-29dd-42c8-bd29-1eda61f73973,Mscelanea Dulce Maria,GTS92WH86,2015-11-05,734.34,ERROR,swap devuelto,2017-08-15,8,2017,ERROR,ERROR_USUAL,b088c4b4-29dd-42c8-bd29-1eda61f73973,2017-08-15,15,NaN
1,1,b088c4b4-29dd-42c8-bd29-1eda61f73973,Mscelanea Dulce Maria,8VQRDV39G,2015-11-06,597.26,ERROR,swap devuelto,2017-08-15,8,2017,ERROR,ERROR_USUAL,b088c4b4-29dd-42c8-bd29-1eda61f73973,2017-08-15,15,NaN
2,2,d1087b80-5383-4b90-8738-bf309a1ce297,Grupo Solutec,82G5CYSR7,2015-12-21,"9,160.77",ERROR,failed swap,2017-11-01,11,2017,ERROR,ERROR_USUAL,d1087b80-5383-4b90-8738-bf309a1ce297,2017-11-01,1,NaN
3,3,8f666f7d-5eb8-4367-9c52-5564d6aca0c5,Ediciones Malinalco S de RL de CV,XWRKLC2ZL,2016-02-08,"1,216.98",ERROR,confirmar la cuenta,2017-05-12,5,2017,ERROR,ERROR_USUAL,8f666f7d-5eb8-4367-9c52-5564d6aca0c5,2017-05-12,12,NaN
4,4,8f666f7d-5eb8-4367-9c52-5564d6aca0c5,Ediciones Malinalco S de RL de CV,D9468C7W4,2016-02-16,"1,993.14",ERROR,confirmar la cuenta,2017-05-12,5,2017,ERROR,ERROR_USUAL,8f666f7d-5eb8-4367-9c52-5564d6aca0c5,2017-05-12,12,NaN

In [4]:
query_error.shape

(146572, 17)

In [5]:
query_error.dtypes

Unnamed: 0                       int64
merchant_id                     object
merchant_name                   object
report_id                       object
report_date_local       datetime64[ns]
amount                         float64
status                          object
error_description               object
ultimo_mov              datetime64[ns]
month                            int32
year                             int32
status_cubeta                   object
esquema_query                   object
merchant_id_query               object
ultimo_mov_date_only            object
day                              int32
mes_cierre                      object
dtype: object

In [6]:
query_error['esquema_query'].unique()

array(['ERROR_USUAL', 'SIN_CLABE'], dtype=object)

In [7]:
query_error['status_cubeta'].unique()

array(['ERROR', 'NEW'], dtype=object)

# FILTRAR INFORMACION DE ACUERDO AL MES EN CURSO

In [8]:
query_error_current_month = query_error[(query_error['mes_cierre'] == 'Actual')]
query_error_current_month.sort_values(by=['day'],inplace=True)
query_error_current_month.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_24996\3502651561.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  query_error_current_month.sort_values(by=['day'],inplace=True)

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre
137158,137158,a58e4e8d-43ca-4208-b6c5-7472515870db,NaN,A2YN83MDN,2023-08-31,143.74,ERROR,DEV.SPEIEXCEDE EL LNMITE DE AB,2023-09-01,9,2023,NEW,ERROR_USUAL,a58e4e8d-43ca-4208-b6c5-7472515870db,2023-09-01,1,Actual
92261,92261,39488a20-a5f8-4397-8998-7fc4e75d594f,Abarrotes vero,R52VTB4SF,2022-12-12,"1,302.25",ERROR,DEVOLUCION(20): Excede el limite de saldo auto...,2023-09-01,9,2023,NEW,ERROR_USUAL,39488a20-a5f8-4397-8998-7fc4e75d594f,2023-09-01,1,Actual
137492,137492,9d160f57-491d-412f-b9e8-12d014e58093,NaN,AMHK8RCGN,2023-09-01,"8,389.26",ERROR,DEVOLUCION(02): Cuenta bloqueada 127420...,2023-09-01,9,2023,NEW,ERROR_USUAL,9d160f57-491d-412f-b9e8-12d014e58093,2023-09-01,1,Actual
92368,92368,39488a20-a5f8-4397-8998-7fc4e75d594f,Abarrotes vero,8Z4RQJK2L,2022-12-13,939.06,ERROR,DEVOLUCION(20): Excede el limite de saldo auto...,2023-09-01,9,2023,NEW,ERROR_USUAL,39488a20-a5f8-4397-8998-7fc4e75d594f,2023-09-01,1,Actual
92491,92491,39488a20-a5f8-4397-8998-7fc4e75d594f,Abarrotes vero,6CLXR2573,2022-12-14,"1,270.64",ERROR,DEVOLUCION(20): Excede el limite de saldo auto...,2023-09-01,9,2023,NEW,ERROR_USUAL,39488a20-a5f8-4397-8998-7fc4e75d594f,2023-09-01,1,Actual

In [9]:
query_error_current_month.shape

(9872, 17)

In [10]:
query_error_current_month['month'].unique()

array([9])

In [11]:
query_error_current_month.columns

Index(['Unnamed: 0', 'merchant_id', 'merchant_name', 'report_id',
       'report_date_local', 'amount', 'status', 'error_description',
       'ultimo_mov', 'month', 'year', 'status_cubeta', 'esquema_query',
       'merchant_id_query', 'ultimo_mov_date_only', 'day', 'mes_cierre'],
      dtype='object')

In [12]:
duplicates_query_error = query_error_current_month[query_error_current_month.duplicated(['report_id'] , keep=False)]
duplicates_query_error.head()

Empty DataFrame
Columns: [Unnamed: 0, merchant_id, merchant_name, report_id, report_date_local, amount, status, error_description, ultimo_mov, month, year, status_cubeta, esquema_query, merchant_id_query, ultimo_mov_date_only, day, mes_cierre]
Index: []

In [13]:
duplicates_query_error.shape

(0, 17)

# PAGOS NEW DE MESES ANTERIORES

In [14]:
query_new_last_month = query_error[(query_error['mes_cierre'] != 'Actual') & (query_error['status_cubeta'] == 'NEW')]
query_new_last_month.sort_values(by=['day'],inplace=True)
query_new_last_month.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_24996\3381233170.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  query_new_last_month.sort_values(by=['day'],inplace=True)

Empty DataFrame
Columns: [Unnamed: 0, merchant_id, merchant_name, report_id, report_date_local, amount, status, error_description, ultimo_mov, month, year, status_cubeta, esquema_query, merchant_id_query, ultimo_mov_date_only, day, mes_cierre]
Index: []

In [15]:
query_new_last_month.shape

(0, 17)

# INFORMACIÓN QUERIES - PAGOS

In [16]:
name_header = ['merchant_id','merchant_name','user_email','report_id','report_date_local','amount','status','bank_name'
               ,'payment_date_local','bank_account_owner_name','bank_account_number','swap']

### NEXT MONTH

In [17]:
# TRADICIONAL
# trad_files_csv_2021_may = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\06. JUNE\QUERIES\*.csv', recursive=False)
# trad_files_txt_2021_apr = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\04. APRIL\QUERIES\*.txt', recursive=False)
# FAST PAYMENTS
# fp_files_csv_2021_may = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2021\06. JUNE\QUERIES\*.csv', recursive=False)

In [18]:
# disp_files_csv_2021_may = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
#                             .assign(file_name=os.path.basename(f)) for f in trad_files_csv_2021_may])
# disp_files_csv_2021_may['date_query'] = disp_files_csv_2021_may["file_name"].str[-14:-4]
# disp_files_csv_2021_may['date_query']= pd.to_datetime(disp_files_csv_2021_may['date_query'])

In [19]:
# fp_disp_files_csv_2021_may = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
#                             .assign(file_name=os.path.basename(f)) for f in fp_files_csv_2021_may])
# fp_disp_files_csv_2021_may['date_query'] = fp_disp_files_csv_2021_may["file_name"].str[-14:-4]
# fp_disp_files_csv_2021_may['date_query']= pd.to_datetime(fp_disp_files_csv_2021_may['date_query'])

### CURRENT MONTH

In [20]:
# TRADICIONAL
trad_files_csv_2022_current = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\09. SEPTEMBER\QUERIES\*.csv', recursive=False)
# trad_files_txt_2021_apr = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\04. APRIL\QUERIES\*.txt', recursive=False)
# FAST PAYMENTS
fp_files_csv_2022_current = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\02. FAST PAYMENTS\2023\09. SEPTIEMBRE\QUERIES\*.csv', recursive=False)

In [21]:
disp_files_csv_2022_current = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in trad_files_csv_2022_current])
disp_files_csv_2022_current['date_query'] = disp_files_csv_2022_current["file_name"].str[-14:-4]
disp_files_csv_2022_current['date_query']= pd.to_datetime(disp_files_csv_2022_current['date_query'])

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_24996\1256843064.py:1: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  disp_files_csv_2022_current = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_24996\1256843064.py:1: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  disp_files_csv_2022_current = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_24996\1256843064.py:1: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  disp_files_csv_2022_current = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_24996\1256843064.py:1: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  disp_files_csv_2022_current = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_24996\1256843064.py:1: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  disp_files_csv_2022_current = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})

In [22]:
fp_disp_files_csv_2022_current = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in fp_files_csv_2022_current])
fp_disp_files_csv_2022_current['date_query'] = fp_disp_files_csv_2022_current["file_name"].str[-14:-4]
fp_disp_files_csv_2022_current['date_query']= pd.to_datetime(fp_disp_files_csv_2022_current['date_query'])

### LAST MONTH

In [23]:
# TRADICIONAL
trad_files_csv_2021_last = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\08. AUGUST\QUERIES\*.csv', recursive=False)
# trad_files_txt_2021_apr = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\04. APRIL\QUERIES\*.txt', recursive=False)
# FAST PAYMENTS
fp_files_csv_2021_last = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\02. FAST PAYMENTS\2023\08. AGOSTO\QUERIES\*.csv', recursive=False)

In [24]:
disp_files_csv_2021_last = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in trad_files_csv_2021_last])
disp_files_csv_2021_last['date_query'] = disp_files_csv_2021_last["file_name"].str[-14:-4]
disp_files_csv_2021_last['date_query']= pd.to_datetime(disp_files_csv_2021_last['date_query'])

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_24996\1395025386.py:1: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  disp_files_csv_2021_last = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_24996\1395025386.py:1: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  disp_files_csv_2021_last = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_24996\1395025386.py:1: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  disp_files_csv_2021_last = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_24996\1395025386.py:1: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  disp_files_csv_2021_last = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})

In [25]:
fp_disp_files_csv_2021_last = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in fp_files_csv_2021_last])
fp_disp_files_csv_2021_last['date_query'] = fp_disp_files_csv_2021_last["file_name"].str[-14:-4]
fp_disp_files_csv_2021_last['date_query']= pd.to_datetime(fp_disp_files_csv_2021_last['date_query'])

### SPECIAL MONTH

In [26]:
# TRADICIONAL
trad_files_csv_2021_spec = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2023\07. JULY\QUERIES\*.csv', recursive=False)
# trad_files_txt_2021_apr = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\04. APRIL\QUERIES\*.txt', recursive=False)
# FAST PAYMENTS
fp_files_csv_2021_spec = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\02. FAST PAYMENTS\2023\07. JULIO\QUERIES\*.csv', recursive=False)

In [27]:
disp_files_csv_2021_spec = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in trad_files_csv_2021_spec])
disp_files_csv_2021_spec['date_query'] = disp_files_csv_2021_spec["file_name"].str[-14:-4]
disp_files_csv_2021_spec['date_query']= pd.to_datetime(disp_files_csv_2021_spec['date_query'])

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_24996\4195701225.py:1: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  disp_files_csv_2021_spec = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_24996\4195701225.py:1: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  disp_files_csv_2021_spec = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})

In [28]:
fp_disp_files_csv_2021_spec = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                            .assign(file_name=os.path.basename(f)) for f in fp_files_csv_2021_spec])
fp_disp_files_csv_2021_spec['date_query'] = fp_disp_files_csv_2021_spec["file_name"].str[-14:-4]
fp_disp_files_csv_2021_spec['date_query']= pd.to_datetime(fp_disp_files_csv_2021_spec['date_query'])

## ALL FILES

In [29]:
allfiles = pd.concat([disp_files_csv_2022_current,fp_disp_files_csv_2022_current
                     ,disp_files_csv_2021_last,fp_disp_files_csv_2021_last,
                     disp_files_csv_2021_spec,fp_disp_files_csv_2021_spec])
allfiles.reset_index()
allfiles.fillna('BLANK',inplace=True)
allfiles['date_query']= pd.to_datetime(allfiles['date_query'])
allfiles['report_date_local']= pd.to_datetime(allfiles['report_date_local'])
allfiles.loc[(allfiles['file_name'].str.contains('FP'),'tipo_dispersion')] = 'FP'
allfiles.loc[(allfiles['file_name'].str.contains('SWAP'),'tipo_dispersion')] = 'TRAD'
allfiles.loc[(allfiles['file_name'].str.contains('BNTE'),'tipo_dispersion')] = 'TRAD'
allfiles.loc[(allfiles['file_name'].str.contains('SANT'),'tipo_dispersion')] = 'TRAD'
allfiles.sort_values(by=['date_query','report_id'],inplace=True)
allfiles.drop(['status'],axis=1,inplace=True)
allfiles.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,batch_created_date,disbursement_method,swap,file_name,date_query,tipo_dispersion
3510,INSTANT,ab347b7d-7bc3-4aa2-bdef-9b8a54721169,11326391-880d-40d4-876b-79578ad53a57,LA NUBE ARTESANAL,fernando@idemsport.com,2H4VP2QMH,2022-11-15,344.97,ASP INTEGRA OPC,2023-07-01 13:20:01,Fernando Margain Morales,'659802020000012892,2023-07-01 12:55:56,BANORTE,"Fernando Margain Morales,,344.97,6598020200000...",FP-ALL 2023-07-01.csv,2023-07-01,FP
2013,DAILY,dad30253-f762-4835-ac81-88da19027087,73b433c6-0dad-461d-a9b9-b4e2cd378cf6,Mariachi Conquistadores,conquistadores200@hotmail.com,2MNBS8GYF,2021-12-03,0.03,BBVA Bancomer,2023-07-01 12:00:10,Roxana Noemi Alcerreca Rueda,'012180015621366738,2023-07-01 10:35:00,BANORTE,"Roxana Noemi Alcerreca Rueda,,0.03,01218001562...",BNTE-2 2023-07-01.csv,2023-07-01,TRAD
31965,DAILY,48758a3a-a1c4-4212-ac57-8abe91bb3c55,8c39023d-a23c-477d-a61d-faaad72cf940,Grupo banquetero Dgi,anuaraf@msn.com,2RDJ9GXQR,2023-03-15,191.65,Scotiabank Inverlat,2023-07-01 12:51:34,Anuar Flores Frias,'044180001038781250,2023-07-01 10:13:09,BANORTE,"Anuar Flores Frias,,191.65,044180001038781250,...",BNTE-1 2023-07-01.csv,2023-07-01,TRAD
3513,INSTANT,ab347b7d-7bc3-4aa2-bdef-9b8a54721169,11326391-880d-40d4-876b-79578ad53a57,LA NUBE ARTESANAL,fernando@idemsport.com,362FL37N3,2022-11-17,57.49,ASP INTEGRA OPC,2023-07-01 13:19:53,Fernando Margain Morales,'659802020000012892,2023-07-01 12:55:56,BANORTE,"Fernando Margain Morales,,57.49,65980202000001...",FP-ALL 2023-07-01.csv,2023-07-01,FP
2695,INSTANT,86a715c9-0980-485f-9945-271fc0a68ac4,de9a79ed-c29d-4c82-a8cc-52e34758dfa8,Techmovil,vale_fresa06@hotmail.com,36ZVM6FZW,2022-07-03,281.73,"Opciones Empresariales del Noreste, S.A. de C....",2023-07-01 15:29:50,Valeria Estrada Rosales,'659802020000213507,2023-07-01 15:05:47,BANORTE,"Valeria Estrada Rosales,,281.73,65980202000021...",FP-ALL 2023-07-01.csv,2023-07-01,FP

In [30]:
def tipo_pago(allfiles):
    if allfiles['date_query'] == allfiles['report_date_local']:
        return 'Pago del día'
    else:
        return 'Reprogramación'
allfiles['tipo_pago'] = allfiles.apply(tipo_pago, axis=1)

In [31]:
allfiles.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,batch_created_date,disbursement_method,swap,file_name,date_query,tipo_dispersion,tipo_pago
3510,INSTANT,ab347b7d-7bc3-4aa2-bdef-9b8a54721169,11326391-880d-40d4-876b-79578ad53a57,LA NUBE ARTESANAL,fernando@idemsport.com,2H4VP2QMH,2022-11-15,344.97,ASP INTEGRA OPC,2023-07-01 13:20:01,Fernando Margain Morales,'659802020000012892,2023-07-01 12:55:56,BANORTE,"Fernando Margain Morales,,344.97,6598020200000...",FP-ALL 2023-07-01.csv,2023-07-01,FP,Reprogramación
2013,DAILY,dad30253-f762-4835-ac81-88da19027087,73b433c6-0dad-461d-a9b9-b4e2cd378cf6,Mariachi Conquistadores,conquistadores200@hotmail.com,2MNBS8GYF,2021-12-03,0.03,BBVA Bancomer,2023-07-01 12:00:10,Roxana Noemi Alcerreca Rueda,'012180015621366738,2023-07-01 10:35:00,BANORTE,"Roxana Noemi Alcerreca Rueda,,0.03,01218001562...",BNTE-2 2023-07-01.csv,2023-07-01,TRAD,Reprogramación
31965,DAILY,48758a3a-a1c4-4212-ac57-8abe91bb3c55,8c39023d-a23c-477d-a61d-faaad72cf940,Grupo banquetero Dgi,anuaraf@msn.com,2RDJ9GXQR,2023-03-15,191.65,Scotiabank Inverlat,2023-07-01 12:51:34,Anuar Flores Frias,'044180001038781250,2023-07-01 10:13:09,BANORTE,"Anuar Flores Frias,,191.65,044180001038781250,...",BNTE-1 2023-07-01.csv,2023-07-01,TRAD,Reprogramación
3513,INSTANT,ab347b7d-7bc3-4aa2-bdef-9b8a54721169,11326391-880d-40d4-876b-79578ad53a57,LA NUBE ARTESANAL,fernando@idemsport.com,362FL37N3,2022-11-17,57.49,ASP INTEGRA OPC,2023-07-01 13:19:53,Fernando Margain Morales,'659802020000012892,2023-07-01 12:55:56,BANORTE,"Fernando Margain Morales,,57.49,65980202000001...",FP-ALL 2023-07-01.csv,2023-07-01,FP,Reprogramación
2695,INSTANT,86a715c9-0980-485f-9945-271fc0a68ac4,de9a79ed-c29d-4c82-a8cc-52e34758dfa8,Techmovil,vale_fresa06@hotmail.com,36ZVM6FZW,2022-07-03,281.73,"Opciones Empresariales del Noreste, S.A. de C....",2023-07-01 15:29:50,Valeria Estrada Rosales,'659802020000213507,2023-07-01 15:05:47,BANORTE,"Valeria Estrada Rosales,,281.73,65980202000021...",FP-ALL 2023-07-01.csv,2023-07-01,FP,Reprogramación

In [32]:
allfiles.shape

(9376119, 19)

# CRUCE 1 - MES ACTUAL

In [33]:
cruce_1 = allfiles.merge(query_error_current_month[['report_id','amount','ultimo_mov','ultimo_mov_date_only','month','status'
                                                   ,'error_description','esquema_query','status_cubeta']],on='report_id',how='left')
cruce_1['month'].fillna('Not found',inplace=True)
cruce_1.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount_x,bank_name,payment_date_local,...,tipo_dispersion,tipo_pago,amount_y,ultimo_mov,ultimo_mov_date_only,month,status,error_description,esquema_query,status_cubeta
0,INSTANT,ab347b7d-7bc3-4aa2-bdef-9b8a54721169,11326391-880d-40d4-876b-79578ad53a57,LA NUBE ARTESANAL,fernando@idemsport.com,2H4VP2QMH,2022-11-15,344.97,ASP INTEGRA OPC,2023-07-01 13:20:01,...,FP,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
1,DAILY,dad30253-f762-4835-ac81-88da19027087,73b433c6-0dad-461d-a9b9-b4e2cd378cf6,Mariachi Conquistadores,conquistadores200@hotmail.com,2MNBS8GYF,2021-12-03,0.03,BBVA Bancomer,2023-07-01 12:00:10,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
2,DAILY,48758a3a-a1c4-4212-ac57-8abe91bb3c55,8c39023d-a23c-477d-a61d-faaad72cf940,Grupo banquetero Dgi,anuaraf@msn.com,2RDJ9GXQR,2023-03-15,191.65,Scotiabank Inverlat,2023-07-01 12:51:34,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
3,INSTANT,ab347b7d-7bc3-4aa2-bdef-9b8a54721169,11326391-880d-40d4-876b-79578ad53a57,LA NUBE ARTESANAL,fernando@idemsport.com,362FL37N3,2022-11-17,57.49,ASP INTEGRA OPC,2023-07-01 13:19:53,...,FP,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
4,INSTANT,86a715c9-0980-485f-9945-271fc0a68ac4,de9a79ed-c29d-4c82-a8cc-52e34758dfa8,Techmovil,vale_fresa06@hotmail.com,36ZVM6FZW,2022-07-03,281.73,"Opciones Empresariales del Noreste, S.A. de C....",2023-07-01 15:29:50,...,FP,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN

In [34]:
cruce_1.shape

(9376119, 27)

In [35]:
duplicates_cruce_1_previo = cruce_1[cruce_1.duplicated(['report_id'] , keep=False)]
duplicates_cruce_1_previo.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount_x,bank_name,payment_date_local,...,tipo_dispersion,tipo_pago,amount_y,ultimo_mov,ultimo_mov_date_only,month,status,error_description,esquema_query,status_cubeta
800,BLANK,875bbd26-3e3e-4672-999b-000ad2b327d6,BLANK,BLANK,BLANK,A27BSZ75J,2023-06-25,"4,325.50",Banco Nacional de México,2023-07-02 07:44:37,...,FP,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
1050,BLANK,4f5cf90f-5539-4cb9-a9d4-850a04e064b9,BLANK,BLANK,BLANK,A28X46SY7,2023-06-21,138.12,"Opciones Empresariales del Noreste, S.A. de C....",2023-07-02 07:44:39,...,FP,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
1173,BLANK,d9834451-d7b4-4e04-9922-f2d902de9d63,BLANK,BLANK,BLANK,A29NWFVZK,2023-07-01,306.64,"Banco Mercantil del Norte, S.A.",2023-07-01 11:57:26,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
1214,BLANK,13d53ea5-28b1-48f3-902c-eee1683201d3,BLANK,BLANK,BLANK,A2B34LSS2,2023-07-01,"4,050.05","Banco Santander, S.A.",2023-07-02 07:44:35,...,TRAD,Pago del día,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
2269,BLANK,4f5cf90f-5539-4cb9-a9d4-850a04e064b9,BLANK,BLANK,BLANK,A2KJXNLB3,2023-06-30,197.88,"Opciones Empresariales del Noreste, S.A. de C....",2023-07-02 07:44:38,...,FP,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN

In [36]:
duplicates_cruce_1_previo.shape

(66857, 27)

In [37]:
cruce_1_final = cruce_1[(cruce_1['month'] != 'Not found')]
cruce_1_final.drop_duplicates(subset='report_id',keep='last', inplace=True) 
cruce_1_final.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_24996\1938979547.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cruce_1_final.drop_duplicates(subset='report_id',keep='last', inplace=True)

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount_x,bank_name,payment_date_local,...,tipo_dispersion,tipo_pago,amount_y,ultimo_mov,ultimo_mov_date_only,month,status,error_description,esquema_query,status_cubeta
3557412,BLANK,c360bab1-1acb-4c0a-9c05-fa82a1557a03,BLANK,BLANK,BLANK,AXHB6XYWB,2023-08-04,6.00,"Opciones Empresariales del Noreste, S.A. de C....",2023-08-04 21:56:05,...,FP,Pago del día,6.00,2023-09-01,2023-09-01,9.00,ERROR_TV,/21/CB Return Exceeds the limit of credits all...,ERROR_USUAL,NEW
3628262,BLANK,c360bab1-1acb-4c0a-9c05-fa82a1557a03,BLANK,BLANK,BLANK,AKV36HV7Q,2023-08-05,4.00,"Opciones Empresariales del Noreste, S.A. de C....",2023-08-06 07:32:50,...,TRAD,Pago del día,4.00,2023-09-01,2023-09-01,9.00,ERROR_TV,DEV.SPEIEXCEDE EL LNMITE DE AB,ERROR_USUAL,NEW
3799292,BLANK,c360bab1-1acb-4c0a-9c05-fa82a1557a03,BLANK,BLANK,BLANK,A5NH6QZ7V,2023-05-22,2.00,"Opciones Empresariales del Noreste, S.A. de C....",2023-08-08 07:55:12,...,FP,Reprogramación,2.00,2023-09-01,2023-09-01,9.00,ERROR_TV,DEV.SPEIEXCEDE EL LNMITE DE AB,ERROR_USUAL,NEW
3801065,BLANK,c360bab1-1acb-4c0a-9c05-fa82a1557a03,BLANK,BLANK,BLANK,A6BWF3JMT,2023-05-08,6.00,"Opciones Empresariales del Noreste, S.A. de C....",2023-08-08 07:55:12,...,FP,Reprogramación,6.00,2023-09-01,2023-09-01,9.00,ERROR_TV,DEV.SPEIEXCEDE EL LNMITE DE AB,ERROR_USUAL,NEW
3851924,BLANK,c360bab1-1acb-4c0a-9c05-fa82a1557a03,BLANK,BLANK,BLANK,AT6J8HZ49,2023-06-18,12.00,"Opciones Empresariales del Noreste, S.A. de C....",2023-08-08 07:55:12,...,FP,Reprogramación,12.00,2023-09-01,2023-09-01,9.00,ERROR_TV,DEV.SPEIEXCEDE EL LNMITE DE AB,ERROR_USUAL,NEW

In [38]:
cruce_1_final.shape

(4494, 27)

In [39]:
duplicates_cruce_1_final = cruce_1_final[cruce_1_final.duplicated(['report_id'] , keep=False)]
duplicates_cruce_1_final.head()

Empty DataFrame
Columns: [type, merchant_id, merchant_token, merchant_name, user_email, report_id, report_date_local, amount_x, bank_name, payment_date_local, bank_account_owner_name, bank_account_number, batch_created_date, disbursement_method, swap, file_name, date_query, tipo_dispersion, tipo_pago, amount_y, ultimo_mov, ultimo_mov_date_only, month, status, error_description, esquema_query, status_cubeta]
Index: []

[0 rows x 27 columns]

In [40]:
duplicates_cruce_1_final.shape

(0, 27)

# CRUCE 2 MES ACTUAL

In [41]:
cruce_2 = query_error_current_month.merge(allfiles[['report_id','tipo_dispersion','tipo_pago']],on='report_id',how='left')
cruce_2['tipo_dispersion'].fillna('Not found',inplace=True)
cruce_2.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre,tipo_dispersion,tipo_pago
0,137158,a58e4e8d-43ca-4208-b6c5-7472515870db,NaN,A2YN83MDN,2023-08-31,143.74,ERROR,DEV.SPEIEXCEDE EL LNMITE DE AB,2023-09-01,9,2023,NEW,ERROR_USUAL,a58e4e8d-43ca-4208-b6c5-7472515870db,2023-09-01,1,Actual,TRAD,Pago del día
1,92261,39488a20-a5f8-4397-8998-7fc4e75d594f,Abarrotes vero,R52VTB4SF,2022-12-12,"1,302.25",ERROR,DEVOLUCION(20): Excede el limite de saldo auto...,2023-09-01,9,2023,NEW,ERROR_USUAL,39488a20-a5f8-4397-8998-7fc4e75d594f,2023-09-01,1,Actual,TRAD,Reprogramación
2,137492,9d160f57-491d-412f-b9e8-12d014e58093,NaN,AMHK8RCGN,2023-09-01,"8,389.26",ERROR,DEVOLUCION(02): Cuenta bloqueada 127420...,2023-09-01,9,2023,NEW,ERROR_USUAL,9d160f57-491d-412f-b9e8-12d014e58093,2023-09-01,1,Actual,TRAD,Pago del día
3,92368,39488a20-a5f8-4397-8998-7fc4e75d594f,Abarrotes vero,8Z4RQJK2L,2022-12-13,939.06,ERROR,DEVOLUCION(20): Excede el limite de saldo auto...,2023-09-01,9,2023,NEW,ERROR_USUAL,39488a20-a5f8-4397-8998-7fc4e75d594f,2023-09-01,1,Actual,TRAD,Reprogramación
4,92491,39488a20-a5f8-4397-8998-7fc4e75d594f,Abarrotes vero,6CLXR2573,2022-12-14,"1,270.64",ERROR,DEVOLUCION(20): Excede el limite de saldo auto...,2023-09-01,9,2023,NEW,ERROR_USUAL,39488a20-a5f8-4397-8998-7fc4e75d594f,2023-09-01,1,Actual,TRAD,Reprogramación

In [42]:
cruce_2.shape

(11722, 19)

In [43]:
cruce_2_final = cruce_2[(cruce_2['tipo_dispersion'] != 'Not found')]
#cruce_2_final.drop_duplicates(subset='report_id',keep='last', inplace=True) 
cruce_2_final.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre,tipo_dispersion,tipo_pago
0,137158,a58e4e8d-43ca-4208-b6c5-7472515870db,NaN,A2YN83MDN,2023-08-31,143.74,ERROR,DEV.SPEIEXCEDE EL LNMITE DE AB,2023-09-01,9,2023,NEW,ERROR_USUAL,a58e4e8d-43ca-4208-b6c5-7472515870db,2023-09-01,1,Actual,TRAD,Pago del día
1,92261,39488a20-a5f8-4397-8998-7fc4e75d594f,Abarrotes vero,R52VTB4SF,2022-12-12,"1,302.25",ERROR,DEVOLUCION(20): Excede el limite de saldo auto...,2023-09-01,9,2023,NEW,ERROR_USUAL,39488a20-a5f8-4397-8998-7fc4e75d594f,2023-09-01,1,Actual,TRAD,Reprogramación
2,137492,9d160f57-491d-412f-b9e8-12d014e58093,NaN,AMHK8RCGN,2023-09-01,"8,389.26",ERROR,DEVOLUCION(02): Cuenta bloqueada 127420...,2023-09-01,9,2023,NEW,ERROR_USUAL,9d160f57-491d-412f-b9e8-12d014e58093,2023-09-01,1,Actual,TRAD,Pago del día
3,92368,39488a20-a5f8-4397-8998-7fc4e75d594f,Abarrotes vero,8Z4RQJK2L,2022-12-13,939.06,ERROR,DEVOLUCION(20): Excede el limite de saldo auto...,2023-09-01,9,2023,NEW,ERROR_USUAL,39488a20-a5f8-4397-8998-7fc4e75d594f,2023-09-01,1,Actual,TRAD,Reprogramación
4,92491,39488a20-a5f8-4397-8998-7fc4e75d594f,Abarrotes vero,6CLXR2573,2022-12-14,"1,270.64",ERROR,DEVOLUCION(20): Excede el limite de saldo auto...,2023-09-01,9,2023,NEW,ERROR_USUAL,39488a20-a5f8-4397-8998-7fc4e75d594f,2023-09-01,1,Actual,TRAD,Reprogramación

In [44]:
cruce_2_final.shape

(6344, 19)

In [45]:
duplicates_cruce_2_final = cruce_2_final[cruce_2_final.duplicated(['report_id'] , keep=False)]
duplicates_cruce_2_final.head()

,Unnamed: 0,merchant_id,merchant_name,report_id,report_date_local,amount,status,error_description,ultimo_mov,month,year,status_cubeta,esquema_query,merchant_id_query,ultimo_mov_date_only,day,mes_cierre,tipo_dispersion,tipo_pago
20,131436,25ffe999-9c0b-4db1-8b35-2b710c0b0d1c,NaN,AQKWYC5J8,2023-08-10,388.66,ERROR,/21/CB Return m.BNMX_RET_98 (BNMX_RET_98) /SBS...,2023-09-01,9,2023,ERROR,ERROR_USUAL,25ffe999-9c0b-4db1-8b35-2b710c0b0d1c,2023-09-01,1,Actual,TRAD,Pago del día
21,131436,25ffe999-9c0b-4db1-8b35-2b710c0b0d1c,NaN,AQKWYC5J8,2023-08-10,388.66,ERROR,/21/CB Return m.BNMX_RET_98 (BNMX_RET_98) /SBS...,2023-09-01,9,2023,ERROR,ERROR_USUAL,25ffe999-9c0b-4db1-8b35-2b710c0b0d1c,2023-09-01,1,Actual,FP,Reprogramación
23,137508,a6693044-88e6-430a-9501-09601e6406a4,NaN,A3JZGXWR5,2023-09-01,"1,849.40",ERROR,/21/CB Return Blocked account (BNMX_RET_2) /SB...,2023-09-01,9,2023,NEW,ERROR_USUAL,a6693044-88e6-430a-9501-09601e6406a4,2023-09-01,1,Actual,TRAD,Pago del día
24,137508,a6693044-88e6-430a-9501-09601e6406a4,NaN,A3JZGXWR5,2023-09-01,"1,849.40",ERROR,/21/CB Return Blocked account (BNMX_RET_2) /SB...,2023-09-01,9,2023,NEW,ERROR_USUAL,a6693044-88e6-430a-9501-09601e6406a4,2023-09-01,1,Actual,FP,Pago del día
71,137514,d02e4ffe-7313-4637-9a2c-d9a59918feac,NaN,ASGN5VZGY,2023-09-01,220.40,ERROR,/21/CB Return Blocked account (BNMX_RET_2) /SB...,2023-09-01,9,2023,NEW,ERROR_USUAL,d02e4ffe-7313-4637-9a2c-d9a59918feac,2023-09-01,1,Actual,TRAD,Pago del día

In [46]:
duplicates_cruce_2_final.shape

(3101, 19)

# AGRUPADO POR TIPO DE PAGO - MES ACTUAL

In [47]:
group_tipo_pago = pd.pivot_table(cruce_1_final,index=['ultimo_mov_date_only']
                                              ,columns=['esquema_query','status_cubeta','tipo_dispersion',
                                                        'tipo_pago'],values=['amount_x']
                                              ,aggfunc=np.sum,margins=True).reset_index()
group_tipo_pago.fillna(0,inplace=True)
group_tipo_pago.head()

                ultimo_mov_date_only       amount_x                 \
esquema_query                           ERROR_USUAL
status_cubeta                                 ERROR
tipo_dispersion                                  FP           TRAD
tipo_pago                            Reprogramación Reprogramación
0                         2023-09-01       1,589.52           0.00
1                         2023-09-02           0.00           0.00
2                         2023-09-03           0.00           0.00
3                         2023-09-04         253.49           0.00
4                         2023-09-05      50,445.29      75,076.15

                                                                         \
esquema_query
status_cubeta            NEW
tipo_dispersion           FP                        TRAD
tipo_pago       Pago del día Reprogramación Pago del día Reprogramación
0                  25,833.35       1,190.18    39,131.78      89,335.43
1                  73,424.02           0.00     3,414.46           0.00
2                  69,767.11           0.00    52,585.96           5.74
3                   4,201.88           0.00    67,756.57           0.00
4                  10,009.20      25,795.12    56,549.91           0.00


esquema_query          All
status_cubeta
tipo_dispersion
tipo_pago
0               157,080.26
1                76,838.48
2               122,358.81
3                72,211.94
4               217,875.67

In [48]:
group_tipo_pago.shape

(31, 8)

In [49]:
group_esquema = pd.pivot_table(cruce_1_final,index=['ultimo_mov_date_only']
                                              ,columns=['esquema_query','status_cubeta','tipo_pago'],values=['amount_x']
                                              ,aggfunc=np.sum,margins=True).reset_index()
group_esquema.fillna(0,inplace=True)
group_esquema.head()

              ultimo_mov_date_only       amount_x                              \
esquema_query                         ERROR_USUAL
status_cubeta                               ERROR          NEW
tipo_pago                          Reprogramación Pago del día Reprogramación
0                       2023-09-01       1,589.52    64,965.13      90,525.61
1                       2023-09-02           0.00    76,838.48           0.00
2                       2023-09-03           0.00   122,353.07           5.74
3                       2023-09-04         253.49    71,958.45           0.00
4                       2023-09-05     125,521.44    66,559.11      25,795.12


esquema_query        All
status_cubeta
tipo_pago
0             157,080.26
1              76,838.48
2             122,358.81
3              72,211.94
4             217,875.67

In [50]:
group_esquema.shape

(31, 5)

# CRUCE 3 - MES ANTERIOR

In [51]:
cruce_3 = allfiles.merge(query_new_last_month[['report_id','amount','ultimo_mov','ultimo_mov_date_only','month','status',
                                               'error_description','esquema_query','status_cubeta']],
                         on='report_id',how='left')
cruce_3['month'].fillna('Not found',inplace=True)
cruce_3.head()

,type,merchant_id,merchant_token,merchant_name,user_email,report_id,report_date_local,amount_x,bank_name,payment_date_local,...,tipo_dispersion,tipo_pago,amount_y,ultimo_mov,ultimo_mov_date_only,month,status,error_description,esquema_query,status_cubeta
0,INSTANT,ab347b7d-7bc3-4aa2-bdef-9b8a54721169,11326391-880d-40d4-876b-79578ad53a57,LA NUBE ARTESANAL,fernando@idemsport.com,2H4VP2QMH,2022-11-15,344.97,ASP INTEGRA OPC,2023-07-01 13:20:01,...,FP,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
1,DAILY,dad30253-f762-4835-ac81-88da19027087,73b433c6-0dad-461d-a9b9-b4e2cd378cf6,Mariachi Conquistadores,conquistadores200@hotmail.com,2MNBS8GYF,2021-12-03,0.03,BBVA Bancomer,2023-07-01 12:00:10,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
2,DAILY,48758a3a-a1c4-4212-ac57-8abe91bb3c55,8c39023d-a23c-477d-a61d-faaad72cf940,Grupo banquetero Dgi,anuaraf@msn.com,2RDJ9GXQR,2023-03-15,191.65,Scotiabank Inverlat,2023-07-01 12:51:34,...,TRAD,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
3,INSTANT,ab347b7d-7bc3-4aa2-bdef-9b8a54721169,11326391-880d-40d4-876b-79578ad53a57,LA NUBE ARTESANAL,fernando@idemsport.com,362FL37N3,2022-11-17,57.49,ASP INTEGRA OPC,2023-07-01 13:19:53,...,FP,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN
4,INSTANT,86a715c9-0980-485f-9945-271fc0a68ac4,de9a79ed-c29d-4c82-a8cc-52e34758dfa8,Techmovil,vale_fresa06@hotmail.com,36ZVM6FZW,2022-07-03,281.73,"Opciones Empresariales del Noreste, S.A. de C....",2023-07-01 15:29:50,...,FP,Reprogramación,NaN,NaT,NaN,Not found,NaN,NaN,NaN,NaN

In [52]:
cruce_3.shape

(9376119, 27)

In [53]:
cruce_3_final = cruce_3[(cruce_3['month'] != 'Not found')]
cruce_3_final.drop_duplicates(subset='report_id',keep='last', inplace=True) 
cruce_3_final.head()

Empty DataFrame
Columns: [type, merchant_id, merchant_token, merchant_name, user_email, report_id, report_date_local, amount_x, bank_name, payment_date_local, bank_account_owner_name, bank_account_number, batch_created_date, disbursement_method, swap, file_name, date_query, tipo_dispersion, tipo_pago, amount_y, ultimo_mov, ultimo_mov_date_only, month, status, error_description, esquema_query, status_cubeta]
Index: []

[0 rows x 27 columns]

In [54]:
cruce_3_final.shape

(0, 27)

In [55]:
duplicates_cruce_3_final = cruce_3_final[cruce_3_final.duplicated(['report_id'] , keep=False)]
duplicates_cruce_3_final.head()

Empty DataFrame
Columns: [type, merchant_id, merchant_token, merchant_name, user_email, report_id, report_date_local, amount_x, bank_name, payment_date_local, bank_account_owner_name, bank_account_number, batch_created_date, disbursement_method, swap, file_name, date_query, tipo_dispersion, tipo_pago, amount_y, ultimo_mov, ultimo_mov_date_only, month, status, error_description, esquema_query, status_cubeta]
Index: []

[0 rows x 27 columns]

In [56]:
duplicates_cruce_3_final.shape

(0, 27)

# CRUCE 4 - MES ANTERIOR

In [57]:
cruce_4 = query_new_last_month.merge(allfiles[['report_id','tipo_dispersion','tipo_pago']],on='report_id',how='left')
cruce_4['tipo_dispersion'].fillna('Not found',inplace=True)
cruce_4.head()

Empty DataFrame
Columns: [Unnamed: 0, merchant_id, merchant_name, report_date_local, amount, status, error_description, ultimo_mov, month, year, status_cubeta, esquema_query, merchant_id_query, ultimo_mov_date_only, day, mes_cierre, report_id, tipo_dispersion, tipo_pago]
Index: []

In [58]:
cruce_4.shape

(0, 19)

In [59]:
cruce_4_final = cruce_4[(cruce_4['tipo_dispersion'] != 'Not found')]
#cruce_2_final.drop_duplicates(subset='report_id',keep='last', inplace=True) 
cruce_4_final.head()

Empty DataFrame
Columns: [Unnamed: 0, merchant_id, merchant_name, report_date_local, amount, status, error_description, ultimo_mov, month, year, status_cubeta, esquema_query, merchant_id_query, ultimo_mov_date_only, day, mes_cierre, report_id, tipo_dispersion, tipo_pago]
Index: []

In [60]:
cruce_4_final.shape

(0, 19)

In [61]:
duplicates_cruce_4_final = cruce_4_final[cruce_4_final.duplicated(['report_id'] , keep=False)]
duplicates_cruce_4_final.head()

Empty DataFrame
Columns: [Unnamed: 0, merchant_id, merchant_name, report_date_local, amount, status, error_description, ultimo_mov, month, year, status_cubeta, esquema_query, merchant_id_query, ultimo_mov_date_only, day, mes_cierre, report_id, tipo_dispersion, tipo_pago]
Index: []

In [62]:
duplicates_cruce_4_final.shape

(0, 19)

# AGRUPADO POR TIPO DE PAGO - MES ANTERIOR

In [63]:
group_tipo_pago_last_month = pd.pivot_table(cruce_3_final,index=['ultimo_mov_date_only']
                                              ,columns=['esquema_query','status_cubeta','tipo_dispersion',
                                                        'tipo_pago'],values=['amount_x']
                                              ,aggfunc=np.sum,margins=True).reset_index()
group_tipo_pago_last_month.fillna(0,inplace=True)
group_tipo_pago_last_month.head()

Empty DataFrame
Columns: [(ultimo_mov_date_only, , , , )]
Index: []

In [64]:
group_tipo_pago_last_month.shape

(0, 1)

In [65]:
group_esquema_last_month = pd.pivot_table(cruce_4_final,index=['ultimo_mov_date_only']
                                              ,columns=['esquema_query','status_cubeta','tipo_pago'],values=['amount']
                                              ,aggfunc=np.sum,margins=True).reset_index()
group_esquema_last_month.fillna(0,inplace=True)
group_esquema_last_month.head()

Empty DataFrame
Columns: [(ultimo_mov_date_only, , , )]
Index: []

In [66]:
group_esquema_last_month.shape

(0, 1)

In [67]:
writer = pd.ExcelWriter('FASE V. DATA POLIZA ERROR-USUAL SEPTIEMBRE 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
group_tipo_pago.to_excel(writer, sheet_name='GRUPO TIPO PAGO')
group_esquema.to_excel(writer, sheet_name='GRUPO ESQUEMA')
group_tipo_pago_last_month.to_excel(writer, sheet_name='GRUPO TIPO PAGO-MESES ANT')
group_esquema_last_month.to_excel(writer, sheet_name='GRUPO ESQUEMA-MESES ANT')
cruce_1_final.to_excel(writer, sheet_name='DETALLE',index=False)
cruce_3_final.to_excel(writer, sheet_name='DETALLE-MESES ANTERIORES',index=False)
writer.close()