In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
import datetime
pd.options.display.float_format = '{:,.2f}'.format
datetime.timedelta(days=1)
datetime.timedelta(1)

datetime.timedelta(days=1)

In [2]:
allfiles_adj = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2022\04. ABRIL\DATA\ADJ*.csv', recursive=False)
allfiles_adj

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2022\\04. ABRIL\\DATA\\ADJUSTMENTS ABRIL 2022.csv']

In [3]:
allfiles_ret = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2022\04. ABRIL\DATA\RET*.csv', recursive=False)
allfiles_ret

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2022\\04. ABRIL\\DATA\\RETENCIONES ABRIL 2022.csv']

In [4]:
allfiles_lib = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\POLIZAS\2022\04. ABRIL\DATA\LIB*.csv', recursive=False)
allfiles_lib

['C:\\Users\\Cristian.Aparicio\\Documents\\POLIZAS\\2022\\04. ABRIL\\DATA\\LIBERACIONES ABRIL 2022.csv']

In [5]:
allfiles_com = glob.glob(r'G:\My Drive\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2022\04. APRIL\MONTOS EMAIL\*.csv', recursive=False)
allfiles_com

['G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-01.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-02.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-03.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-04.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-05.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-06.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-07.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-08.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-09.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-10.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-11.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-12.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-13.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-14.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-15.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-16.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-17.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-18.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-19.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-20.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-21.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-22.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-23.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-24.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS-2 2022-04-24.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-25.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-26.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-27.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-28.csv',
 'G:\\My Drive\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\04. APRIL\\MONTOS EMAIL\\DIFF MONTOS 2022-04-29.csv']

In [6]:
allfiles_lender = glob.glob(r'G:\My Drive\RESPALDO-PC\LENDERS\2022\**\COLLECTIONS\*.csv', recursive=True)
allfiles_lender

['G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-01.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-03.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-04.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-05.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-06.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-07.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-09.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-08.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-10.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-11.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-12.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-02.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-13.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-14.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-15.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-16.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-17.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-18.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-19.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-20.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-21.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-22.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-23.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-24.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-25.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-26.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-27.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-28.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-29.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-30.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\01. ENERO\\COLLECTIONS\\collections_finance_2022-01-31.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-01.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-02.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-03.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-07.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-04.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-05.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-06.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-08.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-09.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-10.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-11.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-13.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-14.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-12.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-15.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-16.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-17.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-20.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-19.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-18.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-21.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-22.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-23.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-24.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-26.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-27.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-25.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\02. FEBRERO\\COLLECTIONS\\collections_finance_2022-02-28.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-01.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-02.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-03.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-04.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-05.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-06.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-07.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-08.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-09.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-10.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-12.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-13.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-11.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-14.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-29.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-28.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-27.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-19.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-20.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-21.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-22.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-24.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-25.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-16.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-17.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-18.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-30.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\03. MARZO\\COLLECTIONS\\collections_finance_2022-03-31.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-04.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-02.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-01.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-03.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-05.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-06.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-07.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-10.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-09.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-08.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-12.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-17.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-16.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-15.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-14.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-13.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-18.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-19.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-11.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-20.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-25.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-24.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-21.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-22.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-23.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-26.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-27.csv',
 'G:\\My Drive\\RESPALDO-PC\\LENDERS\\2022\\04. ABRIL\\COLLECTIONS\\collections_finance_2022-04-28.csv']

In [7]:
start_date = '2022-04-27'
final_date = '2022-04-29'

# ADJUSTMENTS

In [8]:
adj_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_adj])
adj_1.head()

,report_id,report_date_local,adjustment_date_local,adjustment_type,adjustment_amount,fees_charged,taxes,amount_due,type,date,file_name
0,9F8CY7JF5,2022-04-01,2022-04-01,LOAN,-772.39,0.00,0.00,-772.39,DAILY,2022-04-01,ADJUSTMENTS ABRIL 2022.csv
1,YWZL3Q38V,2022-04-01,2022-04-01,LOAN,-22.34,0.00,0.00,-22.34,DAILY,2022-04-01,ADJUSTMENTS ABRIL 2022.csv
2,Z5H5LJRKY,2022-04-01,2022-04-01,LOAN,-63.82,0.00,0.00,-63.82,DAILY,2022-04-01,ADJUSTMENTS ABRIL 2022.csv
3,62RTFGC23,2022-04-01,2022-04-01,LOAN,-249.30,0.00,0.00,-249.30,DAILY,2022-04-01,ADJUSTMENTS ABRIL 2022.csv
4,NQGY93J93,2022-04-01,2022-04-01,LOAN,"-3,854.56",0.00,0.00,"-3,854.56",DAILY,2022-04-01,ADJUSTMENTS ABRIL 2022.csv

In [9]:
adj_1.shape

(59358, 11)

### CURRENT DATES

In [10]:
adj_current_month = adj_1[(adj_1['date'] >= start_date) & (adj_1['date'] <= final_date)]
adj_current_month.head()

,report_id,report_date_local,adjustment_date_local,adjustment_type,adjustment_amount,fees_charged,taxes,amount_due,type,date,file_name
52949,FPMD8CGPS,2022-04-27,2022-04-27,LOAN,-855.53,0.00,0.00,-855.53,DAILY,2022-04-27,ADJUSTMENTS ABRIL 2022.csv
52950,PRKW6QDSY,2022-04-27,2022-04-27,LOAN,-800.71,0.00,0.00,-800.71,DAILY,2022-04-27,ADJUSTMENTS ABRIL 2022.csv
52951,QNY56HLMH,2022-04-27,2022-04-27,LOAN,-194.04,0.00,0.00,-194.04,DAILY,2022-04-27,ADJUSTMENTS ABRIL 2022.csv
52952,TXTWR8HRY,2022-04-27,2022-04-27,LOAN,-113.82,0.00,0.00,-113.82,DAILY,2022-04-27,ADJUSTMENTS ABRIL 2022.csv
52953,LPXGTYM7F,2022-04-27,2022-04-27,LOAN,-379.73,0.00,0.00,-379.73,DAILY,2022-04-27,ADJUSTMENTS ABRIL 2022.csv

In [11]:
adj_current_month.shape

(6409, 11)

### PIVOT

In [12]:
adj_pivot = adj_current_month.groupby(['type','adjustment_type','date']).agg({'adjustment_amount':sum
                                                                                ,'fees_charged':sum 
                                                                                ,'taxes':sum
                                                                                ,'amount_due':sum}).reset_index()
adj_pivot['adjustment_amount'] = adj_pivot['adjustment_amount']*-1 
adj_pivot['fees_charged'] = adj_pivot['fees_charged']*-1
adj_pivot['taxes'] = adj_pivot['taxes']*-1 
adj_pivot['amount_due'] = adj_pivot['amount_due']*-1 
adj_pivot.head()

,type,adjustment_type,date,adjustment_amount,fees_charged,taxes,amount_due
0,DAILY,CANCELED_TRANSACTION,2022-04-29,"4,000.00",144.00,23.04,"3,832.96"
1,DAILY,LOAN,2022-04-27,"786,211.23",-0.00,-0.00,"786,211.23"
2,DAILY,LOAN,2022-04-28,"812,798.48",-0.00,-0.00,"812,798.48"
3,DAILY,LOAN,2022-04-29,"969,330.43",-0.00,-0.00,"969,330.43"

In [13]:
adj_pivot_v2 = pd.pivot_table(adj_current_month,index=['type','date']
                              ,columns=['adjustment_type']
                              ,values=['adjustment_amount','fees_charged','taxes','amount_due']
                              ,aggfunc=np.sum,margins=True)
adj_pivot_v2.head()

                    adjustment_amount                              \
adjustment_type  CANCELED_TRANSACTION          LOAN           All
type  date
DAILY 2022-04-27                  NaN   -786,211.23   -786,211.23
      2022-04-28                  NaN   -812,798.48   -812,798.48
      2022-04-29            -4,000.00   -969,330.43   -973,330.43
All                         -4,000.00 -2,568,340.14 -2,572,340.14

                           amount_due                              \
adjustment_type  CANCELED_TRANSACTION          LOAN           All
type  date
DAILY 2022-04-27                  NaN   -786,211.23   -786,211.23
      2022-04-28                  NaN   -812,798.48   -812,798.48
      2022-04-29            -3,832.96   -969,330.43   -973,163.39
All                         -3,832.96 -2,568,340.14 -2,572,173.10

                         fees_charged                             taxes       \
adjustment_type  CANCELED_TRANSACTION LOAN     All CANCELED_TRANSACTION LOAN
type  date
DAILY 2022-04-27                  NaN 0.00    0.00                  NaN 0.00
      2022-04-28                  NaN 0.00    0.00                  NaN 0.00
      2022-04-29              -144.00 0.00 -144.00               -23.04 0.00
All                           -144.00 0.00 -144.00               -23.04 0.00


adjustment_type     All
type  date
DAILY 2022-04-27   0.00
      2022-04-28   0.00
      2022-04-29 -23.04
All              -23.04

# LIBERACIONES

In [14]:
lib_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_lib])
lib_1.head()

,date_release,report_date_local,retained_date_local,report_id,entry_type,amount,type,file_name
0,2022-04-01,2022-04-01,2022-03-31,TRHX6LVG4,LIEN,"47,912.00",DAILY,LIBERACIONES ABRIL 2022.csv
1,2022-04-01,2022-04-01,2022-03-18,NCR8X7HFG,LIEN,"15,993.62",DAILY,LIBERACIONES ABRIL 2022.csv
2,2022-04-01,2022-04-01,2022-01-28,275SR3Z46,LIEN,"1,916.48",DAILY,LIBERACIONES ABRIL 2022.csv
3,2022-04-01,2022-04-01,2022-01-03,S2YK6PDNN,LIEN,958.24,DAILY,LIBERACIONES ABRIL 2022.csv
4,2022-04-01,2022-04-01,2022-03-27,RVMPK8Q49,LIEN,"3,832.96",DAILY,LIBERACIONES ABRIL 2022.csv

### CURRENT DATES

In [15]:
lib_current_month = lib_1[(lib_1['report_date_local'] >= start_date) & (lib_1['report_date_local'] <= final_date)]
lib_current_month.head()

,date_release,report_date_local,retained_date_local,report_id,entry_type,amount,type,file_name
1003,2022-04-27,2022-04-27,2022-04-24,GN8ZVN5X7,LIEN,"36,461.04",DAILY,LIBERACIONES ABRIL 2022.csv
1004,2022-04-27,2022-04-27,2021-12-27,8T9JLSXL7,LIEN,"1,981.03",DAILY,LIBERACIONES ABRIL 2022.csv
1005,2022-04-27,2022-04-27,2021-11-16,42DRX7BF3,LIEN,"34,209.17",DAILY,LIBERACIONES ABRIL 2022.csv
1006,2022-04-27,2022-04-27,2021-12-27,TF2STGVXL,LIEN,"24,588.60",DAILY,LIBERACIONES ABRIL 2022.csv
1007,2022-04-27,2022-04-27,2021-07-25,3CKKC2TYQ,LIEN,"2,683.07",DAILY,LIBERACIONES ABRIL 2022.csv

In [16]:
lib_current_month.shape

(137, 8)

### PIVOT

In [17]:
lib_pivot = lib_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()
lib_pivot.head()

    type entry_type report_date_local       amount
0  DAILY       LIEN        2022-04-27 1,501,106.88
1  DAILY       LIEN        2022-04-28 1,339,480.27
2  DAILY       LIEN        2022-04-29 1,308,440.97

In [18]:
lib_pivot.shape

(3, 4)

In [19]:
lib_pivot_v2 = pd.pivot_table(lib_current_month,index=['type','report_date_local']
                              ,columns=['entry_type']
                              ,values=['amount']
                              ,aggfunc=np.sum,margins=True)
lib_pivot_v2.head()

                              amount
entry_type                      LIEN          All
type  report_date_local
DAILY 2022-04-27        1,501,106.88 1,501,106.88
      2022-04-28        1,339,480.27 1,339,480.27
      2022-04-29        1,308,440.97 1,308,440.97
All                     4,149,028.12 4,149,028.12

In [20]:
lib_pivot_v2.shape

(4, 2)

# RETENCIONES

In [21]:
ret_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_ret])
ret_1.head()

,date_retainment,report_date_local,report_id,entry_type,amount,type,file_name
0,2022-04-01,2022-04-01,W4ZV29R9F,LIEN,"2,501.01",DAILY,RETENCIONES ABRIL 2022.csv
1,2022-04-01,2022-04-01,FSSXM2344,LIEN,95.82,DAILY,RETENCIONES ABRIL 2022.csv
2,2022-04-01,2022-04-01,94FNZKJ79,LIEN,"11,594.71",DAILY,RETENCIONES ABRIL 2022.csv
3,2022-04-01,2022-04-01,DDC6732DT,LIEN,"2,395.60",DAILY,RETENCIONES ABRIL 2022.csv
4,2022-04-01,2022-04-01,96C5Y4GJV,LIEN,"19,164.80",DAILY,RETENCIONES ABRIL 2022.csv

### CURRENT DATES

In [22]:
ret_current_month = ret_1[(ret_1['report_date_local'] >= start_date) & (ret_1['report_date_local'] <= final_date)]
ret_current_month.head()

,date_retainment,report_date_local,report_id,entry_type,amount,type,file_name
906,2022-04-27,2022-04-27,5FD3N98VW,LIEN,"2,460.63",DAILY,RETENCIONES ABRIL 2022.csv
907,2022-04-27,2022-04-27,63236864P,LIEN,"14,756.90",DAILY,RETENCIONES ABRIL 2022.csv
908,2022-04-27,2022-04-27,8D9GNVN3M,LIEN,822.17,DAILY,RETENCIONES ABRIL 2022.csv
909,2022-04-27,2022-04-27,DTLMM4C28,LIEN,574.94,DAILY,RETENCIONES ABRIL 2022.csv
910,2022-04-27,2022-04-27,K6JZYRFV7,LIEN,"8,240.86",DAILY,RETENCIONES ABRIL 2022.csv

In [23]:
ret_current_month.shape

(109, 7)

### PIVOT

In [24]:
ret_pivot = ret_current_month.groupby(['type','entry_type','report_date_local']).agg({'amount':sum}).reset_index()
ret_pivot.head()

    type entry_type report_date_local       amount
0  DAILY       LIEN        2022-04-27 1,376,146.54
1  DAILY       LIEN        2022-04-28 1,446,583.20
2  DAILY       LIEN        2022-04-29 1,437,990.73

In [25]:
ret_pivot.shape

(3, 4)

In [26]:
ret_pivot_v2 = pd.pivot_table(ret_current_month,index=['type','report_date_local']
                              ,columns=['entry_type']
                              ,values=['amount']
                              ,aggfunc=np.sum,margins=True)
ret_pivot_v2.head()

                              amount
entry_type                      LIEN          All
type  report_date_local
DAILY 2022-04-27        1,376,146.54 1,376,146.54
      2022-04-28        1,446,583.20 1,446,583.20
      2022-04-29        1,437,990.73 1,437,990.73
All                     4,260,720.47 4,260,720.47

In [27]:
ret_pivot_v2.shape

(4, 2)

# COMISIONES SWAP / BNTE

In [28]:
com_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_com])
com_1.head()

,date_disbursement,amount,payments_number,valor_comision,valor_iva,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo,dsp,file_name
0,2022-04-01,"177,438,213.38",88532,1.85,0.30,"163,784.20","26,205.47","189,989.67","177,628,203.05","177,438,213.38","163,784.20","26,205.47","177,628,203.05",0.00,0.00,0.00,0.00,SWAP,DIFF MONTOS 2022-04-01.csv
0,2022-04-02,"190,731,511.32",93001,NaN,NaN,"161,637.30","25,861.97","187,499.27","190,919,010.59","190,731,511.32","161,637.30","25,861.97","190,919,010.59",0.00,0.00,-0.00,-0.00,BNTE,DIFF MONTOS 2022-04-02.csv
0,2022-04-03,"212,609,957.88",92370,NaN,NaN,"160,591.50","25,694.64","186,286.14","212,796,244.02","212,609,957.88","160,591.50","25,694.64","212,796,244.02",0.00,0.00,0.00,-0.00,BNTE,DIFF MONTOS 2022-04-03.csv
0,2022-04-04,"144,274,566.06",63321,1.85,0.30,"117,143.85","18,743.02","135,886.87","144,410,452.93","144,274,566.06","117,143.85","18,743.02","144,410,452.93",0.00,0.00,-0.00,-0.00,SWAP,DIFF MONTOS 2022-04-04.csv
0,2022-04-05,"144,640,017.32",78146,1.85,0.30,"144,570.10","23,131.22","167,701.32","144,807,718.64","144,640,017.32","144,570.10","23,131.22","144,807,718.64",0.00,0.00,-0.00,-0.00,SWAP,DIFF MONTOS 2022-04-05.csv

In [29]:
com_1.shape

(30, 19)

### CURRENT DATES

In [30]:
com_current_month = com_1[(com_1['date_disbursement'] >= start_date) & (com_1['date_disbursement'] <= final_date)]
com_current_month.head()

,date_disbursement,amount,payments_number,valor_comision,valor_iva,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo,dsp,file_name
0,2022-04-27,"142,663,482.50",78826,NaN,NaN,"39,413.00","6,306.08","45,719.08","142,709,201.58","142,663,482.50","39,413.00","6,306.08","142,709,201.58",0.00,0.00,0.00,0.00,SANT,DIFF MONTOS 2022-04-27.csv
0,2022-04-28,"149,512,480.95",81722,NaN,NaN,"40,861.00","6,537.76","47,398.76","149,559,879.71","149,512,480.95","40,861.00","6,537.76","149,559,879.71",0.00,0.00,0.00,-0.00,SANT,DIFF MONTOS 2022-04-28.csv
0,2022-04-29,"163,588,330.10",86333,NaN,NaN,"43,166.50","6,906.64","50,073.14","163,638,403.24","163,588,330.10","43,166.50","6,906.64","163,638,403.24",0.00,0.00,0.00,-0.00,SANT,DIFF MONTOS 2022-04-29.csv

In [31]:
com_current_month.shape

(3, 19)

# LENDERS

In [32]:
lender_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_lender])
lender_1['Date'] = lender_1["file_name"].str[-14:-4]
lender_1['Date']= pd.to_datetime(lender_1['Date']) 
lender_1.rename(columns ={'User Email': 'user_email'},inplace=True) 
lender_1.head()

,Loan Id,Lender,Merchant Id,Merchant Token,Merchant Name,user_email,Creation Date,Due Date,Status,Loan Type,...,Lender Revenue today,Collections pending,Capital pending,Interests pending,IVA Interests pending,Total pending,CLIP Revenue pending,Lender Revenue pending,file_name,Date
0,00002c8f-4ea8-4735-9b16-0a00f621a392,APH,656b6e2a-d2cb-457c-b272-fb084a63bb99,8800bbbe-d7f8-4128-ab44-15ca98558438,Oscar Morales Lopez,oscarmolo@hotmail.es,2021-01-22,2021-12-22,DELAYED,NaN,...,0.00,"40,804.37","26,494.62","14,309.75",0.00,"40,804.37",0.00,0.00,collections_finance_2022-01-01.csv,2022-01-01
1,0002d967-d2eb-4e7a-99db-9d2cae65d4e9,CLIP,ef829c51-b1b1-439a-99d5-769ab0839400,69cb489f-3a14-40f2-a143-5adf2f7fa93d,Alma Yanet Pita Rojas,alma.pita2711@gmail.com,2020-08-05,2021-02-05,PAID,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,collections_finance_2022-01-01.csv,2022-01-01
2,00032bc1-4153-4c2e-8731-498d9441b0b6,MOT,10ea37e1-43df-40ed-a95d-99ab103daff2,6c682152-e8aa-486a-98bd-9cbe38cde322,Taquera El tigre,taqueriaeltigree@gmail.com,2021-03-05,2021-08-10,PAID,NaN,...,0.00,"3,436.64","2,549.44",764.83,122.37,"3,436.64",325.05,439.78,collections_finance_2022-01-01.csv,2022-01-01
3,0006a430-79be-40d1-8119-79b770151c6c,APH,94326206-fdec-45a8-b6ae-4d85917eba26,d7f2c4d3-3de1-49db-91da-2b85de028dbb,Alberto Alba Acosta,albertoalba8642@gmail.com,2021-03-05,2021-09-05,DELAYED,NaN,...,0.00,"2,990.68","2,218.61",772.07,0.00,"2,990.68",0.00,0.00,collections_finance_2022-01-01.csv,2022-01-01
4,0006c183-23d3-4048-9485-fccdd77b0f95,MRP,808c845b-31da-4470-87d5-a2f57bd866e2,7c14a06a-0649-4d69-88d3-ff8b9688395d,Ramiro Ramrez Ramos,ramiroramirezramos23@Gmail.com,2020-12-04,2021-05-03,PAID,NaN,...,0.00,-0.94,-0.71,-0.23,-0.00,-0.94,-0.07,-0.16,collections_finance_2022-01-01.csv,2022-01-01

In [33]:
lender_1.shape

(1932763, 40)

### CURRENT DATES

In [34]:
lender_current_month = lender_1[(lender_1['Date'] >= start_date) & (lender_1['Date'] <= final_date)]
lender_current_month.head()

,Loan Id,Lender,Merchant Id,Merchant Token,Merchant Name,user_email,Creation Date,Due Date,Status,Loan Type,...,Lender Revenue today,Collections pending,Capital pending,Interests pending,IVA Interests pending,Total pending,CLIP Revenue pending,Lender Revenue pending,file_name,Date
0,00002c8f-4ea8-4735-9b16-0a00f621a392,APH,656b6e2a-d2cb-457c-b272-fb084a63bb99,8800bbbe-d7f8-4128-ab44-15ca98558438,Oscar Morales Lopez,oscarmolo@hotmail.es,2021-01-22,2021-12-22,DELAYED,NaN,...,0.00,"40,804.37","26,494.62","14,309.75",0.00,"40,804.37",0.00,0.00,collections_finance_2022-04-27.csv,2022-04-27
1,0002d967-d2eb-4e7a-99db-9d2cae65d4e9,CLIP,ef829c51-b1b1-439a-99d5-769ab0839400,69cb489f-3a14-40f2-a143-5adf2f7fa93d,Alma Yanet Pita Rojas,alma.pita2711@gmail.com,2020-08-05,2021-02-05,PAID,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,collections_finance_2022-04-27.csv,2022-04-27
2,00032bc1-4153-4c2e-8731-498d9441b0b6,MOT,10ea37e1-43df-40ed-a95d-99ab103daff2,6c682152-e8aa-486a-98bd-9cbe38cde322,Taquera El tigre,taqueriaeltigree@gmail.com,2021-03-05,2021-08-10,PAID,NaN,...,0.00,"3,436.64","2,549.44",764.83,122.37,"3,436.64",325.05,439.78,collections_finance_2022-04-27.csv,2022-04-27
3,0005ed7c-fed4-475d-ba57-2ff72a56e90e,MRP,b87a8330-4baa-45a8-a091-27c6b6d9cabe,b0d6c1b0-f26e-40ae-9544-7d6637d3d792,Emilse Deyanira Reyes Francisco,deyanirareyes580@gmail.com,2022-01-13,2022-10-13,ON TIME,NaN,...,18.36,"24,136.70","17,861.16","6,275.54",0.00,"24,136.70","1,882.66","4,392.88",collections_finance_2022-04-27.csv,2022-04-27
4,0006a430-79be-40d1-8119-79b770151c6c,APH,94326206-fdec-45a8-b6ae-4d85917eba26,d7f2c4d3-3de1-49db-91da-2b85de028dbb,Alberto Alba Acosta,albertoalba8642@gmail.com,2021-03-05,2021-09-05,PAID,NaN,...,0.00,"2,990.68","2,218.61",772.07,0.00,"2,990.68",0.00,0.00,collections_finance_2022-04-27.csv,2022-04-27

In [35]:
lender_current_month.shape

(37902, 40)

In [36]:
lender_current_month['Date'].unique()

array(['2022-04-27T00:00:00.000000000', '2022-04-28T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [37]:
lender_current_month['Lender'].unique()

array(['APH', 'CLIP', 'MOT', 'MRP', 'CTO', 'R2', 'HCS'], dtype=object)

### PIVOT CLIP

In [38]:
lender_clip = lender_current_month[(lender_current_month['Lender'] == 'CLIP')]

In [39]:
lender_pivot_clip_1 = lender_clip.groupby(['Creation Date','Date']).agg({'Collected today':sum,'Capital today':sum
                                                                       ,'Interests today':sum,'IVA Interests today':sum
                                                                       ,'Overdue Interest today':sum,'Total today':sum
                                                                       ,'CLIP Revenue today':sum}).reset_index()
lender_pivot_clip_1.head()

,Creation Date,Date,Collected today,Capital today,Interests today,IVA Interests today,Overdue Interest today,Total today,CLIP Revenue today
0,2019-05-07,2022-04-27,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,2019-05-07,2022-04-28,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,2019-05-08,2022-04-27,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,2019-05-08,2022-04-28,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,2019-05-10,2022-04-27,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [40]:
lender_pivot_clip_1.shape

(32, 9)

In [41]:
lender_pivot_clip_2 = lender_clip.groupby(['Date']).agg({'Collected today':sum,'Capital today':sum
                                                                       ,'Interests today':sum,'IVA Interests today':sum
                                                                       ,'Overdue Interest today':sum,'Total today':sum
                                                                       ,'CLIP Revenue today':sum}).reset_index()
lender_pivot_clip_2.head()

,Date,Collected today,Capital today,Interests today,IVA Interests today,Overdue Interest today,Total today,CLIP Revenue today
0,2022-04-27,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,2022-04-28,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [42]:
lender_pivot_clip_2.shape

(2, 8)

### PIVOT OTHERS

In [43]:
lender_others = lender_current_month[(lender_current_month['Lender'] != 'CLIP')]

In [44]:
lender_pivot_others = lender_others.groupby(['Date']).agg({'Collected today':sum,'Capital today':sum,'Interests today':sum
                                                 ,'IVA Interests today':sum,'Overdue Interest today':sum
                                                 ,'Total today':sum,'CLIP Revenue today':sum}).reset_index()
lender_pivot_others.head()

,Date,Collected today,Capital today,Interests today,IVA Interests today,Overdue Interest today,Total today,CLIP Revenue today
0,2022-04-27,"860,068.48","649,717.61","193,855.99","16,494.88",0.00,"860,068.48","27,865.80"
1,2022-04-28,"895,155.17","670,454.97","207,070.74","17,629.46",0.00,"895,155.17","28,453.31"

In [45]:
lender_pivot_others.shape

(2, 8)

# EXCEL FINAL

In [46]:
writer = pd.ExcelWriter('FASE II. DATA POLIZA ABRIL 27-29 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
lender_pivot_clip_2.to_excel(writer, sheet_name='DATA LENDER CLIP',index=False)
lender_pivot_clip_1.to_excel(writer, sheet_name='DATA LENDER CLIP CREATION DATE',index=False)
lender_pivot_others.to_excel(writer, sheet_name='DATA LENDER OTHERS',index=False)
adj_pivot.to_excel(writer, sheet_name='DATA ADJUSTMENTS',index=False)
lib_pivot_v2.to_excel(writer, sheet_name='DATA LIBERACIONES')
ret_pivot_v2.to_excel(writer, sheet_name='DATA RETENCIONES')
com_current_month.to_excel(writer, sheet_name='DATA COMISIONES',index=False)
writer.close()