In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# MES AÑO DE CONCILIACIÓN

In [2]:
month_conc = 'January'
year_conc = '2024'

# RUTAS DE ACCESO

### SWAP DEL DIA

In [3]:
allfiles_disp_trad = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2024\01. ENERO\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
allfiles_disp_trad

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240101.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240102.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240103.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240104.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240105.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240106.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240107.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240108.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240109.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240110.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240111.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240112.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240113.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240114.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240115.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240116.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240117.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240118.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240119.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240120.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240121.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240122.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240123.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240124.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240125.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240126.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240127.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240128.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240129.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240130.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240131.xlsx']

### FAST PAYMENTS

In [4]:
allfiles_fp = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2024\01. ENERO\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx',recursive=False)
allfiles_fp

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-30.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-31.xlsx']

# SWAP DEL DIA

In [5]:
swap_dia_total = pd.concat([pd.read_excel(f,sheet_name = 'Swap del día')
                            .assign(file_name=os.path.basename(f)) for f in allfiles_disp_trad])
swap_dia_total['Date'] = swap_dia_total["file_name"].str[-13:-5]
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'], format='%Y%m%d').dt.date
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'])
swap_dia_total.sort_values(by=['Date'],ascending=True,inplace=True)
swap_dia_total['report_date_local']= pd.to_datetime(swap_dia_total['report_date_local'])
swap_dia_total['month_conc'] = month_conc
swap_dia_total['year_conc'] = year_conc
swap_dia_total['month_report'] = swap_dia_total['report_date_local'].dt.strftime('%B')
swap_dia_total['year_report'] = swap_dia_total['report_date_local'].dt.year.astype(str)
swap_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,LEDGER_TRAD,03c36e07-4550-4a03-addc-23932ed78f86,NaN,NaN,A935WHWRG,2024-01-01,267.34,Pago del día,BBVA BANCOMER,Flor Liliana Gonzalez Gonzalez,...,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2024
48668,LEDGER_TRAD,ab530350-07a8-422f-bc9d-81aeaa89f1db,NaN,NaN,AC9DQF6CR,2024-01-01,"1,629.01",Pago del día,HSBC,Alejandro Garcia Gomez,...,PAID,"2024-01-01,42644264202401012759773444,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2024
48669,LEDGER_TRAD,ab5444dc-0e70-4ee7-9a28-e386d01bc928,NaN,NaN,A9RLJ33Q6,2024-01-01,"57,446.48",Pago del día,BAJIO,Hugo Javier Lopez Bonifaz,...,PAID,"2024-01-01,42644264202401012759744087,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2024
48670,LEDGER_TRAD,ab549ce9-08c3-434b-b208-58bd270c8f8c,NaN,NaN,A3Z2D3SK2,2024-01-01,172.48,Pago del día,SANTANDER,Guadalupe Rosales Jimenez,...,PAID,"2024-01-01,42644264202401012759714239,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2024
48671,LEDGER_TRAD,ab562636-b3ef-4a85-b9b6-1b3fc661ada0,NaN,NaN,ASNVFSMS5,2024-01-01,"10,166.03",Pago del día,BBVA BANCOMER,Felipe David Valerio Aguilar,...,PAID,"2024-01-01,42644264202401012759758846,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2024

In [6]:
swap_dia_total.shape

(2974752, 21)

In [7]:
swap_dia_total.dtypes

type                               object
merchant_id                        object
merchant_name                      object
user_email                         object
report_id                          object
report_date_local          datetime64[ns]
total_due                         float64
tipo                               object
bank                               object
bank_account_owner_name            object
CLABE                               int64
status                             object
LINEA CEP                          object
Batch_time                         object
Banco_emisor                       object
file_name                          object
Date                       datetime64[ns]
month_conc                         object
year_conc                          object
month_report                       object
year_report                        object
dtype: object

# FAST PAYMENTS

In [8]:
fp_dia_total = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS')
                          .assign(file_name=os.path.basename(f)) for f in allfiles_fp])
fp_dia_total['Date'] = fp_dia_total["file_name"].str[-15:-5]
fp_dia_total['Date']= pd.to_datetime(fp_dia_total['Date'])
fp_dia_total['report_date_local']= pd.to_datetime(fp_dia_total['report_date_local'])
fp_dia_total['month_conc'] = month_conc
fp_dia_total['year_conc'] = year_conc
fp_dia_total['month_report'] = fp_dia_total['report_date_local'].dt.strftime('%B')
fp_dia_total['year_report'] = fp_dia_total['report_date_local'].dt.year.astype(str)
fp_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,LEDGER_FP,0a00f802-ff5a-49c6-8ad6-693c5b544f3f,NaN,NaN,AR3LJGSXN,2024-01-01,"1,612.24",Pago del día,CAJA POP MEXICA,Juan Pablo Cruz Martinez,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,January,2024,January,2024
1,LEDGER_FP,0db5a402-c0ef-4efa-ba81-f5ded327b01b,NaN,NaN,ARHPK56L6,2024-01-01,670.76,Pago del día,CAJA POP MEXICA,Juan Alberto Lopez Gomez,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,January,2024,January,2024
2,LEDGER_FP,0f8187da-2201-47a4-a080-c3fd0c295845,NaN,NaN,A95HMQCJ8,2024-01-01,924.70,Pago del día,CAJA POP MEXICA,Claudia Horalia Rivera Reyes,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,January,2024,January,2024
3,LEDGER_FP,4fd8ff57-a301-4dd5-8af6-e92038329134,NaN,NaN,ATJ5WYZKZ,2024-01-01,"9,582.40",Pago del día,ASP INTEGRA OPC,Alejandra Rodriguez Guzman,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,January,2024,January,2024
4,LEDGER_FP,5516a3c0-cb46-4649-8859-4d2143583f03,NaN,NaN,ANGQHNPVT,2024-01-01,383.30,Pago del día,CAJA POP MEXICA,Marco Antonio Bello Serrano,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,January,2024,January,2024

In [9]:
fp_dia_total.shape

(74601, 21)

In [10]:
fp_dia_total.dtypes

type                         object
merchant_id                  object
merchant_name                object
user_email                   object
report_id                    object
report_date_local    datetime64[ns]
total_due                   float64
tipo                         object
bank                         object
swap                         object
CLABE                         int64
status                       object
LINEA CEP                    object
Batch_time                   object
Banco_emisor                 object
file_name                    object
Date                 datetime64[ns]
month_conc                   object
year_conc                    object
month_report                 object
year_report                  object
dtype: object

# ALL DISPERSIONES

In [11]:
all_disp = pd.concat([swap_dia_total,fp_dia_total])
all_disp.loc[all_disp['type'].str.contains('LEDGER'), 'type'] = 'LEDGER'
all_disp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
0,LEDGER,03c36e07-4550-4a03-addc-23932ed78f86,NaN,NaN,A935WHWRG,2024-01-01,267.34,Pago del día,BBVA BANCOMER,Flor Liliana Gonzalez Gonzalez,...,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2024,NaN
48668,LEDGER,ab530350-07a8-422f-bc9d-81aeaa89f1db,NaN,NaN,AC9DQF6CR,2024-01-01,"1,629.01",Pago del día,HSBC,Alejandro Garcia Gomez,...,"2024-01-01,42644264202401012759773444,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2024,NaN
48669,LEDGER,ab5444dc-0e70-4ee7-9a28-e386d01bc928,NaN,NaN,A9RLJ33Q6,2024-01-01,"57,446.48",Pago del día,BAJIO,Hugo Javier Lopez Bonifaz,...,"2024-01-01,42644264202401012759744087,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2024,NaN
48670,LEDGER,ab549ce9-08c3-434b-b208-58bd270c8f8c,NaN,NaN,A3Z2D3SK2,2024-01-01,172.48,Pago del día,SANTANDER,Guadalupe Rosales Jimenez,...,"2024-01-01,42644264202401012759714239,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2024,NaN
48671,LEDGER,ab562636-b3ef-4a85-b9b6-1b3fc661ada0,NaN,NaN,ASNVFSMS5,2024-01-01,"10,166.03",Pago del día,BBVA BANCOMER,Felipe David Valerio Aguilar,...,"2024-01-01,42644264202401012759758846,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2024,NaN

In [12]:
all_disp.shape

(3049353, 22)

In [13]:
all_disp['type'].unique()

array(['LEDGER', 'INSTANT', 'DAILY'], dtype=object)

# TRADICIONAL

In [14]:
all_disp_trad = all_disp[(all_disp['type'] == 'DAILY')]
all_disp_trad.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
56076,DAILY,c52f1e0d-20a7-4da6-8ce9-d5a8beb2819d,LA REYNA,reynabv47@gmail.com,B4PTMRCYN,2022-10-02,95.82,Reprogramación,BANAMEX,CYNTHIA BAUTISTA VAZQUEZ,...,"2024-01-01,42644264202401012759763334,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,October,2022,NaN
30640,DAILY,6c74f964-bc4f-4e5b-9c5f-aaa9febd4f0e,MarlysBoutique,laura.espinosa.hdz@gmail.com,9GBT2BV9R,2022-12-26,750.30,Reprogramación,BANAMEX,Martha Laura Espinosa,...,"2024-01-01,42644264202401012759777121,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2022,NaN
6292,DAILY,2cb738af-c55a-43b7-bf56-f4cff8a68212,Blusas Lili,alanmelend97@gmail.com,NWT2FTCDY,2022-04-11,0.11,Reprogramación,BANAMEX,Liliana Sarai Herrera Garcia,...,"2024-01-02,20240102400140HDH0001468676970,4001...",01. First_batch,SANTANDER,Dispersión-20240102.xlsx,2024-01-02,January,2024,April,2022,NaN
6293,DAILY,2cb738af-c55a-43b7-bf56-f4cff8a68212,Blusas Lili,alanmelend97@gmail.com,MFW8FPBTH,2022-04-18,38.33,Reprogramación,BANAMEX,Liliana Sarai Herrera Garcia,...,"2024-01-02,20240102400140HDH0001468677020,4001...",01. First_batch,SANTANDER,Dispersión-20240102.xlsx,2024-01-02,January,2024,April,2022,NaN
8234,DAILY,3af0fdfb-f02d-4a4d-bece-5a11a624052f,Vilan Manzo,vilanmanzo@gmail.com,9B6PQYLGC,2022-12-24,"1,705.66",Reprogramación,BBVA BANCOMER,Erick Flores,...,"2024-01-02,20240102400140HDH0001468840930,4001...",01. First_batch,SANTANDER,Dispersión-20240102.xlsx,2024-01-02,January,2024,December,2022,NaN

In [15]:
all_disp_trad.shape

(542, 22)

In [16]:
pivot_total_trad = pd.pivot_table(all_disp_trad,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_trad.reset_index(drop=False, inplace=True)
pivot_total_trad.head()

    type                 Date       sum       len
                              total_due total_due
0  DAILY  2024-01-01 00:00:00    846.12         2
1  DAILY  2024-01-02 00:00:00  4,888.08         8
2  DAILY  2024-01-03 00:00:00 13,891.58        24
3  DAILY  2024-01-04 00:00:00 57,421.82        64
4  DAILY  2024-01-05 00:00:00 21,335.97        39

In [17]:
pivot_parcial_trad = pd.pivot_table(all_disp_trad,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_trad.reset_index(drop=False, inplace=True)
pivot_parcial_trad.head()

         type            tipo                 Date       sum            \
                                                   total_due
status                                                 ERROR      PAID
0       DAILY  Reprogramación  2024-01-01 00:00:00       NaN    846.12
1       DAILY  Reprogramación  2024-01-02 00:00:00       NaN  4,888.08
2       DAILY  Reprogramación  2024-01-03 00:00:00  3,622.16 10,269.42
3       DAILY  Reprogramación  2024-01-04 00:00:00 15,884.17 41,537.65
4       DAILY  Reprogramación  2024-01-05 00:00:00  9,308.34 12,027.63

                       len
                 total_due
status       All     ERROR  PAID All
0         846.12       NaN  2.00   2
1       4,888.08       NaN  8.00   8
2      13,891.58      2.00 22.00  24
3      57,421.82      9.00 55.00  64
4      21,335.97      7.00 32.00  39

## CATEGORIZACIÓN DE REPROGRAMACIONES

In [18]:
swap_dia_total_repro = all_disp_trad[(all_disp_trad['tipo'] == 'Reprogramación')]
swap_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
56076,DAILY,c52f1e0d-20a7-4da6-8ce9-d5a8beb2819d,LA REYNA,reynabv47@gmail.com,B4PTMRCYN,2022-10-02,95.82,Reprogramación,BANAMEX,CYNTHIA BAUTISTA VAZQUEZ,...,"2024-01-01,42644264202401012759763334,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,October,2022,NaN
30640,DAILY,6c74f964-bc4f-4e5b-9c5f-aaa9febd4f0e,MarlysBoutique,laura.espinosa.hdz@gmail.com,9GBT2BV9R,2022-12-26,750.30,Reprogramación,BANAMEX,Martha Laura Espinosa,...,"2024-01-01,42644264202401012759777121,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2022,NaN
6292,DAILY,2cb738af-c55a-43b7-bf56-f4cff8a68212,Blusas Lili,alanmelend97@gmail.com,NWT2FTCDY,2022-04-11,0.11,Reprogramación,BANAMEX,Liliana Sarai Herrera Garcia,...,"2024-01-02,20240102400140HDH0001468676970,4001...",01. First_batch,SANTANDER,Dispersión-20240102.xlsx,2024-01-02,January,2024,April,2022,NaN
6293,DAILY,2cb738af-c55a-43b7-bf56-f4cff8a68212,Blusas Lili,alanmelend97@gmail.com,MFW8FPBTH,2022-04-18,38.33,Reprogramación,BANAMEX,Liliana Sarai Herrera Garcia,...,"2024-01-02,20240102400140HDH0001468677020,4001...",01. First_batch,SANTANDER,Dispersión-20240102.xlsx,2024-01-02,January,2024,April,2022,NaN
8234,DAILY,3af0fdfb-f02d-4a4d-bece-5a11a624052f,Vilan Manzo,vilanmanzo@gmail.com,9B6PQYLGC,2022-12-24,"1,705.66",Reprogramación,BBVA BANCOMER,Erick Flores,...,"2024-01-02,20240102400140HDH0001468840930,4001...",01. First_batch,SANTANDER,Dispersión-20240102.xlsx,2024-01-02,January,2024,December,2022,NaN

In [19]:
swap_dia_total_repro.shape

(542, 22)

In [20]:
swap_dia_total_repro.to_excel('Reprogramaciones_daily.xlsx',index=False)

In [21]:
swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
                   & (swap_dia_total_repro['month_report'] == month_conc) 
                   & (swap_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
swap_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
56076,DAILY,c52f1e0d-20a7-4da6-8ce9-d5a8beb2819d,LA REYNA,reynabv47@gmail.com,B4PTMRCYN,2022-10-02,95.82,Reprogramación,BANAMEX,CYNTHIA BAUTISTA VAZQUEZ,...,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,October,2022,NaN,nan
30640,DAILY,6c74f964-bc4f-4e5b-9c5f-aaa9febd4f0e,MarlysBoutique,laura.espinosa.hdz@gmail.com,9GBT2BV9R,2022-12-26,750.30,Reprogramación,BANAMEX,Martha Laura Espinosa,...,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2022,NaN,nan
6292,DAILY,2cb738af-c55a-43b7-bf56-f4cff8a68212,Blusas Lili,alanmelend97@gmail.com,NWT2FTCDY,2022-04-11,0.11,Reprogramación,BANAMEX,Liliana Sarai Herrera Garcia,...,01. First_batch,SANTANDER,Dispersión-20240102.xlsx,2024-01-02,January,2024,April,2022,NaN,nan
6293,DAILY,2cb738af-c55a-43b7-bf56-f4cff8a68212,Blusas Lili,alanmelend97@gmail.com,MFW8FPBTH,2022-04-18,38.33,Reprogramación,BANAMEX,Liliana Sarai Herrera Garcia,...,01. First_batch,SANTANDER,Dispersión-20240102.xlsx,2024-01-02,January,2024,April,2022,NaN,nan
8234,DAILY,3af0fdfb-f02d-4a4d-bece-5a11a624052f,Vilan Manzo,vilanmanzo@gmail.com,9B6PQYLGC,2022-12-24,"1,705.66",Reprogramación,BBVA BANCOMER,Erick Flores,...,01. First_batch,SANTANDER,Dispersión-20240102.xlsx,2024-01-02,January,2024,December,2022,NaN,nan

In [22]:
pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro.reset_index(drop=False, inplace=True)
pivot_tipo_repro.head()

                      type                 Date       sum                 len  \
                                                total_due           total_due
tipo_reprogramacion                                   nan       All       nan
0                    DAILY  2024-01-01 00:00:00    846.12    846.12         2
1                    DAILY  2024-01-02 00:00:00  4,888.08  4,888.08         8
2                    DAILY  2024-01-03 00:00:00 13,891.58 13,891.58        24
3                    DAILY  2024-01-04 00:00:00 57,421.82 57,421.82        64
4                    DAILY  2024-01-05 00:00:00 21,335.97 21,335.97        39



tipo_reprogramacion All
0                     2
1                     8
2                    24
3                    64
4                    39

# FAST PAYMENTS

In [23]:
all_disp_fp = all_disp[(all_disp['type'] == 'INSTANT')]
all_disp_fp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
72772,INSTANT,27fbe610-87ef-478e-83fa-f77de6b6da38,CREMERIA IRENITA,leroy_itze@hotmail.com,6YD3262ZB,2022-01-11,301.85,Reprogramación,ASP INTEGRA OPC,Jorge Armando Contreras Tecaxco,...,"2024-01-01,42644264202401012759999898,40072,90...",02. Second_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2022,NaN
72773,INSTANT,27fbe610-87ef-478e-83fa-f77de6b6da38,CREMERIA IRENITA,leroy_itze@hotmail.com,MSBYRFCLX,2022-07-03,67.08,Reprogramación,ASP INTEGRA OPC,Jorge Armando Contreras Tecaxco,...,"2024-01-01,42644264202401012759999768,40072,90...",02. Second_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,July,2022,NaN
26003,INSTANT,ba9ac86d-a452-4cc8-9467-a6d71b46457e,ABARROTES Y VINOS AMBAR,diegogo511@outlook.com,C2SJ7XYWS,2021-12-12,57.02,Reprogramación,SANTANDER,Diego Michel Flores Rosete,...,COMPROBANTE MISMO BANCO SANTANDER,01. First_batch,SANTANDER,Dispersión-20240102.xlsx,2024-01-02,January,2024,December,2021,NaN
35674,INSTANT,29872956-87f3-4ea9-876d-4fddba85bdcd,Six,marcogarza92@hotmail.com,QF2NBLRNB,2022-07-03,92.97,Reprogramación,ASP INTEGRA OPC,Marco Antonio Garza Diaz,...,"2024-01-02,42644264202401022761593195,40072,90...",02. Second_batch,BANORTE,Dispersión-20240102.xlsx,2024-01-02,January,2024,July,2022,NaN
28138,INSTANT,5108197e-eff3-4516-bbac-ceef8c2773b8,Ropa Y Novedades ARYFEL,felipezaa229@gmail.com,6VKWWVGXN,2022-07-03,574.94,Reprogramación,ASP INTEGRA OPC,Felipe Flores Garcia,...,"2024-01-03,20240103400140HDH0001495447400,4001...",01. First_batch,SANTANDER,Dispersión-20240103.xlsx,2024-01-03,January,2024,July,2022,NaN

In [24]:
all_disp_fp.shape

(118, 22)

In [25]:
pivot_total_fp = pd.pivot_table(all_disp_fp,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_fp.reset_index(drop=False, inplace=True)
pivot_total_fp.head()

      type                 Date       sum       len
                                total_due total_due
0  INSTANT  2024-01-01 00:00:00    368.93         2
1  INSTANT  2024-01-02 00:00:00 72,392.61        27
2  INSTANT  2024-01-03 00:00:00 23,339.81        14
3  INSTANT  2024-01-04 00:00:00  6,736.51        13
4  INSTANT  2024-01-05 00:00:00    394.80         2

In [26]:
pivot_parcial_fp = pd.pivot_table(all_disp_fp,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_fp.reset_index(drop=False, inplace=True)
pivot_parcial_fp.head()

           type            tipo                 Date       sum            \
                                                     total_due
status                                                   ERROR      PAID
0       INSTANT  Reprogramación  2024-01-01 00:00:00       NaN    368.93
1       INSTANT  Reprogramación  2024-01-02 00:00:00 41,012.62 31,379.99
2       INSTANT  Reprogramación  2024-01-03 00:00:00       NaN 23,339.81
3       INSTANT  Reprogramación  2024-01-04 00:00:00       NaN  6,736.51
4       INSTANT  Reprogramación  2024-01-05 00:00:00       NaN    394.80

                       len
                 total_due
status       All     ERROR  PAID All
0         368.93       NaN  2.00   2
1      72,392.61     15.00 12.00  27
2      23,339.81       NaN 14.00  14
3       6,736.51       NaN 13.00  13
4         394.80       NaN  2.00   2

## CATEGORIZACIÓN DE REPROGRAMACIONES - FAST PAYMENTS

In [27]:
fp_dia_total_repro = all_disp_fp[(all_disp_fp['tipo'] == 'Reprogramación')]
fp_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
72772,INSTANT,27fbe610-87ef-478e-83fa-f77de6b6da38,CREMERIA IRENITA,leroy_itze@hotmail.com,6YD3262ZB,2022-01-11,301.85,Reprogramación,ASP INTEGRA OPC,Jorge Armando Contreras Tecaxco,...,"2024-01-01,42644264202401012759999898,40072,90...",02. Second_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2022,NaN
72773,INSTANT,27fbe610-87ef-478e-83fa-f77de6b6da38,CREMERIA IRENITA,leroy_itze@hotmail.com,MSBYRFCLX,2022-07-03,67.08,Reprogramación,ASP INTEGRA OPC,Jorge Armando Contreras Tecaxco,...,"2024-01-01,42644264202401012759999768,40072,90...",02. Second_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,July,2022,NaN
26003,INSTANT,ba9ac86d-a452-4cc8-9467-a6d71b46457e,ABARROTES Y VINOS AMBAR,diegogo511@outlook.com,C2SJ7XYWS,2021-12-12,57.02,Reprogramación,SANTANDER,Diego Michel Flores Rosete,...,COMPROBANTE MISMO BANCO SANTANDER,01. First_batch,SANTANDER,Dispersión-20240102.xlsx,2024-01-02,January,2024,December,2021,NaN
35674,INSTANT,29872956-87f3-4ea9-876d-4fddba85bdcd,Six,marcogarza92@hotmail.com,QF2NBLRNB,2022-07-03,92.97,Reprogramación,ASP INTEGRA OPC,Marco Antonio Garza Diaz,...,"2024-01-02,42644264202401022761593195,40072,90...",02. Second_batch,BANORTE,Dispersión-20240102.xlsx,2024-01-02,January,2024,July,2022,NaN
28138,INSTANT,5108197e-eff3-4516-bbac-ceef8c2773b8,Ropa Y Novedades ARYFEL,felipezaa229@gmail.com,6VKWWVGXN,2022-07-03,574.94,Reprogramación,ASP INTEGRA OPC,Felipe Flores Garcia,...,"2024-01-03,20240103400140HDH0001495447400,4001...",01. First_batch,SANTANDER,Dispersión-20240103.xlsx,2024-01-03,January,2024,July,2022,NaN

In [28]:
fp_dia_total_repro.shape

(118, 22)

In [29]:
fp_dia_total_repro.to_excel('Reprogramaciones_instant.xlsx',index=False)

In [30]:
fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
                   & (fp_dia_total_repro['month_report'] == month_conc) 
                   & (fp_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
fp_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
72772,INSTANT,27fbe610-87ef-478e-83fa-f77de6b6da38,CREMERIA IRENITA,leroy_itze@hotmail.com,6YD3262ZB,2022-01-11,301.85,Reprogramación,ASP INTEGRA OPC,Jorge Armando Contreras Tecaxco,...,02. Second_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2022,NaN,nan
72773,INSTANT,27fbe610-87ef-478e-83fa-f77de6b6da38,CREMERIA IRENITA,leroy_itze@hotmail.com,MSBYRFCLX,2022-07-03,67.08,Reprogramación,ASP INTEGRA OPC,Jorge Armando Contreras Tecaxco,...,02. Second_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,July,2022,NaN,nan
26003,INSTANT,ba9ac86d-a452-4cc8-9467-a6d71b46457e,ABARROTES Y VINOS AMBAR,diegogo511@outlook.com,C2SJ7XYWS,2021-12-12,57.02,Reprogramación,SANTANDER,Diego Michel Flores Rosete,...,01. First_batch,SANTANDER,Dispersión-20240102.xlsx,2024-01-02,January,2024,December,2021,NaN,nan
35674,INSTANT,29872956-87f3-4ea9-876d-4fddba85bdcd,Six,marcogarza92@hotmail.com,QF2NBLRNB,2022-07-03,92.97,Reprogramación,ASP INTEGRA OPC,Marco Antonio Garza Diaz,...,02. Second_batch,BANORTE,Dispersión-20240102.xlsx,2024-01-02,January,2024,July,2022,NaN,nan
28138,INSTANT,5108197e-eff3-4516-bbac-ceef8c2773b8,Ropa Y Novedades ARYFEL,felipezaa229@gmail.com,6VKWWVGXN,2022-07-03,574.94,Reprogramación,ASP INTEGRA OPC,Felipe Flores Garcia,...,01. First_batch,SANTANDER,Dispersión-20240103.xlsx,2024-01-03,January,2024,July,2022,NaN,nan

In [31]:
pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_fp.fillna(0,inplace=True)
pivot_tipo_repro_fp.reset_index(drop=False, inplace=True)
pivot_tipo_repro_fp.head()

                        type                 Date       sum            \
                                                  total_due
tipo_reprogramacion                                     nan       All
0                    INSTANT  2024-01-01 00:00:00    368.93    368.93
1                    INSTANT  2024-01-02 00:00:00 72,392.61 72,392.61
2                    INSTANT  2024-01-03 00:00:00 23,339.81 23,339.81
3                    INSTANT  2024-01-04 00:00:00  6,736.51  6,736.51
4                    INSTANT  2024-01-05 00:00:00    394.80    394.80

                          len
                    total_due
tipo_reprogramacion       nan All
0                           2   2
1                          27  27
2                          14  14
3                          13  13
4                           2   2

# LEDGER

In [32]:
all_disp_ledger = all_disp[(all_disp['type'] == 'LEDGER')]
all_disp_ledger.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
0,LEDGER,03c36e07-4550-4a03-addc-23932ed78f86,NaN,NaN,A935WHWRG,2024-01-01,267.34,Pago del día,BBVA BANCOMER,Flor Liliana Gonzalez Gonzalez,...,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2024,NaN
48668,LEDGER,ab530350-07a8-422f-bc9d-81aeaa89f1db,NaN,NaN,AC9DQF6CR,2024-01-01,"1,629.01",Pago del día,HSBC,Alejandro Garcia Gomez,...,"2024-01-01,42644264202401012759773444,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2024,NaN
48669,LEDGER,ab5444dc-0e70-4ee7-9a28-e386d01bc928,NaN,NaN,A9RLJ33Q6,2024-01-01,"57,446.48",Pago del día,BAJIO,Hugo Javier Lopez Bonifaz,...,"2024-01-01,42644264202401012759744087,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2024,NaN
48670,LEDGER,ab549ce9-08c3-434b-b208-58bd270c8f8c,NaN,NaN,A3Z2D3SK2,2024-01-01,172.48,Pago del día,SANTANDER,Guadalupe Rosales Jimenez,...,"2024-01-01,42644264202401012759714239,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2024,NaN
48671,LEDGER,ab562636-b3ef-4a85-b9b6-1b3fc661ada0,NaN,NaN,ASNVFSMS5,2024-01-01,"10,166.03",Pago del día,BBVA BANCOMER,Felipe David Valerio Aguilar,...,"2024-01-01,42644264202401012759758846,40072,40...",01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2024,NaN

In [33]:
all_disp_ledger.shape

(3048693, 22)

In [34]:
pivot_total_ledger = pd.pivot_table(all_disp_ledger,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_ledger.reset_index(drop=False, inplace=True)
pivot_total_ledger.head()

     type                 Date            sum       len
                                    total_due total_due
0  LEDGER  2024-01-01 00:00:00 236,236,499.85     74186
1  LEDGER  2024-01-02 00:00:00 130,746,434.42     38844
2  LEDGER  2024-01-03 00:00:00 235,124,868.99     91963
3  LEDGER  2024-01-04 00:00:00 247,763,379.28     99904
4  LEDGER  2024-01-05 00:00:00 256,184,005.30    104709

In [35]:
pivot_total_ledger.shape

(32, 4)

In [36]:
pivot_parcial_ledger = pd.pivot_table(all_disp_ledger,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_ledger.reset_index(drop=False, inplace=True)
pivot_parcial_ledger.head()

          type          tipo                 Date        sum                 \
                                                   total_due
status                                                 ERROR           PAID
0       LEDGER  Pago del día  2024-01-01 00:00:00 864,981.05 234,081,059.78
1       LEDGER  Pago del día  2024-01-02 00:00:00 249,396.97 127,775,499.47
2       LEDGER  Pago del día  2024-01-03 00:00:00 262,803.12 232,993,764.60
3       LEDGER  Pago del día  2024-01-04 00:00:00 327,406.66 244,879,596.51
4       LEDGER  Pago del día  2024-01-05 00:00:00 413,972.51 253,258,786.29

                            len
                      total_due
status            All     ERROR    PAID     All
0      234,946,040.83        98   73549   73647
1      128,024,896.44        63   37279   37342
2      233,256,567.72        94   91035   91129
3      245,207,003.17       116   98995   99111
4      253,672,758.80       142  104083  104225

## CATEGORIZACION DE REPROGRAMACIONES - LEDGER

In [37]:
ledger_dia_total_repro = all_disp_ledger[(all_disp_ledger['tipo'] == 'Reprogramación')]
ledger_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
48629,LEDGER,ab350613-f8be-4064-b760-d8e74e42b3ac,NaN,NaN,AKZY6FTWJ,2023-12-24,251.54,Reprogramación,BANORTE/IXE,Karla Lopez,...,COMPROBANTE MISMO BANCO BANORTE,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2023,NaN
48628,LEDGER,ab350613-f8be-4064-b760-d8e74e42b3ac,NaN,NaN,A5ZMKS96D,2023-12-23,281.73,Reprogramación,BANORTE/IXE,Karla Lopez,...,COMPROBANTE MISMO BANCO BANORTE,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2023,NaN
48627,LEDGER,ab350613-f8be-4064-b760-d8e74e42b3ac,NaN,NaN,A89S45LLS,2023-12-22,321.96,Reprogramación,BANORTE/IXE,Karla Lopez,...,COMPROBANTE MISMO BANCO BANORTE,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2023,NaN
48626,LEDGER,ab350613-f8be-4064-b760-d8e74e42b3ac,NaN,NaN,ACWY9SYVK,2023-12-17,533.74,Reprogramación,BANORTE/IXE,Karla Lopez,...,COMPROBANTE MISMO BANCO BANORTE,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2023,NaN
48625,LEDGER,ab350613-f8be-4064-b760-d8e74e42b3ac,NaN,NaN,AJXX94F4K,2023-12-11,271.17,Reprogramación,BANORTE/IXE,Karla Lopez,...,COMPROBANTE MISMO BANCO BANORTE,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2023,NaN

In [38]:
ledger_dia_total_repro.shape

(13592, 22)

In [39]:
ledger_dia_total_repro.to_excel('Reprogramaciones_ledger.xlsx',index=False)

In [40]:
ledger_dia_total_repro.loc[(ledger_dia_total_repro['tipo'] == 'Reprogramación')
                   & (ledger_dia_total_repro['month_report'] == month_conc) 
                   & (ledger_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
ledger_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
ledger_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_12004\3563945437.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ledger_dia_total_repro.loc[(ledger_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_12004\3563945437.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ledger_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
48629,LEDGER,ab350613-f8be-4064-b760-d8e74e42b3ac,NaN,NaN,AKZY6FTWJ,2023-12-24,251.54,Reprogramación,BANORTE/IXE,Karla Lopez,...,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2023,NaN,nan
48628,LEDGER,ab350613-f8be-4064-b760-d8e74e42b3ac,NaN,NaN,A5ZMKS96D,2023-12-23,281.73,Reprogramación,BANORTE/IXE,Karla Lopez,...,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2023,NaN,nan
48627,LEDGER,ab350613-f8be-4064-b760-d8e74e42b3ac,NaN,NaN,A89S45LLS,2023-12-22,321.96,Reprogramación,BANORTE/IXE,Karla Lopez,...,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2023,NaN,nan
48626,LEDGER,ab350613-f8be-4064-b760-d8e74e42b3ac,NaN,NaN,ACWY9SYVK,2023-12-17,533.74,Reprogramación,BANORTE/IXE,Karla Lopez,...,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2023,NaN,nan
48625,LEDGER,ab350613-f8be-4064-b760-d8e74e42b3ac,NaN,NaN,AJXX94F4K,2023-12-11,271.17,Reprogramación,BANORTE/IXE,Karla Lopez,...,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2023,NaN,nan

In [41]:
pivot_tipo_repro_ledger = pd.pivot_table(ledger_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_ledger.fillna(0,inplace=True)
pivot_tipo_repro_ledger.reset_index(drop=False, inplace=True)
pivot_tipo_repro_ledger.head()

                       type                 Date          sum                  \
                                                    total_due
tipo_reprogramacion                                       nan repro_mismo_mes
0                    LEDGER  2024-01-01 00:00:00 1,290,459.02            0.00
1                    LEDGER  2024-01-02 00:00:00 2,628,731.45       92,806.53
2                    LEDGER  2024-01-03 00:00:00 1,775,677.51       92,623.76
3                    LEDGER  2024-01-04 00:00:00 2,200,961.27      355,414.84
4                    LEDGER  2024-01-05 00:00:00 2,140,431.33      370,815.17

                                       len
                                 total_due
tipo_reprogramacion          All       nan repro_mismo_mes   All
0                   1,290,459.02    539.00            0.00   539
1                   2,721,537.98  1,479.00           23.00  1502
2                   1,868,301.27    804.00           30.00   834
3                   2,556,376.11    732.00           61.00   793
4                   2,511,246.50    421.00           63.00   484

In [42]:
pivot_tipo_repro_ledger.shape

(32, 8)

# EXCEL FINAL

In [43]:
writer = pd.ExcelWriter('FASE IV. REPROGRAMACIONES ENERO 2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_total_trad.to_excel(writer, sheet_name='TRADICIONAL TOTAL')
pivot_parcial_trad.to_excel(writer, sheet_name='TRADICIONAL PARCIAL')
pivot_total_fp.to_excel(writer, sheet_name='FP TOTAL')
pivot_parcial_fp.to_excel(writer, sheet_name='FP PARCIAL')
pivot_total_ledger.to_excel(writer, sheet_name='LEDGER TOTAL')
pivot_parcial_ledger.to_excel(writer, sheet_name='LEDGER PARCIAL')
pivot_tipo_repro.to_excel(writer, sheet_name='CATEGORIZACION REPRO TRAD')
pivot_tipo_repro_fp.to_excel(writer, sheet_name='CATEGORIZACION REPRO FP')
pivot_tipo_repro_ledger.to_excel(writer, sheet_name='CATEGORIZACION REPRO LEDGER')
writer.close()