In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
import datetime
pd.options.display.float_format = '{:,.2f}'.format
datetime.timedelta(days=1)
datetime.timedelta(1)

datetime.timedelta(days=1)

# SETTLEMENT

In [2]:
start_date = '2022-09-01'
final_date = '2022-09-30'

In [3]:
allfiles_settled = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\09. SEPTIEMBRE\QUERIES\*.csv', recursive=False)
allfiles_settled

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-29.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\09. SEPTIEMBRE\\QUERIES\\SETTLEMENT 2022-09-30.csv']

In [4]:
settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
settled['Date_file'] = settled["file_name"].str[-14:-4]
settled['Date_file']= pd.to_datetime(settled['Date_file'])
settled['report_date_local']= pd.to_datetime(settled['report_date_local'])

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18200\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18200\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18200\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18200\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18200\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18200\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18200\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18200\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18200\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18200\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])

In [5]:
settled.reset_index(inplace=True)
settled.drop(['index'],axis=1,inplace=True)
settled.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,Date_file
0,fb7b00dc-34fd-4315-a707-f2f2cc0af11c,CASA MANCINAS,luis.albertomancinas@gmail.com,FLNH3RSW3,2022-09-01,"3,000.00",108.00,17.28,0.00,0.00,...,0.00,NaN,"2,874.72",DAILY,2022-09-01,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv,2022-09-01
1,82d8f28f-82ce-48fb-ad7d-1a05633356a5,TRAGONA FONDA,j_mizael26@hotmail.com,G9KZZ3CV6,2022-09-01,138.00,4.97,0.80,0.00,0.00,...,0.00,NaN,132.23,DAILY,2022-09-01,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv,2022-09-01
2,60bee498-10da-4461-9993-8d583fcc512e,MAS VERDE,hectorfk7@gmail.com,K5VBHL3BH,2022-09-01,"22,501.45",810.05,129.61,0.00,0.00,...,0.00,NaN,"21,561.79",DAILY,2022-09-01,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv,2022-09-01
3,98cfac80-6c04-4478-a933-c54c3efaff52,ABARROTES ABY,samuel041267@gmail.com,QTYXZJ54K,2022-09-01,542.00,19.51,3.12,0.00,0.00,...,0.00,NaN,519.37,DAILY,2022-09-01,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv,2022-09-01
4,6f9fe7c6-ad24-4b3e-b1dd-99cb24b6e375,PROCACE,procaceterminal@hotmail.com,43TBBGXDH,2022-09-01,650.00,23.40,3.74,0.00,0.00,...,0.00,NaN,622.86,DAILY,2022-09-01,02:00:35,2022-09-01,02:00:35,SETTLEMENT 2022-09-01.csv,2022-09-01

In [6]:
settled.shape

(2692613, 27)

### CURRENT MONTH

In [7]:
settled_current_month = settled[(settled['report_date_local'] >= start_date) & (settled['report_date_local'] <= final_date)]
settled_current_month.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,Date_file
0,fb7b00dc-34fd-4315-a707-f2f2cc0af11c,CASA MANCINAS,luis.albertomancinas@gmail.com,FLNH3RSW3,2022-09-01,"3,000.00",108.00,17.28,0.00,0.00,...,0.00,NaN,"2,874.72",DAILY,2022-09-01,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv,2022-09-01
1,82d8f28f-82ce-48fb-ad7d-1a05633356a5,TRAGONA FONDA,j_mizael26@hotmail.com,G9KZZ3CV6,2022-09-01,138.00,4.97,0.80,0.00,0.00,...,0.00,NaN,132.23,DAILY,2022-09-01,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv,2022-09-01
2,60bee498-10da-4461-9993-8d583fcc512e,MAS VERDE,hectorfk7@gmail.com,K5VBHL3BH,2022-09-01,"22,501.45",810.05,129.61,0.00,0.00,...,0.00,NaN,"21,561.79",DAILY,2022-09-01,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv,2022-09-01
3,98cfac80-6c04-4478-a933-c54c3efaff52,ABARROTES ABY,samuel041267@gmail.com,QTYXZJ54K,2022-09-01,542.00,19.51,3.12,0.00,0.00,...,0.00,NaN,519.37,DAILY,2022-09-01,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv,2022-09-01
4,6f9fe7c6-ad24-4b3e-b1dd-99cb24b6e375,PROCACE,procaceterminal@hotmail.com,43TBBGXDH,2022-09-01,650.00,23.40,3.74,0.00,0.00,...,0.00,NaN,622.86,DAILY,2022-09-01,02:00:35,2022-09-01,02:00:35,SETTLEMENT 2022-09-01.csv,2022-09-01

In [8]:
settled_current_month.shape

(2692613, 27)

In [9]:
settled_current_month.dtypes

merchant_id                              object
merchant_name                            object
user_email                               object
report_id                                object
report_date_local                datetime64[ns]
total_transactions                      float64
total_fees_charged                      float64
total_taxes                             float64
applied_fees_benefits                   float64
applied_taxes_benefits                  float64
fee_direct_deposit                      float64
taxes_direct_deposit                    float64
total_adjustments                       float64
total_adjustment_fees_charged           float64
total_adjustment_taxes                  float64
cobranza                                float64
total_released                          float64
total_retained                          float64
tipopago                                 object
total_due                               float64
type                                     object
created_date                             object
created_time                             object
updated_date                             object
updated_time                             object
file_name                                object
Date_file                        datetime64[ns]
dtype: object

In [10]:
# def next_date(settled_current_month):
#     if settled_current_month['updated_time'] >= '20:00:00':
#         return settled_current_month['report_date_local'] + datetime.timedelta(days=1)
#     else:
#         return settled_current_month['report_date_local']
    
# settled_current_month['poliza_date'] = settled_current_month.apply(next_date, axis=1)

In [11]:
# settled_current_month.head()

In [12]:
# settled_current_month.shape

In [13]:
# settled_current_month['poliza_date'].unique()

### CANCELACIONES

In [14]:
settled_current_month.loc[(settled_current_month['total_released'] > 0)
                          & (settled_current_month['total_adjustments'] < 0),'canc_1'] = settled_current_month['total_adjustments']
settled_current_month['canc_1'].fillna(0,inplace=True)

In [15]:
settled_current_month.loc[(settled_current_month['total_released'] > 0)
                          & (settled_current_month['total_adjustments'] < 0),'canc_2'] = settled_current_month['total_released']
settled_current_month['canc_2'].fillna(0,inplace=True)

In [16]:
settled_current_month['cancelaciones'] = (-settled_current_month['canc_1']) - (settled_current_month['canc_2'])
settled_current_month.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,type,created_date,created_time,updated_date,updated_time,file_name,Date_file,canc_1,canc_2,cancelaciones
0,fb7b00dc-34fd-4315-a707-f2f2cc0af11c,CASA MANCINAS,luis.albertomancinas@gmail.com,FLNH3RSW3,2022-09-01,"3,000.00",108.00,17.28,0.00,0.00,...,DAILY,2022-09-01,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv,2022-09-01,0.00,0.00,-0.00
1,82d8f28f-82ce-48fb-ad7d-1a05633356a5,TRAGONA FONDA,j_mizael26@hotmail.com,G9KZZ3CV6,2022-09-01,138.00,4.97,0.80,0.00,0.00,...,DAILY,2022-09-01,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv,2022-09-01,0.00,0.00,-0.00
2,60bee498-10da-4461-9993-8d583fcc512e,MAS VERDE,hectorfk7@gmail.com,K5VBHL3BH,2022-09-01,"22,501.45",810.05,129.61,0.00,0.00,...,DAILY,2022-09-01,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv,2022-09-01,0.00,0.00,-0.00
3,98cfac80-6c04-4478-a933-c54c3efaff52,ABARROTES ABY,samuel041267@gmail.com,QTYXZJ54K,2022-09-01,542.00,19.51,3.12,0.00,0.00,...,DAILY,2022-09-01,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv,2022-09-01,0.00,0.00,-0.00
4,6f9fe7c6-ad24-4b3e-b1dd-99cb24b6e375,PROCACE,procaceterminal@hotmail.com,43TBBGXDH,2022-09-01,650.00,23.40,3.74,0.00,0.00,...,DAILY,2022-09-01,02:00:35,2022-09-01,02:00:35,SETTLEMENT 2022-09-01.csv,2022-09-01,0.00,0.00,-0.00

In [17]:
settled_current_month.shape

(2692613, 30)

### TOTAL DUE CALCULADO

In [18]:
settled_current_month['total_due_calculado'] = (settled_current_month['total_transactions']
                                                - settled_current_month['total_fees_charged']
                                                - settled_current_month['total_taxes']
                                                + settled_current_month['applied_fees_benefits']
                                                + settled_current_month['applied_taxes_benefits']
                                                + settled_current_month['fee_direct_deposit']
                                                + settled_current_month['taxes_direct_deposit']
                                                - (-settled_current_month['total_adjustments'])
                                                + (-settled_current_month['total_adjustment_fees_charged'])
                                                + (-settled_current_month['total_adjustment_taxes'])
                                                - settled_current_month['cobranza']
                                                + settled_current_month['total_released']
                                                - settled_current_month['total_retained'])
settled_current_month['diferencias'] = settled_current_month['total_due_calculado'] - settled_current_month['total_due']
settled_current_month.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,created_time,updated_date,updated_time,file_name,Date_file,canc_1,canc_2,cancelaciones,total_due_calculado,diferencias
0,fb7b00dc-34fd-4315-a707-f2f2cc0af11c,CASA MANCINAS,luis.albertomancinas@gmail.com,FLNH3RSW3,2022-09-01,"3,000.00",108.00,17.28,0.00,0.00,...,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv,2022-09-01,0.00,0.00,-0.00,"2,874.72",0.00
1,82d8f28f-82ce-48fb-ad7d-1a05633356a5,TRAGONA FONDA,j_mizael26@hotmail.com,G9KZZ3CV6,2022-09-01,138.00,4.97,0.80,0.00,0.00,...,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv,2022-09-01,0.00,0.00,-0.00,132.23,0.00
2,60bee498-10da-4461-9993-8d583fcc512e,MAS VERDE,hectorfk7@gmail.com,K5VBHL3BH,2022-09-01,"22,501.45",810.05,129.61,0.00,0.00,...,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv,2022-09-01,0.00,0.00,-0.00,"21,561.79",0.00
3,98cfac80-6c04-4478-a933-c54c3efaff52,ABARROTES ABY,samuel041267@gmail.com,QTYXZJ54K,2022-09-01,542.00,19.51,3.12,0.00,0.00,...,02:00:34,2022-09-01,02:00:34,SETTLEMENT 2022-09-01.csv,2022-09-01,0.00,0.00,-0.00,519.37,0.00
4,6f9fe7c6-ad24-4b3e-b1dd-99cb24b6e375,PROCACE,procaceterminal@hotmail.com,43TBBGXDH,2022-09-01,650.00,23.40,3.74,0.00,0.00,...,02:00:35,2022-09-01,02:00:35,SETTLEMENT 2022-09-01.csv,2022-09-01,0.00,0.00,-0.00,622.86,0.00

In [19]:
settled_current_month.shape

(2692613, 32)

### CONCILIACION TPV

In [20]:
conc_1 = settled_current_month.groupby(['report_date_local']).agg({'total_transactions':sum,'total_fees_charged':sum
                                                                    ,'total_taxes':sum,'applied_fees_benefits':sum
                                                                    ,'applied_taxes_benefits':sum,'fee_direct_deposit':sum
                                                                    ,'taxes_direct_deposit':sum,'total_adjustments':sum
                                                                    ,'total_adjustment_fees_charged':sum
                                                                    ,'total_adjustment_taxes':sum 
                                                                    ,'cobranza':sum,'total_released':sum
                                                                    ,'total_retained':sum,'cancelaciones':sum
                                                                    ,'total_due_calculado':sum,'total_due':sum
                                                                    ,'diferencias':sum}).reset_index()
conc_1['total_adjustments'] = conc_1['total_adjustments']*-1 
conc_1['total_adjustment_fees_charged'] = conc_1['total_adjustment_fees_charged']*-1
conc_1['total_adjustment_taxes'] = conc_1['total_adjustment_taxes']*-1 
conc_1.head()

,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-09-01,"185,196,654.02","7,595,731.98","1,215,332.84","1,455.11",232.93,"21,735.18","3,481.62","1,384,481.98",-0.00,-0.00,"9,302.37","1,570,571.22","746,460.89",916.14,"175,842,820.02","175,842,820.02",-0.00
1,2022-09-02,"181,217,155.84","7,302,343.13","1,168,391.51","1,307.39",209.23,"22,669.05","3,631.15","1,614,832.06","1,200.76",192.11,"95,719.95","474,599.86","1,588,353.24","3,330.22","169,951,325.50","169,951,325.50",0.00
2,2022-09-03,"213,265,190.78","8,521,785.32","1,363,498.28","1,886.52",301.89,"22,623.21","3,623.79","1,814,442.48",-0.00,-0.00,"49,189.36","1,680,468.95","1,359,202.30",0.00,"201,865,977.40","201,865,977.40",-0.00
3,2022-09-04,"240,833,361.59","9,502,836.49","1,520,464.51","1,169.94",187.21,"21,691.96","3,474.24","2,117,631.67",541.60,86.65,"22,216.58","1,263,462.73","729,344.09",628.25,"228,231,482.58","228,231,482.58",-0.00
4,2022-09-05,"166,805,486.60","6,496,222.85","1,039,405.97","1,239.68",198.40,"16,370.42","2,621.58","1,497,261.91",-0.00,-0.00,"20,982.60","108,943.53","352,483.18",0.00,"157,528,503.70","157,528,503.70",-0.00

In [21]:
conc_1.shape

(30, 18)

In [22]:
conc_3 = settled_current_month.groupby(['report_date_local','type']).agg({'total_transactions':sum,'total_fees_charged':sum
                                                                    ,'total_taxes':sum,'applied_fees_benefits':sum
                                                                    ,'applied_taxes_benefits':sum,'fee_direct_deposit':sum
                                                                    ,'taxes_direct_deposit':sum,'total_adjustments':sum     
                                                                    ,'total_adjustment_fees_charged':sum
                                                                    ,'total_adjustment_taxes':sum 
                                                                    ,'cobranza':sum,'total_released':sum
                                                                    ,'total_retained':sum,'cancelaciones':sum
                                                                    ,'total_due_calculado':sum,'total_due':sum
                                                                    ,'diferencias':sum}).reset_index()
conc_3['total_adjustments'] = conc_3['total_adjustments']*-1 
conc_3['total_adjustment_fees_charged'] = conc_3['total_adjustment_fees_charged']*-1
conc_3['total_adjustment_taxes'] = conc_3['total_adjustment_taxes']*-1 
conc_3.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-09-01,DAILY,"182,101,242.83","7,474,024.35","1,195,858.74","1,455.11",232.93,"21,735.18","3,481.62","1,295,522.53",-0.00,-0.00,"9,302.37","1,570,571.22","689,876.15",916.14,"173,034,134.75","173,034,134.75",-0.00
1,2022-09-01,INSTANT,"3,095,411.19","121,707.63","19,474.10",0.00,0.00,0.00,0.00,"88,959.45",-0.00,-0.00,0.00,0.00,"56,584.74",0.00,"2,808,685.27","2,808,685.27",0.00
2,2022-09-02,DAILY,"178,278,327.35","7,174,746.05","1,147,975.96","1,307.39",209.23,"22,669.05","3,631.15","1,517,901.89","1,200.76",192.11,"95,719.95","418,159.52","1,588,174.05","3,330.22","167,201,178.66","167,201,178.66",0.00
3,2022-09-02,INSTANT,"2,938,828.49","127,597.08","20,415.55",0.00,0.00,0.00,0.00,"96,930.17",-0.00,-0.00,0.00,"56,440.34",179.19,0.00,"2,750,146.84","2,750,146.84",-0.00
4,2022-09-03,DAILY,"209,697,344.41","8,377,761.92","1,340,454.40","1,886.52",301.89,"22,623.21","3,623.79","1,680,872.94",-0.00,-0.00,"49,189.36","1,680,468.95","1,359,028.37",0.00,"198,598,941.78","198,598,941.78",-0.00

In [23]:
conc_3.shape

(60, 19)

In [24]:
conc_3['type'].unique()

array(['DAILY', 'INSTANT'], dtype=object)

In [25]:
data_daily = conc_3[(conc_3['type'] == 'DAILY')]
data_daily.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-09-01,DAILY,"182,101,242.83","7,474,024.35","1,195,858.74","1,455.11",232.93,"21,735.18","3,481.62","1,295,522.53",-0.00,-0.00,"9,302.37","1,570,571.22","689,876.15",916.14,"173,034,134.75","173,034,134.75",-0.00
2,2022-09-02,DAILY,"178,278,327.35","7,174,746.05","1,147,975.96","1,307.39",209.23,"22,669.05","3,631.15","1,517,901.89","1,200.76",192.11,"95,719.95","418,159.52","1,588,174.05","3,330.22","167,201,178.66","167,201,178.66",0.00
4,2022-09-03,DAILY,"209,697,344.41","8,377,761.92","1,340,454.40","1,886.52",301.89,"22,623.21","3,623.79","1,680,872.94",-0.00,-0.00,"49,189.36","1,680,468.95","1,359,028.37",0.00,"198,598,941.78","198,598,941.78",-0.00
6,2022-09-04,DAILY,"238,190,997.83","9,400,521.63","1,504,093.52","1,169.94",187.21,"21,691.96","3,474.24","2,001,921.08",541.60,86.65,"22,216.58","1,217,601.36","729,257.85",628.25,"225,777,740.13","225,777,740.13",-0.00
8,2022-09-05,DAILY,"164,465,193.33","6,402,739.29","1,024,448.53","1,239.68",198.40,"16,370.42","2,621.58","1,414,368.60",-0.00,-0.00,"20,982.60","108,036.08","352,419.94",0.00,"155,378,700.53","155,378,700.53",-0.00

In [26]:
data_daily.shape

(30, 19)

In [27]:
data_instant = conc_3[(conc_3['type'] == 'INSTANT')]
data_instant.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
1,2022-09-01,INSTANT,"3,095,411.19","121,707.63","19,474.10",0.00,0.00,0.00,0.00,"88,959.45",-0.00,-0.00,0.00,0.00,"56,584.74",0.00,"2,808,685.27","2,808,685.27",0.00
3,2022-09-02,INSTANT,"2,938,828.49","127,597.08","20,415.55",0.00,0.00,0.00,0.00,"96,930.17",-0.00,-0.00,0.00,"56,440.34",179.19,0.00,"2,750,146.84","2,750,146.84",-0.00
5,2022-09-03,INSTANT,"3,567,846.37","144,023.40","23,043.88",0.00,0.00,0.00,0.00,"133,569.54",-0.00,-0.00,0.00,0.00,173.93,0.00,"3,267,035.62","3,267,035.62",-0.00
7,2022-09-04,INSTANT,"2,642,363.76","102,314.86","16,370.99",0.00,0.00,0.00,0.00,"115,710.59",-0.00,-0.00,0.00,"45,861.37",86.24,0.00,"2,453,742.45","2,453,742.45",-0.00
9,2022-09-05,INSTANT,"2,340,293.27","93,483.56","14,957.44",0.00,0.00,0.00,0.00,"82,893.31",-0.00,-0.00,0.00,907.45,63.24,0.00,"2,149,803.17","2,149,803.17",-0.00

In [28]:
data_instant.shape

(30, 19)

### RELEASED SIN CLABE

In [29]:
released_sinclabe = settled_current_month[(settled_current_month['tipopago'] == 'sin CLABE')]
released_sinclabe.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date_file, canc_1, canc_2, cancelaciones, total_due_calculado, diferencias]
Index: []

[0 rows x 32 columns]

In [30]:
released_sinclabe.shape

(0, 32)

In [31]:
released_1 = released_sinclabe.groupby(['report_date_local']).agg({'total_released':sum}).reset_index()
released_1.head()

Empty DataFrame
Columns: [report_date_local, total_released]
Index: []

In [32]:
released_1.shape

(0, 2)

In [33]:
released_3 = released_sinclabe.groupby(['report_date_local','type']).agg({'total_released':sum}).reset_index()
released_3.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [34]:
released_3.shape

(0, 3)

In [35]:
released_3['type'].unique()

array([], dtype=object)

In [36]:
released_daily = released_3[(released_3['type'] == 'DAILY')]
released_daily.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [37]:
released_daily.shape

(0, 3)

In [38]:
released_instant = released_3[(released_3['type'] == 'INSTANT')]
released_instant.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [39]:
released_instant.shape

(0, 3)

# EXCEL FINAL

In [40]:
writer = pd.ExcelWriter('FASE I. DATA POLIZA SEPTIEMBRE 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
conc_1.to_excel(writer, sheet_name='MONTOS REPORT_DATE',index=False)
data_daily.to_excel(writer, sheet_name='MONTOS_DAILY',index=False)
data_instant.to_excel(writer, sheet_name='MONTOS_INSTANT',index=False)
released_1.to_excel(writer, sheet_name='RELEASED REPORT_DATE',index=False)
released_daily.to_excel(writer, sheet_name='RELEASED_DAILY',index=False)
released_instant.to_excel(writer, sheet_name='RELEASED_INSTANT',index=False)
writer.close()