In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# MES AÑO DE CONCILIACIÓN

In [2]:
month_conc = 'October'
year_conc = '2023'

# RUTAS DE ACCESO

### SWAP DEL DIA

In [3]:
allfiles_disp_trad = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2023\10. OCTUBRE\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
allfiles_disp_trad

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231001.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231002.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231003.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231004.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231005.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231006.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231007.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231008.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231009.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231010.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231011.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231012.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231013.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231014.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231015.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231016.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231017.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231018.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231019.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231020.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231021.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231022.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231023.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231024.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231025.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231026.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231027.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231028.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231029.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231030.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20231031.xlsx']

### FAST PAYMENTS

In [4]:
allfiles_fp = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2023\10. OCTUBRE\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx',recursive=False)
allfiles_fp

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-30.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-10-31.xlsx']

# SWAP DEL DIA

In [5]:
swap_dia_total = pd.concat([pd.read_excel(f,sheet_name = 'Swap del día')
                            .assign(file_name=os.path.basename(f)) for f in allfiles_disp_trad])
swap_dia_total['Date'] = swap_dia_total["file_name"].str[-13:-5]
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'], format='%Y%m%d').dt.date
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'])
swap_dia_total.sort_values(by=['Date'],ascending=True,inplace=True)
swap_dia_total['report_date_local']= pd.to_datetime(swap_dia_total['report_date_local'])
swap_dia_total['month_conc'] = month_conc
swap_dia_total['year_conc'] = year_conc
swap_dia_total['month_report'] = swap_dia_total['report_date_local'].dt.strftime('%B')
swap_dia_total['year_report'] = swap_dia_total['report_date_local'].dt.year.astype(str)
swap_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,LEDGER_TRAD,03817645-41bf-4990-a393-e70062edacab,NaN,NaN,A4L8622LV,2023-10-01,52.70,Pago del día,CAJA POP MEXICA,Ana Sarahi Aguiar PePe,...,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,October,2023
75829,LEDGER_TRAD,aa30d809-dcb9-4408-9ffb-4834e2855886,NaN,NaN,A4Z4RQ5YF,2023-10-01,645.86,Pago del día,BBVA BANCOMER,Axely Magdalena Polanco Contreras,...,PAID,"2023-10-01,42644264202310012558909788,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,October,2023
75828,LEDGER_TRAD,aa3001a6-453d-48f5-98e7-97037185d5f5,NaN,NaN,AVGMQ89JX,2023-10-01,"14,742.51",Pago del día,AZTECA,MARIA LUISA MIRANDA,...,PAID,"2023-10-01,42644264202310012558956103,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,October,2023
75827,LEDGER_TRAD,aa2fe9df-ec77-4854-a099-ddd2dc3a61c1,NaN,NaN,A8Q6FRQRW,2023-10-01,180.16,Pago del día,SANTANDER,MARIA SOLEDAD OROZCO CASTELLANOS,...,PAID,"2023-10-01,nan,40072,40014,014090566470522616,...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,October,2023
75826,LEDGER_TRAD,aa2f8064-4372-44df-b1fa-7abddc5e690f,NaN,NaN,AP56RQQJD,2023-10-01,106.37,Pago del día,AZTECA,Beatriz Avila,...,PAID,"2023-10-01,42644264202310012558933955,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,October,2023

In [6]:
swap_dia_total.shape

(3108565, 21)

In [7]:
swap_dia_total.dtypes

type                               object
merchant_id                        object
merchant_name                      object
user_email                         object
report_id                          object
report_date_local          datetime64[ns]
total_due                         float64
tipo                               object
bank                               object
bank_account_owner_name            object
CLABE                              object
status                             object
LINEA CEP                          object
Batch_time                         object
Banco_emisor                       object
file_name                          object
Date                       datetime64[ns]
month_conc                         object
year_conc                          object
month_report                       object
year_report                        object
dtype: object

# FAST PAYMENTS

In [8]:
fp_dia_total = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS')
                          .assign(file_name=os.path.basename(f)) for f in allfiles_fp])
fp_dia_total['Date'] = fp_dia_total["file_name"].str[-15:-5]
fp_dia_total['Date']= pd.to_datetime(fp_dia_total['Date'])
fp_dia_total['report_date_local']= pd.to_datetime(fp_dia_total['report_date_local'])
fp_dia_total['month_conc'] = month_conc
fp_dia_total['year_conc'] = year_conc
fp_dia_total['month_report'] = fp_dia_total['report_date_local'].dt.strftime('%B')
fp_dia_total['year_report'] = fp_dia_total['report_date_local'].dt.year.astype(str)
fp_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,LEDGER_FP,0bed913a-0ea1-4ac1-9497-f588b6246214,NaN,NaN,AZ34TN39C,2023-10-01,114.99,Pago del día,BANAMEX,Eva Mariana Pazos Solis,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2023-10-01.xlsx,2023-10-01,October,2023,October,2023
1,LEDGER_FP,35a52e72-7452-4bd1-89eb-9dc6c88ff74f,NaN,NaN,AJ7WP4RTV,2023-10-01,"3,114.28",Pago del día,ASP INTEGRA OPC,Sebastian Rico Hernandez,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2023-10-01.xlsx,2023-10-01,October,2023,October,2023
2,LEDGER_FP,82ec322b-9192-4173-9cfd-d9cdac7840ee,NaN,NaN,AXPGLBMYX,2023-10-01,"57,494.40",Pago del día,ASP INTEGRA OPC,Alfredo rufino Rojas Gonzalez,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2023-10-01.xlsx,2023-10-01,October,2023,October,2023
3,LEDGER_FP,a5e5309c-4876-4316-86d6-19929937a69c,NaN,NaN,AJWF4Z5YH,2023-10-01,0.95,Pago del día,ASP INTEGRA OPC,Jesse Ivan Piña Lopez,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2023-10-01.xlsx,2023-10-01,October,2023,October,2023
4,LEDGER_FP,e092814b-24ef-4add-9782-a0b9481f8c46,NaN,NaN,A3GJZZ9Z8,2023-10-01,55.10,Pago del día,ASP INTEGRA OPC,Ivette Sarahi Contreras Bravo,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2023-10-01.xlsx,2023-10-01,October,2023,October,2023

In [9]:
fp_dia_total.shape

(135419, 21)

In [10]:
fp_dia_total.dtypes

type                         object
merchant_id                  object
merchant_name                object
user_email                   object
report_id                    object
report_date_local    datetime64[ns]
total_due                   float64
tipo                         object
bank                         object
swap                         object
CLABE                        object
status                       object
LINEA CEP                    object
Batch_time                   object
Banco_emisor                 object
file_name                    object
Date                 datetime64[ns]
month_conc                   object
year_conc                    object
month_report                 object
year_report                  object
dtype: object

# ALL DISPERSIONES

In [11]:
all_disp = pd.concat([swap_dia_total,fp_dia_total])
all_disp.loc[all_disp['type'].str.contains('LEDGER'), 'type'] = 'LEDGER'
all_disp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
0,LEDGER,03817645-41bf-4990-a393-e70062edacab,NaN,NaN,A4L8622LV,2023-10-01,52.70,Pago del día,CAJA POP MEXICA,Ana Sarahi Aguiar PePe,...,NaN,01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,October,2023,NaN
75829,LEDGER,aa30d809-dcb9-4408-9ffb-4834e2855886,NaN,NaN,A4Z4RQ5YF,2023-10-01,645.86,Pago del día,BBVA BANCOMER,Axely Magdalena Polanco Contreras,...,"2023-10-01,42644264202310012558909788,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,October,2023,NaN
75828,LEDGER,aa3001a6-453d-48f5-98e7-97037185d5f5,NaN,NaN,AVGMQ89JX,2023-10-01,"14,742.51",Pago del día,AZTECA,MARIA LUISA MIRANDA,...,"2023-10-01,42644264202310012558956103,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,October,2023,NaN
75827,LEDGER,aa2fe9df-ec77-4854-a099-ddd2dc3a61c1,NaN,NaN,A8Q6FRQRW,2023-10-01,180.16,Pago del día,SANTANDER,MARIA SOLEDAD OROZCO CASTELLANOS,...,"2023-10-01,nan,40072,40014,014090566470522616,...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,October,2023,NaN
75826,LEDGER,aa2f8064-4372-44df-b1fa-7abddc5e690f,NaN,NaN,AP56RQQJD,2023-10-01,106.37,Pago del día,AZTECA,Beatriz Avila,...,"2023-10-01,42644264202310012558933955,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,October,2023,NaN

In [12]:
all_disp.shape

(3243984, 22)

In [13]:
all_disp['type'].unique()

array(['LEDGER', 'DAILY', 'INSTANT'], dtype=object)

# TRADICIONAL

In [14]:
all_disp_trad = all_disp[(all_disp['type'] == 'DAILY')]
all_disp_trad.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
63035,DAILY,8d7dfc88-9a46-41fb-8576-780b2b54e6b2,Ley mar,cesarfavelaleyva@gmail.com,82Q3GDQBP,2022-12-15,9.58,Reprogramación,BANAMEX,Cesar Francisco Leyva Favela,...,"2023-10-01,42644264202310012558946907,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,December,2022,NaN
105175,DAILY,ec89cc08-e3a8-490b-9093-d00c81dcf8e1,Nemy salon,bernalazucena_67@icloud.com,5CMZQTQM4,2022-03-06,3.84,Reprogramación,BBVA BANCOMER,Claribel azucena Bernal,...,"2023-10-01,42644264202310012558893231,40072,40...",02. Second_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,March,2022,NaN
90159,DAILY,ca62c188-40cf-4af2-87a9-9ed7e32547e3,Abarrotes perla,osunaperlayedit@gmail.com,QWNYLJFNM,2022-05-08,356.48,Reprogramación,INBURSA,perla yedit osuna chairez,...,"2023-10-01,42644264202310012558989544,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,May,2022,NaN
90160,DAILY,ca62c188-40cf-4af2-87a9-9ed7e32547e3,Abarrotes perla,osunaperlayedit@gmail.com,NNK3WBGDD,2022-10-22,47.91,Reprogramación,INBURSA,perla yedit osuna chairez,...,"2023-10-01,42644264202310012558944164,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,October,2022,NaN
90161,DAILY,ca62c188-40cf-4af2-87a9-9ed7e32547e3,Abarrotes perla,osunaperlayedit@gmail.com,5SF7WSFW4,2022-11-04,64.68,Reprogramación,INBURSA,perla yedit osuna chairez,...,"2023-10-01,42644264202310012558966492,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,November,2022,NaN

In [15]:
all_disp_trad.shape

(946, 22)

In [16]:
pivot_total_trad = pd.pivot_table(all_disp_trad,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_trad.reset_index(drop=False, inplace=True)
pivot_total_trad.head()

    type                 Date        sum       len
                               total_due total_due
0  DAILY  2023-10-01 00:00:00  17,459.87        40
1  DAILY  2023-10-02 00:00:00  85,085.56        35
2  DAILY  2023-10-03 00:00:00  17,751.64        22
3  DAILY  2023-10-04 00:00:00  45,595.80        31
4  DAILY  2023-10-05 00:00:00 107,589.06        33

In [17]:
pivot_parcial_trad = pd.pivot_table(all_disp_trad,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_trad.reset_index(drop=False, inplace=True)
pivot_parcial_trad.head()

         type            tipo                 Date       sum            \
                                                   total_due
status                                                 ERROR      PAID
0       DAILY  Reprogramación  2023-10-01 00:00:00  3,796.12 13,663.75
1       DAILY  Reprogramación  2023-10-02 00:00:00       NaN 85,085.56
2       DAILY  Reprogramación  2023-10-03 00:00:00 13,500.11  4,251.53
3       DAILY  Reprogramación  2023-10-04 00:00:00 19,565.77 26,030.03
4       DAILY  Reprogramación  2023-10-05 00:00:00 13,498.21 94,090.85

                        len
                  total_due
status        All     ERROR  PAID All
0       17,459.87      8.00 32.00  40
1       85,085.56       NaN 35.00  35
2       17,751.64      2.00 20.00  22
3       45,595.80      7.00 24.00  31
4      107,589.06      1.00 32.00  33

## CATEGORIZACIÓN DE REPROGRAMACIONES

In [18]:
swap_dia_total_repro = all_disp_trad[(all_disp_trad['tipo'] == 'Reprogramación')]
swap_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
63035,DAILY,8d7dfc88-9a46-41fb-8576-780b2b54e6b2,Ley mar,cesarfavelaleyva@gmail.com,82Q3GDQBP,2022-12-15,9.58,Reprogramación,BANAMEX,Cesar Francisco Leyva Favela,...,"2023-10-01,42644264202310012558946907,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,December,2022,NaN
105175,DAILY,ec89cc08-e3a8-490b-9093-d00c81dcf8e1,Nemy salon,bernalazucena_67@icloud.com,5CMZQTQM4,2022-03-06,3.84,Reprogramación,BBVA BANCOMER,Claribel azucena Bernal,...,"2023-10-01,42644264202310012558893231,40072,40...",02. Second_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,March,2022,NaN
90159,DAILY,ca62c188-40cf-4af2-87a9-9ed7e32547e3,Abarrotes perla,osunaperlayedit@gmail.com,QWNYLJFNM,2022-05-08,356.48,Reprogramación,INBURSA,perla yedit osuna chairez,...,"2023-10-01,42644264202310012558989544,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,May,2022,NaN
90160,DAILY,ca62c188-40cf-4af2-87a9-9ed7e32547e3,Abarrotes perla,osunaperlayedit@gmail.com,NNK3WBGDD,2022-10-22,47.91,Reprogramación,INBURSA,perla yedit osuna chairez,...,"2023-10-01,42644264202310012558944164,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,October,2022,NaN
90161,DAILY,ca62c188-40cf-4af2-87a9-9ed7e32547e3,Abarrotes perla,osunaperlayedit@gmail.com,5SF7WSFW4,2022-11-04,64.68,Reprogramación,INBURSA,perla yedit osuna chairez,...,"2023-10-01,42644264202310012558966492,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,November,2022,NaN

In [19]:
swap_dia_total_repro.shape

(946, 22)

In [20]:
swap_dia_total_repro.to_excel('Reprogramaciones_daily.xlsx',index=False)

In [21]:
swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
                   & (swap_dia_total_repro['month_report'] == month_conc) 
                   & (swap_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
swap_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
63035,DAILY,8d7dfc88-9a46-41fb-8576-780b2b54e6b2,Ley mar,cesarfavelaleyva@gmail.com,82Q3GDQBP,2022-12-15,9.58,Reprogramación,BANAMEX,Cesar Francisco Leyva Favela,...,01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,December,2022,NaN,repro_otro_mes
105175,DAILY,ec89cc08-e3a8-490b-9093-d00c81dcf8e1,Nemy salon,bernalazucena_67@icloud.com,5CMZQTQM4,2022-03-06,3.84,Reprogramación,BBVA BANCOMER,Claribel azucena Bernal,...,02. Second_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,March,2022,NaN,repro_otro_mes
90159,DAILY,ca62c188-40cf-4af2-87a9-9ed7e32547e3,Abarrotes perla,osunaperlayedit@gmail.com,QWNYLJFNM,2022-05-08,356.48,Reprogramación,INBURSA,perla yedit osuna chairez,...,01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,May,2022,NaN,repro_otro_mes
90160,DAILY,ca62c188-40cf-4af2-87a9-9ed7e32547e3,Abarrotes perla,osunaperlayedit@gmail.com,NNK3WBGDD,2022-10-22,47.91,Reprogramación,INBURSA,perla yedit osuna chairez,...,01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,October,2022,NaN,repro_otro_mes
90161,DAILY,ca62c188-40cf-4af2-87a9-9ed7e32547e3,Abarrotes perla,osunaperlayedit@gmail.com,5SF7WSFW4,2022-11-04,64.68,Reprogramación,INBURSA,perla yedit osuna chairez,...,01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,November,2022,NaN,repro_otro_mes

In [22]:
pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro.reset_index(drop=False, inplace=True)
pivot_tipo_repro.head()

                      type                 Date            sum             \
                                                     total_due
tipo_reprogramacion                             repro_otro_mes        All
0                    DAILY  2023-10-01 00:00:00      17,459.87  17,459.87
1                    DAILY  2023-10-02 00:00:00      85,085.56  85,085.56
2                    DAILY  2023-10-03 00:00:00      17,751.64  17,751.64
3                    DAILY  2023-10-04 00:00:00      45,595.80  45,595.80
4                    DAILY  2023-10-05 00:00:00     107,589.06 107,589.06

                               len
                         total_due
tipo_reprogramacion repro_otro_mes All
0                               40  40
1                               35  35
2                               22  22
3                               31  31
4                               33  33

# FAST PAYMENTS

In [23]:
all_disp_fp = all_disp[(all_disp['type'] == 'INSTANT')]
all_disp_fp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
35268,INSTANT,4f5cf90f-5539-4cb9-a9d4-850a04e064b9,El Colorado,jairponze2@gmail.com,DY4XCJZXL,2022-01-12,113.07,Reprogramación,AZTECA,Jonathan ponciano secundino,...,"2023-10-01,42644264202310012558903069,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,January,2022,NaN
79698,INSTANT,25838581-0f95-4b4c-969e-bcb4bbc8fe19,El Zaguan,fabixtass@hotmail.com,F3YDGPGR2,2022-07-03,34.49,Reprogramación,ASP INTEGRA OPC,Aida Fabiola Ibarra Carrillo,...,"2023-10-02,42644264202310022562201104,40072,90...",02. Second_batch,BANORTE,Dispersión-20231002.xlsx,2023-10-02,October,2023,July,2022,NaN
80129,INSTANT,c8d89a69-c1fe-43ea-a4a6-f68c10c08290,SUPER CC EL JARDIN,supercc.admon@gmail.com,9GD376P5F,2022-01-20,75.71,Reprogramación,ASP INTEGRA OPC,LILIANA HERNANDEZ CORONEL,...,"2023-10-02,42644264202310022562201076,40072,90...",02. Second_batch,BANORTE,Dispersión-20231002.xlsx,2023-10-02,October,2023,January,2022,NaN
79034,INSTANT,fe4133bf-96b3-43a6-a803-cb41f4646ca2,MISCELANEA ROLUVA,Roluva.cristi@hotmail.com,XWHYNKSKQ,2022-07-03,57.49,Reprogramación,AKALA,Cristina Vélez Jiménez,...,"2023-10-02,20231002400140HDH0001481063300,4001...",01. First_batch,SANTANDER,Dispersión-20231002.xlsx,2023-10-02,October,2023,July,2022,NaN
79033,INSTANT,fe4133bf-96b3-43a6-a803-cb41f4646ca2,MISCELANEA ROLUVA,Roluva.cristi@hotmail.com,PPVZMY56L,2022-07-03,44.07,Reprogramación,AKALA,Cristina Vélez Jiménez,...,"2023-10-02,20231002400140HDH0001481063210,4001...",01. First_batch,SANTANDER,Dispersión-20231002.xlsx,2023-10-02,October,2023,July,2022,NaN

In [24]:
all_disp_fp.shape

(487, 22)

In [25]:
pivot_total_fp = pd.pivot_table(all_disp_fp,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_fp.reset_index(drop=False, inplace=True)
pivot_total_fp.head()

      type                 Date       sum       len
                                total_due total_due
0  INSTANT  2023-10-01 00:00:00  6,709.00        28
1  INSTANT  2023-10-02 00:00:00  3,771.17        18
2  INSTANT  2023-10-03 00:00:00    732.11         5
3  INSTANT  2023-10-04 00:00:00 55,041.85        54
4  INSTANT  2023-10-05 00:00:00  3,448.72        13

In [26]:
pivot_parcial_fp = pd.pivot_table(all_disp_fp,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_fp.reset_index(drop=False, inplace=True)
pivot_parcial_fp.head()

           type            tipo                 Date       sum            \
                                                     total_due
status                                                   ERROR      PAID
0       INSTANT  Reprogramación  2023-10-01 00:00:00       NaN  6,709.00
1       INSTANT  Reprogramación  2023-10-02 00:00:00       NaN  3,771.17
2       INSTANT  Reprogramación  2023-10-03 00:00:00       NaN    732.11
3       INSTANT  Reprogramación  2023-10-04 00:00:00  7,752.20 47,289.65
4       INSTANT  Reprogramación  2023-10-05 00:00:00       NaN  3,448.72

                       len
                 total_due
status       All     ERROR  PAID All
0       6,709.00       NaN 28.00  28
1       3,771.17       NaN 18.00  18
2         732.11       NaN  5.00   5
3      55,041.85     26.00 28.00  54
4       3,448.72       NaN 13.00  13

## CATEGORIZACIÓN DE REPROGRAMACIONES - FAST PAYMENTS

In [27]:
fp_dia_total_repro = all_disp_fp[(all_disp_fp['tipo'] == 'Reprogramación')]
fp_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
35268,INSTANT,4f5cf90f-5539-4cb9-a9d4-850a04e064b9,El Colorado,jairponze2@gmail.com,DY4XCJZXL,2022-01-12,113.07,Reprogramación,AZTECA,Jonathan ponciano secundino,...,"2023-10-01,42644264202310012558903069,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,January,2022,NaN
79698,INSTANT,25838581-0f95-4b4c-969e-bcb4bbc8fe19,El Zaguan,fabixtass@hotmail.com,F3YDGPGR2,2022-07-03,34.49,Reprogramación,ASP INTEGRA OPC,Aida Fabiola Ibarra Carrillo,...,"2023-10-02,42644264202310022562201104,40072,90...",02. Second_batch,BANORTE,Dispersión-20231002.xlsx,2023-10-02,October,2023,July,2022,NaN
80129,INSTANT,c8d89a69-c1fe-43ea-a4a6-f68c10c08290,SUPER CC EL JARDIN,supercc.admon@gmail.com,9GD376P5F,2022-01-20,75.71,Reprogramación,ASP INTEGRA OPC,LILIANA HERNANDEZ CORONEL,...,"2023-10-02,42644264202310022562201076,40072,90...",02. Second_batch,BANORTE,Dispersión-20231002.xlsx,2023-10-02,October,2023,January,2022,NaN
79034,INSTANT,fe4133bf-96b3-43a6-a803-cb41f4646ca2,MISCELANEA ROLUVA,Roluva.cristi@hotmail.com,XWHYNKSKQ,2022-07-03,57.49,Reprogramación,AKALA,Cristina Vélez Jiménez,...,"2023-10-02,20231002400140HDH0001481063300,4001...",01. First_batch,SANTANDER,Dispersión-20231002.xlsx,2023-10-02,October,2023,July,2022,NaN
79033,INSTANT,fe4133bf-96b3-43a6-a803-cb41f4646ca2,MISCELANEA ROLUVA,Roluva.cristi@hotmail.com,PPVZMY56L,2022-07-03,44.07,Reprogramación,AKALA,Cristina Vélez Jiménez,...,"2023-10-02,20231002400140HDH0001481063210,4001...",01. First_batch,SANTANDER,Dispersión-20231002.xlsx,2023-10-02,October,2023,July,2022,NaN

In [28]:
fp_dia_total_repro.shape

(487, 22)

In [29]:
fp_dia_total_repro.to_excel('Reprogramaciones_instant.xlsx',index=False)

In [30]:
fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
                   & (fp_dia_total_repro['month_report'] == month_conc) 
                   & (fp_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
fp_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
35268,INSTANT,4f5cf90f-5539-4cb9-a9d4-850a04e064b9,El Colorado,jairponze2@gmail.com,DY4XCJZXL,2022-01-12,113.07,Reprogramación,AZTECA,Jonathan ponciano secundino,...,01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,January,2022,NaN,repro_otro_mes
79698,INSTANT,25838581-0f95-4b4c-969e-bcb4bbc8fe19,El Zaguan,fabixtass@hotmail.com,F3YDGPGR2,2022-07-03,34.49,Reprogramación,ASP INTEGRA OPC,Aida Fabiola Ibarra Carrillo,...,02. Second_batch,BANORTE,Dispersión-20231002.xlsx,2023-10-02,October,2023,July,2022,NaN,repro_otro_mes
80129,INSTANT,c8d89a69-c1fe-43ea-a4a6-f68c10c08290,SUPER CC EL JARDIN,supercc.admon@gmail.com,9GD376P5F,2022-01-20,75.71,Reprogramación,ASP INTEGRA OPC,LILIANA HERNANDEZ CORONEL,...,02. Second_batch,BANORTE,Dispersión-20231002.xlsx,2023-10-02,October,2023,January,2022,NaN,repro_otro_mes
79034,INSTANT,fe4133bf-96b3-43a6-a803-cb41f4646ca2,MISCELANEA ROLUVA,Roluva.cristi@hotmail.com,XWHYNKSKQ,2022-07-03,57.49,Reprogramación,AKALA,Cristina Vélez Jiménez,...,01. First_batch,SANTANDER,Dispersión-20231002.xlsx,2023-10-02,October,2023,July,2022,NaN,repro_otro_mes
79033,INSTANT,fe4133bf-96b3-43a6-a803-cb41f4646ca2,MISCELANEA ROLUVA,Roluva.cristi@hotmail.com,PPVZMY56L,2022-07-03,44.07,Reprogramación,AKALA,Cristina Vélez Jiménez,...,01. First_batch,SANTANDER,Dispersión-20231002.xlsx,2023-10-02,October,2023,July,2022,NaN,repro_otro_mes

In [31]:
pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_fp.fillna(0,inplace=True)
pivot_tipo_repro_fp.reset_index(drop=False, inplace=True)
pivot_tipo_repro_fp.head()

                        type                 Date            sum            \
                                                       total_due
tipo_reprogramacion                               repro_otro_mes       All
0                    INSTANT  2023-10-01 00:00:00       6,709.00  6,709.00
1                    INSTANT  2023-10-02 00:00:00       3,771.17  3,771.17
2                    INSTANT  2023-10-03 00:00:00         732.11    732.11
3                    INSTANT  2023-10-04 00:00:00      55,041.85 55,041.85
4                    INSTANT  2023-10-05 00:00:00       3,448.72  3,448.72

                               len
                         total_due
tipo_reprogramacion repro_otro_mes All
0                               28  28
1                               18  18
2                                5   5
3                               54  54
4                               13  13

# LEDGER

In [32]:
all_disp_ledger = all_disp[(all_disp['type'] == 'LEDGER')]
all_disp_ledger.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
0,LEDGER,03817645-41bf-4990-a393-e70062edacab,NaN,NaN,A4L8622LV,2023-10-01,52.70,Pago del día,CAJA POP MEXICA,Ana Sarahi Aguiar PePe,...,NaN,01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,October,2023,NaN
75829,LEDGER,aa30d809-dcb9-4408-9ffb-4834e2855886,NaN,NaN,A4Z4RQ5YF,2023-10-01,645.86,Pago del día,BBVA BANCOMER,Axely Magdalena Polanco Contreras,...,"2023-10-01,42644264202310012558909788,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,October,2023,NaN
75828,LEDGER,aa3001a6-453d-48f5-98e7-97037185d5f5,NaN,NaN,AVGMQ89JX,2023-10-01,"14,742.51",Pago del día,AZTECA,MARIA LUISA MIRANDA,...,"2023-10-01,42644264202310012558956103,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,October,2023,NaN
75827,LEDGER,aa2fe9df-ec77-4854-a099-ddd2dc3a61c1,NaN,NaN,A8Q6FRQRW,2023-10-01,180.16,Pago del día,SANTANDER,MARIA SOLEDAD OROZCO CASTELLANOS,...,"2023-10-01,nan,40072,40014,014090566470522616,...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,October,2023,NaN
75826,LEDGER,aa2f8064-4372-44df-b1fa-7abddc5e690f,NaN,NaN,AP56RQQJD,2023-10-01,106.37,Pago del día,AZTECA,Beatriz Avila,...,"2023-10-01,42644264202310012558933955,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,October,2023,NaN

In [33]:
all_disp_ledger.shape

(3242551, 22)

In [34]:
pivot_total_ledger = pd.pivot_table(all_disp_ledger,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_ledger.reset_index(drop=False, inplace=True)
pivot_total_ledger.head()

     type                 Date            sum       len
                                    total_due total_due
0  LEDGER  2023-10-01 00:00:00 390,149,972.75    153915
1  LEDGER  2023-10-02 00:00:00 208,957,754.46     83402
2  LEDGER  2023-10-03 00:00:00 204,322,340.11    101208
3  LEDGER  2023-10-04 00:00:00 202,265,397.16    102382
4  LEDGER  2023-10-05 00:00:00 205,277,895.87    103849

In [35]:
pivot_total_ledger.shape

(32, 4)

In [36]:
pivot_parcial_ledger = pd.pivot_table(all_disp_ledger,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_ledger.reset_index(drop=False, inplace=True)
pivot_parcial_ledger.head()

          type          tipo                 Date        sum                 \
                                                   total_due
status                                                 ERROR           PAID
0       LEDGER  Pago del día  2023-10-01 00:00:00 961,798.73 387,580,654.10
1       LEDGER  Pago del día  2023-10-02 00:00:00 512,649.58 206,108,825.20
2       LEDGER  Pago del día  2023-10-03 00:00:00 456,703.32 202,152,809.96
3       LEDGER  Pago del día  2023-10-04 00:00:00 445,478.65 200,752,740.00
4       LEDGER  Pago del día  2023-10-05 00:00:00 409,633.52 204,164,999.57

                            len
                      total_due
status            All     ERROR    PAID     All
0      388,542,452.83       236  152231  152467
1      206,621,474.78       105   82263   82368
2      202,609,513.28       108  100275  100383
3      201,198,218.65       155  101185  101340
4      204,574,633.09       189  103168  103357

## CATEGORIZACION DE REPROGRAMACIONES - LEDGER

In [37]:
ledger_dia_total_repro = all_disp_ledger[(all_disp_ledger['tipo'] == 'Reprogramación')]
ledger_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
75414,LEDGER,a93f1c28-6837-426e-ad01-854887a8a266,NaN,NaN,A7KPDN43T,2023-09-07,3.84,Reprogramación,BANCOPPEL,MARIA INES MATA ROMERO,...,"2023-10-01,42644264202310012558909482,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,September,2023,NaN
77424,LEDGER,adc64e9f-506a-4604-a5cc-309c245e8f6b,NaN,NaN,AKXDYBRSL,2023-09-29,958.24,Reprogramación,SANTANDER,Luis Javier Torres cazares,...,"2023-10-01,42644264202310012558910991,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,September,2023,NaN
78181,LEDGER,af6fd199-15b2-439d-abee-d92c4c6341f0,NaN,NaN,AY7BJW7F4,2023-09-11,0.97,Reprogramación,BBVA BANCOMER,Maricruz Salazar Frias,...,"2023-10-01,42644264202310012558957878,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,September,2023,NaN
78180,LEDGER,af6fd199-15b2-439d-abee-d92c4c6341f0,NaN,NaN,ARVQXMM7L,2023-08-24,0.95,Reprogramación,BBVA BANCOMER,Maricruz Salazar Frias,...,"2023-10-01,nan,40072,40012,012180015416196540,...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,August,2023,NaN
77838,LEDGER,aebd36f0-e2f6-4f88-bed7-3227c26b178f,NaN,NaN,AFSD7CWCC,2023-09-28,19.16,Reprogramación,BBVA BANCOMER,Bertha Adriana Carmona Velazquez,...,"2023-10-01,42644264202310012558957635,40072,40...",01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,September,2023,NaN

In [38]:
ledger_dia_total_repro.shape

(23712, 22)

In [39]:
ledger_dia_total_repro.to_excel('Reprogramaciones_ledger.xlsx',index=False)

In [40]:
ledger_dia_total_repro.loc[(ledger_dia_total_repro['tipo'] == 'Reprogramación')
                   & (ledger_dia_total_repro['month_report'] == month_conc) 
                   & (ledger_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
ledger_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
ledger_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_21756\3563945437.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ledger_dia_total_repro.loc[(ledger_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_21756\3563945437.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ledger_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
75414,LEDGER,a93f1c28-6837-426e-ad01-854887a8a266,NaN,NaN,A7KPDN43T,2023-09-07,3.84,Reprogramación,BANCOPPEL,MARIA INES MATA ROMERO,...,01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,September,2023,NaN,repro_otro_mes
77424,LEDGER,adc64e9f-506a-4604-a5cc-309c245e8f6b,NaN,NaN,AKXDYBRSL,2023-09-29,958.24,Reprogramación,SANTANDER,Luis Javier Torres cazares,...,01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,September,2023,NaN,repro_otro_mes
78181,LEDGER,af6fd199-15b2-439d-abee-d92c4c6341f0,NaN,NaN,AY7BJW7F4,2023-09-11,0.97,Reprogramación,BBVA BANCOMER,Maricruz Salazar Frias,...,01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,September,2023,NaN,repro_otro_mes
78180,LEDGER,af6fd199-15b2-439d-abee-d92c4c6341f0,NaN,NaN,ARVQXMM7L,2023-08-24,0.95,Reprogramación,BBVA BANCOMER,Maricruz Salazar Frias,...,01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,August,2023,NaN,repro_otro_mes
77838,LEDGER,aebd36f0-e2f6-4f88-bed7-3227c26b178f,NaN,NaN,AFSD7CWCC,2023-09-28,19.16,Reprogramación,BBVA BANCOMER,Bertha Adriana Carmona Velazquez,...,01. First_batch,BANORTE,Dispersión-20231001.xlsx,2023-10-01,October,2023,September,2023,NaN,repro_otro_mes

In [41]:
pivot_tipo_repro_ledger = pd.pivot_table(ledger_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_ledger.fillna(0,inplace=True)
pivot_tipo_repro_ledger.reset_index(drop=False, inplace=True)
pivot_tipo_repro_ledger.head()

                       type                 Date             sum  \
                                                       total_due
tipo_reprogramacion                              repro_mismo_mes
0                    LEDGER  2023-10-01 00:00:00            0.00
1                    LEDGER  2023-10-02 00:00:00      234,645.49
2                    LEDGER  2023-10-03 00:00:00      617,195.69
3                    LEDGER  2023-10-04 00:00:00      209,670.72
4                    LEDGER  2023-10-05 00:00:00      380,942.48

                                                            len  \
                                                      total_due
tipo_reprogramacion repro_otro_mes          All repro_mismo_mes
0                     1,607,519.92 1,607,519.92            0.00
1                     2,101,634.19 2,336,279.68           42.00
2                     1,095,631.14 1,712,826.83          105.00
3                       857,507.79 1,067,178.51          108.00
4                       322,320.30   703,262.78          122.00



tipo_reprogramacion repro_otro_mes   All
0                         1,448.00  1448
1                           992.00  1034
2                           720.00   825
3                           934.00  1042
4                           370.00   492

In [42]:
pivot_tipo_repro_ledger.shape

(32, 8)

# EXCEL FINAL

In [43]:
writer = pd.ExcelWriter('FASE IV. REPROGRAMACIONES OCTUBRE 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_total_trad.to_excel(writer, sheet_name='TRADICIONAL TOTAL')
pivot_parcial_trad.to_excel(writer, sheet_name='TRADICIONAL PARCIAL')
pivot_total_fp.to_excel(writer, sheet_name='FP TOTAL')
pivot_parcial_fp.to_excel(writer, sheet_name='FP PARCIAL')
pivot_total_ledger.to_excel(writer, sheet_name='LEDGER TOTAL')
pivot_parcial_ledger.to_excel(writer, sheet_name='LEDGER PARCIAL')
pivot_tipo_repro.to_excel(writer, sheet_name='CATEGORIZACION REPRO TRAD')
pivot_tipo_repro_fp.to_excel(writer, sheet_name='CATEGORIZACION REPRO FP')
pivot_tipo_repro_ledger.to_excel(writer, sheet_name='CATEGORIZACION REPRO LEDGER')
writer.close()