In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
from functools import reduce
pd.options.display.float_format = '{:,.2f}'.format

#### ACUMULADO

In [2]:
cumfiles = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\10. OCTUBRE\QUERIES\*.csv', recursive=False)
cumfiles

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-29.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-30.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\QUERIES\\SETTLEMENT 2022-10-31.csv']

In [3]:
cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
cum_1.columns = cum_1.columns.str.strip().str.lower() 
cum_1['report_date_local']= pd.to_datetime(cum_1['report_date_local']) 
cum_1.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18104\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18104\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18104\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18104\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18104\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18104\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18104\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18104\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18104\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_released,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name
0,48313e2d-87da-4526-8d98-33019674fa9a,PRENDAS MEXICANAS,prendasmex@gruposedem.com.mx,BN9WVDCKQ,2022-10-01,"4,614.26",166.11,26.58,0.00,0.00,...,0.00,0.00,NaN,"4,421.57",DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv
1,2a9287c9-d2c5-424a-9cc1-49080607aea7,ARTHROMEDIC,maybelreyes.7@gmail.com,D7YHSW2DT,2022-10-01,500.00,18.00,2.88,0.00,0.00,...,0.00,0.00,NaN,479.12,DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv
2,d78cb8e8-bf6a-4d10-b414-b0fe44cb7579,LA ULTIMA,izmaelalonzo13@gmail.com,FYFX7GZQ2,2022-10-01,80.50,2.90,0.46,0.00,0.00,...,0.00,0.00,NaN,77.14,DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv
3,edea791d-41e2-4347-8a4a-27f3cb5546bf,FERNANDA CORTES MAKEUP,fernanda_cortes_arcos@hotmail.com,HK2MS6HD9,2022-10-01,686.40,24.71,3.95,0.00,0.00,...,0.00,0.00,NaN,657.74,DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv
4,fe637f3e-a20f-47ba-8602-9033552861ad,LLANTAS Y SERVICIOS FALCRO S DE RL DE CV,administracion@llantasfalcro.com,J6C8N8995,2022-10-01,"13,790.63","2,144.44",343.11,0.00,0.00,...,0.00,0.00,NaN,"11,303.08",DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv

In [4]:
cum_1.shape

(2927254, 26)

In [5]:
cum_distinct_0 = cum_1[(cum_1['total_due'] != 0)]
cum_distinct_0.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_released,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name
0,48313e2d-87da-4526-8d98-33019674fa9a,PRENDAS MEXICANAS,prendasmex@gruposedem.com.mx,BN9WVDCKQ,2022-10-01,"4,614.26",166.11,26.58,0.00,0.00,...,0.00,0.00,NaN,"4,421.57",DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv
1,2a9287c9-d2c5-424a-9cc1-49080607aea7,ARTHROMEDIC,maybelreyes.7@gmail.com,D7YHSW2DT,2022-10-01,500.00,18.00,2.88,0.00,0.00,...,0.00,0.00,NaN,479.12,DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv
2,d78cb8e8-bf6a-4d10-b414-b0fe44cb7579,LA ULTIMA,izmaelalonzo13@gmail.com,FYFX7GZQ2,2022-10-01,80.50,2.90,0.46,0.00,0.00,...,0.00,0.00,NaN,77.14,DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv
3,edea791d-41e2-4347-8a4a-27f3cb5546bf,FERNANDA CORTES MAKEUP,fernanda_cortes_arcos@hotmail.com,HK2MS6HD9,2022-10-01,686.40,24.71,3.95,0.00,0.00,...,0.00,0.00,NaN,657.74,DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv
4,fe637f3e-a20f-47ba-8602-9033552861ad,LLANTAS Y SERVICIOS FALCRO S DE RL DE CV,administracion@llantasfalcro.com,J6C8N8995,2022-10-01,"13,790.63","2,144.44",343.11,0.00,0.00,...,0.00,0.00,NaN,"11,303.08",DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv

In [6]:
cum_distinct_0.shape

(2926186, 26)

#### PAGOS DE DISPERSIONES

In [7]:
pagos_dia_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\10. OCTUBRE\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
pagos_dia_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221001.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221002.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221003.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221004.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221005.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221006.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221007.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221008.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221009.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221010.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221011.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221012.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221013.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221014.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221015.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221016.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221017.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221018.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221019.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221020.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221021.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221022.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221023.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221024.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221025.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221026.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221027.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221028.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221029.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221030.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221031.xlsx']

In [8]:
pagos_1 = pd.concat([pd.read_excel(f,sheet_name='Swap del día').assign(file_name=os.path.basename(f)) for f in pagos_dia_files_1])
pagos_1['date_file'] = pagos_1["file_name"].str[-13:-5]
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'], format='%Y%m%d').dt.date
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'])
pagos_1.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_1['report_date_local']= pd.to_datetime(pagos_1['report_date_local']) 
pagos_1.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file
0,DAILY,004d0a73-4783-47f5-9bc9-3056ed745e4e,BRISSIA Rodriguez,rodriguez_lic03@hotmail.com,S79L4VGTN,2022-10-01,38.33,Pago del día,HSBC,BRISSIA DEL ROCÍO RODRÍGUEZ HERRERA,21813064873452945,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20221001.xlsx,2022-10-01
68981,DAILY,b9fe1a70-e90e-4bcc-a489-94e1dcb9d63c,Ghania,sparko.madrid@gmail.com,NK79PF2VD,2022-10-01,86.24,Pago del día,BBVA BANCOMER,Belmadani mohammed,12010015131392236,PAID,"2022-10-01,42644264202210011919655676,40072,40...",01. First_batch,BANORTE,Dispersión-20221001.xlsx,2022-10-01
68980,DAILY,b9fd67cd-e394-43aa-a9da-116bffa5c637,Abarrotes Magui,almarosaib@hotmail.com,5WY42YMSV,2022-10-01,81.93,Pago del día,BANCOPPEL,Alma Rosa Ibarra Coronado,137744101352000569,PAID,"2022-10-01,42644264202210011919655678,40072,40...",01. First_batch,BANORTE,Dispersión-20221001.xlsx,2022-10-01
68979,DAILY,b9fcae23-1521-429e-a993-281a764d2bad,Distribuidora Rios,accountnokia@ymail.com,T92G2NG8T,2022-10-01,"2,127.29",Pago del día,BANCOPPEL,Yeni Yazmin Ruiz Romero,137654102629476407,PAID,"2022-10-01,42644264202210011919655679,40072,40...",01. First_batch,BANORTE,Dispersión-20221001.xlsx,2022-10-01
68978,DAILY,b9fc72e1-95c3-4f38-a1ed-1d2c31c7dbc3,Bicicletas y refacciones Marco,nibarra25@yahoo.com,3VWXHT55N,2022-10-01,420.67,Pago del día,BANAMEX,Norma Jeannette,2387701041724721,PAID,"2022-10-01,42644264202210011919655683,40072,40...",01. First_batch,BANORTE,Dispersión-20221001.xlsx,2022-10-01

In [9]:
pagos_1.shape

(2799964, 17)

In [10]:
pagos_1['report_date_local'].unique()

array(['2022-10-01T00:00:00.000000000', '2022-09-28T00:00:00.000000000',
       '2022-09-27T00:00:00.000000000', '2022-09-26T00:00:00.000000000',
       '2022-09-25T00:00:00.000000000', '2022-09-30T00:00:00.000000000',
       '2022-09-16T00:00:00.000000000', '2022-09-24T00:00:00.000000000',
       '2022-09-23T00:00:00.000000000', '2022-09-21T00:00:00.000000000',
       '2022-09-15T00:00:00.000000000', '2022-09-14T00:00:00.000000000',
       '2022-09-07T00:00:00.000000000', '2022-09-05T00:00:00.000000000',
       '2022-09-04T00:00:00.000000000', '2022-08-29T00:00:00.000000000',
       '2022-08-24T00:00:00.000000000', '2022-08-18T00:00:00.000000000',
       '2022-08-15T00:00:00.000000000', '2022-08-05T00:00:00.000000000',
       '2022-08-10T00:00:00.000000000', '2022-08-03T00:00:00.000000000',
       '2022-07-30T00:00:00.000000000', '2022-07-29T00:00:00.000000000',
       '2022-07-27T00:00:00.000000000', '2022-07-20T00:00:00.000000000',
       '2022-07-11T00:00:00.000000000', '2022-07-10T00:00:00.000000000',
       '2022-07-06T00:00:00.000000000', '2022-06-11T00:00:00.000000000',
       '2022-06-08T00:00:00.000000000', '2022-06-03T00:00:00.000000000',
       '2022-06-01T00:00:00.000000000', '2022-05-29T00:00:00.000000000',
       '2022-05-25T00:00:00.000000000', '2022-05-21T00:00:00.000000000',
       '2022-05-16T00:00:00.000000000', '2022-05-11T00:00:00.000000000',
       '2022-05-01T00:00:00.000000000', '2022-04-27T00:00:00.000000000',
       '2022-09-29T00:00:00.000000000', '2022-09-06T00:00:00.000000000',
       '2022-08-30T00:00:00.000000000', '2022-08-27T00:00:00.000000000',
       '2022-07-15T00:00:00.000000000', '2022-08-26T00:00:00.000000000',
       '2022-09-22T00:00:00.000000000', '2022-09-18T00:00:00.000000000',
       '2022-09-20T00:00:00.000000000', '2022-08-11T00:00:00.000000000',
       '2022-09-19T00:00:00.000000000', '2022-09-13T00:00:00.000000000',
       '2022-07-18T00:00:00.000000000', '2022-09-12T00:00:00.000000000',
       '2021-08-28T00:00:00.000000000', '2021-07-24T00:00:00.000000000',
       '2022-09-17T00:00:00.000000000', '2022-09-10T00:00:00.000000000',
       '2022-09-08T00:00:00.000000000', '2022-09-02T00:00:00.000000000',
       '2022-09-01T00:00:00.000000000', '2019-12-26T00:00:00.000000000',
       '2021-09-07T00:00:00.000000000', '2022-08-23T00:00:00.000000000',
       '2022-08-25T00:00:00.000000000', '2022-09-11T00:00:00.000000000',
       '2022-09-09T00:00:00.000000000', '2022-09-03T00:00:00.000000000',
       '2022-08-31T00:00:00.000000000', '2022-08-28T00:00:00.000000000',
       '2022-03-13T00:00:00.000000000', '2022-03-12T00:00:00.000000000',
       '2022-08-12T00:00:00.000000000', '2022-08-09T00:00:00.000000000',
       '2022-08-08T00:00:00.000000000', '2022-08-07T00:00:00.000000000',
       '2022-08-06T00:00:00.000000000', '2022-08-04T00:00:00.000000000',
       '2022-08-02T00:00:00.000000000', '2022-08-01T00:00:00.000000000',
       '2022-07-31T00:00:00.000000000', '2022-07-28T00:00:00.000000000',
       '2022-07-26T00:00:00.000000000', '2022-07-25T00:00:00.000000000',
       '2022-07-24T00:00:00.000000000', '2022-07-23T00:00:00.000000000',
       '2022-08-13T00:00:00.000000000', '2022-07-22T00:00:00.000000000',
       '2022-08-14T00:00:00.000000000', '2022-08-16T00:00:00.000000000',
       '2022-08-22T00:00:00.000000000', '2022-08-21T00:00:00.000000000',
       '2022-08-20T00:00:00.000000000', '2022-08-19T00:00:00.000000000',
       '2022-08-17T00:00:00.000000000', '2022-07-21T00:00:00.000000000',
       '2022-07-19T00:00:00.000000000', '2022-06-21T00:00:00.000000000',
       '2022-06-20T00:00:00.000000000', '2022-06-19T00:00:00.000000000',
       '2022-06-18T00:00:00.000000000', '2022-06-17T00:00:00.000000000',
       '2022-06-16T00:00:00.000000000', '2022-06-15T00:00:00.000000000',
       '2022-06-14T00:00:00.000000000', '2022-06-13T00:00:00.000000000',
       '2022-06-12T00:00:00.000000000', '2022-06-10T00:00:00.000000000',
       '2022-05-31T00:00:00.000000000', '2022-05-30T00:00:00.000000000',
       '2022-05-28T00:00:00.000000000', '2022-05-27T00:00:00.000000000',
       '2022-05-26T00:00:00.000000000', '2022-05-24T00:00:00.000000000',
       '2022-05-23T00:00:00.000000000', '2022-06-22T00:00:00.000000000',
       '2022-06-23T00:00:00.000000000', '2022-06-24T00:00:00.000000000',
       '2022-06-25T00:00:00.000000000', '2022-07-17T00:00:00.000000000',
       '2022-07-16T00:00:00.000000000', '2022-07-14T00:00:00.000000000',
       '2022-07-13T00:00:00.000000000', '2022-07-09T00:00:00.000000000',
       '2022-07-08T00:00:00.000000000', '2022-07-07T00:00:00.000000000',
       '2022-07-05T00:00:00.000000000', '2022-07-04T00:00:00.000000000',
       '2022-07-03T00:00:00.000000000', '2022-07-02T00:00:00.000000000',
       '2022-07-01T00:00:00.000000000', '2022-06-30T00:00:00.000000000',
       '2022-06-29T00:00:00.000000000', '2022-06-28T00:00:00.000000000',
       '2022-06-27T00:00:00.000000000', '2022-06-26T00:00:00.000000000',
       '2022-05-22T00:00:00.000000000', '2022-05-19T00:00:00.000000000',
       '2022-01-11T00:00:00.000000000', '2022-01-10T00:00:00.000000000',
       '2022-01-09T00:00:00.000000000', '2022-01-08T00:00:00.000000000',
       '2022-01-07T00:00:00.000000000', '2022-01-06T00:00:00.000000000',
       '2022-01-05T00:00:00.000000000', '2022-01-04T00:00:00.000000000',
       '2022-01-03T00:00:00.000000000', '2022-01-01T00:00:00.000000000',
       '2021-12-31T00:00:00.000000000', '2021-12-30T00:00:00.000000000',
       '2021-12-29T00:00:00.000000000', '2021-12-28T00:00:00.000000000',
       '2021-12-27T00:00:00.000000000', '2021-12-25T00:00:00.000000000',
       '2021-12-24T00:00:00.000000000', '2021-12-22T00:00:00.000000000',
       '2021-12-21T00:00:00.000000000', '2021-12-20T00:00:00.000000000',
       '2021-12-19T00:00:00.000000000', '2022-01-12T00:00:00.000000000',
       '2021-12-18T00:00:00.000000000', '2022-01-13T00:00:00.000000000',
       '2022-01-15T00:00:00.000000000', '2022-02-05T00:00:00.000000000',
       '2022-02-04T00:00:00.000000000', '2022-02-03T00:00:00.000000000',
       '2022-02-02T00:00:00.000000000', '2022-02-01T00:00:00.000000000',
       '2022-01-31T00:00:00.000000000', '2022-01-30T00:00:00.000000000',
       '2022-01-29T00:00:00.000000000', '2022-01-28T00:00:00.000000000',
       '2022-01-27T00:00:00.000000000', '2022-01-26T00:00:00.000000000',
       '2022-01-25T00:00:00.000000000', '2022-01-24T00:00:00.000000000',
       '2022-01-23T00:00:00.000000000', '2022-01-22T00:00:00.000000000',
       '2022-01-21T00:00:00.000000000', '2022-01-20T00:00:00.000000000',
       '2022-01-19T00:00:00.000000000', '2022-01-18T00:00:00.000000000',
       '2022-01-17T00:00:00.000000000', '2022-01-16T00:00:00.000000000',
       '2022-01-14T00:00:00.000000000', '2021-12-17T00:00:00.000000000',
       '2021-12-16T00:00:00.000000000', '2021-12-15T00:00:00.000000000',
       '2021-11-16T00:00:00.000000000', '2021-11-15T00:00:00.000000000',
       '2021-11-14T00:00:00.000000000', '2021-11-13T00:00:00.000000000',
       '2021-11-12T00:00:00.000000000', '2021-11-11T00:00:00.000000000',
       '2021-11-10T00:00:00.000000000', '2021-11-09T00:00:00.000000000',
       '2021-11-08T00:00:00.000000000', '2021-11-07T00:00:00.000000000',
       '2021-11-06T00:00:00.000000000', '2021-11-05T00:00:00.000000000',
       '2021-11-04T00:00:00.000000000', '2021-11-03T00:00:00.000000000',
       '2021-11-02T00:00:00.000000000', '2021-11-01T00:00:00.000000000',
       '2021-10-31T00:00:00.000000000', '2021-10-30T00:00:00.000000000',
       '2021-10-29T00:00:00.000000000', '2021-10-28T00:00:00.000000000',
       '2021-10-27T00:00:00.000000000', '2021-11-17T00:00:00.000000000',
       '2021-11-18T00:00:00.000000000', '2021-11-19T00:00:00.000000000',
       '2021-11-20T00:00:00.000000000', '2021-12-14T00:00:00.000000000',
       '2021-12-13T00:00:00.000000000', '2021-12-12T00:00:00.000000000',
       '2021-12-11T00:00:00.000000000', '2021-12-10T00:00:00.000000000',
       '2021-12-09T00:00:00.000000000', '2021-12-08T00:00:00.000000000',
       '2021-12-07T00:00:00.000000000', '2021-12-06T00:00:00.000000000',
       '2021-12-05T00:00:00.000000000', '2022-02-06T00:00:00.000000000',
       '2021-12-04T00:00:00.000000000', '2021-12-02T00:00:00.000000000',
       '2021-12-01T00:00:00.000000000', '2021-11-30T00:00:00.000000000',
       '2021-11-29T00:00:00.000000000', '2021-11-28T00:00:00.000000000',
       '2021-11-27T00:00:00.000000000', '2021-11-26T00:00:00.000000000',
       '2021-11-24T00:00:00.000000000', '2021-11-22T00:00:00.000000000',
       '2021-11-21T00:00:00.000000000', '2021-12-03T00:00:00.000000000',
       '2022-05-20T00:00:00.000000000', '2022-02-07T00:00:00.000000000',
       '2022-02-09T00:00:00.000000000', '2022-04-22T00:00:00.000000000',
       '2022-04-21T00:00:00.000000000', '2022-04-20T00:00:00.000000000',
       '2022-04-19T00:00:00.000000000', '2022-04-18T00:00:00.000000000',
       '2022-04-17T00:00:00.000000000', '2022-04-16T00:00:00.000000000',
       '2022-04-15T00:00:00.000000000', '2022-04-14T00:00:00.000000000',
       '2022-04-13T00:00:00.000000000', '2022-04-12T00:00:00.000000000',
       '2022-04-11T00:00:00.000000000', '2022-04-10T00:00:00.000000000',
       '2022-04-09T00:00:00.000000000', '2022-04-08T00:00:00.000000000',
       '2022-04-07T00:00:00.000000000', '2022-04-06T00:00:00.000000000',
       '2022-04-05T00:00:00.000000000', '2022-04-04T00:00:00.000000000',
       '2022-04-03T00:00:00.000000000', '2022-04-02T00:00:00.000000000',
       '2022-04-23T00:00:00.000000000', '2022-04-01T00:00:00.000000000',
       '2022-04-24T00:00:00.000000000', '2022-04-26T00:00:00.000000000',
       '2022-05-18T00:00:00.000000000', '2022-05-17T00:00:00.000000000',
       '2022-05-15T00:00:00.000000000', '2022-05-14T00:00:00.000000000',
       '2022-05-13T00:00:00.000000000', '2022-05-12T00:00:00.000000000',
       '2022-05-10T00:00:00.000000000', '2022-05-08T00:00:00.000000000',
       '2022-05-07T00:00:00.000000000', '2022-05-06T00:00:00.000000000',
       '2022-05-05T00:00:00.000000000', '2022-05-04T00:00:00.000000000',
       '2022-05-03T00:00:00.000000000', '2022-05-02T00:00:00.000000000',
       '2022-04-30T00:00:00.000000000', '2022-04-29T00:00:00.000000000',
       '2022-04-28T00:00:00.000000000', '2022-04-25T00:00:00.000000000',
       '2022-03-31T00:00:00.000000000', '2022-03-30T00:00:00.000000000',
       '2022-03-29T00:00:00.000000000', '2022-03-02T00:00:00.000000000',
       '2022-03-01T00:00:00.000000000', '2022-02-28T00:00:00.000000000',
       '2022-02-27T00:00:00.000000000', '2022-02-26T00:00:00.000000000',
       '2022-02-25T00:00:00.000000000', '2022-02-24T00:00:00.000000000',
       '2022-02-23T00:00:00.000000000', '2022-02-22T00:00:00.000000000',
       '2022-02-21T00:00:00.000000000', '2022-02-20T00:00:00.000000000',
       '2022-02-19T00:00:00.000000000', '2022-02-18T00:00:00.000000000',
       '2022-02-17T00:00:00.000000000', '2022-02-16T00:00:00.000000000',
       '2022-02-15T00:00:00.000000000', '2022-02-14T00:00:00.000000000',
       '2022-02-13T00:00:00.000000000', '2022-02-12T00:00:00.000000000',
       '2022-02-11T00:00:00.000000000', '2022-02-10T00:00:00.000000000',
       '2022-03-03T00:00:00.000000000', '2022-03-04T00:00:00.000000000',
       '2022-03-05T00:00:00.000000000', '2022-03-06T00:00:00.000000000',
       '2022-03-28T00:00:00.000000000', '2022-03-27T00:00:00.000000000',
       '2022-03-26T00:00:00.000000000', '2022-03-25T00:00:00.000000000',
       '2022-03-24T00:00:00.000000000', '2022-03-23T00:00:00.000000000',
       '2022-03-22T00:00:00.000000000', '2022-03-21T00:00:00.000000000',
       '2022-03-20T00:00:00.000000000', '2022-03-19T00:00:00.000000000',
       '2022-02-08T00:00:00.000000000', '2022-03-18T00:00:00.000000000',
       '2022-03-16T00:00:00.000000000', '2022-03-15T00:00:00.000000000',
       '2022-03-14T00:00:00.000000000', '2022-03-11T00:00:00.000000000',
       '2022-03-10T00:00:00.000000000', '2022-03-09T00:00:00.000000000',
       '2022-03-08T00:00:00.000000000', '2022-03-07T00:00:00.000000000',
       '2022-03-17T00:00:00.000000000', '2021-10-26T00:00:00.000000000',
       '2021-10-25T00:00:00.000000000', '2021-10-23T00:00:00.000000000',
       '2021-10-24T00:00:00.000000000', '2021-09-26T00:00:00.000000000',
       '2021-09-25T00:00:00.000000000', '2021-09-24T00:00:00.000000000',
       '2021-09-23T00:00:00.000000000', '2021-09-21T00:00:00.000000000',
       '2021-09-20T00:00:00.000000000', '2021-09-19T00:00:00.000000000',
       '2021-09-18T00:00:00.000000000', '2021-09-17T00:00:00.000000000',
       '2021-09-16T00:00:00.000000000', '2021-09-15T00:00:00.000000000',
       '2021-09-14T00:00:00.000000000', '2021-09-13T00:00:00.000000000',
       '2021-09-12T00:00:00.000000000', '2021-09-11T00:00:00.000000000',
       '2021-09-09T00:00:00.000000000', '2021-09-08T00:00:00.000000000',
       '2021-09-27T00:00:00.000000000', '2021-09-28T00:00:00.000000000',
       '2021-09-30T00:00:00.000000000', '2021-10-22T00:00:00.000000000',
       '2021-10-21T00:00:00.000000000', '2021-10-20T00:00:00.000000000',
       '2021-10-19T00:00:00.000000000', '2021-10-18T00:00:00.000000000',
       '2021-10-17T00:00:00.000000000', '2021-10-16T00:00:00.000000000',
       '2021-10-15T00:00:00.000000000', '2021-10-13T00:00:00.000000000',
       '2021-10-12T00:00:00.000000000', '2021-10-11T00:00:00.000000000',
       '2021-10-10T00:00:00.000000000', '2021-10-09T00:00:00.000000000',
       '2021-10-08T00:00:00.000000000', '2021-10-07T00:00:00.000000000',
       '2021-10-06T00:00:00.000000000', '2021-10-05T00:00:00.000000000',
       '2021-10-04T00:00:00.000000000', '2021-10-03T00:00:00.000000000',
       '2021-10-02T00:00:00.000000000', '2021-10-01T00:00:00.000000000',
       '2021-09-29T00:00:00.000000000', '2021-09-10T00:00:00.000000000',
       '2022-07-12T00:00:00.000000000', '2021-03-28T00:00:00.000000000',
       '2022-10-02T00:00:00.000000000', '2021-02-03T00:00:00.000000000',
       '2021-02-02T00:00:00.000000000', '2021-05-20T00:00:00.000000000',
       '2019-04-29T00:00:00.000000000', '2019-04-24T00:00:00.000000000',
       '2019-04-23T00:00:00.000000000', '2019-04-22T00:00:00.000000000',
       '2019-04-26T00:00:00.000000000', '2022-06-05T00:00:00.000000000',
       '2022-06-04T00:00:00.000000000', '2022-06-02T00:00:00.000000000',
       '2022-10-03T00:00:00.000000000', '2019-11-25T00:00:00.000000000',
       '2022-06-06T00:00:00.000000000', '2022-10-04T00:00:00.000000000',
       '2020-12-26T00:00:00.000000000', '2020-12-09T00:00:00.000000000',
       '2019-12-31T00:00:00.000000000', '2022-06-09T00:00:00.000000000',
       '2021-02-27T00:00:00.000000000', '2022-10-05T00:00:00.000000000',
       '2022-05-09T00:00:00.000000000', '2021-07-31T00:00:00.000000000',
       '2021-02-20T00:00:00.000000000', '2021-05-26T00:00:00.000000000',
       '2021-02-21T00:00:00.000000000', '2022-10-06T00:00:00.000000000',
       '2021-04-30T00:00:00.000000000', '2021-04-29T00:00:00.000000000',
       '2022-06-07T00:00:00.000000000', '2022-10-07T00:00:00.000000000',
       '2021-11-25T00:00:00.000000000', '2020-08-06T00:00:00.000000000',
       '2020-07-20T00:00:00.000000000', '2020-07-13T00:00:00.000000000',
       '2021-04-16T00:00:00.000000000', '2022-10-08T00:00:00.000000000',
       '2021-07-17T00:00:00.000000000', '2021-05-15T00:00:00.000000000',
       '2021-04-18T00:00:00.000000000', '2021-04-01T00:00:00.000000000',
       '2021-03-20T00:00:00.000000000', '2021-03-27T00:00:00.000000000',
       '2021-03-13T00:00:00.000000000', '2020-12-29T00:00:00.000000000',
       '2020-12-24T00:00:00.000000000', '2020-12-22T00:00:00.000000000',
       '2020-12-12T00:00:00.000000000', '2020-12-06T00:00:00.000000000',
       '2020-11-14T00:00:00.000000000', '2020-10-17T00:00:00.000000000',
       '2020-09-26T00:00:00.000000000', '2021-05-14T00:00:00.000000000',
       '2021-12-26T00:00:00.000000000', '2022-10-09T00:00:00.000000000',
       '2019-12-16T00:00:00.000000000', '2022-10-10T00:00:00.000000000',
       '2021-01-18T00:00:00.000000000', '2020-10-11T00:00:00.000000000',
       '2022-10-11T00:00:00.000000000', '2020-09-19T00:00:00.000000000',
       '2020-08-29T00:00:00.000000000', '2020-08-31T00:00:00.000000000',
       '2022-10-12T00:00:00.000000000', '2021-02-15T00:00:00.000000000',
       '2022-10-13T00:00:00.000000000', '2018-03-06T00:00:00.000000000',
       '2022-10-14T00:00:00.000000000', '2019-05-22T00:00:00.000000000',
       '2022-10-15T00:00:00.000000000', '2022-10-16T00:00:00.000000000',
       '2021-01-03T00:00:00.000000000', '2020-12-25T00:00:00.000000000',
       '2020-07-11T00:00:00.000000000', '2020-07-09T00:00:00.000000000',
       '2020-12-23T00:00:00.000000000', '2022-10-17T00:00:00.000000000',
       '2021-01-14T00:00:00.000000000', '2020-01-10T00:00:00.000000000',
       '2020-01-06T00:00:00.000000000', '2019-12-03T00:00:00.000000000',
       '2020-01-13T00:00:00.000000000', '2020-01-16T00:00:00.000000000',
       '2020-02-04T00:00:00.000000000', '2020-02-05T00:00:00.000000000',
       '2020-03-02T00:00:00.000000000', '2022-10-18T00:00:00.000000000',
       '2021-02-22T00:00:00.000000000', '2021-02-06T00:00:00.000000000',
       '2020-04-06T00:00:00.000000000', '2020-03-23T00:00:00.000000000',
       '2022-10-19T00:00:00.000000000', '2021-07-11T00:00:00.000000000',
       '2021-07-03T00:00:00.000000000', '2020-12-05T00:00:00.000000000',
       '2022-10-20T00:00:00.000000000', '2021-12-23T00:00:00.000000000',
       '2022-10-21T00:00:00.000000000', '2022-10-22T00:00:00.000000000',
       '2021-10-14T00:00:00.000000000', '2022-10-23T00:00:00.000000000',
       '2021-01-09T00:00:00.000000000', '2021-04-02T00:00:00.000000000',
       '2021-03-14T00:00:00.000000000', '2020-12-31T00:00:00.000000000',
       '2020-12-28T00:00:00.000000000', '2020-12-27T00:00:00.000000000',
       '2020-12-20T00:00:00.000000000', '2020-12-19T00:00:00.000000000',
       '2021-04-03T00:00:00.000000000', '2020-11-15T00:00:00.000000000',
       '2020-11-02T00:00:00.000000000', '2020-11-07T00:00:00.000000000',
       '2021-04-17T00:00:00.000000000', '2021-04-25T00:00:00.000000000',
       '2021-04-24T00:00:00.000000000', '2021-07-16T00:00:00.000000000',
       '2021-07-10T00:00:00.000000000', '2021-06-25T00:00:00.000000000',
       '2021-06-19T00:00:00.000000000', '2021-06-06T00:00:00.000000000',
       '2021-05-08T00:00:00.000000000', '2021-05-01T00:00:00.000000000',
       '2021-08-14T00:00:00.000000000', '2022-10-24T00:00:00.000000000',
       '2021-02-26T00:00:00.000000000', '2022-10-25T00:00:00.000000000',
       '2021-02-05T00:00:00.000000000', '2022-10-26T00:00:00.000000000',
       '2022-10-27T00:00:00.000000000', '2021-03-29T00:00:00.000000000',
       '2022-10-28T00:00:00.000000000', '2021-02-25T00:00:00.000000000',
       '2019-11-12T00:00:00.000000000', '2019-03-22T00:00:00.000000000',
       '2022-10-29T00:00:00.000000000', '2020-09-16T00:00:00.000000000',
       '2020-09-25T00:00:00.000000000', '2019-11-27T00:00:00.000000000',
       '2021-06-27T00:00:00.000000000', '2019-12-09T00:00:00.000000000',
       '2022-10-30T00:00:00.000000000', '2021-06-21T00:00:00.000000000',
       '2020-10-25T00:00:00.000000000', '2021-08-31T00:00:00.000000000',
       '2020-10-18T00:00:00.000000000', '2022-10-31T00:00:00.000000000',
       '2020-05-13T00:00:00.000000000'], dtype='datetime64[ns]')

#### PAGOS DUPLICADOS TRADICIONAL

In [11]:
duplicates_trad = pagos_1[pagos_1.duplicated(['report_id','date_file'] , keep=False)]
duplicates_trad['INDEX'] = duplicates_trad['report_id'] + '_' + duplicates_trad['date_file'].astype('str')
duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)
duplicates_trad.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18104\1112391532.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad['INDEX'] = duplicates_trad['report_id'] + '_' + duplicates_trad['date_file'].astype('str')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18104\1112391532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
201,DAILY,ecd3d6d3-dd43-449b-92ed-2781f7f04f8f,Jacobo textiles,reynamart2722@gmail.com,4C7PB7WNB,2022-10-03,"1,437.36",Pago del día,SANTANDER,Paulina Gonzalez Martinez,14610250098877691,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20221003.xlsx,2022-10-03,4C7PB7WNB_2022-10-03
250,DAILY,ecd3d6d3-dd43-449b-92ed-2781f7f04f8f,Jacobo textiles,reynamart2722@gmail.com,4C7PB7WNB,2022-10-03,"1,437.36",Pago del día,SANTANDER,Paulina Gonzalez Martinez,14610250098877691,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-20221003.xlsx,2022-10-03,4C7PB7WNB_2022-10-03
205,DAILY,f12efda8-f45c-42aa-9065-d058699f2526,Taqueria Purisima,taqueriapurisima@gmail.com,5NK56VCQJ,2022-10-03,"1,213.12",Pago del día,BBVA BANCOMER,Maria Del Roco Duarte Castillo,12974985312426100,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20221003.xlsx,2022-10-03,5NK56VCQJ_2022-10-03
253,DAILY,f12efda8-f45c-42aa-9065-d058699f2526,Taqueria Purisima,taqueriapurisima@gmail.com,5NK56VCQJ,2022-10-03,"1,213.12",Pago del día,BBVA BANCOMER,Maria Del Roco Duarte Castillo,12974985312426100,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-20221003.xlsx,2022-10-03,5NK56VCQJ_2022-10-03
182,DAILY,d81873e1-0b18-4e7c-b283-252a11eaa405,Mi mercadito,alejandro.mata0981@gmail.com,8VZXPYJDT,2022-10-03,8.20,Pago del día,HSBC,JESUS MONTIEL HERNANDEZ,21650064449148859,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20221003.xlsx,2022-10-03,8VZXPYJDT_2022-10-03

In [12]:
duplicates_trad.shape

(838, 18)

In [13]:
duplicates_trad['status'].unique()

array(['ERROR', 'PAID'], dtype=object)

In [14]:
duplicates_trad.drop_duplicates(subset="INDEX", keep='last', inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18104\494774456.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.drop_duplicates(subset="INDEX", keep='last', inplace=True)

In [15]:
duplicates_trad.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
250,DAILY,ecd3d6d3-dd43-449b-92ed-2781f7f04f8f,Jacobo textiles,reynamart2722@gmail.com,4C7PB7WNB,2022-10-03,"1,437.36",Pago del día,SANTANDER,Paulina Gonzalez Martinez,14610250098877691,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-20221003.xlsx,2022-10-03,4C7PB7WNB_2022-10-03
253,DAILY,f12efda8-f45c-42aa-9065-d058699f2526,Taqueria Purisima,taqueriapurisima@gmail.com,5NK56VCQJ,2022-10-03,"1,213.12",Pago del día,BBVA BANCOMER,Maria Del Roco Duarte Castillo,12974985312426100,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-20221003.xlsx,2022-10-03,5NK56VCQJ_2022-10-03
249,DAILY,d81873e1-0b18-4e7c-b283-252a11eaa405,Mi mercadito,alejandro.mata0981@gmail.com,8VZXPYJDT,2022-10-03,8.20,Pago del día,HSBC,JESUS MONTIEL HERNANDEZ,21650064449148859,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-20221003.xlsx,2022-10-03,8VZXPYJDT_2022-10-03
71225,DAILY,bc5fffcf-e705-4fb4-ada8-6cc261084f13,Dance Event,muscle-fact@hotmail.com,9YFGK9S4V,2022-10-03,"4,244.99",Pago del día,BBVA BANCOMER,JESUS ALBERTO MEDELLIN SAINOS,12180028497497640,PAID,"2022-10-03,42644264202210031923341105,40072,40...",02. Second_batch,BANORTE,Dispersión-20221003.xlsx,2022-10-03,9YFGK9S4V_2022-10-03
31,DAILY,1066d676-0028-4928-a20b-7826456bbf3c,Fogon de Las Palmitas,maserattizl1@gmail.com,B7S8JGDWN,2022-10-03,"1,801.08",Pago del día,BBVA BANCOMER,Cristian Osvaldo Perez Martinez,12180015831781857,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20221003.xlsx,2022-10-03,B7S8JGDWN_2022-10-03

In [16]:
duplicates_trad.shape

(419, 18)

In [17]:
pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_trad.reset_index(drop=False, inplace=True)
pivot_duplicates_trad.head(10)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18104\739626261.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18104\739626261.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],

           tipo  date_file        sum       len
                            total_due total_due
0  Pago del día 2022-10-03  15,391.34        11
1  Pago del día 2022-10-04  22,561.50        11
2  Pago del día 2022-10-05  18,687.04         8
3  Pago del día 2022-10-06  23,047.73        11
4  Pago del día 2022-10-07 102,026.23        11
5  Pago del día 2022-10-10  31,248.43        10
6  Pago del día 2022-10-11     679.49         2
7  Pago del día 2022-10-13  20,768.78        11
8  Pago del día 2022-10-14   8,690.96        12
9  Pago del día 2022-10-17  25,770.37        18

In [18]:
pivot_duplicates_trad.shape

(31, 4)

#### FAST PAYMENTS

In [19]:
fp_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2022\10. OCTUBRE\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx', recursive=False)
fp_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-30.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\10. OCTUBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-10-31.xlsx']

In [20]:
pagos_2 = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS').assign(file_name=os.path.basename(f)) for f in fp_files_1])
pagos_2['date_file'] = pagos_2["file_name"].str[-15:-4]
pagos_2['date_file']= pd.to_datetime(pagos_2['date_file']) 
pagos_2.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_2['report_date_local']= pd.to_datetime(pagos_2['report_date_local']) 
pagos_2.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file
0,INSTANT,24dc98d5-8131-4f94-b15d-fbbfb1387d55,Giles,almadeliacoronacorona@gmail.com,L3559DZ98,2022-09-10,104.45,Reprogramación,ASP INTEGRA OPC,ALMa DELIA CORONA CORONA,"659,802,020,000,099,072.00",ERROR,NaN,04. Fourth_batch,BANORTE,Dispersión-FP 2022-10-01.xlsx,2022-10-01
3813,INSTANT,dce466d3-c108-4770-ba7a-7954b0ac36d0,GRANJA LAS FERMINAS,enganabobos@hotmail.com,23HPP3VB8,2022-09-26,335.38,Reprogramación,ASP INTEGRA OPC,Andrea Layseca Cano,"659,802,020,000,061,184.00",PAID,"2022-10-01,42644264202210011920281347,40072,90...",04. Fourth_batch,BANORTE,Dispersión-FP 2022-10-01.xlsx,2022-10-01
3812,INSTANT,dce466d3-c108-4770-ba7a-7954b0ac36d0,GRANJA LAS FERMINAS,enganabobos@hotmail.com,BJ96VXJB6,2022-09-25,498.28,Reprogramación,ASP INTEGRA OPC,Andrea Layseca Cano,"659,802,020,000,061,184.00",PAID,"2022-10-01,42644264202210011920281349,40072,90...",04. Fourth_batch,BANORTE,Dispersión-FP 2022-10-01.xlsx,2022-10-01
3811,INSTANT,dce466d3-c108-4770-ba7a-7954b0ac36d0,GRANJA LAS FERMINAS,enganabobos@hotmail.com,59RHV227H,2022-09-24,177.27,Reprogramación,ASP INTEGRA OPC,Andrea Layseca Cano,"659,802,020,000,061,184.00",PAID,"2022-10-01,42644264202210011920281353,40072,90...",04. Fourth_batch,BANORTE,Dispersión-FP 2022-10-01.xlsx,2022-10-01
3810,INSTANT,dce466d3-c108-4770-ba7a-7954b0ac36d0,GRANJA LAS FERMINAS,enganabobos@hotmail.com,3K7XP7BTT,2022-09-24,182.07,Reprogramación,ASP INTEGRA OPC,Andrea Layseca Cano,"659,802,020,000,061,184.00",PAID,"2022-10-01,42644264202210011920281354,40072,90...",04. Fourth_batch,BANORTE,Dispersión-FP 2022-10-01.xlsx,2022-10-01

In [21]:
pagos_2.shape

(137717, 17)

#### PAGOS REPETIDOS FAST PAYMENTS

In [22]:
duplicates_fp = pagos_2[pagos_2.duplicated(['report_id','date_file'] , keep=False)]
duplicates_fp['INDEX'] = duplicates_fp['report_id'] + '_' + duplicates_fp['date_file'].astype('str')
duplicates_fp.sort_values(by=['date_file','report_id','Batch_time'],inplace=True)
duplicates_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18104\3928666323.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp['INDEX'] = duplicates_fp['report_id'] + '_' + duplicates_fp['date_file'].astype('str')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18104\3928666323.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.sort_values(by=['date_file','report_id','Batch_time'],inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
1,INSTANT,848f8788-876d-43b8-987a-d7aa686d4ddf,Mini super El Karma,rafcor123@gmail.com,6CW6BCTWZ,2022-10-03,111.15,Pago del día,ASP INTEGRA OPC,Martha Yureica Rodriguez Miranda,"659,802,020,000,310,784.00",ERROR,NaN,02. Second_batch,SANTANDER,Dispersión-FP 2022-10-03.xlsx,2022-10-03,6CW6BCTWZ_2022-10-03
92,INSTANT,848f8788-876d-43b8-987a-d7aa686d4ddf,Mini super El Karma,rafcor123@gmail.com,6CW6BCTWZ,2022-10-03,111.15,Pago del día,ASP INTEGRA OPC,Martha Yureica Rodriguez Miranda,"659,802,020,000,310,784.00",ERROR,NaN,06. Sixth_batch,BANAMEX,Dispersión-FP 2022-10-03.xlsx,2022-10-03,6CW6BCTWZ_2022-10-03
2458,INSTANT,835868c9-7ee3-4f4f-9366-79f8a58448e3,Tecate Six Sustaita,regio_1979@hotmail.com,BWZJNF3D8,2022-10-03,191.08,Pago del día,ASP INTEGRA OPC,Mauricio Juarez Tamez,"659,802,020,000,080,384.00",PAID,"2022-10-03,183A0B24DB85E7D5,40014,90659,659802...",04. Fourth_batch,SANTANDER,Dispersión-FP 2022-10-03.xlsx,2022-10-03,BWZJNF3D8_2022-10-03
4138,INSTANT,835868c9-7ee3-4f4f-9366-79f8a58448e3,Tecate Six Sustaita,regio_1979@hotmail.com,BWZJNF3D8,2022-10-03,191.08,Pago del día,ASP INTEGRA OPC,Mauricio Juarez Tamez,"659,802,020,000,080,384.00",PAID,"2022-10-03,183A0B24DB85E7D5,40002,90659,659802...",06. Sixth_batch,BANAMEX,Dispersión-FP 2022-10-03.xlsx,2022-10-03,BWZJNF3D8_2022-10-03
3,INSTANT,848f8788-876d-43b8-987a-d7aa686d4ddf,Mini super El Karma,rafcor123@gmail.com,Q3ZNJ26RC,2022-10-03,497.32,Pago del día,ASP INTEGRA OPC,Martha Yureica Rodriguez Miranda,"659,802,020,000,310,784.00",ERROR,NaN,04. Fourth_batch,SANTANDER,Dispersión-FP 2022-10-03.xlsx,2022-10-03,Q3ZNJ26RC_2022-10-03

In [23]:
duplicates_fp.shape

(1288, 18)

In [24]:
duplicates_fp.drop_duplicates(subset="INDEX", keep='last', inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18104\2218390481.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.drop_duplicates(subset="INDEX", keep='last', inplace=True)

In [25]:
duplicates_fp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
92,INSTANT,848f8788-876d-43b8-987a-d7aa686d4ddf,Mini super El Karma,rafcor123@gmail.com,6CW6BCTWZ,2022-10-03,111.15,Pago del día,ASP INTEGRA OPC,Martha Yureica Rodriguez Miranda,"659,802,020,000,310,784.00",ERROR,NaN,06. Sixth_batch,BANAMEX,Dispersión-FP 2022-10-03.xlsx,2022-10-03,6CW6BCTWZ_2022-10-03
4138,INSTANT,835868c9-7ee3-4f4f-9366-79f8a58448e3,Tecate Six Sustaita,regio_1979@hotmail.com,BWZJNF3D8,2022-10-03,191.08,Pago del día,ASP INTEGRA OPC,Mauricio Juarez Tamez,"659,802,020,000,080,384.00",PAID,"2022-10-03,183A0B24DB85E7D5,40002,90659,659802...",06. Sixth_batch,BANAMEX,Dispersión-FP 2022-10-03.xlsx,2022-10-03,BWZJNF3D8_2022-10-03
93,INSTANT,848f8788-876d-43b8-987a-d7aa686d4ddf,Mini super El Karma,rafcor123@gmail.com,Q3ZNJ26RC,2022-10-03,497.32,Pago del día,ASP INTEGRA OPC,Martha Yureica Rodriguez Miranda,"659,802,020,000,310,784.00",ERROR,NaN,06. Sixth_batch,BANAMEX,Dispersión-FP 2022-10-03.xlsx,2022-10-03,Q3ZNJ26RC_2022-10-03
94,INSTANT,848f8788-876d-43b8-987a-d7aa686d4ddf,Mini super El Karma,rafcor123@gmail.com,SDFJLLZJB,2022-10-03,101.57,Pago del día,ASP INTEGRA OPC,Martha Yureica Rodriguez Miranda,"659,802,020,000,310,784.00",ERROR,NaN,06. Sixth_batch,BANAMEX,Dispersión-FP 2022-10-03.xlsx,2022-10-03,SDFJLLZJB_2022-10-03
3506,INSTANT,0377e2c8-07f1-45ce-88dd-dfe01c4c9008,Diana Alatorre,cristian_oximedic@hotmail.com,QH64J9HFC,2022-10-06,"40,981.00",Pago del día,ASP INTEGRA OPC,Diana Alatorre Dotor,"659,802,020,000,176,896.00",PAID,"2022-10-06,183B024115D45428,40002,90659,659802...",06. Sixth_batch,BANAMEX,Dispersión-FP 2022-10-06.xlsx,2022-10-06,QH64J9HFC_2022-10-06

In [26]:
duplicates_fp.shape

(644, 18)

In [27]:
pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_fp.reset_index(drop=False, inplace=True)
pivot_duplicates_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18104\3187082303.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_18104\3187082303.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],

           tipo  date_file       sum       len
                           total_due total_due
0  Pago del día 2022-10-03    901.12         4
1  Pago del día 2022-10-06 40,981.00         1
2  Pago del día 2022-10-17 72,500.60         2
3  Pago del día 2022-10-18  6,995.15         1
4  Pago del día 2022-10-21    187.02         1

In [28]:
pivot_duplicates_fp.shape

(9, 4)

In [29]:
# pivot_duplicates_fp.to_excel('DUPLICADOS FP JUNIO 2021.xlsx',index=True)

#### ALL PAGOS

In [30]:
allpagos = pd.concat([pagos_1,pagos_2])
allpagos.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
0,DAILY,004d0a73-4783-47f5-9bc9-3056ed745e4e,BRISSIA Rodriguez,rodriguez_lic03@hotmail.com,S79L4VGTN,2022-10-01,38.33,Pago del día,HSBC,BRISSIA DEL ROCÍO RODRÍGUEZ HERRERA,"21,813,064,873,452,944.00",ERROR,NaN,01. First_batch,BANORTE,Dispersión-20221001.xlsx,2022-10-01,NaN
68981,DAILY,b9fe1a70-e90e-4bcc-a489-94e1dcb9d63c,Ghania,sparko.madrid@gmail.com,NK79PF2VD,2022-10-01,86.24,Pago del día,BBVA BANCOMER,Belmadani mohammed,"12,010,015,131,392,236.00",PAID,"2022-10-01,42644264202210011919655676,40072,40...",01. First_batch,BANORTE,Dispersión-20221001.xlsx,2022-10-01,NaN
68980,DAILY,b9fd67cd-e394-43aa-a9da-116bffa5c637,Abarrotes Magui,almarosaib@hotmail.com,5WY42YMSV,2022-10-01,81.93,Pago del día,BANCOPPEL,Alma Rosa Ibarra Coronado,"137,744,101,352,000,576.00",PAID,"2022-10-01,42644264202210011919655678,40072,40...",01. First_batch,BANORTE,Dispersión-20221001.xlsx,2022-10-01,NaN
68979,DAILY,b9fcae23-1521-429e-a993-281a764d2bad,Distribuidora Rios,accountnokia@ymail.com,T92G2NG8T,2022-10-01,"2,127.29",Pago del día,BANCOPPEL,Yeni Yazmin Ruiz Romero,"137,654,102,629,476,400.00",PAID,"2022-10-01,42644264202210011919655679,40072,40...",01. First_batch,BANORTE,Dispersión-20221001.xlsx,2022-10-01,NaN
68978,DAILY,b9fc72e1-95c3-4f38-a1ed-1d2c31c7dbc3,Bicicletas y refacciones Marco,nibarra25@yahoo.com,3VWXHT55N,2022-10-01,420.67,Pago del día,BANAMEX,Norma Jeannette,"2,387,701,041,724,721.00",PAID,"2022-10-01,42644264202210011919655683,40072,40...",01. First_batch,BANORTE,Dispersión-20221001.xlsx,2022-10-01,NaN

In [31]:
allpagos.shape

(2937681, 18)

In [32]:
allpagos['tipo'].unique()

array(['Pago del día', 'Reprogramación'], dtype=object)

In [33]:
group_allpagos = allpagos.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_allpagos.head()

   date_file      total_due  report_id
0 2022-10-01 229,040,873.43     109175
1 2022-10-02 244,091,031.82     107944
2 2022-10-03 167,161,000.98      75923
3 2022-10-04 162,661,558.95      90814
4 2022-10-05 164,792,052.44      91221

In [34]:
group_allpagos.shape

(31, 3)

#### PAGOS DEL DIA

In [35]:
pagosdia = allpagos[(allpagos['tipo'].isin(['Pago del día']))]
pagosdia.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
0,DAILY,004d0a73-4783-47f5-9bc9-3056ed745e4e,BRISSIA Rodriguez,rodriguez_lic03@hotmail.com,S79L4VGTN,2022-10-01,38.33,Pago del día,HSBC,BRISSIA DEL ROCÍO RODRÍGUEZ HERRERA,"21,813,064,873,452,944.00",ERROR,NaN,01. First_batch,BANORTE,Dispersión-20221001.xlsx,2022-10-01,NaN
68981,DAILY,b9fe1a70-e90e-4bcc-a489-94e1dcb9d63c,Ghania,sparko.madrid@gmail.com,NK79PF2VD,2022-10-01,86.24,Pago del día,BBVA BANCOMER,Belmadani mohammed,"12,010,015,131,392,236.00",PAID,"2022-10-01,42644264202210011919655676,40072,40...",01. First_batch,BANORTE,Dispersión-20221001.xlsx,2022-10-01,NaN
68980,DAILY,b9fd67cd-e394-43aa-a9da-116bffa5c637,Abarrotes Magui,almarosaib@hotmail.com,5WY42YMSV,2022-10-01,81.93,Pago del día,BANCOPPEL,Alma Rosa Ibarra Coronado,"137,744,101,352,000,576.00",PAID,"2022-10-01,42644264202210011919655678,40072,40...",01. First_batch,BANORTE,Dispersión-20221001.xlsx,2022-10-01,NaN
68979,DAILY,b9fcae23-1521-429e-a993-281a764d2bad,Distribuidora Rios,accountnokia@ymail.com,T92G2NG8T,2022-10-01,"2,127.29",Pago del día,BANCOPPEL,Yeni Yazmin Ruiz Romero,"137,654,102,629,476,400.00",PAID,"2022-10-01,42644264202210011919655679,40072,40...",01. First_batch,BANORTE,Dispersión-20221001.xlsx,2022-10-01,NaN
68978,DAILY,b9fc72e1-95c3-4f38-a1ed-1d2c31c7dbc3,Bicicletas y refacciones Marco,nibarra25@yahoo.com,3VWXHT55N,2022-10-01,420.67,Pago del día,BANAMEX,Norma Jeannette,"2,387,701,041,724,721.00",PAID,"2022-10-01,42644264202210011919655683,40072,40...",01. First_batch,BANORTE,Dispersión-20221001.xlsx,2022-10-01,NaN

In [36]:
pagosdia.shape

(2918415, 18)

In [37]:
group_dia = pagosdia.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_dia.head()

   date_file      total_due  report_id
0 2022-10-01 226,828,316.01     107671
1 2022-10-02 242,977,759.63     106898
2 2022-10-03 165,067,080.25      74473
3 2022-10-04 160,925,492.63      89772
4 2022-10-05 163,930,468.24      90686

In [38]:
group_dia.shape

(31, 3)

# PRIMER MATCH (SETTLED VS PAGOS DEL DIA)

In [39]:
check_1 = cum_1.merge(pagosdia[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_1['total_due_y'].fillna('NO ENCONTRADO')
check_1['tipo'].fillna('NO ENCONTRADO',inplace=True)
check_1['file_name_y'].fillna('NO ENCONTRADO',inplace=True)
# check_1.fillna({'total_due_y':'NO ENCONTRADO', 'tipo':'NO ENCONTRADO', 'file_name_y':'NO ENCONTRADO'}, inplace=True)
check_1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_due_x,type,created_date,created_time,updated_date,updated_time,file_name_x,total_due_y,tipo,file_name_y
0,48313e2d-87da-4526-8d98-33019674fa9a,PRENDAS MEXICANAS,prendasmex@gruposedem.com.mx,BN9WVDCKQ,2022-10-01,"4,614.26",166.11,26.58,0.00,0.00,...,"4,421.57",DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,"4,421.57",Pago del día,Dispersión-20221001.xlsx
1,2a9287c9-d2c5-424a-9cc1-49080607aea7,ARTHROMEDIC,maybelreyes.7@gmail.com,D7YHSW2DT,2022-10-01,500.00,18.00,2.88,0.00,0.00,...,479.12,DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,479.12,Pago del día,Dispersión-20221001.xlsx
2,d78cb8e8-bf6a-4d10-b414-b0fe44cb7579,LA ULTIMA,izmaelalonzo13@gmail.com,FYFX7GZQ2,2022-10-01,80.50,2.90,0.46,0.00,0.00,...,77.14,DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,77.14,Pago del día,Dispersión-20221001.xlsx
3,edea791d-41e2-4347-8a4a-27f3cb5546bf,FERNANDA CORTES MAKEUP,fernanda_cortes_arcos@hotmail.com,HK2MS6HD9,2022-10-01,686.40,24.71,3.95,0.00,0.00,...,657.74,DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,657.74,Pago del día,Dispersión-20221001.xlsx
4,fe637f3e-a20f-47ba-8602-9033552861ad,LLANTAS Y SERVICIOS FALCRO S DE RL DE CV,administracion@llantasfalcro.com,J6C8N8995,2022-10-01,"13,790.63","2,144.44",343.11,0.00,0.00,...,"11,303.08",DAILY,2022-10-01,02:00:32,2022-10-01,02:00:32,SETTLEMENT 2022-10-01.csv,"11,303.08",Pago del día,Dispersión-20221001.xlsx

In [40]:
check_1['file_name_y'].unique()

array(['Dispersión-20221001.xlsx', 'NO ENCONTRADO',
       'Dispersión-FP 2022-10-01.xlsx', 'Dispersión-20221002.xlsx',
       'Dispersión-FP 2022-10-02.xlsx', 'Dispersión-20221003.xlsx',
       'Dispersión-FP 2022-10-03.xlsx', 'Dispersión-20221004.xlsx',
       'Dispersión-FP 2022-10-04.xlsx', 'Dispersión-20221005.xlsx',
       'Dispersión-FP 2022-10-05.xlsx', 'Dispersión-20221006.xlsx',
       'Dispersión-FP 2022-10-06.xlsx', 'Dispersión-20221007.xlsx',
       'Dispersión-FP 2022-10-07.xlsx', 'Dispersión-20221008.xlsx',
       'Dispersión-FP 2022-10-08.xlsx', 'Dispersión-20221009.xlsx',
       'Dispersión-FP 2022-10-09.xlsx', 'Dispersión-20221010.xlsx',
       'Dispersión-FP 2022-10-10.xlsx', 'Dispersión-20221011.xlsx',
       'Dispersión-FP 2022-10-11.xlsx', 'Dispersión-20221012.xlsx',
       'Dispersión-FP 2022-10-12.xlsx', 'Dispersión-20221013.xlsx',
       'Dispersión-FP 2022-10-13.xlsx', 'Dispersión-20221014.xlsx',
       'Dispersión-FP 2022-10-14.xlsx', 'Dispersión-20221015.xlsx',
       'Dispersión-FP 2022-10-15.xlsx', 'Dispersión-20221016.xlsx',
       'Dispersión-FP 2022-10-16.xlsx', 'Dispersión-20221017.xlsx',
       'Dispersión-FP 2022-10-17.xlsx', 'Dispersión-20221018.xlsx',
       'Dispersión-FP 2022-10-18.xlsx', 'Dispersión-20221019.xlsx',
       'Dispersión-FP 2022-10-19.xlsx', 'Dispersión-20221020.xlsx',
       'Dispersión-FP 2022-10-20.xlsx', 'Dispersión-20221021.xlsx',
       'Dispersión-FP 2022-10-21.xlsx', 'Dispersión-20221022.xlsx',
       'Dispersión-FP 2022-10-22.xlsx', 'Dispersión-20221023.xlsx',
       'Dispersión-FP 2022-10-23.xlsx', 'Dispersión-20221024.xlsx',
       'Dispersión-FP 2022-10-24.xlsx', 'Dispersión-20221025.xlsx',
       'Dispersión-FP 2022-10-25.xlsx', 'Dispersión-20221026.xlsx',
       'Dispersión-FP 2022-10-26.xlsx', 'Dispersión-20221027.xlsx',
       'Dispersión-FP 2022-10-27.xlsx', 'Dispersión-20221028.xlsx',
       'Dispersión-FP 2022-10-28.xlsx', 'Dispersión-20221029.xlsx',
       'Dispersión-FP 2022-10-29.xlsx', 'Dispersión-20221030.xlsx',
       'Dispersión-FP 2022-10-30.xlsx', 'Dispersión-20221031.xlsx',
       'Dispersión-FP 2022-10-31.xlsx'], dtype=object)

In [41]:
not_found_1 = check_1[((check_1['file_name_y'].isnull()) | (check_1['file_name_y'].isin(['NO ENCONTRADO'])))
                        & (check_1['total_due_x'] != 0)]
not_found_1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_due_x,type,created_date,created_time,updated_date,updated_time,file_name_x,total_due_y,tipo,file_name_y
591,a4fd11b2-b080-4e13-bc4d-ff65eeecbf72,SHALOM,jackjamaro66@gmail.com,N4RRPHY95,2022-10-01,0.03,0.00,0.00,0.00,0.00,...,0.03,DAILY,2022-10-01,02:02:43,2022-10-01,02:02:43,SETTLEMENT 2022-10-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
646,542e39bb-0fb3-44ff-bfa9-906b4142a280,ABARROTES PATY,gabrielacamposhernandez82@gmail.com,8N8HNQR35,2022-10-01,145.00,5.22,0.84,0.00,0.00,...,138.94,DAILY,2022-10-01,02:02:58,2022-10-01,02:02:58,SETTLEMENT 2022-10-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
1633,0e379753-fe84-4d83-9b68-1e464a77db4d,ABARROTES DIEGO,dr1763.com@gmail.com,WJ2FYRCH3,2022-10-01,100.00,3.60,0.58,0.00,0.00,...,101.22,DAILY,2022-10-01,02:06:30,2022-10-01,02:06:30,SETTLEMENT 2022-10-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
1846,2b5b8923-c69b-475a-ada4-75a20571e15a,DEPORTES,mancillagonzalez00@gmail.com,LVNQVZB2L,2022-10-01,"3,200.00",115.20,18.43,0.00,0.00,...,"3,066.37",DAILY,2022-10-01,02:07:16,2022-10-01,02:07:16,SETTLEMENT 2022-10-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
2055,c43dd1ff-4538-4351-841d-050b6372beeb,ABARROTES PIMENTEL,gracielamtz1374@gmail.com,YW2V2YHJ6,2022-10-01,28.00,1.01,0.16,0.00,0.00,...,32.83,DAILY,2022-10-01,02:08:07,2022-10-01,02:08:07,SETTLEMENT 2022-10-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO

In [42]:
not_found_1.shape

(8792, 29)

In [43]:
group_notfound = not_found_1.groupby(['report_date_local']).agg({'total_due_x':sum,'report_id':'count'}).reset_index()
group_notfound.rename(columns={'report_date_local':'date_file'},inplace=True)
group_notfound.head()

   date_file  total_due_x  report_id
0 2022-10-01   288,900.25        304
1 2022-10-02   382,190.46        336
2 2022-10-03   219,179.71        234
3 2022-10-04   211,448.41        293
4 2022-10-05   189,720.56        288

In [44]:
group_notfound.shape

(31, 3)

#### REPROGRAMACIONES

In [45]:
repro = allpagos[(allpagos['tipo'].isin(['Reprogramación']))]
repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
68742,DAILY,b962ec3f-3353-498e-8f3b-bff94b9d05ba,Turismo,ninobonito1@hotmail.com,HNQWWJZ74,2022-09-28,442.71,Reprogramación,BBVA BANCOMER,Gerardo Diaz Rub,"12,180,015,295,291,802.00",PAID,"2022-10-01,42644264202210011919653977,40072,40...",01. First_batch,BANORTE,Dispersión-20221001.xlsx,2022-10-01,NaN
68741,DAILY,b962ec3f-3353-498e-8f3b-bff94b9d05ba,Turismo,ninobonito1@hotmail.com,HY9DWZCM6,2022-09-27,"1,043.53",Reprogramación,BBVA BANCOMER,Gerardo Diaz Rub,"12,180,015,295,291,802.00",PAID,"2022-10-01,42644264202210011919653978,40072,40...",01. First_batch,BANORTE,Dispersión-20221001.xlsx,2022-10-01,NaN
68740,DAILY,b962ec3f-3353-498e-8f3b-bff94b9d05ba,Turismo,ninobonito1@hotmail.com,GKQMX6M9X,2022-09-26,"1,526.48",Reprogramación,BBVA BANCOMER,Gerardo Diaz Rub,"12,180,015,295,291,802.00",PAID,"2022-10-01,42644264202210011919653980,40072,40...",01. First_batch,BANORTE,Dispersión-20221001.xlsx,2022-10-01,NaN
68739,DAILY,b962ec3f-3353-498e-8f3b-bff94b9d05ba,Turismo,ninobonito1@hotmail.com,CKGNGQ28V,2022-09-25,"1,157.55",Reprogramación,BBVA BANCOMER,Gerardo Diaz Rub,"12,180,015,295,291,802.00",PAID,"2022-10-01,42644264202210011919653982,40072,40...",01. First_batch,BANORTE,Dispersión-20221001.xlsx,2022-10-01,NaN
68743,DAILY,b962ec3f-3353-498e-8f3b-bff94b9d05ba,Turismo,ninobonito1@hotmail.com,96H773DRX,2022-09-30,"1,977.37",Reprogramación,BBVA BANCOMER,Gerardo Diaz Rub,"12,180,015,295,291,802.00",PAID,"2022-10-01,42644264202210011919653975,40072,40...",01. First_batch,BANORTE,Dispersión-20221001.xlsx,2022-10-01,NaN

In [46]:
repro.shape

(19266, 18)

In [47]:
group_repro = repro.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_repro.head()

   date_file    total_due  report_id
0 2022-10-01 2,212,557.42       1504
1 2022-10-02 1,113,272.19       1046
2 2022-10-03 2,093,920.73       1450
3 2022-10-04 1,736,066.32       1042
4 2022-10-05   861,584.20        535

In [48]:
group_repro.shape

(31, 3)

# SEGUNDO MATCH (IDENTIFICACION DE REPROGRAMACIONES)

In [49]:
check_2 = not_found_1.merge(repro[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_2.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,created_time,updated_date,updated_time,file_name_x,total_due_y,tipo_x,file_name_y,total_due,tipo_y,file_name
0,a4fd11b2-b080-4e13-bc4d-ff65eeecbf72,SHALOM,jackjamaro66@gmail.com,N4RRPHY95,2022-10-01,0.03,0.00,0.00,0.00,0.00,...,02:02:43,2022-10-01,02:02:43,SETTLEMENT 2022-10-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,NaN,NaN,NaN
1,542e39bb-0fb3-44ff-bfa9-906b4142a280,ABARROTES PATY,gabrielacamposhernandez82@gmail.com,8N8HNQR35,2022-10-01,145.00,5.22,0.84,0.00,0.00,...,02:02:58,2022-10-01,02:02:58,SETTLEMENT 2022-10-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,138.94,Reprogramación,Dispersión-20221006.xlsx
2,0e379753-fe84-4d83-9b68-1e464a77db4d,ABARROTES DIEGO,dr1763.com@gmail.com,WJ2FYRCH3,2022-10-01,100.00,3.60,0.58,0.00,0.00,...,02:06:30,2022-10-01,02:06:30,SETTLEMENT 2022-10-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,101.22,Reprogramación,Dispersión-20221013.xlsx
3,2b5b8923-c69b-475a-ada4-75a20571e15a,DEPORTES,mancillagonzalez00@gmail.com,LVNQVZB2L,2022-10-01,"3,200.00",115.20,18.43,0.00,0.00,...,02:07:16,2022-10-01,02:07:16,SETTLEMENT 2022-10-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,"3,066.37",Reprogramación,Dispersión-20221003.xlsx
4,c43dd1ff-4538-4351-841d-050b6372beeb,ABARROTES PIMENTEL,gracielamtz1374@gmail.com,YW2V2YHJ6,2022-10-01,28.00,1.01,0.16,0.00,0.00,...,02:08:07,2022-10-01,02:08:07,SETTLEMENT 2022-10-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,NaN,NaN,NaN

In [50]:
check_2.shape

(8811, 32)

In [51]:
# writer = pd.ExcelWriter('REPROGRAMACIONES JUNIO 2021.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})
# check_2.to_excel(writer, sheet_name='DETAIL REPROGRAMACIONES',index=False)
# writer.save()
# writer.close()

# FECHA DE PAGOS (SETTLED VS PAGOS DEL DIA)

In [52]:
fecha_pago = not_found_1.merge(repro[['report_id','date_file','tipo','status','file_name']] ,on='report_id', how='left')
fecha_pago.sort_values(by=['date_file'],ascending=True,inplace=True)
fecha_pago.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,updated_date,updated_time,file_name_x,total_due_y,tipo_x,file_name_y,date_file,tipo_y,status,file_name
265,661c8425-e699-4839-8497-8dcde7cbed20,MACHUPICCHU,terminalclipmachupicchu@gmail.com,8YYJ59X3C,2022-10-01,"1,048.00",37.73,6.03,0.00,0.00,...,2022-10-01,06:58:36,SETTLEMENT 2022-10-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-10-02,Reprogramación,PAID,Dispersión-20221002.xlsx
59,a4bc6b6c-344d-482c-b840-99e8013fea4b,SINDICATO DE TAXISTAS DE COZUMEL,c.marrufo29@gmail.com,SJDQYWDH8,2022-10-01,200.00,7.20,1.15,0.00,0.00,...,2022-10-01,03:07:29,SETTLEMENT 2022-10-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-10-02,Reprogramación,PAID,Dispersión-20221002.xlsx
85,42529b37-7ce6-4cbc-97ee-1d46a1eca530,MONITA,alanchavez1977@gmail.com,ZGZFB83TH,2022-10-01,270.00,9.72,1.56,0.00,0.00,...,2022-10-01,03:40:52,SETTLEMENT 2022-10-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-10-02,Reprogramación,PAID,Dispersión-20221002.xlsx
56,e2a3122e-2f9d-4d41-845c-11e8631502f9,PRINCESAS PINK,johanazury3@gmail.com,2QPRVCG6G,2022-10-01,1.00,0.04,0.01,0.00,0.00,...,2022-10-01,03:04:05,SETTLEMENT 2022-10-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-10-02,Reprogramación,PAID,Dispersión-20221002.xlsx
50,edbacaee-1093-4e9c-9613-a190cbdcb9a8,SACH ACTIWEAR,sachactivewear@gmail.com,S3PQ89KV6,2022-10-01,1.00,0.04,0.01,0.00,0.00,...,2022-10-01,02:56:25,SETTLEMENT 2022-10-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-10-02,Reprogramación,PAID,Dispersión-20221002.xlsx

In [53]:
fecha_pago.shape

(8811, 33)

In [54]:
fecha_pago.drop_duplicates(subset ='report_id',keep='first',inplace=True)

In [55]:
fecha_pago.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,updated_date,updated_time,file_name_x,total_due_y,tipo_x,file_name_y,date_file,tipo_y,status,file_name
265,661c8425-e699-4839-8497-8dcde7cbed20,MACHUPICCHU,terminalclipmachupicchu@gmail.com,8YYJ59X3C,2022-10-01,"1,048.00",37.73,6.03,0.00,0.00,...,2022-10-01,06:58:36,SETTLEMENT 2022-10-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-10-02,Reprogramación,PAID,Dispersión-20221002.xlsx
59,a4bc6b6c-344d-482c-b840-99e8013fea4b,SINDICATO DE TAXISTAS DE COZUMEL,c.marrufo29@gmail.com,SJDQYWDH8,2022-10-01,200.00,7.20,1.15,0.00,0.00,...,2022-10-01,03:07:29,SETTLEMENT 2022-10-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-10-02,Reprogramación,PAID,Dispersión-20221002.xlsx
85,42529b37-7ce6-4cbc-97ee-1d46a1eca530,MONITA,alanchavez1977@gmail.com,ZGZFB83TH,2022-10-01,270.00,9.72,1.56,0.00,0.00,...,2022-10-01,03:40:52,SETTLEMENT 2022-10-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-10-02,Reprogramación,PAID,Dispersión-20221002.xlsx
56,e2a3122e-2f9d-4d41-845c-11e8631502f9,PRINCESAS PINK,johanazury3@gmail.com,2QPRVCG6G,2022-10-01,1.00,0.04,0.01,0.00,0.00,...,2022-10-01,03:04:05,SETTLEMENT 2022-10-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-10-02,Reprogramación,PAID,Dispersión-20221002.xlsx
50,edbacaee-1093-4e9c-9613-a190cbdcb9a8,SACH ACTIWEAR,sachactivewear@gmail.com,S3PQ89KV6,2022-10-01,1.00,0.04,0.01,0.00,0.00,...,2022-10-01,02:56:25,SETTLEMENT 2022-10-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-10-02,Reprogramación,PAID,Dispersión-20221002.xlsx

In [56]:
fecha_pago.shape

(8792, 33)

### AGRUPADO POR DÍA

In [57]:
pivot_fecha_pago = pd.pivot_table(fecha_pago,index=['report_date_local'],
                                  values=['total_due_x'],aggfunc = ['sum', len],margins=True)
pivot_fecha_pago.head()

                            sum         len
                    total_due_x total_due_x
report_date_local
2022-10-01 00:00:00  288,900.25         304
2022-10-02 00:00:00  382,190.46         336
2022-10-03 00:00:00  219,179.71         234
2022-10-04 00:00:00  211,448.41         293
2022-10-05 00:00:00  189,720.56         288

In [58]:
pivot_fecha_pago.shape

(32, 2)

# PAGOS MANUALES

In [59]:
file_manual = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2022\10. OCTOBER\MANUALES\*.xlsx', recursive=False)
file_manual

['G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\10. OCTOBER\\MANUALES\\Manuales 2022.10.01 - 2022.10.24.xlsx',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\10. OCTOBER\\MANUALES\\Manuales 2022.10.25 - 2022.10.30.xlsx']

In [60]:
manuales_all = pd.concat([pd.read_excel(f,sheet_name='Formato Pago Manual',skiprows=1
                                      ,converters={'Cta. CLABE de depósito':str,'report_id':str})
                          .assign(file_name=os.path.basename(f)) for f in file_manual])
manuales_all['Date']= pd.to_datetime(manuales_all['Date'])  
manuales_all['Tipo'] = 'MANUAL'

In [61]:
manuales_final = manuales_all[['Date','ME ID','ME NAME',' (mxn)','Banco','Justificación para el pago','Tipo','Report ID']]
manuales_final.head()

,Date,ME ID,ME NAME,(mxn),Banco,Justificación para el pago,Tipo,Report ID
0,2022-10-05,746763e4-8489-46d2-8e11-c2e7e5c8dabe,COSEYDI SA DE CV,"1,078.85","Banco Santander, S.A.",Re: SOP-9897 Settlement || ME 746763e4-8489-46...,MANUAL,NaN
1,2022-10-05,1d983d50-0ac0-4bce-ba0b-59b443260745,GIRAE,"1,906.90",Banamex,Fwd: Reembolso Ticket wBEjhyN,MANUAL,wBEjhyN
2,2022-10-19,3cc82f22-5599-4418-a985-70be908676fe,MR CHINGON,385.98,ASP INTEGRA OPC,Re: SOP-9930 || Reembolso a cliente,MANUAL,NaN
3,2022-10-19,e61b7f3e-7ab9-4e7b-addc-5cd7fdce8c3e,HINODE GROUP,132.24,"Banco Santander, S.A.",Revisión retroactivo HND MX,MANUAL,1JTzwee
4,2022-10-19,5632b493-d948-4def-b643-a37f8a8ff9d0,ALIMENTOS ALCA INNOVACION,212.00,BANAMEX,Re: SOP-10212 || TXN || PROSA || ME ID: 5632b4...,MANUAL,wmnPFS0

In [62]:
manuales_final.shape

(23, 8)

In [63]:
manuales_final.columns

Index(['Date', 'ME ID', 'ME NAME', ' (mxn)', 'Banco',
       'Justificación para el pago', 'Tipo', 'Report ID'],
      dtype='object')

In [64]:
group_manual = manuales_final.groupby(['Date']).agg({' (mxn)':sum,'Report ID':'count'}).reset_index()
group_manual.rename(columns={'Date':'date_file','Report ID':'report_id'},inplace=True)
group_manual.head()

   date_file    (mxn)  report_id
0 2022-10-05 2,985.75          1
1 2022-10-19 4,254.57          3
2 2022-10-21   374.74          7
3 2022-10-28 9,059.68          1

In [65]:
group_manual.shape

(4, 3)

# ACUMULADOS SETTLEMENT

In [66]:
conc_disp = cum_distinct_0.groupby(['report_date_local']).agg({'total_due':sum,'report_id':'count'}).reset_index()
conc_disp.rename(columns={'report_date_local':'date_file'}, inplace=True)
conc_disp.head()

   date_file      total_due  report_id
0 2022-10-01 227,117,216.26     107975
1 2022-10-02 243,359,950.09     107234
2 2022-10-03 165,269,967.50      74692
3 2022-10-04 161,114,379.54      90054
4 2022-10-05 164,101,501.76      90966

In [67]:
conc_disp.shape

(31, 3)

# MERGING ALL DATA FRAMES

In [68]:
total_1 = conc_disp.merge(group_repro[['date_file','total_due','report_id']],on='date_file',how='left') \
.merge(group_manual,on='date_file',how='left')
total_1[' (mxn)'].fillna(0,inplace=True)
total_1['report_id'].fillna(0,inplace=True)
total_1.head()

,date_file,total_due_x,report_id_x,total_due_y,report_id_y,(mxn),report_id
0,2022-10-01,"227,117,216.26",107975,"2,212,557.42",1504,0.00,0.00
1,2022-10-02,"243,359,950.09",107234,"1,113,272.19",1046,0.00,0.00
2,2022-10-03,"165,269,967.50",74692,"2,093,920.73",1450,0.00,0.00
3,2022-10-04,"161,114,379.54",90054,"1,736,066.32",1042,0.00,0.00
4,2022-10-05,"164,101,501.76",90966,"861,584.20",535,"2,985.75",1.00

In [69]:
total_1['count_total_pago_dia'] = total_1['report_id_x'] + total_1['report_id_y'] + total_1['report_id']
total_1['sum_total_pago_dia'] = total_1['total_due_x'] + total_1['total_due_y'] + total_1[' (mxn)']

In [70]:
total_1

,date_file,total_due_x,report_id_x,total_due_y,report_id_y,(mxn),report_id,count_total_pago_dia,sum_total_pago_dia
0,2022-10-01,"227,117,216.26",107975,"2,212,557.42",1504,0.00,0.00,"109,479.00","229,329,773.68"
1,2022-10-02,"243,359,950.09",107234,"1,113,272.19",1046,0.00,0.00,"108,280.00","244,473,222.28"
2,2022-10-03,"165,269,967.50",74692,"2,093,920.73",1450,0.00,0.00,"76,142.00","167,363,888.23"
3,2022-10-04,"161,114,379.54",90054,"1,736,066.32",1042,0.00,0.00,"91,096.00","162,850,445.86"
4,2022-10-05,"164,101,501.76",90966,"861,584.20",535,"2,985.75",1.00,"91,502.00","164,966,071.71"
5,2022-10-06,"160,599,196.76",92488,"436,835.62",411,0.00,0.00,"92,899.00","161,036,032.38"
6,2022-10-07,"172,372,987.45",96236,"830,367.84",451,0.00,0.00,"96,687.00","173,203,355.29"
7,2022-10-08,"201,730,086.34",102755,"977,428.78",691,0.00,0.00,"103,446.00","202,707,515.12"
8,2022-10-09,"221,948,355.77",102736,"714,533.20",420,0.00,0.00,"103,156.00","222,662,888.97"
9,2022-10-10,"131,361,580.45",68963,"369,606.29",204,0.00,0.00,"69,167.00","131,731,186.74"
10,2022-10-11,"156,430,971.49",92482,"1,225,771.63",390,0.00,0.00,"92,872.00","157,656,743.12"
11,2022-10-12,"157,340,143.28",90764,"919,419.96",551,0.00,0.00,"91,315.00","158,259,563.24"
12,2022-10-13,"161,451,347.69",93207,"753,770.19",350,0.00,0.00,"93,557.00","162,205,117.88"
13,2022-10-14,"181,119,686.35",99055,"807,903.79",309,0.00,0.00,"99,364.00","181,927,590.14"
14,2022-10-15,"222,025,927.18",108921,"327,077.23",284,0.00,0.00,"109,205.00","222,353,004.41"
15,2022-10-16,"249,177,456.47",108509,"688,036.71",171,0.00,0.00,"108,680.00","249,865,493.18"
16,2022-10-17,"171,720,798.13",76386,"993,429.21",246,0.00,0.00,"76,632.00","172,714,227.34"
17,2022-10-18,"160,078,971.70",90737,"827,287.65",461,0.00,0.00,"91,198.00","160,906,259.35"
18,2022-10-19,"156,852,077.81",89791,"1,000,041.60",332,"4,254.57",3.00,"90,126.00","157,856,373.98"
19,2022-10-20,"162,594,014.70",92744,"563,631.96",486,0.00,0.00,"93,230.00","163,157,646.66"
20,2022-10-21,"176,833,415.12",98287,"893,966.85",569,374.74,7.00,"98,863.00","177,727,756.71"
21,2022-10-22,"197,557,941.10",103308,"1,861,906.50",392,0.00,0.00,"103,700.00","199,419,847.60"
22,2022-10-23,"216,031,109.12",103133,"2,443,718.03",839,0.00,0.00,"103,972.00","218,474,827.15"
23,2022-10-24,"156,828,472.55",73292,"583,701.18",383,0.00,0.00,"73,675.00","157,412,173.73"
24,2022-10-25,"167,958,509.04",89662,"2,046,549.68",605,0.00,0.00,"90,267.00","170,005,058.72"
25,2022-10-26,"171,029,145.72",92055,"889,018.60",500,0.00,0.00,"92,555.00","171,918,164.32"
26,2022-10-27,"179,602,039.61",95771,"1,592,601.44",975,0.00,0.00,"96,746.00","181,194,641.05"
27,2022-10-28,"194,804,097.08",100058,"1,804,939.95",611,"9,059.68",1.00,"100,670.00","196,618,096.71"
28,2022-10-29,"228,100,974.57",108697,"1,542,745.75",922,0.00,0.00,"109,619.00","229,643,720.32"
29,2022-10-30,"248,643,644.39",107729,"1,113,135.71",493,0.00,0.00,"108,222.00","249,756,780.10"
30,2022-10-31,"180,254,434.24",77499,"3,864,228.25",1643,0.00,0.00,"79,142.00","184,118,662.49"

# ACUMULADOS PAGO DEL DIA

In [71]:
total_2 = group_allpagos.merge(group_notfound[['date_file','total_due_x','report_id']],on='date_file',how='left')\
.merge(group_manual,on='date_file',how='left')
total_2[' (mxn)'].fillna(0,inplace=True)
total_2['report_id'].fillna(0,inplace=True)
total_2['total_due_x'].fillna(0,inplace=True)
total_2['report_id_y'].fillna(0,inplace=True)
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id
0,2022-10-01,"229,040,873.43",109175,"288,900.25",304,0.00,0.00
1,2022-10-02,"244,091,031.82",107944,"382,190.46",336,0.00,0.00
2,2022-10-03,"167,161,000.98",75923,"219,179.71",234,0.00,0.00
3,2022-10-04,"162,661,558.95",90814,"211,448.41",293,0.00,0.00
4,2022-10-05,"164,792,052.44",91221,"189,720.56",288,"2,985.75",1.00

In [72]:
total_2['count_swap_dia'] = total_2['report_id_x'] + total_2['report_id_y'] + total_2['report_id']
total_2['sum_swap_dia'] = total_2['total_due'] + total_2['total_due_x'] + total_2[' (mxn)']

In [73]:
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id,count_swap_dia,sum_swap_dia
0,2022-10-01,"229,040,873.43",109175,"288,900.25",304,0.00,0.00,"109,479.00","229,329,773.68"
1,2022-10-02,"244,091,031.82",107944,"382,190.46",336,0.00,0.00,"108,280.00","244,473,222.28"
2,2022-10-03,"167,161,000.98",75923,"219,179.71",234,0.00,0.00,"76,157.00","167,380,180.69"
3,2022-10-04,"162,661,558.95",90814,"211,448.41",293,0.00,0.00,"91,107.00","162,873,007.36"
4,2022-10-05,"164,792,052.44",91221,"189,720.56",288,"2,985.75",1.00,"91,510.00","164,984,758.75"

In [74]:
total_2.shape

(31, 9)

# COMPARACION FINAL

In [75]:
final_comparacion = total_1[['date_file','count_total_pago_dia','sum_total_pago_dia']] \
.merge(total_2[['date_file','count_swap_dia','sum_swap_dia']],on='date_file',how='left')
final_comparacion.head()

,date_file,count_total_pago_dia,sum_total_pago_dia,count_swap_dia,sum_swap_dia
0,2022-10-01,"109,479.00","229,329,773.68","109,479.00","229,329,773.68"
1,2022-10-02,"108,280.00","244,473,222.28","108,280.00","244,473,222.28"
2,2022-10-03,"76,142.00","167,363,888.23","76,157.00","167,380,180.69"
3,2022-10-04,"91,096.00","162,850,445.86","91,107.00","162,873,007.36"
4,2022-10-05,"91,502.00","164,966,071.71","91,510.00","164,984,758.75"

In [76]:
final_comparacion['diff_count'] = final_comparacion['count_total_pago_dia'] - final_comparacion['count_swap_dia']
final_comparacion['diff_sum'] = final_comparacion['sum_total_pago_dia'] - final_comparacion['sum_swap_dia']

In [77]:
final_comparacion

,date_file,count_total_pago_dia,sum_total_pago_dia,count_swap_dia,sum_swap_dia,diff_count,diff_sum
0,2022-10-01,"109,479.00","229,329,773.68","109,479.00","229,329,773.68",0.00,-0.00
1,2022-10-02,"108,280.00","244,473,222.28","108,280.00","244,473,222.28",0.00,0.00
2,2022-10-03,"76,142.00","167,363,888.23","76,157.00","167,380,180.69",-15.00,"-16,292.46"
3,2022-10-04,"91,096.00","162,850,445.86","91,107.00","162,873,007.36",-11.00,"-22,561.50"
4,2022-10-05,"91,502.00","164,966,071.71","91,510.00","164,984,758.75",-8.00,"-18,687.04"
5,2022-10-06,"92,899.00","161,036,032.38","92,911.00","161,100,061.11",-12.00,"-64,028.73"
6,2022-10-07,"96,687.00","173,203,355.29","96,698.00","173,305,381.52",-11.00,"-102,026.23"
7,2022-10-08,"103,446.00","202,707,515.12","103,446.00","202,707,515.12",0.00,0.00
8,2022-10-09,"103,156.00","222,662,888.97","103,156.00","222,662,888.97",0.00,0.00
9,2022-10-10,"69,167.00","131,731,186.74","69,177.00","131,762,435.17",-10.00,"-31,248.43"
10,2022-10-11,"92,872.00","157,656,743.12","92,874.00","157,657,422.61",-2.00,-679.49
11,2022-10-12,"91,315.00","158,259,563.24","91,315.00","158,259,563.24",0.00,0.00
12,2022-10-13,"93,557.00","162,205,117.88","93,568.00","162,225,886.66",-11.00,"-20,768.78"
13,2022-10-14,"99,364.00","181,927,590.14","99,376.00","181,936,281.10",-12.00,"-8,690.96"
14,2022-10-15,"109,205.00","222,353,004.41","109,205.00","222,353,004.41",0.00,0.00
15,2022-10-16,"108,680.00","249,865,493.18","108,680.00","249,865,493.18",0.00,0.00
16,2022-10-17,"76,632.00","172,714,227.34","76,652.00","172,812,498.31",-20.00,"-98,270.97"
17,2022-10-18,"91,198.00","160,906,259.35","91,216.00","160,949,911.95",-18.00,"-43,652.60"
18,2022-10-19,"90,126.00","157,856,373.98","90,145.00","157,871,209.98",-19.00,"-14,836.00"
19,2022-10-20,"93,230.00","163,157,646.66","93,252.00","163,246,330.93",-22.00,"-88,684.27"
20,2022-10-21,"98,863.00","177,727,756.71","98,876.00","177,740,129.48",-13.00,"-12,372.77"
21,2022-10-22,"103,700.00","199,419,847.60","103,700.00","199,419,847.60",0.00,0.00
22,2022-10-23,"103,972.00","218,474,827.15","103,972.00","218,474,827.15",0.00,0.00
23,2022-10-24,"73,675.00","157,412,173.73","73,695.00","157,426,323.15",-20.00,"-14,149.42"
24,2022-10-25,"90,267.00","170,005,058.72","90,267.00","170,005,058.72",0.00,0.00
25,2022-10-26,"92,555.00","171,918,164.32","92,692.00","172,143,018.04",-137.00,"-224,853.72"
26,2022-10-27,"96,746.00","181,194,641.05","96,746.00","181,194,641.05",0.00,0.00
27,2022-10-28,"100,670.00","196,618,096.71","100,671.00","196,618,710.75",-1.00,-614.04
28,2022-10-29,"109,619.00","229,643,720.32","109,619.00","229,643,720.32",0.00,0.00
29,2022-10-30,"108,222.00","249,756,780.10","108,853.00","250,057,271.66",-631.00,"-300,491.56"
30,2022-10-31,"79,142.00","184,118,662.49","79,190.00","184,183,352.81",-48.00,"-64,690.32"

In [78]:
writer = pd.ExcelWriter('FASE III. SETTLED VS PAGO DIA OCTUBRE 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_fecha_pago.to_excel(writer, sheet_name='ENVIADOS POSTERIOR')
fecha_pago.to_excel(writer, sheet_name='DETAIL NO ENCONTRADO',index=False)
pivot_duplicates_trad.to_excel(writer, sheet_name='PAGOS DUPLICADOS')
pivot_duplicates_fp.to_excel(writer, sheet_name='FP PAGOS DUPLICADOS')
group_manual.to_excel(writer, sheet_name='PAGOS MANUALES')
writer.close()