In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
from functools import reduce
pd.options.display.float_format = '{:,.2f}'.format

#### ACUMULADO

In [2]:
cumfiles = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\12. DICIEMBRE\QUERIES\*.csv', recursive=False)
cumfiles

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-29.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-30.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\QUERIES\\SETTLEMENT 2022-12-31.csv']

In [3]:
cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
cum_1.columns = cum_1.columns.str.strip().str.lower() 
cum_1['report_date_local']= pd.to_datetime(cum_1['report_date_local']) 
cum_1.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_1864\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_1864\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_1864\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_1864\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_1864\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_1864\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_1864\2603350484.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  cum_1 = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in cumfiles])

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_released,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name
0,1b103437-7cd3-4774-817f-d68bfc6ebb05,FRUTAS Y VERDURAS DE LA ESQUINA,juanluis1890@icloud.com,Y46DFXQNS,2022-12-01,155.65,5.61,0.90,0.00,0.00,...,0.00,0.00,NaN,149.14,DAILY,2022-12-01,02:00:30,2022-12-01,02:00:30,SETTLEMENT 2022-12-01.csv
1,682fa1f6-5459-420e-8f2a-ad3f52306ef6,CONSULTORIO,katun7@gmail.com,57MPWP22S,2022-12-01,"1,400.00",50.40,8.06,0.00,0.00,...,0.00,0.00,NaN,"1,341.54",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv
2,b753f531-bf73-421d-9b78-8b50491dbe14,TAXI ACUATICO,luismiguelgonzalezvirgen4@gmail.com,97RHCS4Y8,2022-12-01,"1,500.00",54.00,8.64,0.00,0.00,...,0.00,0.00,NaN,"1,437.36",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv
3,d8bc09a9-52e8-4160-994c-8e302b3c52a2,TUCANDELABAR,Jai-mehdez@hotmail.com,DL8PLM5JB,2022-12-01,"4,509.00",162.32,25.97,0.00,0.00,...,0.00,0.00,NaN,"4,320.71",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv
4,b5e67fd0-9cf2-4cb3-9e91-e7cd51242f3a,LES AMIGOS,les3amigosplayadelcarmen@gmail.com,HWVC6WN8F,2022-12-01,"1,943.00",69.95,11.19,0.00,0.00,...,0.00,0.00,NaN,"1,861.86",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv

In [4]:
cum_1.shape

(2876286, 26)

In [5]:
cum_distinct_0 = cum_1[(cum_1['total_due'] != 0)]
cum_distinct_0.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_released,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name
0,1b103437-7cd3-4774-817f-d68bfc6ebb05,FRUTAS Y VERDURAS DE LA ESQUINA,juanluis1890@icloud.com,Y46DFXQNS,2022-12-01,155.65,5.61,0.90,0.00,0.00,...,0.00,0.00,NaN,149.14,DAILY,2022-12-01,02:00:30,2022-12-01,02:00:30,SETTLEMENT 2022-12-01.csv
1,682fa1f6-5459-420e-8f2a-ad3f52306ef6,CONSULTORIO,katun7@gmail.com,57MPWP22S,2022-12-01,"1,400.00",50.40,8.06,0.00,0.00,...,0.00,0.00,NaN,"1,341.54",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv
2,b753f531-bf73-421d-9b78-8b50491dbe14,TAXI ACUATICO,luismiguelgonzalezvirgen4@gmail.com,97RHCS4Y8,2022-12-01,"1,500.00",54.00,8.64,0.00,0.00,...,0.00,0.00,NaN,"1,437.36",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv
3,d8bc09a9-52e8-4160-994c-8e302b3c52a2,TUCANDELABAR,Jai-mehdez@hotmail.com,DL8PLM5JB,2022-12-01,"4,509.00",162.32,25.97,0.00,0.00,...,0.00,0.00,NaN,"4,320.71",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv
4,b5e67fd0-9cf2-4cb3-9e91-e7cd51242f3a,LES AMIGOS,les3amigosplayadelcarmen@gmail.com,HWVC6WN8F,2022-12-01,"1,943.00",69.95,11.19,0.00,0.00,...,0.00,0.00,NaN,"1,861.86",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv

In [6]:
cum_distinct_0.shape

(2875131, 26)

#### PAGOS DE DISPERSIONES

In [7]:
pagos_dia_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\12. DICIEMBRE\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
pagos_dia_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221201.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221202.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221203.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221204.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221205.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221206.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221207.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221208.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221209.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221210.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221211.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221212.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221213.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221214.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221215.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221216.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221217.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221218.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221219.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221220.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221221.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221222.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221223.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221224.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221225.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221226.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221227.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221228.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221229.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221230.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES\\Dispersión-20221231.xlsx']

In [8]:
pagos_1 = pd.concat([pd.read_excel(f,sheet_name='Swap del día').assign(file_name=os.path.basename(f)) for f in pagos_dia_files_1])
pagos_1['date_file'] = pagos_1["file_name"].str[-13:-5]
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'], format='%Y%m%d').dt.date
pagos_1['date_file']= pd.to_datetime(pagos_1['date_file'])
pagos_1.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_1['report_date_local']= pd.to_datetime(pagos_1['report_date_local']) 
pagos_1.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file
0,DAILY,00630937-891f-4c05-9ede-7439019ece35,monica meza valencia,elpalaciodemoni2022@gmail.com,SWW9GY7W9,2022-12-01,799.18,Pago del día,SANTANDER,monica Meza valencia,14320606059198428,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01
66445,DAILY,b36501b7-9ec1-4181-9a73-ada23f900b15,Italika Pachuca,italikapachuca@hotmail.com,TH883D49D,2022-12-01,"1,625.17",Pago del día,BBVA BANCOMER,Arturo Amador Arellano,12290015476908079,PAID,"2022-12-01,2022120140014 HDH0001421716440,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01
66444,DAILY,b364d20b-f84d-4812-a086-00d23dd197ad,Abarrotes Uribe,clau.yayasa196511@gmail.com,ZLDWNBJML,2022-12-01,97.66,Pago del día,BANREGIO,Diego Alejandro Pacheco Uribe,58597000024229474,PAID,"2022-12-01,2022120140014 HDH0001421716400,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01
66443,DAILY,b36489df-7152-4a47-86e3-2cb888f62551,Pizzas Pablo,rufinasilvapablo@gmail.com,YPHZR686Y,2022-12-01,253.93,Pago del día,AZTECA,Rufina Silva Pablo,127180013301776292,PAID,"2022-12-01,2022120140014 HDH0001421716410,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01
66442,DAILY,b3643ee4-b52b-4605-a4eb-90123de15e39,Néctar Cafetería,anamaganao@outlook.com,77M9Y7MZ9,2022-12-01,605.60,Pago del día,SANTANDER,José Luis Ramírez Bustamante,14225605844441088,PAID,COMPROBANTE MISMO BANCO SANTANDER,01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01

In [9]:
pagos_1.shape

(2946472, 17)

In [10]:
pagos_1['report_date_local'].unique()

array(['2022-12-01T00:00:00.000000000', '2022-11-25T00:00:00.000000000',
       '2022-11-30T00:00:00.000000000', '2022-11-29T00:00:00.000000000',
       '2022-11-27T00:00:00.000000000', '2022-11-23T00:00:00.000000000',
       '2022-07-16T00:00:00.000000000', '2022-11-13T00:00:00.000000000',
       '2022-11-26T00:00:00.000000000', '2022-11-28T00:00:00.000000000',
       '2022-11-21T00:00:00.000000000', '2022-11-20T00:00:00.000000000',
       '2022-10-02T00:00:00.000000000', '2022-11-24T00:00:00.000000000',
       '2022-11-09T00:00:00.000000000', '2022-11-19T00:00:00.000000000',
       '2022-11-22T00:00:00.000000000', '2022-10-31T00:00:00.000000000',
       '2022-10-30T00:00:00.000000000', '2022-10-29T00:00:00.000000000',
       '2022-10-28T00:00:00.000000000', '2022-10-27T00:00:00.000000000',
       '2022-09-30T00:00:00.000000000', '2022-09-29T00:00:00.000000000',
       '2022-09-28T00:00:00.000000000', '2022-09-26T00:00:00.000000000',
       '2022-09-25T00:00:00.000000000', '2022-09-24T00:00:00.000000000',
       '2022-09-23T00:00:00.000000000', '2022-09-22T00:00:00.000000000',
       '2022-09-27T00:00:00.000000000', '2022-08-30T00:00:00.000000000',
       '2022-09-15T00:00:00.000000000', '2022-08-26T00:00:00.000000000',
       '2022-06-24T00:00:00.000000000', '2022-06-23T00:00:00.000000000',
       '2022-11-18T00:00:00.000000000', '2022-11-17T00:00:00.000000000',
       '2022-11-06T00:00:00.000000000', '2022-11-12T00:00:00.000000000',
       '2022-11-15T00:00:00.000000000', '2022-11-11T00:00:00.000000000',
       '2022-11-08T00:00:00.000000000', '2022-11-16T00:00:00.000000000',
       '2022-11-14T00:00:00.000000000', '2022-11-07T00:00:00.000000000',
       '2022-10-19T00:00:00.000000000', '2022-10-18T00:00:00.000000000',
       '2022-10-17T00:00:00.000000000', '2022-10-15T00:00:00.000000000',
       '2022-10-13T00:00:00.000000000', '2022-10-26T00:00:00.000000000',
       '2022-10-24T00:00:00.000000000', '2022-10-23T00:00:00.000000000',
       '2022-10-22T00:00:00.000000000', '2022-10-21T00:00:00.000000000',
       '2022-10-20T00:00:00.000000000', '2022-11-10T00:00:00.000000000',
       '2022-11-02T00:00:00.000000000', '2022-11-01T00:00:00.000000000',
       '2022-10-14T00:00:00.000000000', '2022-10-11T00:00:00.000000000',
       '2022-10-09T00:00:00.000000000', '2022-11-05T00:00:00.000000000',
       '2022-10-06T00:00:00.000000000', '2022-09-08T00:00:00.000000000',
       '2021-10-25T00:00:00.000000000', '2022-11-03T00:00:00.000000000',
       '2022-02-16T00:00:00.000000000', '2022-08-29T00:00:00.000000000',
       '2022-08-28T00:00:00.000000000', '2022-08-23T00:00:00.000000000',
       '2022-08-21T00:00:00.000000000', '2022-08-16T00:00:00.000000000',
       '2022-08-15T00:00:00.000000000', '2022-11-04T00:00:00.000000000',
       '2022-10-25T00:00:00.000000000', '2022-10-16T00:00:00.000000000',
       '2022-07-08T00:00:00.000000000', '2022-07-06T00:00:00.000000000',
       '2022-03-31T00:00:00.000000000', '2022-03-29T00:00:00.000000000',
       '2022-02-27T00:00:00.000000000', '2022-02-26T00:00:00.000000000',
       '2022-02-25T00:00:00.000000000', '2022-02-23T00:00:00.000000000',
       '2022-02-19T00:00:00.000000000', '2022-07-10T00:00:00.000000000',
       '2022-02-15T00:00:00.000000000', '2022-02-10T00:00:00.000000000',
       '2022-02-13T00:00:00.000000000', '2022-07-17T00:00:00.000000000',
       '2022-08-02T00:00:00.000000000', '2022-08-04T00:00:00.000000000',
       '2022-08-14T00:00:00.000000000', '2022-08-13T00:00:00.000000000',
       '2022-08-07T00:00:00.000000000', '2022-08-06T00:00:00.000000000',
       '2022-08-05T00:00:00.000000000', '2022-05-29T00:00:00.000000000',
       '2022-08-27T00:00:00.000000000', '2022-05-31T00:00:00.000000000',
       '2022-10-10T00:00:00.000000000', '2022-09-21T00:00:00.000000000',
       '2022-10-03T00:00:00.000000000', '2022-09-20T00:00:00.000000000',
       '2022-09-18T00:00:00.000000000', '2022-09-17T00:00:00.000000000',
       '2022-06-28T00:00:00.000000000', '2022-09-04T00:00:00.000000000',
       '2022-10-12T00:00:00.000000000', '2022-10-07T00:00:00.000000000',
       '2022-10-05T00:00:00.000000000', '2022-10-04T00:00:00.000000000',
       '2022-10-08T00:00:00.000000000', '2022-08-03T00:00:00.000000000',
       '2021-11-25T00:00:00.000000000', '2021-11-24T00:00:00.000000000',
       '2021-11-23T00:00:00.000000000', '2021-11-22T00:00:00.000000000',
       '2021-10-29T00:00:00.000000000', '2021-11-26T00:00:00.000000000',
       '2021-11-27T00:00:00.000000000', '2021-11-28T00:00:00.000000000',
       '2021-11-29T00:00:00.000000000', '2022-07-21T00:00:00.000000000',
       '2022-07-19T00:00:00.000000000', '2022-07-18T00:00:00.000000000',
       '2022-06-26T00:00:00.000000000', '2022-06-21T00:00:00.000000000',
       '2022-02-24T00:00:00.000000000', '2022-02-22T00:00:00.000000000',
       '2022-02-21T00:00:00.000000000', '2022-02-18T00:00:00.000000000',
       '2022-01-30T00:00:00.000000000', '2022-01-28T00:00:00.000000000',
       '2022-01-27T00:00:00.000000000', '2021-11-30T00:00:00.000000000',
       '2022-09-19T00:00:00.000000000', '2022-09-13T00:00:00.000000000',
       '2022-09-11T00:00:00.000000000', '2022-09-10T00:00:00.000000000',
       '2022-09-07T00:00:00.000000000', '2022-09-06T00:00:00.000000000',
       '2022-08-20T00:00:00.000000000', '2022-08-17T00:00:00.000000000',
       '2022-08-25T00:00:00.000000000', '2022-08-24T00:00:00.000000000',
       '2022-03-30T00:00:00.000000000', '2022-03-28T00:00:00.000000000',
       '2022-03-26T00:00:00.000000000', '2022-03-25T00:00:00.000000000',
       '2022-02-28T00:00:00.000000000', '2022-01-31T00:00:00.000000000',
       '2022-01-29T00:00:00.000000000', '2022-09-05T00:00:00.000000000',
       '2022-02-12T00:00:00.000000000', '2022-04-14T00:00:00.000000000',
       '2022-08-19T00:00:00.000000000', '2022-08-18T00:00:00.000000000',
       '2022-03-11T00:00:00.000000000', '2022-06-13T00:00:00.000000000',
       '2022-12-02T00:00:00.000000000', '2022-05-27T00:00:00.000000000',
       '2022-05-24T00:00:00.000000000', '2022-09-14T00:00:00.000000000',
       '2022-07-03T00:00:00.000000000', '2022-06-01T00:00:00.000000000',
       '2022-05-21T00:00:00.000000000', '2022-05-09T00:00:00.000000000',
       '2022-04-18T00:00:00.000000000', '2022-02-09T00:00:00.000000000',
       '2022-09-02T00:00:00.000000000', '2022-08-22T00:00:00.000000000',
       '2022-08-10T00:00:00.000000000', '2022-08-08T00:00:00.000000000',
       '2022-05-20T00:00:00.000000000', '2022-05-13T00:00:00.000000000',
       '2022-05-06T00:00:00.000000000', '2022-04-24T00:00:00.000000000',
       '2022-04-21T00:00:00.000000000', '2022-04-20T00:00:00.000000000',
       '2022-04-19T00:00:00.000000000', '2022-04-13T00:00:00.000000000',
       '2022-04-12T00:00:00.000000000', '2022-04-07T00:00:00.000000000',
       '2022-05-01T00:00:00.000000000', '2021-01-31T00:00:00.000000000',
       '2021-01-30T00:00:00.000000000', '2021-11-10T00:00:00.000000000',
       '2021-07-17T00:00:00.000000000', '2021-06-25T00:00:00.000000000',
       '2022-05-30T00:00:00.000000000', '2021-02-04T00:00:00.000000000',
       '2022-04-29T00:00:00.000000000', '2022-04-22T00:00:00.000000000',
       '2022-05-08T00:00:00.000000000', '2021-02-27T00:00:00.000000000',
       '2021-02-25T00:00:00.000000000', '2021-02-22T00:00:00.000000000',
       '2019-12-04T00:00:00.000000000', '2019-09-19T00:00:00.000000000',
       '2019-09-18T00:00:00.000000000', '2019-09-11T00:00:00.000000000',
       '2022-05-26T00:00:00.000000000', '2022-08-31T00:00:00.000000000',
       '2021-11-19T00:00:00.000000000', '2021-11-17T00:00:00.000000000',
       '2021-10-26T00:00:00.000000000', '2021-08-26T00:00:00.000000000',
       '2021-08-24T00:00:00.000000000', '2021-08-22T00:00:00.000000000',
       '2021-08-21T00:00:00.000000000', '2021-07-28T00:00:00.000000000',
       '2021-07-24T00:00:00.000000000', '2021-06-30T00:00:00.000000000',
       '2021-04-24T00:00:00.000000000', '2021-01-19T00:00:00.000000000',
       '2021-12-31T00:00:00.000000000', '2021-12-25T00:00:00.000000000',
       '2021-08-27T00:00:00.000000000', '2021-08-20T00:00:00.000000000',
       '2021-08-19T00:00:00.000000000', '2021-08-18T00:00:00.000000000',
       '2021-08-16T00:00:00.000000000', '2021-08-15T00:00:00.000000000',
       '2021-07-30T00:00:00.000000000', '2021-06-29T00:00:00.000000000',
       '2021-06-28T00:00:00.000000000', '2021-06-27T00:00:00.000000000',
       '2021-05-30T00:00:00.000000000', '2021-04-30T00:00:00.000000000',
       '2021-04-29T00:00:00.000000000', '2021-04-27T00:00:00.000000000',
       '2021-04-23T00:00:00.000000000', '2021-03-31T00:00:00.000000000',
       '2021-08-28T00:00:00.000000000', '2021-08-29T00:00:00.000000000',
       '2021-08-30T00:00:00.000000000', '2021-08-31T00:00:00.000000000',
       '2021-12-30T00:00:00.000000000', '2021-12-29T00:00:00.000000000',
       '2021-11-21T00:00:00.000000000', '2021-11-20T00:00:00.000000000',
       '2021-11-16T00:00:00.000000000', '2021-10-28T00:00:00.000000000',
       '2021-10-27T00:00:00.000000000', '2021-12-24T00:00:00.000000000',
       '2021-12-23T00:00:00.000000000', '2021-12-11T00:00:00.000000000',
       '2022-09-01T00:00:00.000000000', '2021-10-30T00:00:00.000000000',
       '2021-02-20T00:00:00.000000000', '2022-04-27T00:00:00.000000000',
       '2022-04-30T00:00:00.000000000', '2021-09-29T00:00:00.000000000',
       '2021-09-24T00:00:00.000000000', '2021-09-22T00:00:00.000000000',
       '2021-09-19T00:00:00.000000000', '2021-09-07T00:00:00.000000000',
       '2022-12-03T00:00:00.000000000', '2021-11-18T00:00:00.000000000',
       '2022-05-04T00:00:00.000000000', '2022-05-18T00:00:00.000000000',
       '2022-07-24T00:00:00.000000000', '2022-03-06T00:00:00.000000000',
       '2022-03-02T00:00:00.000000000', '2022-01-04T00:00:00.000000000',
       '2022-12-04T00:00:00.000000000', '2020-12-19T00:00:00.000000000',
       '2022-06-17T00:00:00.000000000', '2022-04-01T00:00:00.000000000',
       '2022-12-05T00:00:00.000000000', '2022-02-11T00:00:00.000000000',
       '2021-10-22T00:00:00.000000000', '2021-10-20T00:00:00.000000000',
       '2020-04-29T00:00:00.000000000', '2022-10-01T00:00:00.000000000',
       '2021-12-07T00:00:00.000000000', '2021-09-09T00:00:00.000000000',
       '2022-03-12T00:00:00.000000000', '2022-06-16T00:00:00.000000000',
       '2022-06-18T00:00:00.000000000', '2022-06-19T00:00:00.000000000',
       '2022-06-30T00:00:00.000000000', '2022-06-29T00:00:00.000000000',
       '2022-12-06T00:00:00.000000000', '2022-07-31T00:00:00.000000000',
       '2022-05-25T00:00:00.000000000', '2022-09-09T00:00:00.000000000',
       '2019-11-20T00:00:00.000000000', '2022-07-02T00:00:00.000000000',
       '2022-06-22T00:00:00.000000000', '2022-05-02T00:00:00.000000000',
       '2022-04-25T00:00:00.000000000', '2022-06-12T00:00:00.000000000',
       '2022-05-15T00:00:00.000000000', '2022-05-10T00:00:00.000000000',
       '2022-09-16T00:00:00.000000000', '2022-04-23T00:00:00.000000000',
       '2022-04-09T00:00:00.000000000', '2022-07-28T00:00:00.000000000',
       '2022-09-12T00:00:00.000000000', '2022-09-03T00:00:00.000000000',
       '2022-03-17T00:00:00.000000000', '2020-07-25T00:00:00.000000000',
       '2021-12-28T00:00:00.000000000', '2021-02-21T00:00:00.000000000',
       '2022-07-27T00:00:00.000000000', '2022-07-25T00:00:00.000000000',
       '2022-12-07T00:00:00.000000000', '2022-08-11T00:00:00.000000000',
       '2022-08-09T00:00:00.000000000', '2022-07-30T00:00:00.000000000',
       '2022-03-14T00:00:00.000000000', '2022-03-22T00:00:00.000000000',
       '2022-03-21T00:00:00.000000000', '2022-05-22T00:00:00.000000000',
       '2022-05-17T00:00:00.000000000', '2022-05-12T00:00:00.000000000',
       '2022-06-02T00:00:00.000000000', '2022-06-05T00:00:00.000000000',
       '2022-06-09T00:00:00.000000000', '2022-07-26T00:00:00.000000000',
       '2022-07-05T00:00:00.000000000', '2022-07-07T00:00:00.000000000',
       '2021-09-10T00:00:00.000000000', '2020-08-05T00:00:00.000000000',
       '2022-07-09T00:00:00.000000000', '2021-06-12T00:00:00.000000000',
       '2018-12-31T00:00:00.000000000', '2022-06-06T00:00:00.000000000',
       '2022-12-08T00:00:00.000000000', '2020-04-27T00:00:00.000000000',
       '2020-05-05T00:00:00.000000000', '2022-03-05T00:00:00.000000000',
       '2021-02-26T00:00:00.000000000', '2021-02-23T00:00:00.000000000',
       '2021-02-05T00:00:00.000000000', '2021-02-02T00:00:00.000000000',
       '2020-04-30T00:00:00.000000000', '2020-09-05T00:00:00.000000000',
       '2020-05-18T00:00:00.000000000', '2020-05-15T00:00:00.000000000',
       '2020-05-14T00:00:00.000000000', '2020-05-13T00:00:00.000000000',
       '2020-05-12T00:00:00.000000000', '2020-05-11T00:00:00.000000000',
       '2020-05-08T00:00:00.000000000', '2020-05-07T00:00:00.000000000',
       '2020-05-06T00:00:00.000000000', '2020-05-19T00:00:00.000000000',
       '2022-02-20T00:00:00.000000000', '2021-12-09T00:00:00.000000000',
       '2021-10-23T00:00:00.000000000', '2021-10-17T00:00:00.000000000',
       '2021-10-15T00:00:00.000000000', '2022-01-01T00:00:00.000000000',
       '2022-07-15T00:00:00.000000000', '2022-06-15T00:00:00.000000000',
       '2022-07-14T00:00:00.000000000', '2022-07-13T00:00:00.000000000',
       '2022-07-12T00:00:00.000000000', '2022-07-11T00:00:00.000000000',
       '2022-06-27T00:00:00.000000000', '2022-06-25T00:00:00.000000000',
       '2022-06-20T00:00:00.000000000', '2022-07-04T00:00:00.000000000',
       '2022-08-01T00:00:00.000000000', '2022-08-12T00:00:00.000000000',
       '2022-07-29T00:00:00.000000000', '2022-07-22T00:00:00.000000000',
       '2022-07-20T00:00:00.000000000', '2022-07-01T00:00:00.000000000',
       '2022-07-23T00:00:00.000000000', '2022-06-08T00:00:00.000000000',
       '2022-06-07T00:00:00.000000000', '2022-03-08T00:00:00.000000000',
       '2022-03-01T00:00:00.000000000', '2022-02-04T00:00:00.000000000',
       '2022-02-03T00:00:00.000000000', '2022-01-25T00:00:00.000000000',
       '2022-01-20T00:00:00.000000000', '2022-01-19T00:00:00.000000000',
       '2022-01-18T00:00:00.000000000', '2022-02-02T00:00:00.000000000',
       '2022-03-13T00:00:00.000000000', '2022-05-14T00:00:00.000000000',
       '2022-05-07T00:00:00.000000000', '2022-05-05T00:00:00.000000000',
       '2022-03-15T00:00:00.000000000', '2022-04-15T00:00:00.000000000',
       '2022-04-02T00:00:00.000000000', '2022-03-27T00:00:00.000000000',
       '2022-03-18T00:00:00.000000000', '2022-04-28T00:00:00.000000000',
       '2022-12-09T00:00:00.000000000', '2021-11-12T00:00:00.000000000',
       '2021-10-19T00:00:00.000000000', '2021-10-14T00:00:00.000000000',
       '2022-12-10T00:00:00.000000000', '2022-06-11T00:00:00.000000000',
       '2022-02-01T00:00:00.000000000', '2021-12-16T00:00:00.000000000',
       '2021-11-06T00:00:00.000000000', '2021-11-02T00:00:00.000000000',
       '2021-09-27T00:00:00.000000000', '2022-01-14T00:00:00.000000000',
       '2021-12-12T00:00:00.000000000', '2022-03-20T00:00:00.000000000',
       '2022-12-11T00:00:00.000000000', '2020-02-13T00:00:00.000000000',
       '2022-06-03T00:00:00.000000000', '2022-06-10T00:00:00.000000000',
       '2021-02-24T00:00:00.000000000', '2022-06-04T00:00:00.000000000',
       '2022-12-12T00:00:00.000000000', '2021-12-10T00:00:00.000000000',
       '2022-01-06T00:00:00.000000000', '2022-12-13T00:00:00.000000000',
       '2022-03-16T00:00:00.000000000', '2021-11-13T00:00:00.000000000',
       '2021-11-04T00:00:00.000000000', '2022-06-14T00:00:00.000000000',
       '2021-12-04T00:00:00.000000000', '2021-12-26T00:00:00.000000000',
       '2022-12-14T00:00:00.000000000', '2021-12-15T00:00:00.000000000',
       '2021-09-17T00:00:00.000000000', '2022-04-17T00:00:00.000000000',
       '2022-05-23T00:00:00.000000000', '2022-03-19T00:00:00.000000000',
       '2022-12-15T00:00:00.000000000', '2021-12-22T00:00:00.000000000',
       '2021-12-08T00:00:00.000000000', '2022-03-24T00:00:00.000000000',
       '2022-01-24T00:00:00.000000000', '2022-12-16T00:00:00.000000000',
       '2019-10-09T00:00:00.000000000', '2022-02-17T00:00:00.000000000',
       '2021-10-24T00:00:00.000000000', '2021-01-18T00:00:00.000000000',
       '2022-12-17T00:00:00.000000000', '2022-05-28T00:00:00.000000000',
       '2021-08-10T00:00:00.000000000', '2021-08-12T00:00:00.000000000',
       '2022-01-07T00:00:00.000000000', '2021-08-11T00:00:00.000000000',
       '2022-01-26T00:00:00.000000000', '2021-04-16T00:00:00.000000000',
       '2019-11-25T00:00:00.000000000', '2022-01-15T00:00:00.000000000',
       '2022-12-18T00:00:00.000000000', '2021-12-17T00:00:00.000000000',
       '2021-10-07T00:00:00.000000000', '2021-10-06T00:00:00.000000000',
       '2021-10-03T00:00:00.000000000', '2021-10-01T00:00:00.000000000',
       '2021-09-26T00:00:00.000000000', '2021-09-23T00:00:00.000000000',
       '2021-09-18T00:00:00.000000000', '2021-09-15T00:00:00.000000000',
       '2021-09-14T00:00:00.000000000', '2021-09-12T00:00:00.000000000',
       '2021-10-08T00:00:00.000000000', '2021-10-09T00:00:00.000000000',
       '2021-10-12T00:00:00.000000000', '2022-03-09T00:00:00.000000000',
       '2022-03-03T00:00:00.000000000', '2022-02-05T00:00:00.000000000',
       '2022-01-23T00:00:00.000000000', '2022-01-22T00:00:00.000000000',
       '2022-01-21T00:00:00.000000000', '2022-01-13T00:00:00.000000000',
       '2022-05-19T00:00:00.000000000', '2022-05-11T00:00:00.000000000',
       '2022-05-03T00:00:00.000000000', '2022-01-09T00:00:00.000000000',
       '2021-10-10T00:00:00.000000000', '2022-01-08T00:00:00.000000000',
       '2021-11-14T00:00:00.000000000', '2021-11-11T00:00:00.000000000',
       '2021-11-09T00:00:00.000000000', '2021-11-05T00:00:00.000000000',
       '2021-10-31T00:00:00.000000000', '2021-10-21T00:00:00.000000000',
       '2021-10-13T00:00:00.000000000', '2021-12-27T00:00:00.000000000',
       '2021-12-21T00:00:00.000000000', '2021-12-19T00:00:00.000000000',
       '2021-12-18T00:00:00.000000000', '2021-12-13T00:00:00.000000000',
       '2021-12-06T00:00:00.000000000', '2021-12-05T00:00:00.000000000',
       '2021-12-03T00:00:00.000000000', '2021-12-02T00:00:00.000000000',
       '2022-12-19T00:00:00.000000000', '2019-09-03T00:00:00.000000000',
       '2022-12-20T00:00:00.000000000', '2017-12-21T00:00:00.000000000',
       '2022-04-10T00:00:00.000000000', '2017-11-22T00:00:00.000000000',
       '2022-12-21T00:00:00.000000000', '2020-07-28T00:00:00.000000000',
       '2022-12-22T00:00:00.000000000', '2021-12-14T00:00:00.000000000',
       '2022-02-08T00:00:00.000000000', '2022-04-06T00:00:00.000000000',
       '2022-12-23T00:00:00.000000000', '2017-07-12T00:00:00.000000000',
       '2021-09-08T00:00:00.000000000', '2022-04-04T00:00:00.000000000',
       '2018-11-09T00:00:00.000000000', '2018-10-29T00:00:00.000000000',
       '2022-12-24T00:00:00.000000000', '2021-08-07T00:00:00.000000000',
       '2020-08-01T00:00:00.000000000', '2021-12-20T00:00:00.000000000',
       '2022-12-25T00:00:00.000000000', '2022-12-26T00:00:00.000000000',
       '2021-02-15T00:00:00.000000000', '2022-01-17T00:00:00.000000000',
       '2022-01-10T00:00:00.000000000', '2022-01-03T00:00:00.000000000',
       '2022-02-07T00:00:00.000000000', '2021-11-15T00:00:00.000000000',
       '2022-02-14T00:00:00.000000000', '2022-05-16T00:00:00.000000000',
       '2022-04-11T00:00:00.000000000', '2022-03-07T00:00:00.000000000',
       '2022-12-27T00:00:00.000000000', '2022-12-28T00:00:00.000000000',
       '2022-12-29T00:00:00.000000000', '2021-05-26T00:00:00.000000000',
       '2021-05-17T00:00:00.000000000', '2021-09-21T00:00:00.000000000',
       '2022-12-30T00:00:00.000000000', '2021-09-25T00:00:00.000000000',
       '2021-01-04T00:00:00.000000000', '2022-04-26T00:00:00.000000000',
       '2022-12-31T00:00:00.000000000', '2019-04-25T00:00:00.000000000'],
      dtype='datetime64[ns]')

#### PAGOS DUPLICADOS TRADICIONAL

In [11]:
duplicates_trad = pagos_1[pagos_1.duplicated(['report_id','date_file'] , keep=False)]
duplicates_trad['INDEX'] = duplicates_trad['report_id'] + '_' + duplicates_trad['date_file'].astype('str')
duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)
duplicates_trad.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_1864\1112391532.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad['INDEX'] = duplicates_trad['report_id'] + '_' + duplicates_trad['date_file'].astype('str')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_1864\1112391532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.sort_values(by=['date_file','report_id'],inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
246,DAILY,0bb27338-a5ec-4aca-88bc-620629137c2f,MERCADO SOBRE RUEDAS,my.etpv@gmail.com,L29P4M75Q,2022-12-01,569.20,Pago del día,COMPARTAMOS,JAIME HERRERA TORRES,130180001685885028,ERROR,NaN,03. Third_batch,BANORTE,Dispersión-20221201.xlsx,2022-12-01,L29P4M75Q_2022-12-01
10,DAILY,0bb27338-a5ec-4aca-88bc-620629137c2f,MERCADO SOBRE RUEDAS,my.etpv@gmail.com,L29P4M75Q,2022-12-01,569.20,Pago del día,COMPARTAMOS,JAIME HERRERA TORRES,130180001685885028,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,L29P4M75Q_2022-12-01
245,DAILY,0bb27338-a5ec-4aca-88bc-620629137c2f,MERCADO SOBRE RUEDAS,my.etpv@gmail.com,QCHNBVDJW,2022-11-27,"3,190.93",Reprogramación,COMPARTAMOS,JAIME HERRERA TORRES,130180001685885028,ERROR,NaN,03. Third_batch,BANORTE,Dispersión-20221201.xlsx,2022-12-01,QCHNBVDJW_2022-12-01
9,DAILY,0bb27338-a5ec-4aca-88bc-620629137c2f,MERCADO SOBRE RUEDAS,my.etpv@gmail.com,QCHNBVDJW,2022-11-27,"3,190.93",Reprogramación,COMPARTAMOS,JAIME HERRERA TORRES,130180001685885028,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,QCHNBVDJW_2022-12-01
244,DAILY,0bb27338-a5ec-4aca-88bc-620629137c2f,MERCADO SOBRE RUEDAS,my.etpv@gmail.com,RS6CR2Y5R,2022-11-26,868.16,Reprogramación,COMPARTAMOS,JAIME HERRERA TORRES,130180001685885028,ERROR,NaN,03. Third_batch,BANORTE,Dispersión-20221201.xlsx,2022-12-01,RS6CR2Y5R_2022-12-01

In [12]:
duplicates_trad.shape

(80, 18)

In [13]:
duplicates_trad['status'].unique()

array(['ERROR', 'PAID'], dtype=object)

In [14]:
duplicates_trad.drop_duplicates(subset="INDEX", keep='last', inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_1864\494774456.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_trad.drop_duplicates(subset="INDEX", keep='last', inplace=True)

In [15]:
duplicates_trad.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
10,DAILY,0bb27338-a5ec-4aca-88bc-620629137c2f,MERCADO SOBRE RUEDAS,my.etpv@gmail.com,L29P4M75Q,2022-12-01,569.20,Pago del día,COMPARTAMOS,JAIME HERRERA TORRES,130180001685885028,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,L29P4M75Q_2022-12-01
9,DAILY,0bb27338-a5ec-4aca-88bc-620629137c2f,MERCADO SOBRE RUEDAS,my.etpv@gmail.com,QCHNBVDJW,2022-11-27,"3,190.93",Reprogramación,COMPARTAMOS,JAIME HERRERA TORRES,130180001685885028,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,QCHNBVDJW_2022-12-01
8,DAILY,0bb27338-a5ec-4aca-88bc-620629137c2f,MERCADO SOBRE RUEDAS,my.etpv@gmail.com,RS6CR2Y5R,2022-11-26,868.16,Reprogramación,COMPARTAMOS,JAIME HERRERA TORRES,130180001685885028,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,RS6CR2Y5R_2022-12-01
23607,DAILY,4e6eebc9-26d6-4258-b581-c72497d3c5d1,CP Studio y Extensiones,antonioalfredoperez47@gmail.com,CF56JMVD9,2022-11-27,"7,365.12",Reprogramación,BANREGIO,Can Alfredo Perez Pozos,58580417880100188,PAID,"2022-12-05,2022120540014 HDH0001493525620,4001...",01. First_batch,SANTANDER,Dispersión-20221205.xlsx,2022-12-05,CF56JMVD9_2022-12-05
122,DAILY,361cd288-b1a2-43cb-b2a2-b665b5be6547,ABC DEL DISFRAZ,militzaesquivel@gmail.com,MWG5H9DNZ,2022-12-05,"3,856.97",Pago del día,COMPARTAMOS,Ruth Esther Esquivel Ham,130691001436271202,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-20221205.xlsx,2022-12-05,MWG5H9DNZ_2022-12-05

In [16]:
duplicates_trad.shape

(40, 18)

In [17]:
pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_trad.reset_index(drop=False, inplace=True)
pivot_duplicates_trad.head(10)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_1864\739626261.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_1864\739626261.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_trad = pd.pivot_table(duplicates_trad,index=['tipo','date_file'],

             tipo  date_file       sum       len
                             total_due total_due
0    Pago del día 2022-12-01    569.20         1
1    Pago del día 2022-12-05  3,856.97         1
2    Pago del día 2022-12-12  1,172.41         2
3    Pago del día 2022-12-15     62.29         1
4    Pago del día 2022-12-21    594.11         3
5    Pago del día 2022-12-22 22,789.79         4
6    Pago del día 2022-12-28 36,563.47         2
7  Reprogramación 2022-12-01  4,059.09         2
8  Reprogramación 2022-12-05  7,365.12         1
9  Reprogramación 2022-12-09 12,056.92         2

In [18]:
pivot_duplicates_trad.shape

(17, 4)

#### FAST PAYMENTS

In [19]:
fp_files_1 = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2022\12. DICIEMBRE\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx', recursive=False)
fp_files_1

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-30.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2022\\12. DICIEMBRE\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2022-12-31.xlsx']

In [20]:
pagos_2 = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS').assign(file_name=os.path.basename(f)) for f in fp_files_1])
pagos_2['date_file'] = pagos_2["file_name"].str[-15:-4]
pagos_2['date_file']= pd.to_datetime(pagos_2['date_file']) 
pagos_2.sort_values(by=['date_file'],ascending=True,inplace=True)
pagos_2['report_date_local']= pd.to_datetime(pagos_2['report_date_local']) 
pagos_2.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file
0,INSTANT,2d1a4d88-8896-459d-bc57-bfdb14aa44d9,Serafina,Ebnerpalacios@gmail.com,Z8G5VFKTP,2022-11-30,148.53,Reprogramación,ASP INTEGRA OPC,Ebner Osbaldo Palacios Herrera,659802020000363732,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-FP 2022-12-01.xlsx,2022-12-01
3158,INSTANT,f060a9dd-cb26-454b-9556-c8c70e6098fb,El Mandamas,eliizabethszyslak@gmail.com,SH3TLYNVM,2022-12-01,29.70,Pago del día,STP,Mario Alberto Guzman Hernandez,646180137003412088,PAID,"2022-12-01,2022120140014 HDH0001431461870,4001...",04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-01.xlsx,2022-12-01
3157,INSTANT,f047f5c1-f8cb-47c8-893c-80b6fe107846,Farmacia Bien Estar,franciscomiguelnava@gmail.com,4JFVTGYS3,2022-12-01,287.47,Pago del día,ASP INTEGRA OPC,Viridiana Guadalupe Sanchez Flores,659802020000328120,PAID,"2022-12-01,2022120140014 HDH0001431461760,4001...",04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-01.xlsx,2022-12-01
3156,INSTANT,f01c87dd-f0ac-47de-9f81-f951b5d37d96,Abarrotes El Fantasma,guty.bta.dela.cruz@gmail.com,98B78Q33P,2022-12-01,17.51,Pago del día,ASP INTEGRA OPC,Agustin Bautista De La Cruz,659802020000066576,PAID,"2022-12-01,2022120140014 HDH0001431461700,4001...",04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-01.xlsx,2022-12-01
3155,INSTANT,efd6e73e-82dd-4326-b187-38d0e44b55ee,SmileDent,angelinajbp@outlook.com,VNRC2VK97,2022-12-01,"1,676.92",Pago del día,ASP INTEGRA OPC,Brenda Ortega Fabela,659802020000372668,PAID,"2022-12-01,2022120140014 HDH0001431461610,4001...",04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-01.xlsx,2022-12-01

In [21]:
pagos_2.shape

(118461, 17)

#### PAGOS REPETIDOS FAST PAYMENTS

In [22]:
duplicates_fp = pagos_2[pagos_2.duplicated(['report_id','date_file'] , keep=False)]
duplicates_fp['INDEX'] = duplicates_fp['report_id'] + '_' + duplicates_fp['date_file'].astype('str')
duplicates_fp.sort_values(by=['date_file','report_id','Batch_time'],inplace=True)
duplicates_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_1864\3928666323.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp['INDEX'] = duplicates_fp['report_id'] + '_' + duplicates_fp['date_file'].astype('str')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_1864\3928666323.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.sort_values(by=['date_file','report_id','Batch_time'],inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
1203,INSTANT,7dd978fd-7de6-4d65-adf2-1071d126f650,EGO Dental,egocdental@gmail.com,24BN23P4L,2022-12-06,958.24,Pago del día,ASP INTEGRA OPC,Alejandra Elena Gómez Ortíz,659802020000138491,PAID,"2022-12-06,2022120640014 HDH0001432645990,4001...",03. Third_batch,SANTANDER,Dispersión-FP 2022-12-06.xlsx,2022-12-06,24BN23P4L_2022-12-06
2052,INSTANT,7dd978fd-7de6-4d65-adf2-1071d126f650,EGO Dental,egocdental@gmail.com,24BN23P4L,2022-12-06,958.24,Pago del día,ASP INTEGRA OPC,Alejandra Elena Gómez Ortíz,659802020000138491,PAID,"2022-12-06,2022120640014 HDH0001432645990,4001...",04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-06.xlsx,2022-12-06,24BN23P4L_2022-12-06
1196,INSTANT,799bdd93-40c7-4999-90b0-494f1bdd087f,Mr Ranch Factory,alonso.mrranchfactory@gmail.com,282PVQZZN,2022-12-06,19.16,Pago del día,ASP INTEGRA OPC,Rene Alonso Moreno Mac Donald,659802020000266075,PAID,"2022-12-06,2022120640014 HDH0001432645270,4001...",03. Third_batch,SANTANDER,Dispersión-FP 2022-12-06.xlsx,2022-12-06,282PVQZZN_2022-12-06
2040,INSTANT,799bdd93-40c7-4999-90b0-494f1bdd087f,Mr Ranch Factory,alonso.mrranchfactory@gmail.com,282PVQZZN,2022-12-06,19.16,Pago del día,ASP INTEGRA OPC,Rene Alonso Moreno Mac Donald,659802020000266075,PAID,"2022-12-06,2022120640014 HDH0001432645270,4001...",04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-06.xlsx,2022-12-06,282PVQZZN_2022-12-06
1228,INSTANT,8b75c1f4-c271-4824-b92c-3541ec5620e7,Herbolaria en microdosis,mirlo1605@gmail.com,297KK49DS,2022-12-06,287.47,Pago del día,ASP INTEGRA OPC,Mirna Lopez Salavirria,659802020000275419,PAID,"2022-12-06,2022120640014 HDH0001432647870,4001...",03. Third_batch,SANTANDER,Dispersión-FP 2022-12-06.xlsx,2022-12-06,297KK49DS_2022-12-06

In [23]:
duplicates_fp.shape

(1014, 18)

In [24]:
duplicates_fp.drop_duplicates(subset="INDEX", keep='last', inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_1864\2218390481.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_fp.drop_duplicates(subset="INDEX", keep='last', inplace=True)

In [25]:
duplicates_fp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,INDEX
2052,INSTANT,7dd978fd-7de6-4d65-adf2-1071d126f650,EGO Dental,egocdental@gmail.com,24BN23P4L,2022-12-06,958.24,Pago del día,ASP INTEGRA OPC,Alejandra Elena Gómez Ortíz,659802020000138491,PAID,"2022-12-06,2022120640014 HDH0001432645990,4001...",04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-06.xlsx,2022-12-06,24BN23P4L_2022-12-06
2040,INSTANT,799bdd93-40c7-4999-90b0-494f1bdd087f,Mr Ranch Factory,alonso.mrranchfactory@gmail.com,282PVQZZN,2022-12-06,19.16,Pago del día,ASP INTEGRA OPC,Rene Alonso Moreno Mac Donald,659802020000266075,PAID,"2022-12-06,2022120640014 HDH0001432645270,4001...",04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-06.xlsx,2022-12-06,282PVQZZN_2022-12-06
2100,INSTANT,8b75c1f4-c271-4824-b92c-3541ec5620e7,Herbolaria en microdosis,mirlo1605@gmail.com,297KK49DS,2022-12-06,287.47,Pago del día,ASP INTEGRA OPC,Mirna Lopez Salavirria,659802020000275419,PAID,"2022-12-06,2022120640014 HDH0001432647870,4001...",04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-06.xlsx,2022-12-06,297KK49DS_2022-12-06
1573,INSTANT,19c62a9d-02a9-4372-a256-46b385f8ba19,Taqueria La Reyna,siberiajoel01@gmail.com,2BSG62X3K,2022-12-06,445.58,Pago del día,ASP INTEGRA OPC,Joel Almendarez Rodriguez,659802020000353085,PAID,"2022-12-06,2022120640014 HDH0001432620590,4001...",04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-06.xlsx,2022-12-06,2BSG62X3K_2022-12-06
2450,INSTANT,e113ed14-e865-46e2-b99e-87ffacd96dad,Pharmaterra Minas,cedillogloria@gmail.com,2F8LQ2ZVQ,2022-12-06,288.85,Pago del día,ASP INTEGRA OPC,Gloria Jade Cedillo Portillo,659802020000431473,PAID,"2022-12-06,2022120640014 HDH0001432662820,4001...",04. Fourth_batch,SANTANDER,Dispersión-FP 2022-12-06.xlsx,2022-12-06,2F8LQ2ZVQ_2022-12-06

In [26]:
duplicates_fp.shape

(507, 18)

In [27]:
pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_duplicates_fp.reset_index(drop=False, inplace=True)
pivot_duplicates_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_1864\3187082303.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_1864\3187082303.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_duplicates_fp = pd.pivot_table(duplicates_fp,index=['tipo','date_file'],

             tipo  date_file        sum       len
                              total_due total_due
0    Pago del día 2022-12-06 336,696.77       505
1    Pago del día 2022-12-27  24,914.24         1
2  Reprogramación 2022-12-15  10,673.64         1
3             All        NaT 372,284.65       507

In [28]:
pivot_duplicates_fp.shape

(4, 4)

In [29]:
# pivot_duplicates_fp.to_excel('DUPLICADOS FP JUNIO 2021.xlsx',index=True)

#### ALL PAGOS

In [30]:
allpagos = pd.concat([pagos_1,pagos_2])
allpagos.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
0,DAILY,00630937-891f-4c05-9ede-7439019ece35,monica meza valencia,elpalaciodemoni2022@gmail.com,SWW9GY7W9,2022-12-01,799.18,Pago del día,SANTANDER,monica Meza valencia,14320606059198428,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,NaN
66445,DAILY,b36501b7-9ec1-4181-9a73-ada23f900b15,Italika Pachuca,italikapachuca@hotmail.com,TH883D49D,2022-12-01,"1,625.17",Pago del día,BBVA BANCOMER,Arturo Amador Arellano,12290015476908079,PAID,"2022-12-01,2022120140014 HDH0001421716440,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,NaN
66444,DAILY,b364d20b-f84d-4812-a086-00d23dd197ad,Abarrotes Uribe,clau.yayasa196511@gmail.com,ZLDWNBJML,2022-12-01,97.66,Pago del día,BANREGIO,Diego Alejandro Pacheco Uribe,58597000024229474,PAID,"2022-12-01,2022120140014 HDH0001421716400,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,NaN
66443,DAILY,b36489df-7152-4a47-86e3-2cb888f62551,Pizzas Pablo,rufinasilvapablo@gmail.com,YPHZR686Y,2022-12-01,253.93,Pago del día,AZTECA,Rufina Silva Pablo,127180013301776292,PAID,"2022-12-01,2022120140014 HDH0001421716410,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,NaN
66442,DAILY,b3643ee4-b52b-4605-a4eb-90123de15e39,Néctar Cafetería,anamaganao@outlook.com,77M9Y7MZ9,2022-12-01,605.60,Pago del día,SANTANDER,José Luis Ramírez Bustamante,14225605844441088,PAID,COMPROBANTE MISMO BANCO SANTANDER,01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,NaN

In [31]:
allpagos.shape

(3064933, 18)

In [32]:
allpagos['tipo'].unique()

array(['Pago del día', 'Reprogramación'], dtype=object)

In [33]:
group_allpagos = allpagos.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_allpagos.head()

   date_file      total_due  report_id
0 2022-12-01 210,652,061.46     104389
1 2022-12-02 222,617,493.78     109057
2 2022-12-03 239,796,297.09     111316
3 2022-12-04 260,620,008.31     110071
4 2022-12-05 189,239,921.37      80324

In [34]:
group_allpagos.shape

(31, 3)

#### PAGOS DEL DIA

In [35]:
pagosdia = allpagos[(allpagos['tipo'].isin(['Pago del día']))]
pagosdia.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
0,DAILY,00630937-891f-4c05-9ede-7439019ece35,monica meza valencia,elpalaciodemoni2022@gmail.com,SWW9GY7W9,2022-12-01,799.18,Pago del día,SANTANDER,monica Meza valencia,14320606059198428,ERROR,NaN,01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,NaN
66445,DAILY,b36501b7-9ec1-4181-9a73-ada23f900b15,Italika Pachuca,italikapachuca@hotmail.com,TH883D49D,2022-12-01,"1,625.17",Pago del día,BBVA BANCOMER,Arturo Amador Arellano,12290015476908079,PAID,"2022-12-01,2022120140014 HDH0001421716440,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,NaN
66444,DAILY,b364d20b-f84d-4812-a086-00d23dd197ad,Abarrotes Uribe,clau.yayasa196511@gmail.com,ZLDWNBJML,2022-12-01,97.66,Pago del día,BANREGIO,Diego Alejandro Pacheco Uribe,58597000024229474,PAID,"2022-12-01,2022120140014 HDH0001421716400,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,NaN
66443,DAILY,b36489df-7152-4a47-86e3-2cb888f62551,Pizzas Pablo,rufinasilvapablo@gmail.com,YPHZR686Y,2022-12-01,253.93,Pago del día,AZTECA,Rufina Silva Pablo,127180013301776292,PAID,"2022-12-01,2022120140014 HDH0001421716410,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,NaN
66442,DAILY,b3643ee4-b52b-4605-a4eb-90123de15e39,Néctar Cafetería,anamaganao@outlook.com,77M9Y7MZ9,2022-12-01,605.60,Pago del día,SANTANDER,José Luis Ramírez Bustamante,14225605844441088,PAID,COMPROBANTE MISMO BANCO SANTANDER,01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,NaN

In [36]:
pagosdia.shape

(3047041, 18)

In [37]:
group_dia = pagosdia.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_dia.head()

   date_file      total_due  report_id
0 2022-12-01 207,290,518.57     102075
1 2022-12-02 220,295,113.21     107379
2 2022-12-03 238,326,019.96     110454
3 2022-12-04 260,075,492.30     109780
4 2022-12-05 188,470,406.16      79870

In [38]:
group_dia.shape

(31, 3)

# PRIMER MATCH (SETTLED VS PAGOS DEL DIA)

In [39]:
check_1 = cum_1.merge(pagosdia[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_1['total_due_y'].fillna('NO ENCONTRADO')
check_1['tipo'].fillna('NO ENCONTRADO',inplace=True)
check_1['file_name_y'].fillna('NO ENCONTRADO',inplace=True)
# check_1.fillna({'total_due_y':'NO ENCONTRADO', 'tipo':'NO ENCONTRADO', 'file_name_y':'NO ENCONTRADO'}, inplace=True)
check_1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_due_x,type,created_date,created_time,updated_date,updated_time,file_name_x,total_due_y,tipo,file_name_y
0,1b103437-7cd3-4774-817f-d68bfc6ebb05,FRUTAS Y VERDURAS DE LA ESQUINA,juanluis1890@icloud.com,Y46DFXQNS,2022-12-01,155.65,5.61,0.90,0.00,0.00,...,149.14,DAILY,2022-12-01,02:00:30,2022-12-01,02:00:30,SETTLEMENT 2022-12-01.csv,149.14,Pago del día,Dispersión-20221201.xlsx
1,682fa1f6-5459-420e-8f2a-ad3f52306ef6,CONSULTORIO,katun7@gmail.com,57MPWP22S,2022-12-01,"1,400.00",50.40,8.06,0.00,0.00,...,"1,341.54",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,"1,341.54",Pago del día,Dispersión-20221201.xlsx
2,b753f531-bf73-421d-9b78-8b50491dbe14,TAXI ACUATICO,luismiguelgonzalezvirgen4@gmail.com,97RHCS4Y8,2022-12-01,"1,500.00",54.00,8.64,0.00,0.00,...,"1,437.36",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,"1,437.36",Pago del día,Dispersión-20221201.xlsx
3,d8bc09a9-52e8-4160-994c-8e302b3c52a2,TUCANDELABAR,Jai-mehdez@hotmail.com,DL8PLM5JB,2022-12-01,"4,509.00",162.32,25.97,0.00,0.00,...,"4,320.71",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,"4,320.71",Pago del día,Dispersión-20221201.xlsx
4,b5e67fd0-9cf2-4cb3-9e91-e7cd51242f3a,LES AMIGOS,les3amigosplayadelcarmen@gmail.com,HWVC6WN8F,2022-12-01,"1,943.00",69.95,11.19,0.00,0.00,...,"1,861.86",DAILY,2022-12-01,02:00:31,2022-12-01,02:00:31,SETTLEMENT 2022-12-01.csv,"1,861.86",Pago del día,Dispersión-20221201.xlsx

In [40]:
check_1['file_name_y'].unique()

array(['Dispersión-20221201.xlsx', 'NO ENCONTRADO',
       'Dispersión-FP 2022-12-01.xlsx', 'Dispersión-20221202.xlsx',
       'Dispersión-FP 2022-12-02.xlsx', 'Dispersión-20221203.xlsx',
       'Dispersión-FP 2022-12-03.xlsx', 'Dispersión-20221204.xlsx',
       'Dispersión-FP 2022-12-04.xlsx', 'Dispersión-20221205.xlsx',
       'Dispersión-FP 2022-12-05.xlsx', 'Dispersión-20221206.xlsx',
       'Dispersión-FP 2022-12-06.xlsx', 'Dispersión-20221207.xlsx',
       'Dispersión-FP 2022-12-07.xlsx', 'Dispersión-20221208.xlsx',
       'Dispersión-FP 2022-12-08.xlsx', 'Dispersión-20221209.xlsx',
       'Dispersión-FP 2022-12-09.xlsx', 'Dispersión-20221210.xlsx',
       'Dispersión-FP 2022-12-10.xlsx', 'Dispersión-20221211.xlsx',
       'Dispersión-FP 2022-12-11.xlsx', 'Dispersión-20221212.xlsx',
       'Dispersión-FP 2022-12-12.xlsx', 'Dispersión-20221213.xlsx',
       'Dispersión-FP 2022-12-13.xlsx', 'Dispersión-20221214.xlsx',
       'Dispersión-FP 2022-12-14.xlsx', 'Dispersión-20221215.xlsx',
       'Dispersión-FP 2022-12-15.xlsx', 'Dispersión-20221216.xlsx',
       'Dispersión-FP 2022-12-16.xlsx', 'Dispersión-20221217.xlsx',
       'Dispersión-FP 2022-12-17.xlsx', 'Dispersión-20221218.xlsx',
       'Dispersión-FP 2022-12-18.xlsx', 'Dispersión-20221219.xlsx',
       'Dispersión-FP 2022-12-19.xlsx', 'Dispersión-20221220.xlsx',
       'Dispersión-FP 2022-12-20.xlsx', 'Dispersión-20221221.xlsx',
       'Dispersión-FP 2022-12-21.xlsx', 'Dispersión-20221222.xlsx',
       'Dispersión-FP 2022-12-22.xlsx', 'Dispersión-20221223.xlsx',
       'Dispersión-FP 2022-12-23.xlsx', 'Dispersión-20221224.xlsx',
       'Dispersión-FP 2022-12-24.xlsx', 'Dispersión-20221225.xlsx',
       'Dispersión-FP 2022-12-25.xlsx', 'Dispersión-20221226.xlsx',
       'Dispersión-FP 2022-12-26.xlsx', 'Dispersión-20221227.xlsx',
       'Dispersión-FP 2022-12-27.xlsx', 'Dispersión-20221228.xlsx',
       'Dispersión-FP 2022-12-28.xlsx', 'Dispersión-20221229.xlsx',
       'Dispersión-FP 2022-12-29.xlsx', 'Dispersión-20221230.xlsx',
       'Dispersión-FP 2022-12-30.xlsx', 'Dispersión-20221231.xlsx',
       'Dispersión-FP 2022-12-31.xlsx'], dtype=object)

In [41]:
not_found_1 = check_1[((check_1['file_name_y'].isnull()) | (check_1['file_name_y'].isin(['NO ENCONTRADO'])))
                        & (check_1['total_due_x'] != 0)]
not_found_1.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_due_x,type,created_date,created_time,updated_date,updated_time,file_name_x,total_due_y,tipo,file_name_y
761,2c021368-dda2-459e-8d6a-e6f25509e88d,TORTILLERA LOS PARIENTES,mercercarlos42@gmail.com,L78XFWJGD,2022-12-01,20.00,0.72,0.12,0.00,0.00,...,19.16,DAILY,2022-12-01,02:03:01,2022-12-01,02:03:01,SETTLEMENT 2022-12-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
870,6ff6ef5e-abce-41b9-9bc8-576f82c0a676,BENTA DE CAFE Y ANTOJITOS,kh982384@gmail.com,SN6TJR6R2,2022-12-01,0.00,0.00,0.00,0.00,0.00,...,2.00,DAILY,2022-12-01,02:03:22,2022-12-01,02:03:22,SETTLEMENT 2022-12-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
880,97fcf15e-f65e-4e7f-8d17-c7f3a3a82274,PSICOLOGA,ssarabiar30@gmail.com,PHS3MN8NZ,2022-12-01,602.00,21.67,3.47,0.00,0.00,...,576.86,DAILY,2022-12-01,02:03:24,2022-12-01,02:03:24,SETTLEMENT 2022-12-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
1017,10e5357d-d262-4ed6-96aa-78f9717a0e28,ESTTICA CANINA MORDIDAS,lvldlmr@gmail.com,WQYDZLRYF,2022-12-01,0.03,0.00,0.00,0.00,0.00,...,0.03,DAILY,2022-12-01,02:03:55,2022-12-01,02:03:55,SETTLEMENT 2022-12-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO
1071,805aaa36-d741-4e4d-a950-6972c18e6a4d,BIGBOY,acari_org@hotmail.com,7968HKGDW,2022-12-01,351.07,12.64,2.02,0.00,0.00,...,336.41,DAILY,2022-12-01,02:04:11,2022-12-01,02:04:11,SETTLEMENT 2022-12-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO

In [42]:
not_found_1.shape

(8726, 29)

In [43]:
group_notfound = not_found_1.groupby(['report_date_local']).agg({'total_due_x':sum,'report_id':'count'}).reset_index()
group_notfound.rename(columns={'report_date_local':'date_file'},inplace=True)
group_notfound.head()

   date_file  total_due_x  report_id
0 2022-12-01   235,503.81        311
1 2022-12-02   230,311.91        309
2 2022-12-03   432,381.59        366
3 2022-12-04   462,220.35        356
4 2022-12-05   339,935.94        271

In [44]:
group_notfound.shape

(31, 3)

#### REPROGRAMACIONES

In [45]:
repro = allpagos[(allpagos['tipo'].isin(['Reprogramación']))]
repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Batch_time,Banco_emisor,file_name,date_file,swap
66454,DAILY,b368c690-db7a-480b-99ea-2099e79dd477,El Callejn De San Miguel,akpm1302@gmail.com,273W22XK6,2022-11-25,978.99,Reprogramación,BBVA BANCOMER,Ana Karen Pérez Marin,12180015252028306,PAID,"2022-12-01,2022120140014 HDH0001421716590,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,NaN
66244,DAILY,b2db1c5a-77de-4b2c-b0dc-3137fd4057fb,abarrotes chicago,AYRAMA@outlook.com,WXXTPVYVC,2022-11-30,725.39,Reprogramación,BBVA BANCOMER,Leslie de Jesus Ramirez Maldonado,12180015982915161,PAID,"2022-12-01,2022120140014 HDH0001421713410,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,NaN
66243,DAILY,b2db1c5a-77de-4b2c-b0dc-3137fd4057fb,abarrotes chicago,AYRAMA@outlook.com,NR2H8PBVV,2022-11-29,415.87,Reprogramación,BBVA BANCOMER,Leslie de Jesus Ramirez Maldonado,12180015982915161,PAID,"2022-12-01,2022120140014 HDH0001421713450,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,NaN
66242,DAILY,b2db1c5a-77de-4b2c-b0dc-3137fd4057fb,abarrotes chicago,AYRAMA@outlook.com,88RCTKS5P,2022-11-27,"2,028.62",Reprogramación,BBVA BANCOMER,Leslie de Jesus Ramirez Maldonado,12180015982915161,PAID,"2022-12-01,2022120140014 HDH0001421713460,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,NaN
66241,DAILY,b2db1c5a-77de-4b2c-b0dc-3137fd4057fb,abarrotes chicago,AYRAMA@outlook.com,6XDG3RZWG,2022-11-23,"1,957.68",Reprogramación,BBVA BANCOMER,Leslie de Jesus Ramirez Maldonado,12180015982915161,PAID,"2022-12-01,2022120140014 HDH0001421713360,4001...",01. First_batch,SANTANDER,Dispersión-20221201.xlsx,2022-12-01,NaN

In [46]:
repro.shape

(17892, 18)

In [47]:
group_repro = repro.groupby(['date_file']).agg({'total_due':sum,'report_id':'count'}).reset_index()
group_repro.head()

   date_file    total_due  report_id
0 2022-12-01 3,361,542.89       2314
1 2022-12-02 2,322,380.57       1678
2 2022-12-03 1,470,277.13        862
3 2022-12-04   544,516.01        291
4 2022-12-05   769,515.21        454

In [48]:
group_repro.shape

(31, 3)

# SEGUNDO MATCH (IDENTIFICACION DE REPROGRAMACIONES)

In [49]:
check_2 = not_found_1.merge(repro[['report_id','total_due','tipo','file_name']] ,on='report_id', how='left')
check_2.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,created_time,updated_date,updated_time,file_name_x,total_due_y,tipo_x,file_name_y,total_due,tipo_y,file_name
0,2c021368-dda2-459e-8d6a-e6f25509e88d,TORTILLERA LOS PARIENTES,mercercarlos42@gmail.com,L78XFWJGD,2022-12-01,20.00,0.72,0.12,0.00,0.00,...,02:03:01,2022-12-01,02:03:01,SETTLEMENT 2022-12-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,19.16,Reprogramación,Dispersión-20221203.xlsx
1,6ff6ef5e-abce-41b9-9bc8-576f82c0a676,BENTA DE CAFE Y ANTOJITOS,kh982384@gmail.com,SN6TJR6R2,2022-12-01,0.00,0.00,0.00,0.00,0.00,...,02:03:22,2022-12-01,02:03:22,SETTLEMENT 2022-12-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,NaN,NaN,NaN
2,97fcf15e-f65e-4e7f-8d17-c7f3a3a82274,PSICOLOGA,ssarabiar30@gmail.com,PHS3MN8NZ,2022-12-01,602.00,21.67,3.47,0.00,0.00,...,02:03:24,2022-12-01,02:03:24,SETTLEMENT 2022-12-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,576.86,Reprogramación,Dispersión-20221202.xlsx
3,10e5357d-d262-4ed6-96aa-78f9717a0e28,ESTTICA CANINA MORDIDAS,lvldlmr@gmail.com,WQYDZLRYF,2022-12-01,0.03,0.00,0.00,0.00,0.00,...,02:03:55,2022-12-01,02:03:55,SETTLEMENT 2022-12-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,0.03,Reprogramación,Dispersión-20221203.xlsx
4,805aaa36-d741-4e4d-a950-6972c18e6a4d,BIGBOY,acari_org@hotmail.com,7968HKGDW,2022-12-01,351.07,12.64,2.02,0.00,0.00,...,02:04:11,2022-12-01,02:04:11,SETTLEMENT 2022-12-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,NaN,NaN,NaN

In [50]:
check_2.shape

(8757, 32)

In [51]:
# writer = pd.ExcelWriter('REPROGRAMACIONES JUNIO 2021.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})
# check_2.to_excel(writer, sheet_name='DETAIL REPROGRAMACIONES',index=False)
# writer.save()
# writer.close()

# FECHA DE PAGOS (SETTLED VS PAGOS DEL DIA)

In [52]:
fecha_pago = not_found_1.merge(repro[['report_id','date_file','tipo','status','file_name']] ,on='report_id', how='left')
fecha_pago.sort_values(by=['date_file'],ascending=True,inplace=True)
fecha_pago.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,updated_date,updated_time,file_name_x,total_due_y,tipo_x,file_name_y,date_file,tipo_y,status,file_name
200,4f9a7be8-4eb5-41aa-9127-447a9bae4354,DOGTOR CA,dogtorca@gmail.com,4NCRLFMTW,2022-12-01,300.00,10.80,1.73,0.00,0.00,...,2022-12-01,04:59:39,SETTLEMENT 2022-12-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-12-02,Reprogramación,PAID,Dispersión-20221202.xlsx
259,be00dab0-36ec-479c-9bdc-d07f071277d4,MIJANGOS,adonaimendoza251@outlook.com,7V38B9ZTZ,2022-12-01,300.00,10.80,1.73,0.00,0.00,...,2022-12-01,05:55:15,SETTLEMENT 2022-12-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-12-02,Reprogramación,PAID,Dispersión-20221202.xlsx
126,3e351890-794d-411c-8bd6-db7dc1ef277f,RESTAURANTE YANET,elichalyc@gmail.com,G8LHL6F54,2022-12-01,100.00,3.60,0.58,0.00,0.00,...,2022-12-01,03:51:22,SETTLEMENT 2022-12-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-12-02,Reprogramación,PAID,Dispersión-20221202.xlsx
40,18315e62-b0df-4ab3-9ca6-96b79856c173,ESTACIONAMIENTO FRAY,coronaalejandro079@gmail.com,B8QTMJWD5,2022-12-01,0.01,0.00,0.00,0.00,0.00,...,2022-12-01,02:33:47,SETTLEMENT 2022-12-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-12-02,Reprogramación,PAID,Dispersión-20221202.xlsx
261,7913e325-9bcc-4d92-a1e7-f2f785a4d2b6,JARDINERA RUBI,maruge962@gmail.com,CNNYJJLTM,2022-12-01,100.00,3.60,0.58,0.00,0.00,...,2022-12-01,05:57:49,SETTLEMENT 2022-12-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-12-02,Reprogramación,PAID,Dispersión-20221202.xlsx

In [53]:
fecha_pago.shape

(8757, 33)

In [54]:
fecha_pago.drop_duplicates(subset ='report_id',keep='first',inplace=True)

In [55]:
fecha_pago.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,updated_date,updated_time,file_name_x,total_due_y,tipo_x,file_name_y,date_file,tipo_y,status,file_name
200,4f9a7be8-4eb5-41aa-9127-447a9bae4354,DOGTOR CA,dogtorca@gmail.com,4NCRLFMTW,2022-12-01,300.00,10.80,1.73,0.00,0.00,...,2022-12-01,04:59:39,SETTLEMENT 2022-12-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-12-02,Reprogramación,PAID,Dispersión-20221202.xlsx
259,be00dab0-36ec-479c-9bdc-d07f071277d4,MIJANGOS,adonaimendoza251@outlook.com,7V38B9ZTZ,2022-12-01,300.00,10.80,1.73,0.00,0.00,...,2022-12-01,05:55:15,SETTLEMENT 2022-12-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-12-02,Reprogramación,PAID,Dispersión-20221202.xlsx
126,3e351890-794d-411c-8bd6-db7dc1ef277f,RESTAURANTE YANET,elichalyc@gmail.com,G8LHL6F54,2022-12-01,100.00,3.60,0.58,0.00,0.00,...,2022-12-01,03:51:22,SETTLEMENT 2022-12-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-12-02,Reprogramación,PAID,Dispersión-20221202.xlsx
40,18315e62-b0df-4ab3-9ca6-96b79856c173,ESTACIONAMIENTO FRAY,coronaalejandro079@gmail.com,B8QTMJWD5,2022-12-01,0.01,0.00,0.00,0.00,0.00,...,2022-12-01,02:33:47,SETTLEMENT 2022-12-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-12-02,Reprogramación,PAID,Dispersión-20221202.xlsx
261,7913e325-9bcc-4d92-a1e7-f2f785a4d2b6,JARDINERA RUBI,maruge962@gmail.com,CNNYJJLTM,2022-12-01,100.00,3.60,0.58,0.00,0.00,...,2022-12-01,05:57:49,SETTLEMENT 2022-12-01.csv,NaN,NO ENCONTRADO,NO ENCONTRADO,2022-12-02,Reprogramación,PAID,Dispersión-20221202.xlsx

In [56]:
fecha_pago.shape

(8726, 33)

### AGRUPADO POR DÍA

In [57]:
pivot_fecha_pago = pd.pivot_table(fecha_pago,index=['report_date_local'],
                                  values=['total_due_x'],aggfunc = ['sum', len],margins=True)
pivot_fecha_pago.head()

                            sum         len
                    total_due_x total_due_x
report_date_local
2022-12-01 00:00:00  235,503.81         311
2022-12-02 00:00:00  230,311.91         309
2022-12-03 00:00:00  432,381.59         366
2022-12-04 00:00:00  462,220.35         356
2022-12-05 00:00:00  339,935.94         271

In [58]:
pivot_fecha_pago.shape

(32, 2)

# PAGOS MANUALES

In [59]:
file_manual = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2022\12. DECEMBER\MANUALES\*.xlsx', recursive=False)
file_manual

['G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\12. DECEMBER\\MANUALES\\Manuales 2022.12.01 - 2022.12.26.xlsx',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2022\\12. DECEMBER\\MANUALES\\Manuales 2022.12.27 - 2022.12.29.xlsx']

In [60]:
manuales_all = pd.concat([pd.read_excel(f,sheet_name='Formato Pago Manual',skiprows=1
                                      ,converters={'Cta. CLABE de depósito':str,'report_id':str})
                          .assign(file_name=os.path.basename(f)) for f in file_manual])
manuales_all['Date']= pd.to_datetime(manuales_all['Date'])  
manuales_all['Tipo'] = 'MANUAL'

In [61]:
manuales_final = manuales_all[['Date','ME ID','ME NAME',' (mxn)','Banco','Justificación para el pago','Tipo','Report ID']]
manuales_final.head()

,Date,ME ID,ME NAME,(mxn),Banco,Justificación para el pago,Tipo,Report ID
0,2022-12-13,5d1a3201-6fa2-44ed-8aa6-a6a8ec2226b3,NaN,"3,467.78",Banco Mercantil del Norte,AJUSTE DE TASA Y REEMBOLSO GB GLOBAL SERVICES ...,MANUAL,NaN
1,2022-12-13,a367ccfc-d81b-4830-b5ce-70e9be1aa025,NaN,"1,299.99","Opciones Empresariales del Noreste, S.A. de C....",Re: PMR-766 || Apoyo con reembolso por promoci...,MANUAL,NaN
2,2022-12-13,b8a6867a-12c3-40a4-87d9-2d6b044a076e,NaN,"1,299.99","BBVA Bancomer, S.A.",Re: PMR-766 || Apoyo con reembolso por promoci...,MANUAL,NaN
3,2022-12-13,9547033d-b9ba-4230-97c6-219c48adfc6c,NaN,"1,299.99","BBVA Bancomer, S.A.",Re: PMR-766 || Apoyo con reembolso por promoci...,MANUAL,NaN
4,2022-12-20,a3935fac-fff5-4117-86b9-15727760e465,NaN,170.00,BANAMEX,Re: Afectaciones 21 y 22 de Octubre,MANUAL,NaN

In [62]:
manuales_final.shape

(42, 8)

In [63]:
manuales_final.columns

Index(['Date', 'ME ID', 'ME NAME', ' (mxn)', 'Banco',
       'Justificación para el pago', 'Tipo', 'Report ID'],
      dtype='object')

In [64]:
group_manual = manuales_final.groupby(['Date']).agg({' (mxn)':sum,'Report ID':'count'}).reset_index()
group_manual.rename(columns={'Date':'date_file','Report ID':'report_id'},inplace=True)
group_manual.head()

   date_file     (mxn)  report_id
0 2022-12-13  7,367.75          0
1 2022-12-20 42,086.59          0
2 2022-12-23  8,862.83          0

In [65]:
group_manual.shape

(3, 3)

# ACUMULADOS SETTLEMENT

In [66]:
conc_disp = cum_distinct_0.groupby(['report_date_local']).agg({'total_due':sum,'report_id':'count'}).reset_index()
conc_disp.rename(columns={'report_date_local':'date_file'}, inplace=True)
conc_disp.head()

   date_file      total_due  report_id
0 2022-12-01 207,525,453.18     102385
1 2022-12-02 220,525,425.12     107688
2 2022-12-03 238,758,401.55     110820
3 2022-12-04 260,537,712.65     110136
4 2022-12-05 188,806,485.13      80140

In [67]:
conc_disp.shape

(31, 3)

# MERGING ALL DATA FRAMES

In [68]:
total_1 = conc_disp.merge(group_repro[['date_file','total_due','report_id']],on='date_file',how='left') \
.merge(group_manual,on='date_file',how='left')
total_1[' (mxn)'].fillna(0,inplace=True)
total_1['report_id'].fillna(0,inplace=True)
total_1.head()

,date_file,total_due_x,report_id_x,total_due_y,report_id_y,(mxn),report_id
0,2022-12-01,"207,525,453.18",102385,"3,361,542.89",2314,0.00,0.00
1,2022-12-02,"220,525,425.12",107688,"2,322,380.57",1678,0.00,0.00
2,2022-12-03,"238,758,401.55",110820,"1,470,277.13",862,0.00,0.00
3,2022-12-04,"260,537,712.65",110136,"544,516.01",291,0.00,0.00
4,2022-12-05,"188,806,485.13",80140,"769,515.21",454,0.00,0.00

In [69]:
total_1['count_total_pago_dia'] = total_1['report_id_x'] + total_1['report_id_y'] + total_1['report_id']
total_1['sum_total_pago_dia'] = total_1['total_due_x'] + total_1['total_due_y'] + total_1[' (mxn)']

In [70]:
total_1

,date_file,total_due_x,report_id_x,total_due_y,report_id_y,(mxn),report_id,count_total_pago_dia,sum_total_pago_dia
0,2022-12-01,"207,525,453.18",102385,"3,361,542.89",2314,0.00,0.00,"104,699.00","210,886,996.07"
1,2022-12-02,"220,525,425.12",107688,"2,322,380.57",1678,0.00,0.00,"109,366.00","222,847,805.69"
2,2022-12-03,"238,758,401.55",110820,"1,470,277.13",862,0.00,0.00,"111,682.00","240,228,678.68"
3,2022-12-04,"260,537,712.65",110136,"544,516.01",291,0.00,0.00,"110,427.00","261,082,228.66"
4,2022-12-05,"188,806,485.13",80140,"769,515.21",454,0.00,0.00,"80,594.00","189,576,000.34"
5,2022-12-06,"187,870,725.14",95074,"1,364,843.97",588,0.00,0.00,"95,662.00","189,235,569.11"
6,2022-12-07,"191,413,084.70",98283,"1,757,974.95",644,0.00,0.00,"98,927.00","193,171,059.65"
7,2022-12-08,"201,635,423.38",100415,"1,378,823.73",923,0.00,0.00,"101,338.00","203,014,247.11"
8,2022-12-09,"216,537,755.84",104693,"615,807.42",307,0.00,0.00,"105,000.00","217,153,563.26"
9,2022-12-10,"243,508,507.11",109072,"971,157.97",465,0.00,0.00,"109,537.00","244,479,665.08"
10,2022-12-11,"269,063,855.22",108985,"252,751.88",280,0.00,0.00,"109,265.00","269,316,607.10"
11,2022-12-12,"190,421,222.14",78578,"1,624,296.88",245,0.00,0.00,"78,823.00","192,045,519.02"
12,2022-12-13,"191,573,901.35",93500,"646,250.07",506,"7,367.75",0.00,"94,006.00","192,227,519.17"
13,2022-12-14,"202,176,275.95",99269,"923,104.40",338,0.00,0.00,"99,607.00","203,099,380.35"
14,2022-12-15,"221,066,108.85",103632,"865,443.26",418,0.00,0.00,"104,050.00","221,931,552.11"
15,2022-12-16,"244,719,590.53",107330,"784,053.79",453,0.00,0.00,"107,783.00","245,503,644.32"
16,2022-12-17,"261,897,842.61",106515,"1,156,560.90",411,0.00,0.00,"106,926.00","263,054,403.51"
17,2022-12-18,"276,130,175.89",103171,"669,187.88",585,0.00,0.00,"103,756.00","276,799,363.77"
18,2022-12-19,"187,186,401.60",72565,"477,365.00",258,0.00,0.00,"72,823.00","187,663,766.60"
19,2022-12-20,"221,922,102.98",92137,"1,191,822.60",414,"42,086.59",0.00,"92,551.00","223,156,012.17"
20,2022-12-21,"222,543,693.98",91702,"822,844.47",484,0.00,0.00,"92,186.00","223,366,538.45"
21,2022-12-22,"232,469,401.21",94114,"867,181.82",390,0.00,0.00,"94,504.00","233,336,583.03"
22,2022-12-23,"240,847,615.05",97143,"1,207,318.85",353,"8,862.83",0.00,"97,496.00","242,063,796.73"
23,2022-12-24,"252,514,272.40",96613,"1,215,579.33",617,0.00,0.00,"97,230.00","253,729,851.73"
24,2022-12-25,"189,660,756.45",74898,"886,146.45",308,0.00,0.00,"75,206.00","190,546,902.90"
25,2022-12-26,"59,875,168.37",26082,"847,096.77",418,0.00,0.00,"26,500.00","60,722,265.14"
26,2022-12-27,"168,382,863.47",71362,"1,131,274.04",398,0.00,0.00,"71,760.00","169,514,137.51"
27,2022-12-28,"193,897,328.83",79428,"685,304.51",431,0.00,0.00,"79,859.00","194,582,633.34"
28,2022-12-29,"205,963,602.99",82928,"954,417.23",570,0.00,0.00,"83,498.00","206,918,020.22"
29,2022-12-30,"222,889,728.75",86794,"2,371,605.72",843,0.00,0.00,"87,637.00","225,261,334.47"
30,2022-12-31,"246,863,388.25",89679,"1,272,480.07",646,0.00,0.00,"90,325.00","248,135,868.32"

# ACUMULADOS PAGO DEL DIA

In [71]:
total_2 = group_allpagos.merge(group_notfound[['date_file','total_due_x','report_id']],on='date_file',how='left')\
.merge(group_manual,on='date_file',how='left')
total_2[' (mxn)'].fillna(0,inplace=True)
total_2['report_id'].fillna(0,inplace=True)
total_2['total_due_x'].fillna(0,inplace=True)
total_2['report_id_y'].fillna(0,inplace=True)
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id
0,2022-12-01,"210,652,061.46",104389,"235,503.81",311,0.00,0.00
1,2022-12-02,"222,617,493.78",109057,"230,311.91",309,0.00,0.00
2,2022-12-03,"239,796,297.09",111316,"432,381.59",366,0.00,0.00
3,2022-12-04,"260,620,008.31",110071,"462,220.35",356,0.00,0.00
4,2022-12-05,"189,239,921.37",80324,"339,935.94",271,0.00,0.00

In [72]:
total_2['count_swap_dia'] = total_2['report_id_x'] + total_2['report_id_y'] + total_2['report_id']
total_2['sum_swap_dia'] = total_2['total_due'] + total_2['total_due_x'] + total_2[' (mxn)']

In [73]:
total_2.head()

,date_file,total_due,report_id_x,total_due_x,report_id_y,(mxn),report_id,count_swap_dia,sum_swap_dia
0,2022-12-01,"210,652,061.46",104389,"235,503.81",311,0.00,0.00,"104,700.00","210,887,565.27"
1,2022-12-02,"222,617,493.78",109057,"230,311.91",309,0.00,0.00,"109,366.00","222,847,805.69"
2,2022-12-03,"239,796,297.09",111316,"432,381.59",366,0.00,0.00,"111,682.00","240,228,678.68"
3,2022-12-04,"260,620,008.31",110071,"462,220.35",356,0.00,0.00,"110,427.00","261,082,228.66"
4,2022-12-05,"189,239,921.37",80324,"339,935.94",271,0.00,0.00,"80,595.00","189,579,857.31"

In [74]:
total_2.shape

(31, 9)

# COMPARACION FINAL

In [75]:
final_comparacion = total_1[['date_file','count_total_pago_dia','sum_total_pago_dia']] \
.merge(total_2[['date_file','count_swap_dia','sum_swap_dia']],on='date_file',how='left')
final_comparacion.head()

,date_file,count_total_pago_dia,sum_total_pago_dia,count_swap_dia,sum_swap_dia
0,2022-12-01,"104,699.00","210,886,996.07","104,700.00","210,887,565.27"
1,2022-12-02,"109,366.00","222,847,805.69","109,366.00","222,847,805.69"
2,2022-12-03,"111,682.00","240,228,678.68","111,682.00","240,228,678.68"
3,2022-12-04,"110,427.00","261,082,228.66","110,427.00","261,082,228.66"
4,2022-12-05,"80,594.00","189,576,000.34","80,595.00","189,579,857.31"

In [76]:
final_comparacion['diff_count'] = final_comparacion['count_total_pago_dia'] - final_comparacion['count_swap_dia']
final_comparacion['diff_sum'] = final_comparacion['sum_total_pago_dia'] - final_comparacion['sum_swap_dia']

In [77]:
final_comparacion

,date_file,count_total_pago_dia,sum_total_pago_dia,count_swap_dia,sum_swap_dia,diff_count,diff_sum
0,2022-12-01,"104,699.00","210,886,996.07","104,700.00","210,887,565.27",-1.00,-569.20
1,2022-12-02,"109,366.00","222,847,805.69","109,366.00","222,847,805.69",0.00,0.00
2,2022-12-03,"111,682.00","240,228,678.68","111,682.00","240,228,678.68",0.00,0.00
3,2022-12-04,"110,427.00","261,082,228.66","110,427.00","261,082,228.66",0.00,0.00
4,2022-12-05,"80,594.00","189,576,000.34","80,595.00","189,579,857.31",-1.00,"-3,856.97"
5,2022-12-06,"95,662.00","189,235,569.11","96,167.00","189,572,265.88",-505.00,"-336,696.77"
6,2022-12-07,"98,927.00","193,171,059.65","98,927.00","193,171,059.65",0.00,-0.00
7,2022-12-08,"101,338.00","203,014,247.11","101,338.00","203,014,247.11",0.00,0.00
8,2022-12-09,"105,000.00","217,153,563.26","105,000.00","217,153,563.26",0.00,-0.00
9,2022-12-10,"109,537.00","244,479,665.08","109,537.00","244,479,665.08",0.00,0.00
10,2022-12-11,"109,265.00","269,316,607.10","109,265.00","269,316,607.10",0.00,0.00
11,2022-12-12,"78,823.00","192,045,519.02","78,825.00","192,046,691.43",-2.00,"-1,172.41"
12,2022-12-13,"94,006.00","192,227,519.17","94,006.00","192,227,519.17",0.00,0.00
13,2022-12-14,"99,607.00","203,099,380.35","100,675.00","203,608,048.29","-1,068.00","-508,667.94"
14,2022-12-15,"104,050.00","221,931,552.11","105,260.00","222,570,811.10","-1,210.00","-639,258.99"
15,2022-12-16,"107,783.00","245,503,644.32","113,648.00","249,713,250.89","-5,865.00","-4,209,606.57"
16,2022-12-17,"106,926.00","263,054,403.51","115,812.00","275,074,147.84","-8,886.00","-12,019,744.33"
17,2022-12-18,"103,756.00","276,799,363.77","111,993.00","292,606,247.92","-8,237.00","-15,806,884.15"
18,2022-12-19,"72,823.00","187,663,766.60","80,810.00","201,145,885.32","-7,987.00","-13,482,118.72"
19,2022-12-20,"92,551.00","223,156,012.17","102,401.00","238,671,385.11","-9,850.00","-15,515,372.94"
20,2022-12-21,"92,186.00","223,366,538.45","105,707.00","249,395,690.56","-13,521.00","-26,029,152.11"
21,2022-12-22,"94,504.00","233,336,583.03","108,476.00","261,598,608.67","-13,972.00","-28,262,025.64"
22,2022-12-23,"97,496.00","242,063,796.73","111,557.00","270,364,936.07","-14,061.00","-28,301,139.34"
23,2022-12-24,"97,230.00","253,729,851.73","110,715.00","283,425,788.86","-13,485.00","-29,695,937.13"
24,2022-12-25,"75,206.00","190,546,902.90","84,335.00","214,283,116.82","-9,129.00","-23,736,213.92"
25,2022-12-26,"26,500.00","60,722,265.14","34,403.00","74,134,952.44","-7,903.00","-13,412,687.30"
26,2022-12-27,"71,760.00","169,514,137.51","84,160.00","194,067,537.80","-12,400.00","-24,553,400.29"
27,2022-12-28,"79,859.00","194,582,633.34","92,549.00","220,685,727.24","-12,690.00","-26,103,093.90"
28,2022-12-29,"83,498.00","206,918,020.22","96,611.00","233,546,543.94","-13,113.00","-26,628,523.72"
29,2022-12-30,"87,637.00","225,261,334.47","101,302.00","253,846,516.78","-13,665.00","-28,585,182.31"
30,2022-12-31,"90,325.00","248,135,868.32","103,410.00","278,770,102.38","-13,085.00","-30,634,234.06"

In [78]:
writer = pd.ExcelWriter('FASE III. SETTLED VS PAGO DIA DICIEMBRE 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_fecha_pago.to_excel(writer, sheet_name='ENVIADOS POSTERIOR')
fecha_pago.to_excel(writer, sheet_name='DETAIL NO ENCONTRADO',index=False)
pivot_duplicates_trad.to_excel(writer, sheet_name='PAGOS DUPLICADOS')
pivot_duplicates_fp.to_excel(writer, sheet_name='FP PAGOS DUPLICADOS')
group_manual.to_excel(writer, sheet_name='PAGOS MANUALES')
writer.close()