In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
import datetime
pd.options.display.float_format = '{:,.2f}'.format
datetime.timedelta(days=1)
datetime.timedelta(1)

datetime.timedelta(days=1)

# SETTLEMENT

In [2]:
start_date = '2022-04-27'
final_date = '2022-04-29'

In [3]:
allfiles_settled = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\04. ABRIL\QUERIES\*.csv', recursive=False)
allfiles_settled

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-01.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-02.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-03.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-04.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-05.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-06.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-07.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-08.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-09.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-10.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-11.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-12.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-13.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-14.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-15.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-16.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-17.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-18.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-19.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-20.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-21.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-22.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-23.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-24.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-25.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-26.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-27.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-28.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2022\\04. ABRIL\\QUERIES\\SETTLEMENT 2022-04-29.csv']

In [4]:
settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
settled['Date_file'] = settled["file_name"].str[-14:-4]
settled['Date_file']= pd.to_datetime(settled['Date_file'])
settled['report_date_local']= pd.to_datetime(settled['report_date_local'])

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_12176\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_12176\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_12176\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_12176\1803293925.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  settled = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in allfiles_settled])

In [5]:
settled.reset_index(inplace=True)
settled.drop(['index'],axis=1,inplace=True)
settled.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,Date_file
0,064a193d-56c9-4574-92d4-cce26c922731,Vidrio Y Aluminio,islasdenisse14@gmail.com,B6YFMLFFN,2022-04-01,"1,000.00",36.00,5.76,0.00,0.00,...,0.00,NaN,958.24,DAILY,2022-04-01,02:00:25,2022-04-01,02:00:25,SETTLEMENT 2022-04-01.csv,2022-04-01
1,2a3f5ffc-6d70-4b18-83c1-689a4aff8932,La diferencia,jarrotran76@gmail.com,3W2YMTH2D,2022-04-01,465.00,16.74,2.68,0.00,0.00,...,0.00,NaN,445.58,DAILY,2022-04-01,02:00:26,2022-04-01,02:00:26,SETTLEMENT 2022-04-01.csv,2022-04-01
2,7a79dff8-d9a5-424a-9dc0-d00848b27687,Respuestos Frios,narciso_liza@hotmail.com,4S3XKJ46N,2022-04-01,672.00,24.19,3.87,0.00,0.00,...,0.00,NaN,643.94,DAILY,2022-04-01,02:00:26,2022-04-01,02:00:26,SETTLEMENT 2022-04-01.csv,2022-04-01
3,61593338-a17e-458d-905d-db17b761d3ee,Las miches del wero,obethma@icloud.com,5G5FZZ4QP,2022-04-01,375.00,13.50,2.16,0.00,0.00,...,0.00,NaN,359.34,DAILY,2022-04-01,02:00:26,2022-04-01,02:00:26,SETTLEMENT 2022-04-01.csv,2022-04-01
4,711ac2d5-921d-41c6-9c54-79289c690121,GRUPO UNIVERSITARIO CANCUN,descamilla@unisan.edu.mx,5SX6XHMXS,2022-04-01,"10,000.00",360.00,57.60,0.00,0.00,...,0.00,NaN,"9,582.40",DAILY,2022-04-01,02:00:26,2022-04-01,02:00:26,SETTLEMENT 2022-04-01.csv,2022-04-01

In [6]:
settled.shape

(2432678, 27)

### CURRENT MONTH

In [7]:
settled_current_month = settled[(settled['report_date_local'] >= start_date) & (settled['report_date_local'] <= final_date)]
settled_current_month.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,total_retained,tipopago,total_due,type,created_date,created_time,updated_date,updated_time,file_name,Date_file
2170203,1da5f453-00f2-4636-8230-dc2cdea7c9c0,Pro Cleaning,gusfigura@gmail.com,SR28RWX4L,2022-04-27,"1,260.00",45.36,7.26,0.00,0.00,...,0.00,NaN,"1,207.38",DAILY,2022-04-27,02:00:25,2022-04-27,02:00:25,SETTLEMENT 2022-04-27.csv,2022-04-27
2170204,56dfd220-a7a0-4777-b81f-c2457f51d1b6,DoctorStore,hector.vieyrasc@gmail.com,8PL7VR7WL,2022-04-27,783.80,28.22,4.51,0.00,0.00,...,0.00,NaN,751.07,DAILY,2022-04-27,02:00:26,2022-04-27,02:00:26,SETTLEMENT 2022-04-27.csv,2022-04-27
2170205,823b418a-f07d-4602-ac25-c87846b727f7,Grata Impresión,grataimpresion@gmail.com,CSMTC4VFM,2022-04-27,300.00,10.80,1.73,0.00,0.00,...,0.00,NaN,287.47,DAILY,2022-04-27,02:00:26,2022-04-27,02:00:26,SETTLEMENT 2022-04-27.csv,2022-04-27
2170206,e9bfa0fa-1ffa-49ad-9634-8113201bacc9,Nutriologa Patricia Martinez,nut.patriciamp@hotmail.com,GQ6882CN8,2022-04-27,500.00,18.00,2.88,0.00,0.00,...,0.00,NaN,479.12,DAILY,2022-04-27,02:00:26,2022-04-27,02:00:26,SETTLEMENT 2022-04-27.csv,2022-04-27
2170207,2a9287c9-d2c5-424a-9cc1-49080607aea7,Arthromedic,maybelreyes.7@gmail.com,M76DS9FMW,2022-04-27,"3,500.00",126.00,20.16,0.00,0.00,...,0.00,NaN,"3,353.84",DAILY,2022-04-27,02:00:26,2022-04-27,02:00:26,SETTLEMENT 2022-04-27.csv,2022-04-27

In [8]:
settled_current_month.shape

(262475, 27)

In [9]:
settled_current_month.dtypes

merchant_id                              object
merchant_name                            object
user_email                               object
report_id                                object
report_date_local                datetime64[ns]
total_transactions                      float64
total_fees_charged                      float64
total_taxes                             float64
applied_fees_benefits                   float64
applied_taxes_benefits                  float64
fee_direct_deposit                      float64
taxes_direct_deposit                    float64
total_adjustments                       float64
total_adjustment_fees_charged           float64
total_adjustment_taxes                  float64
cobranza                                float64
total_released                          float64
total_retained                          float64
tipopago                                 object
total_due                               float64
type                                     object
created_date                             object
created_time                             object
updated_date                             object
updated_time                             object
file_name                                object
Date_file                        datetime64[ns]
dtype: object

In [10]:
# def next_date(settled_current_month):
#     if settled_current_month['updated_time'] >= '20:00:00':
#         return settled_current_month['report_date_local'] + datetime.timedelta(days=1)
#     else:
#         return settled_current_month['report_date_local']
    
# settled_current_month['poliza_date'] = settled_current_month.apply(next_date, axis=1)

In [11]:
# settled_current_month.head()

In [12]:
# settled_current_month.shape

In [13]:
# settled_current_month['poliza_date'].unique()

### CANCELACIONES

In [14]:
settled_current_month.loc[(settled_current_month['total_released'] > 0)
                          & (settled_current_month['total_adjustments'] < 0),'canc_1'] = settled_current_month['total_adjustments']
settled_current_month['canc_1'].fillna(0,inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_12176\2387200959.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month.loc[(settled_current_month['total_released'] > 0)
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_12176\2387200959.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['canc_1'].fillna(0,inplace=True)

In [15]:
settled_current_month.loc[(settled_current_month['total_released'] > 0)
                          & (settled_current_month['total_adjustments'] < 0),'canc_2'] = settled_current_month['total_released']
settled_current_month['canc_2'].fillna(0,inplace=True)

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_12176\97313772.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month.loc[(settled_current_month['total_released'] > 0)
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_12176\97313772.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['canc_2'].fillna(0,inplace=True)

In [16]:
settled_current_month['cancelaciones'] = (-settled_current_month['canc_1']) - (settled_current_month['canc_2'])
settled_current_month.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_12176\715271970.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['cancelaciones'] = (-settled_current_month['canc_1']) - (settled_current_month['canc_2'])

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,type,created_date,created_time,updated_date,updated_time,file_name,Date_file,canc_1,canc_2,cancelaciones
2170203,1da5f453-00f2-4636-8230-dc2cdea7c9c0,Pro Cleaning,gusfigura@gmail.com,SR28RWX4L,2022-04-27,"1,260.00",45.36,7.26,0.00,0.00,...,DAILY,2022-04-27,02:00:25,2022-04-27,02:00:25,SETTLEMENT 2022-04-27.csv,2022-04-27,0.00,0.00,-0.00
2170204,56dfd220-a7a0-4777-b81f-c2457f51d1b6,DoctorStore,hector.vieyrasc@gmail.com,8PL7VR7WL,2022-04-27,783.80,28.22,4.51,0.00,0.00,...,DAILY,2022-04-27,02:00:26,2022-04-27,02:00:26,SETTLEMENT 2022-04-27.csv,2022-04-27,0.00,0.00,-0.00
2170205,823b418a-f07d-4602-ac25-c87846b727f7,Grata Impresión,grataimpresion@gmail.com,CSMTC4VFM,2022-04-27,300.00,10.80,1.73,0.00,0.00,...,DAILY,2022-04-27,02:00:26,2022-04-27,02:00:26,SETTLEMENT 2022-04-27.csv,2022-04-27,0.00,0.00,-0.00
2170206,e9bfa0fa-1ffa-49ad-9634-8113201bacc9,Nutriologa Patricia Martinez,nut.patriciamp@hotmail.com,GQ6882CN8,2022-04-27,500.00,18.00,2.88,0.00,0.00,...,DAILY,2022-04-27,02:00:26,2022-04-27,02:00:26,SETTLEMENT 2022-04-27.csv,2022-04-27,0.00,0.00,-0.00
2170207,2a9287c9-d2c5-424a-9cc1-49080607aea7,Arthromedic,maybelreyes.7@gmail.com,M76DS9FMW,2022-04-27,"3,500.00",126.00,20.16,0.00,0.00,...,DAILY,2022-04-27,02:00:26,2022-04-27,02:00:26,SETTLEMENT 2022-04-27.csv,2022-04-27,0.00,0.00,-0.00

In [17]:
settled_current_month.shape

(262475, 30)

### TOTAL DUE CALCULADO

In [18]:
settled_current_month['total_due_calculado'] = (settled_current_month['total_transactions']
                                                - settled_current_month['total_fees_charged']
                                                - settled_current_month['total_taxes']
                                                + settled_current_month['applied_fees_benefits']
                                                + settled_current_month['applied_taxes_benefits']
                                                + settled_current_month['fee_direct_deposit']
                                                + settled_current_month['taxes_direct_deposit']
                                                - (-settled_current_month['total_adjustments'])
                                                + (-settled_current_month['total_adjustment_fees_charged'])
                                                + (-settled_current_month['total_adjustment_taxes'])
                                                - settled_current_month['cobranza']
                                                + settled_current_month['total_released']
                                                - settled_current_month['total_retained'])
settled_current_month['diferencias'] = settled_current_month['total_due_calculado'] - settled_current_month['total_due']
settled_current_month.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_12176\4192761883.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['total_due_calculado'] = (settled_current_month['total_transactions']
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_12176\4192761883.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  settled_current_month['diferencias'] = settled_current_month['total_due_calculado'] - settled_current_month['total_due']

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,...,created_time,updated_date,updated_time,file_name,Date_file,canc_1,canc_2,cancelaciones,total_due_calculado,diferencias
2170203,1da5f453-00f2-4636-8230-dc2cdea7c9c0,Pro Cleaning,gusfigura@gmail.com,SR28RWX4L,2022-04-27,"1,260.00",45.36,7.26,0.00,0.00,...,02:00:25,2022-04-27,02:00:25,SETTLEMENT 2022-04-27.csv,2022-04-27,0.00,0.00,-0.00,"1,207.38",0.00
2170204,56dfd220-a7a0-4777-b81f-c2457f51d1b6,DoctorStore,hector.vieyrasc@gmail.com,8PL7VR7WL,2022-04-27,783.80,28.22,4.51,0.00,0.00,...,02:00:26,2022-04-27,02:00:26,SETTLEMENT 2022-04-27.csv,2022-04-27,0.00,0.00,-0.00,751.07,-0.00
2170205,823b418a-f07d-4602-ac25-c87846b727f7,Grata Impresión,grataimpresion@gmail.com,CSMTC4VFM,2022-04-27,300.00,10.80,1.73,0.00,0.00,...,02:00:26,2022-04-27,02:00:26,SETTLEMENT 2022-04-27.csv,2022-04-27,0.00,0.00,-0.00,287.47,-0.00
2170206,e9bfa0fa-1ffa-49ad-9634-8113201bacc9,Nutriologa Patricia Martinez,nut.patriciamp@hotmail.com,GQ6882CN8,2022-04-27,500.00,18.00,2.88,0.00,0.00,...,02:00:26,2022-04-27,02:00:26,SETTLEMENT 2022-04-27.csv,2022-04-27,0.00,0.00,-0.00,479.12,0.00
2170207,2a9287c9-d2c5-424a-9cc1-49080607aea7,Arthromedic,maybelreyes.7@gmail.com,M76DS9FMW,2022-04-27,"3,500.00",126.00,20.16,0.00,0.00,...,02:00:26,2022-04-27,02:00:26,SETTLEMENT 2022-04-27.csv,2022-04-27,0.00,0.00,-0.00,"3,353.84",0.00

In [19]:
settled_current_month.shape

(262475, 32)

### CONCILIACION TPV

In [20]:
conc_1 = settled_current_month.groupby(['report_date_local']).agg({'total_transactions':sum,'total_fees_charged':sum
                                                                    ,'total_taxes':sum,'applied_fees_benefits':sum
                                                                    ,'applied_taxes_benefits':sum,'fee_direct_deposit':sum
                                                                    ,'taxes_direct_deposit':sum,'total_adjustments':sum
                                                                    ,'total_adjustment_fees_charged':sum
                                                                    ,'total_adjustment_taxes':sum 
                                                                    ,'cobranza':sum,'total_released':sum
                                                                    ,'total_retained':sum,'cancelaciones':sum
                                                                    ,'total_due_calculado':sum,'total_due':sum
                                                                    ,'diferencias':sum}).reset_index()
conc_1['total_adjustments'] = conc_1['total_adjustments']*-1 
conc_1['total_adjustment_fees_charged'] = conc_1['total_adjustment_fees_charged']*-1
conc_1['total_adjustment_taxes'] = conc_1['total_adjustment_taxes']*-1 
conc_1.head()

,report_date_local,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-04-27,"152,161,483.48","6,237,894.55","998,073.53",769.31,123.10,"21,532.94","3,449.26","860,068.48",-0.00,-0.00,"29,373.35","1,501,106.88","1,380,458.62",0.00,"144,182,596.44","144,182,596.44",-0.00
1,2022-04-28,"160,265,664.57","6,525,582.94","1,044,105.39","1,157.38",185.19,"20,088.26","3,217.94","895,155.17",-0.00,-0.00,"4,359.99","1,343,792.35","1,446,583.20","-3,067.88","151,718,319.00","151,718,319.00",-0.00
2,2022-04-29,"175,984,559.56","7,086,702.95","1,133,886.36","1,140.02",182.52,"21,863.79","3,502.41","1,054,630.95",144.00,23.04,"8,945.19","1,309,399.21","1,438,177.59",-615.84,"166,598,471.51","166,598,471.51",0.00

In [21]:
conc_1.shape

(3, 18)

In [22]:
conc_3 = settled_current_month.groupby(['report_date_local','type']).agg({'total_transactions':sum,'total_fees_charged':sum
                                                                    ,'total_taxes':sum,'applied_fees_benefits':sum
                                                                    ,'applied_taxes_benefits':sum,'fee_direct_deposit':sum
                                                                    ,'taxes_direct_deposit':sum,'total_adjustments':sum     
                                                                    ,'total_adjustment_fees_charged':sum
                                                                    ,'total_adjustment_taxes':sum 
                                                                    ,'cobranza':sum,'total_released':sum
                                                                    ,'total_retained':sum,'cancelaciones':sum
                                                                    ,'total_due_calculado':sum,'total_due':sum
                                                                    ,'diferencias':sum}).reset_index()
conc_3['total_adjustments'] = conc_3['total_adjustments']*-1 
conc_3['total_adjustment_fees_charged'] = conc_3['total_adjustment_fees_charged']*-1
conc_3['total_adjustment_taxes'] = conc_3['total_adjustment_taxes']*-1 
conc_3.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-04-27,DAILY,"149,662,247.19","6,137,311.84","981,979.87",769.31,123.10,"21,532.94","3,449.26","786,211.23",-0.00,-0.00,"29,373.35","1,501,106.88","1,376,146.54",0.00,"141,878,205.85","141,878,205.85",-0.00
1,2022-04-27,INSTANT,"2,499,236.29","100,582.71","16,093.66",0.00,0.00,0.00,0.00,"73,857.25",-0.00,-0.00,0.00,0.00,"4,312.08",0.00,"2,304,390.59","2,304,390.59",-0.00
2,2022-04-28,DAILY,"157,161,929.36","6,394,640.36","1,023,154.05","1,157.38",185.19,"20,088.26","3,217.94","812,798.48",-0.00,-0.00,"4,359.99","1,339,480.27","1,446,583.20",0.00,"148,844,522.32","148,844,522.32",-0.00
3,2022-04-28,INSTANT,"3,103,735.21","130,942.58","20,951.34",0.00,0.00,0.00,0.00,"82,356.69",-0.00,-0.00,0.00,"4,312.08",0.00,"-3,067.88","2,873,796.68","2,873,796.68",0.00
4,2022-04-29,DAILY,"172,125,184.85","6,930,259.25","1,108,855.28","1,140.02",182.52,"21,863.79","3,502.41","973,330.43",144.00,23.04,"8,945.19","1,308,440.97","1,437,990.73",-615.84,"163,001,100.72","163,001,100.72",0.00

In [23]:
conc_3.shape

(6, 19)

In [24]:
conc_3['type'].unique()

array(['DAILY', 'INSTANT'], dtype=object)

In [25]:
data_daily = conc_3[(conc_3['type'] == 'DAILY')]
data_daily.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
0,2022-04-27,DAILY,"149,662,247.19","6,137,311.84","981,979.87",769.31,123.10,"21,532.94","3,449.26","786,211.23",-0.00,-0.00,"29,373.35","1,501,106.88","1,376,146.54",0.00,"141,878,205.85","141,878,205.85",-0.00
2,2022-04-28,DAILY,"157,161,929.36","6,394,640.36","1,023,154.05","1,157.38",185.19,"20,088.26","3,217.94","812,798.48",-0.00,-0.00,"4,359.99","1,339,480.27","1,446,583.20",0.00,"148,844,522.32","148,844,522.32",-0.00
4,2022-04-29,DAILY,"172,125,184.85","6,930,259.25","1,108,855.28","1,140.02",182.52,"21,863.79","3,502.41","973,330.43",144.00,23.04,"8,945.19","1,308,440.97","1,437,990.73",-615.84,"163,001,100.72","163,001,100.72",0.00

In [26]:
data_daily.shape

(3, 19)

In [27]:
data_instant = conc_3[(conc_3['type'] == 'INSTANT')]
data_instant.head()

,report_date_local,type,total_transactions,total_fees_charged,total_taxes,applied_fees_benefits,applied_taxes_benefits,fee_direct_deposit,taxes_direct_deposit,total_adjustments,total_adjustment_fees_charged,total_adjustment_taxes,cobranza,total_released,total_retained,cancelaciones,total_due_calculado,total_due,diferencias
1,2022-04-27,INSTANT,"2,499,236.29","100,582.71","16,093.66",0.00,0.00,0.00,0.00,"73,857.25",-0.00,-0.00,0.00,0.00,"4,312.08",0.00,"2,304,390.59","2,304,390.59",-0.00
3,2022-04-28,INSTANT,"3,103,735.21","130,942.58","20,951.34",0.00,0.00,0.00,0.00,"82,356.69",-0.00,-0.00,0.00,"4,312.08",0.00,"-3,067.88","2,873,796.68","2,873,796.68",0.00
5,2022-04-29,INSTANT,"3,859,374.71","156,443.70","25,031.08",0.00,0.00,0.00,0.00,"81,300.52",-0.00,-0.00,0.00,958.24,186.86,0.00,"3,597,370.79","3,597,370.79",-0.00

In [28]:
data_instant.shape

(3, 19)

### RELEASED SIN CLABE

In [29]:
released_sinclabe = settled_current_month[(settled_current_month['tipopago'] == 'sin CLABE')]
released_sinclabe.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, total_transactions, total_fees_charged, total_taxes, applied_fees_benefits, applied_taxes_benefits, fee_direct_deposit, taxes_direct_deposit, total_adjustments, total_adjustment_fees_charged, total_adjustment_taxes, cobranza, total_released, total_retained, tipopago, total_due, type, created_date, created_time, updated_date, updated_time, file_name, Date_file, canc_1, canc_2, cancelaciones, total_due_calculado, diferencias]
Index: []

[0 rows x 32 columns]

In [30]:
released_sinclabe.shape

(0, 32)

In [31]:
released_1 = released_sinclabe.groupby(['report_date_local']).agg({'total_released':sum}).reset_index()
released_1.head()

Empty DataFrame
Columns: [report_date_local, total_released]
Index: []

In [32]:
released_1.shape

(0, 2)

In [33]:
released_3 = released_sinclabe.groupby(['report_date_local','type']).agg({'total_released':sum}).reset_index()
released_3.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [34]:
released_3.shape

(0, 3)

In [35]:
released_3['type'].unique()

array([], dtype=object)

In [36]:
released_daily = released_3[(released_3['type'] == 'DAILY')]
released_daily.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [37]:
released_daily.shape

(0, 3)

In [38]:
released_instant = released_3[(released_3['type'] == 'INSTANT')]
released_instant.head()

Empty DataFrame
Columns: [report_date_local, type, total_released]
Index: []

In [39]:
released_instant.shape

(0, 3)

# EXCEL FINAL

In [40]:
writer = pd.ExcelWriter('FASE I. DATA POLIZA ABRIL 27-29 2022.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
conc_1.to_excel(writer, sheet_name='MONTOS REPORT_DATE',index=False)
data_daily.to_excel(writer, sheet_name='MONTOS_DAILY',index=False)
data_instant.to_excel(writer, sheet_name='MONTOS_INSTANT',index=False)
released_1.to_excel(writer, sheet_name='RELEASED REPORT_DATE',index=False)
released_daily.to_excel(writer, sheet_name='RELEASED_DAILY',index=False)
released_instant.to_excel(writer, sheet_name='RELEASED_INSTANT',index=False)
writer.close()