In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# MES AÑO DE CONCILIACIÓN

In [2]:
month_conc = 'July'
year_conc = '2023'

# RUTAS DE ACCESO

### SWAP DEL DIA

In [3]:
allfiles_disp_trad = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2023\07. JULIO\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
allfiles_disp_trad

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230701.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230702.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230703.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230704.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230705.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230706.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230707.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230708.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230709.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230710.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230711.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230712.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230713.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230714.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230715.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230716.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230717.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230718.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230719.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230720.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230721.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230722.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230723.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230724.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230725.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230726.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230727.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230728.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230729.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230730.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2023\\07. JULIO\\ARCHIVO DISPERSIONES\\Dispersión-20230731.xlsx']

### FAST PAYMENTS

In [4]:
allfiles_fp = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2023\07. JULIO\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx',recursive=False)
allfiles_fp

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-30.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2023\\07. JULIO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2023-07-31.xlsx']

# SWAP DEL DIA

In [5]:
swap_dia_total = pd.concat([pd.read_excel(f,sheet_name = 'Swap del día')
                            .assign(file_name=os.path.basename(f)) for f in allfiles_disp_trad])
swap_dia_total['Date'] = swap_dia_total["file_name"].str[-13:-5]
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'], format='%Y%m%d').dt.date
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'])
swap_dia_total.sort_values(by=['Date'],ascending=True,inplace=True)
swap_dia_total['report_date_local']= pd.to_datetime(swap_dia_total['report_date_local'])
swap_dia_total['month_conc'] = month_conc
swap_dia_total['year_conc'] = year_conc
swap_dia_total['month_report'] = swap_dia_total['report_date_local'].dt.strftime('%B')
swap_dia_total['year_report'] = swap_dia_total['report_date_local'].dt.year.astype(str)
swap_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,LEDGER_TRAD,0076dd0d-fa82-4794-a796-1b424b1b6a90,NaN,NaN,AJFFHHMWM,2023-07-01,4.79,Pago del día,BANAMEX,Guadalupe adriana mendez ayala,...,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,July,2023
75261,LEDGER_TRAD,aa541a5c-74b8-4ddf-8c2c-bfc90b940de4,NaN,NaN,A9DFNLZW4,2023-07-01,"8,250.97",Pago del día,BANCOPPEL,Monika Dominguez,...,PAID,"2023-07-01,42644264202307012380749004,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,July,2023
75260,LEDGER_TRAD,aa5418e5-ebca-43f9-951c-fc0752da0803,NaN,NaN,AW485XJ6L,2023-07-01,"2,927.43",Pago del día,BANAMEX,Gilberto Marcos Trevino Guerra,...,PAID,"2023-07-01,42644264202307012380802854,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,July,2023
75259,LEDGER_TRAD,aa5410b2-adad-412a-988b-a7889045cf63,NaN,NaN,A7M56XPG4,2023-07-01,"6,391.45",Pago del día,BBVA BANCOMER,Cristobal Munoz Ledo Rodriguez,...,PAID,"2023-07-01,42644264202307012380852858,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,July,2023
75258,LEDGER_TRAD,aa536b0a-51e7-477b-a140-7c773278c17f,NaN,NaN,A4Q2HDYRB,2023-07-01,516.48,Pago del día,BBVA BANCOMER,Humberto Bentez,...,PAID,"2023-07-01,42644264202307012380777281,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,July,2023

In [6]:
swap_dia_total.shape

(3037447, 21)

In [7]:
swap_dia_total.dtypes

type                               object
merchant_id                        object
merchant_name                      object
user_email                         object
report_id                          object
report_date_local          datetime64[ns]
total_due                         float64
tipo                               object
bank                               object
bank_account_owner_name            object
CLABE                               int64
status                             object
LINEA CEP                          object
Batch_time                         object
Banco_emisor                       object
file_name                          object
Date                       datetime64[ns]
month_conc                         object
year_conc                          object
month_report                       object
year_report                        object
dtype: object

# FAST PAYMENTS

In [8]:
fp_dia_total = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS')
                          .assign(file_name=os.path.basename(f)) for f in allfiles_fp])
fp_dia_total['Date'] = fp_dia_total["file_name"].str[-15:-5]
fp_dia_total['Date']= pd.to_datetime(fp_dia_total['Date'])
fp_dia_total['report_date_local']= pd.to_datetime(fp_dia_total['report_date_local'])
fp_dia_total['month_conc'] = month_conc
fp_dia_total['year_conc'] = year_conc
fp_dia_total['month_report'] = fp_dia_total['report_date_local'].dt.strftime('%B')
fp_dia_total['year_report'] = fp_dia_total['report_date_local'].dt.year.astype(str)
fp_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,status,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,LEDGER_FP,126a40b5-946e-4a01-87df-9d8b8d6c710c,NaN,NaN,AFWJZWZ7T,2023-06-11,8.63,Reprogramación,BANAMEX,Oscar de Jesús Contreras Madrigales,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2023-07-01.xlsx,2023-07-01,July,2023,June,2023
1,LEDGER_FP,126a40b5-946e-4a01-87df-9d8b8d6c710c,NaN,NaN,A7WC27L4P,2023-06-17,383.29,Reprogramación,BANAMEX,Oscar de Jesús Contreras Madrigales,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2023-07-01.xlsx,2023-07-01,July,2023,June,2023
2,LEDGER_FP,126a40b5-946e-4a01-87df-9d8b8d6c710c,NaN,NaN,ABFQKZY79,2023-06-18,268.31,Reprogramación,BANAMEX,Oscar de Jesús Contreras Madrigales,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2023-07-01.xlsx,2023-07-01,July,2023,June,2023
3,LEDGER_FP,126a40b5-946e-4a01-87df-9d8b8d6c710c,NaN,NaN,ADFL9JKBW,2023-06-20,479.12,Reprogramación,BANAMEX,Oscar de Jesús Contreras Madrigales,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2023-07-01.xlsx,2023-07-01,July,2023,June,2023
4,LEDGER_FP,126a40b5-946e-4a01-87df-9d8b8d6c710c,NaN,NaN,AXGHPLWPF,2023-06-23,"1,049.27",Reprogramación,BANAMEX,Oscar de Jesús Contreras Madrigales,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2023-07-01.xlsx,2023-07-01,July,2023,June,2023

In [9]:
fp_dia_total.shape

(110948, 21)

In [10]:
fp_dia_total.dtypes

type                         object
merchant_id                  object
merchant_name                object
user_email                   object
report_id                    object
report_date_local    datetime64[ns]
total_due                   float64
tipo                         object
bank                         object
swap                         object
CLABE                        object
status                       object
LINEA CEP                    object
Batch_time                   object
Banco_emisor                 object
file_name                    object
Date                 datetime64[ns]
month_conc                   object
year_conc                    object
month_report                 object
year_report                  object
dtype: object

# ALL DISPERSIONES

In [11]:
all_disp = pd.concat([swap_dia_total,fp_dia_total])
all_disp.loc[all_disp['type'].str.contains('LEDGER'), 'type'] = 'LEDGER'
all_disp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
0,LEDGER,0076dd0d-fa82-4794-a796-1b424b1b6a90,NaN,NaN,AJFFHHMWM,2023-07-01,4.79,Pago del día,BANAMEX,Guadalupe adriana mendez ayala,...,NaN,01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,July,2023,NaN
75261,LEDGER,aa541a5c-74b8-4ddf-8c2c-bfc90b940de4,NaN,NaN,A9DFNLZW4,2023-07-01,"8,250.97",Pago del día,BANCOPPEL,Monika Dominguez,...,"2023-07-01,42644264202307012380749004,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,July,2023,NaN
75260,LEDGER,aa5418e5-ebca-43f9-951c-fc0752da0803,NaN,NaN,AW485XJ6L,2023-07-01,"2,927.43",Pago del día,BANAMEX,Gilberto Marcos Trevino Guerra,...,"2023-07-01,42644264202307012380802854,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,July,2023,NaN
75259,LEDGER,aa5410b2-adad-412a-988b-a7889045cf63,NaN,NaN,A7M56XPG4,2023-07-01,"6,391.45",Pago del día,BBVA BANCOMER,Cristobal Munoz Ledo Rodriguez,...,"2023-07-01,42644264202307012380852858,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,July,2023,NaN
75258,LEDGER,aa536b0a-51e7-477b-a140-7c773278c17f,NaN,NaN,A4Q2HDYRB,2023-07-01,516.48,Pago del día,BBVA BANCOMER,Humberto Bentez,...,"2023-07-01,42644264202307012380777281,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,July,2023,NaN

In [12]:
all_disp.shape

(3148395, 22)

In [13]:
all_disp['type'].unique()

array(['LEDGER', 'DAILY', 'INSTANT'], dtype=object)

# TRADICIONAL

In [14]:
all_disp_trad = all_disp[(all_disp['type'] == 'DAILY')]
all_disp_trad.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
56777,DAILY,80cb1015-3d41-422b-929e-44029db8d55b,Motibus,leonardof@motibus.mx,H5WWYYQSN,2022-04-09,4.79,Reprogramación,BANAMEX,Leonardo Flores Martinez,...,"2023-07-01,42644264202307012380813328,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,April,2022,NaN
59173,DAILY,861b5652-321b-4cd5-a317-81bf37a2caaf,BUEN DIA GRACIAS,juliocano319@gmail.com,L53LN43MW,2022-10-26,73.79,Reprogramación,BANREGIO,julio cesar,...,"2023-07-01,42644264202307012380840093,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,October,2022,NaN
70255,DAILY,9ef544ce-2ef1-4226-96dc-48ae55ab6915,House of Bars,harcadia11@gmail.com,FC6PCWXBP,2023-03-22,19.18,Reprogramación,BBVA BANCOMER,Hector Arcadia,...,"2023-07-01,42644264202307012380744495,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,March,2023,NaN
70254,DAILY,9ef544ce-2ef1-4226-96dc-48ae55ab6915,House of Bars,harcadia11@gmail.com,VMWGN8R6R,2023-03-15,32.58,Reprogramación,BBVA BANCOMER,Hector Arcadia,...,"2023-07-01,42644264202307012380798861,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,March,2023,NaN
65362,DAILY,93f2513c-d461-47a7-9772-0e4635e424fc,Farmacia De Genricos,davidolivart@gmail.com,6F3JGKX3H,2022-11-08,123.62,Reprogramación,BANAMEX,Jose David Olivares Tapia,...,"2023-07-01,42644264202307012380795023,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,November,2022,NaN

In [15]:
all_disp_trad.shape

(1397, 22)

In [16]:
pivot_total_trad = pd.pivot_table(all_disp_trad,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_trad.reset_index(drop=False, inplace=True)
pivot_total_trad.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9776\1759428005.py:4: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_total_trad.reset_index(drop=False, inplace=True)

    type       Date        sum       len
                     total_due total_due
0  DAILY 2023-07-01 159,272.77        55
1  DAILY 2023-07-02 459,537.91       127
2  DAILY 2023-07-03  52,080.41        18
3  DAILY 2023-07-04 502,598.85        63
4  DAILY 2023-07-05 185,269.39        18

In [17]:
pivot_parcial_trad = pd.pivot_table(all_disp_trad,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_trad.reset_index(drop=False, inplace=True)
pivot_parcial_trad.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9776\3208080861.py:3: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial_trad.reset_index(drop=False, inplace=True)

         type          tipo       Date       sum                        \
                                       total_due
status                                     ERROR       PAID        All
0       DAILY  Pago del día 2023-07-01       NaN  58,173.96  58,173.96
1       DAILY  Pago del día 2023-07-02       NaN 232,794.39 232,794.39
2       DAILY  Pago del día 2023-07-03       NaN  43,017.39  43,017.39
3       DAILY  Pago del día 2023-07-04  5,509.88 438,653.67 444,163.55
4       DAILY  Pago del día 2023-07-05       NaN 175,412.55 175,412.55

             len
       total_due
status     ERROR PAID All
0            NaN 8.00   8
1            NaN 9.00   9
2            NaN 8.00   8
3           1.00 8.00   9
4            NaN 3.00   3

## CATEGORIZACIÓN DE REPROGRAMACIONES

In [18]:
swap_dia_total_repro = all_disp_trad[(all_disp_trad['tipo'] == 'Reprogramación')]
swap_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
56777,DAILY,80cb1015-3d41-422b-929e-44029db8d55b,Motibus,leonardof@motibus.mx,H5WWYYQSN,2022-04-09,4.79,Reprogramación,BANAMEX,Leonardo Flores Martinez,...,"2023-07-01,42644264202307012380813328,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,April,2022,NaN
59173,DAILY,861b5652-321b-4cd5-a317-81bf37a2caaf,BUEN DIA GRACIAS,juliocano319@gmail.com,L53LN43MW,2022-10-26,73.79,Reprogramación,BANREGIO,julio cesar,...,"2023-07-01,42644264202307012380840093,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,October,2022,NaN
70255,DAILY,9ef544ce-2ef1-4226-96dc-48ae55ab6915,House of Bars,harcadia11@gmail.com,FC6PCWXBP,2023-03-22,19.18,Reprogramación,BBVA BANCOMER,Hector Arcadia,...,"2023-07-01,42644264202307012380744495,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,March,2023,NaN
70254,DAILY,9ef544ce-2ef1-4226-96dc-48ae55ab6915,House of Bars,harcadia11@gmail.com,VMWGN8R6R,2023-03-15,32.58,Reprogramación,BBVA BANCOMER,Hector Arcadia,...,"2023-07-01,42644264202307012380798861,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,March,2023,NaN
65362,DAILY,93f2513c-d461-47a7-9772-0e4635e424fc,Farmacia De Genricos,davidolivart@gmail.com,6F3JGKX3H,2022-11-08,123.62,Reprogramación,BANAMEX,Jose David Olivares Tapia,...,"2023-07-01,42644264202307012380795023,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,November,2022,NaN

In [19]:
swap_dia_total_repro.shape

(1160, 22)

In [20]:
swap_dia_total_repro.to_excel('Reprogramaciones_daily.xlsx',index=False)

In [21]:
swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
                   & (swap_dia_total_repro['month_report'] == month_conc) 
                   & (swap_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
swap_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9776\2042991903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9776\2042991903.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
56777,DAILY,80cb1015-3d41-422b-929e-44029db8d55b,Motibus,leonardof@motibus.mx,H5WWYYQSN,2022-04-09,4.79,Reprogramación,BANAMEX,Leonardo Flores Martinez,...,01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,April,2022,NaN,repro_otro_mes
59173,DAILY,861b5652-321b-4cd5-a317-81bf37a2caaf,BUEN DIA GRACIAS,juliocano319@gmail.com,L53LN43MW,2022-10-26,73.79,Reprogramación,BANREGIO,julio cesar,...,01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,October,2022,NaN,repro_otro_mes
70255,DAILY,9ef544ce-2ef1-4226-96dc-48ae55ab6915,House of Bars,harcadia11@gmail.com,FC6PCWXBP,2023-03-22,19.18,Reprogramación,BBVA BANCOMER,Hector Arcadia,...,01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,March,2023,NaN,repro_otro_mes
70254,DAILY,9ef544ce-2ef1-4226-96dc-48ae55ab6915,House of Bars,harcadia11@gmail.com,VMWGN8R6R,2023-03-15,32.58,Reprogramación,BBVA BANCOMER,Hector Arcadia,...,01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,March,2023,NaN,repro_otro_mes
65362,DAILY,93f2513c-d461-47a7-9772-0e4635e424fc,Farmacia De Genricos,davidolivart@gmail.com,6F3JGKX3H,2022-11-08,123.62,Reprogramación,BANAMEX,Jose David Olivares Tapia,...,01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,November,2022,NaN,repro_otro_mes

In [22]:
pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro.reset_index(drop=False, inplace=True)
pivot_tipo_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9776\3187504787.py:5: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_tipo_repro.reset_index(drop=False, inplace=True)

                      type       Date             sum                 \
                                            total_due
tipo_reprogramacion                   repro_mismo_mes repro_otro_mes
0                    DAILY 2023-07-01             NaN     101,098.81
1                    DAILY 2023-07-02             NaN     226,743.52
2                    DAILY 2023-07-03             NaN       9,063.02
3                    DAILY 2023-07-04             NaN      58,435.30
4                    DAILY 2023-07-05             NaN       9,856.84

                                           len
                                     total_due
tipo_reprogramacion        All repro_mismo_mes repro_otro_mes  All
0                   101,098.81             NaN          47.00   47
1                   226,743.52             NaN         118.00  118
2                     9,063.02             NaN          10.00   10
3                    58,435.30             NaN          54.00   54
4                     9,856.84             NaN          15.00   15

# FAST PAYMENTS

In [23]:
all_disp_fp = all_disp[(all_disp['type'] == 'INSTANT')]
all_disp_fp.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
85348,INSTANT,c0f8e52e-93d2-434e-b1c0-b85a25f69bc8,Gelish inc,Flizaldechavira@gmail.com,LQT2NPV4P,2022-11-11,"1,101.98",Reprogramación,ASP INTEGRA OPC,Flor lizbeth Lizalde Chavira,...,"2023-07-01,42644264202307012380810804,40072,90...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,November,2022,NaN
44714,INSTANT,94204652-d442-4ced-a667-11b3644170d1,Atelier Hanne Engels,hengels777@gmail.com,Y3GGSG9GH,2021-06-23,"1,820.66",Reprogramación,BBVA BANCOMER,Hanne Frida Engels Mata,...,"2023-07-03,2023070340014 HDH0001480432440,4001...",01. First_batch,SANTANDER,Dispersión-20230703.xlsx,2023-07-03,July,2023,June,2021,NaN
44713,INSTANT,94204652-d442-4ced-a667-11b3644170d1,Atelier Hanne Engels,hengels777@gmail.com,MZMHZLYV4,2021-06-23,"3,162.19",Reprogramación,BBVA BANCOMER,Hanne Frida Engels Mata,...,"2023-07-03,2023070340014 HDH0001480432380,4001...",01. First_batch,SANTANDER,Dispersión-20230703.xlsx,2023-07-03,July,2023,June,2021,NaN
69204,INSTANT,e5355c4d-1c1c-49e4-b449-5ec4ec4a01c4,Artesanias Valle del Potrero,sanchezcarito740@gmail.com,MG8MN2QKQ,2022-07-03,447.74,Reprogramación,ASP INTEGRA OPC,Carol del Carmen Sanchez Morales,...,"2023-07-03,2023070340014 HDH0001479307430,4001...",01. First_batch,SANTANDER,Dispersión-20230703.xlsx,2023-07-03,July,2023,July,2022,NaN
78125,INSTANT,faca9a28-8774-46e8-a11f-f17ae3b74288,El Faro,el.faro.2.ferre@gmail.com,SQ2QR8C8Z,2022-11-11,340.18,Reprogramación,ASP INTEGRA OPC,Marco Antonio Diaz Martinez,...,"2023-07-03,42644264202307032385333839,40072,90...",02. Second_batch,BANORTE,Dispersión-20230703.xlsx,2023-07-03,July,2023,November,2022,NaN

In [24]:
all_disp_fp.shape

(1026, 22)

In [25]:
pivot_total_fp = pd.pivot_table(all_disp_fp,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_fp.reset_index(drop=False, inplace=True)
pivot_total_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9776\1055904135.py:4: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_total_fp.reset_index(drop=False, inplace=True)

      type       Date       sum       len
                      total_due total_due
0  INSTANT 2023-07-01  9,038.12        17
1  INSTANT 2023-07-02  7,933.52        16
2  INSTANT 2023-07-03  8,395.47        10
3  INSTANT 2023-07-05    189.73         1
4  INSTANT 2023-07-09      4.79         1

In [26]:
pivot_parcial_fp = pd.pivot_table(all_disp_fp,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_fp.reset_index(drop=False, inplace=True)
pivot_parcial_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9776\1899252320.py:3: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial_fp.reset_index(drop=False, inplace=True)

           type            tipo       Date       sum                    \
                                           total_due
status                                         ERROR     PAID      All
0       INSTANT  Reprogramación 2023-07-01    113.07 8,925.05 9,038.12
1       INSTANT  Reprogramación 2023-07-02  1,154.68 6,778.84 7,933.52
2       INSTANT  Reprogramación 2023-07-03       NaN 8,395.47 8,395.47
3       INSTANT  Reprogramación 2023-07-05       NaN   189.73   189.73
4       INSTANT  Reprogramación 2023-07-09      4.79      NaN     4.79

             len
       total_due
status     ERROR  PAID All
0           1.00 16.00  17
1           2.00 14.00  16
2            NaN 10.00  10
3            NaN  1.00   1
4           1.00   NaN   1

## CATEGORIZACIÓN DE REPROGRAMACIONES - FAST PAYMENTS

In [27]:
fp_dia_total_repro = all_disp_fp[(all_disp_fp['tipo'] == 'Reprogramación')]
fp_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
85348,INSTANT,c0f8e52e-93d2-434e-b1c0-b85a25f69bc8,Gelish inc,Flizaldechavira@gmail.com,LQT2NPV4P,2022-11-11,"1,101.98",Reprogramación,ASP INTEGRA OPC,Flor lizbeth Lizalde Chavira,...,"2023-07-01,42644264202307012380810804,40072,90...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,November,2022,NaN
44714,INSTANT,94204652-d442-4ced-a667-11b3644170d1,Atelier Hanne Engels,hengels777@gmail.com,Y3GGSG9GH,2021-06-23,"1,820.66",Reprogramación,BBVA BANCOMER,Hanne Frida Engels Mata,...,"2023-07-03,2023070340014 HDH0001480432440,4001...",01. First_batch,SANTANDER,Dispersión-20230703.xlsx,2023-07-03,July,2023,June,2021,NaN
44713,INSTANT,94204652-d442-4ced-a667-11b3644170d1,Atelier Hanne Engels,hengels777@gmail.com,MZMHZLYV4,2021-06-23,"3,162.19",Reprogramación,BBVA BANCOMER,Hanne Frida Engels Mata,...,"2023-07-03,2023070340014 HDH0001480432380,4001...",01. First_batch,SANTANDER,Dispersión-20230703.xlsx,2023-07-03,July,2023,June,2021,NaN
69204,INSTANT,e5355c4d-1c1c-49e4-b449-5ec4ec4a01c4,Artesanias Valle del Potrero,sanchezcarito740@gmail.com,MG8MN2QKQ,2022-07-03,447.74,Reprogramación,ASP INTEGRA OPC,Carol del Carmen Sanchez Morales,...,"2023-07-03,2023070340014 HDH0001479307430,4001...",01. First_batch,SANTANDER,Dispersión-20230703.xlsx,2023-07-03,July,2023,July,2022,NaN
78125,INSTANT,faca9a28-8774-46e8-a11f-f17ae3b74288,El Faro,el.faro.2.ferre@gmail.com,SQ2QR8C8Z,2022-11-11,340.18,Reprogramación,ASP INTEGRA OPC,Marco Antonio Diaz Martinez,...,"2023-07-03,42644264202307032385333839,40072,90...",02. Second_batch,BANORTE,Dispersión-20230703.xlsx,2023-07-03,July,2023,November,2022,NaN

In [28]:
fp_dia_total_repro.shape

(1026, 22)

In [29]:
fp_dia_total_repro.to_excel('Reprogramaciones_instant.xlsx',index=False)

In [30]:
fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
                   & (fp_dia_total_repro['month_report'] == month_conc) 
                   & (fp_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
fp_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
85348,INSTANT,c0f8e52e-93d2-434e-b1c0-b85a25f69bc8,Gelish inc,Flizaldechavira@gmail.com,LQT2NPV4P,2022-11-11,"1,101.98",Reprogramación,ASP INTEGRA OPC,Flor lizbeth Lizalde Chavira,...,01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,November,2022,NaN,repro_otro_mes
44714,INSTANT,94204652-d442-4ced-a667-11b3644170d1,Atelier Hanne Engels,hengels777@gmail.com,Y3GGSG9GH,2021-06-23,"1,820.66",Reprogramación,BBVA BANCOMER,Hanne Frida Engels Mata,...,01. First_batch,SANTANDER,Dispersión-20230703.xlsx,2023-07-03,July,2023,June,2021,NaN,repro_otro_mes
44713,INSTANT,94204652-d442-4ced-a667-11b3644170d1,Atelier Hanne Engels,hengels777@gmail.com,MZMHZLYV4,2021-06-23,"3,162.19",Reprogramación,BBVA BANCOMER,Hanne Frida Engels Mata,...,01. First_batch,SANTANDER,Dispersión-20230703.xlsx,2023-07-03,July,2023,June,2021,NaN,repro_otro_mes
69204,INSTANT,e5355c4d-1c1c-49e4-b449-5ec4ec4a01c4,Artesanias Valle del Potrero,sanchezcarito740@gmail.com,MG8MN2QKQ,2022-07-03,447.74,Reprogramación,ASP INTEGRA OPC,Carol del Carmen Sanchez Morales,...,01. First_batch,SANTANDER,Dispersión-20230703.xlsx,2023-07-03,July,2023,July,2022,NaN,repro_otro_mes
78125,INSTANT,faca9a28-8774-46e8-a11f-f17ae3b74288,El Faro,el.faro.2.ferre@gmail.com,SQ2QR8C8Z,2022-11-11,340.18,Reprogramación,ASP INTEGRA OPC,Marco Antonio Diaz Martinez,...,02. Second_batch,BANORTE,Dispersión-20230703.xlsx,2023-07-03,July,2023,November,2022,NaN,repro_otro_mes

In [31]:
pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_fp.fillna(0,inplace=True)
pivot_tipo_repro_fp.reset_index(drop=False, inplace=True)
pivot_tipo_repro_fp.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9776\4096176958.py:6: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_tipo_repro_fp.reset_index(drop=False, inplace=True)

                        type       Date            sum           \
                                             total_due
tipo_reprogramacion                     repro_otro_mes      All
0                    INSTANT 2023-07-01       9,038.12 9,038.12
1                    INSTANT 2023-07-02       7,933.52 7,933.52
2                    INSTANT 2023-07-03       8,395.47 8,395.47
3                    INSTANT 2023-07-05         189.73   189.73
4                    INSTANT 2023-07-09           4.79     4.79

                               len
                         total_due
tipo_reprogramacion repro_otro_mes All
0                               17  17
1                               16  16
2                               10  10
3                                1   1
4                                1   1

# LEDGER

In [32]:
all_disp_ledger = all_disp[(all_disp['type'] == 'LEDGER')]
all_disp_ledger.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
0,LEDGER,0076dd0d-fa82-4794-a796-1b424b1b6a90,NaN,NaN,AJFFHHMWM,2023-07-01,4.79,Pago del día,BANAMEX,Guadalupe adriana mendez ayala,...,NaN,01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,July,2023,NaN
75261,LEDGER,aa541a5c-74b8-4ddf-8c2c-bfc90b940de4,NaN,NaN,A9DFNLZW4,2023-07-01,"8,250.97",Pago del día,BANCOPPEL,Monika Dominguez,...,"2023-07-01,42644264202307012380749004,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,July,2023,NaN
75260,LEDGER,aa5418e5-ebca-43f9-951c-fc0752da0803,NaN,NaN,AW485XJ6L,2023-07-01,"2,927.43",Pago del día,BANAMEX,Gilberto Marcos Trevino Guerra,...,"2023-07-01,42644264202307012380802854,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,July,2023,NaN
75259,LEDGER,aa5410b2-adad-412a-988b-a7889045cf63,NaN,NaN,A7M56XPG4,2023-07-01,"6,391.45",Pago del día,BBVA BANCOMER,Cristobal Munoz Ledo Rodriguez,...,"2023-07-01,42644264202307012380852858,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,July,2023,NaN
75258,LEDGER,aa536b0a-51e7-477b-a140-7c773278c17f,NaN,NaN,A4Q2HDYRB,2023-07-01,516.48,Pago del día,BBVA BANCOMER,Humberto Bentez,...,"2023-07-01,42644264202307012380777281,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,July,2023,NaN

In [33]:
all_disp_ledger.shape

(3145972, 22)

In [34]:
pivot_total_ledger = pd.pivot_table(all_disp_ledger,index=['type','Date'],values=['total_due'],
                                  aggfunc = ['sum', len],
                                  margins=True)
pivot_total_ledger.reset_index(drop=False, inplace=True)
pivot_total_ledger.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9776\1348612958.py:4: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_total_ledger.reset_index(drop=False, inplace=True)

     type       Date            sum       len
                          total_due total_due
0  LEDGER 2023-07-01 275,292,102.74    118015
1  LEDGER 2023-07-02 271,065,382.94    113327
2  LEDGER 2023-07-03 203,786,839.78     81549
3  LEDGER 2023-07-04 202,919,466.87     99868
4  LEDGER 2023-07-05 203,232,387.29    101147

In [35]:
pivot_total_ledger.shape

(32, 4)

In [36]:
pivot_parcial_ledger = pd.pivot_table(all_disp_ledger,index=['type','tipo','Date'],
                               columns=['status'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial_ledger.reset_index(drop=False, inplace=True)
pivot_parcial_ledger.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9776\3013629304.py:3: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_parcial_ledger.reset_index(drop=False, inplace=True)

          type          tipo       Date          sum                 \
                                           total_due
status                                         ERROR           PAID
0       LEDGER  Pago del día 2023-07-01   682,775.31 272,258,770.60
1       LEDGER  Pago del día 2023-07-02   642,554.81 269,563,641.46
2       LEDGER  Pago del día 2023-07-03 1,076,880.46 201,237,534.21
3       LEDGER  Pago del día 2023-07-04   463,619.78 201,332,814.47
4       LEDGER  Pago del día 2023-07-05   591,117.85 201,968,985.75

                            len
                      total_due
status            All     ERROR    PAID     All
0      272,941,545.91       105  116517  116622
1      270,206,196.27       113  112585  112698
2      202,314,414.67       134   80288   80422
3      201,796,434.25       163   99160   99323
4      202,560,103.60       176  100472  100648

## CATEGORIZACION DE REPROGRAMACIONES - LEDGER

In [37]:
ledger_dia_total_repro = all_disp_ledger[(all_disp_ledger['tipo'] == 'Reprogramación')]
ledger_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,LINEA CEP,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap
75625,LEDGER,ab0743ce-f9e9-4d21-ada9-e1623a56e785,NaN,NaN,ANSHNS6D6,2023-06-27,"1,549.88",Reprogramación,SANTANDER,Aracely Alonso,...,"2023-07-01,42644264202307012380803098,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,June,2023,NaN
75794,LEDGER,ab6e98a4-9e53-4b02-9f93-c662c9c70066,NaN,NaN,A9X6S639K,2023-06-30,"1,000.41",Reprogramación,BBVA BANCOMER,Gabriela Margarita Oliva Cuevas,...,"2023-07-01,42644264202307012380853282,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,June,2023,NaN
75439,LEDGER,aaae533a-67e7-4670-8c4d-8418be43719e,NaN,NaN,AWNW6497V,2023-06-30,"1,116.35",Reprogramación,BBVA BANCOMER,Mario Antonio Garca Castaeda,...,"2023-07-01,42644264202307012380852976,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,June,2023,NaN
75438,LEDGER,aaae533a-67e7-4670-8c4d-8418be43719e,NaN,NaN,AGM78DFRR,2023-06-29,543.34,Reprogramación,BBVA BANCOMER,Mario Antonio Garca Castaeda,...,"2023-07-01,42644264202307012380777482,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,June,2023,NaN
75437,LEDGER,aaae533a-67e7-4670-8c4d-8418be43719e,NaN,NaN,AWVF4RX99,2023-06-28,736.89,Reprogramación,BBVA BANCOMER,Mario Antonio Garca Castaeda,...,"2023-07-01,42644264202307012380827955,40072,40...",01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,June,2023,NaN

In [38]:
ledger_dia_total_repro.shape

(17915, 22)

In [39]:
ledger_dia_total_repro.to_excel('Reprogramaciones_ledger.xlsx',index=False)

In [40]:
ledger_dia_total_repro.loc[(ledger_dia_total_repro['tipo'] == 'Reprogramación')
                   & (ledger_dia_total_repro['month_report'] == month_conc) 
                   & (ledger_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
ledger_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
ledger_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9776\3563945437.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ledger_dia_total_repro.loc[(ledger_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9776\3563945437.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ledger_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,Batch_time,Banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,swap,tipo_reprogramacion
75625,LEDGER,ab0743ce-f9e9-4d21-ada9-e1623a56e785,NaN,NaN,ANSHNS6D6,2023-06-27,"1,549.88",Reprogramación,SANTANDER,Aracely Alonso,...,01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,June,2023,NaN,repro_otro_mes
75794,LEDGER,ab6e98a4-9e53-4b02-9f93-c662c9c70066,NaN,NaN,A9X6S639K,2023-06-30,"1,000.41",Reprogramación,BBVA BANCOMER,Gabriela Margarita Oliva Cuevas,...,01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,June,2023,NaN,repro_otro_mes
75439,LEDGER,aaae533a-67e7-4670-8c4d-8418be43719e,NaN,NaN,AWNW6497V,2023-06-30,"1,116.35",Reprogramación,BBVA BANCOMER,Mario Antonio Garca Castaeda,...,01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,June,2023,NaN,repro_otro_mes
75438,LEDGER,aaae533a-67e7-4670-8c4d-8418be43719e,NaN,NaN,AGM78DFRR,2023-06-29,543.34,Reprogramación,BBVA BANCOMER,Mario Antonio Garca Castaeda,...,01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,June,2023,NaN,repro_otro_mes
75437,LEDGER,aaae533a-67e7-4670-8c4d-8418be43719e,NaN,NaN,AWVF4RX99,2023-06-28,736.89,Reprogramación,BBVA BANCOMER,Mario Antonio Garca Castaeda,...,01. First_batch,BANORTE,Dispersión-20230701.xlsx,2023-07-01,July,2023,June,2023,NaN,repro_otro_mes

In [41]:
pivot_tipo_repro_ledger = pd.pivot_table(ledger_dia_total_repro,index=['type','Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_ledger.fillna(0,inplace=True)
pivot_tipo_repro_ledger.reset_index(drop=False, inplace=True)
pivot_tipo_repro_ledger.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_9776\1507184451.py:6: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pivot_tipo_repro_ledger.reset_index(drop=False, inplace=True)

                       type       Date             sum                 \
                                             total_due
tipo_reprogramacion                    repro_mismo_mes repro_otro_mes
0                    LEDGER 2023-07-01            0.00   2,350,556.83
1                    LEDGER 2023-07-02       89,141.18     770,045.49
2                    LEDGER 2023-07-03      231,981.67   1,240,443.44
3                    LEDGER 2023-07-04      574,257.85     548,774.77
4                    LEDGER 2023-07-05      236,041.56     436,242.13

                                             len
                                       total_due
tipo_reprogramacion          All repro_mismo_mes repro_otro_mes   All
0                   2,350,556.83            0.00       1,393.00  1393
1                     859,186.67           41.00         588.00   629
2                   1,472,425.11           76.00       1,051.00  1127
3                   1,123,032.62           95.00         450.00   545
4                     672,283.69          141.00         358.00   499

In [42]:
pivot_tipo_repro_ledger.shape

(32, 8)

# EXCEL FINAL

In [43]:
writer = pd.ExcelWriter('FASE IV. REPROGRAMACIONES JULIO 2023.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_total_trad.to_excel(writer, sheet_name='TRADICIONAL TOTAL')
pivot_parcial_trad.to_excel(writer, sheet_name='TRADICIONAL PARCIAL')
pivot_total_fp.to_excel(writer, sheet_name='FP TOTAL')
pivot_parcial_fp.to_excel(writer, sheet_name='FP PARCIAL')
pivot_total_ledger.to_excel(writer, sheet_name='LEDGER TOTAL')
pivot_parcial_ledger.to_excel(writer, sheet_name='LEDGER PARCIAL')
pivot_tipo_repro.to_excel(writer, sheet_name='CATEGORIZACION REPRO TRAD')
pivot_tipo_repro_fp.to_excel(writer, sheet_name='CATEGORIZACION REPRO FP')
pivot_tipo_repro_ledger.to_excel(writer, sheet_name='CATEGORIZACION REPRO LEDGER')
writer.close()