In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# RUTAS

### SETTLEMENT MASTER LOG

In [2]:
sml_files = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\COMISIONISTAS\2023\02. FEBRERO\LEDGER - DB*\SML*.csv', recursive=False)
sml_files

['C:\\Users\\Cristian.Aparicio\\Documents\\COMISIONISTAS\\2023\\02. FEBRERO\\LEDGER - DB\\SML_COMISIONISTAS.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\COMISIONISTAS\\2023\\02. FEBRERO\\LEDGER - DB NO ENCONTRADOS ORIGINAL\\SML_COMISIONISTAS-2.csv']

### AP JOURNAL

In [3]:
ap_files = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\COMISIONISTAS\2023\02. FEBRERO\LEDGER - DB*\AP*.csv', recursive=False)
ap_files

['C:\\Users\\Cristian.Aparicio\\Documents\\COMISIONISTAS\\2023\\02. FEBRERO\\LEDGER - DB\\AP_JOURNAL_COMISIONISTAS.csv',
 'C:\\Users\\Cristian.Aparicio\\Documents\\COMISIONISTAS\\2023\\02. FEBRERO\\LEDGER - DB NO ENCONTRADOS ORIGINAL\\AP_JOURNAL_COMISIONISTAS-2.csv']

# DATA SETTLEMENT MASTER LOG

In [4]:
sml = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in sml_files])
sml.columns = sml.columns.str.strip().str.lower()
sml.replace('""','', regex=True, inplace=True)
sml['created_at'] = pd.to_datetime(sml['created_at']).dt.tz_localize(None)
sml['created_at_date'] =  pd.to_datetime(sml['created_at']).dt.date
sml['created_at_date'] =  pd.to_datetime(sml['created_at_date'])
sml['eff_dt'] = pd.to_datetime(sml['eff_dt']).dt.tz_localize(None)
sml['eff_dt_date'] =  pd.to_datetime(sml['eff_dt']).dt.date
sml['eff_dt_date'] =  pd.to_datetime(sml['eff_dt_date'])
sml.rename(columns={'ref_id':'transaction_id'},inplace=True)
#sml['PK'] = sml['PK'].replace('M#','',inplace=True)
sml.head()

,record_uuid,mvnt_id,created_at,eff_dt,gross_amount,fees,taxes,net_amount,mdr,msi,...,pymt_prg,transaction_id,status_code,transaction_id,receipt_no,status_code.1,status_msg,file_name,created_at_date,eff_dt_date
0,9424d762-d862-57d3-841f-1f676bfc6d86,0897c7d0-89e2-483b-9463-3470c00a3b69,2023-01-31 13:04:57,2023-02-01 01:30:00,149.00,0.00,0.00,149.00,0.00,0.00,...,REGULAR_PAYMENT,0897c7d0-89e2-483b-9463-3470c00a3b69,1,0897c7d0-89e2-483b-9463-3470c00a3b69,12rzeAX,1,Paid,SML_COMISIONISTAS.csv,2023-01-31,2023-02-01
1,cf4fafd5-dff4-5e33-bfd4-ecb910f76c04,77e57a99-8898-4121-b450-1ac7b51affec,2023-01-31 19:11:09,2023-02-01 02:00:00,"1,490.00",0.00,0.00,"1,490.00",0.00,0.00,...,REGULAR_PAYMENT,77e57a99-8898-4121-b450-1ac7b51affec,1,77e57a99-8898-4121-b450-1ac7b51affec,enEaC3O,1,Paid,SML_COMISIONISTAS.csv,2023-01-31,2023-02-01
2,79b3bdc4-2d50-5112-a4a5-da1022330bcc,5d4890a5-19c0-40e1-8388-f1057cc3d01a,2023-01-31 13:40:36,2023-02-01 01:30:00,"1,192.00",0.00,0.00,"1,192.00",0.00,0.00,...,REGULAR_PAYMENT,5d4890a5-19c0-40e1-8388-f1057cc3d01a,1,5d4890a5-19c0-40e1-8388-f1057cc3d01a,4iWRPEU,1,Paid,SML_COMISIONISTAS.csv,2023-01-31,2023-02-01
3,1d30fdd6-9f9b-594b-a90e-d91f3b0b3a1c,2fa4e7bf-0c66-4245-9a9d-f25e2a4edabd,2023-02-14 18:17:39,2023-02-15 02:00:00,"1,990.00",89.55,14.33,"1,886.12",0.00,0.04,...,REGULAR_PAYMENT,2fa4e7bf-0c66-4245-9a9d-f25e2a4edabd,1,2fa4e7bf-0c66-4245-9a9d-f25e2a4edabd,STlYFBp,1,Paid,SML_COMISIONISTAS.csv,2023-02-14,2023-02-15
4,72a27f29-5a8c-5dd5-969d-64e254ae1f8a,4c9593af-cff1-4a38-88e9-1247e958b270,2023-02-21 14:04:24,2023-02-22 01:30:00,"1,990.00",89.55,14.33,"1,886.12",0.00,0.04,...,REGULAR_PAYMENT,4c9593af-cff1-4a38-88e9-1247e958b270,1,4c9593af-cff1-4a38-88e9-1247e958b270,LIk7fW4,1,Paid,SML_COMISIONISTAS.csv,2023-02-21,2023-02-22

In [5]:
sml.shape

(229, 22)

In [6]:
sml.dtypes

record_uuid                object
mvnt_id                    object
created_at         datetime64[ns]
eff_dt             datetime64[ns]
gross_amount              float64
fees                      float64
taxes                     float64
net_amount                float64
mdr                       float64
msi                       float64
mvnt_type                  object
merchant_id                object
pymt_prg                   object
transaction_id             object
status_code                 int64
transaction_id             object
receipt_no                 object
status_code.1               int64
status_msg                 object
file_name                  object
created_at_date    datetime64[ns]
eff_dt_date        datetime64[ns]
dtype: object

In [7]:
sml_final = sml[(sml['mvnt_type'] == 'STL_PCS_RQ')]
sml_final.head()

,record_uuid,mvnt_id,created_at,eff_dt,gross_amount,fees,taxes,net_amount,mdr,msi,...,pymt_prg,transaction_id,status_code,transaction_id,receipt_no,status_code.1,status_msg,file_name,created_at_date,eff_dt_date
0,9424d762-d862-57d3-841f-1f676bfc6d86,0897c7d0-89e2-483b-9463-3470c00a3b69,2023-01-31 13:04:57,2023-02-01 01:30:00,149.00,0.00,0.00,149.00,0.00,0.00,...,REGULAR_PAYMENT,0897c7d0-89e2-483b-9463-3470c00a3b69,1,0897c7d0-89e2-483b-9463-3470c00a3b69,12rzeAX,1,Paid,SML_COMISIONISTAS.csv,2023-01-31,2023-02-01
1,cf4fafd5-dff4-5e33-bfd4-ecb910f76c04,77e57a99-8898-4121-b450-1ac7b51affec,2023-01-31 19:11:09,2023-02-01 02:00:00,"1,490.00",0.00,0.00,"1,490.00",0.00,0.00,...,REGULAR_PAYMENT,77e57a99-8898-4121-b450-1ac7b51affec,1,77e57a99-8898-4121-b450-1ac7b51affec,enEaC3O,1,Paid,SML_COMISIONISTAS.csv,2023-01-31,2023-02-01
2,79b3bdc4-2d50-5112-a4a5-da1022330bcc,5d4890a5-19c0-40e1-8388-f1057cc3d01a,2023-01-31 13:40:36,2023-02-01 01:30:00,"1,192.00",0.00,0.00,"1,192.00",0.00,0.00,...,REGULAR_PAYMENT,5d4890a5-19c0-40e1-8388-f1057cc3d01a,1,5d4890a5-19c0-40e1-8388-f1057cc3d01a,4iWRPEU,1,Paid,SML_COMISIONISTAS.csv,2023-01-31,2023-02-01
3,1d30fdd6-9f9b-594b-a90e-d91f3b0b3a1c,2fa4e7bf-0c66-4245-9a9d-f25e2a4edabd,2023-02-14 18:17:39,2023-02-15 02:00:00,"1,990.00",89.55,14.33,"1,886.12",0.00,0.04,...,REGULAR_PAYMENT,2fa4e7bf-0c66-4245-9a9d-f25e2a4edabd,1,2fa4e7bf-0c66-4245-9a9d-f25e2a4edabd,STlYFBp,1,Paid,SML_COMISIONISTAS.csv,2023-02-14,2023-02-15
4,72a27f29-5a8c-5dd5-969d-64e254ae1f8a,4c9593af-cff1-4a38-88e9-1247e958b270,2023-02-21 14:04:24,2023-02-22 01:30:00,"1,990.00",89.55,14.33,"1,886.12",0.00,0.04,...,REGULAR_PAYMENT,4c9593af-cff1-4a38-88e9-1247e958b270,1,4c9593af-cff1-4a38-88e9-1247e958b270,LIk7fW4,1,Paid,SML_COMISIONISTAS.csv,2023-02-21,2023-02-22

In [8]:
sml_final.shape

(229, 22)

# DATA AP JOURNAL

In [9]:
ap = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in ap_files])
ap.columns = ap.columns.str.strip().str.lower()
ap.replace('""','', regex=True, inplace=True)
ap['eff_dt'] =  pd.to_datetime(ap['eff_dt']).dt.tz_localize(None)
ap['eff_dt_date'] =  pd.to_datetime(ap['eff_dt']).dt.date
ap['eff_dt_date'] =  pd.to_datetime(ap['eff_dt_date'])
ap['eff_dt_time'] =  pd.to_datetime(ap['eff_dt']).dt.time
ap['movement_day'] = pd.to_datetime(ap['movement_day']).dt.tz_localize(None)
ap['created_at'] = pd.to_datetime(ap['created_at']).dt.tz_localize(None)
ap['created_at_date'] =  pd.to_datetime(ap['created_at']).dt.date
ap['created_at_date'] =  pd.to_datetime(ap['created_at_date'])
ap['request_effective_date'] = pd.to_datetime(ap['request_effective_date']).dt.tz_localize(None)
ap['slot_date'] = pd.to_datetime(ap['slot_date']).dt.tz_localize(None)
ap['identifier'] = ap['source_type'].str[:1].astype(str)
ap['INDEX'] = (ap['eff_dt_date'].astype(str).replace(' ', '',regex=True)+'-'+
               ap['identifier'].astype(str).replace(' ', '',regex=True)+'-'+
               ap['eff_dt_time'].astype(str).replace(' ', '',regex=True))
ap.sort_values(by=(['merchant_id','eff_dt']), ascending=[True,False], inplace=True)

In [13]:
ap.reset_index(inplace=True)
ap.loc[ap['source_type'] == 'DISB', 'report_id'] = ap['type_request']
ap['report_id'] = ap['report_id'].groupby(ap['merchant_id']).fillna(method='ffill')
ap.head()

,index,merchant_id,amount,created_at,currency,type_request,eff_dt,movement_day,mvnt_id,movement_type,request_effective_date,slot_date,source_type,file_name,eff_dt_date,eff_dt_time,created_at_date,identifier,INDEX,report_id
0,58,3ee0c85f-4617-4736-90a1-927a41e0deec,"-9,345.58",2023-03-08 07:12:18,MXN,AN3YK7D4G,2023-03-08 07:12:23,2023-03-08 07:12:06,3a5ea697-6f73-45e7-8e55-326a862fb558,DISB_RQ,2023-03-08 07:05:38,1969-12-31 18:00:00,DISB,AP_JOURNAL_COMISIONISTAS-2.csv,2023-03-08,07:12:23,2023-03-08,D,2023-03-08-D-07:12:23,AN3YK7D4G
1,38,3ee0c85f-4617-4736-90a1-927a41e0deec,"1,750.58",2023-03-07 22:13:05,MXN,settlement processor regular payment request,2023-03-08 03:00:00,2023-03-07 22:13:05,e715e17a-a939-48a9-953a-4587c1d3267e,REGULAR_PYMT_RQ,2023-03-08 02:30:00,2023-03-08 03:00:00,SETT,AP_JOURNAL_COMISIONISTAS-2.csv,2023-03-08,03:00:00,2023-03-07,S,2023-03-08-S-03:00:00,AN3YK7D4G
2,1,3ee0c85f-4617-4736-90a1-927a41e0deec,"2,849.00",2023-03-07 17:27:38,MXN,settlement processor regular payment request,2023-03-08 02:30:00,2023-03-07 17:27:38,eef1f458-67ed-4c48-bf62-e0a077ff8626,REGULAR_PYMT_RQ,2023-03-08 02:00:00,2023-03-08 02:30:00,SETT,AP_JOURNAL_COMISIONISTAS-2.csv,2023-03-08,02:30:00,2023-03-07,S,2023-03-08-S-02:30:00,AN3YK7D4G
3,37,3ee0c85f-4617-4736-90a1-927a41e0deec,"2,849.00",2023-03-07 19:42:39,MXN,settlement processor regular payment request,2023-03-08 02:30:00,2023-03-07 19:42:39,87922e03-2982-46b7-b214-63e56066935b,REGULAR_PYMT_RQ,2023-03-08 02:00:00,2023-03-08 02:30:00,SETT,AP_JOURNAL_COMISIONISTAS-2.csv,2023-03-08,02:30:00,2023-03-07,S,2023-03-08-S-02:30:00,AN3YK7D4G
4,41,3ee0c85f-4617-4736-90a1-927a41e0deec,199.00,2023-03-07 18:29:37,MXN,settlement processor regular payment request,2023-03-08 02:30:00,2023-03-07 18:29:37,e30e9417-5753-4aa3-9347-c17a89c661f6,REGULAR_PYMT_RQ,2023-03-08 02:00:00,2023-03-08 02:30:00,SETT,AP_JOURNAL_COMISIONISTAS-2.csv,2023-03-08,02:30:00,2023-03-07,S,2023-03-08-S-02:30:00,AN3YK7D4G

In [14]:
ap.shape

(327, 20)

In [15]:
ap.dtypes

index                              int64
merchant_id                       object
amount                           float64
created_at                datetime64[ns]
currency                          object
type_request                      object
eff_dt                    datetime64[ns]
movement_day              datetime64[ns]
mvnt_id                           object
movement_type                     object
request_effective_date    datetime64[ns]
slot_date                 datetime64[ns]
source_type                       object
file_name                         object
eff_dt_date               datetime64[ns]
eff_dt_time                       object
created_at_date           datetime64[ns]
identifier                        object
INDEX                             object
report_id                         object
dtype: object

In [16]:
ap['source_type'].unique()

array(['DISB', 'SETT', 'TOPUPS', 'RISK'], dtype=object)

In [17]:
ap['report_id'].unique()

array(['AN3YK7D4G', 'A5HY88VD5', 'AQQT6ZVQZ', 'A2WP3C55N', 'AVMYQYVJ2',
       'AVP5K39C5', 'ABYGRFYDX', 'ABDVH8LZN', 'AY4MQG7GP', 'AKWFXZW4J',
       'ANSB37DPZ', 'AWPRT8YB9', 'AFN89DL5K', 'AKWN5GP6V', 'AWHHS6PQW',
       'ANT8H5FBF', 'A65RHHSDV', 'A3N84TK87', 'AH3N7QXFJ', 'A23W5GKMX',
       'AF922W3J3', 'ATBB5R43H', 'ABSCS6PJX', 'AMJHS5YQ6', 'AGGNM4LYQ',
       'A5ZPJ3Q8J', 'ANX68DHP9', 'A9JK5FSRQ', 'AFSVQX5WG', 'ASWV5NBWW',
       'ARRLN4LH8', 'A6TYF8FVG', 'ALV4SMMRV', 'AXX9HSL2R', 'A4PZ5FHNB',
       'ATMHKF4PX', 'APWCLPX5X', 'A5NTW7L9N', 'AYD89LRMT', 'AR46PTVGF',
       'AY9GXBQPJ', 'AWNRQD7ZZ', 'ASNXPZDMG', 'AMTGDP779', 'AZNB3ZVSK',
       'AMJGPN67Y', 'A7TNRHQCW', 'AFWZCZ9N5', 'A2PQW2D8W', 'AP7BCPW5G',
       'ADY7P4JF5', 'AL2X7QCZC', 'A4NXZWB8D', 'AM73VS6V2', 'AZRPFNGMM',
       'AM9JWHKFH', 'A76NKMKWW', 'AVY359SZM', 'A3MC5X2LS', 'ASXV8PWB7',
       'AB7JKPFP9'], dtype=object)

In [18]:
ap_sett = ap[(ap['source_type'] == 'SETT')]
ap_topups = ap[(ap['source_type'] == 'TOPUPS')]
ap_disb = ap[(ap['source_type'] == 'DISB')]
ap_loan = ap[(ap['source_type'] == 'LOAN')]
ap_pymt = ap[(ap['source_type'] == 'PYMT')]
ap_risk = ap[(ap['source_type'] == 'RISK')]

In [50]:
ap_sett.shape

(229, 20)

In [51]:
ap_pymt.shape

(0, 20)

In [19]:
full_ap_txn = pd.concat([ap_sett,ap_pymt])
full_ap_txn.head()

,index,merchant_id,amount,created_at,currency,type_request,eff_dt,movement_day,mvnt_id,movement_type,request_effective_date,slot_date,source_type,file_name,eff_dt_date,eff_dt_time,created_at_date,identifier,INDEX,report_id
1,38,3ee0c85f-4617-4736-90a1-927a41e0deec,"1,750.58",2023-03-07 22:13:05,MXN,settlement processor regular payment request,2023-03-08 03:00:00,2023-03-07 22:13:05,e715e17a-a939-48a9-953a-4587c1d3267e,REGULAR_PYMT_RQ,2023-03-08 02:30:00,2023-03-08 03:00:00,SETT,AP_JOURNAL_COMISIONISTAS-2.csv,2023-03-08,03:00:00,2023-03-07,S,2023-03-08-S-03:00:00,AN3YK7D4G
2,1,3ee0c85f-4617-4736-90a1-927a41e0deec,"2,849.00",2023-03-07 17:27:38,MXN,settlement processor regular payment request,2023-03-08 02:30:00,2023-03-07 17:27:38,eef1f458-67ed-4c48-bf62-e0a077ff8626,REGULAR_PYMT_RQ,2023-03-08 02:00:00,2023-03-08 02:30:00,SETT,AP_JOURNAL_COMISIONISTAS-2.csv,2023-03-08,02:30:00,2023-03-07,S,2023-03-08-S-02:30:00,AN3YK7D4G
3,37,3ee0c85f-4617-4736-90a1-927a41e0deec,"2,849.00",2023-03-07 19:42:39,MXN,settlement processor regular payment request,2023-03-08 02:30:00,2023-03-07 19:42:39,87922e03-2982-46b7-b214-63e56066935b,REGULAR_PYMT_RQ,2023-03-08 02:00:00,2023-03-08 02:30:00,SETT,AP_JOURNAL_COMISIONISTAS-2.csv,2023-03-08,02:30:00,2023-03-07,S,2023-03-08-S-02:30:00,AN3YK7D4G
4,41,3ee0c85f-4617-4736-90a1-927a41e0deec,199.00,2023-03-07 18:29:37,MXN,settlement processor regular payment request,2023-03-08 02:30:00,2023-03-07 18:29:37,e30e9417-5753-4aa3-9347-c17a89c661f6,REGULAR_PYMT_RQ,2023-03-08 02:00:00,2023-03-08 02:30:00,SETT,AP_JOURNAL_COMISIONISTAS-2.csv,2023-03-08,02:30:00,2023-03-07,S,2023-03-08-S-02:30:00,AN3YK7D4G
5,59,3ee0c85f-4617-4736-90a1-927a41e0deec,"1,698.00",2023-03-07 14:32:48,MXN,settlement processor regular payment request,2023-03-08 02:00:00,2023-03-07 14:32:48,9588644e-82cc-4dd3-afb3-2979c520b99a,REGULAR_PYMT_RQ,2023-03-08 01:30:00,2023-03-08 02:00:00,SETT,AP_JOURNAL_COMISIONISTAS-2.csv,2023-03-08,02:00:00,2023-03-07,S,2023-03-08-S-02:00:00,AN3YK7D4G

In [20]:
full_ap_txn.shape

(229, 20)

In [71]:
full_ap_txn_final = full_ap_txn[['mvnt_id','merchant_id','report_id','movement_type','amount','eff_dt_date','created_at',
                                 'created_at_date']]
full_ap_txn_final.head()

,mvnt_id,merchant_id,report_id,movement_type,amount,eff_dt_date,created_at,created_at_date
1,e715e17a-a939-48a9-953a-4587c1d3267e,3ee0c85f-4617-4736-90a1-927a41e0deec,AN3YK7D4G,REGULAR_PYMT_RQ,"1,750.58",2023-03-08,2023-03-07 22:13:05,2023-03-07
2,eef1f458-67ed-4c48-bf62-e0a077ff8626,3ee0c85f-4617-4736-90a1-927a41e0deec,AN3YK7D4G,REGULAR_PYMT_RQ,"2,849.00",2023-03-08,2023-03-07 17:27:38,2023-03-07
3,87922e03-2982-46b7-b214-63e56066935b,3ee0c85f-4617-4736-90a1-927a41e0deec,AN3YK7D4G,REGULAR_PYMT_RQ,"2,849.00",2023-03-08,2023-03-07 19:42:39,2023-03-07
4,e30e9417-5753-4aa3-9347-c17a89c661f6,3ee0c85f-4617-4736-90a1-927a41e0deec,AN3YK7D4G,REGULAR_PYMT_RQ,199.00,2023-03-08,2023-03-07 18:29:37,2023-03-07
5,9588644e-82cc-4dd3-afb3-2979c520b99a,3ee0c85f-4617-4736-90a1-927a41e0deec,AN3YK7D4G,REGULAR_PYMT_RQ,"1,698.00",2023-03-08,2023-03-07 14:32:48,2023-03-07

In [72]:
full_ap_txn_final.shape

(229, 8)

# CRUCE: IDENTIFICACION DE REPORT_ID

In [73]:
cruce_1 = full_ap_txn_final.merge(sml_final[['mvnt_id','transaction_id','receipt_no','gross_amount','fees','taxes',
                                      'net_amount','status_code','status_msg']],on='mvnt_id',how='left')
cruce_1.head()

,mvnt_id,merchant_id,report_id,movement_type,amount,eff_dt_date,created_at,created_at_date,transaction_id,transaction_id,receipt_no,gross_amount,fees,taxes,net_amount,status_code,status_msg
0,e715e17a-a939-48a9-953a-4587c1d3267e,3ee0c85f-4617-4736-90a1-927a41e0deec,AN3YK7D4G,REGULAR_PYMT_RQ,"1,750.58",2023-03-08,2023-03-07 22:13:05,2023-03-07,e715e17a-a939-48a9-953a-4587c1d3267e,e715e17a-a939-48a9-953a-4587c1d3267e,Im66Nbu,"1,847.00",83.12,13.30,"1,750.58",1.00,Paid
1,eef1f458-67ed-4c48-bf62-e0a077ff8626,3ee0c85f-4617-4736-90a1-927a41e0deec,AN3YK7D4G,REGULAR_PYMT_RQ,"2,849.00",2023-03-08,2023-03-07 17:27:38,2023-03-07,eef1f458-67ed-4c48-bf62-e0a077ff8626,eef1f458-67ed-4c48-bf62-e0a077ff8626,jLJxKcu,"2,849.00",0.00,0.00,"2,849.00",1.00,Paid
2,87922e03-2982-46b7-b214-63e56066935b,3ee0c85f-4617-4736-90a1-927a41e0deec,AN3YK7D4G,REGULAR_PYMT_RQ,"2,849.00",2023-03-08,2023-03-07 19:42:39,2023-03-07,87922e03-2982-46b7-b214-63e56066935b,87922e03-2982-46b7-b214-63e56066935b,TTRBsqh,"2,849.00",0.00,0.00,"2,849.00",1.00,Paid
3,e30e9417-5753-4aa3-9347-c17a89c661f6,3ee0c85f-4617-4736-90a1-927a41e0deec,AN3YK7D4G,REGULAR_PYMT_RQ,199.00,2023-03-08,2023-03-07 18:29:37,2023-03-07,e30e9417-5753-4aa3-9347-c17a89c661f6,e30e9417-5753-4aa3-9347-c17a89c661f6,HkTqCgX,199.00,0.00,0.00,199.00,1.00,Paid
4,9588644e-82cc-4dd3-afb3-2979c520b99a,3ee0c85f-4617-4736-90a1-927a41e0deec,AN3YK7D4G,REGULAR_PYMT_RQ,"1,698.00",2023-03-08,2023-03-07 14:32:48,2023-03-07,9588644e-82cc-4dd3-afb3-2979c520b99a,9588644e-82cc-4dd3-afb3-2979c520b99a,rgTJlg3,"1,698.00",0.00,0.00,"1,698.00",1.00,Paid

In [74]:
cruce_1.shape

(229, 17)

In [75]:
cruce_1_not_found = cruce_1[(cruce_1['gross_amount'].isnull())]
cruce_1_not_found.head()

,mvnt_id,merchant_id,report_id,movement_type,amount,eff_dt_date,created_at,created_at_date,transaction_id,transaction_id,receipt_no,gross_amount,fees,taxes,net_amount,status_code,status_msg
35,fcfd7ea2-1e4f-493a-a2ee-5c5aac16710b,3ee0c85f-4617-4736-90a1-927a41e0deec,AKWFXZW4J,REGULAR_PYMT_RQ,"1,508.90",2023-03-01,2023-02-28 11:25:23,2023-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,4aced417-239e-4950-8316-9ac860ad623c,3ee0c85f-4617-4736-90a1-927a41e0deec,A4PZ5FHNB,REGULAR_PYMT_RQ,"1,490.00",2023-02-09,2023-02-08 17:22:59,2023-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
cruce_1_not_found.shape

(2, 17)

In [82]:
cruce_1_final = cruce_1[['merchant_id','mvnt_id','report_id','receipt_no','gross_amount','fees','taxes',
                        'net_amount','amount','msi','eff_dt_date','created_at','created_at_date','status_code','status_msg']]
cruce_1_final.rename(columns={'mvnt_id':'transaction_id'},inplace=True)
cruce_1_final.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17664\2725648348.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cruce_1_final.rename(columns={'mvnt_id':'transaction_id'},inplace=True)

,merchant_id,transaction_id,report_id,receipt_no,gross_amount,fees,taxes,net_amount,amount,eff_dt_date,created_at,created_at_date,status_code,status_msg
0,3ee0c85f-4617-4736-90a1-927a41e0deec,e715e17a-a939-48a9-953a-4587c1d3267e,AN3YK7D4G,Im66Nbu,"1,847.00",83.12,13.30,"1,750.58","1,750.58",2023-03-08,2023-03-07 22:13:05,2023-03-07,1.00,Paid
1,3ee0c85f-4617-4736-90a1-927a41e0deec,eef1f458-67ed-4c48-bf62-e0a077ff8626,AN3YK7D4G,jLJxKcu,"2,849.00",0.00,0.00,"2,849.00","2,849.00",2023-03-08,2023-03-07 17:27:38,2023-03-07,1.00,Paid
2,3ee0c85f-4617-4736-90a1-927a41e0deec,87922e03-2982-46b7-b214-63e56066935b,AN3YK7D4G,TTRBsqh,"2,849.00",0.00,0.00,"2,849.00","2,849.00",2023-03-08,2023-03-07 19:42:39,2023-03-07,1.00,Paid
3,3ee0c85f-4617-4736-90a1-927a41e0deec,e30e9417-5753-4aa3-9347-c17a89c661f6,AN3YK7D4G,HkTqCgX,199.00,0.00,0.00,199.00,199.00,2023-03-08,2023-03-07 18:29:37,2023-03-07,1.00,Paid
4,3ee0c85f-4617-4736-90a1-927a41e0deec,9588644e-82cc-4dd3-afb3-2979c520b99a,AN3YK7D4G,rgTJlg3,"1,698.00",0.00,0.00,"1,698.00","1,698.00",2023-03-08,2023-03-07 14:32:48,2023-03-07,1.00,Paid

In [83]:
cruce_1_final.shape

(229, 14)

In [84]:
cruce_1_dup = cruce_1[cruce_1.duplicated(['mvnt_id'] , keep=False)]
cruce_1_dup.head()

Empty DataFrame
Columns: [mvnt_id, merchant_id, report_id, movement_type, amount, eff_dt_date, created_at, created_at_date, transaction_id, transaction_id, receipt_no, gross_amount, fees, taxes, net_amount, status_code, status_msg]
Index: []

In [85]:
cruce_1_dup.shape

(0, 17)

In [81]:
cruce_1_final.to_excel('DATA_COMISIONISTAS_FEBRERO_2023_FALTANTES.xlsx',index=False)