In [2]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# SNOWFLAKE DATA

In [3]:
sql_prov_1 = pd.read_csv(r'G:\My Drive\Settlement\PROVISIONES\2022\01. ENERO\PROV 29 ENERO.csv',
                         dtype={'AMOUNT':float,'CLAVE_AUTORIZACION': object,'BIN':object,'LAST4':object,'ORDER_ID':object,
                                'DEVICE_ID':object})
sql_prov_2 = pd.read_csv(r'G:\My Drive\Settlement\PROVISIONES\2022\01. ENERO\PROV 30 ENERO.csv'
                         ,dtype={'AMOUNT':float,'CLAVE_AUTORIZACION': object,'BIN':object,'LAST4':object,'ORDER_ID':object,
                                 'DEVICE_ID':object})
sql_prov_3 = pd.read_csv(r'G:\My Drive\Settlement\PROVISIONES\2022\01. ENERO\PROV 31 ENERO.csv',
                         dtype={'AMOUNT':float,'CLAVE_AUTORIZACION': object,'BIN':object,'LAST4':object,'ORDER_ID':object,
                                'DEVICE_ID':object})

In [4]:
sql1 = pd.concat([sql_prov_1,sql_prov_2,sql_prov_3])
sql1.columns = sql1.columns.str.strip().str.lower()
sql1['msi'].fillna(0,inplace=True)
sql1.head()

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,report_id,report_date_local,status
0,3ac57446-1728-465f-9496-b496e8a808cd,5e635f5f-a2b9-4858-bb6a-e97fd3696827,2022-01-29,2022-01-29 06:00:01.000,PROSA,93.00,000116,557910,2178,1,589780978881,0.00,N500W4L1457,Clip Total,C9MNQ7N3F,2022-01-30,PAID
1,2966a38e-350c-46c5-8641-dfa4806138a0,e0db031b-4c54-4797-80b8-956811184202,2022-01-29,2022-01-29 06:00:01.000,PROSA,375.00,000282,491566,0307,1,267530570977,0.00,N500W134458,Clip Total,WWSGWNG3G,2022-01-30,PAID
2,39e2ad0f-c747-474c-b49d-4cbff0934b39,085fb484-56e6-4535-8b36-a0467abfc88e,2022-01-29,2022-01-29 06:00:01.000,PROSA,0.27,000117,557910,8624,1,389214862681,0.00,37303035383631350A270010,Clip Plus,SMN48CM6R,2022-01-30,PAID
3,2b929795-c478-48b8-842d-c0e6ce20e5a3,9e1f8c92-0ac0-4ad7-af71-d6ad647d7412,2022-01-29,2022-01-29 06:00:03.000,PROSA,136.00,407068,526777,7171,1,072472903586,0.00,B367C7311C09EB4FFF0832AD,Clip Plus,K5K7PXQHK,2022-01-30,PAID
4,adeecb22-1fba-4b2a-a692-f7adc792f8c9,1a249c68-39b9-4a32-a1e3-73f5be39cc7b,2022-01-29,2022-01-29 06:00:04.000,PROSA,35.00,000041,491566,8934,1,097706964555,0.00,N500W4C9271,Clip Total,G3G8RF8VF,2022-01-30,PAID

In [5]:
sql1.shape

(983689, 17)

In [6]:
all_provisiones = sql1[(sql1['status_code'] == 1)]
all_provisiones.head()

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,report_id,report_date_local,status
0,3ac57446-1728-465f-9496-b496e8a808cd,5e635f5f-a2b9-4858-bb6a-e97fd3696827,2022-01-29,2022-01-29 06:00:01.000,PROSA,93.00,000116,557910,2178,1,589780978881,0.00,N500W4L1457,Clip Total,C9MNQ7N3F,2022-01-30,PAID
1,2966a38e-350c-46c5-8641-dfa4806138a0,e0db031b-4c54-4797-80b8-956811184202,2022-01-29,2022-01-29 06:00:01.000,PROSA,375.00,000282,491566,0307,1,267530570977,0.00,N500W134458,Clip Total,WWSGWNG3G,2022-01-30,PAID
2,39e2ad0f-c747-474c-b49d-4cbff0934b39,085fb484-56e6-4535-8b36-a0467abfc88e,2022-01-29,2022-01-29 06:00:01.000,PROSA,0.27,000117,557910,8624,1,389214862681,0.00,37303035383631350A270010,Clip Plus,SMN48CM6R,2022-01-30,PAID
3,2b929795-c478-48b8-842d-c0e6ce20e5a3,9e1f8c92-0ac0-4ad7-af71-d6ad647d7412,2022-01-29,2022-01-29 06:00:03.000,PROSA,136.00,407068,526777,7171,1,072472903586,0.00,B367C7311C09EB4FFF0832AD,Clip Plus,K5K7PXQHK,2022-01-30,PAID
4,adeecb22-1fba-4b2a-a692-f7adc792f8c9,1a249c68-39b9-4a32-a1e3-73f5be39cc7b,2022-01-29,2022-01-29 06:00:04.000,PROSA,35.00,000041,491566,8934,1,097706964555,0.00,N500W4C9271,Clip Total,G3G8RF8VF,2022-01-30,PAID

In [7]:
all_provisiones.shape

(912839, 17)

In [7]:
all_provisiones['psp'].unique()

array(['PROSA', 'AMEX', 'PAYWORKS-BANORTE', 'MIT-3DS'], dtype=object)

In [8]:
all_provisiones.dtypes

merchant_id            object
transaction_id         object
date_transaction       object
created_at             object
psp                    object
amount                float64
clave_autorizacion     object
bin                    object
last4                  object
status_code             int64
order_id               object
msi                   float64
device_id              object
clip_reader            object
report_id              object
report_date_local      object
status                 object
dtype: object

# PROVISIONES BANORTE

In [9]:
provision_bnte = all_provisiones[(all_provisiones['psp'] == 'PROSA')]
provision_bnte['CONCAT'] = (provision_bnte['order_id'].astype(str).replace(' ', '',regex=True)+'-'
                            +provision_bnte['amount'].apply(np.floor).astype(str).replace(' ', '',regex=True)+'-'
                            +provision_bnte['last4'].astype(str).replace(' ', '',regex=True))
provision_bnte.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT
0,3ac57446-1728-465f-9496-b496e8a808cd,5e635f5f-a2b9-4858-bb6a-e97fd3696827,2022-01-29,2022-01-29 06:00:01.000,PROSA,93.00,000116,557910,2178,1,589780978881,0.00,N500W4L1457,Clip Total,C9MNQ7N3F,2022-01-30,PAID,589780978881-93.0-2178
1,2966a38e-350c-46c5-8641-dfa4806138a0,e0db031b-4c54-4797-80b8-956811184202,2022-01-29,2022-01-29 06:00:01.000,PROSA,375.00,000282,491566,0307,1,267530570977,0.00,N500W134458,Clip Total,WWSGWNG3G,2022-01-30,PAID,267530570977-375.0-0307
2,39e2ad0f-c747-474c-b49d-4cbff0934b39,085fb484-56e6-4535-8b36-a0467abfc88e,2022-01-29,2022-01-29 06:00:01.000,PROSA,0.27,000117,557910,8624,1,389214862681,0.00,37303035383631350A270010,Clip Plus,SMN48CM6R,2022-01-30,PAID,389214862681-0.0-8624
3,2b929795-c478-48b8-842d-c0e6ce20e5a3,9e1f8c92-0ac0-4ad7-af71-d6ad647d7412,2022-01-29,2022-01-29 06:00:03.000,PROSA,136.00,407068,526777,7171,1,072472903586,0.00,B367C7311C09EB4FFF0832AD,Clip Plus,K5K7PXQHK,2022-01-30,PAID,072472903586-136.0-7171
4,adeecb22-1fba-4b2a-a692-f7adc792f8c9,1a249c68-39b9-4a32-a1e3-73f5be39cc7b,2022-01-29,2022-01-29 06:00:04.000,PROSA,35.00,000041,491566,8934,1,097706964555,0.00,N500W4C9271,Clip Total,G3G8RF8VF,2022-01-30,PAID,097706964555-35.0-8934

In [10]:
provision_bnte.shape

(894669, 18)

### RUTAS DE ACCESO SFTP

In [11]:
name_file=["Tipo de Columna","Afiliación","Referencia","Tarjeta","Monto depositado","Comisiones","Fecha txn","Importe Bruto"
           ,"Tipo Moneda","Tipo txn","Iva","Iva por pago diferido","Iva pagado por cashback","Iva cobrado por cashback"
           ,"Comisión pagada por cashback","Comisión cobrada por cashback","Comisión por pago diferido","Monto del Cashback"
           ,"Núm Pagos","Diferimiento Inicial","Tipo de Plan","Código de Autorización","Empty","ECI","Ref. Interbancaria"
           ,"Empty.1","Empty.2","Empty.3","order_id_xpay","Ref. de Payworks","Customer_ref1","Customer_ref2","Customer_ref3"
           ,"Núm de Control"]
dtypes_file={'Importe Bruto':float,'Ref. Interbancaria': object,'Afiliación':object,'Referencia':object,'Tarjeta':object
             ,'Núm Pagos':object,'Diferimiento Inicial':object,'Tipo de Plan':object,'Código de Autorización':object
             ,'ECI':object,'order_id_xpay':object}

In [12]:
use_cols = ['Afiliación','Tipo txn','Fecha txn','Importe Bruto','Código de Autorización','Ref. Interbancaria',
            'order_id_xpay','Tarjeta','ECI']

In [13]:
sftp_prov_files = glob.glob(r'G:\My Drive\Settlement\PROVISIONES\2022\01. ENERO\SFTP\BNTE\PAYCLIP_Settlement*.csv',
                            recursive=False)
sftp_prov_files

['G:\\My Drive\\Settlement\\PROVISIONES\\2022\\01. ENERO\\SFTP\\BNTE\\PAYCLIP_Settlement_02022022_V1.csv',
 'G:\\My Drive\\Settlement\\PROVISIONES\\2022\\01. ENERO\\SFTP\\BNTE\\PAYCLIP_Settlement_01022022_V1.csv',
 'G:\\My Drive\\Settlement\\PROVISIONES\\2022\\01. ENERO\\SFTP\\BNTE\\PAYCLIP_Settlement_29012022_V1.csv',
 'G:\\My Drive\\Settlement\\PROVISIONES\\2022\\01. ENERO\\SFTP\\BNTE\\PAYCLIP_Settlement_28012022_V1.csv',
 'G:\\My Drive\\Settlement\\PROVISIONES\\2022\\01. ENERO\\SFTP\\BNTE\\PAYCLIP_Settlement_27012022_V1.csv']

In [14]:
sftp = pd.concat([pd.read_csv(f,names=name_file,dtype=dtypes_file,usecols=use_cols)
                         .assign(file_name=os.path.basename(f)) for f in sftp_prov_files])
sftp.rename(columns ={'Ref. Interbancaria':'order_id','Código de Autorización':'codigo_autorizacion'}, inplace=True)
sftp['date_file'] = sftp["file_name"].str[-15:-7]
sftp['date_file']= pd.to_datetime(sftp['date_file'], format='%d%m%Y').dt.date
sftp['date_file']= pd.to_datetime(sftp['date_file'])
sftp.sort_values(by=['date_file'],ascending=True,inplace=True)
sftp['month'] = sftp['date_file'].dt.strftime('%B')
sftp.head()

,Afiliación,Tarjeta,Fecha txn,Importe Bruto,Tipo txn,codigo_autorizacion,ECI,order_id,order_id_xpay,file_name,date_file,month
236289,08746064,4147347302,20220125,"250,000.00",SETTLED,07358D,74518992025001887460647,086443342246,NaN,PAYCLIP_Settlement_27012022_V1.csv,2022-01-27,January
78768,07927504,5256788198,20220125,"90,000.00",SETTLED,014080,75445502025229979275043,457269764245,NaN,PAYCLIP_Settlement_27012022_V1.csv,2022-01-27,January
78767,07927504,4027665053,20220125,"7,500.00",SETTLED,658904,74518992025193079275048,652604601076,NaN,PAYCLIP_Settlement_27012022_V1.csv,2022-01-27,January
78766,07927504,4915661059,20220125,"133,900.00",SETTLED,002118,74518992025221379275044,332404704856,NaN,PAYCLIP_Settlement_27012022_V1.csv,2022-01-27,January
78765,07927504,4213162296,20220125,"257,500.00",SETTLED,095536,74518992025208979275045,368936266708,NaN,PAYCLIP_Settlement_27012022_V1.csv,2022-01-27,January

In [15]:
sftp.shape

(1986011, 12)

In [16]:
sftp_fecha_deposito = sftp[(sftp['Tipo txn'] == 'BANORTE')]
sftp_fecha_deposito = sftp_fecha_deposito[['date_file', 'Importe Bruto']]
sftp_fecha_deposito.rename(columns ={'Importe Bruto': 'Fecha_deposito'},inplace=True)
sftp_fecha_deposito.head()

   date_file  Fecha_deposito
0 2022-01-27   20,220,126.00
0 2022-01-28   20,220,127.00
0 2022-01-29   20,220,128.00
0 2022-02-01   20,220,131.00
0 2022-02-02   20,220,201.00

In [17]:
sftp = sftp[(sftp['Tipo txn'] != 'BANORTE')]
sftp = sftp.merge(sftp_fecha_deposito[['date_file', 'Fecha_deposito']],on='date_file',how='left')

In [18]:
sftp['Fecha txn'] = pd.to_datetime(sftp['Fecha txn'], format='%Y%m%d').dt.date
sftp['Fecha_deposito'] = pd.to_datetime(sftp['Fecha_deposito'], format='%Y%m%d').dt.date

In [19]:
sftp['Fecha txn'] = pd.to_datetime(sftp['Fecha txn'])
sftp['Fecha_deposito'] = pd.to_datetime(sftp['Fecha_deposito'])

In [20]:
sftp['Net Amount'] = sftp['Importe Bruto']/100
sftp['LAST4'] = sftp['Tarjeta'].str[-4:].astype(str)
sftp['CONCAT'] = (sftp['order_id'].astype(str).replace(' ', '',regex=True)+'-'
                  +sftp['Net Amount'].apply(np.floor).astype(str).replace(' ', '',regex=True)+'-'
                  +sftp['LAST4'].astype(str).replace(' ', '',regex=True))
sftp['order_id'].fillna('NO EXISTE EN SFTP',inplace=True)
sftp.head()

,Afiliación,Tarjeta,Fecha txn,Importe Bruto,Tipo txn,codigo_autorizacion,ECI,order_id,order_id_xpay,file_name,date_file,month,Fecha_deposito,Net Amount,LAST4,CONCAT
0,08746064,4147347302,2022-01-25,"250,000.00",SETTLED,07358D,74518992025001887460647,086443342246,NaN,PAYCLIP_Settlement_27012022_V1.csv,2022-01-27,January,2022-01-26,"2,500.00",7302,086443342246-2500.0-7302
1,07927504,5256788198,2022-01-25,"90,000.00",SETTLED,014080,75445502025229979275043,457269764245,NaN,PAYCLIP_Settlement_27012022_V1.csv,2022-01-27,January,2022-01-26,900.00,8198,457269764245-900.0-8198
2,07927504,4027665053,2022-01-25,"7,500.00",SETTLED,658904,74518992025193079275048,652604601076,NaN,PAYCLIP_Settlement_27012022_V1.csv,2022-01-27,January,2022-01-26,75.00,5053,652604601076-75.0-5053
3,07927504,4915661059,2022-01-25,"133,900.00",SETTLED,002118,74518992025221379275044,332404704856,NaN,PAYCLIP_Settlement_27012022_V1.csv,2022-01-27,January,2022-01-26,"1,339.00",1059,332404704856-1339.0-1059
4,07927504,4213162296,2022-01-25,"257,500.00",SETTLED,095536,74518992025208979275045,368936266708,NaN,PAYCLIP_Settlement_27012022_V1.csv,2022-01-27,January,2022-01-26,"2,575.00",2296,368936266708-2575.0-2296

In [21]:
sftp.shape

(1986006, 16)

### CRUCE

In [22]:
data_status_1 = provision_bnte.merge(sftp[['order_id', 'Fecha txn', 'Fecha_deposito']],on='order_id',how='left')
data_status_1['Fecha txn'].fillna('NO ENCONTRADO EN SFTP',inplace=True)
data_status_1['Fecha_deposito'].fillna('NO ENCONTRADO EN SFTP',inplace=True)
data_status_1.drop_duplicates(subset ="CONCAT", keep = 'last', inplace = True) 
data_status_1.head()

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT,Fecha txn,Fecha_deposito
0,3ac57446-1728-465f-9496-b496e8a808cd,5e635f5f-a2b9-4858-bb6a-e97fd3696827,2022-01-29,2022-01-29 06:00:01.000,PROSA,93.00,000116,557910,2178,1,589780978881,0.00,N500W4L1457,Clip Total,C9MNQ7N3F,2022-01-30,PAID,589780978881-93.0-2178,2022-01-29 00:00:00,2022-01-31 00:00:00
1,2966a38e-350c-46c5-8641-dfa4806138a0,e0db031b-4c54-4797-80b8-956811184202,2022-01-29,2022-01-29 06:00:01.000,PROSA,375.00,000282,491566,0307,1,267530570977,0.00,N500W134458,Clip Total,WWSGWNG3G,2022-01-30,PAID,267530570977-375.0-0307,2022-01-29 00:00:00,2022-01-31 00:00:00
2,39e2ad0f-c747-474c-b49d-4cbff0934b39,085fb484-56e6-4535-8b36-a0467abfc88e,2022-01-29,2022-01-29 06:00:01.000,PROSA,0.27,000117,557910,8624,1,389214862681,0.00,37303035383631350A270010,Clip Plus,SMN48CM6R,2022-01-30,PAID,389214862681-0.0-8624,2022-01-29 00:00:00,2022-01-31 00:00:00
3,2b929795-c478-48b8-842d-c0e6ce20e5a3,9e1f8c92-0ac0-4ad7-af71-d6ad647d7412,2022-01-29,2022-01-29 06:00:03.000,PROSA,136.00,407068,526777,7171,1,072472903586,0.00,B367C7311C09EB4FFF0832AD,Clip Plus,K5K7PXQHK,2022-01-30,PAID,072472903586-136.0-7171,2022-01-29 00:00:00,2022-01-31 00:00:00
4,adeecb22-1fba-4b2a-a692-f7adc792f8c9,1a249c68-39b9-4a32-a1e3-73f5be39cc7b,2022-01-29,2022-01-29 06:00:04.000,PROSA,35.00,000041,491566,8934,1,097706964555,0.00,N500W4C9271,Clip Total,G3G8RF8VF,2022-01-30,PAID,097706964555-35.0-8934,2022-01-29 00:00:00,2022-01-31 00:00:00

In [23]:
data_status_1.shape

(894669, 20)

In [24]:
duplicates_status_1 = data_status_1[data_status_1.duplicated(['CONCAT'] , keep=False)]
duplicates_status_1.head()

Empty DataFrame
Columns: [merchant_id, transaction_id, date_transaction, created_at, psp, amount, clave_autorizacion, bin, last4, status_code, order_id, msi, device_id, clip_reader, report_id, report_date_local, status, CONCAT, Fecha txn, Fecha_deposito]
Index: []

In [25]:
duplicates_status_1.shape

(0, 20)

In [26]:
results_status_1 = data_status_1[(data_status_1['Fecha txn'] != 'NO ENCONTRADO EN SFTP')]
results_status_1.head()

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT,Fecha txn,Fecha_deposito
0,3ac57446-1728-465f-9496-b496e8a808cd,5e635f5f-a2b9-4858-bb6a-e97fd3696827,2022-01-29,2022-01-29 06:00:01.000,PROSA,93.00,000116,557910,2178,1,589780978881,0.00,N500W4L1457,Clip Total,C9MNQ7N3F,2022-01-30,PAID,589780978881-93.0-2178,2022-01-29 00:00:00,2022-01-31 00:00:00
1,2966a38e-350c-46c5-8641-dfa4806138a0,e0db031b-4c54-4797-80b8-956811184202,2022-01-29,2022-01-29 06:00:01.000,PROSA,375.00,000282,491566,0307,1,267530570977,0.00,N500W134458,Clip Total,WWSGWNG3G,2022-01-30,PAID,267530570977-375.0-0307,2022-01-29 00:00:00,2022-01-31 00:00:00
2,39e2ad0f-c747-474c-b49d-4cbff0934b39,085fb484-56e6-4535-8b36-a0467abfc88e,2022-01-29,2022-01-29 06:00:01.000,PROSA,0.27,000117,557910,8624,1,389214862681,0.00,37303035383631350A270010,Clip Plus,SMN48CM6R,2022-01-30,PAID,389214862681-0.0-8624,2022-01-29 00:00:00,2022-01-31 00:00:00
3,2b929795-c478-48b8-842d-c0e6ce20e5a3,9e1f8c92-0ac0-4ad7-af71-d6ad647d7412,2022-01-29,2022-01-29 06:00:03.000,PROSA,136.00,407068,526777,7171,1,072472903586,0.00,B367C7311C09EB4FFF0832AD,Clip Plus,K5K7PXQHK,2022-01-30,PAID,072472903586-136.0-7171,2022-01-29 00:00:00,2022-01-31 00:00:00
4,adeecb22-1fba-4b2a-a692-f7adc792f8c9,1a249c68-39b9-4a32-a1e3-73f5be39cc7b,2022-01-29,2022-01-29 06:00:04.000,PROSA,35.00,000041,491566,8934,1,097706964555,0.00,N500W4C9271,Clip Total,G3G8RF8VF,2022-01-30,PAID,097706964555-35.0-8934,2022-01-29 00:00:00,2022-01-31 00:00:00

In [27]:
results_status_1.shape

(891392, 20)

In [28]:
NA_status_1 = data_status_1[(data_status_1['Fecha txn'] == 'NO ENCONTRADO EN SFTP')]
NA_status_1.head()

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT,Fecha txn,Fecha_deposito
1858,11bd5228-26ef-471c-9066-b88f7541ae9e,4818324e-ef28-4c5b-83bf-4089cccd30ff,2022-01-29,2022-01-29 06:17:44.000,PROSA,264.00,589233,408175,8030,1,066758765072,0.00,N500W4C8008,Clip Total,ZP4GFWLMD,2022-01-30,PAID,066758765072-264.0-8030,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP
8211,ccf61394-4b48-4bcb-ad3c-fae8bfad9ff0,29a093ff-83ce-45d4-8fbf-7d791f63d69e,2022-01-29,2022-01-29 07:33:31.000,PROSA,360.00,592593,408175,8689,1,554138926487,0.00,N500W4E4405,Clip Total,9VLRHXZ7M,2022-01-30,PAID,554138926487-360.0-8689,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP
8475,7e5412ee-c6f6-4fc7-9f65-0d9ae69d9ba3,0d53bbe2-8b7a-4b06-8d90-fc3425335dfd,2022-01-29,2022-01-29 07:37:50.000,PROSA,200.00,003380,474518,3150,1,644873919632,0.00,N500W4A3621,Clip Total,Y4TLRTQ94,2022-01-30,PAID,644873919632-200.0-3150,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP
9282,7e5412ee-c6f6-4fc7-9f65-0d9ae69d9ba3,9f9a29d3-d2f1-451f-9982-92888bd7bfa2,2022-01-29,2022-01-29 07:49:21.000,PROSA,400.00,003381,474518,3150,1,951317166594,0.00,N500W4E0705,Clip Total,Y4TLRTQ94,2022-01-30,PAID,951317166594-400.0-3150,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP
13539,f36fde41-9521-4e96-92c4-93f5849c67e0,12f1395c-e358-4dea-a1eb-58fbe56b8227,2022-01-29,2022-01-29 09:08:06.000,PROSA,333.00,000654,474518,3158,1,148582572554,0.00,P52108150055,Clip Classic,PQVPKVJB3,2022-01-30,PAID,148582572554-333.0-3158,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP

In [29]:
NA_status_1.shape

(3277, 20)

### DATA FINAL

In [30]:
provision_prosa_final = pd.concat([results_status_1,NA_status_1])
provision_prosa_final['status'].fillna('RETAINED',inplace=True)
provision_prosa_final['report_date_local'].fillna('NO ENCONTRADO',inplace=True)
provision_prosa_final.head()

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT,Fecha txn,Fecha_deposito
0,3ac57446-1728-465f-9496-b496e8a808cd,5e635f5f-a2b9-4858-bb6a-e97fd3696827,2022-01-29,2022-01-29 06:00:01.000,PROSA,93.00,000116,557910,2178,1,589780978881,0.00,N500W4L1457,Clip Total,C9MNQ7N3F,2022-01-30,PAID,589780978881-93.0-2178,2022-01-29 00:00:00,2022-01-31 00:00:00
1,2966a38e-350c-46c5-8641-dfa4806138a0,e0db031b-4c54-4797-80b8-956811184202,2022-01-29,2022-01-29 06:00:01.000,PROSA,375.00,000282,491566,0307,1,267530570977,0.00,N500W134458,Clip Total,WWSGWNG3G,2022-01-30,PAID,267530570977-375.0-0307,2022-01-29 00:00:00,2022-01-31 00:00:00
2,39e2ad0f-c747-474c-b49d-4cbff0934b39,085fb484-56e6-4535-8b36-a0467abfc88e,2022-01-29,2022-01-29 06:00:01.000,PROSA,0.27,000117,557910,8624,1,389214862681,0.00,37303035383631350A270010,Clip Plus,SMN48CM6R,2022-01-30,PAID,389214862681-0.0-8624,2022-01-29 00:00:00,2022-01-31 00:00:00
3,2b929795-c478-48b8-842d-c0e6ce20e5a3,9e1f8c92-0ac0-4ad7-af71-d6ad647d7412,2022-01-29,2022-01-29 06:00:03.000,PROSA,136.00,407068,526777,7171,1,072472903586,0.00,B367C7311C09EB4FFF0832AD,Clip Plus,K5K7PXQHK,2022-01-30,PAID,072472903586-136.0-7171,2022-01-29 00:00:00,2022-01-31 00:00:00
4,adeecb22-1fba-4b2a-a692-f7adc792f8c9,1a249c68-39b9-4a32-a1e3-73f5be39cc7b,2022-01-29,2022-01-29 06:00:04.000,PROSA,35.00,000041,491566,8934,1,097706964555,0.00,N500W4C9271,Clip Total,G3G8RF8VF,2022-01-30,PAID,097706964555-35.0-8934,2022-01-29 00:00:00,2022-01-31 00:00:00

In [31]:
provision_prosa_final.shape

(894669, 20)

### PIVOT

#### REPORT_DATE_LOCAL

In [32]:
pivot_bnte_report_date_local = pd.pivot_table(provision_prosa_final,index=['date_transaction']
                                              ,columns=['report_date_local'],values=['amount']
                                              ,aggfunc=np.sum,margins=True).reset_index()
pivot_bnte_report_date_local.fillna(0,inplace=True)
pivot_bnte_report_date_local.head()

                  date_transaction       amount                                \
report_date_local                    2022-01-29     2022-01-30     2022-01-31
0                       2022-01-29 3,143,570.48 183,228,797.86   1,035,820.88
1                       2022-01-30         0.00   2,207,453.21 121,911,652.21
2                       2022-01-31         0.00           0.00   2,519,152.60
3                              All 3,143,570.48 185,436,251.07 125,466,625.69


report_date_local     2022-02-01 2022-02-02            All
0                           0.00       0.00 187,408,189.22
1                     556,875.94       0.00 124,675,981.36
2                 133,391,201.14 858,643.60 136,768,997.34
3                 133,948,077.08 858,643.60 448,853,167.92

In [33]:
pivot_bnte_report_date_local.shape

(4, 7)

#### FECHA_DEPOSITO

In [34]:
pivot_bnte_fecha_deposito = pd.pivot_table(provision_prosa_final,index=['date_transaction']
                                              ,columns=['Fecha_deposito'],values=['amount']
                                              ,aggfunc=np.sum,margins=True).reset_index()
pivot_bnte_fecha_deposito.fillna(0,inplace=True)
pivot_bnte_fecha_deposito.head()

               date_transaction              amount                      \
Fecha_deposito                  2022-01-31 00:00:00 2022-02-01 00:00:00
0                    2022-01-29      187,400,195.37                0.00
1                    2022-01-30      122,076,668.81        2,588,294.97
2                    2022-01-31                0.00      134,181,949.48
3                           All      309,476,864.18      136,770,244.45


Fecha_deposito NO ENCONTRADO EN SFTP            All
0                           7,993.85 187,408,189.22
1                          11,017.58 124,675,981.36
2                       2,587,047.86 136,768,997.34
3                       2,606,059.29 448,853,167.92

In [35]:
pivot_bnte_fecha_deposito.shape

(4, 5)

#### READER

In [36]:
pivot_reader_bnte = pd.pivot_table(provision_prosa_final,index=['Fecha_deposito','clip_reader']
                                              ,columns=['report_date_local'],values=['amount']
                                              ,aggfunc=np.sum,margins=True).reset_index(1)
pivot_reader_bnte.fillna(0,inplace=True)
pivot_reader_bnte.head()

                      clip_reader       amount                              \
report_date_local                   2022-01-29    2022-01-30    2022-01-31
Fecha_deposito
2022-01-31 00:00:00  Clip Classic   323,756.90  7,386,246.70  6,071,415.51
2022-01-31 00:00:00     Clip Plus   539,622.34 39,706,583.73 21,330,279.09
2022-01-31 00:00:00   Clip Plus 2 1,250,909.39 58,763,157.84 36,761,502.47
2022-01-31 00:00:00      Clip Pro   348,836.65 29,500,177.14 20,490,539.35
2022-01-31 00:00:00    Clip Total   680,219.20 50,071,122.61 35,700,692.32


report_date_local   2022-02-01 2022-02-02           All
Fecha_deposito
2022-01-31 00:00:00 551,802.94       0.00 14,333,222.05
2022-01-31 00:00:00       0.00       0.00 61,576,485.16
2022-01-31 00:00:00       0.00       0.00 96,775,569.70
2022-01-31 00:00:00       0.00       0.00 50,339,553.14
2022-01-31 00:00:00       0.00       0.00 86,452,034.13

In [37]:
pivot_reader_bnte.shape

(16, 7)

In [38]:
# writer = pd.ExcelWriter('SF PROVISIONES SEPTIEMBRE 2020.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})
# provision_prosa_final.to_excel(writer, sheet_name='SEPTIEMBRE BNTE', index=False)
# pivot_bnte_report_date_local.to_excel(writer, sheet_name='PIVOT BNTE')
# writer.save()

# PROVISIONES AMEX

In [39]:
provision_amex = all_provisiones[(all_provisiones['psp'] == 'AMEX')]
provision_amex['order_id'] = provision_amex['order_id'].str.upper() 
provision_amex['CONCAT'] = (provision_amex['order_id'].astype(str).replace(' ', '',regex=True)+'-'
                            +provision_amex['amount'].apply(np.floor).astype(str).replace(' ', '',regex=True)+'-'
                            +provision_amex['last4'].astype(str).replace(' ', '',regex=True))
provision_amex.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT
141,e3118fc2-645e-4365-acd2-8ed115a59446,46b9db8b-f008-4c63-baaf-be412ba484b2,2022-01-29,2022-01-29 06:01:11.000,AMEX,798.00,001475828822489,376664,3002,1,XORGM1Y8T3OQ,0.00,N500W4E1380,Clip Total,ZTZJ2FKH2,2022-01-30,PAID,XORGM1Y8T3OQ-798.0-3002
230,c2ee5d1f-6ccc-4ad1-ad67-cadf52dbebab,1d8a3b8a-5dd6-4443-9215-7ef78cc3d5d5,2022-01-29,2022-01-29 06:01:55.000,AMEX,"1,100.00",001475824972486,376785,2014,1,OEIPBRSJHRMH,0.00,N500W4E0045,Clip Total,V3FT4BNN9,2022-01-30,PAID,OEIPBRSJHRMH-1100.0-2014
236,eb925b91-d725-4c6b-9030-64bf1a1cde67,52be0807-4d96-4211-8f0d-76ee95ce797d,2022-01-29,2022-01-29 06:01:58.000,AMEX,945.00,001475833367488,371777,1001,1,LCG6ZZ2KQDPJ,0.00,37303034303730390A270008,Clip Plus,MN26VY6WQ,2022-01-30,PAID,LCG6ZZ2KQDPJ-945.0-1001
317,0a7a1d36-64ce-4771-8788-a914d1d0822f,30bf53cb-3c33-4559-8c1e-0cd240eb73ad,2022-01-29,2022-01-29 06:02:37.000,AMEX,"1,800.00",001475828835481,376703,2093,1,CQKAX4J2DFXL,0.00,N500W4H1117,Clip Total,VPYPT65RD,2022-01-30,PAID,CQKAX4J2DFXL-1800.0-2093
372,938c2e9e-fb6e-4483-8d46-eec2715cf725,a9b302aa-ddf4-4db2-aef1-895add580034,2022-01-29,2022-01-29 06:03:06.000,AMEX,"3,800.00",001475826866488,371388,7532,1,PUFDUGAJ2KZZ,0.00,N500W4A1694,Clip Total,3RW8HRKX5,2022-01-30,PAID,PUFDUGAJ2KZZ-3800.0-7532

In [40]:
provision_amex.shape

(16209, 18)

### RUTAS DE ACCESO EPA

In [41]:
epa = pd.read_csv(r'G:\My Drive\Settlement\PROVISIONES\2022\01. ENERO\SFTP\AMEX\AMEX PROVISION EPA ENERO 2022.csv')   
epa.head()

,order_id,Type,Date_process_roc,A,Total_amount_charge_roc,Svc_fee_amount_roc,Svc_fee_amount_accel_roc,roc_deposit_date,15,total_amount_bruto,fee_amount_mdr,fee_amount_msi,iva_msi,iva_mdr,bin_bank,last4_bank,INDEX_TOTAL
0,S6KNCHLFAJA3,4,2022-01-25,376702697114004****,"88,000.00",0.00,0.00,2022-01-26,0,880.00,-21.12,0.00,0.00,-3.38,376702,4004,376702_4004_S6KNCHLFAJA3_880.0
1,XU281H9VN8RF,4,2022-01-25,376700927493008****,"130,000.00",0.00,0.00,2022-01-26,0,"1,300.00",-31.20,0.00,0.00,-4.99,376700,3008,376700_3008_XU281H9VN8RF_1300.0
2,SKOBLNK92Z6H,4,2022-01-25,376676864791028****,"524,800.00",0.00,0.00,2022-01-26,0,"5,248.00",-125.95,0.00,0.00,-20.15,376676,1028,376676_1028_SKOBLNK92Z6H_5248.0
3,3VHV4C7ENPKP,4,2022-01-25,376676864791028****,"583,200.00",0.00,0.00,2022-01-26,0,"5,832.00",-139.97,0.00,0.00,-22.39,376676,1028,376676_1028_3VHV4C7ENPKP_5832.0
4,ZYAW80FWPMO7,4,2022-01-25,376679140571024****,"5,300.00",0.00,0.00,2022-01-27,0,53.00,-1.27,0.00,0.00,-0.20,376679,1024,376679_1024_ZYAW80FWPMO7_53.0

In [42]:
epa.shape

(169, 17)

In [43]:
epa.columns

Index(['order_id', 'Type', 'Date_process_roc', 'A', 'Total_amount_charge_roc',
       'Svc_fee_amount_roc', 'Svc_fee_amount_accel_roc', 'roc_deposit_date',
       '15', 'total_amount_bruto', 'fee_amount_mdr', 'fee_amount_msi',
       'iva_msi', 'iva_mdr', 'bin_bank', 'last4_bank', 'INDEX_TOTAL'],
      dtype='object')

### DATA FINAL

In [44]:
provision_amex_1 = provision_amex.merge(epa[['order_id','Date_process_roc','roc_deposit_date']]
                                        ,on='order_id',how='left')
#provision_amex_final.fillna('RETAINED',inplace=True)
provision_amex_1.rename(columns ={'Date_process_roc': 'date_process','roc_deposit_date': 'deposit_date'},inplace=True)
provision_amex_1['date_process'].fillna('NO ENCONTRADO EN EPA',inplace=True)
provision_amex_1['deposit_date'].fillna('NO ENCONTRADO EN EPA',inplace=True)
provision_amex_1.head()

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT,date_process,deposit_date
0,e3118fc2-645e-4365-acd2-8ed115a59446,46b9db8b-f008-4c63-baaf-be412ba484b2,2022-01-29,2022-01-29 06:01:11.000,AMEX,798.00,001475828822489,376664,3002,1,XORGM1Y8T3OQ,0.00,N500W4E1380,Clip Total,ZTZJ2FKH2,2022-01-30,PAID,XORGM1Y8T3OQ-798.0-3002,NO ENCONTRADO EN EPA,NO ENCONTRADO EN EPA
1,c2ee5d1f-6ccc-4ad1-ad67-cadf52dbebab,1d8a3b8a-5dd6-4443-9215-7ef78cc3d5d5,2022-01-29,2022-01-29 06:01:55.000,AMEX,"1,100.00",001475824972486,376785,2014,1,OEIPBRSJHRMH,0.00,N500W4E0045,Clip Total,V3FT4BNN9,2022-01-30,PAID,OEIPBRSJHRMH-1100.0-2014,NO ENCONTRADO EN EPA,NO ENCONTRADO EN EPA
2,eb925b91-d725-4c6b-9030-64bf1a1cde67,52be0807-4d96-4211-8f0d-76ee95ce797d,2022-01-29,2022-01-29 06:01:58.000,AMEX,945.00,001475833367488,371777,1001,1,LCG6ZZ2KQDPJ,0.00,37303034303730390A270008,Clip Plus,MN26VY6WQ,2022-01-30,PAID,LCG6ZZ2KQDPJ-945.0-1001,NO ENCONTRADO EN EPA,NO ENCONTRADO EN EPA
3,0a7a1d36-64ce-4771-8788-a914d1d0822f,30bf53cb-3c33-4559-8c1e-0cd240eb73ad,2022-01-29,2022-01-29 06:02:37.000,AMEX,"1,800.00",001475828835481,376703,2093,1,CQKAX4J2DFXL,0.00,N500W4H1117,Clip Total,VPYPT65RD,2022-01-30,PAID,CQKAX4J2DFXL-1800.0-2093,NO ENCONTRADO EN EPA,NO ENCONTRADO EN EPA
4,938c2e9e-fb6e-4483-8d46-eec2715cf725,a9b302aa-ddf4-4db2-aef1-895add580034,2022-01-29,2022-01-29 06:03:06.000,AMEX,"3,800.00",001475826866488,371388,7532,1,PUFDUGAJ2KZZ,0.00,N500W4A1694,Clip Total,3RW8HRKX5,2022-01-30,PAID,PUFDUGAJ2KZZ-3800.0-7532,NO ENCONTRADO EN EPA,NO ENCONTRADO EN EPA

In [45]:
provision_amex_1.shape

(16209, 20)

In [46]:
results_amex_final = provision_amex_1[(provision_amex_1['deposit_date'] != 'NO ENCONTRADO EN EPA')]
results_amex_final.head()

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT,date_process,deposit_date
8,8f080f9f-23be-4738-9073-3758a7c5d0b7,7e61afed-9aa7-43ec-aba9-475029ab76b3,2022-01-29,2022-01-29 06:04:24.000,AMEX,"1,248.00",001475833386488,376700,1005,1,ZENCLTKIKJGF,0.00,37303031373832370A270006,Clip Plus,3V4H7V2LK,2022-01-30,PAID,ZENCLTKIKJGF-1248.0-1005,2022-01-29,2022-02-01
531,e67b7e4a-f488-4c79-9510-9b208bbfb8f7,2acb9f8b-7ece-4cd2-9d98-2f4c15c9b4a6,2022-01-29,2022-01-29 13:54:35.000,AMEX,600.00,001475864665487,376720,6007,1,QRVU5KRIGZUV,0.00,37303031313936370A270004,Clip Plus,ZMK3ZRQYL,2022-01-30,PAID,QRVU5KRIGZUV-600.0-6007,2022-01-29,2022-02-01
1027,3bdf6fa0-adf4-4d76-8d3f-3d710407219f,3262f812-996e-487b-9927-55241f2bece0,2022-01-29,2022-01-29 16:40:30.000,AMEX,121.00,001475952601485,371775,2009,1,6VPLBG9AIOVK,0.00,N500W121471,Clip Total,MT8PWM4CM,2022-01-30,PAID,6VPLBG9AIOVK-121.0-2009,2022-01-29,2022-02-01
1949,c59caeca-590e-4028-beb1-b1bcc7809716,5730c5f2-bcfd-4085-bb6a-365cd8e60f53,2022-01-29,2022-01-29 18:37:09.000,AMEX,"1,490.00",001476042943481,370787,3003,1,O0J008LOY6JU,0.00,A36882700C09ED7FFF09245C97,Clip Plus 2,4BQLPPXRV,2022-01-30,PAID,O0J008LOY6JU-1490.0-3003,2022-01-29,2022-02-01
2039,3bdf6fa0-adf4-4d76-8d3f-3d710407219f,14688231-6d17-4a8f-85e7-1179e64cf3d4,2022-01-29,2022-01-29 18:47:54.000,AMEX,75.00,001476053552486,371774,2004,1,XS9ZX9X3PNMS,0.00,N500W121471,Clip Total,MT8PWM4CM,2022-01-30,PAID,XS9ZX9X3PNMS-75.0-2004,2022-01-29,2022-02-01

In [47]:
results_amex_final.shape

(55, 20)

In [48]:
results_amex_final['date_process'] = pd.to_datetime(results_amex_final['date_process'])
results_amex_final['deposit_date'] = pd.to_datetime(results_amex_final['deposit_date'])

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [49]:
results_amex_final.head()

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT,date_process,deposit_date
8,8f080f9f-23be-4738-9073-3758a7c5d0b7,7e61afed-9aa7-43ec-aba9-475029ab76b3,2022-01-29,2022-01-29 06:04:24.000,AMEX,"1,248.00",001475833386488,376700,1005,1,ZENCLTKIKJGF,0.00,37303031373832370A270006,Clip Plus,3V4H7V2LK,2022-01-30,PAID,ZENCLTKIKJGF-1248.0-1005,2022-01-29,2022-02-01
531,e67b7e4a-f488-4c79-9510-9b208bbfb8f7,2acb9f8b-7ece-4cd2-9d98-2f4c15c9b4a6,2022-01-29,2022-01-29 13:54:35.000,AMEX,600.00,001475864665487,376720,6007,1,QRVU5KRIGZUV,0.00,37303031313936370A270004,Clip Plus,ZMK3ZRQYL,2022-01-30,PAID,QRVU5KRIGZUV-600.0-6007,2022-01-29,2022-02-01
1027,3bdf6fa0-adf4-4d76-8d3f-3d710407219f,3262f812-996e-487b-9927-55241f2bece0,2022-01-29,2022-01-29 16:40:30.000,AMEX,121.00,001475952601485,371775,2009,1,6VPLBG9AIOVK,0.00,N500W121471,Clip Total,MT8PWM4CM,2022-01-30,PAID,6VPLBG9AIOVK-121.0-2009,2022-01-29,2022-02-01
1949,c59caeca-590e-4028-beb1-b1bcc7809716,5730c5f2-bcfd-4085-bb6a-365cd8e60f53,2022-01-29,2022-01-29 18:37:09.000,AMEX,"1,490.00",001476042943481,370787,3003,1,O0J008LOY6JU,0.00,A36882700C09ED7FFF09245C97,Clip Plus 2,4BQLPPXRV,2022-01-30,PAID,O0J008LOY6JU-1490.0-3003,2022-01-29,2022-02-01
2039,3bdf6fa0-adf4-4d76-8d3f-3d710407219f,14688231-6d17-4a8f-85e7-1179e64cf3d4,2022-01-29,2022-01-29 18:47:54.000,AMEX,75.00,001476053552486,371774,2004,1,XS9ZX9X3PNMS,0.00,N500W121471,Clip Total,MT8PWM4CM,2022-01-30,PAID,XS9ZX9X3PNMS-75.0-2004,2022-01-29,2022-02-01

In [50]:
results_amex_final.shape

(55, 20)

### PIVOT

#### REPORT_DATE_LOCAL

In [51]:
pivot_amex_report_date_local = pd.pivot_table(results_amex_final,index=['date_transaction']
                                              ,columns=['report_date_local'],values=['amount']
                                              ,aggfunc=np.sum,margins=True).reset_index()
pivot_amex_report_date_local.fillna(0,inplace=True)
pivot_amex_report_date_local.head()

                  date_transaction     amount                        \
report_date_local                  2022-01-29 2022-01-30 2022-01-31
0                       2022-01-29   1,071.20  18,406.02       0.00
1                       2022-01-30       0.00       0.00  27,818.53
2                       2022-01-31       0.00       0.00       0.00
3                              All   1,071.20  18,406.02  27,818.53


report_date_local 2022-02-01       All
0                       0.00 19,477.22
1                       0.00 27,818.53
2                  27,589.70 27,589.70
3                  27,589.70 74,885.45

In [52]:
pivot_amex_report_date_local.shape

(4, 6)

#### FECHA_DEPOSITO

In [53]:
pivot_amex_fecha_deposito = pd.pivot_table(results_amex_final,index=['date_transaction']
                                              ,columns=['deposit_date'],values=['amount']
                                              ,aggfunc=np.sum,margins=True).reset_index()
pivot_amex_fecha_deposito.fillna(0,inplace=True)
pivot_amex_fecha_deposito.head()

             date_transaction              amount                      \
deposit_date                  2022-02-01 00:00:00 2022-02-02 00:00:00
0                  2022-01-29           19,477.22                0.00
1                  2022-01-30           27,518.53              300.00
2                  2022-01-31                0.00           27,589.70
3                         All           46,995.75           27,889.70


deposit_date       All
0            19,477.22
1            27,818.53
2            27,589.70
3            74,885.45

In [54]:
pivot_amex_fecha_deposito.shape

(4, 4)

#### READER

In [55]:
pivot_reader_amex = pd.pivot_table(results_amex_final,index=['deposit_date','clip_reader']
                                              ,columns=['report_date_local'],values=['amount']
                                              ,aggfunc=np.sum,margins=True).reset_index(1)
pivot_reader_amex.fillna(0,inplace=True)
pivot_reader_amex.head()

                      clip_reader     amount                                   \
report_date_local                 2022-01-29 2022-01-30 2022-01-31 2022-02-01
deposit_date
2022-02-01 00:00:00  Clip Classic   1,071.20       0.00       0.00       0.00
2022-02-01 00:00:00     Clip Plus       0.00   8,318.30  13,481.53       0.00
2022-02-01 00:00:00   Clip Plus 2       0.00   3,025.00   2,881.00       0.00
2022-02-01 00:00:00      Clip Pro       0.00   6,866.72  10,591.00       0.00
2022-02-01 00:00:00    Clip Total       0.00     196.00     565.00       0.00


report_date_local         All
deposit_date
2022-02-01 00:00:00  1,071.20
2022-02-01 00:00:00 21,799.83
2022-02-01 00:00:00  5,906.00
2022-02-01 00:00:00 17,457.72
2022-02-01 00:00:00    761.00

In [56]:
pivot_reader_amex.shape

(11, 6)

In [57]:
# book = load_workbook('SF PROVISIONES SEPTIEMBRE 2020.xlsx')
# writer = pd.ExcelWriter('SF PROVISIONES SEPTIEMBRE 2020.xlsx', engine='openpyxl', options={'encoding':'utf-8'})
# writer.book = book
# provision_amex_final.to_excel(writer, sheet_name='SEPTIEMBRE AMEX', index=False)
# writer.save()
# writer.close()

# PROVISIONES OPTBLUE

In [58]:
provision_optb = provision_amex_1[(provision_amex_1['deposit_date'] == 'NO ENCONTRADO EN EPA')]
provision_optb['order_id'] = provision_optb['order_id'].str.upper() 
provision_optb['CONCAT'] = provision_optb['order_id'].astype(str).replace(' ', '',regex=True)+'-'+provision_optb['amount'].apply(np.floor).astype(str).replace(' ', '',regex=True)+'-'+provision_optb['last4'].astype(str).replace(' ', '',regex=True)
provision_optb.drop(['date_process','deposit_date'],axis=1,inplace=True)
provision_optb.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT
0,e3118fc2-645e-4365-acd2-8ed115a59446,46b9db8b-f008-4c63-baaf-be412ba484b2,2022-01-29,2022-01-29 06:01:11.000,AMEX,798.00,001475828822489,376664,3002,1,XORGM1Y8T3OQ,0.00,N500W4E1380,Clip Total,ZTZJ2FKH2,2022-01-30,PAID,XORGM1Y8T3OQ-798.0-3002
1,c2ee5d1f-6ccc-4ad1-ad67-cadf52dbebab,1d8a3b8a-5dd6-4443-9215-7ef78cc3d5d5,2022-01-29,2022-01-29 06:01:55.000,AMEX,"1,100.00",001475824972486,376785,2014,1,OEIPBRSJHRMH,0.00,N500W4E0045,Clip Total,V3FT4BNN9,2022-01-30,PAID,OEIPBRSJHRMH-1100.0-2014
2,eb925b91-d725-4c6b-9030-64bf1a1cde67,52be0807-4d96-4211-8f0d-76ee95ce797d,2022-01-29,2022-01-29 06:01:58.000,AMEX,945.00,001475833367488,371777,1001,1,LCG6ZZ2KQDPJ,0.00,37303034303730390A270008,Clip Plus,MN26VY6WQ,2022-01-30,PAID,LCG6ZZ2KQDPJ-945.0-1001
3,0a7a1d36-64ce-4771-8788-a914d1d0822f,30bf53cb-3c33-4559-8c1e-0cd240eb73ad,2022-01-29,2022-01-29 06:02:37.000,AMEX,"1,800.00",001475828835481,376703,2093,1,CQKAX4J2DFXL,0.00,N500W4H1117,Clip Total,VPYPT65RD,2022-01-30,PAID,CQKAX4J2DFXL-1800.0-2093
4,938c2e9e-fb6e-4483-8d46-eec2715cf725,a9b302aa-ddf4-4db2-aef1-895add580034,2022-01-29,2022-01-29 06:03:06.000,AMEX,"3,800.00",001475826866488,371388,7532,1,PUFDUGAJ2KZZ,0.00,N500W4A1694,Clip Total,3RW8HRKX5,2022-01-30,PAID,PUFDUGAJ2KZZ-3800.0-7532

In [59]:
provision_optb.shape

(16154, 18)

### RUTAS DE ACCERSO GRRCN

In [60]:
opt = pd.read_csv(r'G:\My Drive\Settlement\PROVISIONES\2022\01. ENERO\SFTP\AMEX\AMEX PROVISION OPTBLUE ENERO 2022.csv')   
opt.head()

,1,2,3,4,fecha_pago,6,numero_establecimiento,fecha_presentacion,fecha_procesamiento,10,...,Monto_primera_cuota,Monto_cuota_siguiente,Monto_servicio,Monto_aceleracion,last4_bank,bin_bank,INDEX_TOTAL,INDEX_PARCIAL,index_comisiones,index_comisiones_industria
0,TRANSACTN,8138352885,2,240042018,2022-01-25,MXN,8138464136,2022-01-24,2022-01-24,25014,...,0.00,0.00,0.00,0.00,8839,379180,379180_8839_KVWQXZJP7Y5D_140.0,379180_8839_552762_140.0,OPTBLUE_0,8138464136_OPTBLUE
1,TRANSACTN,8138352885,2,240042018,2022-01-25,MXN,8138464136,2022-01-24,2022-01-24,25014,...,0.00,0.00,0.00,0.00,1009,372754,372754_1009_NFY9X3R3VMM5_955.0,372754_1009_860082_955.0,OPTBLUE_0,8138464136_OPTBLUE
2,TRANSACTN,8138352885,2,240042018,2022-01-25,MXN,8138464177,2022-01-24,2022-01-24,25020,...,0.00,0.00,0.00,0.00,1001,374988,374988_1001_MCZGWFDOJRMT_4791.05,374988_1001_838700_4791.05,OPTBLUE_0,8138464177_OPTBLUE
3,TRANSACTN,8138352885,2,240042018,2022-01-25,MXN,8138464227,2022-01-24,2022-01-24,25013,...,0.00,0.00,0.00,0.00,1009,376703,376703_1009_AYEKKVWUPF37_300.0,376703_1009_815615_300.0,OPTBLUE_0,8138464227_OPTBLUE
4,TRANSACTN,8138352885,2,240042018,2022-01-25,MXN,8138464227,2022-01-24,2022-01-24,25013,...,0.00,0.00,0.00,0.00,1001,376718,376718_1001_TR6Z7IOEMCN1_100.0,376718_1001_802809_100.0,OPTBLUE_0,8138464227_OPTBLUE

In [61]:
opt.shape

(41874, 53)

In [62]:
opt.columns

Index(['1', '2', '3', '4', 'fecha_pago', '6', 'numero_establecimiento',
       'fecha_presentacion', 'fecha_procesamiento', '10', '11', '12',
       'order_id', '14', 'no_tarjeta', '16', '17', '18', 'fecha_transaccion',
       'hora_transaccion', 'numero_transaccion', 'codigo_aprobacion',
       'numero_terminal', '24', '25', 'referencia_adquiriente', '27', '28',
       '29', '30', '31', '32', 'rechazo_amex', '34', '35', 'cantidad_cuotas',
       'numero_cuota', '38', '39', '40', '41', 'Monto_bruto_presentacion',
       'Monto_transaccion', 'Monto_primera_cuota', 'Monto_cuota_siguiente',
       'Monto_servicio', 'Monto_aceleracion', 'last4_bank', 'bin_bank',
       'INDEX_TOTAL', 'INDEX_PARCIAL', 'index_comisiones',
       'index_comisiones_industria'],
      dtype='object')

### DATA FINAL

In [63]:
provision_optb_final = provision_optb.merge(opt[['order_id','fecha_transaccion','fecha_pago']]
                                        ,on='order_id',how='left')
#provision_amex_final.fillna('RETAINED',inplace=True)
provision_optb_final.rename(columns ={'Date_process_roc': 'date_process','roc_deposit_date': 'deposit_date'},inplace=True)
provision_optb_final.head()

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT,fecha_transaccion,fecha_pago
0,e3118fc2-645e-4365-acd2-8ed115a59446,46b9db8b-f008-4c63-baaf-be412ba484b2,2022-01-29,2022-01-29 06:01:11.000,AMEX,798.00,001475828822489,376664,3002,1,XORGM1Y8T3OQ,0.00,N500W4E1380,Clip Total,ZTZJ2FKH2,2022-01-30,PAID,XORGM1Y8T3OQ-798.0-3002,2022-01-29,2022-01-31
1,c2ee5d1f-6ccc-4ad1-ad67-cadf52dbebab,1d8a3b8a-5dd6-4443-9215-7ef78cc3d5d5,2022-01-29,2022-01-29 06:01:55.000,AMEX,"1,100.00",001475824972486,376785,2014,1,OEIPBRSJHRMH,0.00,N500W4E0045,Clip Total,V3FT4BNN9,2022-01-30,PAID,OEIPBRSJHRMH-1100.0-2014,2022-01-29,2022-01-31
2,eb925b91-d725-4c6b-9030-64bf1a1cde67,52be0807-4d96-4211-8f0d-76ee95ce797d,2022-01-29,2022-01-29 06:01:58.000,AMEX,945.00,001475833367488,371777,1001,1,LCG6ZZ2KQDPJ,0.00,37303034303730390A270008,Clip Plus,MN26VY6WQ,2022-01-30,PAID,LCG6ZZ2KQDPJ-945.0-1001,2022-01-29,2022-01-31
3,0a7a1d36-64ce-4771-8788-a914d1d0822f,30bf53cb-3c33-4559-8c1e-0cd240eb73ad,2022-01-29,2022-01-29 06:02:37.000,AMEX,"1,800.00",001475828835481,376703,2093,1,CQKAX4J2DFXL,0.00,N500W4H1117,Clip Total,VPYPT65RD,2022-01-30,PAID,CQKAX4J2DFXL-1800.0-2093,2022-01-29,2022-01-31
4,938c2e9e-fb6e-4483-8d46-eec2715cf725,a9b302aa-ddf4-4db2-aef1-895add580034,2022-01-29,2022-01-29 06:03:06.000,AMEX,"3,800.00",001475826866488,371388,7532,1,PUFDUGAJ2KZZ,0.00,N500W4A1694,Clip Total,3RW8HRKX5,2022-01-30,PAID,PUFDUGAJ2KZZ-3800.0-7532,2022-01-29,2022-01-31

In [64]:
provision_optb_final['fecha_pago'] = pd.to_datetime(provision_optb_final['fecha_pago'])
provision_optb_final['fecha_transaccion'] = pd.to_datetime(provision_optb_final['fecha_transaccion'])

In [65]:
provision_optb_final.head()

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT,fecha_transaccion,fecha_pago
0,e3118fc2-645e-4365-acd2-8ed115a59446,46b9db8b-f008-4c63-baaf-be412ba484b2,2022-01-29,2022-01-29 06:01:11.000,AMEX,798.00,001475828822489,376664,3002,1,XORGM1Y8T3OQ,0.00,N500W4E1380,Clip Total,ZTZJ2FKH2,2022-01-30,PAID,XORGM1Y8T3OQ-798.0-3002,2022-01-29,2022-01-31
1,c2ee5d1f-6ccc-4ad1-ad67-cadf52dbebab,1d8a3b8a-5dd6-4443-9215-7ef78cc3d5d5,2022-01-29,2022-01-29 06:01:55.000,AMEX,"1,100.00",001475824972486,376785,2014,1,OEIPBRSJHRMH,0.00,N500W4E0045,Clip Total,V3FT4BNN9,2022-01-30,PAID,OEIPBRSJHRMH-1100.0-2014,2022-01-29,2022-01-31
2,eb925b91-d725-4c6b-9030-64bf1a1cde67,52be0807-4d96-4211-8f0d-76ee95ce797d,2022-01-29,2022-01-29 06:01:58.000,AMEX,945.00,001475833367488,371777,1001,1,LCG6ZZ2KQDPJ,0.00,37303034303730390A270008,Clip Plus,MN26VY6WQ,2022-01-30,PAID,LCG6ZZ2KQDPJ-945.0-1001,2022-01-29,2022-01-31
3,0a7a1d36-64ce-4771-8788-a914d1d0822f,30bf53cb-3c33-4559-8c1e-0cd240eb73ad,2022-01-29,2022-01-29 06:02:37.000,AMEX,"1,800.00",001475828835481,376703,2093,1,CQKAX4J2DFXL,0.00,N500W4H1117,Clip Total,VPYPT65RD,2022-01-30,PAID,CQKAX4J2DFXL-1800.0-2093,2022-01-29,2022-01-31
4,938c2e9e-fb6e-4483-8d46-eec2715cf725,a9b302aa-ddf4-4db2-aef1-895add580034,2022-01-29,2022-01-29 06:03:06.000,AMEX,"3,800.00",001475826866488,371388,7532,1,PUFDUGAJ2KZZ,0.00,N500W4A1694,Clip Total,3RW8HRKX5,2022-01-30,PAID,PUFDUGAJ2KZZ-3800.0-7532,2022-01-29,2022-01-31

In [66]:
provision_optb_final.shape

(16154, 20)

In [67]:
optb_not_found = provision_optb_final[(provision_optb_final['fecha_pago'] == 'NO ENCONTRADO EN EPA')]
optb_not_found.head()

Empty DataFrame
Columns: [merchant_id, transaction_id, date_transaction, created_at, psp, amount, clave_autorizacion, bin, last4, status_code, order_id, msi, device_id, clip_reader, report_id, report_date_local, status, CONCAT, fecha_transaccion, fecha_pago]
Index: []

In [68]:
optb_not_found.shape

(0, 20)

### PIVOT

#### REPORT DATE LOCAL

In [69]:
pivot_optb_report_date_local = pd.pivot_table(provision_optb_final,index=['date_transaction']
                                              ,columns=['report_date_local'],values=['amount']
                                              ,aggfunc=np.sum,margins=True).reset_index()
pivot_optb_report_date_local.fillna(0,inplace=True)
pivot_optb_report_date_local.head()

                  date_transaction     amount                              \
report_date_local                  2022-01-29    2022-01-30    2022-01-31
0                       2022-01-29 164,691.74 14,469,659.60     62,120.48
1                       2022-01-30       0.00     61,725.08 10,113,208.28
2                       2022-01-31       0.00          0.00    125,369.82
3                              All 164,691.74 14,531,384.68 10,300,698.58


report_date_local    2022-02-01 2022-02-02           All
0                          0.00       0.00 14,696,471.82
1                     68,821.01       0.00 10,243,754.37
2                 11,795,365.37 136,729.16 12,057,464.35
3                 11,864,186.38 136,729.16 36,997,690.54

In [70]:
pivot_optb_report_date_local.shape

(4, 7)

#### FECHA DEPOSITO

In [71]:
pivot_optb_fecha_deposito = pd.pivot_table(provision_optb_final,index=['date_transaction']
                                              ,columns=['fecha_pago'],values=['amount']
                                              ,aggfunc=np.sum,margins=True).reset_index()
pivot_optb_fecha_deposito.fillna(0,inplace=True)
pivot_optb_fecha_deposito.head()

           date_transaction              amount                      \
fecha_pago                  2022-01-31 00:00:00 2022-02-01 00:00:00
0                2022-01-29       14,696,471.82                0.00
1                2022-01-30        9,040,953.12        1,202,801.25
2                2022-01-31                0.00       10,441,106.59
3                       All       23,737,424.94       11,643,907.84


fecha_pago 2022-02-02 00:00:00           All
0                         0.00 14,696,471.82
1                         0.00 10,243,754.37
2                 1,616,357.76 12,057,464.35
3                 1,616,357.76 36,997,690.54

In [72]:
pivot_optb_fecha_deposito.shape

(4, 5)

#### READER

In [73]:
pivot_reader_optblue = pd.pivot_table(provision_optb_final,index=['fecha_pago','clip_reader']
                                              ,columns=['report_date_local'],values=['amount']
                                              ,aggfunc=np.sum,margins=True).reset_index()
pivot_reader_optblue.fillna(0,inplace=True)
pivot_reader_optblue.head()

                            fecha_pago   clip_reader     amount               \
report_date_local                                    2022-01-29   2022-01-30
0                  2022-01-31 00:00:00  Clip Classic   4,076.00   189,898.69
1                  2022-01-31 00:00:00     Clip Plus  18,183.00 3,092,324.17
2                  2022-01-31 00:00:00   Clip Plus 2 120,743.30 3,904,667.32
3                  2022-01-31 00:00:00      Clip Pro  10,413.14 1,989,544.13
4                  2022-01-31 00:00:00    Clip Total  11,276.30 5,354,950.37


report_date_local   2022-01-31 2022-02-01 2022-02-02          All
0                   215,716.20  63,847.26       0.00   473,538.15
1                 1,474,568.30       0.00       0.00 4,585,075.47
2                 2,224,187.19       0.00       0.00 6,249,597.81
3                 1,411,870.16       0.00       0.00 3,411,827.43
4                 3,651,159.41       0.00       0.00 9,017,386.08

In [74]:
pivot_reader_optblue.shape

(16, 8)

# PROVISIONES ECOMMERCE

In [75]:
provision_ecommerce = all_provisiones[(all_provisiones['psp'] == 'PAYWORKS-BANORTE')]
provision_ecommerce.rename(columns ={'order_id':'order_id_xpay'}, inplace=True)
provision_ecommerce['CONCAT'] = provision_ecommerce['order_id_xpay'].astype(str).replace(' ', '',regex=True)+'-'+provision_ecommerce['amount'].apply(np.floor).astype(str).replace(' ', '',regex=True)+'-'+provision_ecommerce['last4'].astype(str).replace(' ', '',regex=True)
provision_ecommerce.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id_xpay,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT
586,ab8e486c-ce05-4f2b-804e-b6ec0770f60c,5d82c986-837f-416a-aabf-1c0f3caa005a,2022-01-29,2022-01-29 06:04:44.000,PAYWORKS-BANORTE,956.00,108554,534926,6132,1,793438980637,0.00,80010001,Clip Classic,RJ4VDN6DG,2022-01-30,PAID,793438980637-956.0-6132
878,ef9a5675-01c8-4f1f-9ee5-718f8ca7ff32,282deef2-8533-4662-b6bb-aa83209b20f7,2022-01-29,2022-01-29 06:07:05.000,PAYWORKS-BANORTE,948.70,070721,547046,6245,1,728303575069,0.00,80010001,Clip Classic,3DBLD6LXY,2022-01-30,PAID,728303575069-948.0-6245
2151,2528be14-b75e-400e-9f65-e9dabe1d20c0,54b188ca-74a6-4300-88fd-feb431982255,2022-01-29,2022-01-29 06:18:14.000,PAYWORKS-BANORTE,109.00,589275,407561,4766,1,059753803131,0.00,80010001,Clip Classic,GVY26PV27,2022-01-30,PAID,059753803131-109.0-4766
2532,72433a5b-e89e-4bcd-8a2f-4226a9219550,cc8daba9-49f3-498f-8b88-cbbaf66c8fde,2022-01-29,2022-01-29 06:21:55.000,PAYWORKS-BANORTE,"1,156.00",300314,526777,1661,1,687233460910,0.00,80010001,Clip Classic,C8MKX2ZKV,2022-01-30,ERROR,687233460910-1156.0-1661
2809,6488087a-ad50-4725-afa5-ca1263484632,db59b596-4b7e-4bfd-802d-091ccd7e419b,2022-01-29,2022-01-29 06:24:44.000,PAYWORKS-BANORTE,740.00,211876,519203,3436,1,485331256403,0.00,80010001,Clip Classic,QJHLBR9X7,2022-01-30,PAID,485331256403-740.0-3436

In [76]:
provision_ecommerce.shape

(1665, 18)

In [77]:
data_status_ecom_1 = provision_ecommerce.merge(sftp[['order_id_xpay','order_id', 'Fecha txn', 'Fecha_deposito']],on='order_id_xpay',how='left')
data_status_ecom_1['Fecha txn'].fillna('NO ENCONTRADO EN SFTP',inplace=True)
data_status_ecom_1['Fecha_deposito'].fillna('NO ENCONTRADO EN SFTP',inplace=True)
data_status_ecom_1.drop_duplicates(subset ="CONCAT", keep = 'last', inplace = True) 
data_status_ecom_1.head()

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,...,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT,order_id,Fecha txn,Fecha_deposito
0,ab8e486c-ce05-4f2b-804e-b6ec0770f60c,5d82c986-837f-416a-aabf-1c0f3caa005a,2022-01-29,2022-01-29 06:04:44.000,PAYWORKS-BANORTE,956.00,108554,534926,6132,1,...,0.00,80010001,Clip Classic,RJ4VDN6DG,2022-01-30,PAID,793438980637-956.0-6132,940208890348,2022-01-29 00:00:00,2022-01-31 00:00:00
1,ef9a5675-01c8-4f1f-9ee5-718f8ca7ff32,282deef2-8533-4662-b6bb-aa83209b20f7,2022-01-29,2022-01-29 06:07:05.000,PAYWORKS-BANORTE,948.70,070721,547046,6245,1,...,0.00,80010001,Clip Classic,3DBLD6LXY,2022-01-30,PAID,728303575069-948.0-6245,940208892307,2022-01-29 00:00:00,2022-01-31 00:00:00
2,2528be14-b75e-400e-9f65-e9dabe1d20c0,54b188ca-74a6-4300-88fd-feb431982255,2022-01-29,2022-01-29 06:18:14.000,PAYWORKS-BANORTE,109.00,589275,407561,4766,1,...,0.00,80010001,Clip Classic,GVY26PV27,2022-01-30,PAID,059753803131-109.0-4766,825724859483,2022-01-29 00:00:00,2022-01-31 00:00:00
3,72433a5b-e89e-4bcd-8a2f-4226a9219550,cc8daba9-49f3-498f-8b88-cbbaf66c8fde,2022-01-29,2022-01-29 06:21:55.000,PAYWORKS-BANORTE,"1,156.00",300314,526777,1661,1,...,0.00,80010001,Clip Classic,C8MKX2ZKV,2022-01-30,ERROR,687233460910-1156.0-1661,855828139103,2022-01-29 00:00:00,2022-01-31 00:00:00
4,6488087a-ad50-4725-afa5-ca1263484632,db59b596-4b7e-4bfd-802d-091ccd7e419b,2022-01-29,2022-01-29 06:24:44.000,PAYWORKS-BANORTE,740.00,211876,519203,3436,1,...,0.00,80010001,Clip Classic,QJHLBR9X7,2022-01-30,PAID,485331256403-740.0-3436,732202692547,2022-01-29 00:00:00,2022-01-31 00:00:00

In [78]:
data_status_ecom_1.shape

(1665, 21)

In [79]:
duplicates_status_ecom_1 = data_status_ecom_1[data_status_ecom_1.duplicated(['CONCAT'] , keep=False)]
duplicates_status_ecom_1.head()

Empty DataFrame
Columns: [merchant_id, transaction_id, date_transaction, created_at, psp, amount, clave_autorizacion, bin, last4, status_code, order_id_xpay, msi, device_id, clip_reader, report_id, report_date_local, status, CONCAT, order_id, Fecha txn, Fecha_deposito]
Index: []

[0 rows x 21 columns]

In [80]:
duplicates_status_ecom_1.shape

(0, 21)

In [81]:
results_status_ecom_1 = data_status_ecom_1[(data_status_ecom_1['Fecha txn'] != 'NO ENCONTRADO EN SFTP')]
results_status_ecom_1.head()

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,...,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT,order_id,Fecha txn,Fecha_deposito
0,ab8e486c-ce05-4f2b-804e-b6ec0770f60c,5d82c986-837f-416a-aabf-1c0f3caa005a,2022-01-29,2022-01-29 06:04:44.000,PAYWORKS-BANORTE,956.00,108554,534926,6132,1,...,0.00,80010001,Clip Classic,RJ4VDN6DG,2022-01-30,PAID,793438980637-956.0-6132,940208890348,2022-01-29 00:00:00,2022-01-31 00:00:00
1,ef9a5675-01c8-4f1f-9ee5-718f8ca7ff32,282deef2-8533-4662-b6bb-aa83209b20f7,2022-01-29,2022-01-29 06:07:05.000,PAYWORKS-BANORTE,948.70,070721,547046,6245,1,...,0.00,80010001,Clip Classic,3DBLD6LXY,2022-01-30,PAID,728303575069-948.0-6245,940208892307,2022-01-29 00:00:00,2022-01-31 00:00:00
2,2528be14-b75e-400e-9f65-e9dabe1d20c0,54b188ca-74a6-4300-88fd-feb431982255,2022-01-29,2022-01-29 06:18:14.000,PAYWORKS-BANORTE,109.00,589275,407561,4766,1,...,0.00,80010001,Clip Classic,GVY26PV27,2022-01-30,PAID,059753803131-109.0-4766,825724859483,2022-01-29 00:00:00,2022-01-31 00:00:00
3,72433a5b-e89e-4bcd-8a2f-4226a9219550,cc8daba9-49f3-498f-8b88-cbbaf66c8fde,2022-01-29,2022-01-29 06:21:55.000,PAYWORKS-BANORTE,"1,156.00",300314,526777,1661,1,...,0.00,80010001,Clip Classic,C8MKX2ZKV,2022-01-30,ERROR,687233460910-1156.0-1661,855828139103,2022-01-29 00:00:00,2022-01-31 00:00:00
4,6488087a-ad50-4725-afa5-ca1263484632,db59b596-4b7e-4bfd-802d-091ccd7e419b,2022-01-29,2022-01-29 06:24:44.000,PAYWORKS-BANORTE,740.00,211876,519203,3436,1,...,0.00,80010001,Clip Classic,QJHLBR9X7,2022-01-30,PAID,485331256403-740.0-3436,732202692547,2022-01-29 00:00:00,2022-01-31 00:00:00

In [82]:
results_status_ecom_1.shape

(1651, 21)

In [83]:
NA_status_ecom_1 = data_status_ecom_1[(data_status_ecom_1['Fecha txn'] == 'NO ENCONTRADO EN SFTP')]
NA_status_ecom_1.head()

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,...,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT,order_id,Fecha txn,Fecha_deposito
1651,333a2f82-72a9-4562-831e-26fe284a532a,8d1c8b12-b132-46cd-9542-161cf028fff8,2022-01-31,2022-02-01 05:01:20.000,PAYWORKS-BANORTE,"1,800.00",345606,526777,9211,1,...,0.00,80010001,Clip Classic,GP7GR2YC8,2022-02-01,PAID,637147149652-1800.0-9211,NaN,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP
1652,0190cc03-4e4f-4218-91d6-f1d5cbe96858,d1c53c7e-54a3-44fb-b8d9-df02794f520c,2022-01-31,2022-02-01 05:05:35.000,PAYWORKS-BANORTE,"4,500.00",709769,528851,0835,1,...,6.00,80010001,Clip Classic,QVZ2LBZB9,2022-02-01,PAID,886496697018-4500.0-0835,NaN,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP
1653,43b5e690-f52c-444e-8c49-46e8e63e5818,9c20c994-6442-4f77-b0fe-ae5a6879f012,2022-01-31,2022-02-01 05:06:42.000,PAYWORKS-BANORTE,"5,000.00",222384,477213,3422,1,...,0.00,80010001,Clip Classic,Z4PSMXVV5,2022-02-01,PAID,151532104072-5000.0-3422,NaN,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP
1654,0849125d-a15c-474b-8f3e-0c3a7c4cc231,0d5f26bc-4a1c-44ee-b2ab-b7348ab80706,2022-01-31,2022-02-01 05:14:06.000,PAYWORKS-BANORTE,"3,000.00",484070,526777,2225,1,...,0.00,80010001,Clip Classic,DF2WL963B,2022-02-01,PAID,875607180668-3000.0-2225,NaN,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP
1655,5885790f-30e3-4b42-9395-c412116924bf,13c6c5bc-9c31-4371-9a8a-c63e64f0a95d,2022-01-31,2022-02-01 05:16:18.000,PAYWORKS-BANORTE,"1,500.00",995023,407561,3291,1,...,0.00,80010001,Clip Classic,688Z7P59L,2022-02-01,PAID,703066286331-1500.0-3291,NaN,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP

In [84]:
NA_status_ecom_1.shape

(14, 21)

### DATA FINAL

In [85]:
provision_xpay_final = pd.concat([results_status_ecom_1,NA_status_ecom_1])
provision_xpay_final['status'].fillna('RETAINED',inplace=True)
provision_xpay_final['report_date_local'].fillna('NO ENCONTRADO',inplace=True)
provision_xpay_final.head()

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,...,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT,order_id,Fecha txn,Fecha_deposito
0,ab8e486c-ce05-4f2b-804e-b6ec0770f60c,5d82c986-837f-416a-aabf-1c0f3caa005a,2022-01-29,2022-01-29 06:04:44.000,PAYWORKS-BANORTE,956.00,108554,534926,6132,1,...,0.00,80010001,Clip Classic,RJ4VDN6DG,2022-01-30,PAID,793438980637-956.0-6132,940208890348,2022-01-29 00:00:00,2022-01-31 00:00:00
1,ef9a5675-01c8-4f1f-9ee5-718f8ca7ff32,282deef2-8533-4662-b6bb-aa83209b20f7,2022-01-29,2022-01-29 06:07:05.000,PAYWORKS-BANORTE,948.70,070721,547046,6245,1,...,0.00,80010001,Clip Classic,3DBLD6LXY,2022-01-30,PAID,728303575069-948.0-6245,940208892307,2022-01-29 00:00:00,2022-01-31 00:00:00
2,2528be14-b75e-400e-9f65-e9dabe1d20c0,54b188ca-74a6-4300-88fd-feb431982255,2022-01-29,2022-01-29 06:18:14.000,PAYWORKS-BANORTE,109.00,589275,407561,4766,1,...,0.00,80010001,Clip Classic,GVY26PV27,2022-01-30,PAID,059753803131-109.0-4766,825724859483,2022-01-29 00:00:00,2022-01-31 00:00:00
3,72433a5b-e89e-4bcd-8a2f-4226a9219550,cc8daba9-49f3-498f-8b88-cbbaf66c8fde,2022-01-29,2022-01-29 06:21:55.000,PAYWORKS-BANORTE,"1,156.00",300314,526777,1661,1,...,0.00,80010001,Clip Classic,C8MKX2ZKV,2022-01-30,ERROR,687233460910-1156.0-1661,855828139103,2022-01-29 00:00:00,2022-01-31 00:00:00
4,6488087a-ad50-4725-afa5-ca1263484632,db59b596-4b7e-4bfd-802d-091ccd7e419b,2022-01-29,2022-01-29 06:24:44.000,PAYWORKS-BANORTE,740.00,211876,519203,3436,1,...,0.00,80010001,Clip Classic,QJHLBR9X7,2022-01-30,PAID,485331256403-740.0-3436,732202692547,2022-01-29 00:00:00,2022-01-31 00:00:00

In [86]:
provision_xpay_final.shape

(1665, 21)

### PIVOT

#### REPORT_DATE_LOCAL

In [87]:
pivot_xpay_report_date_local = pd.pivot_table(provision_xpay_final,index=['date_transaction']
                                              ,columns=['report_date_local'],values=['amount']
                                              ,aggfunc=np.sum,margins=True).reset_index()
pivot_xpay_report_date_local.fillna(0,inplace=True)
pivot_xpay_report_date_local.head()

                  date_transaction     amount                          \
report_date_local                  2022-01-30 2022-01-31   2022-02-01
0                       2022-01-29 674,045.20       0.00         0.00
1                       2022-01-30       0.00 522,975.29         0.00
2                       2022-01-31       0.00       0.00 1,236,030.95
3                              All 674,045.20 522,975.29 1,236,030.95


report_date_local          All
0                   674,045.20
1                   522,975.29
2                 1,236,030.95
3                 2,433,051.44

In [88]:
pivot_xpay_report_date_local.shape

(4, 5)

#### FECHA_DEPOSITO

In [89]:
pivot_xpay_fecha_deposito = pd.pivot_table(provision_xpay_final,index=['date_transaction']
                                              ,columns=['Fecha_deposito'],values=['amount']
                                              ,aggfunc=np.sum,margins=True).reset_index()
pivot_xpay_fecha_deposito.fillna(0,inplace=True)
pivot_xpay_fecha_deposito.head()

               date_transaction              amount                      \
Fecha_deposito                  2022-01-31 00:00:00 2022-02-01 00:00:00
0                    2022-01-29          674,045.20                0.00
1                    2022-01-30          490,295.73           32,679.56
2                    2022-01-31                0.00        1,208,967.96
3                           All        1,164,340.93        1,241,647.52


Fecha_deposito NO ENCONTRADO EN SFTP          All
0                               0.00   674,045.20
1                               0.00   522,975.29
2                          27,062.99 1,236,030.95
3                          27,062.99 2,433,051.44

In [90]:
pivot_xpay_fecha_deposito.shape

(4, 5)

#### READER

In [91]:
pivot_reader_xpay = pd.pivot_table(provision_xpay_final,index=['Fecha_deposito','clip_reader']
                                              ,columns=['report_date_local'],values=['amount']
                                              ,aggfunc=np.sum,margins=True).reset_index(1)
pivot_reader_xpay.fillna(0,inplace=True)
pivot_reader_xpay.head()

                        clip_reader     amount                          \
report_date_local                   2022-01-30 2022-01-31   2022-02-01
Fecha_deposito
2022-01-31 00:00:00    Clip Classic 674,045.20 490,295.73         0.00
2022-02-01 00:00:00    Clip Classic       0.00  32,679.56 1,208,967.96
NO ENCONTRADO EN SFTP  Clip Classic       0.00       0.00    27,062.99
All                                 674,045.20 522,975.29 1,236,030.95


report_date_local              All
Fecha_deposito
2022-01-31 00:00:00   1,164,340.93
2022-02-01 00:00:00   1,241,647.52
NO ENCONTRADO EN SFTP    27,062.99
All                   2,433,051.44

In [92]:
pivot_reader_xpay.shape

(4, 5)

In [93]:
# book = load_workbook('PROVISIONES SEPTIEMBRE 2020.xlsx')
# writer = pd.ExcelWriter('PROVISIONES SEPTIEMBRE 2020.xlsx', engine='openpyxl', options={'encoding':'utf-8'})
# writer.book = book
# provision_ecommerce_total.to_excel(writer, sheet_name='SEPTIEMBRE XPAY', index=False)
# writer.save()
# writer.close()

# PROVISIONES MIT-3DS

In [94]:
provision_mit = all_provisiones[(all_provisiones['psp'] == 'MIT-3DS')]
provision_mit['CONCAT'] = provision_mit['order_id'].astype(str).replace(' ', '',regex=True)+'-'+provision_mit['amount'].apply(np.floor).astype(str).replace(' ', '',regex=True)+'-'+provision_mit['last4'].astype(str).replace(' ', '',regex=True)
provision_mit.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT
4392,f73d4969-9745-41a7-937c-3dbe7a2980cd,c592c41b-b1ac-4d2f-8d3c-90aaf55619a8,2022-01-29,2022-01-29 06:39:36.000,MIT-3DS,1.00,111035,402766,5910,1,000524511031,0.00,80010001,Clip Classic,F3KX8YM5J,2022-01-30,PAID,000524511031-1.0-5910
6655,e7407e5e-b91a-4cdd-b8b5-8c04070d7a80,e5a1697b-a429-451c-9e23-bbd759d22a49,2022-01-29,2022-01-29 07:02:44.000,MIT-3DS,571.00,483221,526777,5912,1,000524516097,0.00,80010001,Clip Classic,KHZBXKSBW,2022-01-30,PAID,000524516097-571.0-5912
13543,7b348666-c4c8-4c72-9d2d-538f0c9b5515,9b9d00af-f45e-4845-a822-79c5ce34fa23,2022-01-29,2022-01-29 08:37:35.000,MIT-3DS,420.00,028727,526777,0299,1,000524529239,0.00,80010001,Clip Classic,9TL6JX4F6,2022-01-30,PAID,000524529239-420.0-0299
23979,51b0a570-8ec6-4699-85f6-534156770680,fe80e282-5b97-4d48-a45f-bdded158d4a6,2022-01-29,2022-01-29 14:36:46.000,MIT-3DS,"3,900.00",115252,452421,1924,1,000524614223,6.00,80010001,Clip Classic,QSVFSD9MX,2022-01-30,PAID,000524614223-3900.0-1924
27225,b5c3eb29-0d0c-41a2-b235-20c98cd25881,f850b7ff-fbde-4aaa-951e-2ccefd976f30,2022-01-29,2022-01-29 15:07:51.000,MIT-3DS,10.00,742251,526354,1074,1,000524627386,0.00,80010001,Clip Classic,8R6L6WDVB,2022-01-30,PAID,000524627386-10.0-1074

In [95]:
provision_mit.shape

(296, 18)

In [96]:
data_status_mit = provision_mit.merge(sftp[['order_id', 'Fecha txn', 'Fecha_deposito']],on='order_id',how='left')
data_status_mit['Fecha txn'].fillna('NO ENCONTRADO EN SFTP',inplace=True)
data_status_mit['Fecha_deposito'].fillna('NO ENCONTRADO EN SFTP',inplace=True)
data_status_mit.drop_duplicates(subset ="CONCAT", keep = 'last', inplace = True) 
data_status_mit.head()

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT,Fecha txn,Fecha_deposito
0,f73d4969-9745-41a7-937c-3dbe7a2980cd,c592c41b-b1ac-4d2f-8d3c-90aaf55619a8,2022-01-29,2022-01-29 06:39:36.000,MIT-3DS,1.00,111035,402766,5910,1,000524511031,0.00,80010001,Clip Classic,F3KX8YM5J,2022-01-30,PAID,000524511031-1.0-5910,2022-01-29 00:00:00,2022-01-31 00:00:00
1,e7407e5e-b91a-4cdd-b8b5-8c04070d7a80,e5a1697b-a429-451c-9e23-bbd759d22a49,2022-01-29,2022-01-29 07:02:44.000,MIT-3DS,571.00,483221,526777,5912,1,000524516097,0.00,80010001,Clip Classic,KHZBXKSBW,2022-01-30,PAID,000524516097-571.0-5912,2022-01-29 00:00:00,2022-01-31 00:00:00
2,7b348666-c4c8-4c72-9d2d-538f0c9b5515,9b9d00af-f45e-4845-a822-79c5ce34fa23,2022-01-29,2022-01-29 08:37:35.000,MIT-3DS,420.00,028727,526777,0299,1,000524529239,0.00,80010001,Clip Classic,9TL6JX4F6,2022-01-30,PAID,000524529239-420.0-0299,2022-01-29 00:00:00,2022-01-31 00:00:00
3,51b0a570-8ec6-4699-85f6-534156770680,fe80e282-5b97-4d48-a45f-bdded158d4a6,2022-01-29,2022-01-29 14:36:46.000,MIT-3DS,"3,900.00",115252,452421,1924,1,000524614223,6.00,80010001,Clip Classic,QSVFSD9MX,2022-01-30,PAID,000524614223-3900.0-1924,2022-01-29 00:00:00,2022-01-31 00:00:00
4,b5c3eb29-0d0c-41a2-b235-20c98cd25881,f850b7ff-fbde-4aaa-951e-2ccefd976f30,2022-01-29,2022-01-29 15:07:51.000,MIT-3DS,10.00,742251,526354,1074,1,000524627386,0.00,80010001,Clip Classic,8R6L6WDVB,2022-01-30,PAID,000524627386-10.0-1074,2022-01-29 00:00:00,2022-01-31 00:00:00

In [97]:
data_status_mit.shape

(296, 20)

In [98]:
duplicates_status_mit = data_status_mit[data_status_mit.duplicated(['CONCAT'] , keep=False)]
duplicates_status_mit.head()

Empty DataFrame
Columns: [merchant_id, transaction_id, date_transaction, created_at, psp, amount, clave_autorizacion, bin, last4, status_code, order_id, msi, device_id, clip_reader, report_id, report_date_local, status, CONCAT, Fecha txn, Fecha_deposito]
Index: []

In [99]:
duplicates_status_mit.shape

(0, 20)

In [100]:
results_status_mit = data_status_mit[(data_status_mit['Fecha txn'] != 'NO ENCONTRADO EN SFTP')]
results_status_mit.head()

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT,Fecha txn,Fecha_deposito
0,f73d4969-9745-41a7-937c-3dbe7a2980cd,c592c41b-b1ac-4d2f-8d3c-90aaf55619a8,2022-01-29,2022-01-29 06:39:36.000,MIT-3DS,1.00,111035,402766,5910,1,000524511031,0.00,80010001,Clip Classic,F3KX8YM5J,2022-01-30,PAID,000524511031-1.0-5910,2022-01-29 00:00:00,2022-01-31 00:00:00
1,e7407e5e-b91a-4cdd-b8b5-8c04070d7a80,e5a1697b-a429-451c-9e23-bbd759d22a49,2022-01-29,2022-01-29 07:02:44.000,MIT-3DS,571.00,483221,526777,5912,1,000524516097,0.00,80010001,Clip Classic,KHZBXKSBW,2022-01-30,PAID,000524516097-571.0-5912,2022-01-29 00:00:00,2022-01-31 00:00:00
2,7b348666-c4c8-4c72-9d2d-538f0c9b5515,9b9d00af-f45e-4845-a822-79c5ce34fa23,2022-01-29,2022-01-29 08:37:35.000,MIT-3DS,420.00,028727,526777,0299,1,000524529239,0.00,80010001,Clip Classic,9TL6JX4F6,2022-01-30,PAID,000524529239-420.0-0299,2022-01-29 00:00:00,2022-01-31 00:00:00
3,51b0a570-8ec6-4699-85f6-534156770680,fe80e282-5b97-4d48-a45f-bdded158d4a6,2022-01-29,2022-01-29 14:36:46.000,MIT-3DS,"3,900.00",115252,452421,1924,1,000524614223,6.00,80010001,Clip Classic,QSVFSD9MX,2022-01-30,PAID,000524614223-3900.0-1924,2022-01-29 00:00:00,2022-01-31 00:00:00
4,b5c3eb29-0d0c-41a2-b235-20c98cd25881,f850b7ff-fbde-4aaa-951e-2ccefd976f30,2022-01-29,2022-01-29 15:07:51.000,MIT-3DS,10.00,742251,526354,1074,1,000524627386,0.00,80010001,Clip Classic,8R6L6WDVB,2022-01-30,PAID,000524627386-10.0-1074,2022-01-29 00:00:00,2022-01-31 00:00:00

In [101]:
results_status_mit.shape

(295, 20)

In [102]:
NA_status_mit = data_status_mit[(data_status_mit['Fecha txn'] == 'NO ENCONTRADO EN SFTP')]
NA_status_mit.head()

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT,Fecha txn,Fecha_deposito
295,5c53ab30-c8da-4638-be27-c1e1ecdf1304,5008453c-4391-45d7-96df-79d0b9f62f80,2022-01-31,2022-02-01 05:00:37.000,MIT-3DS,"6,500.00",293580,547074,5197,1,000527181202,0.00,80010001,Clip Classic,XCB46W8TV,2022-02-01,PAID,000527181202-6500.0-5197,NO ENCONTRADO EN SFTP,NO ENCONTRADO EN SFTP

In [103]:
NA_status_mit.shape

(1, 20)

### DATA FINAL

In [104]:
provision_mit_final = pd.concat([results_status_mit,NA_status_mit])
provision_mit_final['status'].fillna('RETAINED',inplace=True)
provision_mit_final['report_date_local'].fillna('NO ENCONTRADO',inplace=True)
provision_mit_final.head()

,merchant_id,transaction_id,date_transaction,created_at,psp,amount,clave_autorizacion,bin,last4,status_code,order_id,msi,device_id,clip_reader,report_id,report_date_local,status,CONCAT,Fecha txn,Fecha_deposito
0,f73d4969-9745-41a7-937c-3dbe7a2980cd,c592c41b-b1ac-4d2f-8d3c-90aaf55619a8,2022-01-29,2022-01-29 06:39:36.000,MIT-3DS,1.00,111035,402766,5910,1,000524511031,0.00,80010001,Clip Classic,F3KX8YM5J,2022-01-30,PAID,000524511031-1.0-5910,2022-01-29 00:00:00,2022-01-31 00:00:00
1,e7407e5e-b91a-4cdd-b8b5-8c04070d7a80,e5a1697b-a429-451c-9e23-bbd759d22a49,2022-01-29,2022-01-29 07:02:44.000,MIT-3DS,571.00,483221,526777,5912,1,000524516097,0.00,80010001,Clip Classic,KHZBXKSBW,2022-01-30,PAID,000524516097-571.0-5912,2022-01-29 00:00:00,2022-01-31 00:00:00
2,7b348666-c4c8-4c72-9d2d-538f0c9b5515,9b9d00af-f45e-4845-a822-79c5ce34fa23,2022-01-29,2022-01-29 08:37:35.000,MIT-3DS,420.00,028727,526777,0299,1,000524529239,0.00,80010001,Clip Classic,9TL6JX4F6,2022-01-30,PAID,000524529239-420.0-0299,2022-01-29 00:00:00,2022-01-31 00:00:00
3,51b0a570-8ec6-4699-85f6-534156770680,fe80e282-5b97-4d48-a45f-bdded158d4a6,2022-01-29,2022-01-29 14:36:46.000,MIT-3DS,"3,900.00",115252,452421,1924,1,000524614223,6.00,80010001,Clip Classic,QSVFSD9MX,2022-01-30,PAID,000524614223-3900.0-1924,2022-01-29 00:00:00,2022-01-31 00:00:00
4,b5c3eb29-0d0c-41a2-b235-20c98cd25881,f850b7ff-fbde-4aaa-951e-2ccefd976f30,2022-01-29,2022-01-29 15:07:51.000,MIT-3DS,10.00,742251,526354,1074,1,000524627386,0.00,80010001,Clip Classic,8R6L6WDVB,2022-01-30,PAID,000524627386-10.0-1074,2022-01-29 00:00:00,2022-01-31 00:00:00

In [105]:
provision_mit_final.shape

(296, 20)

### PIVOT

#### REPORT_DATE_LOCAL

In [106]:
pivot_mit_report_date_local = pd.pivot_table(provision_mit_final,index=['date_transaction']
                                              ,columns=['report_date_local'],values=['amount']
                                              ,aggfunc=np.sum,margins=True).reset_index()
pivot_mit_report_date_local.fillna(0,inplace=True)
pivot_mit_report_date_local.head()

                  date_transaction     amount
report_date_local                  2022-01-30 2022-01-31 2022-02-01        All
0                       2022-01-29 224,457.59       0.00       0.00 224,457.59
1                       2022-01-30       0.00 112,934.18       0.00 112,934.18
2                       2022-01-31       0.00       0.00 377,292.36 377,292.36
3                              All 224,457.59 112,934.18 377,292.36 714,684.13

In [107]:
pivot_mit_report_date_local.shape

(4, 5)

#### FECHA_DEPOSITO

In [108]:
pivot_mit_fecha_deposito = pd.pivot_table(provision_mit_final,index=['date_transaction']
                                              ,columns=['Fecha_deposito'],values=['amount']
                                              ,aggfunc=np.sum,margins=True).reset_index()
pivot_mit_fecha_deposito.fillna(0,inplace=True)
pivot_mit_fecha_deposito.head()

               date_transaction              amount                      \
Fecha_deposito                  2022-01-31 00:00:00 2022-02-01 00:00:00
0                    2022-01-29          224,457.59                0.00
1                    2022-01-30          112,290.18              644.00
2                    2022-01-31                0.00          370,792.36
3                           All          336,747.77          371,436.36


Fecha_deposito NO ENCONTRADO EN SFTP        All
0                               0.00 224,457.59
1                               0.00 112,934.18
2                           6,500.00 377,292.36
3                           6,500.00 714,684.13

In [109]:
pivot_mit_fecha_deposito.shape

(4, 5)

#### READER

In [110]:
pivot_reader_mit = pd.pivot_table(provision_mit_final,index=['Fecha_deposito','clip_reader']
                                              ,columns=['report_date_local'],values=['amount']
                                              ,aggfunc=np.sum,margins=True).reset_index(1)
pivot_reader_mit.fillna(0,inplace=True)
pivot_reader_mit.head()

                        clip_reader     amount                        \
report_date_local                   2022-01-30 2022-01-31 2022-02-01
Fecha_deposito
2022-01-31 00:00:00    Clip Classic 224,457.59 112,290.18       0.00
2022-02-01 00:00:00    Clip Classic       0.00     644.00 370,792.36
NO ENCONTRADO EN SFTP  Clip Classic       0.00       0.00   6,500.00
All                                 224,457.59 112,934.18 377,292.36


report_date_local            All
Fecha_deposito
2022-01-31 00:00:00   336,747.77
2022-02-01 00:00:00   371,436.36
NO ENCONTRADO EN SFTP   6,500.00
All                   714,684.13

In [111]:
pivot_reader_mit.shape

(4, 5)

In [112]:
# book = load_workbook('PROVISIONES SEPTIEMBRE 2020.xlsx')
# writer = pd.ExcelWriter('PROVISIONES SEPTIEMBRE 2020.xlsx', engine='openpyxl', options={'encoding':'utf-8'})
# writer.book = book
# provision_mit_total.to_excel(writer, sheet_name='SEPTIEMBRE OPENPAY', index=False)
# writer.save()
# writer.close()

# PROVISIONES OPEN PAY (NO EJECUTAR EN CASO DE QUE EL PSP NO APAREZCA EN LA DB)

In [ ]:
provision_openpay = all_provisiones[(all_provisiones['psp'] == 'OPENPAY')]
provision_openpay['CONCAT'] = provision_openpay['order_id'].astype(str).replace(' ', '',regex=True)+'-'+provision_openpay['amount'].apply(np.floor).astype(str).replace(' ', '',regex=True)+'-'+provision_openpay['last4'].astype(str).replace(' ', '',regex=True)
provision_openpay.head()

In [ ]:
provision_openpay.shape

### DATA FINAL

In [ ]:
provision_openpay_final = pd.concat([provision_openpay])
provision_openpay_final.fillna('RETAINED',inplace=True)
provision_openpay_final.head()

In [ ]:
provision_openpay_final.shape

### PIVOT

#### REPORT_DATE_LOCAL

In [ ]:
pivot_openpay_report_date_local = pd.pivot_table(provision_openpay_final,index=['date_transaction']
                                              ,columns=['report_date_local'],values=['amount']
                                              ,aggfunc=np.sum,margins=True).reset_index()
pivot_openpay_report_date_local.fillna(0,inplace=True)
pivot_openpay_report_date_local.head()

In [ ]:
pivot_openpay_report_date_local.shape

#### READER

In [ ]:
pivot_reader_openpay = pd.pivot_table(provision_openpay_final,index=['clip_reader']
                                              ,columns=['report_date_local'],values=['amount']
                                              ,aggfunc=np.sum,margins=True).reset_index()
pivot_reader_openpay.fillna(0,inplace=True)
pivot_reader_openpay.head()

In [ ]:
pivot_reader_openpay.shape

In [ ]:
# book = load_workbook('PROVISIONES SEPTIEMBRE 2020.xlsx')
# writer = pd.ExcelWriter('PROVISIONES SEPTIEMBRE 2020.xlsx', engine='openpyxl', options={'encoding':'utf-8'})
# writer.book = book
# provision_openpay_final.to_excel(writer, sheet_name='SEPTIEMBRE OPENPAY', index=False)
# writer.save()
# writer.close()

# EXCEL FINAL

In [113]:
# Creating Excel Writer Object from Pandas  
writer = pd.ExcelWriter('PROVISION ME ENERO 2022.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})   
workbook=writer.book

#RESUMEN
worksheet=workbook.add_worksheet('RESUMEN FINAL')
writer.sheets['RESUMEN FINAL'] = worksheet
pivot_reader_bnte.to_excel(writer,sheet_name='RESUMEN FINAL',startrow=0 , startcol=0)   
pivot_reader_amex.to_excel(writer,sheet_name='RESUMEN FINAL',startrow=21, startcol=0)
pivot_reader_optblue.to_excel(writer,sheet_name='RESUMEN FINAL',startrow=41, startcol=0)
pivot_reader_xpay.to_excel(writer,sheet_name='RESUMEN FINAL',startrow=61, startcol=0)
pivot_reader_mit.to_excel(writer,sheet_name='RESUMEN FINAL',startrow=81, startcol=0)

# BNTE
worksheet=workbook.add_worksheet('BNTE')
writer.sheets['BNTE'] = worksheet
provision_prosa_final.to_excel(writer,sheet_name='BNTE',startrow=0 , startcol=0, index=False)   
pivot_bnte_report_date_local.to_excel(writer,sheet_name='BNTE',startrow=1, startcol=21)
pivot_bnte_fecha_deposito.to_excel(writer,sheet_name='BNTE',startrow=12, startcol=21)

# AMEX
worksheet=workbook.add_worksheet('AMEX')
writer.sheets['AMEX'] = worksheet
results_amex_final.to_excel(writer,sheet_name='AMEX',startrow=0 , startcol=0, index=False)  
pivot_amex_report_date_local.to_excel(writer,sheet_name='AMEX',startrow=1, startcol=21)
pivot_amex_fecha_deposito.to_excel(writer,sheet_name='AMEX',startrow=12, startcol=21)

#OPTBLUE
worksheet=workbook.add_worksheet('OPTBLUE')
writer.sheets['OPTBLUE'] = worksheet
provision_optb_final.to_excel(writer,sheet_name='OPTBLUE',startrow=0 , startcol=0, index=False)  
pivot_optb_report_date_local.to_excel(writer,sheet_name='OPTBLUE',startrow=1, startcol=21)
pivot_optb_fecha_deposito.to_excel(writer,sheet_name='OPTBLUE',startrow=12, startcol=21)

# XPAY
worksheet=workbook.add_worksheet('XPAY')
writer.sheets['XPAY'] = worksheet
provision_xpay_final.to_excel(writer,sheet_name='XPAY',startrow=0 , startcol=0, index=False)  
pivot_xpay_report_date_local.to_excel(writer,sheet_name='XPAY',startrow=1, startcol=22)
pivot_xpay_fecha_deposito.to_excel(writer,sheet_name='XPAY',startrow=12, startcol=22)

# MIT
worksheet=workbook.add_worksheet('MIT')
writer.sheets['MIT'] = worksheet
provision_mit_final.to_excel(writer,sheet_name='MIT',startrow=0 , startcol=0, index=False)  
pivot_mit_report_date_local.to_excel(writer,sheet_name='MIT',startrow=1, startcol=22)
pivot_mit_fecha_deposito.to_excel(writer,sheet_name='MIT',startrow=12, startcol=22)

# OPENPAY
# worksheet=workbook.add_worksheet('OPENPAY')
# writer.sheets['OPENPAY'] = worksheet
# provision_openpay_final.to_excel(writer,sheet_name='OPENPAY',startrow=0 , startcol=0, index=False)  
# pivot_openpay_report_date_local.to_excel(writer,sheet_name='OPENPAY',startrow=1, startcol=21)

writer.save()
writer.close()