In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# RUTAS

### SETTLEMENT

In [2]:
sml_files = glob.glob(r'G:\My Drive\RESPALDO-PC\DYNAMO\2023\02. FEBRERO\PROVISION\D*.tsv', recursive=False)
sml_files

['G:\\My Drive\\RESPALDO-PC\\DYNAMO\\2023\\02. FEBRERO\\PROVISION\\DETALLE_PAGOS_POR_REPORT_ID FEBRERO 2023.tsv']

# DATA SETTLEMENT

In [3]:
sml = pd.concat([pd.read_csv(f,sep='\t').assign(file_name=os.path.basename(f)) for f in sml_files])
sml.columns = sml.columns.str.strip().str.lower()
sml['report_date_local'] =  pd.to_datetime(sml['report_date_local'])
sml['payment_date_local'] =  pd.to_datetime(sml['payment_date_local']).dt.tz_localize(None)
sml['payment_date_local_final'] =  pd.to_datetime(sml['payment_date_local']).dt.date
sml['payment_date_local_final'] =  pd.to_datetime(sml['payment_date_local_final'])
sml.head()

,merchant_id,merchant_name,transaction_id,order_id,receipt_no,report_id,psp,report_date_local,transaction_date_local,payment_date_local,...,fees_charged,taxes,amount_due,msi,status_disbursement,status_code,status_msg,brand,file_name,payment_date_local_final
0,00003751-a43a-4dda-b26d-0e00360ada3a,Tomás García,0fcd7bd1-269c-47f9-8037-d5a25dfbe36e,749956506067,65jmTg0,6N7252LGY,PROSA,2023-02-09,2023-02-08,2023-02-09 11:41:28,...,742.50,118.80,"4,638.70",9.00,PAID,1,Paid,VI,DETALLE_PAGOS_POR_REPORT_ID FEBRERO 2023.tsv,2023-02-09
1,00003751-a43a-4dda-b26d-0e00360ada3a,Tomás García,22b8a8ea-dcbd-4d18-89a0-91b6e8653435,789260813796,uDuGsTE,PMN365R7H,PROSA,2023-02-12,2023-02-11,2023-02-12 12:39:52,...,121.50,19.44,"1,359.06",3.00,PAID,1,Paid,VI,DETALLE_PAGOS_POR_REPORT_ID FEBRERO 2023.tsv,2023-02-12
2,00003751-a43a-4dda-b26d-0e00360ada3a,Tomás García,1895e1c2-31f2-4c5f-b24d-a05a81047424,743716020427,eMWu9OF,46PZMTXYZ,PROSA,2023-02-16,2023-02-15,2023-02-16 11:41:30,...,194.40,31.10,"2,174.50",3.00,PAID,1,Paid,VI,DETALLE_PAGOS_POR_REPORT_ID FEBRERO 2023.tsv,2023-02-16
3,00003751-a43a-4dda-b26d-0e00360ada3a,Tomás García,4a38d19e-b04a-4443-95ff-3fc4077dc821,345040248086,8Db9Pbb,YHYNR7NGM,PROSA,2023-02-22,2023-02-21,2023-02-22 11:28:46,...,121.50,19.44,"1,359.06",3.00,PAID,1,Paid,VI,DETALLE_PAGOS_POR_REPORT_ID FEBRERO 2023.tsv,2023-02-22
4,00003751-a43a-4dda-b26d-0e00360ada3a,Tomás García,e3ff4673-de3c-48e8-bf2c-c09eba180527,285297318064,zo5W72l,DPJB3D3L6,PROSA,2023-03-10,2023-03-09,2023-03-10 11:54:24,...,283.50,45.36,"3,171.14",3.00,PAID,1,Paid,MC,DETALLE_PAGOS_POR_REPORT_ID FEBRERO 2023.tsv,2023-03-10

In [4]:
sml.shape

(17038353, 21)

In [5]:
sml.dtypes

merchant_id                         object
merchant_name                       object
transaction_id                      object
order_id                            object
receipt_no                          object
report_id                           object
psp                                 object
report_date_local           datetime64[ns]
transaction_date_local              object
payment_date_local          datetime64[ns]
transaction_amount                 float64
fees_charged                       float64
taxes                              float64
amount_due                         float64
msi                                float64
status_disbursement                 object
status_code                          int64
status_msg                          object
brand                               object
file_name                           object
payment_date_local_final    datetime64[ns]
dtype: object

In [6]:
sml_final = sml
sml_final.head()

,merchant_id,merchant_name,transaction_id,order_id,receipt_no,report_id,psp,report_date_local,transaction_date_local,payment_date_local,...,fees_charged,taxes,amount_due,msi,status_disbursement,status_code,status_msg,brand,file_name,payment_date_local_final
0,00003751-a43a-4dda-b26d-0e00360ada3a,Tomás García,0fcd7bd1-269c-47f9-8037-d5a25dfbe36e,749956506067,65jmTg0,6N7252LGY,PROSA,2023-02-09,2023-02-08,2023-02-09 11:41:28,...,742.50,118.80,"4,638.70",9.00,PAID,1,Paid,VI,DETALLE_PAGOS_POR_REPORT_ID FEBRERO 2023.tsv,2023-02-09
1,00003751-a43a-4dda-b26d-0e00360ada3a,Tomás García,22b8a8ea-dcbd-4d18-89a0-91b6e8653435,789260813796,uDuGsTE,PMN365R7H,PROSA,2023-02-12,2023-02-11,2023-02-12 12:39:52,...,121.50,19.44,"1,359.06",3.00,PAID,1,Paid,VI,DETALLE_PAGOS_POR_REPORT_ID FEBRERO 2023.tsv,2023-02-12
2,00003751-a43a-4dda-b26d-0e00360ada3a,Tomás García,1895e1c2-31f2-4c5f-b24d-a05a81047424,743716020427,eMWu9OF,46PZMTXYZ,PROSA,2023-02-16,2023-02-15,2023-02-16 11:41:30,...,194.40,31.10,"2,174.50",3.00,PAID,1,Paid,VI,DETALLE_PAGOS_POR_REPORT_ID FEBRERO 2023.tsv,2023-02-16
3,00003751-a43a-4dda-b26d-0e00360ada3a,Tomás García,4a38d19e-b04a-4443-95ff-3fc4077dc821,345040248086,8Db9Pbb,YHYNR7NGM,PROSA,2023-02-22,2023-02-21,2023-02-22 11:28:46,...,121.50,19.44,"1,359.06",3.00,PAID,1,Paid,VI,DETALLE_PAGOS_POR_REPORT_ID FEBRERO 2023.tsv,2023-02-22
4,00003751-a43a-4dda-b26d-0e00360ada3a,Tomás García,e3ff4673-de3c-48e8-bf2c-c09eba180527,285297318064,zo5W72l,DPJB3D3L6,PROSA,2023-03-10,2023-03-09,2023-03-10 11:54:24,...,283.50,45.36,"3,171.14",3.00,PAID,1,Paid,MC,DETALLE_PAGOS_POR_REPORT_ID FEBRERO 2023.tsv,2023-03-10

In [7]:
sml_final.shape

(17038353, 21)

# DATA PROVISION

In [8]:
provision = pd.read_excel(r'C:\Users\Cristian.Aparicio\Documents\PROVISIONES\2023\02. FEBRERO\0. DATA\Detalle_28-02-2023.xlsx',
                          sheet_name='Detalle',
                          converters={'ORDER_ID':str,'LAST4':str,'AFFILIATION':str,'TRX_ID':str,
                                     'DEVICE_ID':str,'ULTIMOS_4':str})
provision.columns = provision.columns.str.strip().str.lower()
provision.head()

,merchant_id,transaction_id,order_id,fecha_transacción,created_at,amount,last4,affiliation,trx_id,term,...,device_id,reversal_initiator,card_country_code,status_msg,reader_type_code,fecha_depósito,report_id,report_date_local,fecha_pago_me,status_pago_me
0,ffbe9101-46da-4bdc-b8f1-d63b8ec11b64,59faf8b2-14e8-41ea-a3ab-cac51f67ad1a,E3yy44dK1DN6,2023-02-28,2023-03-01T00:10:07Z,"2,856.00",4007,NaN,004475578386302,NaN,...,A36882100000FE3FFE0A1CA983,NaN,US,Paid,C,2023-03-01 00:00:00,8FQNF2VDF,2023-03-01 00:00:00,2023-03-01 00:00:00,PAID
1,ffb1e4d4-68df-40ee-8c1f-5545ae917b6b,fe1672a8-87b2-4fd6-a348-08760291d01e,PGdGo0Ins3ZT,2023-02-28,2023-02-28T17:44:38Z,580.30,1071,NaN,004468384115304,NaN,...,N500W432052,NaN,MX,Paid,F,2023-03-01 00:00:00,GRMWBFNKH,2023-03-01 00:00:00,2023-03-01 00:00:00,PAID
2,ffa8c218-0c5a-4772-b67b-910b5a344ca9,f2efb049-65e7-4053-bc80-34f76149d99d,FihR2mfDzRme,2023-02-28,2023-02-28T23:09:06Z,"1,650.00",1017,NaN,004474459185305,NaN,...,B267092110070D60FD070AAC,NaN,MX,Paid,Be,2023-03-01 00:00:00,C73RX2CSL,2023-03-01 00:00:00,2023-03-01 00:00:00,PAID
3,ffa8c218-0c5a-4772-b67b-910b5a344ca9,ea3d4ec1-6ec4-4ecd-9fdb-f3afa538eb8e,5IMmfKqdoxnH,2023-02-28,2023-02-28T23:41:52Z,"4,150.00",3015,NaN,004475059838300,NaN,...,B267092110070D60FD070AAC,NaN,MX,Paid,Be,2023-03-01 00:00:00,C73RX2CSL,2023-03-01 00:00:00,2023-03-01 00:00:00,PAID
4,ff9fc76a-9575-4420-9f7a-f76ab8f9970e,8ebf7fef-f950-4876-9d55-ce7f505334f0,zRYexjtOylxC,2023-02-28,2023-03-01T01:51:35Z,437.80,1005,NaN,004477201109309,NaN,...,P5211229000268,NaN,MX,Paid,Na,2023-03-01 00:00:00,F353JMW3Z,2023-03-01 00:00:00,2023-03-01 00:00:00,PAID

In [9]:
provision.shape

(448821, 27)

# CRUCE 2: DATA PROVISION VS CRUCE 1

In [12]:
cruce_2 = provision.merge(sml_final[['transaction_id','report_id','report_date_local','payment_date_local',
                                    'payment_date_local_final','status_disbursement','fees_charged','taxes']],
                          on='transaction_id',how='left')
cruce_2['report_id'].fillna('not_found',inplace=True)
cruce_2['report_date_local'].fillna('1990-01-01',inplace=True)
cruce_2['payment_date_local'].fillna('1990-01-01',inplace=True)
cruce_2['report_date_local'] =  pd.to_datetime(cruce_2['report_date_local'])
cruce_2['payment_date_local_final'] =  pd.to_datetime(cruce_2['payment_date_local_final'])
cruce_2['fees_charged'].fillna('not_found',inplace=True)
cruce_2['taxes'].fillna('not_found',inplace=True)
cruce_2.head()

,merchant_id,transaction_id,order_id,fecha_transacción,created_at,amount,last4,affiliation,trx_id,term,...,report_date_local_x,fecha_pago_me,status_pago_me,report_id_y,report_date_local_y,payment_date_local,payment_date_local_final,status_disbursement,fees_charged,taxes
0,ffbe9101-46da-4bdc-b8f1-d63b8ec11b64,59faf8b2-14e8-41ea-a3ab-cac51f67ad1a,E3yy44dK1DN6,2023-02-28,2023-03-01T00:10:07Z,"2,856.00",4007,NaN,004475578386302,NaN,...,2023-03-01 00:00:00,2023-03-01 00:00:00,PAID,8FQNF2VDF,2023-03-01,2023-03-01 10:53:33,2023-03-01,PAID,102.82,16.45
1,ffb1e4d4-68df-40ee-8c1f-5545ae917b6b,fe1672a8-87b2-4fd6-a348-08760291d01e,PGdGo0Ins3ZT,2023-02-28,2023-02-28T17:44:38Z,580.30,1071,NaN,004468384115304,NaN,...,2023-03-01 00:00:00,2023-03-01 00:00:00,PAID,GRMWBFNKH,2023-03-01,2023-03-01 10:53:32,2023-03-01,PAID,20.89,3.34
2,ffa8c218-0c5a-4772-b67b-910b5a344ca9,f2efb049-65e7-4053-bc80-34f76149d99d,FihR2mfDzRme,2023-02-28,2023-02-28T23:09:06Z,"1,650.00",1017,NaN,004474459185305,NaN,...,2023-03-01 00:00:00,2023-03-01 00:00:00,PAID,C73RX2CSL,2023-03-01,2023-03-01 10:53:32,2023-03-01,PAID,59.40,9.50
3,ffa8c218-0c5a-4772-b67b-910b5a344ca9,ea3d4ec1-6ec4-4ecd-9fdb-f3afa538eb8e,5IMmfKqdoxnH,2023-02-28,2023-02-28T23:41:52Z,"4,150.00",3015,NaN,004475059838300,NaN,...,2023-03-01 00:00:00,2023-03-01 00:00:00,PAID,C73RX2CSL,2023-03-01,2023-03-01 10:53:32,2023-03-01,PAID,149.40,23.90
4,ff9fc76a-9575-4420-9f7a-f76ab8f9970e,8ebf7fef-f950-4876-9d55-ce7f505334f0,zRYexjtOylxC,2023-02-28,2023-03-01T01:51:35Z,437.80,1005,NaN,004477201109309,NaN,...,2023-03-01 00:00:00,2023-03-01 00:00:00,PAID,F353JMW3Z,2023-03-01,2023-03-01 10:53:32,2023-03-01,PAID,15.76,2.52

In [13]:
cruce_2.shape

(448821, 34)

In [14]:
cruce_2.dtypes

merchant_id                         object
transaction_id                      object
order_id                            object
fecha_transacción           datetime64[ns]
created_at                          object
amount                             float64
last4                               object
affiliation                         object
trx_id                              object
term                               float64
status_code                          int64
brand                               object
psp                                 object
payment_sub_type                    object
updated_at                          object
receipt_no                          object
issuer                              object
device_id                           object
reversal_initiator                  object
card_country_code                   object
status_msg                          object
reader_type_code                    object
fecha_depósito                      object
report_id_x                         object
report_date_local_x                 object
fecha_pago_me                       object
status_pago_me                      object
report_id_y                         object
report_date_local_y         datetime64[ns]
payment_date_local          datetime64[ns]
payment_date_local_final    datetime64[ns]
status_disbursement                 object
fees_charged                        object
taxes                               object
dtype: object

# EXCEL FINAL

In [15]:
writer = pd.ExcelWriter('Data_final_febrero_2023 - FEES TAXES.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
cruce_2.to_excel(writer, sheet_name='Detalle', index=False)
writer.close()