In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

## READING FILES

In [2]:
date_respuesta = '2022-01-30'
date_respuesta = pd.to_datetime(date_respuesta)

In [3]:
name_header = ['merchant_id','merchant_name','user_email','report_id','report_date_local','amount','status','bank_name'
               ,'payment_date_local','bank_account_owner_name','bank_account_number','swap']

In [4]:
disp = pd.read_csv(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2022\01. JANUARY\BNTE 2022-01-30.csv'
                     ,dtype={'bank_account_number':object,'report_id':object})
# disp = pd.read_csv(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2021\03. MARCH\BNTE 2021-03-21.txt'
#                    ,sep='\t',names=name_header,dtype={'bank_account_number':object,'report_id':object})
disp['date_disbursement'] = date_respuesta

In [5]:
# disp = pd.read_excel(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2020\11. NOVIEMBRE\Dispersión-20201014.xlsx'
#                      ,sheet_name='Swap del día',converters={'CLABE':str,'report_id':str})
rs1 = pd.read_excel(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2022\01. ENERO\Respuesta-BNTE 2022-01-30.xlsx'
                    ,sheet_name='Sheet1'
                    ,converters={'dsp_reference_id':str,'bank_account_number':str,'disbursement_tracking_key':str,'report_id':str})
ae1 = pd.read_csv(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2022\01. JANUARY\BnteDOWNLOAD 2022-01-30.csv'
                  ,names=['Nombre','Blank','amount','CLABE','report_id']
                  ,dtype={'CLABE':object,'report_id':object}
                  ,skiprows=[0])
bin1 = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\Catalogo_Bancos.csv'
                  ,dtype={'BIN':object,'Clave de la institución':object,'Nombre de la institución':object})

# BIN

In [6]:
bin1.head()

   BIN Clave de la institución Nombre de la institución
0  138                   40138              ABC CAPITAL
1  102                   40102            ACCENDO BANCO
2  133                   40133                 ACTINVER
3  062                   40062                   AFIRME
4  638                   90638                    AKALA

In [7]:
bin1.shape

(88, 3)

# ARCHIVO ENVIADO A SWAP

In [8]:
ae1.head()

,Nombre,Blank,amount,CLABE,report_id
0,Abryl Mariana Avitia Herrera,nan,"1,437.36",014078567364065679,CLIP-HHSMNMGY3
1,MAHARISHI PANTJALI S A DE C V,nan,"41,501.02",058375000003160831,CLIP-NR5VVJJHM
2,Karla Anahi Torres Fuentes,nan,"1,705.67",127290013929071395,CLIP-SV96SLXTH
3,Ana Yanelly Puente Gutierrez,nan,"4,489.13",002580701334955664,CLIP-LCLJGXR5N
4,Virginia Alejandra Barradas Prez,nan,250.11,137463103868892825,CLIP-KXB3JJYHW

In [9]:
ae1.shape

(84324, 5)

In [10]:
ae1['CLABE'] = ae1['CLABE'].replace(' ', '',regex=True)
ae1['report_id'] = ae1['report_id'].str[5:].replace(' ', '',regex=True)
ae1['BIN'] = ae1['CLABE'].str[:3].replace(' ', '',regex=True)

In [11]:
ae_final = ae1.merge(bin1[['BIN','Clave de la institución','Nombre de la institución']] ,on='BIN', how='left')
ae_final.head()

,Nombre,Blank,amount,CLABE,report_id,BIN,Clave de la institución,Nombre de la institución
0,Abryl Mariana Avitia Herrera,nan,"1,437.36",014078567364065679,HHSMNMGY3,014,40014,SANTANDER
1,MAHARISHI PANTJALI S A DE C V,nan,"41,501.02",058375000003160831,NR5VVJJHM,058,40058,BANREGIO
2,Karla Anahi Torres Fuentes,nan,"1,705.67",127290013929071395,SV96SLXTH,127,40127,AZTECA
3,Ana Yanelly Puente Gutierrez,nan,"4,489.13",002580701334955664,LCLJGXR5N,002,40002,BANAMEX
4,Virginia Alejandra Barradas Prez,nan,250.11,137463103868892825,KXB3JJYHW,137,40137,BANCOPPEL

In [12]:
ae_final.shape

(84324, 8)

# ARCHIVO RESPUESTA

In [13]:
rs1['Date_respuesta'] = date_respuesta
rs1['Metodo de dispersion'] = 'BANORTE'
rs1.head()

,report_id,status,report_date_local,payment_date_local,amount,disbursement_batch_id,dsp_reference_id,entry_number,disbursement_id,bank_account_number,...,bank_account_owner_name,execution_date,application_date,disbursement_tracking_key,number_movement,created_at,updated_at,error_description,Date_respuesta,Metodo de dispersion
0,HHSMNMGY3,PAID,2022-01-30,2022-01-30,"1,437.36",f01994b6-5d71-49a7-b23d-31f61807b54a,0800001,0,96cd279c-52b8-452f-b38e-d9354bcb3537,014078567364065679,...,Abryl Mariana Avitia Herrera,2022-01-29,2022-01-30,42644264202201301585223542,16762987,2022-01-30,2022-01-30,NaN,2022-01-30,BANORTE
1,NR5VVJJHM,PAID,2022-01-30,2022-01-30,"41,501.02",f01994b6-5d71-49a7-b23d-31f61807b54a,0800002,1,7ef88c8b-73fa-4f26-884a-1f08f7073a5d,058375000003160831,...,"MAHARISHI PANTJALI, S.A. DE C.V.",2022-01-29,2022-01-30,42644264202201301585237695,16774921,2022-01-30,2022-01-30,NaN,2022-01-30,BANORTE
2,SV96SLXTH,PAID,2022-01-30,2022-01-30,"1,705.67",f01994b6-5d71-49a7-b23d-31f61807b54a,0800003,2,abe867d3-322b-4e15-8693-0b3ecd8c9dc9,127290013929071395,...,Karla Anahi Torres Fuentes,2022-01-29,2022-01-30,42644264202201301585257999,16791738,2022-01-30,2022-01-30,NaN,2022-01-30,BANORTE
3,LCLJGXR5N,PAID,2022-01-30,2022-01-30,"4,489.13",f01994b6-5d71-49a7-b23d-31f61807b54a,0800004,3,3b31436c-f0a3-44d2-a669-dfb38e2e56a2,002580701334955664,...,Ana Yanelly Puente Gutierrez,2022-01-29,2022-01-30,42644264202201301585277971,16807913,2022-01-30,2022-01-30,NaN,2022-01-30,BANORTE
4,KXB3JJYHW,PAID,2022-01-30,2022-01-30,250.11,f01994b6-5d71-49a7-b23d-31f61807b54a,0800005,4,6ab1a2d8-e08a-4d90-9458-373b62516fd7,137463103868892825,...,Virginia Alejandra Barradas Prez,2022-01-29,2022-01-30,42644264202201301585299186,16824779,2022-01-30,2022-01-30,NaN,2022-01-30,BANORTE

In [14]:
rs1.shape

(84324, 21)

In [15]:
rs1['report_id'] = rs1['report_id'].str.strip()

In [16]:
rs2 = rs1.merge(ae_final[['report_id','Clave de la institución','Nombre de la institución','CLABE']] ,on='report_id', how='left')
rs2['Banco emisor'] = '40072'
rs2['Banco_emisor'] = 'BANORTE'
rs2['Comision'] = ''
rs2['LINEA CEP'] = rs2['payment_date_local'].astype(str).replace(' ', '',regex=True)+','+rs2['disbursement_tracking_key'].astype(str).replace(' ', '',regex=True)+','+rs2['Banco emisor'].astype(str).replace(' ', '',regex=True)+','+rs2['Clave de la institución'].astype(str).replace(' ', '',regex=True)+','+rs2['bank_account_number'].astype(str).replace(' ', '',regex=True)+','+rs2['amount'].astype(str).replace(' ', '',regex=True)
rs2.head()

,report_id,status,report_date_local,payment_date_local,amount,disbursement_batch_id,dsp_reference_id,entry_number,disbursement_id,bank_account_number,...,error_description,Date_respuesta,Metodo de dispersion,Clave de la institución,Nombre de la institución,CLABE,Banco emisor,Banco_emisor,Comision,LINEA CEP
0,HHSMNMGY3,PAID,2022-01-30,2022-01-30,"1,437.36",f01994b6-5d71-49a7-b23d-31f61807b54a,0800001,0,96cd279c-52b8-452f-b38e-d9354bcb3537,014078567364065679,...,NaN,2022-01-30,BANORTE,40014,SANTANDER,014078567364065679,40072,BANORTE,,"2022-01-30,42644264202201301585223542,40072,40..."
1,NR5VVJJHM,PAID,2022-01-30,2022-01-30,"41,501.02",f01994b6-5d71-49a7-b23d-31f61807b54a,0800002,1,7ef88c8b-73fa-4f26-884a-1f08f7073a5d,058375000003160831,...,NaN,2022-01-30,BANORTE,40058,BANREGIO,058375000003160831,40072,BANORTE,,"2022-01-30,42644264202201301585237695,40072,40..."
2,SV96SLXTH,PAID,2022-01-30,2022-01-30,"1,705.67",f01994b6-5d71-49a7-b23d-31f61807b54a,0800003,2,abe867d3-322b-4e15-8693-0b3ecd8c9dc9,127290013929071395,...,NaN,2022-01-30,BANORTE,40127,AZTECA,127290013929071395,40072,BANORTE,,"2022-01-30,42644264202201301585257999,40072,40..."
3,LCLJGXR5N,PAID,2022-01-30,2022-01-30,"4,489.13",f01994b6-5d71-49a7-b23d-31f61807b54a,0800004,3,3b31436c-f0a3-44d2-a669-dfb38e2e56a2,002580701334955664,...,NaN,2022-01-30,BANORTE,40002,BANAMEX,002580701334955664,40072,BANORTE,,"2022-01-30,42644264202201301585277971,40072,40..."
4,KXB3JJYHW,PAID,2022-01-30,2022-01-30,250.11,f01994b6-5d71-49a7-b23d-31f61807b54a,0800005,4,6ab1a2d8-e08a-4d90-9458-373b62516fd7,137463103868892825,...,NaN,2022-01-30,BANORTE,40137,BANCOPPEL,137463103868892825,40072,BANORTE,,"2022-01-30,42644264202201301585299186,40072,40..."

# ARCHIVO DISPERSION

In [17]:
disp['report_id'] = disp['report_id'].str.strip()
disp['report_date_local'] = pd.to_datetime(disp['report_date_local'])

In [18]:
disp.loc[disp['report_date_local'] == date_respuesta, 'tipo'] = 'Pago del día'
disp.loc[disp['report_date_local'] != date_respuesta, 'tipo'] = 'Reprogramación'
disp.drop(['bank_name','bank_account_number','status','swap','payment_date_local'],axis=1,inplace=True)
disp.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,amount,bank_account_owner_name,batch_created_date,date_disbursement,tipo
0,00008884-ca93-4758-8aa7-b10f57145850,Dra Abryl,maah25@hotmail.com,HHSMNMGY3,2022-01-30,"1,437.36",Abryl Mariana Avitia Herrera,2022-01-30 08:03:41,2022-01-30,Pago del día
1,0000d758-84b4-4cb0-a165-4f0d3c44864d,MAHARISHI PANTJALI SA DE CV,maharishiclip@gmail.com,NR5VVJJHM,2022-01-30,"41,501.02",MAHARISHI PANTJALI S.A. DE C.V.,2022-01-30 08:03:41,2022-01-30,Pago del día
2,0000e262-e3ed-4f48-94ee-a8f0d1418a0d,Geishas S,kartf89@gmail.com,SV96SLXTH,2022-01-30,"1,705.67",Karla Anahi Torres Fuentes,2022-01-30 08:03:41,2022-01-30,Pago del día
3,0000e953-6b2c-44d0-a798-9dac1abf24ea,Super Kandy,yanellysegovia18@gmail.com,LCLJGXR5N,2022-01-30,"4,489.13",Ana Yanelly Puente Gutierrez,2022-01-30 08:03:41,2022-01-30,Pago del día
4,00023bd5-6149-4ef9-95be-edb61d22588d,LAS PEKES,alebarradas1@hotmail.com,KXB3JJYHW,2022-01-30,250.11,Virginia Alejandra Barradas Prez,2022-01-30 08:03:41,2022-01-30,Pago del día

In [19]:
disp.shape

(84324, 10)

In [20]:
disp_2 = disp.merge(rs2[['report_id','status','Nombre de la institución','CLABE','LINEA CEP','Banco_emisor']]
                    ,on='report_id', how='left')
disp_2.loc[disp_2['status'] != 'PAID', 'status'] = 'ERROR'
disp_2.sort_values(by=['status'])
disp_2.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,amount,bank_account_owner_name,batch_created_date,date_disbursement,tipo,status,Nombre de la institución,CLABE,LINEA CEP,Banco_emisor
0,00008884-ca93-4758-8aa7-b10f57145850,Dra Abryl,maah25@hotmail.com,HHSMNMGY3,2022-01-30,"1,437.36",Abryl Mariana Avitia Herrera,2022-01-30 08:03:41,2022-01-30,Pago del día,PAID,SANTANDER,014078567364065679,"2022-01-30,42644264202201301585223542,40072,40...",BANORTE
1,0000d758-84b4-4cb0-a165-4f0d3c44864d,MAHARISHI PANTJALI SA DE CV,maharishiclip@gmail.com,NR5VVJJHM,2022-01-30,"41,501.02",MAHARISHI PANTJALI S.A. DE C.V.,2022-01-30 08:03:41,2022-01-30,Pago del día,PAID,BANREGIO,058375000003160831,"2022-01-30,42644264202201301585237695,40072,40...",BANORTE
2,0000e262-e3ed-4f48-94ee-a8f0d1418a0d,Geishas S,kartf89@gmail.com,SV96SLXTH,2022-01-30,"1,705.67",Karla Anahi Torres Fuentes,2022-01-30 08:03:41,2022-01-30,Pago del día,PAID,AZTECA,127290013929071395,"2022-01-30,42644264202201301585257999,40072,40...",BANORTE
3,0000e953-6b2c-44d0-a798-9dac1abf24ea,Super Kandy,yanellysegovia18@gmail.com,LCLJGXR5N,2022-01-30,"4,489.13",Ana Yanelly Puente Gutierrez,2022-01-30 08:03:41,2022-01-30,Pago del día,PAID,BANAMEX,002580701334955664,"2022-01-30,42644264202201301585277971,40072,40...",BANORTE
4,00023bd5-6149-4ef9-95be-edb61d22588d,LAS PEKES,alebarradas1@hotmail.com,KXB3JJYHW,2022-01-30,250.11,Virginia Alejandra Barradas Prez,2022-01-30 08:03:41,2022-01-30,Pago del día,PAID,BANCOPPEL,137463103868892825,"2022-01-30,42644264202201301585299186,40072,40...",BANORTE

In [21]:
disp_2.loc[disp_2['Nombre de la institución'] == 'BANORTE/IXE', 'LINEA CEP'] = 'COMPROBANTE MISMO BANCO BANORTE'
disp_2.loc[disp_2['status'] == 'ERROR', 'LINEA CEP'] = ''
disp_2.loc[disp_2['status'] == 'ERROR', 'Banco_emisor'] = ''

In [22]:
for col in disp_2.columns: 
    print(col)

merchant_id
merchant_name
user_email
report_id
report_date_local
amount
bank_account_owner_name
batch_created_date
date_disbursement
tipo
status
Nombre de la institución
CLABE
LINEA CEP
Banco_emisor

In [23]:
disp_final = disp_2[['merchant_id','merchant_name','user_email','report_id','report_date_local','amount','tipo'
                    ,'Nombre de la institución','bank_account_owner_name','CLABE','status','LINEA CEP','Banco_emisor']]
disp_final.rename(columns ={'Nombre de la institución':'bank','amount':'total_due'}, inplace=True)
disp_final.sort_values(by=['status'], ascending=True, inplace=True)
disp_final.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Banco_emisor
67299,cc2f3033-1788-4158-a8a6-447de1c9b6c4,Mirtas Kitchen,tonycansino75@gmail.com,7HMC8RJMF,2022-01-30,258.72,Pago del día,BANAMEX,NaN,002930701084966553,ERROR,,
39201,77a0714d-567b-4e56-99df-59ff19429d4e,pinatas mis vaness,escobary182@gmail.com,Z6V2FGCP5,2022-01-30,268.31,Pago del día,BANORTE/IXE,yazmin escobar,072580011094545432,ERROR,,
34056,686f87ce-29c9-439b-8b2a-abfcc22fccfe,Postres Casa Sanchez,postrescasasanchez@gmail.com,8TSBK3D58,2022-01-30,187.81,Pago del día,AZTECA,NaN,127180013596171327,ERROR,,
14633,2c85a6a0-9401-4039-a28d-6dbd3ff8ece7,six jacinto,jairof120@gmail.com,9D5T6DW3M,2022-01-30,28.75,Pago del día,BANORTE/IXE,Gabriela Trevio Ruiz,072190011475754313,ERROR,,
40273,7aabbff9-0949-4248-a383-6c28bdce4c5c,Sushi Rose,sushirosemx@gmail.com,GP6WQ3YWK,2022-01-30,"2,738.71",Pago del día,BANORTE/IXE,Xingyao Yang .,072580011546738580,ERROR,,

In [24]:
disp_final.shape

(84324, 13)

# ERROR

In [25]:
error = disp_final[(disp_final['status'] != 'PAID')]
error.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,CLABE,status,LINEA CEP,Banco_emisor
67299,cc2f3033-1788-4158-a8a6-447de1c9b6c4,Mirtas Kitchen,tonycansino75@gmail.com,7HMC8RJMF,2022-01-30,258.72,Pago del día,BANAMEX,NaN,002930701084966553,ERROR,,
39201,77a0714d-567b-4e56-99df-59ff19429d4e,pinatas mis vaness,escobary182@gmail.com,Z6V2FGCP5,2022-01-30,268.31,Pago del día,BANORTE/IXE,yazmin escobar,072580011094545432,ERROR,,
34056,686f87ce-29c9-439b-8b2a-abfcc22fccfe,Postres Casa Sanchez,postrescasasanchez@gmail.com,8TSBK3D58,2022-01-30,187.81,Pago del día,AZTECA,NaN,127180013596171327,ERROR,,
14633,2c85a6a0-9401-4039-a28d-6dbd3ff8ece7,six jacinto,jairof120@gmail.com,9D5T6DW3M,2022-01-30,28.75,Pago del día,BANORTE/IXE,Gabriela Trevio Ruiz,072190011475754313,ERROR,,
40273,7aabbff9-0949-4248-a383-6c28bdce4c5c,Sushi Rose,sushirosemx@gmail.com,GP6WQ3YWK,2022-01-30,"2,738.71",Pago del día,BANORTE/IXE,Xingyao Yang .,072580011546738580,ERROR,,

In [26]:
error.shape

(37, 13)

In [27]:
error.drop(['bank_account_owner_name','CLABE','status','LINEA CEP','Banco_emisor'],axis=1,inplace=True)

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [28]:
error.loc[error['bank'] == 'BANORTE/IXE', 'Check'] = 'SPEI DEVUELTO MISMO BANCO'
error.loc[error['bank'] != 'BANORTE/IXE', 'Check'] = 'SPEI DEVUELTO'

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [29]:
error_final = error.merge(rs2[['report_id','error_description']] ,on='report_id', how='left')
error_final.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,Check,error_description
0,cc2f3033-1788-4158-a8a6-447de1c9b6c4,Mirtas Kitchen,tonycansino75@gmail.com,7HMC8RJMF,2022-01-30,258.72,Pago del día,BANAMEX,SPEI DEVUELTO,NOMBRE DEL RECEPTOR DEBE INFORMARSE.
1,77a0714d-567b-4e56-99df-59ff19429d4e,pinatas mis vaness,escobary182@gmail.com,Z6V2FGCP5,2022-01-30,268.31,Pago del día,BANORTE/IXE,SPEI DEVUELTO MISMO BANCO,LA CUENTA DESTINO EXCEDE EL LIMITE DE DEPOSITO...
2,686f87ce-29c9-439b-8b2a-abfcc22fccfe,Postres Casa Sanchez,postrescasasanchez@gmail.com,8TSBK3D58,2022-01-30,187.81,Pago del día,AZTECA,SPEI DEVUELTO,NOMBRE DEL RECEPTOR DEBE INFORMARSE.
3,2c85a6a0-9401-4039-a28d-6dbd3ff8ece7,six jacinto,jairof120@gmail.com,9D5T6DW3M,2022-01-30,28.75,Pago del día,BANORTE/IXE,SPEI DEVUELTO MISMO BANCO,"CUENTA NO ACTIVA, VERIFICAR"
4,7aabbff9-0949-4248-a383-6c28bdce4c5c,Sushi Rose,sushirosemx@gmail.com,GP6WQ3YWK,2022-01-30,"2,738.71",Pago del día,BANORTE/IXE,SPEI DEVUELTO MISMO BANCO,LA CUENTA DESTINO EXCEDE EL LIMITE DE DEPOSITO...

In [30]:
error_final.shape

(37, 10)

# ARCHIVOS FINALES

### ARCHIVO DISPERSION

In [31]:
writer = pd.ExcelWriter('DISPERSION BANORTE.xlsx', engine='xlsxwriter', options={'encoding':'utf-8'})
disp_final.to_excel(writer, sheet_name='BNTE DEL DIA',index=False)
error_final.to_excel(writer, sheet_name='ERROR',index=False)
writer.save()
writer.close()

### ARCHIVO RESPUESTA

In [32]:
rs2.head()

,report_id,status,report_date_local,payment_date_local,amount,disbursement_batch_id,dsp_reference_id,entry_number,disbursement_id,bank_account_number,...,error_description,Date_respuesta,Metodo de dispersion,Clave de la institución,Nombre de la institución,CLABE,Banco emisor,Banco_emisor,Comision,LINEA CEP
0,HHSMNMGY3,PAID,2022-01-30,2022-01-30,"1,437.36",f01994b6-5d71-49a7-b23d-31f61807b54a,0800001,0,96cd279c-52b8-452f-b38e-d9354bcb3537,014078567364065679,...,NaN,2022-01-30,BANORTE,40014,SANTANDER,014078567364065679,40072,BANORTE,,"2022-01-30,42644264202201301585223542,40072,40..."
1,NR5VVJJHM,PAID,2022-01-30,2022-01-30,"41,501.02",f01994b6-5d71-49a7-b23d-31f61807b54a,0800002,1,7ef88c8b-73fa-4f26-884a-1f08f7073a5d,058375000003160831,...,NaN,2022-01-30,BANORTE,40058,BANREGIO,058375000003160831,40072,BANORTE,,"2022-01-30,42644264202201301585237695,40072,40..."
2,SV96SLXTH,PAID,2022-01-30,2022-01-30,"1,705.67",f01994b6-5d71-49a7-b23d-31f61807b54a,0800003,2,abe867d3-322b-4e15-8693-0b3ecd8c9dc9,127290013929071395,...,NaN,2022-01-30,BANORTE,40127,AZTECA,127290013929071395,40072,BANORTE,,"2022-01-30,42644264202201301585257999,40072,40..."
3,LCLJGXR5N,PAID,2022-01-30,2022-01-30,"4,489.13",f01994b6-5d71-49a7-b23d-31f61807b54a,0800004,3,3b31436c-f0a3-44d2-a669-dfb38e2e56a2,002580701334955664,...,NaN,2022-01-30,BANORTE,40002,BANAMEX,002580701334955664,40072,BANORTE,,"2022-01-30,42644264202201301585277971,40072,40..."
4,KXB3JJYHW,PAID,2022-01-30,2022-01-30,250.11,f01994b6-5d71-49a7-b23d-31f61807b54a,0800005,4,6ab1a2d8-e08a-4d90-9458-373b62516fd7,137463103868892825,...,NaN,2022-01-30,BANORTE,40137,BANCOPPEL,137463103868892825,40072,BANORTE,,"2022-01-30,42644264202201301585299186,40072,40..."

In [33]:
rs_final = rs2[['dsp_reference_id','disbursement_tracking_key','bank_account_owner_name','report_id','bank_account_number'
             ,'Nombre de la institución','amount','Comision','status','error_description','Date_respuesta','Metodo de dispersion']]
rs_final.rename(columns = {'dsp_reference_id':'Referencia Numerica','disbursement_tracking_key':'Rastreo CEP'
                           ,'bank_account_owner_name':'Nombre','bank_account_number':'Cuenta'
                           ,'Nombre de la institución':'Banco','amount':'Importe','status':'Estatus'
                           ,'error_description':'Mensaje'}, inplace=True)
rs_final['Cuenta'] = "'"+rs_final['Cuenta']
rs_final.sort_values(by=['Estatus'], ascending=True, inplace=True)
rs_final.head()

C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Cristian.Aparicio\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Referencia Numerica,Rastreo CEP,Nombre,report_id,Cuenta,Banco,Importe,Comision,Estatus,Mensaje,Date_respuesta,Metodo de dispersion
67299,0867300,NaN,NaN,7HMC8RJMF,'002930701084966553,BANAMEX,258.72,,ERROR,NOMBRE DEL RECEPTOR DEBE INFORMARSE.,2022-01-30,BANORTE
36939,0836940,NaN,NaN,Y435HLF95,'012180015843175215,BBVA BANCOMER,200.28,,ERROR,NOMBRE DEL RECEPTOR DEBE INFORMARSE.,2022-01-30,BANORTE
76783,0876784,NaN,NaN,YXG5T4248,'137180104141361397,BANCOPPEL,"11,450.97",,ERROR,NOMBRE DEL RECEPTOR DEBE INFORMARSE.,2022-01-30,BANORTE
31177,0831178,NaN,Juan Jose Lopez Martinez,6XHW3KPW4,'072580011118428354,BANORTE/IXE,412.52,,ERROR,LA CUENTA DESTINO EXCEDE EL LIMITE DE DEPOSITO...,2022-01-30,BANORTE
69525,0869526,NaN,Dolores Tomasa Márquez Álvarez,YK47ZNFFB,'072580011094089396,BANORTE/IXE,620.33,,ERROR,LA CUENTA DESTINO EXCEDE EL LIMITE DE DEPOSITO...,2022-01-30,BANORTE

In [34]:
rs_final.shape

(84324, 12)

In [35]:
rs_final.to_csv(r'G:\My Drive\Settlement\Respuestas Swap\2022\01. Enero 2022\Respuesta 2022-01-30.csv',index=False)