In [1]:
import pandas as pd
import numpy as np
import glob
import os
from openpyxl import load_workbook
pd.options.display.float_format = '{:,.2f}'.format

# MES AÑO DE CONCILIACIÓN

In [2]:
month_conc = 'January'
year_conc = '2024'

# SWAP DEL DIA

In [3]:
trad_files = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\2024\01. ENERO\ARCHIVO DISPERSIONES\Dispersión*.xlsx', recursive=False)
trad_files

['C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240101.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240102.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240103.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240104.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240105.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240106.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240107.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240108.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240109.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240110.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240111.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240112.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240113.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240114.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240115.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240116.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240117.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240118.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240119.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240120.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240121.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240122.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240123.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240124.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240125.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240126.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240127.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240128.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240129.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240130.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\DISPERSIONES\\2024\\01. ENERO\\ARCHIVO DISPERSIONES\\Dispersión-20240131.xlsx']

In [4]:
swap_dia_total = pd.concat([pd.read_excel(f,sheet_name='Swap del día').assign(file_name=os.path.basename(f)) for f in trad_files])
swap_dia_total.columns = swap_dia_total.columns.str.strip().str.lower() 
swap_dia_total['Date'] = swap_dia_total["file_name"].str[-13:-5]
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'], format='%Y%m%d').dt.date
swap_dia_total['Date']= pd.to_datetime(swap_dia_total['Date'])
swap_dia_total['report_date_local']= pd.to_datetime(swap_dia_total['report_date_local'])
swap_dia_total['month_conc'] = month_conc
swap_dia_total['year_conc'] = year_conc
swap_dia_total['month_report'] = swap_dia_total['report_date_local'].dt.strftime('%B')
swap_dia_total['year_report'] = swap_dia_total['report_date_local'].dt.year.astype(str)
swap_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,status,linea cep,batch_time,banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,LEDGER_TRAD,03c36e07-4550-4a03-addc-23932ed78f86,NaN,NaN,A935WHWRG,2024-01-01,267.34,Pago del día,BBVA BANCOMER,Flor Liliana Gonzalez Gonzalez,...,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2024
1,LEDGER_TRAD,084a9e0c-e42e-48a7-a8f3-2ca27af4a296,NaN,NaN,APR7W7D4X,2024-01-01,"2,502.64",Pago del día,BBVA BANCOMER,Porfirio Diaz velazquez,...,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2024
2,LEDGER_TRAD,0a00f802-ff5a-49c6-8ad6-693c5b544f3f,NaN,NaN,AR3LJGSXN,2024-01-01,"1,612.24",Pago del día,CAJA POP MEXICA,Juan Pablo Cruz Martinez,...,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2024
3,LEDGER_TRAD,0db5a402-c0ef-4efa-ba81-f5ded327b01b,NaN,NaN,ARHPK56L6,2024-01-01,670.76,Pago del día,CAJA POP MEXICA,Juan Alberto Lopez Gomez,...,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2024
4,LEDGER_TRAD,0f212a5b-8ee5-41bf-8872-cf478d87e420,NaN,NaN,AKJD62RC8,2024-01-01,"4,233.56",Pago del día,BBVA BANCOMER,Liping He,...,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,January,2024

In [5]:
swap_dia_total.shape

(2974752, 21)

In [6]:
swap_dia_total.dtypes

type                               object
merchant_id                        object
merchant_name                      object
user_email                         object
report_id                          object
report_date_local          datetime64[ns]
total_due                         float64
tipo                               object
bank                               object
bank_account_owner_name            object
clabe                               int64
status                             object
linea cep                          object
batch_time                         object
banco_emisor                       object
file_name                          object
Date                       datetime64[ns]
month_conc                         object
year_conc                          object
month_report                       object
year_report                        object
dtype: object

In [7]:
pivot_total = pd.pivot_table(swap_dia_total,index=['Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_total.reset_index(drop=False, inplace=True)
pivot_total.head()

                  Date            sum       len
                            total_due total_due
0  2024-01-01 00:00:00 234,559,767.84     73014
1  2024-01-02 00:00:00 127,923,371.85     36243
2  2024-01-03 00:00:00 233,413,057.92     89616
3  2024-01-04 00:00:00 245,110,495.98     97372
4  2024-01-05 00:00:00 254,237,668.57    102299

In [8]:
pivot_parcial = pd.pivot_table(swap_dia_total,index=['type','tipo','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_parcial.reset_index(drop=False, inplace=True)
pivot_parcial.head()

    type            tipo                 Date       sum       len
                                              total_due total_due
0  DAILY  Reprogramación  2024-01-01 00:00:00    846.12         2
1  DAILY  Reprogramación  2024-01-02 00:00:00  4,888.08         8
2  DAILY  Reprogramación  2024-01-03 00:00:00 13,891.58        24
3  DAILY  Reprogramación  2024-01-04 00:00:00 57,421.82        64
4  DAILY  Reprogramación  2024-01-05 00:00:00 21,335.97        39

## CATEGORIZACIÓN DE REPROGRAMACIONES

In [9]:
swap_dia_total_repro = swap_dia_total[(swap_dia_total['tipo'] == 'Reprogramación')]
swap_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,status,linea cep,batch_time,banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
14,LEDGER_TRAD,3ead5818-b19d-45f3-bc23-02ce5b83f29c,NaN,NaN,A8J35Q422,2023-12-30,622.86,Reprogramación,BANCOPPEL,Roco Antonio,...,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2023
17,LEDGER_TRAD,44de9419-df79-4cae-b6c3-798c844d4aaa,NaN,NaN,AY8J9F5JJ,2023-12-24,"37,371.36",Reprogramación,BBVA BANCOMER,Fernanda Flores Perez,...,ERROR,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2023
66,LEDGER_TRAD,7acbed3b-ca95-4409-befd-d151d8d86ad7,NaN,NaN,ALXDLXWGM,2023-12-12,"2,314.16",Reprogramación,BANORTE/IXE,Carlos luna López,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2023
67,LEDGER_TRAD,7acbed3b-ca95-4409-befd-d151d8d86ad7,NaN,NaN,AK238RWNN,2023-12-13,"1,255.30",Reprogramación,BANORTE/IXE,Carlos luna López,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2023
68,LEDGER_TRAD,7acbed3b-ca95-4409-befd-d151d8d86ad7,NaN,NaN,AB64FTQHR,2023-12-19,"5,260.73",Reprogramación,BANORTE/IXE,Carlos luna López,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2023

In [10]:
swap_dia_total_repro.shape

(8779, 21)

In [11]:
swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
                   & (swap_dia_total_repro['month_report'] == month_conc) 
                   & (swap_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
swap_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17772\2042991903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swap_dia_total_repro.loc[(swap_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17772\2042991903.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swap_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,bank_account_owner_name,...,linea cep,batch_time,banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,tipo_reprogramacion
14,LEDGER_TRAD,3ead5818-b19d-45f3-bc23-02ce5b83f29c,NaN,NaN,A8J35Q422,2023-12-30,622.86,Reprogramación,BANCOPPEL,Roco Antonio,...,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2023,nan
17,LEDGER_TRAD,44de9419-df79-4cae-b6c3-798c844d4aaa,NaN,NaN,AY8J9F5JJ,2023-12-24,"37,371.36",Reprogramación,BBVA BANCOMER,Fernanda Flores Perez,...,NaN,01. First_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2023,nan
66,LEDGER_TRAD,7acbed3b-ca95-4409-befd-d151d8d86ad7,NaN,NaN,ALXDLXWGM,2023-12-12,"2,314.16",Reprogramación,BANORTE/IXE,Carlos luna López,...,NaN,02. Second_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2023,nan
67,LEDGER_TRAD,7acbed3b-ca95-4409-befd-d151d8d86ad7,NaN,NaN,AK238RWNN,2023-12-13,"1,255.30",Reprogramación,BANORTE/IXE,Carlos luna López,...,NaN,02. Second_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2023,nan
68,LEDGER_TRAD,7acbed3b-ca95-4409-befd-d151d8d86ad7,NaN,NaN,AB64FTQHR,2023-12-19,"5,260.73",Reprogramación,BANORTE/IXE,Carlos luna López,...,NaN,02. Second_batch,BANORTE,Dispersión-20240101.xlsx,2024-01-01,January,2024,December,2023,nan

In [12]:
pivot_tipo_repro = pd.pivot_table(swap_dia_total_repro,index=['Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro.reset_index(drop=False, inplace=True)
pivot_tipo_repro.head()

                                    Date          sum                  \
                                            total_due
tipo_reprogramacion                               nan repro_mismo_mes
0                    2024-01-01 00:00:00   533,120.74             NaN
1                    2024-01-02 00:00:00 1,276,754.93       25,522.60
2                    2024-01-03 00:00:00 1,309,129.67       60,844.22
3                    2024-01-04 00:00:00 1,031,573.20      307,637.77
4                    2024-01-05 00:00:00 1,822,228.28      301,633.83

                                       len
                                 total_due
tipo_reprogramacion          All       nan repro_mismo_mes  All
0                     533,120.74    282.00             NaN  282
1                   1,302,277.53    716.00           18.00  734
2                   1,369,973.89    512.00           23.00  535
3                   1,339,210.97    356.00           50.00  406
4                   2,123,862.11    320.00           56.00  376

# FAST PAYMENTS

In [13]:
allfiles_fp = glob.glob(r'C:\Users\Cristian.Aparicio\Documents\FAST PAYMENTS\2024\01. ENERO\ARCHIVO DISPERSIONES FP\Dispersión-FP*.xlsx',recursive=False)
allfiles_fp

['C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-01.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-02.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-03.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-04.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-05.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-06.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-07.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-08.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-09.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-10.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-11.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-12.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-13.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-14.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-15.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-16.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-17.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-18.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-19.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-20.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-21.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-22.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-23.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-24.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-25.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-26.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-27.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-28.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-29.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-30.xlsx',
 'C:\\Users\\Cristian.Aparicio\\Documents\\FAST PAYMENTS\\2024\\01. ENERO\\ARCHIVO DISPERSIONES FP\\Dispersión-FP 2024-01-31.xlsx']

In [14]:
fp_dia_total = pd.concat([pd.read_excel(f,sheet_name='FAST PAYMENTS')
                          .assign(file_name=os.path.basename(f)) for f in allfiles_fp])
fp_dia_total.columns = fp_dia_total.columns.str.strip().str.lower() 
fp_dia_total['Date'] = fp_dia_total["file_name"].str[-15:-5]
fp_dia_total['Date']= pd.to_datetime(fp_dia_total['Date'])
fp_dia_total['report_date_local']= pd.to_datetime(fp_dia_total['report_date_local'])
fp_dia_total['month_conc'] = month_conc
fp_dia_total['year_conc'] = year_conc
fp_dia_total['month_report'] = fp_dia_total['report_date_local'].dt.strftime('%B')
fp_dia_total['year_report'] = fp_dia_total['report_date_local'].dt.year.astype(str)
fp_dia_total.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,status,linea cep,batch_time,banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
0,LEDGER_FP,0a00f802-ff5a-49c6-8ad6-693c5b544f3f,NaN,NaN,AR3LJGSXN,2024-01-01,"1,612.24",Pago del día,CAJA POP MEXICA,Juan Pablo Cruz Martinez,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,January,2024,January,2024
1,LEDGER_FP,0db5a402-c0ef-4efa-ba81-f5ded327b01b,NaN,NaN,ARHPK56L6,2024-01-01,670.76,Pago del día,CAJA POP MEXICA,Juan Alberto Lopez Gomez,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,January,2024,January,2024
2,LEDGER_FP,0f8187da-2201-47a4-a080-c3fd0c295845,NaN,NaN,A95HMQCJ8,2024-01-01,924.70,Pago del día,CAJA POP MEXICA,Claudia Horalia Rivera Reyes,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,January,2024,January,2024
3,LEDGER_FP,4fd8ff57-a301-4dd5-8af6-e92038329134,NaN,NaN,ATJ5WYZKZ,2024-01-01,"9,582.40",Pago del día,ASP INTEGRA OPC,Alejandra Rodriguez Guzman,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,January,2024,January,2024
4,LEDGER_FP,5516a3c0-cb46-4649-8859-4d2143583f03,NaN,NaN,ANGQHNPVT,2024-01-01,383.30,Pago del día,CAJA POP MEXICA,Marco Antonio Bello Serrano,...,ERROR,NaN,02. Second_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,January,2024,January,2024

In [15]:
fp_dia_total.shape

(74601, 21)

In [16]:
fp_dia_total.dtypes

type                         object
merchant_id                  object
merchant_name                object
user_email                   object
report_id                    object
report_date_local    datetime64[ns]
total_due                   float64
tipo                         object
bank                         object
swap                         object
clabe                         int64
status                       object
linea cep                    object
batch_time                   object
banco_emisor                 object
file_name                    object
Date                 datetime64[ns]
month_conc                   object
year_conc                    object
month_report                 object
year_report                  object
dtype: object

In [17]:
pivot_fp_total = pd.pivot_table(fp_dia_total,index=['Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_fp_total.reset_index(drop=False, inplace=True)
pivot_fp_total.head()

                  Date          sum       len
                          total_due total_due
0  2024-01-01 00:00:00 1,677,947.06      1176
1  2024-01-02 00:00:00 2,900,343.26      2636
2  2024-01-03 00:00:00 1,749,042.46      2385
3  2024-01-04 00:00:00 2,717,041.63      2609
4  2024-01-05 00:00:00 1,968,067.50      2451

In [18]:
pivot_fp_parcial = pd.pivot_table(fp_dia_total,index=['type','tipo','Date'],values=['total_due'],aggfunc = ['sum', len],margins=True)
pivot_fp_parcial.reset_index(drop=False, inplace=True)
pivot_fp_parcial.head()

      type            tipo                 Date       sum       len
                                                total_due total_due
0  INSTANT  Reprogramación  2024-01-02 00:00:00 72,242.62        25
1  INSTANT  Reprogramación  2024-01-03 00:00:00 21,298.77         9
2  INSTANT  Reprogramación  2024-01-04 00:00:00  4,767.25         6
3  INSTANT  Reprogramación  2024-01-05 00:00:00    191.65         1
4  INSTANT  Reprogramación  2024-01-09 00:00:00      4.79         1

## CATEGORIZACIÓN DE REPROGRAMACIONES - FAST PAYMENTS

In [19]:
fp_dia_total_repro = fp_dia_total[(fp_dia_total['tipo'] == 'Reprogramación')]
fp_dia_total_repro.head()

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,status,linea cep,batch_time,banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report
28,LEDGER_FP,f47f630e-c9c3-40d2-b329-72c9d77f0cbe,NaN,NaN,AYLCNZGZ9,2023-12-15,"5,883.60",Reprogramación,BBVA BANCOMER,Maria Narcedalia Cruz Garcia,...,ERROR,NaN,06. Sixth_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,January,2024,December,2023
29,LEDGER_FP,f47f630e-c9c3-40d2-b329-72c9d77f0cbe,NaN,NaN,AVWCYXP4Z,2023-12-19,"5,222.40",Reprogramación,BBVA BANCOMER,Maria Narcedalia Cruz Garcia,...,ERROR,NaN,06. Sixth_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,January,2024,December,2023
30,LEDGER_FP,f47f630e-c9c3-40d2-b329-72c9d77f0cbe,NaN,NaN,AMY9QVSB9,2023-12-21,"1,743.99",Reprogramación,BBVA BANCOMER,Maria Narcedalia Cruz Garcia,...,ERROR,NaN,06. Sixth_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,January,2024,December,2023
31,LEDGER_FP,f47f630e-c9c3-40d2-b329-72c9d77f0cbe,NaN,NaN,A4FTN9QPT,2023-12-22,"4,077.32",Reprogramación,BBVA BANCOMER,Maria Narcedalia Cruz Garcia,...,ERROR,NaN,06. Sixth_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,January,2024,December,2023
32,LEDGER_FP,f47f630e-c9c3-40d2-b329-72c9d77f0cbe,NaN,NaN,AR5995F25,2023-12-24,"3,531.10",Reprogramación,BBVA BANCOMER,Maria Narcedalia Cruz Garcia,...,ERROR,NaN,06. Sixth_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,January,2024,December,2023

In [20]:
fp_dia_total_repro.shape

(5473, 21)

In [21]:
fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
                   & (fp_dia_total_repro['month_report'] == month_conc) 
                   & (fp_dia_total_repro['year_report'] == year_conc),'tipo_reprogramacion'] = 'repro_mismo_mes'
fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)
fp_dia_total_repro.head()

C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17772\939012805.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fp_dia_total_repro.loc[(fp_dia_total_repro['tipo'] == 'Reprogramación')
C:\Users\Cristian.Aparicio\AppData\Local\Temp\ipykernel_17772\939012805.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fp_dia_total_repro['tipo_reprogramacion'].fillna('repro_otro_mes',inplace=True)

,type,merchant_id,merchant_name,user_email,report_id,report_date_local,total_due,tipo,bank,swap,...,linea cep,batch_time,banco_emisor,file_name,Date,month_conc,year_conc,month_report,year_report,tipo_reprogramacion
28,LEDGER_FP,f47f630e-c9c3-40d2-b329-72c9d77f0cbe,NaN,NaN,AYLCNZGZ9,2023-12-15,"5,883.60",Reprogramación,BBVA BANCOMER,Maria Narcedalia Cruz Garcia,...,NaN,06. Sixth_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,January,2024,December,2023,nan
29,LEDGER_FP,f47f630e-c9c3-40d2-b329-72c9d77f0cbe,NaN,NaN,AVWCYXP4Z,2023-12-19,"5,222.40",Reprogramación,BBVA BANCOMER,Maria Narcedalia Cruz Garcia,...,NaN,06. Sixth_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,January,2024,December,2023,nan
30,LEDGER_FP,f47f630e-c9c3-40d2-b329-72c9d77f0cbe,NaN,NaN,AMY9QVSB9,2023-12-21,"1,743.99",Reprogramación,BBVA BANCOMER,Maria Narcedalia Cruz Garcia,...,NaN,06. Sixth_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,January,2024,December,2023,nan
31,LEDGER_FP,f47f630e-c9c3-40d2-b329-72c9d77f0cbe,NaN,NaN,A4FTN9QPT,2023-12-22,"4,077.32",Reprogramación,BBVA BANCOMER,Maria Narcedalia Cruz Garcia,...,NaN,06. Sixth_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,January,2024,December,2023,nan
32,LEDGER_FP,f47f630e-c9c3-40d2-b329-72c9d77f0cbe,NaN,NaN,AR5995F25,2023-12-24,"3,531.10",Reprogramación,BBVA BANCOMER,Maria Narcedalia Cruz Garcia,...,NaN,06. Sixth_batch,BANORTE,Dispersión-FP 2024-01-01.xlsx,2024-01-01,January,2024,December,2023,nan

In [22]:
pivot_tipo_repro_fp = pd.pivot_table(fp_dia_total_repro,index=['Date'],
                                  columns=['tipo_reprogramacion'],
                                  values=['total_due']
                                  ,aggfunc = ['sum', len],margins=True)
pivot_tipo_repro_fp.reset_index(drop=False, inplace=True)
pivot_tipo_repro_fp.head()

                                    Date          sum                  \
                                            total_due
tipo_reprogramacion                               nan repro_mismo_mes
0                    2024-01-01 00:00:00   758,553.33             NaN
1                    2024-01-02 00:00:00 1,429,257.21       67,283.93
2                    2024-01-03 00:00:00   503,779.23       31,779.54
3                    2024-01-04 00:00:00 1,233,546.40       47,777.07
4                    2024-01-05 00:00:00   339,933.82       69,181.34

                                       len
                                 total_due
tipo_reprogramacion          All       nan repro_mismo_mes  All
0                     758,553.33    261.00             NaN  261
1                   1,496,541.14    798.00            5.00  803
2                     535,558.77    330.00            7.00  337
3                   1,281,323.47    453.00           11.00  464
4                     409,115.16    142.00            7.00  149


# MONTOS TOTALES

In [23]:
total_disb_files = glob.glob(r'G:\.shortcut-targets-by-id\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\3.-Settlement\5.-HISTORICO FILES PAGOS\01. TRADICIONAL\2024\01. JANUARY\VALIDATION\total_dis*.csv', recursive=False)
total_disb_files

['G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-1 2024-01-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-2 2024-01-01.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-2 2024-01-02.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-2 2024-01-03.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-2 2024-01-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-3 2024-01-04.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-2 2024-01-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-3 2024-01-05.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-1 2024-01-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-2 2024-01-06.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-1 2024-01-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-2 2024-01-07.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-2 2024-01-08.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-2 2024-01-09.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-2 2024-01-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-3 2024-01-10.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-11.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-2 2024-01-11.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-3 2024-01-11.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-2 2024-01-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-3 2024-01-12.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-1 2024-01-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-2 2024-01-13.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-1 2024-01-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-2 2024-01-14.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-2 2024-01-15.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-2 2024-01-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-3 2024-01-16.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-2 2024-01-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-3 2024-01-17.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-2 2024-01-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-3 2024-01-18.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-2 2024-01-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-3 2024-01-19.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-1 2024-01-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-2 2024-01-20.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-1 2024-01-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-2 2024-01-21.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-2 2024-01-22.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-2 2024-01-23.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-2 2024-01-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-3 2024-01-24.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-2 2024-01-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-3 2024-01-25.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-2 2024-01-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-3 2024-01-26.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-1 2024-01-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-2 2024-01-27.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-1 2024-01-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-2 2024-01-28.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-2 2024-01-29.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-2 2024-01-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-3 2024-01-30.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-1 2024-01-31.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-SANT-2 2024-01-31.csv',
 'G:\\.shortcut-targets-by-id\\1Oe28Mf9uSidMamjllDen2gkNnC59eSUr\\3.-Settlement\\5.-HISTORICO FILES PAGOS\\01. TRADICIONAL\\2024\\01. JANUARY\\VALIDATION\\total_disbursement-BNTE-3 2024-01-31.csv']

In [24]:
totales = pd.concat([pd.read_csv(f).assign(file_name=os.path.basename(f)) for f in total_disb_files])
totales.columns = totales.columns.str.strip().str.lower() 
totales['date_disbursement'] = pd.to_datetime(totales['date_disbursement']) 
totales.head()

,date_disbursement,dsp,payments_number,amount,comision_dsp,iva_dsp,comision + iva,total_fondeo,file_name
0,2024-01-01,BNTE,72728,"234,089,784.29","126,779.40","20,284.70","147,064.10","234,236,848.39",total_disbursement-BNTE-1 2024-01-01.csv
0,2024-01-01,BNTE,286,"469,983.55",492.30,78.77,571.07,"470,554.62",total_disbursement-BNTE-2 2024-01-01.csv
0,2024-01-02,SANT,35588,"127,322,585.11","17,794.00","2,847.04","20,641.04","127,343,226.15",total_disbursement-SANT-1 2024-01-02.csv
0,2024-01-02,BNTE,655,"600,786.74","1,176.75",188.28,"1,365.03","602,151.77",total_disbursement-BNTE-2 2024-01-02.csv
0,2024-01-03,SANT,89108,"232,398,907.56","44,554.00","7,128.64","51,682.64","232,450,590.20",total_disbursement-SANT-1 2024-01-03.csv

In [25]:
pivot_validation = pd.pivot_table(totales,index=['date_disbursement'],
                                  values=['payments_number','amount','comision_dsp','iva_dsp','comision + iva',
                                         'total_fondeo'],aggfunc = ['sum'],margins=True)
pivot_validation.reset_index(drop=False, inplace=True)
pivot_validation.head()

     date_disbursement            sum                                        \
                               amount comision + iva comision_dsp   iva_dsp
0  2024-01-01 00:00:00 234,559,767.84     147,635.17   127,271.70 20,363.47
1  2024-01-02 00:00:00 127,923,371.85      22,006.07    18,970.75  3,035.32
2  2024-01-03 00:00:00 233,413,057.92      52,738.99    45,464.65  7,274.34
3  2024-01-04 00:00:00 245,110,495.98      57,159.17    49,275.15  7,884.02
4  2024-01-05 00:00:00 254,237,668.57      60,124.25    51,831.25  8,293.00


  payments_number   total_fondeo
0           73014 234,707,403.01
1           36243 127,945,377.92
2           89616 233,465,796.91
3           97372 245,167,655.15
4          102299 254,297,792.82

In [26]:
writer = pd.ExcelWriter('MONTOS CONCILIACION ENERO 2024.xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={'options': {'encoding':'utf-8'}})
pivot_total.to_excel(writer, sheet_name='SWAP DIA TOTAL')
pivot_parcial.to_excel(writer, sheet_name='SWAP DIA PARCIAL')
pivot_tipo_repro.to_excel(writer, sheet_name='CATEGORIZACION REPRO')
pivot_tipo_repro_fp.to_excel(writer, sheet_name='CATEGORIZACION FP-REPRO')
totales.to_excel(writer, sheet_name='MONTOS TOTALES DESGLOSADO')
pivot_validation.to_excel(writer, sheet_name='MONTOS TOTALES')
writer.close()