In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import glob
import os
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
date_envio = '2022-01-31'
monto_me_mail = 126891164.31
comision_swap_mail = 107357.35
iva_swap_mail = 17177.18
monto_fondear_mail = 127015698.84
date_envio = pd.to_datetime(date_envio)

# READING FILES

## SWAP

In [3]:
bin1 = pd.read_csv(r'C:\Users\Cristian.Aparicio\Documents\DISPERSIONES\Catalogo_Bancos.csv'
                  ,dtype={'BIN':object,'Clave de la institución':object,'Nombre de la institución':object})

In [4]:
query_1 = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2022\01. JANUARY\SWAP 20*.csv', recursive=False)
query_1

['G:\\My Drive\\Settlement\\5.-HISTORICO FILES PAGOS\\2022\\01. JANUARY\\SWAP 2022-01-31.csv']

In [5]:
query = pd.concat([pd.read_csv(f,dtype={'bank_account_number':object,'report_id':object})
                   .assign(file_name=os.path.basename(f)) for f in query_1])                     
query['CLABE'] = query['bank_account_number'].str[1:]
query['BIN'] = query['bank_account_number'].str[1:4].replace(' ', '',regex=True)
query['date_disbursement'] = date_envio

In [6]:
query['CLABE'] = query['bank_account_number'].str[1:]
query['BIN'] = query['bank_account_number'].str[1:4].replace(' ', '',regex=True)
query['date_disbursement'] = date_envio

In [7]:
query_final = query.merge(bin1[['BIN','Clave de la institución','Nombre de la institución']] ,on='BIN', how='left')
query_final.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,payment_date_local,bank_account_owner_name,bank_account_number,batch_created_date,swap,file_name,CLABE,BIN,date_disbursement,Clave de la institución,Nombre de la institución
0,0000d758-84b4-4cb0-a165-4f0d3c44864d,MAHARISHI PANTJALI SA DE CV,maharishiclip@gmail.com,75HNWQ7W8,2022-01-31 00:00:00,"66,652.53",PENDING,"Banco Regional de Monterrey, S.A.",2022-01-31 09:12:58,MAHARISHI PANTJALI S.A. DE C.V.,'058375000003160831,2022-01-31 09:03:18,"MAHARISHI PANTJALI S.A. DE C.V.,,66652.53,0583...",SWAP 2022-01-31.csv,058375000003160831,058,2022-01-31,40058,BANREGIO
1,0000e953-6b2c-44d0-a798-9dac1abf24ea,Super Kandy,yanellysegovia18@gmail.com,4YYNJCD2T,2022-01-31 00:00:00,"5,039.84",PENDING,"Banco Nacional de México, S.A.",2022-01-31 09:12:23,Ana Yanelly Puente Gutierrez,'002580701334955664,2022-01-31 09:03:18,"Ana Yanelly Puente Gutierrez,,5039.84,00258070...",SWAP 2022-01-31.csv,002580701334955664,002,2022-01-31,40002,BANAMEX
2,00023bd5-6149-4ef9-95be-edb61d22588d,LAS PEKES,alebarradas1@hotmail.com,DBM9TZH9J,2022-01-31 00:00:00,43.12,PENDING,"BanCoppel, S.A.",2022-01-31 09:11:47,Virginia Alejandra Barradas Prez,'137463103868892825,2022-01-31 09:03:18,"Virginia Alejandra Barradas Prez,,43.12,137463...",SWAP 2022-01-31.csv,137463103868892825,137,2022-01-31,40137,BANCOPPEL
3,000255c1-03db-49c8-993d-2ce223408b0a,La Mision,micaelaguerrero3531@gmail.com,DKLFCG7B7,2022-01-31 00:00:00,61.81,PENDING,"Banco Regional de Monterrey, S.A.",2022-01-31 09:12:58,Micaela Guerrero,'058680000007494201,2022-01-31 09:03:18,"Micaela Guerrero,,61.81,058680000007494201,CLI...",SWAP 2022-01-31.csv,058680000007494201,058,2022-01-31,40058,BANREGIO
4,0003c12e-9130-4af9-b4be-dba67bfeab51,Nakama Sushi,nakama.sushi.pfp@gmail.com,XQ6WWFZNM,2022-01-31 00:00:00,182.07,PENDING,"BBVA Bancomer, S.A.",2022-01-31 09:11:47,Chtistian David Guzman Renteria,'012180015984386028,2022-01-31 09:03:18,"Chtistian David Guzman Renteria,,182.07,012180...",SWAP 2022-01-31.csv,012180015984386028,012,2022-01-31,40012,BBVA BANCOMER

In [8]:
query_final.shape

(58031, 19)

In [9]:
ae_1 = glob.glob(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2022\01. JANUARY\SwapDO*.csv', recursive=False)
ae_1

['G:\\My Drive\\Settlement\\5.-HISTORICO FILES PAGOS\\2022\\01. JANUARY\\SwapDOWNLOAD 2022-01-31.csv']

In [10]:
ae = pd.concat([pd.read_csv(f,names=['Nombre_download','Blank','amount_download','CLABE_download','report_id']
                            ,dtype={'CLABE_download':object,'report_id':object},skiprows=[0])
                .assign(file_name=os.path.basename(f)) for f in ae_1]) 
ae['report_id'] = ae['report_id'].str[5:].replace(' ', '',regex=True)
ae['report_id'] = ae['report_id'].replace(' ', '',regex=True)
ae.head()

,Nombre_download,Blank,amount_download,CLABE_download,report_id,file_name
0,Gabriela Cruz Aragon,nan,8.00,012180011642955876,VBRNQFSJV,SwapDOWNLOAD 2022-01-31.csv
1,Juan Jose Abarca Barreto,nan,"1,830.23",012040011224470291,2Z4R2SP2X,SwapDOWNLOAD 2022-01-31.csv
2,Victor Hugo Flores Munoz,nan,"1,437.36",002180902707725277,QYWYS4NWR,SwapDOWNLOAD 2022-01-31.csv
3,JPA SOLUCIONES AEREAS S A DE C V,nan,"30,320.63",012691001161237406,5WR3TNVFT,SwapDOWNLOAD 2022-01-31.csv
4,JESSON FERNANDO MARTINEZ ROBLES,nan,59.41,072060010927954789,822PPZ8LT,SwapDOWNLOAD 2022-01-31.csv

In [11]:
ae.shape

(58031, 6)

# VALIDACION MONTO A DISPERSAR

In [12]:
valid_1 = query.groupby(['date_disbursement']).agg({'amount':sum,'report_id':'count'}).reset_index()
valid_1.rename(columns={'report_id':'payments_number'},inplace=True)
valid_1['valor_comision'] = 1.85
valid_1['valor_iva'] = valid_1['valor_comision']*0.1600
valid_1['comision_dsp'] = valid_1['payments_number'] * valid_1['valor_comision']
valid_1['iva_dsp'] = valid_1['comision_dsp'] * 0.1600
valid_1['comision + iva'] = valid_1['comision_dsp'] + valid_1['iva_dsp']
valid_1['total_fondeo'] = valid_1['amount'] + valid_1['comision + iva']
valid_1['monto_mail'] = monto_me_mail
valid_1['comision_mail'] = comision_swap_mail
valid_1['iva_mail'] = iva_swap_mail
valid_1['monto_fondeo_mail'] = monto_fondear_mail
valid_1['check_monto'] = valid_1['amount'] - valid_1['monto_mail']
valid_1['check_comision'] = valid_1['comision_dsp'] - valid_1['comision_mail']
valid_1['check_iva'] = valid_1['iva_dsp'] - valid_1['iva_mail']
valid_1['check_fondeo'] = valid_1['total_fondeo'] - valid_1['monto_fondeo_mail']
valid_1['dsp'] = 'SWAP'
valid_1.head()

,date_disbursement,amount,payments_number,valor_comision,valor_iva,comision_dsp,iva_dsp,comision + iva,total_fondeo,monto_mail,comision_mail,iva_mail,monto_fondeo_mail,check_monto,check_comision,check_iva,check_fondeo,dsp
0,2022-01-31,"126,891,164.31",58031,1.85,0.30,"107,357.35","17,177.18","124,534.53","127,015,698.84","126,891,164.31","107,357.35","17,177.18","127,015,698.84",-0.00,0.00,-0.00,-0.00,SWAP

In [13]:
valid_2 = valid_1[['date_disbursement','dsp','payments_number','amount','comision_dsp','iva_dsp','comision + iva','total_fondeo']]
valid_2.head()

,date_disbursement,dsp,payments_number,amount,comision_dsp,iva_dsp,comision + iva,total_fondeo
0,2022-01-31,SWAP,58031,"126,891,164.31","107,357.35","17,177.18","124,534.53","127,015,698.84"

In [14]:
valid_montos_final = valid_2.stack().reset_index(1)
valid_montos_final.rename(columns={'level_1':'concept',0:'data'},inplace=True)
valid_montos_final

             concept                 data
0  date_disbursement  2022-01-31 00:00:00
0                dsp                 SWAP
0    payments_number                58031
0             amount       126,891,164.31
0       comision_dsp           107,357.35
0            iva_dsp            17,177.18
0     comision + iva           124,534.53
0       total_fondeo       127,015,698.84

# VALIDACION CUENTAS Y MONTOS POR REPORT_ID

In [15]:
valid_3 = query.merge(ae[['report_id','Nombre_download','amount_download','CLABE_download']] ,on='report_id', how='left')
valid_3['clabe_validation'] = valid_3['CLABE'] == valid_3['CLABE_download']
valid_3['amount_validation'] = valid_3['amount'] == valid_3['amount_download']
valid_3.head()

,merchant_id,merchant_name,user_email,report_id,report_date_local,amount,status,bank_name,payment_date_local,bank_account_owner_name,...,swap,file_name,CLABE,BIN,date_disbursement,Nombre_download,amount_download,CLABE_download,clabe_validation,amount_validation
0,0000d758-84b4-4cb0-a165-4f0d3c44864d,MAHARISHI PANTJALI SA DE CV,maharishiclip@gmail.com,75HNWQ7W8,2022-01-31 00:00:00,"66,652.53",PENDING,"Banco Regional de Monterrey, S.A.",2022-01-31 09:12:58,MAHARISHI PANTJALI S.A. DE C.V.,...,"MAHARISHI PANTJALI S.A. DE C.V.,,66652.53,0583...",SWAP 2022-01-31.csv,058375000003160831,058,2022-01-31,MAHARISHI PANTJALI S A DE C V,"66,652.53",058375000003160831,True,True
1,0000e953-6b2c-44d0-a798-9dac1abf24ea,Super Kandy,yanellysegovia18@gmail.com,4YYNJCD2T,2022-01-31 00:00:00,"5,039.84",PENDING,"Banco Nacional de México, S.A.",2022-01-31 09:12:23,Ana Yanelly Puente Gutierrez,...,"Ana Yanelly Puente Gutierrez,,5039.84,00258070...",SWAP 2022-01-31.csv,002580701334955664,002,2022-01-31,Ana Yanelly Puente Gutierrez,"5,039.84",002580701334955664,True,True
2,00023bd5-6149-4ef9-95be-edb61d22588d,LAS PEKES,alebarradas1@hotmail.com,DBM9TZH9J,2022-01-31 00:00:00,43.12,PENDING,"BanCoppel, S.A.",2022-01-31 09:11:47,Virginia Alejandra Barradas Prez,...,"Virginia Alejandra Barradas Prez,,43.12,137463...",SWAP 2022-01-31.csv,137463103868892825,137,2022-01-31,Virginia Alejandra Barradas Prez,43.12,137463103868892825,True,True
3,000255c1-03db-49c8-993d-2ce223408b0a,La Mision,micaelaguerrero3531@gmail.com,DKLFCG7B7,2022-01-31 00:00:00,61.81,PENDING,"Banco Regional de Monterrey, S.A.",2022-01-31 09:12:58,Micaela Guerrero,...,"Micaela Guerrero,,61.81,058680000007494201,CLI...",SWAP 2022-01-31.csv,058680000007494201,058,2022-01-31,Micaela Guerrero,61.81,058680000007494201,True,True
4,0003c12e-9130-4af9-b4be-dba67bfeab51,Nakama Sushi,nakama.sushi.pfp@gmail.com,XQ6WWFZNM,2022-01-31 00:00:00,182.07,PENDING,"BBVA Bancomer, S.A.",2022-01-31 09:11:47,Chtistian David Guzman Renteria,...,"Chtistian David Guzman Renteria,,182.07,012180...",SWAP 2022-01-31.csv,012180015984386028,012,2022-01-31,Chtistian David Guzman Renteria,182.07,012180015984386028,True,True

In [16]:
valid_3.shape

(58031, 22)

In [17]:
check_validation = valid_3[(valid_3['clabe_validation'] == False) | (valid_3['amount_validation'] == False)]
check_validation.head()

Empty DataFrame
Columns: [merchant_id, merchant_name, user_email, report_id, report_date_local, amount, status, bank_name, payment_date_local, bank_account_owner_name, bank_account_number, batch_created_date, swap, file_name, CLABE, BIN, date_disbursement, Nombre_download, amount_download, CLABE_download, clabe_validation, amount_validation]
Index: []

[0 rows x 22 columns]

In [18]:
check_validation.shape

(0, 22)

In [19]:
check_validation_2 = check_validation[['CLABE','CLABE_download','amount','amount_download','clabe_validation'
                                      ,'amount_validation']]
check_validation_2

Empty DataFrame
Columns: [CLABE, CLABE_download, amount, amount_download, clabe_validation, amount_validation]
Index: []

# EXCEL

In [20]:
writer = pd.ExcelWriter(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2022\01. JANUARY\VALIDATION\VALIDATION 2022-01-31.xlsx', engine='xlsxwriter', options={'encoding':'UTF-8'})
query.to_excel(writer, sheet_name='DATA QUERY',index=False)
valid_montos_final.to_excel(writer, sheet_name='MONTOS',index=False)
valid_1.to_excel(writer, sheet_name='DIFF MONTOS',index=False)
valid_3.to_excel(writer, sheet_name='CHECK CLABES AND MONTOS',index=False)
check_validation.to_excel(writer, sheet_name='DIFF CLABES AND MONTOS',index=False)
writer.save()
writer.close()

In [21]:
valid_1.to_csv(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2022\01. JANUARY\MONTOS EMAIL\DIFF MONTOS 2022-01-31.csv',index=False)

In [22]:
valid_2.to_csv(r'G:\My Drive\Settlement\5.-HISTORICO FILES PAGOS\2022\01. JANUARY\VALIDATION\total_disbursement 2022-01-31.csv',index=False)